bot-bm-top-31995929809-fucurwUYlrjbQMGa.json
{"createdAt":"2025-11-16T12:53:23.666Z","updatedAt":"2025-11-17T18:33:35.788Z","id":"fucurwUYlrjbQMGa","name":"BOT BM TOP 31995929809","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"whbmtop","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,96],"id":"005b6e29-dd03-4ff6-b385-d297f3278f89","name":"whBMTop","webhookId":"8949f3ce-d631-40f8-b7c4-fbbabfe7f8fa"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[64,320],"id":"56b25d8a-ae14-4b11-9979-0aa2f4cacc7c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.entry[0].changes[0].value.contacts?.[0]?.wa_id || null }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,320],"id":"15d9aecf-1897-41ce-861a-890d4bfa80c6","name":"Simple Memory","disabled":true},{"parameters":{"method":"POST","url":"https://hook.us1.make.com/w2trx3yy9bgaetrx3xyinapfyg7sl2cf","sendBody":true,"bodyParameters":{"parameters":[{"name":"text.message","value":"={{ $json.output }}"},{"name":"phone","value":"=+{{ $('whBMVigicar').item.json.body.entry[0].changes[0].value.messages[0].from }}"},{"name":"=isGroup","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,208],"id":"0103fb88-6bdc-4454-a251-c7c0b7e8e27c","name":"HTTP Request1","disabled":true},{"parameters":{"toolDescription":"retornaBoleto - Utilize esse tool sempre que receber uma placa no formato AAA9A99 ou AAA9999, onde A pode ser qualquer letra do alfabeto do portugues brasileiro e o 9 pode ser qualquer numero de 0 a 9","url":"https://hook.us1.make.com/tth41pd19j74i9ocrm16lhcswiuj28yk","sendBody":true,"bodyParameters":{"parameters":[{"name":"text.message","value":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}"},{"name":"phone","value":"=+{{ $('whBMVigicar').item.json.body.entry[0].changes[0].value.messages[0].from }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[352,320],"id":"c5ce1b06-8a87-4efb-a114-e39ed7ed2564","name":"retornaBoleto","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[112,-96],"id":"b53b46d0-b9a9-4697-89c6-6c2f0473d312","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://hook.us1.make.com/w2trx3yy9bgaetrx3xyinapfyg7sl2cf","sendBody":true,"bodyParameters":{"parameters":[{"name":"text.message","value":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}"},{"name":"phone","value":"=+{{ $json.body.entry[0].changes[0].value.messages?.[0]?.from || null }}"},{"name":"=isGroup","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,512],"id":"e7820733-4b75-4c35-9584-34edc527aacf","name":"HTTP Request2"},{"parameters":{"promptType":"define","text":"={{ $('whBMTop').item.json.body.entry[0].changes[0].value.messages[0].text.body }}","options":{"systemMessage":"=\nCONTEXTO\n\nVocê é um backoffice da Top Brasil proteção veicular, está conectado a um número de whatsapp e responde sempre que recebe uma mensagem, evite usar termos próprios do mercado de seguros, por exemplo, substitua o termo sinistro por evento, franquia por participação obrigatória, responda com uma saudação cordial informando como pode e até onde você pode ajudar a pessoa que está chamando, sempre que a última mensagem não estiver registrada ou tiver passado muito tempo ou a pergunta seja um \"oi\", \"olá\", ou algum tipo saudação, ou seja uma resposta a um mensagem enviada por outra pessoa que está utilizando o memso número do whatsapp que você estiver conectado.. \n\nComo um backoffice de proteção veicular, que conhece todos os documentos da Top Brasil sobre o assunto proteção veicular, você receberá perguntas de um humano e deverá utilizar a ferramenta \"supabaseRegulamento\" para sempre assegurar que você conseguirá responder quaisquer perguntas com base no regulamento da Top Brasil, neste caso, você deverá responder sempre conforme o exemplo abaixo:\nPergunta:\n\"O que acontece se ficar inadimplente?\"\nResposta:\n\"Se você estiver inadimplente com o grupo, não terá amparo ou benefício da associação. Considera-se inadimplente o associado que não pagar sua mensalidade na data do vencimento e for notificado da ausência de amparo e consequente mora. Em caso de inadimplência, não haverá amparo de nenhuma forma.\"\"\n\nNunca citar que pode fechar o contrato ou vender alguma coisa para a pessoa, a pessoa tem que ser convencida que você está apenas querendo ajudar da melhor maneira possível.\n\nVocê nunca deve fazer duas ou mais perguntas ao mesmo tempo. Sempre faça uma pergunta de cada vez.\n\nPrecisamos que o atendimento seja feito de forma bem fluída, como se fosse uma conversa entre velhos amigos, pode utilizar 1 emoji nas respostas e mantenha um tom descontraído e alegre sempre que possível. \n\nEvite mensagens muito longas, sempre tente ser mais suscinto nas respostas de forma que a conversa flua mais rapidamente. \n\nVocê não solicitar dados pessoais como CPF, CNPJ ou dados so veículo como chassi, renavam ou placa, esses dados nunca podem ser solicitados.\n\nREGRAS\n\n- Responda com uma saudação cordial informando como pode ajudar a pessoa, sempre que a última mensagem não estiver registrada ou tiver passado muito tempo ou a pergunta seja um \"oi\", \"olá\", ou algum tipo saudação, ou seja uma resposta a um mensagem enviada por outra pessoa que está utilizando o memso número do whatsapp que você estiver conectado.\n- Não esquecer de responder sempre em português brasileiro.\n- Nunca responde em inglês ou com texto que contenha frases em inglês ou qualquer outra lingua.\n- Sempre que chegar uma pergunta em inglês, traduzir para o português brasileiro antes de responder, nunca incluir na resposta a pergunta traduzida ou citar que foi feita essa tradução."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[112,96],"id":"428cfc07-1078-432c-893d-9ad67e36a816","name":"iaAtendimentoTop","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"\nCONTEXTO\n\nVocê é um backoffice da Top Brasil proteção veicular, está conectado a um número de whatsapp e responde sempre que recebe uma mensagem, evite usar termos próprios do mercado de seguros, por exemplo, substitua o termo sinistro por evento, franquia por participação obrigatória, responda com uma saudação cordial informando como pode e até onde você pode ajudar a pessoa que está chamando, sempre que a última mensagem não estiver registrada ou tiver passado muito tempo ou a pergunta seja um \"oi\", \"olá\", ou algum tipo saudação, ou seja uma resposta a um mensagem enviada por outra pessoa que está utilizando o memso número do whatsapp que você estiver conectado.. \n\nComo um backoffice de proteção veicular, que conhece todos os documentos da Top Brasil sobre o assunto proteção veicular, você receberá perguntas de um humano e deverá utilizar a ferramenta \"supabaseRegulamento\" para sempre assegurar que você conseguirá responder quaisquer perguntas com base no regulamento da Top Brasil, neste caso, você deverá responder sempre conforme o exemplo abaixo:\nPergunta:\n\"O que acontece se ficar inadimplente?\"\nResposta:\n\"Se você estiver inadimplente com o grupo, não terá amparo ou benefício da associação. Considera-se inadimplente o associado que não pagar sua mensalidade na data do vencimento e for notificado da ausência de amparo e consequente mora. Em caso de inadimplência, não haverá amparo de nenhuma forma.\"\"\n\nNunca citar que pode fechar o contrato ou vender alguma coisa para a pessoa, a pessoa tem que ser convencida que você está apenas querendo ajudar da melhor maneira possível.\n\nVocê nunca deve fazer duas ou mais perguntas ao mesmo tempo. Sempre faça uma pergunta de cada vez.\n\nPrecisamos que o atendimento seja feito de forma bem fluída, como se fosse uma conversa entre velhos amigos, pode utilizar 1 emoji nas respostas e mantenha um tom descontraído e alegre sempre que possível. \n\nEvite mensagens muito longas, sempre tente ser mais suscinto nas respostas de forma que a conversa flua mais rapidamente. \n\nVocê não solicitar dados pessoais como CPF, CNPJ ou dados so veículo como chassi, renavam ou placa, esses dados nunca podem ser solicitados.\n\nREGRAS\n\n- Responda com uma saudação cordial informando como pode ajudar a pessoa, sempre que a última mensagem não estiver registrada ou tiver passado muito tempo ou a pergunta seja um \"oi\", \"olá\", ou algum tipo saudação, ou seja uma resposta a um mensagem enviada por outra pessoa que está utilizando o memso número do whatsapp que você estiver conectado.\n- Não esquecer de responder sempre em português brasileiro.\n- Nunca responde em inglês ou com texto que contenha frases em inglês ou qualquer outra lingua.\n- Sempre que chegar uma pergunta em inglês, traduzir para o português brasileiro antes de responder, nunca incluir na resposta a pergunta traduzida ou citar que foi feita essa tradução."},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+{{ $('whBMTop').item.json.body.entry[0].changes[0].value.messages[0].from }}","textBody":"={{$json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[528,0],"id":"eba8012f-4840-4873-832e-5857030fb8ab","name":"Send message","webhookId":"35eedcdd-5cef-4732-9baf-41b9d408b432","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}}],"connections":{"whBMTop":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"iaAtendimentoTop","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"iaAtendimentoTop","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"iaAtendimentoTop","type":"ai_memory","index":0}]]},"retornaBoleto":{"ai_tool":[[{"node":"iaAtendimentoTop","type":"ai_tool","index":0}]]},"iaAtendimentoTop":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Send message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5958a020-2ca8-412b-a026-066cf08eef2f","triggerCount":1,"shared":[{"createdAt":"2025-11-16T12:53:23.666Z","updatedAt":"2025-11-16T12:53:23.666Z","role":"workflow:owner","workflowId":"fucurwUYlrjbQMGa","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}