google-business-PWD3VB0EkgtqGpUq.json
{"createdAt":"2025-10-30T18:34:35.912Z","updatedAt":"2025-10-30T18:43:46.417Z","id":"PWD3VB0EkgtqGpUq","name":"GOOGLE BUSINESS","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"account":{"__rl":true,"value":"accounts/117312520731390357611","mode":"list","cachedResultName":"Titoneli Gustavo"},"location":{"__rl":true,"value":"locations/5552281342095958040","mode":"list","cachedResultName":"locations/5552281342095958040"}},"id":"bfad3de2-aca1-4691-841f-488fe9a57c09","name":"Monitor Google Reviews","type":"n8n-nodes-base.googleBusinessProfileTrigger","position":[976,912],"typeVersion":1,"credentials":{"googleBusinessProfileOAuth2Api":{"id":"ILCyQ8nbxIfIpPUs","name":"GMB_MAKE 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"}}},{"parameters":{"assignments":{"assignments":[{"id":"8a9b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d","name":"businessName","type":"string","value":"Your Business Name"},{"id":"9b0c8d7e-6f5a-4b3c-2d1e-0f9a8b7c6d5e","name":"responseTone","type":"string","value":"professional and friendly"},{"id":"2e3f1a0b-9c8d-7e6f-5a4b-3c2d1e0f9a8b","name":"slackWebhookUrl","type":"string","value":"={{ $env.SLACK_WEBHOOK_URL }}"},{"id":"3f4a2b1c-0d9e-8f7a-6b5c-4d3e2f1a0b9c","name":"notificationEmail","type":"string","value":"={{ $env.NOTIFICATION_EMAIL }}"}]},"options":{}},"id":"7a35316d-b32c-4601-991b-55ef94451883","name":"Business Configuration","type":"n8n-nodes-base.set","position":[1200,656],"typeVersion":3.4,"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d","name":"source","type":"string","value":"Google Business Profile"},{"id":"b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e","name":"rating","type":"string","value":"={{ $('Monitor Google Reviews').item.json.starRating }}"},{"id":"c3d4e5f6-a7b8-9c0d-1e2f3a4b5c6d7e8f","name":"reviewText","type":"string","value":"={{ $('Monitor Google Reviews').item.json.comment }}"},{"id":"d4e5f6a7-b8c9-0d1e-2f3a4b5c6d7e8f9a","name":"reviewerName","type":"string","value":"={{ $('Monitor Google Reviews').item.json.reviewer.displayName }}"},{"id":"e5f6a7b8-c9d0-1e2f-3a4b5c6d7e8f9a0b","name":"reviewDate","type":"string","value":"={{ $('Monitor Google Reviews').item.json.createTime }}"},{"id":"f6a7b8c9-d0e1-2f3a-4b5c6d7e8f9a0b1c","name":"reviewId","type":"string","value":"={{ $('Monitor Google Reviews').item.json.reviewId }}"}]},"options":{}},"id":"1522ed76-eda8-4ea2-a889-54c3fe3cf8e0","name":"Format Google Reviews","type":"n8n-nodes-base.set","position":[1424,912],"typeVersion":3.4,"continueOnFail":true},{"parameters":{"instructions":"Analyze the review and generate a professional response. The review is:\n\nSource: {{ $json.source }}\nRating: {{ $json.rating }}/5\nReviewer: {{ $json.reviewerName }}\nReview: {{ $json.reviewText }}\n\nGenerate a response that is {{ $('Business Configuration').item.json.responseTone }}. If the rating is 3 or below, acknowledge their concerns and offer to make things right. If 4-5 stars, thank them warmly. Keep responses under 150 words."},"id":"7d3e47c7-bd46-472b-b616-09b05b5c8c6c","name":"Generate AI Response","type":"n8n-nodes-base.aiTransform","position":[1648,912],"typeVersion":1,"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a9b0c1d2-e3f4-5a6b-7c8d-9e0f1a2b3c4d","operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.rating }}","rightValue":3}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"1f5d176c-0fed-4690-8df2-ab217b4accd5","name":"Negative Review?","type":"n8n-nodes-base.if","position":[1872,912],"typeVersion":2.2},{"parameters":{"method":"POST","url":"={{ $('Business Configuration').item.json.slackWebhookUrl }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"🚨 *Urgent: Negative Review Alert* 🚨\n\n*Source:* {{ $json.source }}\n*Rating:* {{ $json.rating }}/5 ⭐\n*Reviewer:* {{ $json.reviewerName }}\n*Review:* {{ $json.reviewText }}\n\n*Suggested Response:*\n{{ $json.output }}"}]},"options":{}},"id":"88e13071-e269-4028-bec5-1ca479e2e76b","name":"Alert Team - Negative","type":"n8n-nodes-base.httpRequest","position":[2096,816],"typeVersion":4.2,"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $('Business Configuration').item.json.slackWebhookUrl }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"✨ *New Positive Review* ✨\n\n*Source:* {{ $json.source }}\n*Rating:* {{ $json.rating }}/5 ⭐\n*Reviewer:* {{ $json.reviewerName }}\n*Review:* {{ $json.reviewText }}\n\n*Suggested Response:*\n{{ $json.output }}"}]},"options":{}},"id":"ba523e1d-a9d6-482a-880f-65d8eb6514c2","name":"Notify Team - Positive","type":"n8n-nodes-base.httpRequest","position":[2096,1008],"typeVersion":4.2,"continueOnFail":true},{"parameters":{"content":"## Update these values in the Business Configuration node:\n\n- **businessName**: Your business name for personalized responses\n- **responseTone**: Customize AI response style (e.g., \"professional and friendly\", \"casual and warm\")\n- **slackWebhookUrl**: Your Slack webhook for notifications\n- **notificationEmail**: Email for urgent alerts\n\nAll sensitive data uses environment variables for security.","height":432,"width":432,"color":4},"id":"cb74c403-ffdb-4ff8-8d45-3afcfa38e70a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1040,368],"typeVersion":1},{"parameters":{"content":"### 📊 Google Sheets Configuration\n\n**Required Sheet Name:** \"Reviews\"\n\n**Required Headers (Row 1):**\n- **Date** - Timestamp of review processing\n- **Source** - Always \"Google Business Profile\"  \n- **Rating** - Star rating (1-5)\n- **Reviewer** - Customer display name\n- **Review** - Full review text\n- **AI Response** - Generated response suggestion\n- **Review ID** - Unique Google review identifier\n\n**🔗 Service Account Permissions:**\n\nGrant \"Editor\" access to your Google Sheets service account","height":528,"width":464,"color":6},"id":"4a19971e-72ee-4e95-90de-457f12b3eb95","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2256,560],"typeVersion":1},{"parameters":{"content":"**🛠️ Google Business Review Monitor Setup Guide**\n\nThis workflow automatically monitors your Google Business Profile for new reviews and generates AI-powered response suggestions.\n\n✅ **Step 1: Connect Google Business Profile API**\n- Create Google Cloud project and enable Business Profile API\n- Set up service account credentials  \n- Note your Business Account ID and Location ID\n- Set environment variables: GOOGLE_BUSINESS_ACCOUNT_ID, GOOGLE_BUSINESS_LOCATION_ID\n\n✅ **Step 2: Setup Google Sheets Integration**\n- Create Google Sheet with \"Reviews\" sheet\n- Add headers: Date, Source, Rating, Reviewer, Review, AI Response, Review ID\n- Set environment variable: GOOGLE_SHEET_ID\n- Ensure service account has edit access to the sheet\n\n✅ **Step 3: Configure Slack Notifications**\n- Create Slack webhook in your workspace\n- Set environment variable: SLACK_WEBHOOK_URL  \n- Configure notification email: NOTIFICATION_EMAIL\n\n✅ **Step 4: Customize Business Settings**\n- Update Business Configuration node with your business name\n- Adjust response tone (professional, friendly, casual, etc.)\n- Test the AI response generation with sample review data\n\n**🧪Final Step: Test with Sample Data**\nTrigger manually to verify all integrations work properly","height":736,"width":448},"id":"650e2141-568a-46ba-9653-cce123d8eac5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1}],"connections":{"Negative Review?":{"main":[[{"node":"Alert Team - Negative","type":"main","index":0}],[{"node":"Notify Team - Positive","type":"main","index":0}]]},"Generate AI Response":{"main":[[{"node":"Negative Review?","type":"main","index":0}]]},"Alert Team - Negative":{"main":[[]]},"Format Google Reviews":{"main":[[{"node":"Generate AI Response","type":"main","index":0}]]},"Business Configuration":{"main":[[{"node":"Format Google Reviews","type":"main","index":0}]]},"Monitor Google Reviews":{"main":[[{"node":"Business Configuration","type":"main","index":0}]]},"Notify Team - Positive":{"main":[[]]}},"settings":{},"staticData":null,"meta":{"templateId":"6590","templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ae4ab75-d7a2-4568-9a53-37927909379e","triggerCount":0,"shared":[{"createdAt":"2025-10-30T18:34:35.912Z","updatedAt":"2025-10-30T18:34:35.912Z","role":"workflow:owner","workflowId":"PWD3VB0EkgtqGpUq","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}