lead-qualification-workflow-v2-5Pl9VVfRmMNcsgh5.json
{"createdAt":"2026-02-05T21:32:18.709Z","updatedAt":"2026-02-05T21:32:58.023Z","id":"5Pl9VVfRmMNcsgh5","name":"Lead Qualification Workflow v2","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-qualification","responseMode":"lastNode"},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"webhook-node"},{"parameters":{"jsCode":"const webhookData = $input.first().json.body;\n\n// Validação\nif (!webhookData.name || !webhookData.email) {\n  return [{\n    json: {\n      error: true,\n      message: \"Missing required fields: name or email\"\n    }\n  }];\n}\n\n// Normalização e preparação\nreturn [{\n  json: {\n    name: webhookData.name.trim(),\n    email: webhookData.email.toLowerCase().trim(),\n    company: webhookData.company || \"N/A\",\n    phone: webhookData.phone || \"N/A\",\n    budget: webhookData.budget || \"Not specified\",\n    timeline: webhookData.timeline || \"Not specified\",\n    message: webhookData.message || \"\",\n    receivedAt: new Date().toISOString()\n  }\n}];"},"name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"id":"validate-node"},{"parameters":{"model":"gpt-4","messages":{"values":[{"role":"system","content":"Você é um especialista em qualificação de leads B2B."},{"role":"user","content":"Analise o lead abaixo e forneça:\n\n1. Score de qualificação (0-100)\n2. Classificação (QUENTE/MORNO/FRIO)\n3. Justificativa breve (2-3 linhas)\n\nCritérios:\n- QUENTE (80-100): Budget alto, timeline curto, empresa conhecida, mensagem detalhada\n- MORNO (50-79): Budget médio, timeline razoável, algum detalhe\n- FRIO (0-49): Sem budget, sem timeline, mensagem genérica\n\nLead:\nNome: {{$json.name}}\nEmpresa: {{$json.company}}\nEmail: {{$json.email}}\nTelefone: {{$json.phone}}\nBudget: {{$json.budget}}\nTimeline: {{$json.timeline}}\nMensagem: {{$json.message}}\n\nResponda APENAS em formato JSON:\n{\n  \"score\": <número 0-100>,\n  \"classification\": \"<QUENTE|MORNO|FRIO>\",\n  \"reasoning\": \"<justificativa>\"\n}"}]}},"name":"AI Lead Scoring","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[650,300],"id":"ai-node","credentials":{"openAiApi":{"id":"YOUR_OPENAI_CREDENTIAL_ID","name":"OpenAI account"}}},{"parameters":{"jsCode":"const leadData = $node[\"Validate Input\"].json;\nconst aiResponse = $input.first().json.message.content;\n\n// Parse AI response\nlet aiResult;\ntry {\n  aiResult = typeof aiResponse === 'string' \n    ? JSON.parse(aiResponse) \n    : aiResponse;\n} catch (error) {\n  aiResult = {\n    score: 50,\n    classification: \"MORNO\",\n    reasoning: \"Erro ao processar resposta da IA\"\n  };\n}\n\n// Combinar dados\nreturn [{\n  json: {\n    ...leadData,\n    score: aiResult.score,\n    classification: aiResult.classification,\n    reasoning: aiResult.reasoning,\n    scoredAt: new Date().toISOString()\n  }\n}];"},"name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300],"id":"parse-node"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.classification}}","rightValue":"QUENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.classification}}","rightValue":"MORNO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.classification}}","rightValue":"FRIO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]}},"name":"Classification Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1050,300],"id":"switch-node"},{"parameters":{"channel":"vendas-urgente","text":"🔥 *LEAD QUENTE* - Ação Imediata!\n\n*Nome:* {{$json.name}}\n*Empresa:* {{$json.company}}\n*Email:* {{$json.email}}\n*Telefone:* {{$json.phone}}\n*Score:* {{$json.score}}/100\n\n*Budget:* {{$json.budget}}\n*Timeline:* {{$json.timeline}}\n\n*Análise IA:* {{$json.reasoning}}\n\n⚡ *Prioridade ALTA* - Entre em contato nas próximas 2 horas!"},"name":"Slack Hot","type":"n8n-nodes-base.slack","typeVersion":1,"position":[1250,150],"id":"slack-hot","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}},{"parameters":{"channel":"vendas","text":"🌡️ *Lead Morno* - Acompanhamento Necessário\n\n*Nome:* {{$json.name}}\n*Empresa:* {{$json.company}}\n*Email:* {{$json.email}}\n*Score:* {{$json.score}}/100\n\n*Análise:* {{$json.reasoning}}\n\n📋 Adicionar ao pipeline de nutrição"},"name":"Slack Warm","type":"n8n-nodes-base.slack","typeVersion":1,"position":[1250,300],"id":"slack-warm","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}},{"parameters":{"channel":"leads-baixa-prioridade","text":"❄️ Lead Frio - Baixa Prioridade\n\n*Nome:* {{$json.name}}\n*Email:* {{$json.email}}\n*Score:* {{$json.score}}/100\n\nAdicionar à lista de email marketing"},"name":"Slack Cold","type":"n8n-nodes-base.slack","typeVersion":1,"position":[1250,450],"id":"slack-cold","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1450,300],"id":"merge-node"},{"parameters":{"operation":"append","sheetId":"YOUR_GOOGLE_SHEET_ID","range":"Leads!A:K"},"name":"Save to Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1650,300],"id":"sheets-node","credentials":{"googleSheetsOAuth2Api":{"id":"YOUR_SHEETS_CREDENTIAL_ID","name":"Google Sheets account"}}},{"parameters":{},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1850,300],"id":"response-node"},{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[250,600],"id":"error-trigger"},{"parameters":{"channel":"errors","text":"⚠️ *Erro no Workflow de Qualificação de Leads*\n\n*Node:* {{$json.node.name}}\n*Erro:* {{$json.error.message}}\n*Timestamp:* {{$json.execution.startedAt}}\n\nVerificar logs imediatamente!"},"name":"Slack Error","type":"n8n-nodes-base.slack","typeVersion":1,"position":[450,600],"id":"slack-error","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"AI Lead Scoring","type":"main","index":0}]]},"AI Lead Scoring":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Classification Switch","type":"main","index":0}]]},"Classification Switch":{"main":[[{"node":"Slack Hot","type":"main","index":0}],[{"node":"Slack Warm","type":"main","index":0}],[{"node":"Slack Cold","type":"main","index":0}]]},"Slack Hot":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Slack Warm":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Slack Cold":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Save to Sheets","type":"main","index":0}]]},"Save to Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Slack Error","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"e8302f72-d313-461d-a871-1b29b86bbd6e","triggerCount":0,"shared":[{"createdAt":"2026-02-05T21:32:18.709Z","updatedAt":"2026-02-05T21:32:18.709Z","role":"workflow:owner","workflowId":"5Pl9VVfRmMNcsgh5","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}