lead-qualification-workflow-(v1.112)-ommmNOLEtviTDE0R.json
{"createdAt":"2026-02-05T21:41:46.408Z","updatedAt":"2026-02-05T21:41:46.408Z","id":"ommmNOLEtviTDE0R","name":"Lead Qualification Workflow (v1.112)","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-qualification","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"f86978ee-a97d-45be-b539-df4e468616f2"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const webhookData = $input.first().json.body;\n\n// Validação\nif (!webhookData.name || !webhookData.email) {\n  return [{\n    json: {\n      error: true,\n      message: \"Missing required fields: name or email\"\n    }\n  }];\n}\n\n// Normalização e preparação\nreturn [{\n  json: {\n    name: webhookData.name.trim(),\n    email: webhookData.email.toLowerCase().trim(),\n    company: webhookData.company || \"N/A\",\n    phone: webhookData.phone || \"N/A\",\n    budget: webhookData.budget || \"Not specified\",\n    timeline: webhookData.timeline || \"Not specified\",\n    message: webhookData.message || \"\",\n    receivedAt: new Date().toISOString()\n  }\n}];"},"name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":1,"position":[450,300],"id":"309ce225-3039-4508-9871-e676810ba586"},{"parameters":{"resource":"chat","operation":"chat","model":"gpt-4","messages":{"values":[{"role":"system","content":"Você é um especialista em qualificação de leads B2B."},{"role":"user","content":"Analise o lead abaixo e forneça:\n\n1. Score de qualificação (0-100)\n2. Classificação (QUENTE/MORNO/FRIO)\n3. Justificativa breve (2-3 linhas)\n\nCritérios:\n- QUENTE (80-100): Budget alto, timeline curto, empresa conhecida, mensagem detalhada\n- MORNO (50-79): Budget médio, timeline razoável, algum detalhe\n- FRIO (0-49): Sem budget, sem timeline, mensagem genérica\n\nLead:\nNome: {{$json.name}}\nEmpresa: {{$json.company}}\nEmail: {{$json.email}}\nTelefone: {{$json.phone}}\nBudget: {{$json.budget}}\nTimeline: {{$json.timeline}}\nMensagem: {{$json.message}}\n\nResponda APENAS em formato JSON:\n{\n  \"score\": <número 0-100>,\n  \"classification\": \"<QUENTE|MORNO|FRIO>\",\n  \"reasoning\": \"<justificativa>\"\n}"}]}},"name":"AI Lead Scoring","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[650,300],"id":"d389fd44-6950-4718-ad98-4ba53684fc11","credentials":{"openAiApi":{"id":"YOUR_OPENAI_CREDENTIAL_ID","name":"OpenAI account"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const leadData = $node[\"Validate Input\"].json;\nconst aiResponse = $input.first().json.message.content;\n\n// Parse AI response\nlet aiResult;\ntry {\n  aiResult = typeof aiResponse === 'string' \n    ? JSON.parse(aiResponse) \n    : aiResponse;\n} catch (error) {\n  aiResult = {\n    score: 50,\n    classification: \"MORNO\",\n    reasoning: \"Erro ao processar resposta da IA\"\n  };\n}\n\n// Combinar dados\nreturn [{\n  json: {\n    ...leadData,\n    score: aiResult.score,\n    classification: aiResult.classification,\n    reasoning: aiResult.reasoning,\n    scoredAt: new Date().toISOString()\n  }\n}];"},"name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":1,"position":[850,300],"id":"34f7cd68-6016-42de-864c-8b8e213896e6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.classification}}","rightValue":"QUENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.classification}}","rightValue":"MORNO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.classification}}","rightValue":"FRIO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]}},"name":"Classification Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1050,300],"id":"0903046d-cfc4-409f-97ff-f4fdab4ecd8e"},{"parameters":{"channel":"vendas-urgente","text":"🔥 *LEAD QUENTE* - Ação Imediata!\n\n*Nome:* {{$json.name}}\n*Empresa:* {{$json.company}}\n*Email:* {{$json.email}}\n*Telefone:* {{$json.phone}}\n*Score:* {{$json.score}}/100\n\n*Budget:* {{$json.budget}}\n*Timeline:* {{$json.timeline}}\n\n*Análise IA:* {{$json.reasoning}}\n\n⚡ *Prioridade ALTA* - Entre em contato nas próximas 2 horas!"},"name":"Slack Hot","type":"n8n-nodes-base.slack","typeVersion":1,"position":[1250,150],"id":"c1d2270b-4b28-470b-b8b9-47f08cf2f8ee","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}},{"parameters":{"channel":"vendas","text":"🌡️ *Lead Morno* - Acompanhamento Necessário\n\n*Nome:* {{$json.name}}\n*Empresa:* {{$json.company}}\n*Email:* {{$json.email}}\n*Score:* {{$json.score}}/100\n\n*Análise:* {{$json.reasoning}}\n\n📋 Adicionar ao pipeline de nutrição"},"name":"Slack Warm","type":"n8n-nodes-base.slack","typeVersion":1,"position":[1250,300],"id":"a3381248-91af-401d-8ad1-9739ab701df3","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}},{"parameters":{"channel":"leads-baixa-prioridade","text":"❄️ Lead Frio - Baixa Prioridade\n\n*Nome:* {{$json.name}}\n*Email:* {{$json.email}}\n*Score:* {{$json.score}}/100\n\nAdicionar à lista de email marketing"},"name":"Slack Cold","type":"n8n-nodes-base.slack","typeVersion":1,"position":[1250,450],"id":"db584625-6eb1-4bab-a8c3-a22430cffa03","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}},{"parameters":{"mode":"append"},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":1,"position":[1450,300],"id":"49175217-debf-4272-a585-189e761ae46b"},{"parameters":{"resource":"sheet","operation":"append","sheetId":"YOUR_GOOGLE_SHEET_ID","range":"Leads!A:K","options":{}},"name":"Save to Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[1650,300],"id":"3e9b7482-07bc-4cf0-a5bf-8cd2bf5b233e","credentials":{"googleSheetsOAuth2Api":{"id":"YOUR_SHEETS_CREDENTIAL_ID","name":"Google Sheets account"}}},{"parameters":{},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1850,300],"id":"3f0e9d93-fea1-4f49-855f-9b4e9b09c754"},{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[250,600],"id":"95e3c260-ddb3-4fed-bc47-9e3f05d2ff2d"},{"parameters":{"channel":"errors","text":"⚠️ *Erro no Workflow de Qualificação de Leads*\n\n*Node:* {{$json.node.name}}\n*Erro:* {{$json.error.message}}\n*Timestamp:* {{$json.execution.startedAt}}\n\nVerificar logs imediatamente!"},"name":"Slack Error","type":"n8n-nodes-base.slack","typeVersion":1,"position":[450,600],"id":"a8ff3746-683f-4b76-88f1-134519eaaf4e","credentials":{"slackApi":{"id":"YOUR_SLACK_CREDENTIAL_ID","name":"Slack account"}}}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"AI Lead Scoring","type":"main","index":0}]]},"AI Lead Scoring":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Classification Switch","type":"main","index":0}]]},"Classification Switch":{"main":[[{"node":"Slack Hot","type":"main","index":0}],[{"node":"Slack Warm","type":"main","index":0}],[{"node":"Slack Cold","type":"main","index":0}]]},"Slack Hot":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Slack Warm":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Slack Cold":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Save to Sheets","type":"main","index":0}]]},"Save to Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Slack Error","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"5cc6b160-388b-41de-81cd-994d0278c42c","triggerCount":0,"shared":[{"createdAt":"2026-02-05T21:41:46.408Z","updatedAt":"2026-02-05T21:41:46.408Z","role":"workflow:owner","workflowId":"ommmNOLEtviTDE0R","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}