my-workflow-4-5ZKpGqchqYTmw8R5.json
{"createdAt":"2025-07-19T21:39:09.236Z","updatedAt":"2025-07-19T21:39:24.035Z","id":"5ZKpGqchqYTmw8R5","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-288,-496],"id":"8f238bb0-194e-49ae-bdb0-241278d6edad","name":"When chat message received","webhookId":"d832bc01-555e-4a24-a8cc-31db8fc1c816"},{"parameters":{"assignments":{"assignments":[{"id":"f4b8c16e-6788-4c17-b643-94a3f0620860","name":"Workflow Link","value":"=https://localhost:5678/workflow/{{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,80],"id":"781eacb4-1825-4ceb-9f45-e88228730584","name":"Workflow Link"},{"parameters":{"promptType":"define","text":"=User request: {{ $('When Executed by Another Workflow').item.json.query }}","options":{"systemMessage":"=# Overview\nYou are an expert AI automation developer specializing in building workflows for n8n. Your job is to translate a human’s natural language request into a fully functional n8n workflow JSON. It should be comprehensive, functional, and importable. It should have 100% valid JSON structure, node types, and connection methods.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nYour output should be a pure JSON object that begins with { and ends with }, ready to be used as the body of a POST request.\n\nThe JSON must:\n- Be syntactically valid and complete\n- Include a `nodes` array with each node containing all required parameters\n- Include a `connections` object that correctly maps outputs to inputs\n- Start with a `trigger` node if one is required for the use case (e.g., Webhook, Schedule, etc.)\n- Contain descriptive names and parameter values relevant to the user request\n- Avoid placeholders unless no reasonable value can be inferred\n- Contain sticky notes that are explaining what's going on within each step and any credentials or connections that still need to be configured. The colors should vary throughout the workflow.\n\nBefore generating the JSON, analyze the request and:\n1. Break it down into logical automation steps\n2. Choose appropriate nodes based on the steps\n3. Properly connect the nodes to reflect execution order\n\nIf the request is ambiguous, make a best guess using standard automation logic.\n\nDo not return explanations, comments, or any output outside of the JSON markdown block.\n\nYou are expected to produce developer-grade output suitable for direct import into n8n.\n\n## API Submission Requirements\nTo automatically create a workflow using the n8n API, your generated JSON must include the following top-level fields in the final object:\n\n- `name` (string): A clear, descriptive workflow name.\n- `nodes` (array): The complete array of node objects used in the workflow.\n- `connections` (object): A valid map of node-to-node connections.\n- `settings` (object): Workflow-level settings (e.g. `saveManualExecutions`, `executionOrder`).\n- `staticData` (null or object): Set to `null` unless specific static data is needed.\n\nExample “settings” object:\n  \"settings\": {\n    \"executionOrder\": \"v1\",\n    \"saveManualExecutions\": true,\n    \"saveDataSuccessExecution\": \"all\",\n    \"saveExecutionProgress\": true,\n    \"saveDataErrorExecution\": \"all\",\n    \"errorWorkflow\": \"\",\n    \"timezone\": \"America/New_York\"\n  }\n\n## n8n Documentation\n\n{{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[256,80],"id":"7c2ea33b-bc0e-4f59-ac40-13a2add1cfe5","name":"n8n Builder"},{"parameters":{"content":"# Agente Constructor\n","height":340,"width":1280,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-48],"id":"a15ad59b-de17-4d4d-8122-1c86586fbb89","name":"Sticky Note"},{"parameters":{"content":"# Agente Desarrollador\n","height":280,"width":660,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-576],"id":"a36e3af7-894a-449b-b72b-6f2269c61591","name":"Sticky Note1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,80],"id":"449ed1c6-b86e-4dda-bdf5-c826c45440c8","name":"When Executed by Another Workflow"},{"parameters":{"description":"Call this tool once you have a finished workflow design to build the workflow.","workflowId":{"__rl":true,"mode":"id","value":"8YAqflz9B7YdPd8h"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,-208],"id":"5537ac17-3acd-4a00-93f0-dd9b0c5bcd95","name":"Developer Tool","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"executeOnce":true},{"parameters":{"content":"## Cerebro\n","height":200,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-272],"id":"b0b86b60-c1bd-426f-94cf-cb84f2b23fbf","name":"Sticky Note2"},{"parameters":{"content":"## Herramienta\n","height":200,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,-272],"id":"2417fe6f-1e47-484f-a136-9f323f28aa80","name":"Sticky Note3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[176,-208],"id":"473012cb-f5f1-48dd-a079-80e0ee24acf5","name":"Simple Memory"},{"parameters":{"options":{"systemMessage":"=# Overview\nYour job is to take the incoming query and pass that to the \"Developer Tool\" tool EXACTLY AS YOU RECEIVED IT. Don't change any of the wording.\n\nOnce you receive a workflow link back from the Developer Tool, present it to the human as a clickable link that says \"View your finished workflow\" \n\nThe link should be clickable and take the user to the workflow.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-16,-544],"id":"a6ef458a-59a6-4581-ac5c-6ae4db17c211","name":"AI Agent"},{"parameters":{"model":"llama3.1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[16,-192],"id":"296b595d-7ff6-4d03-90b6-b7e87c086973","name":"Ollama Chat Model"},{"parameters":{"model":"codellama:13b","options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[304,256],"id":"ddf62da4-e140-4aa5-a950-bb3e7896f38f","name":"Ollama Chat Model1"},{"parameters":{"operation":"create","workflowObject":"={{ $json.output }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[576,80],"id":"d45deb63-7f7a-4a2e-a309-4bc56cef079b","name":"Create a workflow"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[112,64],"id":"498c1b25-206b-4bb5-b145-d2c5c345665b","name":"Extract from File"},{"parameters":{"fileSelector":"C:\\Users\\23239282199\\Downloads\\n8n_documentacion.txt","options":{"fileExtension":"txt","mimeType":"utf","dataPropertyName":"data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-80,64],"id":"df6886de-3632-4d8a-8dca-40158777436d","name":"Read/Write Files from Disk","notesInFlow":true}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"n8n Builder":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Developer Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"n8n Builder","type":"ai_languageModel","index":0}]]},"Create a workflow":{"main":[[{"node":"Workflow Link","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"n8n Builder","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"18e60732-3d70-47dd-9d73-cb06fbd142b1","triggerCount":0,"shared":[{"createdAt":"2025-07-19T21:39:09.236Z","updatedAt":"2025-07-19T21:39:09.236Z","role":"workflow:owner","workflowId":"5ZKpGqchqYTmw8R5","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}