my-workflow-2-9CSrkOgiozloyBsP.json
{"createdAt":"2025-07-12T17:54:47.643Z","updatedAt":"2025-07-12T17:57:58.265Z","id":"9CSrkOgiozloyBsP","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nTest the basic RAG chat with Supabase ","options":{}},"id":"f40507b8-a6e7-4bd5-9de9-269a8c55bab5","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-3600,160],"webhookId":"705cc3e9-1972-47cf-832f-951868b0ec99","typeVersion":1.1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"chunk"}]},"options":{}},"id":"95d3a720-e942-48a4-8ff4-13207e4ad4ff","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[-3120,160],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are an AI assistant. Use the following context to answer the user's question.\n\nContext:\n{{ $json.chunk }}\n\nUser's message:\n{{ $('When chat message received').item.json.chatInput }}\n\nProvide a helpful and detailed answer based *only* on the context. If the answer is not in the context, say \"I don't know based on the provided information.\"\n","batching":{}},"id":"3d30edea-fd9a-4e64-9edb-b98f950d4aa1","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-2800,160],"typeVersion":1.7,"disabled":true},{"parameters":{"model":"qwen/qwen3-8b:free","options":{}},"id":"aec8efa8-9fe0-4b00-b67a-e25b5aa3becd","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[-2800,380],"typeVersion":1,"disabled":true},{"parameters":{"operation":"getAll","tableId":"contatosLead","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3380,160],"id":"84169067-ec44-4231-a99e-a5b999c1bdfb","name":"Get many rows","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}}],"connections":{"When chat message received":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Get many rows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"32d1bbb3-3586-4ec9-918e-67f10bd6b9d1","triggerCount":0,"shared":[{"createdAt":"2025-07-12T17:54:47.643Z","updatedAt":"2025-07-12T17:54:47.643Z","role":"workflow:owner","workflowId":"9CSrkOgiozloyBsP","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}