my-workflow-10-Q0AHrqHcedaXDdym.json
{"createdAt":"2026-01-06T16:41:47.992Z","updatedAt":"2026-01-06T16:41:47.992Z","id":"Q0AHrqHcedaXDdym","name":"My workflow 10","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,304],"id":"01e53d37-9966-4389-9f56-43931800a9cd","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"w4v6KMhSHceEmSSn","mode":"list","cachedResultUrl":"/workflow/w4v6KMhSHceEmSSn","cachedResultName":"WF_ATUALIZA_TOKEN_ATUALIZA_BD"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[672,288],"id":"8a360c5d-0ec8-4c94-806b-8215b5296205","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGAAtualizaBD"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,304],"id":"d57d62e1-a450-416d-a212-0bb17bfd86c3","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"=01/01/2026","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"=31/01/2026","type":"string"},{"id":"490f9986-3862-491f-9976-320cd03a025e","name":"quantidadePagina","value":"=1000","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,304],"id":"683a31ff-0b54-4d9c-8399-d0c583bfc464","name":"dadosDatas","notes":"{{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\n\n{{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\n\n"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_original_inicial\": \"{{$('dadosDatas').item.json.dtVencimentoInicial}}\",\n  \"data_vencimento_original_final\": \"{{$('dadosDatas').item.json.dtVencimentoFinal}}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": {{ $('dadosDatas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"b0bb7310-e8a9-4277-9e4e-59331672c900","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,304],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"continueOnFail":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,304],"id":"ec23b1e9-ff93-44f5-b980-629e7c4ed064","name":"When clicking ‘Execute workflow’"}],"connections":{"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d24f9ffe-d4bd-4001-9541-43f3407b28aa","triggerCount":0,"shared":[{"createdAt":"2026-01-06T16:41:47.992Z","updatedAt":"2026-01-06T16:41:47.992Z","role":"workflow:owner","workflowId":"Q0AHrqHcedaXDdym","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}