my-workflow-7-lRcpuh25Vs0NLwlg.json
{"createdAt":"2025-09-10T18:56:27.220Z","updatedAt":"2025-09-11T14:48:18.213Z","id":"lRcpuh25Vs0NLwlg","name":"My workflow 7","active":false,"isArchived":true,"nodes":[{"parameters":{"values":{"string":[],"number":[{"name":"valor","value":10},{"name":"valor","value":20},{"name":"valor","value":20},{"name":"valor","value":35}]},"options":{}},"id":"653a6bde-544b-4f5e-813f-ac32be5101e2","name":"Set Dados","type":"n8n-nodes-base.set","typeVersion":2,"position":[-496,160]},{"parameters":{"operation":"addIndex"},"id":"e2b06215-fd50-4d54-8cc2-2ebc8a361228","name":"Add Index","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[0,224]},{"parameters":{"values":{"number":[{"name":"index_shifted","value":"={{$json.index + 1}}"}]},"options":{}},"id":"59c5c8e1-2853-491f-8c43-90b0bf251888","name":"Shift Index","type":"n8n-nodes-base.set","typeVersion":2,"position":[0,0]},{"parameters":{"mode":"keepKeyMatches","options":{}},"id":"e6258444-c769-4281-acc9-44fedf22808e","name":"Merge Atual e Anterior","type":"n8n-nodes-base.merge","typeVersion":2,"position":[256,160]},{"parameters":{"values":{"boolean":[{"name":"mudou","value":"={{$json.valor !== $json.valor_1}}"}]},"options":{}},"id":"924b1469-9eb6-40fd-95da-cf3d2f849df7","name":"Comparar Valores","type":"n8n-nodes-base.set","typeVersion":2,"position":[512,160]}],"connections":{"Set Dados":{"main":[[{"node":"Add Index","type":"main","index":0},{"node":"Shift Index","type":"main","index":0}]]},"Shift Index":{"main":[[{"node":"Merge Atual e Anterior","type":"main","index":0}]]},"Merge Atual e Anterior":{"main":[[{"node":"Comparar Valores","type":"main","index":0}]]},"Add Index":{"main":[[{"node":"Merge Atual e Anterior","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a7016d7b-00dc-4833-b1e2-5dfdce8246b2","triggerCount":0,"shared":[{"createdAt":"2025-09-10T18:56:27.220Z","updatedAt":"2025-09-10T18:56:27.220Z","role":"workflow:owner","workflowId":"lRcpuh25Vs0NLwlg","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}