my-workflow-6-NGczEb0rfdmjv0nP.json
{"createdAt":"2025-08-23T20:03:32.681Z","updatedAt":"2025-08-23T20:03:32.681Z","id":"NGczEb0rfdmjv0nP","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"68b26b41-7cb3-412c-8365-05d8c8b5c21e","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,208]},{"parameters":{"assignments":{"assignments":[{"id":"e6d66287-919c-48ac-b875-02cd5db2090f","name":"URLEvolution","value":"","type":"string"},{"id":"325528dd-e9e8-4217-9f37-5aa040777082","name":"InstanciaEvolution","value":"","type":"string"},{"id":"ace97a2b-4e19-493a-b695-0478528dc100","name":"urlTypebot","value":"","type":"string"},{"id":"b1d8dc8b-9c88-4116-b81a-03e772bf1b95","name":"typebot","value":"","type":"string"}]},"options":{}},"id":"fe048e5e-1d25-4123-9fbc-8213b206b796","name":"Definir Variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,32]},{"parameters":{"operation":"select","table":{"__rl":true,"value":"leads","mode":"list","cachedResultName":"leads"},"returnAll":true,"options":{}},"id":"c5957447-5220-494c-8151-33fd6aee77c9","name":"Buscar Leads","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[480,224]},{"parameters":{"options":{}},"id":"f4a53037-b11e-4d1e-b77f-c860dedd9899","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,224]},{"parameters":{"assignments":{"assignments":[{"id":"57b3af3a-c306-4f8c-99bd-49d7ecb7028e","name":"Nome","value":"={{ $json.nome }}","type":"string"},{"id":"6e8ec028-4387-4c98-930d-618cbf74a8d1","name":"Numero","value":"={{ $json.numero }}","type":"string"}]},"options":{}},"id":"e3953e2e-1fd0-40c0-936c-780d83180d28","name":"Variaveis LEAD","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,464]},{"parameters":{"method":"POST","url":"={{ $('Definir Variaveis').item.json.URLEvolution }}/typebot/start/{{ $('Definir Variaveis').item.json.InstanciaEvolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Definir Variaveis').item.json.urlTypebot }}\",\n  \"typebot\": \"{{ $('Definir Variaveis').item.json.typebot }}\",\n  \"remoteJid\": \"{{ $json.Numero }}@s.whatsapp.net\",\n  \"startSession\": false,\n  \"variables\": [\n    {\n      \"name\": \"pushName\",\n      \"value\": \"{{ $json.Nome }}\"\n    }\n  ]\n}","options":{"redirect":{"redirect":{}}}},"id":"991158b1-4dba-47b6-bbf1-ac7f63cb9c31","name":"Iniciar Fluxo - Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,464]},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"94a51b85-8811-4f53-81be-6012e1cf513e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Definir Variaveis","type":"main","index":0}]]},"Definir Variaveis":{"main":[[{"node":"Buscar Leads","type":"main","index":0}]]},"Buscar Leads":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Variaveis LEAD","type":"main","index":0}]]},"Variaveis LEAD":{"main":[[{"node":"Iniciar Fluxo - Typebot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"77d6b69e-fb69-40bc-82bf-0706f6fdb8ee","triggerCount":0,"shared":[{"createdAt":"2025-08-23T20:03:32.681Z","updatedAt":"2025-08-23T20:03:32.681Z","role":"workflow:owner","workflowId":"NGczEb0rfdmjv0nP","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}