rag_upd_documentos_pineconne-AVtsQUpwcibhxDaq.json
{"createdAt":"2025-07-19T13:26:15.318Z","updatedAt":"2025-08-22T18:50:47.185Z","id":"AVtsQUpwcibhxDaq","name":"RAG_UPD_DOCUMENTOS_PINECONNE","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8d946b37-30aa-4fa5-b7c3-c5710f4429a5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[224,-48]},{"parameters":{"options":{}},"id":"2dab2e7d-febc-4ef8-9bcc-2493b178a91c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[848,-48]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1072,176],"id":"0f621967-663f-450a-8fe3-905613bc32ba","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","options":{}},"id":"49d4c2b2-6c11-496a-bfe3-7f69e1cabe88","name":"buscaDados","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1200,176]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"documentostopbrasil","mode":"list","cachedResultName":"documentostopbrasil"},"options":{"pineconeNamespace":"TopBrasil"}},"id":"ba56454e-2ff1-4d69-8655-369d1bee21fd","name":"vetorizadorDocs","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1088,-48],"credentials":{"pineconeApi":{"id":"SYRiL0lsxPGUnf9G","name":"PineconeApi account"}}},{"parameters":{"chunkSize":3000,"chunkOverlap":40,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1296,352],"id":"c3b1b71c-37b4-4e7a-8f47-954cd44387df","name":"separaParagrafros"},{"parameters":{"resource":"fileFolder","filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1HsL-atwUpjslhLpqmdYb95KkNY2QkcNI","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,-48],"id":"0a52e378-05ec-45c6-a020-35c9a482cf8d","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"7oNUZf5u7WNJM2YB","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,-48],"id":"4519ff3d-dedf-4b4a-b3d4-8900e4ab7d11","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"7oNUZf5u7WNJM2YB","name":"Google Drive account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"vetorizadorDocs","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"vetorizadorDocs","type":"ai_embedding","index":0}]]},"buscaDados":{"ai_document":[[{"node":"vetorizadorDocs","type":"ai_document","index":0}]]},"vetorizadorDocs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"separaParagrafros":{"ai_textSplitter":[[{"node":"buscaDados","type":"ai_textSplitter","index":0}]]},"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51e1e296-7a45-405c-91f9-3426f794592e","triggerCount":0,"shared":[{"createdAt":"2025-07-19T13:26:15.318Z","updatedAt":"2025-07-19T13:26:15.318Z","role":"workflow:owner","workflowId":"AVtsQUpwcibhxDaq","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}