rag_metadados-1cjfomnBsoqDJua4.json
{"createdAt":"2025-07-19T14:44:44.470Z","updatedAt":"2025-08-22T18:50:16.679Z","id":"1cjfomnBsoqDJua4","name":"RAG_METADADOS","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Code').item.json.fullText }}","options":{"metadata":{"metadataValues":[{"name":"ruleNumber","value":"={{ $json.ruleNumber }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-112,864],"id":"71a1c8da-ee98-4850-9d84-63b6c07585be","name":"Default Data Loader"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-528,736],"id":"0d98f527-fc8f-492b-9d4a-ac1be684e932","name":"Extract from File"},{"parameters":{"jsCode":"/** 1. Pega o texto completo */\nconst inputText = $input.first().json.text ?? '';\nif (!inputText) {\n\tthrow new Error('json.text está vazio ou não existe');\n}\n\n/** 2. Separa por “Regra N” (look-ahead) */\nconst ruleSections = inputText.split(/(?=§\\s+\\d+)/);\n\n/** 3. Limpa possiveis elementos vazios (antes da primera regra) */\nconst cleaned = ruleSections.filter(sec => sec.trim().startsWith('§'));\n\n/** 4. Cria os ítens de saida */\nconst outputItems = cleaned.map((ruleText, idx) => {\n\n\t// 4-a) Número da regra\n\tconst nMatch = ruleText.match(/§\\s+(\\d+)/);\n\tconst ruleNumber = nMatch ? nMatch[1] : String(idx + 1);\n\n\t// 4-b) Título \n\t//      Ejemplo: \"Regra 3 - Incendio\"\n\tconst tMatch = ruleText.match(/§\\s+\\d+\\s*[-–]\\s*(.+?)(?:\\n|$)/);\n\tconst ruleTitle = tMatch ? tMatch[1].trim() : 'Titulo nao encontrado';\n\n\treturn {\n\t\tjson: {\n\t\t\truleNumber,        // \"3\"\n\t\t\truleTitle,         // \"Incendio\"\n\t\t\tfullText: ruleText.trim(),\n\t\t\toriginalIndex: idx // 0-based\n\t\t},\n\t};\n});\n\n/** 5. Devolver array */\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,736],"id":"d075fe15-190b-434f-ab85-b2ad63c65e80","name":"Code","alwaysOutputData":true},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-256,736],"id":"f24786be-4f38-4046-b7cd-2bde855b3957","name":"Upload to Supabase","credentials":{"supabaseApi":{"id":"neXm4avbX0TSN5Ts","name":"Trsco"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"utilize para buscas no banco de dados","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":20,"useReranker":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-736,256],"id":"5c09c45c-6618-45e0-a58e-b47e92b513ba","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"neXm4avbX0TSN5Ts","name":"Trsco"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[736,400],"id":"bdc9e227-7305-49d7-b427-c2b779aac6df","name":"Reranker Cohere1","credentials":{"cohereApi":{"id":"47wAqQspIdSwb1sb","name":"CohereApi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"consulte caso precise de informações sobre todas as regras do regulmento da top brasil, contem tudo que precisa saber sobre como a top procede em casos de colisão, incendio, roubo, furto, rastreador e prazos de indenização","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":20,"useReranker":true,"options":{"metadata":{"metadataValues":[{"name":"ruleNumber","value":"={{ $('Metadata Agent').item.json.output }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[576,256],"id":"9ba6bab8-a69d-4597-98bd-58e0b07fc385","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"neXm4avbX0TSN5Ts","name":"Trsco"}}},{"parameters":{"content":"# Vectorizar Documentos ¬ Metadata\n(Para este ejemplo)","height":440,"width":1000,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,592],"id":"f347ebe6-ad30-4ff1-bce9-16b7d576e38e","name":"Sticky Note"},{"parameters":{"content":"# Agente RAG\n","height":380,"width":620,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,144],"id":"24a9b218-6059-47f7-8c41-0c35b57067b9","name":"Sticky Note1"},{"parameters":{"content":"## Vector Store Tool & Reranker\n","height":380,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,144],"id":"deecf04c-1bf8-4b1f-b205-6a951ba13c06","name":"Sticky Note2"},{"parameters":{"options":{"systemMessage":"=# Overview\nYour job is to understand the rule number that the human is requesting and output only the number.\n\n## Example\nInput - o que diz o artigo 27?\nOutput - 27"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-272,256],"id":"c28bc1fe-a796-417f-a7e4-1c4e9a27996d","name":"Metadata Agent"},{"parameters":{"options":{"systemMessage":"=# Overview\nVocê é um vendedor de proteção veicular, que conhece todos os documentos da Top Brasil sobre o assunto, você receberá perguntas de um humano e deverá utilizar a ferramenta \"Supabase Vector Store\" para assegurar que você conseguirá responder quaisquer perguntas de forma mais acertiva possível."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1168,256],"id":"f7451651-f63a-4e41-a9e6-d49de7d9133c","name":"RAG Agent"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=# Overview\nVocê é um vendedor de proteção veicular, que conhece todos os documentos da Top Brasil sobre o assunto, você receberá perguntas de um humano e deverá utilizar a ferramenta \"Supabase Vector Store1\" para assegurar que você conseguirá responder quaisquer perguntas de forma mais acertiva possível."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[160,256],"id":"832a03fc-944e-42be-9794-0bccd0ac3998","name":"RAG Agent 2"},{"parameters":{"content":"# Agente RAG\n","height":380,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,144],"id":"101d0e1e-1d91-4f00-84a4-844a30afcf17","name":"Sticky Note3"},{"parameters":{"content":"## Vector Store Tool & Reranker Metadata\n","height":380,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,144],"id":"cb019b3a-9349-4e6e-b9a6-181c1a6820d2","name":"Sticky Note4"},{"parameters":{"content":"# Agente Metadata\n","height":380,"width":420,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,144],"id":"36ebf720-a3c6-4db0-8ec0-30b3e5e61b3a","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,736],"id":"ff525e40-2a66-4eb6-b328-d8192964cbe6","name":"Manual Trigger"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[-576,384],"id":"e78bdc53-4afc-45e1-9d21-970b83614edc","name":"Reranker Cohere","credentials":{"cohereApi":{"id":"47wAqQspIdSwb1sb","name":"CohereApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1376,256],"id":"ce80c7a2-78fa-4b54-aecb-73ed708242ae","name":"When chat message received","webhookId":"a5089ead-f317-426b-a212-d603a3aaeb96"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1136,384],"id":"a2cc1c6f-c7b7-43e7-ae9f-e75105b4fa60","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-720,384],"id":"ce13096c-a726-43ec-9458-d338ac5e5431","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-256,400],"id":"37f3a7e1-d844-4e84-b9fc-885b17f040a5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"https://topbrasilpv.com.br/imagens/regulamento-interno-top-brasil.pdf","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,736],"id":"3edae7e8-fce8-44e5-9a88-7aa8cb45e47e","name":"HTTP Request1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-256,864],"id":"9203067e-b0f7-4297-9bea-1cbee38c5585","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,400],"id":"70da04f7-8c2b-4fb6-86a7-45605b9d13db","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[576,400],"id":"e1d50f42-a437-44c8-bb67-3547cf3d6875","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Upload to Supabase","type":"ai_document","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Upload to Supabase","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"RAG Agent","type":"ai_tool","index":0}]]},"Reranker Cohere1":{"ai_reranker":[[{"node":"Supabase Vector Store1","type":"ai_reranker","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG Agent 2","type":"ai_tool","index":0}]]},"Metadata Agent":{"main":[[{"node":"RAG Agent 2","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Reranker Cohere":{"ai_reranker":[[{"node":"Supabase Vector Store","type":"ai_reranker","index":0}]]},"When chat message received":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"RAG Agent","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Metadata Agent","type":"ai_languageModel","index":0}]]},"HTTP Request1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Upload to Supabase","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"RAG Agent 2","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"217e453b-ced6-4e0a-a4cd-dd62d2bdafae","triggerCount":0,"shared":[{"createdAt":"2025-07-19T14:44:44.470Z","updatedAt":"2025-07-19T14:44:44.470Z","role":"workflow:owner","workflowId":"1cjfomnBsoqDJua4","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}