sandbox-6FoN2YJ7LE8Z1xx9.json
{"createdAt":"2025-08-23T20:03:28.683Z","updatedAt":"2025-09-11T14:49:11.118Z","id":"6FoN2YJ7LE8Z1xx9","name":"SANDBOX","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"68b26b41-7cb3-412c-8365-05d8c8b5c21e","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,128]},{"parameters":{"operation":"select","table":{"__rl":true,"value":"leads","mode":"list","cachedResultName":"leads"},"returnAll":true,"options":{}},"id":"c5957447-5220-494c-8151-33fd6aee77c9","name":"Buscar Leads","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[480,224]},{"parameters":{"options":{}},"id":"f4a53037-b11e-4d1e-b77f-c860dedd9899","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,224]},{"parameters":{"assignments":{"assignments":[{"id":"57b3af3a-c306-4f8c-99bd-49d7ecb7028e","name":"Nome","value":"={{ $json.nome }}","type":"string"},{"id":"6e8ec028-4387-4c98-930d-618cbf74a8d1","name":"Numero","value":"={{ $json.numero }}","type":"string"}]},"options":{}},"id":"e3953e2e-1fd0-40c0-936c-780d83180d28","name":"Variaveis LEAD","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,464]},{"parameters":{"method":"POST","url":"={{ $('Definir Variaveis').item.json.URLEvolution }}/typebot/start/{{ $('Definir Variaveis').item.json.InstanciaEvolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Definir Variaveis').item.json.urlTypebot }}\",\n  \"typebot\": \"{{ $('Definir Variaveis').item.json.typebot }}\",\n  \"remoteJid\": \"{{ $json.Numero }}@s.whatsapp.net\",\n  \"startSession\": false,\n  \"variables\": [\n    {\n      \"name\": \"pushName\",\n      \"value\": \"{{ $json.Nome }}\"\n    }\n  ]\n}","options":{"redirect":{"redirect":{}}}},"id":"991158b1-4dba-47b6-bbf1-ac7f63cb9c31","name":"Iniciar Fluxo - Typebot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,464]},{"parameters":{"method":"POST","url":"={{ $('Definir Variaveis').item.json.URLEvolution }}/typebot/start/{{ $('Definir Variaveis').item.json.InstanciaEvolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Definir Variaveis').item.json.urlTypebot }}\",\n  \"typebot\": \"{{ $('Definir Variaveis').item.json.typebotAtendimento }}\",\n  \"remoteJid\": \"{{ $('verNumero').item.json.data[0].jid }}\",\n  \"startSession\": true,\n  \"variables\": [\n    {\"name\": \"pushName\",\n     \"value\": \"Gustavo\"},\n    {\"name\": \"whatsApp\",\n     \"value\": \"553192240123\"}\n  ]\n}","options":{"redirect":{"redirect":{}}}},"id":"8bcea63b-af59-4b87-956e-c7cc074823ac","name":"typebotAvaliaAtendimento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,192],"credentials":{"httpHeaderAuth":{"id":"9zQ8EjeXwIRb1hsU","name":"apikey - evolution"}},"notes":"{{'55'+ $node[\"dadosSGAVoluntario\"].json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"assignments":{"assignments":[{"id":"e6d66287-919c-48ac-b875-02cd5db2090f","name":"URLEvolution","value":"https://zapi.topbrtech.com.br/","type":"string"},{"id":"325528dd-e9e8-4217-9f37-5aa040777082","name":"InstanciaEvolution","value":"zap.top","type":"string"},{"id":"ace97a2b-4e19-493a-b695-0478528dc100","name":"urlTypebot","value":"https://bot.topbrtech.com.br/","type":"string"},{"id":"b1d8dc8b-9c88-4116-b81a-03e772bf1b95","name":"typebot","value":"top-br-avalia-o-google-xb4g5ru","type":"string"},{"id":"6343286e-7a22-4feb-88f2-dd7e9661c10e","name":"typebotAtendimento","value":"top-br-avalia-o-assitencia-24-h-vgctpbc","type":"string"}]},"options":{}},"id":"349c6911-b781-400c-8b47-ff54ab79813c","name":"Definir Variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,192]},{"parameters":{"method":"POST","url":"={{ $('Definir Variaveis').item.json.URLEvolution }}/typebot/start/{{ $('Definir Variaveis').item.json.InstanciaEvolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Definir Variaveis').item.json.urlTypebot }}\",\n  \"typebot\": \"{{ $('Definir Variaveis').item.json.typebot }}\",\n  \"remoteJid\": \"553192240123@s.whatsapp.net\",\n  \"startSession\": true,\n  \"variables\": [\n    {\n      \"name\": \"pushName\",\n      \"value\": \"Gustavo\"\n    }\n  ]\n}","options":{"redirect":{"redirect":{}}}},"id":"24f7e513-f4d9-4579-a507-1f35e0cbdf25","name":"typebotAvaliaGoogle","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,384],"credentials":{"httpHeaderAuth":{"id":"9zQ8EjeXwIRb1hsU","name":"apikey - evolution"}},"disabled":true},{"parameters":{"resource":"chat-api","instanceName":"zap.top","numbers":"=5531992240123"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[176,-64],"id":"cf30f83f-1452-420b-b7d0-c5c05c2dac42","name":"verNumero","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}}},{"parameters":{"fromEmail":"gustavo.titoneli@gmail.com","toEmail":"gtitoneli@gmail.com","subject":"Teste SMTP Gmail","emailFormat":"text","text":"Teste","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-112,416],"id":"00f2acfc-b8ff-4660-9d77-f675dab81b2c","name":"Send email","webhookId":"ddd17db5-2b13-4221-a1bd-25611d1dfcf2","credentials":{"smtp":{"id":"Fl1Tu6KbCuI9GiMk","name":"SMTP account"}}},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"5531992240123","messageText":"=Olá, Jonelson Miguel De Lara \nSegue a relação inadimplentes do vencimento do dia 02/09/2025.\n\nGecicleia Ferreira Da Silva | 62993060372 | RAZ8F04 | 34191095456481988093775008900005811920000009789","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-96,-48],"id":"efed2ebb-ff5c-49c9-bc64-b9be2507bb01","name":"mensagemGustavo2","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"5531992240123","messageText":"=Olá, Jonelson Miguel De Lara \nSegue a relação inadimplentes do vencimento do dia 02/09/2025.\n\nGecicleia Ferreira Da Silva | 62993060372 | RAZ8F04 | 34191095456481988093775008900005811920000009789","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[736,32],"id":"6ce9584b-7ea9-449a-a01a-d220203052eb","name":"mensagemGustavo","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}}},{"parameters":{"url":"https://webhook.n8ncp.vigicar.com.br/webhook/criaCotacaoPwr","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"name\": \"Maria Sebastiana Cassimiro Rodrigues Rodrigues\",\n  \"phone\": \"62994569481\",\n  \"email\": \"gustavo.titoneli@gmail.com\",\n  \"coop\": \"LOOVI\",\n  \"marca\": \"TOP CO\",\n  \"modelo\": \"Go13bmlQ2J\",\n  \"origemId\": \"20362\",\n  \"campanha\": null,\n  \"indicador\": \"10995\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,128],"id":"19f70955-c516-4833-af24-fcb832379c27","name":"HTTP Request"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Buscar Leads":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Variaveis LEAD","type":"main","index":0}]]},"Variaveis LEAD":{"main":[[{"node":"Iniciar Fluxo - Typebot","type":"main","index":0}]]},"Definir Variaveis":{"main":[[{"node":"typebotAvaliaGoogle","type":"main","index":0}]]},"verNumero":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ab752e40-f493-4b13-8841-d650bfbb8b71","triggerCount":0,"shared":[{"createdAt":"2025-08-23T20:03:28.683Z","updatedAt":"2025-08-23T20:03:28.683Z","role":"workflow:owner","workflowId":"6FoN2YJ7LE8Z1xx9","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}