sub_popula_erp_cor_veiculos_atv-Wdr074nVmK9i2JYx.json
{"createdAt":"2025-12-09T18:50:36.063Z","updatedAt":"2025-12-09T19:37:58.112Z","id":"Wdr074nVmK9i2JYx","name":"SUB_POPULA_ERP_COR_VEICULOS_ATV","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"fbe67087-e532-4260-910e-0d2af08388f5","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"76b45b4a-a466-4471-99c7-8c1e4c7a25a7","name":"Stop and Error"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/veiculo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": {{ $('Execute').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('Execute').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"72165eee-b604-4423-b95b-1ca507f7970c","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"-- 0) Criar tabelas de log / controle (idempotente)\nCREATE TABLE IF NOT EXISTS import_log_veiculos (\n    id_log       SERIAL PRIMARY KEY,\n    run_ts       TIMESTAMP NOT NULL,\n    id_veiculo   BIGINT NULL,\n    payload      JSONB NULL,\n    issue        TEXT NOT NULL,\n    created_at   TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS import_run_veiculos (\n    id_run SERIAL PRIMARY KEY,\n    run_ts TIMESTAMP NOT NULL DEFAULT NOW(),\n    note TEXT\n);\n\n-- =============================================\n--      1) PIPELINE DE IMPORTAÇÃO\n-- =============================================\nWITH \nrun AS (\n    INSERT INTO import_run_veiculos (run_ts)\n    VALUES (now())\n    RETURNING id_run, run_ts\n),\n\nentrada AS (\n    SELECT \n        CASE WHEN jsonb_typeof($1::jsonb) = 'array'\n             THEN $1::jsonb\n             ELSE jsonb_build_array($1::jsonb)\n        END AS js\n),\n\n-- 🔥 Agora explode APENAS a lista de veículos\nraw AS (\n    SELECT jsonb_array_elements(js) AS elem\n    FROM entrada\n),\n\nnorm AS (\n    SELECT\n        -- PK\n        NULLIF(elem->>'codigo_veiculo','')::bigint AS id_veiculo,\n\n        -- Pessoa associada\n        NULLIF(elem->>'codigo_associado','')::bigint AS cod_associado,\n\n        -- modelo\n        NULLIF(elem->>'codigo_modelo','')::bigint AS id_modelo,\n\n        -- proprietário\n        elem->>'nome_associado' AS nome_proprietario,\n        elem->>'cpf_associado'  AS cpf_cnpj,\n\n        -- anos\n        elem->>'ano_modelo'      AS ano_modelo,\n        elem->>'ano_fabricacao'  AS ano_fabricacao,\n\n        -- identificadores físicos\n        elem->>'placa'   AS num_placa,\n        elem->>'renavam' AS num_renavam,\n        elem->>'chassi'  AS num_chassi,\n\n        -- códigos dos domínios\n        (elem->>'codigo_tipo')::int             AS cod_tpo_veic,\n        (elem->>'codigo_classificacao')::int    AS cod_cat_veic,\n        (elem->>'codigo_combustivel')::int      AS cod_combustivel,\n        (elem->>'codigo_cor')::int              AS cod_cor,\n        (elem->>'codigo_situacao')::int         AS cod_sit,\n\n        -- datas\n        NULLIF(elem->>'data_contrato','')::timestamp        AS dth_ini_vigencia,\n        NULLIF(elem->>'data_contrato_final','')::timestamp  AS dth_fim_vigencia,\n        NULLIF(elem->>'data_cadastro','')::timestamp        AS dth_cad_veiculo,\n        NULLIF(elem->>'data_reativacao','')::timestamp      AS dth_atv_veiculo,\n\n        -- valores financeiros\n        elem->>'codigo_fipe'                       AS cod_fipe,\n        NULLIF(elem->>'valor_fipe','')::numeric    AS valor_fipe,\n        NULLIF(elem->>'valor_fipe_protegido','')::numeric AS valor_ajustado,\n\n        elem AS payload\n    FROM raw\n),\n\n-- Junta associado\njoin_associado AS (\n    SELECT n.*, a.id_pessoa\n    FROM norm n\n    LEFT JOIN cor_associado a\n           ON a.cod_associado = n.cod_associado\n),\n\n-- Resolvido dos domínios\nresolve_dom AS (\n    SELECT j.*,\n\n        tpo.val_dominio AS dom_tpo_veic,\n        cat.val_dominio AS dom_cat_veic,\n        comb.val_dominio AS dom_combustivel,\n        cor.val_dominio AS dom_cor,\n        sit.val_dominio AS dom_sit_veic\n\n    FROM join_associado j\n    LEFT JOIN cor_val_dominio tpo\n        ON tpo.id_dominio = 'DOM_TPO_VEICULO'\n       AND tpo.seq_dominio = j.cod_tpo_veic\n\n    LEFT JOIN cor_val_dominio cat\n        ON cat.id_dominio = 'DOM_CAT_VEICULO'\n       AND cat.seq_dominio = j.cod_cat_veic\n\n    LEFT JOIN cor_val_dominio comb\n        ON comb.id_dominio = 'DOM_COMBUSTIVEL'\n       AND comb.seq_dominio = j.cod_combustivel\n\n    LEFT JOIN cor_val_dominio cor\n        ON cor.id_dominio = 'DOM_COR'\n       AND cor.seq_dominio = j.cod_cor\n\n    LEFT JOIN cor_val_dominio sit\n        ON sit.id_dominio = 'DOM_SIT_VEICULO'\n       AND sit.seq_dominio = j.cod_sit\n),\n\n-- Detecta inconsistências\ninvalids AS (\n    SELECT\n        r.*,\n        CASE\n            WHEN r.cod_combustivel IS NOT NULL AND r.dom_combustivel IS NULL THEN 'DOM_COMBUSTIVEL not found seq='||r.cod_combustivel\n            WHEN r.cod_cor IS NOT NULL AND r.dom_cor IS NULL THEN 'DOM_COR not found seq='||r.cod_cor\n            WHEN r.cod_tpo_veic IS NOT NULL AND r.dom_tpo_veic IS NULL THEN 'DOM_TPO_VEICULO not found seq='||r.cod_tpo_veic\n            WHEN r.cod_cat_veic IS NOT NULL AND r.dom_cat_veic IS NULL THEN 'DOM_CAT_VEICULO not found seq='||r.cod_cat_veic\n            WHEN r.cod_sit IS NOT NULL AND r.dom_sit_veic IS NULL THEN 'DOM_SIT_VEICULO not found seq='||r.cod_sit\n            ELSE NULL\n        END AS issue\n    FROM resolve_dom r\n    WHERE\n        (r.cod_combustivel IS NOT NULL AND r.dom_combustivel IS NULL)\n     OR (r.cod_cor IS NOT NULL AND r.dom_cor IS NULL)\n     OR (r.cod_tpo_veic IS NOT NULL AND r.dom_tpo_veic IS NULL)\n     OR (r.cod_cat_veic IS NOT NULL AND r.dom_cat_veic IS NULL)\n     OR (r.cod_sit IS NOT NULL AND r.dom_sit_veic IS NULL)\n),\n\n-- Grava inconsistências\nlog_insert AS (\n    INSERT INTO import_log_veiculos (run_ts, id_veiculo, payload, issue)\n    SELECT (SELECT run_ts FROM run), id_veiculo, payload, issue\n    FROM invalids\n    RETURNING id_log\n),\n\nvalid AS (\n    SELECT *\n    FROM resolve_dom r\n    WHERE NOT EXISTS (\n        SELECT 1 FROM invalids i WHERE i.id_veiculo = r.id_veiculo\n    )\n),\n\n-- UPSERT\nupsert AS (\n    INSERT INTO cor_veiculo (\n        ID_VEICULO, ID_PESSOA, ID_MODELO,\n        NOME_PROPRIETARIO, CPF_CNPJ,\n        ANO_MODELO, ANO_FABRICACAO, NUM_PLACA, NUM_RENAVAM, NUM_CHASSI,\n        DOM_TPO_VEICULO, DOM_CAT_VEICULO, DOM_TPO_COMBUSTIVEL,\n        DOM_COR, DOM_SIT_VEICULO,\n        DTH_INI_VIGENCIA, DTH_FIM_VIGENCIA, DTH_CAD_VEICULO, DTH_ATV_VEICULO,\n        COD_FIPE, VALOR_FIPE, VALOR_AJUSTADO\n    )\n    SELECT\n        id_veiculo,\n        id_pessoa,\n        id_modelo,\n        nome_proprietario,\n        cpf_cnpj,\n        ano_modelo,\n        ano_fabricacao,\n        num_placa,\n        num_renavam,\n        num_chassi,\n        dom_tpo_veic,\n        dom_cat_veic,\n        dom_combustivel,\n        dom_cor,\n        dom_sit_veic,\n        dth_ini_vigencia,\n        dth_fim_vigencia,\n        dth_cad_veiculo,\n        dth_atv_veiculo,\n        cod_fipe,\n        valor_fipe,\n        valor_ajustado\n    FROM valid\n    ON CONFLICT (ID_VEICULO)\n    DO UPDATE SET\n        ID_PESSOA = EXCLUDED.ID_PESSOA,\n        ID_MODELO = EXCLUDED.ID_MODELO,\n        NOME_PROPRIETARIO = EXCLUDED.NOME_PROPRIETARIO,\n        CPF_CNPJ = EXCLUDED.CPF_CNPJ,\n        ANO_MODELO = EXCLUDED.ANO_MODELO,\n        ANO_FABRICACAO = EXCLUDED.ANO_FABRICACAO,\n        NUM_PLACA = EXCLUDED.NUM_PLACA,\n        NUM_RENAVAM = EXCLUDED.NUM_RENAVAM,\n        NUM_CHASSI = EXCLUDED.NUM_CHASSI,\n        DOM_TPO_VEICULO = EXCLUDED.DOM_TPO_VEICULO,\n        DOM_CAT_VEICULO = EXCLUDED.DOM_CAT_VEICULO,\n        DOM_TPO_COMBUSTIVEL = EXCLUDED.DOM_TPO_COMBUSTIVEL,\n        DOM_COR = EXCLUDED.DOM_COR,\n        DOM_SIT_VEICULO = EXCLUDED.DOM_SIT_VEICULO,\n        VALOR_FIPE = EXCLUDED.VALOR_FIPE,\n        VALOR_AJUSTADO = EXCLUDED.VALOR_AJUSTADO\n    RETURNING (xmax = 0) AS inserted, (xmax <> 0) AS updated\n),\n\nstats AS (\n    SELECT\n        COALESCE(SUM(CASE WHEN inserted THEN 1 ELSE 0 END),0) AS total_inseridos,\n        COALESCE(SUM(CASE WHEN updated THEN 1 ELSE 0 END),0) AS total_atualizados,\n        (SELECT COUNT(*) FROM invalids) AS total_inconsistentes\n    FROM upsert\n)\n\nSELECT \n    total_inseridos,\n    total_atualizados,\n    total_inconsistentes,\n    (\n        SELECT jsonb_agg(jsonb_build_object(\n            'id_veiculo', id_veiculo,\n            'issue', issue,\n            'payload', payload\n        ))\n        FROM invalids LIMIT 50\n    ) AS sample_inconsistencias\nFROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body.veiculos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"c50a0ca1-8268-4991-a2cc-9784d2ca3912","name":"gravaDados","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-512,544],"id":"4ff21e5b-b616-4eea-b4f2-f64e010378be","name":"Execute"}],"connections":{"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaDados","type":"main","index":0}]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaDados":{"main":[[]]},"Execute":{"main":[[{"node":"buscaDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81c7b3d4-e235-4139-9b82-f218f7b30f95","triggerCount":2,"shared":[{"createdAt":"2025-12-09T18:50:36.063Z","updatedAt":"2025-12-09T18:50:36.063Z","role":"workflow:owner","workflowId":"Wdr074nVmK9i2JYx","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"},{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}