sub_erp_popular_boletos_dia-bXiO5bfH53DNcKZL.json
{"createdAt":"2025-11-09T13:31:47.883Z","updatedAt":"2025-12-30T11:48:15.850Z","id":"bXiO5bfH53DNcKZL","name":"SUB_ERP_POPULAR_BOLETOS_DIA","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5ca9a6e7-7af9-4575-a5fc-f182c17b6a06","leftValue":"={{ $json.error.status }}","rightValue":"406","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,192],"id":"1f6a4685-9031-4807-ad2e-ef87cc38c0e0","name":"If3","executeOnce":true},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_original_inicial\": \"{{ $('Execute').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_original_final\": \"{{ $('Execute').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $('Execute').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('Execute').item.json.pagina }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"f49af383-de64-4c10-af1f-d93af87c3d2a","name":"buscaBoletosPag","executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"},{"name":"dtVencimentoInicial"},{"name":"dtVencimentoFinal"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,0],"id":"b2c20099-8bde-4158-b33a-09e157d234dd","name":"Execute"},{"parameters":{"errorMessage":"=Falha ao executar workflow {{ $('Execute').item.json.dtVencimentoInicial }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[240,16],"id":"20a61a11-d357-4a2f-81f8-4c09fcce4e11","name":"Stop and Error"},{"parameters":{"operation":"executeQuery","query":"WITH json_expand AS (\n  SELECT\n    elem->>'nosso_numero' AS nosso_numero,\n    elem->>'codigo_associado' AS codigo_associado,\n    elem->>'nome_associado' AS nome_associado,\n    elem->>'celular' AS celular,\n    (elem->>'data_emissao')::date AS data_emissao,\n    (elem->>'data_vencimento')::date AS data_vencimento,\n    (elem->>'data_vencimento_original')::date AS data_vencimento_original,\n    (elem->>'data_pagamento')::date AS data_pagamento,\n    elem->>'codigo_tipo_boleto' AS codigo_tipo_boleto,\n    elem->>'tipo_boleto' AS tipo_boleto,\n    elem->>'codigo_situacao_boleto' AS codigo_situacao_boleto,\n    elem->>'codigo_forma_pagamento' AS codigo_forma_pagamento,\n    elem->>'situacao_boleto' AS situacao_boleto,\n    elem->>'valor_boleto' AS valor_boleto,\n    elem->>'valor_pagamento' AS valor_pagamento,\n    elem->>'link_boleto' AS link_boleto,\n    elem->>'linha_digitavel' AS linha_digitavel,\n\n    -- 🧠 Pegando os dados de veiculos (tanto array quanto objeto)\n    COALESCE(\n      elem->'veiculos'->0->>'placa',\n      elem->'veiculos'->>'placa'\n    ) AS placa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'modelo',\n      elem->'veiculos'->>'modelo'\n    ) AS modelo,\n\n    -- 🧩 Fallback inteligente para campos que podem vir dentro ou fora de veiculos\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_regional',\n      elem->'veiculos'->>'codigo_regional',\n      elem->>'codigo_regional'\n    ) AS codigo_regional,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_cooperativa',\n      elem->'veiculos'->>'codigo_cooperativa',\n      elem->>'codigo_cooperativa'\n    ) AS codigo_cooperativa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_voluntario',\n      elem->'veiculos'->>'codigo_voluntario',\n      elem->>'codigo_voluntario'\n    ) AS codigo_voluntario,\n\n    elem->>'codigo_banco' AS codigo_banco,\n    elem->>'mes_referente' AS mes_referente,\n\n    COALESCE(\n      elem->'veiculos'->0->>'situacao_veiculo',\n      elem->'veiculos'->>'situacao_veiculo'\n    ) AS situacao_veiculo,\n\n    elem->>'tipo_veiculo' AS tipo_veiculo,\n    elem->>'categoria_veiculo' AS categoria_veiculo,\n    (elem->>'pagina')::smallint AS pagina\n\n  FROM jsonb_array_elements(\n  CASE\n    WHEN left(trim($1), 1) = '[' THEN $1::jsonb  -- já é array JSON\n    ELSE ('[' || trim($1, '') || ']')::jsonb    -- força conversão\n  END\n) elem\n),\n\ndados AS (\n  SELECT DISTINCT ON (nosso_numero) *\n  FROM json_expand\n  WHERE nosso_numero IS NOT NULL\n)\n\nINSERT INTO public.\"topBIBoletos\"(\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\n)\nSELECT\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\nFROM dados\nON CONFLICT (nosso_numero)\nDO UPDATE SET\n  codigo_associado = COALESCE(NULLIF(EXCLUDED.codigo_associado, ''), \"topBIBoletos\".codigo_associado),\n  nome_associado = COALESCE(NULLIF(EXCLUDED.nome_associado, ''), \"topBIBoletos\".nome_associado),\n  celular = COALESCE(NULLIF(EXCLUDED.celular, ''), \"topBIBoletos\".celular),\n  data_emissao = COALESCE(EXCLUDED.data_emissao, \"topBIBoletos\".data_emissao),\n  data_vencimento = COALESCE(EXCLUDED.data_vencimento, \"topBIBoletos\".data_vencimento),\n  data_vencimento_original = COALESCE(EXCLUDED.data_vencimento_original, \"topBIBoletos\".data_vencimento_original),\n  data_pagamento = COALESCE(EXCLUDED.data_pagamento, \"topBIBoletos\".data_pagamento),\n  codigo_tipo_boleto = COALESCE(NULLIF(EXCLUDED.codigo_tipo_boleto, ''), \"topBIBoletos\".codigo_tipo_boleto),\n  tipo_boleto = COALESCE(NULLIF(EXCLUDED.tipo_boleto, ''), \"topBIBoletos\".tipo_boleto),\n  codigo_situacao_boleto = COALESCE(NULLIF(EXCLUDED.codigo_situacao_boleto, ''), \"topBIBoletos\".codigo_situacao_boleto),\n  codigo_forma_pagamento = COALESCE(NULLIF(EXCLUDED.codigo_forma_pagamento, ''), \"topBIBoletos\".codigo_forma_pagamento),\n  situacao_boleto = COALESCE(NULLIF(EXCLUDED.situacao_boleto, ''), \"topBIBoletos\".situacao_boleto),\n  valor_boleto = COALESCE(NULLIF(EXCLUDED.valor_boleto, ''), \"topBIBoletos\".valor_boleto),\n  valor_pagamento = COALESCE(NULLIF(EXCLUDED.valor_pagamento, ''), \"topBIBoletos\".valor_pagamento),\n  link_boleto = COALESCE(NULLIF(EXCLUDED.link_boleto, ''), \"topBIBoletos\".link_boleto),\n  linha_digitavel = COALESCE(NULLIF(EXCLUDED.linha_digitavel, ''), \"topBIBoletos\".linha_digitavel),\n  placa = COALESCE(NULLIF(EXCLUDED.placa, ''), \"topBIBoletos\".placa),\n  modelo = COALESCE(NULLIF(EXCLUDED.modelo, ''), \"topBIBoletos\".modelo),\n  codigo_regional = COALESCE(NULLIF(EXCLUDED.codigo_regional, ''), \"topBIBoletos\".codigo_regional),\n  codigo_cooperativa = COALESCE(NULLIF(EXCLUDED.codigo_cooperativa, ''), \"topBIBoletos\".codigo_cooperativa),\n  codigo_voluntario = COALESCE(NULLIF(EXCLUDED.codigo_voluntario, ''), \"topBIBoletos\".codigo_voluntario),\n  codigo_banco = COALESCE(NULLIF(EXCLUDED.codigo_banco, ''), \"topBIBoletos\".codigo_banco),\n  mes_referente = COALESCE(NULLIF(EXCLUDED.mes_referente, ''), \"topBIBoletos\".mes_referente),\n  situacao_veiculo = COALESCE(NULLIF(EXCLUDED.situacao_veiculo, ''), \"topBIBoletos\".situacao_veiculo),\n  tipo_veiculo = COALESCE(NULLIF(EXCLUDED.tipo_veiculo, ''), \"topBIBoletos\".tipo_veiculo),\n  categoria_veiculo = COALESCE(NULLIF(EXCLUDED.categoria_veiculo, ''), \"topBIBoletos\".categoria_veiculo),\n  pagina = COALESCE(EXCLUDED.pagina, \"topBIBoletos\".pagina);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,352],"id":"4b25a58c-5f46-451e-8ff3-6b9fba5c5a7a","name":"gravaDadosSupabase","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH input_json AS (\n    SELECT jsonb_array_elements(\n        CASE WHEN left(trim($1),1)='[' THEN $1::jsonb\n             ELSE ('['||trim($1,'')||']')::jsonb END\n    ) AS raw\n),\n\njson_expand AS (\n    SELECT\n        raw,\n\n        /* Identificadores principais */\n        raw->>'nosso_numero' AS nosso_numero,\n        NULLIF(raw->>'codigo_associado','') AS codigo_associado,\n\n        /* Datas */\n        NULLIF(raw->>'data_emissao','')::timestamp AS data_emissao,\n        NULLIF(raw->>'data_vencimento','')::timestamp AS data_vencimento,\n        NULLIF(raw->>'data_vencimento_original','')::timestamp AS data_vencimento_original,\n        NULLIF(raw->>'data_pagamento','')::timestamp AS data_pagamento,\n\n        /* Situação, tipo e infos */\n        raw->>'situacao_boleto' AS situacao_boleto,\n        raw->>'tipo_boleto' AS tipo_boleto,\n        raw->>'mes_referente' AS mes_referente,\n\n        /* Valores */\n        NULLIF(raw->>'valor_boleto','')::numeric(14,2) AS valor_boleto,\n        NULLIF(raw->>'valor_pagamento','')::numeric(14,2) AS valor_pagamento,\n\n        /* Regionais e veículos */\n        NULLIF(\n            COALESCE(\n                raw->'veiculos'->0->>'codigo_regional',\n                raw->'veiculos'->>'codigo_regional',\n                raw->>'codigo_regional'\n            ), ''\n        )::bigint AS codigo_regional,\n\n        NULLIF(\n            COALESCE(\n                raw->'veiculos'->0->>'codigo_veiculo',\n                raw->'veiculos'->>'codigo_veiculo',\n                raw->>'codigo_veiculo'\n            ), ''\n        )::bigint AS codigo_veiculo,\n\n        /* Campos extras SGA (blindados para null) */\n        raw->>'nosso_numero' AS sga_nosso_numero,\n        raw->>'tipo_boleto' AS sga_dom_tpo_boleto,\n        raw->>'situacao_boleto' AS sga_dom_sit_boleto,\n        raw->>'mes_referente' AS sga_mes_referente,\n        raw->>'link_boleto' AS sga_link_boleto,\n        raw->>'linha_digitavel' AS sga_linha_digitavel,\n        NULLIF(raw->>'codigo_associado','')::bigint AS sga_cod_associado,\n        raw->>'nome_associado' AS sga_nome_associado,\n        raw->>'celular' AS sga_celular,\n\n        /* Veículo (caso venha no JSON) */\n        COALESCE(\n            raw->'veiculos'->0->>'placa',\n            raw->'veiculos'->>'placa',\n            null\n        ) AS sga_placa,\n\n        COALESCE(\n            raw->'veiculos'->0->>'modelo',\n            raw->'veiculos'->>'modelo',\n            null\n        ) AS sga_modelo,\n\n        COALESCE(\n            raw->'veiculos'->0->>'tipo_veiculo',\n            raw->'veiculos'->>'tipo_veiculo',\n            null\n        ) AS sga_dom_tpo_veiculo,\n\n        COALESCE(\n            raw->'veiculos'->0->>'categoria_veiculo',\n            raw->'veiculos'->>'categoria_veiculo',\n            null\n        ) AS sga_dom_cat_veiculo,\n\n        COALESCE(\n            raw->'veiculos'->0->>'situacao_veiculo',\n            raw->'veiculos'->>'situacao_veiculo',\n            null\n        ) AS sga_dom_sit_veiculo,\n\n        /* Extras */\n        NULLIF(raw->>'codigo_cooperativa','')::bigint AS sga_codigo_cooperativa,\n        NULLIF(raw->>'codigo_voluntario','')::bigint AS sga_codigo_voluntario\n\n    FROM input_json\n),\n\nvalidos AS (\n    SELECT *\n    FROM json_expand\n    WHERE nosso_numero IS NOT NULL AND nosso_numero <> ''\n),\n\ndedup AS (\n    SELECT DISTINCT ON (nosso_numero) *\n    FROM validos\n    ORDER BY nosso_numero\n),\n\npessoas AS (\n    SELECT\n        d.*,\n        COALESCE(a.id_pessoa, 0) AS id_pessoa\n    FROM dedup d\n    LEFT JOIN cor_associado a\n        ON a.cod_associado = NULLIF(d.codigo_associado,'')::bigint\n)\n\nINSERT INTO crc_titulo (\n    ID_EMPRESA, ID_PESSOA, ID_USUARIO,\n    ID_MODALIDADE_PGTO, ID_TIPO_CONTA, ID_OBS_TITULO,\n    ID_HISTORICO_PADRAO, ID_PARCELA, ID_CTA_BANCARIA,\n    ID_CARTEIRA_BANCARIA, ID_LOCAL_TITULO, ID_CONC_TAXA,\n    ID_CONC_TAXA_VEICULO, ID_VEICULO,\n    DOM_SIT_TITULO_RECEBER, DOM_TPO_TITULO, DOM_TPO_JUROS,\n    DAT_LANCAMENTO, DAT_EMISSAO, DAT_VENCTO_ORIGINAL,\n    DAT_VENCTO_PRORROGADO, DAT_PREVISAO_PAGTO, DAT_DESCONTO,\n    DAT_MULTA,\n    NUM_TITULO, NUM_BOLETA_TITULO, NUM_PARCELA,\n\n    /* Campos SGA */\n    SGA_NOSSO_NUMERO, SGA_DOM_TPO_BOLETO, SGA_DOM_SIT_BOLETO,\n    SGA_MES_REFERENTE, SGA_LINK_BOLETO, SGA_LINHA_DIGITAVEL,\n    SGA_COD_ASSOCIADO, SGA_NOME_ASSOCIADO, SGA_CELULAR,\n    SGA_PLACA, SGA_MODELO, SGA_DOM_TPO_VEICULO,\n    SGA_DOM_CAT_VEICULO, SGA_DOM_SIT_VEICULO,\n    SGA_CODIGO_REGIONAL, SGA_CODIGO_COOPERATIVA, SGA_CODIGO_VOLUNTARIO,\n    SGA_DAT_PAGTO, SGA_VAL_PAGTO,\n\n    VAL_TITULO_ORIGINAL, VAL_TITULO_ATUAL, VAL_ABERTO,\n    VAL_DESCONTO, VAL_JUROS, VAL_MULTA,\n    PERC_DESCONTO, PERC_JUROS, PERC_MULTA,\n    DSC_COMPL_HISTORICO, VAL_JUROS_PERIODO\n)\n\nSELECT\n    COALESCE(codigo_regional, 0),\n    id_pessoa,\n    1 AS id_usuario,    -- obrigatório\n\n    1, 1, 1, 1,          -- modalidades fixas\n    1 AS id_parcela,\n    1,1,1,1,1,\n    codigo_veiculo,\n\n    situacao_boleto,\n    tipo_boleto,\n    'SMP',\n\n    COALESCE(data_emissao, NOW()),\n    COALESCE(data_emissao, NOW()),\n    COALESCE(data_vencimento_original, NOW()),\n    COALESCE(data_vencimento, NOW()),\n    COALESCE(data_vencimento, NOW()),\n    NULL,\n    NULL,\n\n    nosso_numero,\n    nosso_numero,\n    '1',\n\n    /* SGA campos */\n    sga_nosso_numero, sga_dom_tpo_boleto, sga_dom_sit_boleto,\n    sga_mes_referente, sga_link_boleto, sga_linha_digitavel,\n    sga_cod_associado, sga_nome_associado, sga_celular,\n    sga_placa, sga_modelo, sga_dom_tpo_veiculo,\n    sga_dom_cat_veiculo, sga_dom_sit_veiculo,\n    codigo_regional, sga_codigo_cooperativa, sga_codigo_voluntario,\n    data_pagamento, valor_pagamento,\n\n    valor_boleto,\n    valor_boleto,\n    (valor_boleto - COALESCE(valor_pagamento,0)),\n    NULL, NULL, NULL,\n    NULL, NULL, NULL,\n    mes_referente,\n    0\n\nFROM pessoas\n\nON CONFLICT (num_titulo)\nDO UPDATE SET\n    DOM_SIT_TITULO_RECEBER = EXCLUDED.DOM_SIT_TITULO_RECEBER,\n    DAT_VENCTO_PRORROGADO   = EXCLUDED.DAT_VENCTO_PRORROGADO,\n    DAT_PREVISAO_PAGTO      = EXCLUDED.DAT_PREVISAO_PAGTO,\n    SGA_DAT_PAGTO           = EXCLUDED.SGA_DAT_PAGTO,\n    SGA_VAL_PAGTO           = EXCLUDED.SGA_VAL_PAGTO,\n    VAL_ABERTO              = EXCLUDED.VAL_ABERTO,\n    DSC_COMPL_HISTORICO     = EXCLUDED.DSC_COMPL_HISTORICO;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,544],"id":"1b1d4c22-e10c-4a17-8222-83ce676ffcfa","name":"gravaCRC_TITULO","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH input_json AS (\n    SELECT jsonb_array_elements(\n        CASE WHEN left(trim($1),1)='[' THEN $1::jsonb\n             ELSE ('['||trim($1,'')||']')::jsonb END\n    ) AS raw\n),\n\njson_expand AS (\n    SELECT\n        raw,\n        raw->>'nosso_numero'                        AS nosso_numero,\n        NULLIF(raw->>'codigo_associado','')         AS codigo_associado,\n        raw->>'nome_associado'                      AS nome_associado,\n        raw->>'celular'                             AS celular,\n        raw->>'situacao_boleto'                     AS situacao_boleto,\n        raw->>'tipo_boleto'                         AS tipo_boleto,\n        raw->>'mes_referente'                       AS mes_referente,\n\n        /* Datas como texto */\n        NULLIF(raw->>'data_emissao','')             AS data_emissao_txt,\n        NULLIF(raw->>'data_vencimento','')          AS data_vencimento_txt,\n        NULLIF(raw->>'data_vencimento_original','') AS data_vencimento_original_txt,\n        NULLIF(raw->>'data_pagamento','')           AS data_pagamento_txt,\n\n        /* Veículos e regional blindados */\n        NULLIF(\n            COALESCE(\n                raw->'veiculos'->0->>'codigo_veiculo',\n                raw->'veiculos'->>'codigo_veiculo',\n                raw->>'codigo_veiculo'\n            ), ''\n        ) AS codigo_veiculo_txt,\n\n        NULLIF(\n            COALESCE(\n                raw->'veiculos'->0->>'codigo_regional',\n                raw->'veiculos'->>'codigo_regional',\n                raw->>'codigo_regional'\n            ), ''\n        ) AS codigo_regional_txt,\n\n        /* Valores */\n        NULLIF(raw->>'valor_boleto','')             AS valor_boleto_txt,\n        NULLIF(raw->>'valor_pagamento','')          AS valor_pagamento_txt\n\n    FROM input_json\n),\n\n-- Removendo registros inválidos (sem nosso_numero)\nvalidos AS (\n    SELECT *\n    FROM json_expand\n    WHERE nosso_numero IS NOT NULL AND nosso_numero <> ''\n),\n\n-- Deduplicação (mantém o primeiro por nosso_numero)\ndedup AS (\n    SELECT DISTINCT ON (nosso_numero) *\n    FROM validos\n    ORDER BY nosso_numero\n),\n\n-- PARSE seguro de datas/numéricos\nparsed AS (\n    SELECT\n        *,\n        /* Cast seguro */\n        CASE WHEN data_emissao_txt IS NOT NULL THEN data_emissao_txt::timestamp ELSE NOW() END AS data_emissao,\n        CASE WHEN data_vencimento_txt IS NOT NULL THEN data_vencimento_txt::timestamp ELSE NOW() END AS data_vencimento,\n        CASE WHEN data_vencimento_original_txt IS NOT NULL THEN data_vencimento_original_txt::timestamp\n             ELSE COALESCE(data_vencimento_txt::timestamp, NOW()) END AS data_vencimento_original,\n        CASE WHEN data_pagamento_txt IS NOT NULL THEN data_pagamento_txt::timestamp ELSE NULL END AS data_pagamento,\n\n        CASE WHEN valor_boleto_txt IS NOT NULL THEN valor_boleto_txt::numeric(14,2) ELSE 0 END AS valor_boleto,\n        CASE WHEN valor_pagamento_txt IS NOT NULL THEN valor_pagamento_txt::numeric(14,2) ELSE 0 END AS valor_pagamento,\n\n        NULLIF(codigo_veiculo_txt,'')::bigint AS codigo_veiculo,\n        NULLIF(codigo_regional_txt,'')::bigint AS codigo_regional\n    FROM dedup\n),\n\n-- JOIN com associado\npessoas AS (\n    SELECT\n        p.*,\n        COALESCE(a.id_pessoa,0) AS id_pessoa\n    FROM parsed p\n    LEFT JOIN cor_associado a\n        ON a.cod_associado = NULLIF(p.codigo_associado,'')::bigint\n)\n\n-- ===============================  \n-- ⚡ UPSERT FINAL  \n-- ===============================  \n\nINSERT INTO crc_titulo (\n    ID_EMPRESA, ID_PESSOA, ID_USUARIO,\n    ID_MODALIDADE_PGTO, ID_TIPO_CONTA, ID_OBS_TITULO,\n    ID_HISTORICO_PADRAO, ID_PARCELA_NF_SAIDA, ID_CTA_BANCARIA,\n    ID_CARTEIRA_BANCARIA, ID_LOCAL_TITULO, ID_CONC_TAXA,\n    ID_CONC_TAXA_VEICULO, ID_TAXA, ID_VEICULO,\n    DOM_SIT_TITULO_RECEBER, DOM_TPO_TITULO, DOM_TPO_JUROS,\n    DAT_LANCAMENTO, DAT_EMISSAO, DAT_VENCTO_ORIGINAL,\n    DAT_VENCTO_PRORROGADO, DAT_PREVISAO_PAGTO, DAT_PAGTO,\n    NUM_TITULO, NUM_BOLETA_TITULO, NUM_PARCELA,\n    VAL_TITULO_ORIGINAL, VAL_TITULO_ATUAL, VAL_ABERTO,\n    VAL_PAGTO, DSC_COMPL_HISTORICO, VAL_JUROS_PERIODO\n)\n\nSELECT\n    COALESCE(codigo_regional, 0) AS ID_EMPRESA,\n    id_pessoa,\n    1 AS ID_USUARIO,  -- 🔥 Nunca mais erro de NOT NULL\n    1,1,1,1,1,1,1,1,1,1,1,\n\n    codigo_veiculo,\n\n    situacao_boleto,\n    tipo_boleto,\n    'SMP',\n\n    data_emissao,\n    data_emissao,\n    data_vencimento_original,\n    data_vencimento,\n    data_vencimento,\n    data_pagamento,\n\n    nosso_numero,\n    nosso_numero,\n    '1',\n\n    valor_boleto,\n    valor_boleto,\n    (valor_boleto - valor_pagamento),\n    valor_pagamento,\n\n    mes_referente,\n    0  -- juros periodo\n\nFROM pessoas\n\nON CONFLICT (NUM_TITULO)\nDO UPDATE SET\n    DOM_SIT_TITULO_RECEBER = EXCLUDED.DOM_SIT_TITULO_RECEBER,\n    DAT_PAGTO               = EXCLUDED.DAT_PAGTO,\n    DAT_VENCTO_PRORROGADO   = EXCLUDED.DAT_VENCTO_PRORROGADO,\n    DAT_PREVISAO_PAGTO      = EXCLUDED.DAT_PREVISAO_PAGTO,\n    VAL_PAGTO               = EXCLUDED.VAL_PAGTO,\n    VAL_ABERTO              = EXCLUDED.VAL_ABERTO,\n    DSC_COMPL_HISTORICO     = EXCLUDED.DSC_COMPL_HISTORICO;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,416],"id":"66c9cbc8-b5dc-4551-b7f3-99251d159da5","name":"gravaCRC_TITULO1","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH json_expand AS (\n  SELECT\n    elem->>'nosso_numero' AS nosso_numero,\n    elem->>'codigo_associado' AS codigo_associado,\n    elem->>'nome_associado' AS nome_associado,\n    elem->>'celular' AS celular,\n    (elem->>'data_emissao')::date AS data_emissao,\n    (elem->>'data_vencimento')::date AS data_vencimento,\n    (elem->>'data_vencimento_original')::date AS data_vencimento_original,\n    (elem->>'data_pagamento')::date AS data_pagamento,\n    elem->>'codigo_tipo_boleto' AS codigo_tipo_boleto,\n    elem->>'tipo_boleto' AS tipo_boleto,\n    elem->>'codigo_situacao_boleto' AS codigo_situacao_boleto,\n    elem->>'codigo_forma_pagamento' AS codigo_forma_pagamento,\n    elem->>'situacao_boleto' AS situacao_boleto,\n    elem->>'valor_boleto' AS valor_boleto,\n    elem->>'valor_pagamento' AS valor_pagamento,\n    elem->>'link_boleto' AS link_boleto,\n    elem->>'linha_digitavel' AS linha_digitavel,\n\n    -- 🧠 Pegando os dados de veiculos (tanto array quanto objeto)\n    COALESCE(\n      elem->'veiculos'->0->>'placa',\n      elem->'veiculos'->>'placa'\n    ) AS placa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'modelo',\n      elem->'veiculos'->>'modelo'\n    ) AS modelo,\n\n    -- 🧩 Fallback inteligente para campos que podem vir dentro ou fora de veiculos\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_regional',\n      elem->'veiculos'->>'codigo_regional',\n      elem->>'codigo_regional'\n    ) AS codigo_regional,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_cooperativa',\n      elem->'veiculos'->>'codigo_cooperativa',\n      elem->>'codigo_cooperativa'\n    ) AS codigo_cooperativa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_voluntario',\n      elem->'veiculos'->>'codigo_voluntario',\n      elem->>'codigo_voluntario'\n    ) AS codigo_voluntario,\n\n    elem->>'codigo_banco' AS codigo_banco,\n    elem->>'mes_referente' AS mes_referente,\n\n    COALESCE(\n      elem->'veiculos'->0->>'situacao_veiculo',\n      elem->'veiculos'->>'situacao_veiculo'\n    ) AS situacao_veiculo,\n\n    elem->>'tipo_veiculo' AS tipo_veiculo,\n    elem->>'categoria_veiculo' AS categoria_veiculo,\n    (elem->>'pagina')::smallint AS pagina\n\n  FROM jsonb_array_elements(\n  CASE\n    WHEN left(trim($1), 1) = '[' THEN $1::jsonb  -- já é array JSON\n    ELSE ('[' || trim($1, '') || ']')::jsonb    -- força conversão\n  END\n) elem\n),\n\ndados AS (\n  SELECT DISTINCT ON (nosso_numero) *\n  FROM json_expand\n  WHERE nosso_numero IS NOT NULL\n)\n\nINSERT INTO public.topBIBoletos (\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\n)\nSELECT\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\nFROM dados\nON CONFLICT (nosso_numero)\nDO UPDATE SET\n  codigo_associado = COALESCE(NULLIF(EXCLUDED.codigo_associado, ''), topBIBoletos.codigo_associado),\n  nome_associado = COALESCE(NULLIF(EXCLUDED.nome_associado, ''), topBIBoletos.nome_associado),\n  celular = COALESCE(NULLIF(EXCLUDED.celular, ''), topBIBoletos.celular),\n  data_emissao = COALESCE(EXCLUDED.data_emissao, topBIBoletos.data_emissao),\n  data_vencimento = COALESCE(EXCLUDED.data_vencimento, topBIBoletos.data_vencimento),\n  data_vencimento_original = COALESCE(EXCLUDED.data_vencimento_original, topBIBoletos.data_vencimento_original),\n  data_pagamento = COALESCE(EXCLUDED.data_pagamento, topBIBoletos.data_pagamento),\n  codigo_tipo_boleto = COALESCE(NULLIF(EXCLUDED.codigo_tipo_boleto, ''), topBIBoletos.codigo_tipo_boleto),\n  tipo_boleto = COALESCE(NULLIF(EXCLUDED.tipo_boleto, ''), topBIBoletos.tipo_boleto),\n  codigo_situacao_boleto = COALESCE(NULLIF(EXCLUDED.codigo_situacao_boleto, ''), topBIBoletos.codigo_situacao_boleto),\n  codigo_forma_pagamento = COALESCE(NULLIF(EXCLUDED.codigo_forma_pagamento, ''), topBIBoletos.codigo_forma_pagamento),\n  situacao_boleto = COALESCE(NULLIF(EXCLUDED.situacao_boleto, ''), topBIBoletos.situacao_boleto),\n  valor_boleto = COALESCE(NULLIF(EXCLUDED.valor_boleto, ''), topBIBoletos.valor_boleto),\n  valor_pagamento = COALESCE(NULLIF(EXCLUDED.valor_pagamento, ''), topBIBoletos.valor_pagamento),\n  link_boleto = COALESCE(NULLIF(EXCLUDED.link_boleto, ''), topBIBoletos.link_boleto),\n  linha_digitavel = COALESCE(NULLIF(EXCLUDED.linha_digitavel, ''), topBIBoletos.linha_digitavel),\n  placa = COALESCE(NULLIF(EXCLUDED.placa, ''), topBIBoletos.placa),\n  modelo = COALESCE(NULLIF(EXCLUDED.modelo, ''), topBIBoletos.modelo),\n  codigo_regional = COALESCE(NULLIF(EXCLUDED.codigo_regional, ''), topBIBoletos.codigo_regional),\n  codigo_cooperativa = COALESCE(NULLIF(EXCLUDED.codigo_cooperativa, ''), topBIBoletos.codigo_cooperativa),\n  codigo_voluntario = COALESCE(NULLIF(EXCLUDED.codigo_voluntario, ''), topBIBoletos.codigo_voluntario),\n  codigo_banco = COALESCE(NULLIF(EXCLUDED.codigo_banco, ''), topBIBoletos.codigo_banco),\n  mes_referente = COALESCE(NULLIF(EXCLUDED.mes_referente, ''), topBIBoletos.mes_referente),\n  situacao_veiculo = COALESCE(NULLIF(EXCLUDED.situacao_veiculo, ''), topBIBoletos.situacao_veiculo),\n  tipo_veiculo = COALESCE(NULLIF(EXCLUDED.tipo_veiculo, ''), topBIBoletos.tipo_veiculo),\n  categoria_veiculo = COALESCE(NULLIF(EXCLUDED.categoria_veiculo, ''), topBIBoletos.categoria_veiculo),\n  pagina = COALESCE(EXCLUDED.pagina, topBIBoletos.pagina);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,192],"id":"a71e6f55-d0b7-4a15-9ba2-d975be46d484","name":"gravaTopBIBoletos","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH json_expand AS (\n  SELECT\n    elem->>'nosso_numero' AS nosso_numero,\n    elem->>'codigo_associado' AS codigo_associado,\n    elem->>'nome_associado' AS nome_associado,\n    elem->>'celular' AS celular,\n    (elem->>'data_emissao')::date AS data_emissao,\n    (elem->>'data_vencimento')::date AS data_vencimento,\n    (elem->>'data_vencimento_original')::date AS data_vencimento_original,\n    (elem->>'data_pagamento')::date AS data_pagamento,\n\n    elem->>'codigo_tipo_boleto' AS codigo_tipo_boleto,\n    elem->>'tipo_boleto' AS tipo_boleto,\n    elem->>'codigo_situacao_boleto' AS codigo_situacao_boleto,\n    elem->>'codigo_forma_pagamento' AS codigo_forma_pagamento,\n    elem->>'situacao_boleto' AS situacao_boleto,\n\n    -- Conversão segura para numeric\n    CASE\n        WHEN elem->>'valor_boleto' ~ '^[0-9,.]+$'\n        THEN REPLACE(REPLACE(elem->>'valor_boleto', 'R$', ''), ',', '.')::numeric\n        ELSE NULL\n    END AS valor_boleto,\n\n    CASE\n        WHEN elem->>'valor_pagamento' ~ '^[0-9,.]+$'\n        THEN REPLACE(REPLACE(elem->>'valor_pagamento', 'R$', ''), ',', '.')::numeric\n        ELSE NULL\n    END AS valor_pagamento,\n\n    elem->>'link_boleto' AS link_boleto,\n    elem->>'linha_digitavel' AS linha_digitavel,\n\n    COALESCE(\n      elem->'veiculos'->0->>'placa',\n      elem->'veiculos'->>'placa'\n    ) AS placa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'modelo',\n      elem->'veiculos'->>'modelo'\n    ) AS modelo,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_regional',\n      elem->'veiculos'->>'codigo_regional',\n      elem->>'codigo_regional'\n    ) AS codigo_regional,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_cooperativa',\n      elem->'veiculos'->>'codigo_cooperativa',\n      elem->>'codigo_cooperativa'\n    ) AS codigo_cooperativa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_voluntario',\n      elem->'veiculos'->>'codigo_voluntario',\n      elem->>'codigo_voluntario'\n    ) AS codigo_voluntario,\n\n    elem->>'codigo_banco' AS codigo_banco,\n    elem->>'mes_referente' AS mes_referente,\n\n    COALESCE(\n      elem->'veiculos'->0->>'situacao_veiculo',\n      elem->'veiculos'->>'situacao_veiculo'\n    ) AS situacao_veiculo,\n\n    elem->>'tipo_veiculo' AS tipo_veiculo,\n    elem->>'categoria_veiculo' AS categoria_veiculo,\n\n    (elem->>'pagina')::smallint AS pagina\n\n  FROM jsonb_array_elements(\n    CASE\n      WHEN left(trim($1), 1) = '[' THEN $1::jsonb\n      ELSE ('[' || trim($1, '') || ']')::jsonb\n    END\n  ) elem\n),\n\ndados AS (\n  SELECT DISTINCT ON (nosso_numero) *\n  FROM json_expand\n  WHERE nosso_numero IS NOT NULL\n)\n\nINSERT INTO public.powerBIBoletos (\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\n)\nSELECT\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\nFROM dados\nON CONFLICT (nosso_numero)\nDO UPDATE SET\n  codigo_associado = COALESCE(NULLIF(EXCLUDED.codigo_associado, ''), powerBIBoletos.codigo_associado),\n  nome_associado = COALESCE(NULLIF(EXCLUDED.nome_associado, ''), powerBIBoletos.nome_associado),\n  celular = COALESCE(NULLIF(EXCLUDED.celular, ''), powerBIBoletos.celular),\n  data_emissao = COALESCE(EXCLUDED.data_emissao, powerBIBoletos.data_emissao),\n  data_vencimento = COALESCE(EXCLUDED.data_vencimento, powerBIBoletos.data_vencimento),\n  data_vencimento_original = COALESCE(EXCLUDED.data_vencimento_original, powerBIBoletos.data_vencimento_original),\n  data_pagamento = COALESCE(EXCLUDED.data_pagamento, powerBIBoletos.data_pagamento),\n  codigo_tipo_boleto = COALESCE(NULLIF(EXCLUDED.codigo_tipo_boleto, ''), powerBIBoletos.codigo_tipo_boleto),\n  tipo_boleto = COALESCE(NULLIF(EXCLUDED.tipo_boleto, ''), powerBIBoletos.tipo_boleto),\n  codigo_situacao_boleto = COALESCE(NULLIF(EXCLUDED.codigo_situacao_boleto, ''), powerBIBoletos.codigo_situacao_boleto),\n  codigo_forma_pagamento = COALESCE(NULLIF(EXCLUDED.codigo_forma_pagamento, ''), powerBIBoletos.codigo_forma_pagamento),\n  situacao_boleto = COALESCE(NULLIF(EXCLUDED.situacao_boleto, ''), powerBIBoletos.situacao_boleto),\n\n  valor_boleto = COALESCE(EXCLUDED.valor_boleto, powerBIBoletos.valor_boleto),\n  valor_pagamento = COALESCE(EXCLUDED.valor_pagamento, powerBIBoletos.valor_pagamento),\n\n  link_boleto = COALESCE(NULLIF(EXCLUDED.link_boleto, ''), powerBIBoletos.link_boleto),\n  linha_digitavel = COALESCE(NULLIF(EXCLUDED.linha_digitavel, ''), powerBIBoletos.linha_digitavel),\n\n  placa = COALESCE(NULLIF(EXCLUDED.placa, ''), powerBIBoletos.placa),\n  modelo = COALESCE(NULLIF(EXCLUDED.modelo, ''), powerBIBoletos.modelo),\n\n  codigo_regional = COALESCE(NULLIF(EXCLUDED.codigo_regional, ''), powerBIBoletos.codigo_regional),\n  codigo_cooperativa = COALESCE(NULLIF(EXCLUDED.codigo_cooperativa, ''), powerBIBoletos.codigo_cooperativa),\n  codigo_voluntario = COALESCE(NULLIF(EXCLUDED.codigo_voluntario, ''), powerBIBoletos.codigo_voluntario),\n  codigo_banco = COALESCE(NULLIF(EXCLUDED.codigo_banco, ''), powerBIBoletos.codigo_banco),\n\n  mes_referente = COALESCE(NULLIF(EXCLUDED.mes_referente, ''), powerBIBoletos.mes_referente),\n  situacao_veiculo = COALESCE(NULLIF(EXCLUDED.situacao_veiculo, ''), powerBIBoletos.situacao_veiculo),\n\n  tipo_veiculo = COALESCE(NULLIF(EXCLUDED.tipo_veiculo, ''), powerBIBoletos.tipo_veiculo),\n  categoria_veiculo = COALESCE(NULLIF(EXCLUDED.categoria_veiculo, ''), powerBIBoletos.categoria_veiculo),\n\n  pagina = COALESCE(EXCLUDED.pagina, powerBIBoletos.pagina);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,736],"id":"ed3109ee-00a4-40f0-bd32-62e7ba4e9853","name":"gravaPowerBIBoletos","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"w4v6KMhSHceEmSSn","mode":"list","cachedResultUrl":"/workflow/w4v6KMhSHceEmSSn","cachedResultName":"WF_ATUALIZA_TOKEN_ATUALIZA_BD"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,-384],"id":"3ca8284d-9ea3-4d32-b2df-20f770933fe6","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGAAtualizaBD"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,-192],"id":"1960e0de-b5a8-4b21-80bb-acb7e97f91d4","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}}],"connections":{"If3":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"gravaTopBIBoletos","type":"main","index":0},{"node":"gravaDadosSupabase","type":"main","index":0},{"node":"gravaCRC_TITULO","type":"main","index":0},{"node":"gravaPowerBIBoletos","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"If3","type":"main","index":0}],[]]},"Execute":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all"},"staticData":null,"meta":null,"pinData":{},"versionId":"8691c6ac-1d44-4065-bd5d-2a8df586eda5","triggerCount":0,"shared":[{"createdAt":"2025-11-09T13:31:47.883Z","updatedAt":"2025-11-09T13:31:47.883Z","role":"workflow:owner","workflowId":"bXiO5bfH53DNcKZL","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}