sub_popula_erp_cor_bebeficiarios_ina-cKT6t0Xgtu4DGCfS.json
{"createdAt":"2025-11-07T16:53:56.856Z","updatedAt":"2025-11-07T21:44:53.388Z","id":"cKT6t0Xgtu4DGCfS","name":"SUB_POPULA_ERP_COR_BEBEFICIARIOS_INA","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"37825555-64b5-499e-82d2-d13e1d9fbe23","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"417d3660-1e01-40f0-8f1d-e8c997bf2d5c","name":"Stop and Error"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficiario","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"2\",\n  \"quantidade_por_pagina\": {{ $('Execute').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('Execute').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"fc155a44-ee8f-4bc2-bce6-4c70807bdcb1","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (cpf)\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd,\n    telefone,\n    telefone_celular,\n    telefone_comercial,\n    email,\n    sexo,\n    codigo_beneficiario,\n    codigo_associado,\n    cod_situacao_sga,\n    descricao_situacao_sga,\n    pagina\n  FROM json_to_recordset($1::json) AS x(\n    nome text,\n    cpf text,\n    tipo_pessoa text,\n    ddd text,\n    telefone text,\n    telefone_celular text,\n    telefone_comercial text,\n    email text,\n    sexo text,\n    codigo_beneficiario text,\n    codigo_associado text,\n    cod_situacao_sga text,\n    descricao_situacao_sga text,\n    pagina bigint\n  )\n  WHERE codigo_beneficiario IS NOT NULL\n),\n\n-- 🧩 Etapa 1: Inserção/atualização de PESSOA\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_beneficiario_sga,\n    cod_associado_sga\n  )\n  SELECT\n    nome,\n    cpf,\n    COALESCE(NULLIF(tipo_pessoa, ''), 'FISICA'),\n    ddd || telefone,\n    ddd || telefone_celular,\n    ddd || telefone_celular,\n    ddd || telefone_comercial,\n    email,\n    sexo,\n    codigo_beneficiario::bigint,\n    codigo_associado::bigint\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa = COALESCE(EXCLUDED.nome_pessoa, cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa = COALESCE(EXCLUDED.dom_tpo_pessoa, cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    whatsapp_pessoa = COALESCE(NULLIF(EXCLUDED.whatsapp_pessoa, ''), cor_pessoa.whatsapp_pessoa),\n    celular_pessoa = COALESCE(NULLIF(EXCLUDED.celular_pessoa, ''), cor_pessoa.celular_pessoa),\n    tel_comercial_pessoa = COALESCE(NULLIF(EXCLUDED.tel_comercial_pessoa, ''), cor_pessoa.tel_comercial_pessoa),\n    email_pessoa = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    dom_sexo = COALESCE(NULLIF(EXCLUDED.dom_sexo, ''), cor_pessoa.dom_sexo),\n    cod_beneficiario_sga = COALESCE(EXCLUDED.cod_beneficiario_sga, cor_pessoa.cod_beneficiario_sga),\n    cod_associado_sga = COALESCE(EXCLUDED.cod_associado_sga, cor_pessoa.cod_associado_sga)\n  RETURNING id_pessoa, cpf_cnpj_pessoa, cod_beneficiario_sga, cod_associado_sga\n),\n\n-- 🧩 Etapa 2: Inserção de BENEFICIÁRIO se ainda não existir\nbeneficiario_insert AS (\n  INSERT INTO public.cor_beneficiario (\n    id_pessoa,\n    cod_beneficiario,\n    cod_associado_sga,\n    dom_sit_beneficiario,\n    pagina\n  )\n  SELECT \n    p.id_pessoa,\n    p.cod_beneficiario_sga,\n    p.cod_associado_sga,\n    'INATIVO',\n    d.pagina\n  FROM upsert_pessoa p\n  JOIN dados d ON d.codigo_beneficiario::bigint = p.cod_beneficiario_sga\n  WHERE p.cod_beneficiario_sga IS NOT NULL\n  AND NOT EXISTS (\n    SELECT 1 FROM public.cor_beneficiario b WHERE b.id_pessoa = p.id_pessoa\n  )\n  RETURNING id_beneficiario, id_pessoa\n)\n\n-- 🧩 Etapa 3: Atualiza BENEFICIÁRIOS já existentes (não sobrescreve campos preenchidos)\nUPDATE public.cor_beneficiario b\nSET\n  cod_beneficiario = COALESCE(b.cod_beneficiario, p.cod_beneficiario_sga),\n  cod_associado_sga = COALESCE(b.cod_associado_sga, p.cod_associado_sga),\n  dom_sit_beneficiario = 'INATIVO',\n  pagina = COALESCE(d.pagina, b.pagina)\nFROM upsert_pessoa p\nJOIN dados d ON d.codigo_beneficiario::bigint = p.cod_beneficiario_sga\nWHERE b.id_pessoa = p.id_pessoa;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body.benficiarios || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"81778c40-5d41-4660-8336-3eba212f6199","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,544],"id":"62033d82-70e2-444e-8cd3-0b344dc771a4","name":"Execute"}],"connections":{"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaPessoa","type":"main","index":0}]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaPessoa":{"main":[[]]},"Execute":{"main":[[{"node":"buscaDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de88b082-077b-4a74-9357-0e168cf5e9c9","triggerCount":2,"shared":[{"createdAt":"2025-11-07T16:53:56.856Z","updatedAt":"2025-11-07T16:53:56.856Z","role":"workflow:owner","workflowId":"cKT6t0Xgtu4DGCfS","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"},{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}