sub_popula_erp_cor_veiculos_atv-Wdr074nVmK9i2JYx.json
{"createdAt":"2025-12-09T18:50:36.063Z","updatedAt":"2026-01-13T16:31:58.399Z","id":"Wdr074nVmK9i2JYx","name":"SUB_POPULA_ERP_COR_VEICULOS_ATV","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7c5985f0-0af6-41b3-a794-035f233f27ea","leftValue":"={{ $json.error }}","rightValue":"aborted","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"50ad0b19-4eb5-4b31-a458-24d4d17af46c","leftValue":"={{ $json.error.status }}","rightValue":"500","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"fbe67087-e532-4260-910e-0d2af08388f5","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"76b45b4a-a466-4471-99c7-8c1e4c7a25a7","name":"Stop and Error"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/veiculo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": {{ $('Execute').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('Execute').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"72165eee-b604-4423-b95b-1ca507f7970c","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"-- ============================================================\n-- IMPORTAÇÃO DE VEÍCULOS (recebe $1 como ARRAY de veículos JSON)\n-- ============================================================\n\n-- 0) tabelas de controle (idempotente)\nCREATE TABLE IF NOT EXISTS import_log_veiculos (\n    id_log       SERIAL PRIMARY KEY,\n    run_ts       TIMESTAMP NOT NULL,\n    id_veiculo   BIGINT NULL,\n    payload      JSONB NULL,\n    issue        TEXT NOT NULL,\n    created_at   TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS import_run_veiculos (\n    id_run SERIAL PRIMARY KEY,\n    run_ts TIMESTAMP NOT NULL DEFAULT NOW(),\n    note TEXT\n);\n\n-- Pipeline\nWITH \n-- 1) registra a execução\nrun AS (\n    INSERT INTO import_run_veiculos (run_ts) VALUES (now()) RETURNING id_run, run_ts\n),\n\n-- 2) garante que $1 é um array jsonb\nentrada AS (\n    SELECT CASE\n             WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n             ELSE jsonb_build_array($1::jsonb)\n           END AS js\n),\n\n-- 3) explode veículos (cada elemento é um objeto veiculo)\nraw AS (\n    SELECT jsonb_array_elements(js) AS veiculo\n    FROM entrada\n),\n\n-- 4) normaliza campos e transforma textos em MAIÚSCULAS\nnorm AS (\n    SELECT\n        NULLIF(veiculo->>'codigo_veiculo','')::bigint            AS id_veiculo,\n        NULLIF(veiculo->>'codigo_associado','')::bigint          AS cod_associado,\n        NULLIF(veiculo->>'codigo_modelo','')::bigint             AS id_modelo,\n\n        -- textos em maiúsculas\n        UPPER(veiculo->>'nome_associado')                        AS nome_proprietario,\n        UPPER(veiculo->>'cpf_associado')                         AS cpf_cnpj,\n\n        UPPER( (veiculo->>'ano_modelo') )                        AS ano_modelo,\n        UPPER( (veiculo->>'ano_fabricacao') )                    AS ano_fabricacao,\n\n        UPPER(veiculo->>'placa')                                 AS num_placa,\n        UPPER(veiculo->>'renavam')                               AS num_renavam,\n        UPPER(veiculo->>'chassi')                                AS num_chassi,\n\n        (veiculo->>'codigo_tipo')::int                           AS cod_tpo_veic,\n        (veiculo->>'codigo_classificacao')::int                  AS cod_classificacao_veic,\n        (veiculo->>'codigo_combustivel')::int                    AS cod_combustivel,\n        (veiculo->>'codigo_cor')::int                            AS cod_cor,\n        (veiculo->>'codigo_situacao')::int                       AS cod_sit,\n\n        NULLIF(veiculo->>'data_contrato','')::timestamp          AS dth_ini_vigencia,\n        NULLIF(veiculo->>'data_contrato_final','')::timestamp    AS dth_fim_vigencia,\n        NULLIF(veiculo->>'data_cadastro','')::timestamp          AS dth_cad_veiculo,\n        NULLIF(veiculo->>'data_reativacao','')::timestamp        AS dth_atv_veiculo,\n\n        UPPER(veiculo->>'codigo_fipe')                           AS cod_fipe,\n        NULLIF(veiculo->>'valor_fipe','')::numeric               AS valor_fipe,\n        NULLIF(veiculo->>'valor_fipe_protegido','')::numeric     AS valor_ajustado,\n\n        -- SGA fields (guardamos como bigint quando possível)\n        NULLIF(veiculo->>'codigo_regional','')::bigint           AS sga_codigo_regional,\n        NULLIF(veiculo->>'codigo_cooperativa','')::bigint        AS sga_codigo_cooperativa,\n        veiculo->>'codigo_voluntario'                            AS sga_codigo_voluntario_text,\n\n        -- mantemos payload original para logs\n        veiculo AS payload,\n        -- campo auxiliar para deduplicação (preferir registro mais recente)\n        veiculo->>'data_alteracao'                               AS data_alteracao_text\n    FROM raw\n),\n\n-- 5) busca id_pessoa do associado (se existir)\njoin_associado AS (\n    SELECT n.*, a.id_pessoa\n    FROM norm n\n    LEFT JOIN cor_associado a\n           ON a.cod_associado = n.cod_associado\n),\n\n-- 6) busca id_colaborador a partir do código_voluntario (comparando texto)\njoin_colaborador AS (\n    SELECT j.*,\n           c.id_colaborador\n    FROM join_associado j\n    LEFT JOIN cor_colaborador c\n           ON c.cod_colaborador = j.sga_codigo_voluntario_text\n),\n\n-- 7) resolve domínios (traz valor textual do domínio)\nresolve_dom AS (\n    SELECT \n        jc.*,\n        tpo.val_dominio  AS dom_tpo_veic,\n        cat.val_dominio  AS dom_cat_veic,\n        comb.val_dominio AS dom_combustivel,\n        cor.val_dominio  AS dom_cor,\n        sit.val_dominio  AS dom_sit_veic\n    FROM join_colaborador jc\n    LEFT JOIN cor_val_dominio tpo\n           ON tpo.id_dominio = 'DOM_TPO_VEICULO' AND tpo.seq_dominio = jc.cod_tpo_veic\n    LEFT JOIN cor_val_dominio cat\n           ON cat.id_dominio = 'DOM_CLASSIFICACAO_VEICULO' AND cat.seq_dominio = jc.cod_classificacao_veic\n    LEFT JOIN cor_val_dominio comb\n           ON comb.id_dominio = 'DOM_COMBUSTIVEL' AND comb.seq_dominio = jc.cod_combustivel\n    LEFT JOIN cor_val_dominio cor\n           ON cor.id_dominio = 'DOM_COR' AND cor.seq_dominio = jc.cod_cor\n    LEFT JOIN cor_val_dominio sit\n           ON sit.id_dominio = 'DOM_SIT_VEICULO' AND sit.seq_dominio = jc.cod_sit\n),\n\n-- 8) detecta inconsistências (domínios não encontrados)\ninvalids AS (\n    SELECT\n        r.*,\n        CASE\n            WHEN r.cod_combustivel IS NOT NULL AND r.dom_combustivel IS NULL THEN 'DOM_COMBUSTIVEL not found seq='||r.cod_combustivel\n            WHEN r.cod_cor IS NOT NULL AND r.dom_cor IS NULL THEN 'DOM_COR not found seq='||r.cod_cor\n            WHEN r.cod_tpo_veic IS NOT NULL AND r.dom_tpo_veic IS NULL THEN 'DOM_TPO_VEICULO not found seq='||r.cod_tpo_veic\n            WHEN r.cod_classificacao_veic IS NOT NULL AND r.dom_cat_veic IS NULL THEN 'DOM_CLASSIFICACAO_VEICULO not found seq='||r.cod_classificacao_veic\n            WHEN r.cod_sit IS NOT NULL AND r.dom_sit_veic IS NULL THEN 'DOM_SIT_VEICULO not found seq='||r.cod_sit\n            ELSE NULL\n        END AS issue\n    FROM resolve_dom r\n    WHERE\n        (r.cod_combustivel IS NOT NULL AND r.dom_combustivel IS NULL)\n     OR (r.cod_cor IS NOT NULL AND r.dom_cor IS NULL)\n     OR (r.cod_tpo_veic IS NOT NULL AND r.dom_tpo_veic IS NULL)\n     OR (r.cod_classificacao_veic IS NOT NULL AND r.dom_cat_veic IS NULL)\n     OR (r.cod_sit IS NOT NULL AND r.dom_sit_veic IS NULL)\n),\n\n-- 9) grava logs de inconsistências (se houver)\nlog_insert AS (\n    INSERT INTO import_log_veiculos (run_ts, id_veiculo, payload, issue)\n    SELECT (SELECT run_ts FROM run), id_veiculo, payload, issue\n    FROM invalids\n    RETURNING id_log\n),\n\n-- 10) seleciona apenas os registros válidos (exclui inconsistentes)\nvalid_raw AS (\n    SELECT *\n    FROM resolve_dom r\n    WHERE NOT EXISTS (SELECT 1 FROM invalids i WHERE i.id_veiculo = r.id_veiculo)\n),\n\n-- 11) aqui tratamos duplicatas dentro do lote: para evitar\n--     \"ON CONFLICT DO UPDATE command cannot affect row a second time\"\n--     pegamos DISTINCT ON (id_veiculo) e preferimos o registro\n--     com maior data_alteracao (se houver), fallback arbitrário.\nvalid AS (\n    SELECT DISTINCT ON (id_veiculo)\n           id_veiculo, id_pessoa, id_modelo,\n           nome_proprietario, cpf_cnpj,\n           ano_modelo, ano_fabricacao,\n           num_placa, num_renavam, num_chassi,\n           dom_tpo_veic, dom_combustivel, dom_cor, dom_sit_veic,\n           dth_ini_vigencia, dth_fim_vigencia, dth_cad_veiculo, dth_atv_veiculo,\n           cod_fipe, valor_fipe, valor_ajustado,\n           id_colaborador, sga_codigo_regional, sga_codigo_cooperativa, sga_codigo_voluntario_text AS sga_codigo_voluntario,\n           payload, data_alteracao_text\n    FROM valid_raw\n    ORDER BY id_veiculo, -- garante DISTINCT ON funcione\n             (CASE WHEN data_alteracao_text IS NULL THEN to_timestamp('1970-01-01','YYYY-MM-DD') ELSE NULL END),\n             data_alteracao_text DESC NULLS LAST\n),\n\n-- 12) UPSERT final - um único INSERT com fonte já deduplicada\nupsert AS (\n    INSERT INTO cor_veiculo (\n        ID_VEICULO, ID_PESSOA, ID_MODELO,\n        NOME_PROPRIETARIO, CPF_CNPJ,\n        ANO_MODELO, ANO_FABRICACAO, NUM_PLACA, NUM_RENAVAM, NUM_CHASSI,\n        DOM_TPO_VEICULO, DOM_TPO_COMBUSTIVEL,\n        DOM_COR, DOM_SIT_VEICULO,\n        DTH_INI_VIGENCIA, DTH_FIM_VIGENCIA, DTH_CAD_VEICULO, DTH_ATV_VEICULO,\n        COD_FIPE, VALOR_FIPE, VALOR_AJUSTADO,\n        ID_COLABORADOR, SGA_CODIGO_REGIONAL, SGA_CODIGO_COOPERATIVA, SGA_CODIGO_VOLUNTARIO\n    )\n    SELECT\n        id_veiculo,\n        id_pessoa,\n        id_modelo,\n        nome_proprietario,\n        cpf_cnpj,\n        ano_modelo,\n        ano_fabricacao,\n        num_placa,\n        num_renavam,\n        num_chassi,\n        dom_tpo_veic,\n        dom_combustivel,\n        dom_cor,\n        dom_sit_veic,\n        dth_ini_vigencia,\n        dth_fim_vigencia,\n        dth_cad_veiculo,\n        dth_atv_veiculo,\n        cod_fipe,\n        valor_fipe,\n        valor_ajustado,\n        id_colaborador,\n        sga_codigo_regional,\n        sga_codigo_cooperativa,\n        -- guarda o código voluntario como bigint quando for possível\n        CASE WHEN sga_codigo_voluntario ~ '^[0-9]+$' THEN sga_codigo_voluntario::bigint ELSE NULL END\n    FROM valid\n    ON CONFLICT (ID_VEICULO)\n    DO UPDATE SET\n        ID_PESSOA = EXCLUDED.ID_PESSOA,\n        ID_MODELO = EXCLUDED.ID_MODELO,\n        NOME_PROPRIETARIO = EXCLUDED.NOME_PROPRIETARIO,\n        CPF_CNPJ = EXCLUDED.CPF_CNPJ,\n        ANO_MODELO = EXCLUDED.ANO_MODELO,\n        ANO_FABRICACAO = EXCLUDED.ANO_FABRICACAO,\n        NUM_PLACA = EXCLUDED.NUM_PLACA,\n        NUM_RENAVAM = EXCLUDED.NUM_RENAVAM,\n        NUM_CHASSI = EXCLUDED.NUM_CHASSI,\n        DOM_TPO_VEICULO = EXCLUDED.DOM_TPO_VEICULO,\n        DOM_TPO_COMBUSTIVEL = EXCLUDED.DOM_TPO_COMBUSTIVEL,\n        DOM_COR = EXCLUDED.DOM_COR,\n        DOM_SIT_VEICULO = EXCLUDED.DOM_SIT_VEICULO,\n        VALOR_FIPE = EXCLUDED.VALOR_FIPE,\n        VALOR_AJUSTADO = EXCLUDED.VALOR_AJUSTADO,\n        ID_COLABORADOR = EXCLUDED.ID_COLABORADOR,\n        SGA_CODIGO_REGIONAL = EXCLUDED.SGA_CODIGO_REGIONAL,\n        SGA_CODIGO_COOPERATIVA = EXCLUDED.SGA_CODIGO_COOPERATIVA,\n        SGA_CODIGO_VOLUNTARIO = EXCLUDED.SGA_CODIGO_VOLUNTARIO,\n        DTH_ATV_VEICULO = EXCLUDED.DTH_ATV_VEICULO\n    RETURNING (xmax = 0) AS inserted, (xmax <> 0) AS updated\n),\n\n-- 13) estatísticas\nstats AS (\n    SELECT\n        COALESCE(SUM(CASE WHEN inserted THEN 1 ELSE 0 END),0) AS total_inseridos,\n        COALESCE(SUM(CASE WHEN updated THEN 1 ELSE 0 END),0) AS total_atualizados,\n        (SELECT COUNT(*) FROM invalids) AS total_inconsistentes\n    FROM upsert\n)\n\nSELECT \n    total_inseridos,\n    total_atualizados,\n    total_inconsistentes,\n    (\n        SELECT jsonb_agg(jsonb_build_object(\n            'id_veiculo', id_veiculo,\n            'issue', issue,\n            'payload', payload\n        ))\n        FROM invalids LIMIT 50\n    ) AS sample_inconsistencias\nFROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body.veiculos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"c50a0ca1-8268-4991-a2cc-9784d2ca3912","name":"gravaDados","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-512,544],"id":"4ff21e5b-b616-4eea-b4f2-f64e010378be","name":"Execute"},{"parameters":{"operation":"executeQuery","query":"-- 0) Criar tabelas de log / controle (idempotente)\nCREATE TABLE IF NOT EXISTS import_log_veiculos (\n    id_log       SERIAL PRIMARY KEY,\n    run_ts       TIMESTAMP NOT NULL,\n    id_veiculo   BIGINT NULL,\n    payload      JSONB NULL,\n    issue        TEXT NOT NULL,\n    created_at   TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS import_run_veiculos (\n    id_run SERIAL PRIMARY KEY,\n    run_ts TIMESTAMP NOT NULL DEFAULT NOW(),\n    note TEXT\n);\n\n-- =============================================\n--      1) PIPELINE DE IMPORTAÇÃO\n-- =============================================\nWITH \nrun AS (\n    INSERT INTO import_run_veiculos (run_ts)\n    VALUES (now())\n    RETURNING id_run, run_ts\n),\n\nentrada AS (\n    SELECT \n        CASE WHEN jsonb_typeof($1::jsonb) = 'array'\n             THEN $1::jsonb\n             ELSE jsonb_build_array($1::jsonb)\n        END AS js\n),\n\n-- 🔥 Agora explode APENAS a lista de veículos\nraw AS (\n    SELECT jsonb_array_elements(js) AS elem\n    FROM entrada\n),\n\nnorm AS (\n    SELECT\n        -- PK\n        NULLIF(elem->>'codigo_veiculo','')::bigint AS id_veiculo,\n\n        -- Pessoa associada\n        NULLIF(elem->>'codigo_associado','')::bigint AS cod_associado,\n\n        -- modelo\n        NULLIF(elem->>'codigo_modelo','')::bigint AS id_modelo,\n\n        -- proprietário\n        elem->>'nome_associado' AS nome_proprietario,\n        elem->>'cpf_associado'  AS cpf_cnpj,\n\n        -- anos\n        elem->>'ano_modelo'      AS ano_modelo,\n        elem->>'ano_fabricacao'  AS ano_fabricacao,\n\n        -- identificadores físicos\n        elem->>'placa'   AS num_placa,\n        elem->>'renavam' AS num_renavam,\n        elem->>'chassi'  AS num_chassi,\n\n        -- códigos dos domínios\n        (elem->>'codigo_tipo')::int             AS cod_tpo_veic,\n        (elem->>'codigo_classificacao')::int    AS cod_classificacao_veic,\n        (elem->>'codigo_combustivel')::int      AS cod_combustivel,\n        (elem->>'codigo_cor')::int              AS cod_cor,\n        (elem->>'codigo_situacao')::int         AS cod_sit,\n\n        -- datas\n        NULLIF(elem->>'data_contrato','')::timestamp        AS dth_ini_vigencia,\n        NULLIF(elem->>'data_contrato_final','')::timestamp  AS dth_fim_vigencia,\n        NULLIF(elem->>'data_cadastro','')::timestamp        AS dth_cad_veiculo,\n        NULLIF(elem->>'data_reativacao','')::timestamp      AS dth_atv_veiculo,\n\n        -- valores financeiros\n        elem->>'codigo_fipe'                       AS cod_fipe,\n        NULLIF(elem->>'valor_fipe','')::numeric    AS valor_fipe,\n        NULLIF(elem->>'valor_fipe_protegido','')::numeric AS valor_ajustado,\n\n        elem AS payload\n    FROM raw\n),\n\n-- Junta associado\njoin_associado AS (\n    SELECT n.*, a.id_pessoa\n    FROM norm n\n    LEFT JOIN cor_associado a\n           ON a.cod_associado = n.cod_associado\n),\n\n-- Resolvido dos domínios\nresolve_dom AS (\n    SELECT j.*,\n\n        tpo.val_dominio AS dom_tpo_veic,\n        cat.val_dominio AS dom_cat_veic,\n        comb.val_dominio AS dom_combustivel,\n        cor.val_dominio AS dom_cor,\n        sit.val_dominio AS dom_sit_veic\n\n    FROM join_associado j\n    LEFT JOIN cor_val_dominio tpo\n        ON tpo.id_dominio = 'DOM_TPO_VEICULO'\n       AND tpo.seq_dominio = j.cod_tpo_veic\n\n    LEFT JOIN cor_val_dominio cat\n        ON cat.id_dominio = 'DOM_CLASSIFICACAO_VEICULO'\n       AND cat.seq_dominio = j.cod_classificacao_veic\n\n    LEFT JOIN cor_val_dominio comb\n        ON comb.id_dominio = 'DOM_COMBUSTIVEL'\n       AND comb.seq_dominio = j.cod_combustivel\n\n    LEFT JOIN cor_val_dominio cor\n        ON cor.id_dominio = 'DOM_COR'\n       AND cor.seq_dominio = j.cod_cor\n\n    LEFT JOIN cor_val_dominio sit\n        ON sit.id_dominio = 'DOM_SIT_VEICULO'\n       AND sit.seq_dominio = j.cod_sit\n),\n\n-- Detecta inconsistências\ninvalids AS (\n    SELECT\n        r.*,\n        CASE\n            WHEN r.cod_combustivel IS NOT NULL AND r.dom_combustivel IS NULL THEN 'DOM_COMBUSTIVEL not found seq='||r.cod_combustivel\n            WHEN r.cod_cor IS NOT NULL AND r.dom_cor IS NULL THEN 'DOM_COR not found seq='||r.cod_cor\n            WHEN r.cod_tpo_veic IS NOT NULL AND r.dom_tpo_veic IS NULL THEN 'DOM_TPO_VEICULO not found seq='||r.cod_tpo_veic\n            WHEN r.cod_classificacao_veic IS NOT NULL AND r.cod_classificacao_veic IS NULL THEN 'DOM_CLASSIFICACAO_VEICULO not found seq='||r.cod_classificacao_veic\n            WHEN r.cod_sit IS NOT NULL AND r.dom_sit_veic IS NULL THEN 'DOM_SIT_VEICULO not found seq='||r.cod_sit\n            ELSE NULL\n        END AS issue\n    FROM resolve_dom r\n    WHERE\n        (r.cod_combustivel IS NOT NULL AND r.dom_combustivel IS NULL)\n     OR (r.cod_cor IS NOT NULL AND r.dom_cor IS NULL)\n     OR (r.cod_tpo_veic IS NOT NULL AND r.dom_tpo_veic IS NULL)\n     OR (r.cod_classificacao_veic IS NOT NULL AND r.cod_classificacao_veic IS NULL)\n     OR (r.cod_sit IS NOT NULL AND r.dom_sit_veic IS NULL)\n),\n\n-- Grava inconsistências\nlog_insert AS (\n    INSERT INTO import_log_veiculos (run_ts, id_veiculo, payload, issue)\n    SELECT (SELECT run_ts FROM run), id_veiculo, payload, issue\n    FROM invalids\n    RETURNING id_log\n),\n\nvalid AS (\n    SELECT *\n    FROM resolve_dom r\n    WHERE NOT EXISTS (\n        SELECT 1 FROM invalids i WHERE i.id_veiculo = r.id_veiculo\n    )\n),\n\n-- UPSERT\nupsert AS (\n    INSERT INTO cor_veiculo (\n        ID_VEICULO, ID_PESSOA, ID_MODELO,\n        NOME_PROPRIETARIO, CPF_CNPJ,\n        ANO_MODELO, ANO_FABRICACAO, NUM_PLACA, NUM_RENAVAM, NUM_CHASSI,\n        DOM_TPO_VEICULO, DOM_TPO_COMBUSTIVEL,\n        DOM_COR, DOM_SIT_VEICULO,\n        DTH_INI_VIGENCIA, DTH_FIM_VIGENCIA, DTH_CAD_VEICULO, DTH_ATV_VEICULO,\n        COD_FIPE, VALOR_FIPE, VALOR_AJUSTADO\n    )\n    SELECT\n        id_veiculo,\n        id_pessoa,\n        id_modelo,\n        nome_proprietario,\n        cpf_cnpj,\n        ano_modelo,\n        ano_fabricacao,\n        num_placa,\n        num_renavam,\n        num_chassi,\n        dom_tpo_veic,\n        dom_combustivel,\n        dom_cor,\n        dom_sit_veic,\n        dth_ini_vigencia,\n        dth_fim_vigencia,\n        dth_cad_veiculo,\n        dth_atv_veiculo,\n        cod_fipe,\n        valor_fipe,\n        valor_ajustado\n    FROM valid\n    ON CONFLICT (ID_VEICULO)\n    DO UPDATE SET\n        ID_PESSOA = EXCLUDED.ID_PESSOA,\n        ID_MODELO = EXCLUDED.ID_MODELO,\n        NOME_PROPRIETARIO = EXCLUDED.NOME_PROPRIETARIO,\n        CPF_CNPJ = EXCLUDED.CPF_CNPJ,\n        ANO_MODELO = EXCLUDED.ANO_MODELO,\n        ANO_FABRICACAO = EXCLUDED.ANO_FABRICACAO,\n        NUM_PLACA = EXCLUDED.NUM_PLACA,\n        NUM_RENAVAM = EXCLUDED.NUM_RENAVAM,\n        NUM_CHASSI = EXCLUDED.NUM_CHASSI,\n        DOM_TPO_VEICULO = EXCLUDED.DOM_TPO_VEICULO,\n        DOM_TPO_COMBUSTIVEL = EXCLUDED.DOM_TPO_COMBUSTIVEL,\n        DOM_COR = EXCLUDED.DOM_COR,\n        DOM_SIT_VEICULO = EXCLUDED.DOM_SIT_VEICULO,\n        VALOR_FIPE = EXCLUDED.VALOR_FIPE,\n        VALOR_AJUSTADO = EXCLUDED.VALOR_AJUSTADO\n    RETURNING (xmax = 0) AS inserted, (xmax <> 0) AS updated\n),\n\nstats AS (\n    SELECT\n        COALESCE(SUM(CASE WHEN inserted THEN 1 ELSE 0 END),0) AS total_inseridos,\n        COALESCE(SUM(CASE WHEN updated THEN 1 ELSE 0 END),0) AS total_atualizados,\n        (SELECT COUNT(*) FROM invalids) AS total_inconsistentes\n    FROM upsert\n)\n\nSELECT \n    total_inseridos,\n    total_atualizados,\n    total_inconsistentes,\n    (\n        SELECT jsonb_agg(jsonb_build_object(\n            'id_veiculo', id_veiculo,\n            'issue', issue,\n            'payload', payload\n        ))\n        FROM invalids LIMIT 50\n    ) AS sample_inconsistencias\nFROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body.veiculos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,352],"id":"3a5d8375-34db-4400-aba3-b35d414ef9d7","name":"gravaDados1","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaDados","type":"main","index":0}]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaDados":{"main":[[]]},"Execute":{"main":[[{"node":"buscaDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"buscaDados":[{"json":{"error":"aborted"}}]},"versionId":"8f0c1a0a-764c-4875-ae15-4a1dfb5d74ef","triggerCount":2,"shared":[{"createdAt":"2025-12-09T18:50:36.063Z","updatedAt":"2025-12-09T18:50:36.063Z","role":"workflow:owner","workflowId":"Wdr074nVmK9i2JYx","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"},{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}