sub_popula_erp_cor_associados_atv-uThx8BGbKZsqeNtB.json
{"createdAt":"2025-11-09T12:26:38.031Z","updatedAt":"2025-11-09T20:04:46.293Z","id":"uThx8BGbKZsqeNtB","name":"SUB_POPULA_ERP_COR_ASSOCIADOS_ATV","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"a2f2b199-b166-4e0d-8596-81191b0838c3","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"ccf5b330-f9ee-420d-887a-53ac3db21e57","name":"Stop and Error"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": {{ $('Execute').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('Execute').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"74792a61-c42f-4cb5-811c-822896397e23","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (cpf)\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd,\n    telefone,\n    telefone_celular,\n    telefone_comercial,\n    email,\n    sexo,\n    codigo_associado\n  FROM json_to_recordset($1::json) AS x(\n    nome text,\n    cpf text,\n    tipo_pessoa text,\n    ddd text,\n    telefone text,\n    telefone_celular text,\n    telefone_comercial text,\n    email text,\n    sexo text,\n    codigo_associado text\n  )\n  WHERE codigo_associado IS NOT NULL\n),\n\n-- 🧩 Insere/atualiza pessoas\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_associado_sga\n  )\n  SELECT\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd || telefone,\n    ddd || telefone_celular,\n    ddd || telefone_celular,\n    ddd || telefone_comercial,\n    email,\n    sexo,\n    codigo_associado::bigint\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa = COALESCE(EXCLUDED.nome_pessoa, cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa = COALESCE(EXCLUDED.dom_tpo_pessoa, cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    whatsapp_pessoa = COALESCE(NULLIF(EXCLUDED.whatsapp_pessoa, ''), cor_pessoa.whatsapp_pessoa),\n    celular_pessoa = COALESCE(NULLIF(EXCLUDED.celular_pessoa, ''), cor_pessoa.celular_pessoa),\n    tel_comercial_pessoa = COALESCE(NULLIF(EXCLUDED.tel_comercial_pessoa, ''), cor_pessoa.tel_comercial_pessoa),\n    email_pessoa = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    dom_sexo = COALESCE(NULLIF(EXCLUDED.dom_sexo, ''), cor_pessoa.dom_sexo),\n    cod_associado_sga = COALESCE(EXCLUDED.cod_associado_sga, cor_pessoa.cod_associado_sga)\n  RETURNING id_pessoa, cpf_cnpj_pessoa, cod_associado_sga\n),\n\n-- 🧩 Cria associados novos\nassociado_insert AS (\n  INSERT INTO public.cor_associado (\n    id_pessoa,\n    dom_cat_associado,\n    dom_sit_associado\n  )\n  SELECT p.id_pessoa, 'Associado', 'Ativo'\n  FROM upsert_pessoa p\n  WHERE p.cod_associado_sga IS NOT NULL\n  AND NOT EXISTS (\n    SELECT 1 FROM public.cor_associado a WHERE a.id_pessoa = p.id_pessoa\n  )\n  RETURNING id_associado, id_pessoa\n)\n\n-- 🧩 Atualiza associados existentes\nUPDATE public.cor_associado ca\nSET\n  dom_cat_associado = COALESCE(ca.dom_cat_associado, 'Associado'),\n  dom_sit_associado = CASE\n    WHEN ca.dom_sit_associado IS DISTINCT FROM 'Ativo' THEN 'Ativo'\n    ELSE ca.dom_sit_associado\n  END\nWHERE ca.id_pessoa IN (SELECT id_pessoa FROM upsert_pessoa);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body.associados || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"e174879b-d05c-41cc-b6c6-29411c875d60","name":"gravaDados","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-512,544],"id":"5b2dfd32-411e-49f8-bb84-d06af432985e","name":"Execute"}],"connections":{"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaDados","type":"main","index":0}]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaDados":{"main":[[]]},"Execute":{"main":[[{"node":"buscaDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a32d9a1a-46cb-49ed-87c8-52986a561d2a","triggerCount":2,"shared":[{"createdAt":"2025-11-09T12:26:38.031Z","updatedAt":"2025-11-09T12:26:38.031Z","role":"workflow:owner","workflowId":"uThx8BGbKZsqeNtB","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}