sub_popula_erp_cor_associados_cpfcnpj-P7xaEeBRUr5s7bwl.json
{"createdAt":"2025-12-12T14:08:29.244Z","updatedAt":"2025-12-12T18:53:47.978Z","id":"P7xaEeBRUr5s7bwl","name":"SUB_POPULA_ERP_COR_ASSOCIADOS_CPFCNPJ","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"5ab530c6-ff3b-434c-b490-812c75264e07","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"bae477d4-ba30-4aeb-903b-79999fcec19b","name":"Stop and Error"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/buscar/{{ $('Execute').item.json.cpfcnpj }}/cpf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"e0bb559e-e34a-47a3-a880-494db7f9eeb5","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (cpf)\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd,\n    telefone,\n    telefone_celular,\n    telefone_celular_auxiliar,\n    email,\n    sexo,\n    codigo_associado,\n    data_nascimento,\n    data_cadastro_associado,\n    data_contrato_associado,\n    hora_contrato_associado,\n    codigo_regional,\n    codigo_cooperativa,\n    codigo_voluntario\n    FROM json_to_recordset(\n      (\n        SELECT ('[' || string_agg(elem::text, ',') || ']')::json\n        FROM (\n          SELECT value AS elem\n          FROM json_array_elements(\n            CASE \n              WHEN left($1::text,1)='[' THEN $1::json \n              ELSE ('['||$1::text||']')::json \n            END\n          )\n        ) AS sub\n      )\n    ) AS x(\n        nome text,\n        cpf text,\n        tipo_pessoa text,\n        ddd text,\n        telefone text,\n        telefone_celular text,\n        telefone_celular_auxiliar text,\n        email text,\n        sexo text,\n        codigo_associado text,\n        data_nascimento text,\n        data_cadastro_associado text,\n        data_contrato_associado text,\n        hora_contrato_associado text,\n        codigo_regional text,\n        codigo_cooperativa text,\n        codigo_voluntario text\n    )\n  WHERE codigo_associado IS NOT NULL\n),\n\n-- 🧩 Insere/Atualiza cor_pessoa com tratamento de telefones + datas\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_associado_sga,\n    dat_nasc_pessoa\n  )\n  SELECT\n    nome,\n    regexp_replace(coalesce(cpf, ''), '[^0-9]', '', 'g') AS cpf_limpo,\n    tipo_pessoa,\n\n    -- TELEFONE CONCATENADO SEM DDD DUPLICADO\n    CASE\n      WHEN length(regexp_replace(telefone, '[^0-9]', '', 'g')) >= 10\n        THEN regexp_replace(telefone, '[^0-9]', '', 'g')\n      ELSE CONCAT(\n            COALESCE(NULLIF(ddd,''), ''),\n            regexp_replace(telefone, '[^0-9]', '', 'g')\n           )\n    END AS telefone_pessoa,\n\n    -- WHATSAPP\n    CASE\n      WHEN length(regexp_replace(telefone_celular, '[^0-9]', '', 'g')) >= 10\n        THEN regexp_replace(telefone_celular, '[^0-9]', '', 'g')\n      ELSE CONCAT(\n            COALESCE(NULLIF(ddd,''), ''),\n            regexp_replace(telefone_celular, '[^0-9]', '', 'g')\n           )\n    END AS whatsapp_pessoa,\n\n    -- CELULAR\n    CASE\n      WHEN length(regexp_replace(telefone_celular, '[^0-9]', '', 'g')) >= 10\n        THEN regexp_replace(telefone_celular, '[^0-9]', '', 'g')\n      ELSE CONCAT(\n            COALESCE(NULLIF(ddd,''), ''),\n            regexp_replace(telefone_celular, '[^0-9]', '', 'g')\n           )\n    END AS celular_pessoa,\n\n    -- TELEFONE COMERCIAL\n    CASE\n      WHEN length(regexp_replace(telefone_celular_auxiliar, '[^0-9]', '', 'g')) >= 10\n        THEN regexp_replace(telefone_celular_auxiliar, '[^0-9]', '', 'g')\n      ELSE CONCAT(\n            COALESCE(NULLIF(ddd,''), ''),\n            regexp_replace(telefone_celular_auxiliar, '[^0-9]', '', 'g')\n           )\n    END AS tel_comercial_pessoa,\n\n    email,\n    sexo,\n    codigo_associado::bigint,\n\n    -- TRATAMENTO DE DATA DE NASCIMENTO\n    CASE\n      WHEN TRIM(COALESCE(data_nascimento, '')) = '' THEN NULL\n      WHEN TRIM(data_nascimento) ~ '^\\d{4}-\\d{2}-\\d{2}T' \n        THEN SUBSTRING(TRIM(data_nascimento) FROM '^\\d{4}-\\d{2}-\\d{2}')::date\n      WHEN TRIM(data_nascimento) ~ '^\\d{4}-\\d{2}-\\d{2}$' \n        THEN TRIM(data_nascimento)::date\n      WHEN TRIM(data_nascimento) ~ '^\\d{2}/\\d{2}/\\d{4}$' \n        THEN to_date(TRIM(data_nascimento), 'DD/MM/YYYY')\n      ELSE NULL\n    END\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa            = COALESCE(NULLIF(EXCLUDED.nome_pessoa, ''), cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa         = COALESCE(NULLIF(EXCLUDED.dom_tpo_pessoa, ''), cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa        = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    whatsapp_pessoa        = COALESCE(NULLIF(EXCLUDED.whatsapp_pessoa, ''), cor_pessoa.whatsapp_pessoa),\n    celular_pessoa         = COALESCE(NULLIF(EXCLUDED.celular_pessoa, ''), cor_pessoa.celular_pessoa),\n    tel_comercial_pessoa   = COALESCE(NULLIF(EXCLUDED.tel_comercial_pessoa, ''), cor_pessoa.tel_comercial_pessoa),\n    email_pessoa           = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    dom_sexo               = COALESCE(NULLIF(EXCLUDED.dom_sexo, ''), cor_pessoa.dom_sexo),\n    cod_associado_sga      = COALESCE(EXCLUDED.cod_associado_sga, cor_pessoa.cod_associado_sga),\n    dat_nasc_pessoa        = COALESCE(EXCLUDED.dat_nasc_pessoa, cor_pessoa.dat_nasc_pessoa)\n  RETURNING id_pessoa, cpf_cnpj_pessoa, cod_associado_sga\n),\n\n-- 🧩 Insere associados novos\nassociado_insert AS (\n  INSERT INTO public.cor_associado (\n    id_pessoa, id_empresa, id_indicador, cod_associado, url_foto,\n    dom_cat_associado, dom_sit_associado, dth_cadastro, dth_ingresso,\n    dth_desligamento, dom_mot_inativo, id_regional, id_cooperativa, id_voluntario\n  )\n  SELECT\n    p.id_pessoa,\n    NULL, NULL,\n    p.cod_associado_sga,\n    NULL,\n    'Associado', 'Ativo',\n    NOW(),\n    CASE\n      WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> '' \n        AND TRIM(COALESCE(d.hora_contrato_associado, '')) <> ''\n        THEN to_timestamp(d.data_contrato_associado || ' ' || d.hora_contrato_associado, 'YYYY-MM-DD HH24:MI:SS')\n      WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> ''\n        THEN d.data_contrato_associado::date\n      ELSE NULL\n    END,\n    NULL, NULL,\n    NULLIF(d.codigo_regional, '')::bigint,\n    NULLIF(d.codigo_cooperativa, '')::bigint,\n    NULLIF(d.codigo_voluntario, '')::bigint\n  FROM upsert_pessoa p\n  JOIN dados d ON d.codigo_associado = p.cod_associado_sga::text\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_associado a WHERE a.id_pessoa = p.id_pessoa\n  )\n  RETURNING id_associado, id_pessoa\n),\n\n-- 🧩 Atualiza associados existentes\nassociado_update AS (\n  UPDATE public.cor_associado ca\n  SET\n    dom_cat_associado = COALESCE(ca.dom_cat_associado, 'Associado'),\n    dom_sit_associado = COALESCE(NULLIF(ca.dom_sit_associado, ''), 'Ativo'),\n    id_regional       = COALESCE(NULLIF(d.codigo_regional, '')::bigint, ca.id_regional),\n    id_cooperativa    = COALESCE(NULLIF(d.codigo_cooperativa, '')::bigint, ca.id_cooperativa),\n    id_voluntario     = COALESCE(NULLIF(d.codigo_voluntario, '')::bigint, ca.id_voluntario),\n    dth_ingresso      = COALESCE(\n      CASE\n        WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> '' \n          AND TRIM(COALESCE(d.hora_contrato_associado, '')) <> ''\n          THEN to_timestamp(d.data_contrato_associado || ' ' || d.hora_contrato_associado, 'YYYY-MM-DD HH24:MI:SS')\n        WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> ''\n          THEN d.data_contrato_associado::date\n        ELSE NULL\n      END,\n      ca.dth_ingresso\n    )\n  FROM upsert_pessoa up\n  JOIN dados d ON d.codigo_associado = up.cod_associado_sga::text\n  WHERE ca.id_pessoa = up.id_pessoa\n  RETURNING ca.id_associado, ca.id_pessoa\n)\n\nSELECT\n  (SELECT COUNT(*) FROM associado_insert) AS associados_inseridos,\n  (SELECT COUNT(*) FROM associado_update) AS associados_atualizados,\n  (SELECT COUNT(*) FROM upsert_pessoa) AS pessoas_processadas;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"ce321885-b869-49ef-9942-d1d66801fda1","name":"gravaDados","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"},{"name":"cpfcnpj"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-512,544],"id":"d5703a5e-21ec-4a32-98ad-7b8ce9ef79cb","name":"Execute"},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (cpf)\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd,\n    telefone,\n    telefone_celular,\n    telefone_celular_auxiliar,\n    email,\n    sexo,\n    codigo_associado,\n    data_nascimento,\n    data_cadastro_associado,\n    data_contrato_associado,\n    hora_contrato_associado,\n    codigo_regional,\n    codigo_cooperativa,\n    codigo_voluntario\n    FROM json_to_recordset(\n      (\n        SELECT ('[' || string_agg(elem::text, ',') || ']')::json\n        FROM (\n          -- Se for array, explode\n          SELECT value AS elem\n          FROM json_array_elements(CASE \n                                    WHEN left($1::text,1)='[' THEN $1::json \n                                    ELSE ('['||$1::text||']')::json \n                                  END)\n    \n        ) AS sub\n      )\n    ) AS x(\n        nome text,\n        cpf text,\n        tipo_pessoa text,\n        ddd text,\n        telefone text,\n        telefone_celular text,\n        telefone_celular_auxiliar text,\n        email text,\n        sexo text,\n        codigo_associado text,\n        data_nascimento text,\n        data_cadastro_associado text,\n        data_contrato_associado text,\n        hora_contrato_associado text,\n        codigo_regional text,\n        codigo_cooperativa text,\n        codigo_voluntario text\n    )\n  WHERE codigo_associado IS NOT NULL\n),\n\n-- 🧩 Insere/Atualiza cor_pessoa com tratamento de data\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_associado_sga,\n    dat_nasc_pessoa\n  )\n  SELECT\n    nome,\n    regexp_replace(coalesce(cpf, ''), '[^0-9]', '', 'g') AS cpf_limpo,\n    tipo_pessoa,\n    CASE WHEN COALESCE(ddd,'') = '' THEN NULL ELSE ddd || telefone END,\n    CASE WHEN COALESCE(ddd,'') = '' THEN NULL ELSE ddd || telefone_celular END,\n    CASE WHEN COALESCE(ddd,'') = '' THEN NULL ELSE ddd || telefone_celular END,\n    CASE WHEN COALESCE(ddd,'') = '' THEN NULL ELSE ddd || telefone_celular_auxiliar END,\n    email,\n    sexo,\n    codigo_associado::bigint,\n\n    -- TRATAMENTO DE DATA\n    CASE\n      WHEN TRIM(COALESCE(data_nascimento, '')) = '' THEN NULL\n      WHEN TRIM(data_nascimento) ~ '^\\d{4}-\\d{2}-\\d{2}T' THEN SUBSTRING(TRIM(data_nascimento) FROM '^\\d{4}-\\d{2}-\\d{2}')::date\n      WHEN TRIM(data_nascimento) ~ '^\\d{4}-\\d{2}-\\d{2}$' THEN TRIM(data_nascimento)::date\n      WHEN TRIM(data_nascimento) ~ '^\\d{2}/\\d{2}/\\d{4}$' THEN to_date(TRIM(data_nascimento), 'DD/MM/YYYY')\n      ELSE NULL\n    END\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa            = COALESCE(NULLIF(EXCLUDED.nome_pessoa, ''), cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa         = COALESCE(NULLIF(EXCLUDED.dom_tpo_pessoa, ''), cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa        = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    whatsapp_pessoa        = COALESCE(NULLIF(EXCLUDED.whatsapp_pessoa, ''), cor_pessoa.whatsapp_pessoa),\n    celular_pessoa         = COALESCE(NULLIF(EXCLUDED.celular_pessoa, ''), cor_pessoa.celular_pessoa),\n    tel_comercial_pessoa   = COALESCE(NULLIF(EXCLUDED.tel_comercial_pessoa, ''), cor_pessoa.tel_comercial_pessoa),\n    email_pessoa           = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    dom_sexo               = COALESCE(NULLIF(EXCLUDED.dom_sexo, ''), cor_pessoa.dom_sexo),\n    cod_associado_sga      = COALESCE(EXCLUDED.cod_associado_sga, cor_pessoa.cod_associado_sga),\n    dat_nasc_pessoa        = COALESCE(EXCLUDED.dat_nasc_pessoa, cor_pessoa.dat_nasc_pessoa)\n  RETURNING id_pessoa, cpf_cnpj_pessoa, cod_associado_sga\n),\n\n-- 🧩 Insere associados novos\nassociado_insert AS (\n  INSERT INTO public.cor_associado (\n    id_pessoa,\n    id_empresa,\n    id_indicador,\n    cod_associado,\n    url_foto,\n    dom_cat_associado,\n    dom_sit_associado,\n    dth_cadastro,\n    dth_ingresso,\n    dth_desligamento,\n    dom_mot_inativo,\n    id_regional,\n    id_cooperativa,\n    id_voluntario\n  )\n  SELECT\n    p.id_pessoa,\n    NULL AS id_empresa,\n    NULL AS id_indicador,\n    p.cod_associado_sga,\n    NULL AS url_foto,\n    'Associado' AS dom_cat_associado,\n    'Ativo' AS dom_sit_associado,\n    NOW() AS dth_cadastro,\n    -- dth_ingresso\n    CASE\n      WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> '' \n       AND TRIM(COALESCE(d.hora_contrato_associado, '')) <> ''\n      THEN to_timestamp(d.data_contrato_associado || ' ' || d.hora_contrato_associado, 'YYYY-MM-DD HH24:MI:SS')\n      WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> ''\n      THEN d.data_contrato_associado::date\n      ELSE NULL\n    END AS dth_ingresso,\n    NULL AS dth_desligamento,\n    NULL AS dom_mot_inativo,\n    NULLIF(d.codigo_regional, '')::bigint AS id_regional,\n    NULLIF(d.codigo_cooperativa, '')::bigint AS id_cooperativa,\n    NULLIF(d.codigo_voluntario, '')::bigint AS id_voluntario\n  FROM upsert_pessoa p\n  JOIN dados d ON d.codigo_associado = p.cod_associado_sga::text\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_associado a WHERE a.id_pessoa = p.id_pessoa\n  )\n  RETURNING id_associado, id_pessoa\n),\n\n-- 🧩 Atualiza associados existentes (com RETURNING)\nassociado_update AS (\n  UPDATE public.cor_associado ca\n  SET\n    dom_cat_associado = COALESCE(ca.dom_cat_associado, 'Associado'),\n    dom_sit_associado = COALESCE(NULLIF(ca.dom_sit_associado, ''), 'Ativo'),\n    id_regional       = COALESCE(NULLIF(d.codigo_regional, '')::bigint, ca.id_regional),\n    id_cooperativa    = COALESCE(NULLIF(d.codigo_cooperativa, '')::bigint, ca.id_cooperativa),\n    id_voluntario     = COALESCE(NULLIF(d.codigo_voluntario, '')::bigint, ca.id_voluntario),\n    dth_ingresso = COALESCE(\n      CASE\n        WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> '' \n         AND TRIM(COALESCE(d.hora_contrato_associado, '')) <> ''\n        THEN to_timestamp(d.data_contrato_associado || ' ' || d.hora_contrato_associado, 'YYYY-MM-DD HH24:MI:SS')\n        WHEN TRIM(COALESCE(d.data_contrato_associado, '')) <> ''\n        THEN d.data_contrato_associado::date\n        ELSE NULL\n      END,\n      ca.dth_ingresso\n    )\n  FROM upsert_pessoa up\n  JOIN dados d ON d.codigo_associado = up.cod_associado_sga::text\n  WHERE ca.id_pessoa = up.id_pessoa\n  RETURNING ca.id_associado, ca.id_pessoa\n)\n\nSELECT\n  (SELECT COUNT(*) FROM associado_insert) AS associados_inseridos,\n  (SELECT COUNT(*) FROM associado_update) AS associados_atualizados,\n  (SELECT COUNT(*) FROM upsert_pessoa) AS pessoas_processadas;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,944],"id":"577f6b0d-c890-466c-a3d6-6780d82b7064","name":"gravaDados1","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaDados","type":"main","index":0}]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaDados":{"main":[[]]},"Execute":{"main":[[{"node":"buscaDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"buscaDados":[{"json":{"body":{"cpf":"05992968601","nome":"JAIME PEREIRA DOS SANTOS","sexo":"M","data_nascimento":"1980-11-16T00:00:00-0300","nome_mae":"","nome_pai":"","rg":"10873207","orgao_expedidor_rg":"","data_expedicao_rg":null,"cnh":"","categoria_cnh":"","data_vencimento_habilitacao":null,"telefone_celular":"(37)9981-92209","telefone_celular_aux":"(37)9981-92209","telefone_comercial":"()","email":"js5834503@gmail.com","email_auxiliar":"","cep":"35501-014","logradouro":"RUA VITAL BRASIL","numero":"445","complemento":"","bairro":"ESPLANADA","cidade":"DIVINÓPOLIS","estado":"MG","data_cadastro":"2025-12-12T00:00:00-0300","codigo_estado_civil":"6","codigo_classificacao":"1","data_contrato":"2025-12-12T00:00:00-0300","descricao_situacao":"ATIVO","filhos":0,"codigo_profissao":"1","opcoes_notificacao":{"email":"Y","sms":"Y","whatsapp":"Y"},"codigo_associado":127517,"telefone_fixo":"()","codigo_regional":2,"codigo_externo":null,"spcSerasa":"NÃO","codigo_associado_beneficiario":"211396","dia_vencimento":"15","codigo_tipo_cobranca_recorrente":"1","descricao_tipo_cobranca_recorrente":"BOLETO / CARNÊ","codigo_cooperativa":"3","codigo_voluntario":null,"pontos":0,"codigo_situacao":1,"veiculos":[{"codigo_veiculo":"158363","placa":"HKJ2C40","chassi":"9BD27804D97136097","valor_fixo":0,"codigo_situacao":"1","valor_fipe":40660,"situacao":"ATIVO","descricao_modelo":"STRADA ADVENTURE 1.8/ 1.8 LOCKER FLEX CE","codigo_modelo":"2353","codigo_veiculo_indicador":null,"placa_veiculo_indicador":null,"codigo_associado_indicador":null,"cpf_associado_indicador":null,"nome_associado_indicador":null}],"campos_opcionais":["sem campo opcional cadastrado"]},"headers":{"date":"Fri, 12 Dec 2025 14:34:29 GMT","content-type":"application/json","content-length":"1642","connection":"close","server":"nginx/1.22.1"},"statusCode":200,"statusMessage":"OK"}}]},"versionId":"50a5c77a-85fa-4b62-8710-2b9db5b832cc","triggerCount":2,"shared":[{"createdAt":"2025-12-12T14:08:29.244Z","updatedAt":"2025-12-12T14:08:29.244Z","role":"workflow:owner","workflowId":"P7xaEeBRUr5s7bwl","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}