sub_verifica_feriado-QV6HWDmqkiXXdyFk.json
{"createdAt":"2025-12-25T14:48:50.792Z","updatedAt":"2025-12-25T15:06:10.009Z","id":"QV6HWDmqkiXXdyFk","name":"SUB_VERIFICA_FERIADO","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"data"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,-368],"id":"a42976f9-3d49-4286-a069-409fd61ff54f","name":"Execute"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-176],"id":"09a2c453-7993-49e2-9b8b-cefa5f182636","name":"Manual"},{"parameters":{"functionCode":"// Validação e normalização da data\nconst inputDate = $json.data;\n\nif (!inputDate) {\n  return [{ json: { code: 400, description: 'Parâmetro date não informado', isHoliday: false } }];\n}\n\nconst parsedDate = new Date(inputDate);\n\nif (isNaN(parsedDate.getTime())) {\n  return [{ json: { code: 400, description: 'Data inválida', isHoliday: false } }];\n}\n\nconst isoDate = parsedDate.toISOString().split('T')[0];\nconst year = isoDate.split('-')[0];\n\nreturn [{ json: { isoDate, year } }];"},"name":"Validar e Normalizar Data","type":"n8n-nodes-base.function","typeVersion":1,"position":[320,-272],"id":"274f0920-493c-4a68-bdbe-66dfca0e84fc"},{"parameters":{"url":"=https://api.invertexto.com/v1/holidays/{{$json.year}}","options":{"timeout":10000},"queryParametersUi":{"parameter":[{"name":"token","value":"23615|Jn4E0akU0khO6bpVH6Eq2YpeZNSruakY"}]}},"name":"Consultar Feriados Invertexto","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[544,-272],"id":"cd35cff3-1243-4cc7-892c-8efd853588a6"},{"parameters":{"functionCode":"// Verifica se a data é feriado\nconst isoDate = $node[\"Validar e Normalizar Data\"].json.isoDate;\nconst holidays = $json.holidays || $json;\n\nif (!Array.isArray(holidays)) {\n  return [{ json: { code: 500, description: 'Resposta inesperada da API', isHoliday: false } }];\n}\n\nconst found = holidays.find(h => h.date === isoDate);\n\nif (found) {\n  return [{ json: { code: 200, description: 'Data é feriado', isHoliday: true, holiday: found } }];\n}\n\nreturn [{ json: { code: 200, description: 'Data não é feriado', isHoliday: false } }];"},"name":"Verificar Feriado","type":"n8n-nodes-base.function","typeVersion":1,"position":[768,-272],"id":"0e51566b-b349-49e8-ae50-e989ed21119e"},{"parameters":{"assignments":{"assignments":[{"id":"121e60cd-ba32-4fb0-a468-1d99d377f455","name":"data","value":"=2025-12-26","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,-272],"id":"32f931ed-0af0-4f33-94f3-b0d15046122f","name":"whDados"}],"connections":{"Execute":{"main":[[{"node":"whDados","type":"main","index":0}]]},"Manual":{"main":[[{"node":"whDados","type":"main","index":0}]]},"Validar e Normalizar Data":{"main":[[{"node":"Consultar Feriados Invertexto","type":"main","index":0}]]},"Consultar Feriados Invertexto":{"main":[[{"node":"Verificar Feriado","type":"main","index":0}]]},"whDados":{"main":[[{"node":"Validar e Normalizar Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d614a373-3dab-45e1-8bf5-a9cd60745005","triggerCount":0,"shared":[{"createdAt":"2025-12-25T14:48:50.792Z","updatedAt":"2025-12-25T14:48:50.792Z","role":"workflow:owner","workflowId":"QV6HWDmqkiXXdyFk","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}