sub_sms_envia_msg_zenvia_2_uteis-5r3V94qDwNYlMY7l.json
{"createdAt":"2026-01-14T13:01:40.112Z","updatedAt":"2026-01-19T15:57:58.202Z","id":"5r3V94qDwNYlMY7l","name":"SUB_SMS_ENVIA_MSG_ZENVIA_2_UTEIS","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.zenvia.com/v2/channels/sms/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-TOKEN","value":"FfLUl-xKIxTAOEOEkLp5fgt24-c8zk8QtSJv"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"lembranca\",\n  \"to\": \"{{ $('dadosLoop1').item.json.celular_associado }}\",\n  \"contents\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{$('dadosMensagem1').item.json.mensagem }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,1840],"id":"b9bff6f1-8c69-4c38-95e3-4867940a51b7","name":"smsZenviaPVCE1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"bd448a7b-74b4-4d15-b1b2-55d1ffae25bb","name":"nome_associado","value":"={{\n(() => {\n  const nome = ($json.nome_associado || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim()\n    .toLowerCase()\n    .split(/\\s+/);\n\n  if (!nome.length) return '';\n\n  const cap = s => s.charAt(0).toUpperCase() + s.slice(1);\n\n  return nome.length > 1\n    ? `${cap(nome[0])} ${cap(nome[nome.length - 1])}`\n    : cap(nome[0]);\n})()\n}}","type":"string"},{"id":"a3aeb4f0-662c-42aa-855c-1621be3f96d3","name":"celular_associado","value":"={{ $('Start').item.json.celular_match }}","type":"string"},{"id":"4f75d997-9b52-46a8-9fd5-089769dec633","name":"placa","value":"={{ $json.placa }}","type":"string"},{"id":"8e23ffe7-9157-4f0c-9ed8-fd7639137d96","name":"nosso_numero","value":"={{ $json.nosso_numero }}","type":"string"},{"id":"22c21721-a0a6-4322-b899-d134d161f844","name":"data_vencimento","value":"={{ $json.data_vencimento_toDateTime }}","type":"string"},{"id":"3c41cc18-a96a-493d-9bad-4aae17537c17","name":"tipo_boleto","value":"={{ $json.tipo_boleto }}","type":"string"},{"id":"bda41740-30c9-45bf-b2fc-6a9537ca418d","name":"valor_boleto","value":"={{ $json.valor_boleto }}","type":"string"},{"id":"6c5de1fb-6dc9-4a73-955c-d751e5673887","name":"link_boleto","value":"={{ $json.link_boleto }}","type":"string"},{"id":"6c2e85d4-335c-4ade-b75c-2d5d05c00448","name":"mes_referente","value":"={{ $json.mes_referente }}","type":"string"},{"id":"c335076f-6258-4e78-b380-074460bcc495","name":"situacao_veiculo","value":"={{ $json.situacao_veiculo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,1840],"id":"958e82ea-1768-46ea-a218-7bbdc699173a","name":"dadosLoop1"},{"parameters":{"assignments":{"assignments":[{"id":"625e8b1a-9517-4ac2-873e-d11c7625d2a6","name":"mensagem","value":"=Ola {{ $json.nome_associado }}, somos da Top Brasil.\\nSeu boleto vence hoje {{ $('Start').item.json.data_vencimento_toDateTime().format('dd/MM/yyyy') }}!\\nPDF do Boleto: {{ $('Start').item.json.link_boleto }}\\nDuvidas, entre em contato atraves da nossa central: 31 982073313","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,1840],"id":"1c4a5d1f-ca23-41cb-a147-1058b48c684f","name":"dadosMensagem1"},{"parameters":{"operation":"executeQuery","query":"UPDATE topBIBoletos\nSET msg_sms_znv_diavencimento = true, dth_envio_sms_znv_diavencimento = CURRENT_TIMESTAMP, msg_texto_sms_znv_diavencimento = $2 \nWHERE nosso_numero = $1;","options":{"queryReplacement":"={{\n[\n  $('Start').item.json.nosso_numero ?? 0,\n  $('smsZenviaPVCE1').item.json.id + ' - ' +  $json.contents[0].text ?? ''\n]\n}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1808,1840],"id":"ee423e68-3da6-42ca-a4c3-b267ba1e3786","name":"Execute a SQL query1","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"nome_associado","type":"any"},{"name":"celular_match","type":"any"},{"name":"placa","type":"any"},{"name":"nosso_numero","type":"any"},{"name":"data_vencimento_toDateTime","type":"any"},{"name":"tipo_boleto","type":"any"},{"name":"valor_boleto","type":"any"},{"name":"link_boleto","type":"any"},{"name":"mes_referente","type":"any"},{"name":"situacao_veiculo","type":"any"}]}},"id":"60454e5a-53f6-4d5b-9662-b0130c71f919","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[960,1840]}],"connections":{"smsZenviaPVCE1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"dadosLoop1":{"main":[[{"node":"dadosMensagem1","type":"main","index":0}]]},"dadosMensagem1":{"main":[[{"node":"smsZenviaPVCE1","type":"main","index":0}]]},"Start":{"main":[[{"node":"dadosLoop1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f959e72-7b2a-4ee1-bc1d-eac9e2ab6812","triggerCount":0,"shared":[{"createdAt":"2026-01-14T13:01:40.112Z","updatedAt":"2026-01-14T13:01:40.112Z","role":"workflow:owner","workflowId":"5r3V94qDwNYlMY7l","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}