sub_tmr_msg_inadimplentes_consultores_bd_erp-NxXShm6NgPstCPDQ.json
{"createdAt":"2025-12-23T22:42:57.113Z","updatedAt":"2026-01-07T19:11:51.571Z","id":"NxXShm6NgPstCPDQ","name":"SUB_TMR_MSG_INADIMPLENTES_CONSULTORES_BD_ERP","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"set","key":"codigo_voluntario","value":"={{ $('loopBoletos').item.json.boletos.codigo_voluntario }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1472,1616],"id":"39f7ad0a-de7d-4407-9d8a-9a5c27aafce6","name":"voluntarioAtual","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('buscaVoluntario1').item.json.codigo_voluntario }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-464,1616],"id":"bfcb7aa4-b183-40b1-bb82-67b1e4a30640","name":"buscaMensagensConsultor","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,1616],"id":"7f3d51ca-750f-4a2a-9a4a-8827a44f8f74","name":"buscaVoluntario1","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,1616],"id":"5f66bc9e-e104-41fa-831a-1ee80403f6ce","name":"Wait2","webhookId":"9c2f8828-a068-4b5f-88c5-a424ecdf3ecb","disabled":true},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{'55'+$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}\", \n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"consultor_inadimp_link\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$('buscaVoluntario1').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}} |\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.mensagens.join(' ').replace(/[\\r\\n]+/g, '\\n')\n    .replace(/[\"'\\\\]/g, '')\n    .replace(/[^\\x20-\\x7EÀ-ÿ\\n]/g, '') }}\" }\n        ]\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,1616],"id":"7183ccfa-b8e9-4f5c-a4b2-b2d7e8272daa","name":"mkt_inadimplente_consultor","disabled":true,"onError":"continueRegularOutput","notes":"=55{{$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a09a0546-1935-414a-8ee9-0d2ae4e7b967","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"4912ee5b-f7bd-4794-9866-6f87851b5f7d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_consultor\": \"{{$('buscaVoluntario1').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"mensagem\": \"{{ $json.mensagens.join(' ').replace(/[\\r\\n]+/g, '\\n')\n    .replace(/[\"'\\\\]/g, '')\n    .replace(/[^\\x20-\\x7EÀ-ÿ\\n]/g, '') }}\",  \n    \"phone\": \"{{'55'+$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}\",\n    \"sender\": \"n8n\",\n    \"token\": \"4912ee5b-f7bd-4794-9866-6f87851b5f7d\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,1616],"id":"74402f46-9604-4a4f-8915-d71e9562d2c6","name":"ezChatInadConsultor","retryOnFail":true,"maxTries":5,"disabled":true,"onError":"continueRegularOutput","notes":"{{'55'+$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('loopBoletos').item.json.boletos.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,1392],"id":"082c528c-a82e-47cd-a8d9-acc3c8387165","name":"buscaVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"mensagem\": \"{{$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' +55' \n    + $('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' ' \n    + $('loopBoletos').item.json.boletos.placa \n    + ' '\n    + $('loopBoletos').item.json.boletos.data_vencimento_original.toDateTime().format('dd/MM/yyyy')\n    + ' Link PDF boleto: ' \n    +  $('loopBoletos').item.json.boletos.link_boleto  \n    + ' Link para enviar direto para o associado: ' \n    + $('reduzURL').item.json.data  + ' | '\n  }}\"\n}\n","options":{}},"id":"339e8d1a-b0f4-481c-9f48-dd8e7ae57de0","name":"agrupaBoletos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,1392],"notes":"{\n  \"mensagem\": \"{{ \n    $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('boletos').item.json.boletos.veiculos[0].placa \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data \n    + '\\\\nCódigo de Barras: `' \n    + $('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('') \n    + '`\\\\nLink Boleto PDF: ' \n    + $('buscaBoleto').item.json.body.short_link \n  }}\"\n}\n"},{"parameters":{"url":"https://is.gd/create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"simple"},{"name":"url","value":"={{ $('mensagemBoleto').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,1392],"id":"b26ac852-5156-4400-949a-b7bd5fe4818f","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"13df660e-7b6f-48d4-8306-727900c422cf","name":"mensagem","value":"={{\n'https://wa.me/55'+ \n$('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, caso ainda não tenha recebido o boleto da TOP Brasil, segue o link de pagamento para a placa ${$('loopBoletos').item.json.boletos.placa}. É só clicar no link abaixo para abrir o boleto ${$('loopBoletos').item.json.boletos.link_boleto}`)\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,1392],"id":"f3e1db21-dfe0-4d05-80db-3da33e3c6703","name":"mensagemBoleto"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"8c001f35-b953-4ac9-af5f-b43ac2aa8020"}],"combinator":"and"},"renameOutput":true,"outputKey":"existeVoluntario"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,1392],"id":"8a6ffcb1-c174-49cd-be5c-6cff87783e81","name":"existeVoluntario"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-672,1392],"id":"c0276048-14a1-432b-bb2b-9b7b3fcb483b","name":"loopBoletos"},{"parameters":{"operation":"get","propertyName":"codigo_voluntario","key":"=codigo_voluntario","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-256,1392],"id":"7dee217c-b224-4072-814c-c8ec9b9387a9","name":"voluntarioAnterior","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('loopBoletos').item.json.boletos.codigo_voluntario }}","messageData":"={{ $json.mensagem }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,1392],"id":"4b700e8c-c8d1-4678-974c-bd996add1de6","name":"gravaListaMensagensCons","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Anterior = Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,1392],"id":"fd2db2fa-fc98-476d-b6f3-414af3a99e3d","name":"Enviar texto3","alwaysOutputData":true,"executeOnce":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-464,1392],"id":"7689c6bd-7222-4dc8-b210-6e669877793c","name":"No Operation, do nothing2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"4313fc77-d416-45bf-a82d-b646efdfe3b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRIMEIRO REGISTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c5f6b705-7dca-4e15-86a6-273c19ff2907","leftValue":"={{ $('loopBoletos').item.json.boletos.codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. IGUAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"94724df6-74b8-4f98-932e-c4949d22a82b","leftValue":"={{ $('loopBoletos').item.json.boletos.codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. DIFERENTE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,1376],"id":"435be26d-ef00-4af5-bf35-118c833366fa","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Primeiro Registro\\n'+\n$('loopBoletos').params.batchSize + '\\n' +\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,1200],"id":"06f91b6f-fde8-4036-87df-71926dc8a668","name":"Enviar texto2","alwaysOutputData":true,"executeOnce":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-464,1200],"id":"5a76ba03-2a8d-495a-a4ed-0e0a0ef34de1","name":"Sort1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9b53308c-9644-4512-b6a5-5979e8a01fa6","name":"boletos","value":"={{ $json.boletos }}","type":"object"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,1200],"id":"628c54d5-e2a8-41dc-925c-3260426388d1","name":"setBoletos"},{"parameters":{"fieldToSplitOut":"boletos","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-464,1008],"id":"c20a3192-48a5-40af-92ce-2dd92d51209d","name":"Split Out1"},{"parameters":{"operation":"get","propertyName":"boletos","key":"=boletos","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-672,1008],"id":"8154fc10-355b-4830-afcd-050404a63372","name":"buscaBoletos","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"inputSource":"passthrough"},"id":"5ee4edb1-a9ee-4423-85c2-4d321e2fba7b","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-880,1008]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,1856],"id":"08930d4b-aa50-407f-b656-215762c3a46c","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-432,1856],"id":"7de51078-eb3b-4d2f-a690-a4d28f767b1b","name":"Split Out"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-32,1856],"id":"1d0ca993-1b36-4a79-b7fa-01de9dd5c95c","name":"Redis2","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-656,1856],"id":"19f754b9-986a-419f-bfc9-38d60744a539","name":"Redis3","alwaysOutputData":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-864,1856],"id":"750b5a2c-6803-4d89-84eb-876d96fdc065","name":"Aggregate"}],"connections":{"buscaVoluntario":{"main":[[{"node":"existeVoluntario","type":"main","index":0}]]},"agrupaBoletos":{"main":[[{"node":"gravaListaMensagensCons","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"agrupaBoletos","type":"main","index":0}]]},"mensagemBoleto":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"existeVoluntario":{"main":[[{"node":"mensagemBoleto","type":"main","index":0}],[{"node":"loopBoletos","type":"main","index":0}]]},"loopBoletos":{"main":[[],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"voluntarioAnterior":{"main":[[{"node":"buscaVoluntario","type":"main","index":0}]]},"voluntarioAtual":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"buscaMensagensConsultor":{"main":[[{"node":"ezChatInadConsultor","type":"main","index":0}]]},"gravaListaMensagensCons":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Enviar texto3","type":"main","index":0}],[{"node":"buscaVoluntario1","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"buscaVoluntario1":{"main":[[{"node":"buscaMensagensConsultor","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"setBoletos","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"voluntarioAnterior","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"setBoletos":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"mkt_inadimplente_consultor":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"ezChatInadConsultor":{"main":[[{"node":"mkt_inadimplente_consultor","type":"main","index":0}]]},"buscaBoletos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Start":{"main":[[{"node":"buscaBoletos","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Redis2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Redis3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt","timeSavedPerExecution":2,"saveDataErrorExecution":"all"},"staticData":null,"meta":null,"pinData":{},"versionId":"764d7427-4138-4aeb-abda-77df16d1788d","triggerCount":0,"shared":[{"createdAt":"2025-12-23T22:42:57.113Z","updatedAt":"2025-12-23T22:42:57.113Z","role":"workflow:owner","workflowId":"NxXShm6NgPstCPDQ","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}