sub_popula_erp_cor_beneficios-FnYZUiHrKgbF4TJK.json
{"createdAt":"2025-11-07T16:26:23.106Z","updatedAt":"2025-11-07T16:35:15.555Z","id":"FnYZUiHrKgbF4TJK","name":"SUB_POPULA_ERP_COR_BENEFICIOS","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,544],"id":"a5b45d65-9cf0-4980-9999-1787e08b534f","name":"Execute"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficio-beneficiario/{{ $json.codigo_beneficiario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json.tokenBD }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_beneficiario\": \"{{ $('loop').item.json.cod_beneficiario }}\"\n}","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"d69c6c38-330b-478b-8016-1bc254cfe5b2","name":"buscaBeneficios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,544],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.beneficios","options":{"destinationFieldName":"beneficios"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-144,752],"id":"88cd66ba-2972-4297-a559-b7dad77ac363","name":"splitBeneficios","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,544],"id":"27390c60-3160-4e36-8314-e5c00610f832","name":"If4"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[528,400],"id":"a3dbf298-1695-4519-9aea-b3f386961b48","name":"Stop and Error2"},{"parameters":{"operation":"getAll","tableId":"cor_beneficiario","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-352,544],"id":"225fa09a-ac7f-4383-b1e4-8d75f23233d6","name":"buscaBDBeneficiarios","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}}},{"parameters":{"tableId":"cor_beneficio","fieldsUi":{"fieldValues":[{"fieldId":"id_beneficiario","fieldValue":"={{ $('loop').item.json.id_beneficiario }}"},{"fieldId":"cod_beneficio","fieldValue":"={{ $json.beneficios.codigo_beneficio }}"},{"fieldId":"dsc_beneficio","fieldValue":"={{ $json.beneficios.descricao }}"},{"fieldId":"dom_sit_beneficio","fieldValue":"={{ $json.beneficios.situacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,752],"id":"2cb8e312-e284-4b88-806a-dc86f6172c74","name":"COR_BENEFICIO","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[304,752],"id":"10c606bc-671d-4d48-a22c-4324acfbea73","name":"Aggregate1","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-144,544],"id":"d39fa961-8482-416d-bd7c-ff6250a3e695","name":"loop"}],"connections":{"Execute":{"main":[[{"node":"buscaBDBeneficiarios","type":"main","index":0}]]},"buscaBeneficios":{"main":[[{"node":"If4","type":"main","index":0}]]},"splitBeneficios":{"main":[[{"node":"COR_BENEFICIO","type":"main","index":0}]]},"If4":{"main":[[{"node":"Stop and Error2","type":"main","index":0}],[{"node":"splitBeneficios","type":"main","index":0}]]},"buscaBDBeneficiarios":{"main":[[{"node":"loop","type":"main","index":0}]]},"COR_BENEFICIO":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[],[{"node":"buscaBeneficios","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6bb128b4-6d5d-4260-864f-c409abe406b9","triggerCount":2,"shared":[{"createdAt":"2025-11-07T16:26:23.106Z","updatedAt":"2025-11-07T16:26:23.106Z","role":"workflow:owner","workflowId":"FnYZUiHrKgbF4TJK","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}