sub_msg_boletos_associados_top-edQSHJEr7E5To4Iq.json
{"createdAt":"2026-02-05T19:56:47.148Z","updatedAt":"2026-02-05T19:56:47.148Z","id":"edQSHJEr7E5To4Iq","name":"SUB_MSG_BOLETOS_ASSOCIADOS_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{"resume":"timeInterval","amount":3,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,1200],"id":"d6b6e8dd-a4a3-414e-854d-86d94b30b668","name":"Wait2","webhookId":"b79945cb-124f-48d6-9aee-d0c185276ac0"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Exemplo de código para o nó Function:\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. Tratamento da Data (Mais Seguro)\n  let dataFormatada = '-';\n  if (json.data_vencimento) {\n    try {\n      dataFormatada = json.data_vencimento\n        .split('T')[0]\n        .split('-')\n        .reverse()\n        .join('/');\n    } catch (e) {\n      // mantém '-'\n    }\n  }\n  json.data_vencimento_formatada = dataFormatada;\n\n  // 2. Tratamento do Valor (centavos → reais)\n  let valorFormatado = '-';\n  if (json.valor_boleto !== null && json.valor_boleto !== undefined) {\n    try {\n      const valorEmCentavos = Number(json.valor_boleto);\n\n      if (!isNaN(valorEmCentavos)) {\n        const valorEmReais = valorEmCentavos / 100;\n\n        valorFormatado = valorEmReais.toLocaleString('pt-BR', {\n          style: 'currency',\n          currency: 'BRL',\n        });\n      }\n    } catch (e) {\n      // mantém '-'\n    }\n  }\n  json.valor_boleto_formatado = valorFormatado;\n\n  // 3. Tratamento dos Campos Simples\n  json.nome_associado_clean = json.nome_associado || '-';\n  json.placa_clean = json.placa || '-';\n  json.link_boleto_clean = json.link_boleto || '-';\n}\n\nreturn $input.all();\n","notice":""},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,1200],"id":"7fdac6d0-363a-4e88-a0ab-c6554d626921","name":"Code in JavaScript"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{'55'+ $('Start').item.json.celular_match(/\\d+/g ).join('')}}\", \n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mkt_boleto_previa_start_app\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.nome_associado_clean }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.placa_clean }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.data_vencimento_formatada }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.valor_boleto_formatado }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.link_boleto_clean }}\" }\n        ]\n      }\n    ]\n  }\n}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,1200],"id":"c9b4ef75-9915-4d7d-8c16-1e186b558f1f","name":"mkt_boleto_previa_start_app","onError":"continueRegularOutput"},{"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE topBIBoletos\nSET msgBoletoEnviada = true\nWHERE nosso_numero = '{{ $('loopBoletosBI').item.json.nosso_numero }}'\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[640,1200],"id":"a9d0b623-5d44-4aa8-965a-c2f40b9ffb5a","name":"atualizaBoleto","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"id":"b497127d-2b4c-4a6c-9f16-3c14fad69b58","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-240,1200],"parameters":{"workflowInputs":{"values":[{"name":"celular_match","type":"any"}]}}}],"connections":{"Wait2":{"main":[[{"node":"mkt_boleto_previa_start_app","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"mkt_boleto_previa_start_app":{"main":[[{"node":"atualizaBoleto","type":"main","index":0}]]},"Start":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"8af34088-f0f1-419b-9195-d0376713739b","triggerCount":0,"shared":[{"createdAt":"2026-02-05T19:56:47.148Z","updatedAt":"2026-02-05T19:56:47.148Z","role":"workflow:owner","workflowId":"edQSHJEr7E5To4Iq","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}