sub_popula_top_boletos_mensal-Rnq3NIE0dV7902vT.json
{"createdAt":"2025-11-09T14:21:13.194Z","updatedAt":"2025-11-09T20:06:51.536Z","id":"Rnq3NIE0dV7902vT","name":"SUB_POPULA_TOP_BOLETOS_MENSAL","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,144],"id":"149b86be-ca97-44fc-b350-e70aa0018aaf","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"NxizvoUNEN4GOL6d","mode":"list","cachedResultUrl":"/workflow/NxizvoUNEN4GOL6d","cachedResultName":"WF_ATUALIZA_TOKEN_BOLETOS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,128],"id":"de8c8dfe-3dbe-495e-8b4c-2e9abaa142fa","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,144],"id":"c7e382dc-2702-49a0-b8ac-395ff71471fa","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":"={{ $('dadosDatas').item.json.quantidadePagina }}","type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ Number($('loopPaginas').item?.json?.pagina?.counter) || 0 }}\n","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,352],"id":"917378c3-f035-4a16-97e7-e7d66f7acbbb","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ $('Execute').item.json.dtVencimentoInicial }}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ $('Execute').item.json.dtVencimentoFinal }}","type":"string"},{"id":"490f9986-3862-491f-9976-320cd03a025e","name":"quantidadePagina","value":"={{ $('Execute').item.json.quantidadePagina ?? 500 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"acc8e162-707b-4d60-baaa-82cb7e127f48","name":"dadosDatas","notes":"{{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\n\n{{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\n\n"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": {{ $('dadosDatas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"504e6b0a-d17f-4951-ae90-f69ca841bb95","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ Number($('buscaQuantPaginas').item?.json?.body?.numero_paginas) || 0 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,352],"id":"3bb8d2e9-1d0b-4343-9091-44975536e9b7","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,352],"id":"8eec8657-c4f0-4d6a-b49b-75e37c77c122","name":"loopPaginas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"037191fe-3f4f-46ed-986c-710b81220e75","name":"dadosLoop","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[176,352],"id":"3374785f-210f-4d49-9464-e1d06136cf6e","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"bXiO5bfH53DNcKZL","mode":"list","cachedResultUrl":"/workflow/bXiO5bfH53DNcKZL","cachedResultName":"SUB_ERP_POPULAR_BOLETOS_DIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosDatas').item.json.quantidadePagina }}","pagina":"={{ $('dadosPaginas').item.json.pagina }}","token":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}","dtVencimentoInicial":"={{ $('dadosDatas').item.json.dtVencimentoInicial }}","dtVencimentoFinal":"={{ $('dadosDatas').item.json.dtVencimentoFinal }}"},"matchingColumns":[],"schema":[{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pagina","displayName":"pagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[816,352],"id":"4525025a-f6b7-4fd2-92d0-0bf34df27c85","name":"Call 'SUB_ERP_POPULAR_BOLETOS'","onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"dtVencimentoInicial"},{"name":"dtVencimentoFinal"},{"name":"quantidadePagina","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,144],"id":"fdc5e243-a62d-4e54-b262-ea0f26efe029","name":"Execute"}],"connections":{"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"Call 'SUB_ERP_POPULAR_BOLETOS'","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[],[{"node":"dadosPaginas","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"Call 'SUB_ERP_POPULAR_BOLETOS'":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"Execute":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d35a14f0-3ecc-4aee-b194-67dcb575644f","triggerCount":2,"shared":[{"createdAt":"2025-11-09T14:21:13.194Z","updatedAt":"2025-11-09T14:21:13.194Z","role":"workflow:owner","workflowId":"Rnq3NIE0dV7902vT","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}