sub_sms_envia_msg_zenvia_lembrete-aVt9pTc2nYKwyPvv.json
{"createdAt":"2026-01-14T12:58:48.028Z","updatedAt":"2026-01-15T15:35:36.917Z","id":"aVt9pTc2nYKwyPvv","name":"SUB_SMS_ENVIA_MSG_ZENVIA_LEMBRETE","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.zenvia.com/v2/channels/sms/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-TOKEN","value":"FfLUl-xKIxTAOEOEkLp5fgt24-c8zk8QtSJv"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"lembranca\",\n  \"to\": \"{{ $('dadosLoop').item.json.celular_associado }}\",\n  \"contents\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{$('dadosMensagem').item.json.mensagem }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,1008],"id":"9d1ab679-99c8-46aa-b8f7-a4bcaf01856f","name":"smsZenviaPVCE","alwaysOutputData":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"bd448a7b-74b4-4d15-b1b2-55d1ffae25bb","name":"nome_associado","value":"={{\n(() => {\n  const nome = ($json.nome_associado || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim()\n    .toLowerCase()\n    .split(/\\s+/);\n\n  if (!nome.length) return '';\n\n  const cap = s => s.charAt(0).toUpperCase() + s.slice(1);\n\n  return nome.length > 1\n    ? `${cap(nome[0])} ${cap(nome[nome.length - 1])}`\n    : cap(nome[0]);\n})()\n}}","type":"string"},{"id":"a3aeb4f0-662c-42aa-855c-1621be3f96d3","name":"celular_associado","value":"={{ $json.celular_match ?? 553192240123 }}","type":"string"},{"id":"4f75d997-9b52-46a8-9fd5-089769dec633","name":"placa","value":"={{ $json.placa }}","type":"string"},{"id":"8e23ffe7-9157-4f0c-9ed8-fd7639137d96","name":"nosso_numero","value":"={{ $json.nosso_numero }}","type":"string"},{"id":"22c21721-a0a6-4322-b899-d134d161f844","name":"data_vencimento","value":"={{ $json.data_vencimento_toDateTime }}","type":"string"},{"id":"3c41cc18-a96a-493d-9bad-4aae17537c17","name":"tipo_boleto","value":"={{ $json.tipo_boleto }}","type":"string"},{"id":"bda41740-30c9-45bf-b2fc-6a9537ca418d","name":"valor_boleto","value":"={{ $json.valor_boleto }}","type":"string"},{"id":"6c5de1fb-6dc9-4a73-955c-d751e5673887","name":"link_boleto","value":"={{ $json.link_boleto }}","type":"string"},{"id":"6c2e85d4-335c-4ade-b75c-2d5d05c00448","name":"mes_referente","value":"={{ $json.mes_referente }}","type":"string"},{"id":"c335076f-6258-4e78-b380-074460bcc495","name":"situacao_veiculo","value":"={{ $json.situacao_veiculo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,1008],"id":"1b7ce18d-14b7-4918-bd02-819e9dcfdce1","name":"dadosLoop"},{"parameters":{"assignments":{"assignments":[{"id":"625e8b1a-9517-4ac2-873e-d11c7625d2a6","name":"mensagem","value":"=Ola {{ $json.nome_associado }}, somos da Top Brasil.\\nSeu boleto vence hoje {{ $('dadosLoop').item.json.data_vencimento.toDateTime().format('dd/MM/yyyy') }}!\\nPDF do Boleto: {{ $('dadosLoop').item.json.link_boleto }}\\nDuvidas, entre em contato atraves da nossa central: 31 982073313","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,1008],"id":"a45a7e6c-78c9-4b65-90df-35b5c606238c","name":"dadosMensagem"},{"parameters":{"operation":"executeQuery","query":"UPDATE topBIBoletos\nSET msg_sms_znv_diavencimento = true, dth_envio_sms_znv_diavencimento = CURRENT_TIMESTAMP, msg_texto_sms_znv_diavencimento = $2 \nWHERE nosso_numero = $1;","options":{"queryReplacement":"={{\n[\n  $('Start').item.json.nosso_numero,\n  $('smsZenviaPVCE').item.json.id + ' - ' +  $json.contents[0].text\n]\n}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,1008],"id":"7a43aa2a-bfbb-4570-a56c-e975a4c8a063","name":"Execute a SQL query","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"nome_associado","type":"any"},{"name":"celular_match","type":"any"},{"name":"placa","type":"any"},{"name":"nosso_numero","type":"any"},{"name":"data_vencimento_toDateTime","type":"any"},{"name":"tipo_boleto","type":"any"},{"name":"valor_boleto","type":"any"},{"name":"link_boleto","type":"any"},{"name":"mes_referente","type":"any"},{"name":"situacao_veiculo","type":"any"}]}},"id":"171f9d8c-e1af-4053-8e3c-fa70787dab2e","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[512,1008]}],"connections":{"dadosLoop":{"main":[[{"node":"dadosMensagem","type":"main","index":0}]]},"dadosMensagem":{"main":[[{"node":"smsZenviaPVCE","type":"main","index":0}]]},"smsZenviaPVCE":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Start":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt","timeSavedPerExecution":1},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"nome_associado":"GC LOCACAO E COMERCIALIZACAO DE VEICULOS","celular_match":"5516981281674","placa":"","nosso_numero":"40199816","data_vencimento_toDateTime":"2026-01-14\n","tipo_boleto":"FECHAMENTO","valor_boleto":"11840.16","link_boleto":"https://short.hinova.com.br/v2/wbxkSzKQ.pdf","mes_referente":"12/2025","situacao_veiculo":"ATIVO"}}],"dadosLoop":[{"json":{"nome_associado":"Valdeir Goncalves","celular_associado":null,"placa":"PBK6G04","nosso_numero":"40168983","data_vencimento":"2026-01-15","tipo_boleto":"FECHAMENTO","valor_boleto":"247.17","link_boleto":"https://short.hinova.com.br/v2/QT9h5S0F.pdf","mes_referente":"12/2025","situacao_veiculo":"ATIVO"}}]},"versionId":"adb9ad89-a054-45f3-9cce-55294e5071b2","triggerCount":0,"shared":[{"createdAt":"2026-01-14T12:58:48.028Z","updatedAt":"2026-01-14T12:58:48.028Z","role":"workflow:owner","workflowId":"aVt9pTc2nYKwyPvv","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}