sub_erp_popular_boletos_dia-bXiO5bfH53DNcKZL.json
{"createdAt":"2025-11-09T13:31:47.883Z","updatedAt":"2025-11-19T13:25:06.440Z","id":"bXiO5bfH53DNcKZL","name":"SUB_ERP_POPULAR_BOLETOS_DIA","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,192],"id":"1f6a4685-9031-4807-ad2e-ef87cc38c0e0","name":"If3","executeOnce":true},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('Execute').item.json['token'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_original_inicial\": \"{{ $('Execute').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_original_final\": \"{{ $('Execute').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $('Execute').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('Execute').item.json.pagina }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"f49af383-de64-4c10-af1f-d93af87c3d2a","name":"buscaBoletosPag","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"WITH json_expand AS (\n  SELECT\n    elem->>'nosso_numero' AS nosso_numero,\n    elem->>'codigo_associado' AS codigo_associado,\n    elem->>'nome_associado' AS nome_associado,\n    elem->>'celular' AS celular,\n    (elem->>'data_emissao')::date AS data_emissao,\n    (elem->>'data_vencimento')::date AS data_vencimento,\n    (elem->>'data_vencimento_original')::date AS data_vencimento_original,\n    (elem->>'data_pagamento')::date AS data_pagamento,\n    elem->>'codigo_tipo_boleto' AS codigo_tipo_boleto,\n    elem->>'tipo_boleto' AS tipo_boleto,\n    elem->>'codigo_situacao_boleto' AS codigo_situacao_boleto,\n    elem->>'codigo_forma_pagamento' AS codigo_forma_pagamento,\n    elem->>'situacao_boleto' AS situacao_boleto,\n    elem->>'valor_boleto' AS valor_boleto,\n    elem->>'valor_pagamento' AS valor_pagamento,\n    elem->>'link_boleto' AS link_boleto,\n    elem->>'linha_digitavel' AS linha_digitavel,\n\n    -- 🧠 Pegando os dados de veiculos (tanto array quanto objeto)\n    COALESCE(\n      elem->'veiculos'->0->>'placa',\n      elem->'veiculos'->>'placa'\n    ) AS placa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'modelo',\n      elem->'veiculos'->>'modelo'\n    ) AS modelo,\n\n    -- 🧩 Fallback inteligente para campos que podem vir dentro ou fora de veiculos\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_regional',\n      elem->'veiculos'->>'codigo_regional',\n      elem->>'codigo_regional'\n    ) AS codigo_regional,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_cooperativa',\n      elem->'veiculos'->>'codigo_cooperativa',\n      elem->>'codigo_cooperativa'\n    ) AS codigo_cooperativa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_voluntario',\n      elem->'veiculos'->>'codigo_voluntario',\n      elem->>'codigo_voluntario'\n    ) AS codigo_voluntario,\n\n    elem->>'codigo_banco' AS codigo_banco,\n    elem->>'mes_referente' AS mes_referente,\n\n    COALESCE(\n      elem->'veiculos'->0->>'situacao_veiculo',\n      elem->'veiculos'->>'situacao_veiculo'\n    ) AS situacao_veiculo,\n\n    elem->>'tipo_veiculo' AS tipo_veiculo,\n    elem->>'categoria_veiculo' AS categoria_veiculo,\n    (elem->>'pagina')::smallint AS pagina\n\n  FROM jsonb_array_elements(\n  CASE\n    WHEN left(trim($1), 1) = '[' THEN $1::jsonb  -- já é array JSON\n    ELSE ('[' || trim($1, '') || ']')::jsonb    -- força conversão\n  END\n) elem\n),\n\ndados AS (\n  SELECT DISTINCT ON (nosso_numero) *\n  FROM json_expand\n  WHERE nosso_numero IS NOT NULL\n)\n\nINSERT INTO public.topBIBoletos (\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\n)\nSELECT\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\nFROM dados\nON CONFLICT (nosso_numero)\nDO UPDATE SET\n  codigo_associado = COALESCE(NULLIF(EXCLUDED.codigo_associado, ''), topBIBoletos.codigo_associado),\n  nome_associado = COALESCE(NULLIF(EXCLUDED.nome_associado, ''), topBIBoletos.nome_associado),\n  celular = COALESCE(NULLIF(EXCLUDED.celular, ''), topBIBoletos.celular),\n  data_emissao = COALESCE(EXCLUDED.data_emissao, topBIBoletos.data_emissao),\n  data_vencimento = COALESCE(EXCLUDED.data_vencimento, topBIBoletos.data_vencimento),\n  data_vencimento_original = COALESCE(EXCLUDED.data_vencimento_original, topBIBoletos.data_vencimento_original),\n  data_pagamento = COALESCE(EXCLUDED.data_pagamento, topBIBoletos.data_pagamento),\n  codigo_tipo_boleto = COALESCE(NULLIF(EXCLUDED.codigo_tipo_boleto, ''), topBIBoletos.codigo_tipo_boleto),\n  tipo_boleto = COALESCE(NULLIF(EXCLUDED.tipo_boleto, ''), topBIBoletos.tipo_boleto),\n  codigo_situacao_boleto = COALESCE(NULLIF(EXCLUDED.codigo_situacao_boleto, ''), topBIBoletos.codigo_situacao_boleto),\n  codigo_forma_pagamento = COALESCE(NULLIF(EXCLUDED.codigo_forma_pagamento, ''), topBIBoletos.codigo_forma_pagamento),\n  situacao_boleto = COALESCE(NULLIF(EXCLUDED.situacao_boleto, ''), topBIBoletos.situacao_boleto),\n  valor_boleto = COALESCE(NULLIF(EXCLUDED.valor_boleto, ''), topBIBoletos.valor_boleto),\n  valor_pagamento = COALESCE(NULLIF(EXCLUDED.valor_pagamento, ''), topBIBoletos.valor_pagamento),\n  link_boleto = COALESCE(NULLIF(EXCLUDED.link_boleto, ''), topBIBoletos.link_boleto),\n  linha_digitavel = COALESCE(NULLIF(EXCLUDED.linha_digitavel, ''), topBIBoletos.linha_digitavel),\n  placa = COALESCE(NULLIF(EXCLUDED.placa, ''), topBIBoletos.placa),\n  modelo = COALESCE(NULLIF(EXCLUDED.modelo, ''), topBIBoletos.modelo),\n  codigo_regional = COALESCE(NULLIF(EXCLUDED.codigo_regional, ''), topBIBoletos.codigo_regional),\n  codigo_cooperativa = COALESCE(NULLIF(EXCLUDED.codigo_cooperativa, ''), topBIBoletos.codigo_cooperativa),\n  codigo_voluntario = COALESCE(NULLIF(EXCLUDED.codigo_voluntario, ''), topBIBoletos.codigo_voluntario),\n  codigo_banco = COALESCE(NULLIF(EXCLUDED.codigo_banco, ''), topBIBoletos.codigo_banco),\n  mes_referente = COALESCE(NULLIF(EXCLUDED.mes_referente, ''), topBIBoletos.mes_referente),\n  situacao_veiculo = COALESCE(NULLIF(EXCLUDED.situacao_veiculo, ''), topBIBoletos.situacao_veiculo),\n  tipo_veiculo = COALESCE(NULLIF(EXCLUDED.tipo_veiculo, ''), topBIBoletos.tipo_veiculo),\n  categoria_veiculo = COALESCE(NULLIF(EXCLUDED.categoria_veiculo, ''), topBIBoletos.categoria_veiculo),\n  pagina = COALESCE(EXCLUDED.pagina, topBIBoletos.pagina);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,192],"id":"a71e6f55-d0b7-4a15-9ba2-d975be46d484","name":"gravaDados","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"quantidadePagina","type":"number"},{"name":"pagina","type":"number"},{"name":"token"},{"name":"dtVencimentoInicial"},{"name":"dtVencimentoFinal"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,0],"id":"b2c20099-8bde-4158-b33a-09e157d234dd","name":"Execute"},{"parameters":{"errorMessage":"=Falha ao executar workflow {{ $('Execute').item.json.dtVencimentoInicial }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[240,16],"id":"20a61a11-d357-4a2f-81f8-4c09fcce4e11","name":"Stop and Error"},{"parameters":{"operation":"executeQuery","query":"WITH json_expand AS (\n  SELECT\n    elem->>'nosso_numero' AS nosso_numero,\n    elem->>'codigo_associado' AS codigo_associado,\n    elem->>'nome_associado' AS nome_associado,\n    elem->>'celular' AS celular,\n    (elem->>'data_emissao')::date AS data_emissao,\n    (elem->>'data_vencimento')::date AS data_vencimento,\n    (elem->>'data_vencimento_original')::date AS data_vencimento_original,\n    (elem->>'data_pagamento')::date AS data_pagamento,\n    elem->>'codigo_tipo_boleto' AS codigo_tipo_boleto,\n    elem->>'tipo_boleto' AS tipo_boleto,\n    elem->>'codigo_situacao_boleto' AS codigo_situacao_boleto,\n    elem->>'codigo_forma_pagamento' AS codigo_forma_pagamento,\n    elem->>'situacao_boleto' AS situacao_boleto,\n    elem->>'valor_boleto' AS valor_boleto,\n    elem->>'valor_pagamento' AS valor_pagamento,\n    elem->>'link_boleto' AS link_boleto,\n    elem->>'linha_digitavel' AS linha_digitavel,\n\n    -- 🧠 Pegando os dados de veiculos (tanto array quanto objeto)\n    COALESCE(\n      elem->'veiculos'->0->>'placa',\n      elem->'veiculos'->>'placa'\n    ) AS placa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'modelo',\n      elem->'veiculos'->>'modelo'\n    ) AS modelo,\n\n    -- 🧩 Fallback inteligente para campos que podem vir dentro ou fora de veiculos\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_regional',\n      elem->'veiculos'->>'codigo_regional',\n      elem->>'codigo_regional'\n    ) AS codigo_regional,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_cooperativa',\n      elem->'veiculos'->>'codigo_cooperativa',\n      elem->>'codigo_cooperativa'\n    ) AS codigo_cooperativa,\n\n    COALESCE(\n      elem->'veiculos'->0->>'codigo_voluntario',\n      elem->'veiculos'->>'codigo_voluntario',\n      elem->>'codigo_voluntario'\n    ) AS codigo_voluntario,\n\n    elem->>'codigo_banco' AS codigo_banco,\n    elem->>'mes_referente' AS mes_referente,\n\n    COALESCE(\n      elem->'veiculos'->0->>'situacao_veiculo',\n      elem->'veiculos'->>'situacao_veiculo'\n    ) AS situacao_veiculo,\n\n    elem->>'tipo_veiculo' AS tipo_veiculo,\n    elem->>'categoria_veiculo' AS categoria_veiculo,\n    (elem->>'pagina')::smallint AS pagina\n\n  FROM jsonb_array_elements(\n  CASE\n    WHEN left(trim($1), 1) = '[' THEN $1::jsonb  -- já é array JSON\n    ELSE ('[' || trim($1, '') || ']')::jsonb    -- força conversão\n  END\n) elem\n),\n\ndados AS (\n  SELECT DISTINCT ON (nosso_numero) *\n  FROM json_expand\n  WHERE nosso_numero IS NOT NULL\n)\n\nINSERT INTO public.\"topBIBoletos\"(\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\n)\nSELECT\n  nosso_numero,\n  codigo_associado,\n  nome_associado,\n  celular,\n  data_emissao,\n  data_vencimento,\n  data_vencimento_original,\n  data_pagamento,\n  codigo_tipo_boleto,\n  tipo_boleto,\n  codigo_situacao_boleto,\n  codigo_forma_pagamento,\n  situacao_boleto,\n  valor_boleto,\n  valor_pagamento,\n  link_boleto,\n  linha_digitavel,\n  placa,\n  modelo,\n  codigo_regional,\n  codigo_cooperativa,\n  codigo_voluntario,\n  codigo_banco,\n  mes_referente,\n  situacao_veiculo,\n  tipo_veiculo,\n  categoria_veiculo,\n  pagina\nFROM dados\nON CONFLICT (nosso_numero)\nDO UPDATE SET\n  codigo_associado = COALESCE(NULLIF(EXCLUDED.codigo_associado, ''), \"topBIBoletos\".codigo_associado),\n  nome_associado = COALESCE(NULLIF(EXCLUDED.nome_associado, ''), \"topBIBoletos\".nome_associado),\n  celular = COALESCE(NULLIF(EXCLUDED.celular, ''), \"topBIBoletos\".celular),\n  data_emissao = COALESCE(EXCLUDED.data_emissao, \"topBIBoletos\".data_emissao),\n  data_vencimento = COALESCE(EXCLUDED.data_vencimento, \"topBIBoletos\".data_vencimento),\n  data_vencimento_original = COALESCE(EXCLUDED.data_vencimento_original, \"topBIBoletos\".data_vencimento_original),\n  data_pagamento = COALESCE(EXCLUDED.data_pagamento, \"topBIBoletos\".data_pagamento),\n  codigo_tipo_boleto = COALESCE(NULLIF(EXCLUDED.codigo_tipo_boleto, ''), \"topBIBoletos\".codigo_tipo_boleto),\n  tipo_boleto = COALESCE(NULLIF(EXCLUDED.tipo_boleto, ''), \"topBIBoletos\".tipo_boleto),\n  codigo_situacao_boleto = COALESCE(NULLIF(EXCLUDED.codigo_situacao_boleto, ''), \"topBIBoletos\".codigo_situacao_boleto),\n  codigo_forma_pagamento = COALESCE(NULLIF(EXCLUDED.codigo_forma_pagamento, ''), \"topBIBoletos\".codigo_forma_pagamento),\n  situacao_boleto = COALESCE(NULLIF(EXCLUDED.situacao_boleto, ''), \"topBIBoletos\".situacao_boleto),\n  valor_boleto = COALESCE(NULLIF(EXCLUDED.valor_boleto, ''), \"topBIBoletos\".valor_boleto),\n  valor_pagamento = COALESCE(NULLIF(EXCLUDED.valor_pagamento, ''), \"topBIBoletos\".valor_pagamento),\n  link_boleto = COALESCE(NULLIF(EXCLUDED.link_boleto, ''), \"topBIBoletos\".link_boleto),\n  linha_digitavel = COALESCE(NULLIF(EXCLUDED.linha_digitavel, ''), \"topBIBoletos\".linha_digitavel),\n  placa = COALESCE(NULLIF(EXCLUDED.placa, ''), \"topBIBoletos\".placa),\n  modelo = COALESCE(NULLIF(EXCLUDED.modelo, ''), \"topBIBoletos\".modelo),\n  codigo_regional = COALESCE(NULLIF(EXCLUDED.codigo_regional, ''), \"topBIBoletos\".codigo_regional),\n  codigo_cooperativa = COALESCE(NULLIF(EXCLUDED.codigo_cooperativa, ''), \"topBIBoletos\".codigo_cooperativa),\n  codigo_voluntario = COALESCE(NULLIF(EXCLUDED.codigo_voluntario, ''), \"topBIBoletos\".codigo_voluntario),\n  codigo_banco = COALESCE(NULLIF(EXCLUDED.codigo_banco, ''), \"topBIBoletos\".codigo_banco),\n  mes_referente = COALESCE(NULLIF(EXCLUDED.mes_referente, ''), \"topBIBoletos\".mes_referente),\n  situacao_veiculo = COALESCE(NULLIF(EXCLUDED.situacao_veiculo, ''), \"topBIBoletos\".situacao_veiculo),\n  tipo_veiculo = COALESCE(NULLIF(EXCLUDED.tipo_veiculo, ''), \"topBIBoletos\".tipo_veiculo),\n  categoria_veiculo = COALESCE(NULLIF(EXCLUDED.categoria_veiculo, ''), \"topBIBoletos\".categoria_veiculo),\n  pagina = COALESCE(EXCLUDED.pagina, \"topBIBoletos\".pagina);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaBoletosPag').item.json.boletos || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,352],"id":"4b25a58c-5f46-451e-8ff3-6b9fba5c5a7a","name":"gravaDadosSupabase","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"}],"connections":{"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaDados","type":"main","index":0},{"node":"gravaDadosSupabase","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"If3","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Execute":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dd933434-27d9-49fa-ab64-0d68954bdae5","triggerCount":0,"shared":[{"createdAt":"2025-11-09T13:31:47.883Z","updatedAt":"2025-11-09T13:31:47.883Z","role":"workflow:owner","workflowId":"bXiO5bfH53DNcKZL","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}