tmr_grava_cliente_veiculo_sgr-o8NDcTF54Z0CPqRe.json
{"createdAt":"2026-01-14T18:01:33.116Z","updatedAt":"2026-01-14T19:13:54.524Z","id":"o8NDcTF54Z0CPqRe","name":"TMR_GRAVA_CLIENTE_VEICULO_SGR","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 18 * * * "}]}},"id":"b43b631c-b4a0-4d08-afd4-bae2a52bfb01","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-624,-304]},{"parameters":{"path":"grava_cliente_veiculo_sgr","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,-688],"id":"a90879d2-54eb-4148-bd0f-ac29f4101cbe","name":"Webhook","webhookId":"ac221420-547a-4061-81a5-bf5b7136f31b"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-624,-496],"id":"27fcdb5d-d9a6-4300-9e5d-43692130e4de","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"455e6e02-9134-4438-a1f1-a89074e4c77f","name":"data","value":"={{ \n  new Date(new Date().setDate(new Date().getDate() - 1)).toISOString().slice(0,10)\n}}","type":"string"},{"id":"0447abd8-e2a2-4478-b1d4-2c05664d334e","name":"data_fixa","value":"2025-11-28","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-496],"id":"d72003ac-4057-44ee-9fcf-d741e9f977b2","name":"whData"},{"parameters":{"method":"POST","url":"https://sgr.hinova.com.br/sgr/sgrv2_api/service_api/servicos/headers_authorization","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"cliente","value":"1293"},{"name":"nome","value":"titoneli"},{"name":"senha","value":"Tito8282"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"SGR_KEY","value":"17d3f7870b10134f9762a61f75eb711b"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"ca68a952-705f-4621-b7ad-569eae497452","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,-496],"credentials":{"httpHeaderAuth":{"id":"9zQ8EjeXwIRb1hsU","name":"apikey - evolution"}}},{"parameters":{"workflowId":{"__rl":true,"value":"6NtzzvbzwbaHxkta","mode":"list","cachedResultUrl":"/workflow/6NtzzvbzwbaHxkta","cachedResultName":"SUB_GRAVA_CLIENTE_VEICULO_SGR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"veiculo_id":"={{ $json.pagina.counter }}","placa":"={{ $json.pagina.counter }}","token":"={\n  \"Accept\": \"{{ $('HTTP Request').item.json.body.Headers.Accept }}\",\n  \"X-Auth-Token\": \"{{ $('HTTP Request').item.json.body.Headers['X-Auth-Token'] }}\",\n  \"Authorization\": \"{{ $('HTTP Request').item.json.body.Headers.Authorization }}\",\n  \"Cookie\": \"{{ $('HTTP Request').item.json.headers['set-cookie'][0] }};{{ $('HTTP Request').item.json.headers['set-cookie'][1] }}\"\n}"},"matchingColumns":["","veiculo_id","placa"],"schema":[{"id":"veiculo_id","displayName":"veiculo_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"placa","displayName":"placa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1168,-496],"name":"Call SUB_GRAVA_CLIENTE_VEICULO","id":"3e11e114-a3a2-482d-a773-6fb825afc1aa"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $json.total }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-496],"id":"0b6f9851-c0a7-4264-852f-7aa403ddf5f6","name":"dadosAPIMesAtual","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[720,-496],"id":"6e0a975e-c1ea-4c8b-866c-f41f4af0f067","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,-496],"id":"5aa8b816-ed5d-4f91-908b-ec59a11756fd","name":"loopPaginas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPIMesAtual').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPIMesAtual').item.json.numero_paginas - 1 - i)) + 1\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,-688],"id":"4e5327dc-07dd-47d5-a0fc-db1e222619d4","name":"dadosLoopPaginasReverso","notes":"{{ Array.from(\n    { length: $('dadosAPIMesAtual').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPIMesAtual').item.json.numero_paginas - 1 - i) * 200) + 1\n    })\n) }}"},{"parameters":{"operation":"executeQuery","query":"select count(*) as total from cor_veiculo;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-496],"id":"c078cc4f-28b2-4591-aaf4-6aa8fed431ce","name":"Execute a SQL query","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPIMesAtual').item.json.numero_paginas}, (_, i) => ({\"counter\": i+1})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,-496],"id":"98eb8745-c22f-474c-8e56-d2de499e523b","name":"dadosLoopPaginas","notes":"{{ Array.from(\n    { length: $('dadosAPIMesAtual').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPIMesAtual').item.json.numero_paginas - 1 - i) * 200) + 1\n    })\n) }}"}],"connections":{"Schedule Trigger":{"main":[[{"node":"whData","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"whData","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"whData","type":"main","index":0}]]},"whData":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Call SUB_GRAVA_CLIENTE_VEICULO":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"dadosAPIMesAtual":{"main":[[{"node":"dadosLoopPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"loopPaginas":{"main":[[],[{"node":"Call SUB_GRAVA_CLIENTE_VEICULO","type":"main","index":0}]]},"dadosLoopPaginasReverso":{"main":[[]]},"Execute a SQL query":{"main":[[{"node":"dadosAPIMesAtual","type":"main","index":0}]]},"dadosLoopPaginas":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt","timeSavedPerExecution":2},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78a8af4b-f375-4984-956f-65d6bab03572","triggerCount":2,"shared":[{"createdAt":"2026-01-14T18:01:33.116Z","updatedAt":"2026-01-14T18:01:33.116Z","role":"workflow:owner","workflowId":"o8NDcTF54Z0CPqRe","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}