tmr_valida_resposta_tpv-bmeP2HodACNyVGM1.json
{"createdAt":"2026-02-04T15:46:07.869Z","updatedAt":"2026-02-04T17:06:35.513Z","id":"bmeP2HodACNyVGM1","name":"TMR_VALIDA_RESPOSTA_TPV","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,176],"id":"27da4469-e605-43a0-96d7-21c0fae3f9de","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGAAtualizaBD"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,176],"id":"5ddcaa48-63e0-4720-81a5-162d497326cb","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/veiculo/alterar-situacao-para","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json.descricaoDominio }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"codigo_situacao\": 1,\n\t\"codigo_veiculo\": {{ $('buscaVeiculo').item.json.body[0].codigo_veiculo }},\n\t\"observacao\": \"AUTOMAÇÃO\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"a49ab9bc-71b2-4741-97dd-9d23cf04fc91","name":"alterarVeiculoSIM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[144,560],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.body[0].descricao_situacao }}","rightValue":"ATIVO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,560],"id":"9cc87558-eeac-464b-9459-619c98adbec6","name":"If5"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{ $json.plate }}/placa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"84945dea-6eb9-41b1-a8e7-9ef1afb2a9cb","name":"buscaVeiculo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,368],"continueOnFail":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,368],"id":"91ad9cb1-5b0b-4678-8296-b411c6bfcde1","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM crm_tpv_posvenda\nWHERE tpv_resposta = true\n  AND dom_sit_veiculo NOT IN ('ATIVO')\n  AND to_timestamp(createdat, 'DD/MM/YYYY HH24:MI:SS') >= CURRENT_DATE\n  AND to_timestamp(createdat, 'DD/MM/YYYY HH24:MI:SS') < CURRENT_DATE + INTERVAL '1 day';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,176],"id":"3edee6b9-edae-4e73-9b66-20b962e62d6a","name":"buscaTPV","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET dom_sit_veiculo = $2\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"{{ $json.body[0].placa }}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"={{ $('buscaVeiculo').item.json.body[0].descricao_situacao }}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,768],"id":"bbc3f4be-5a7e-4a4c-858b-9e505dcd7ff1","name":"updSitVeiculoTPV","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET dom_sit_veiculo = $2\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"{{ $json.body[0].placa }}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"ATIVO\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,560],"id":"4252ddfb-ad42-46b1-a336-5e0a08ccdfd8","name":"updSitVeiculoTPVAtivo","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"59 23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,0],"id":"7d40fd9a-b955-42f3-bfcf-a35a16a1486c","name":"Schedule Trigger"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[336,368],"id":"40e7e16a-0e3f-4e43-8cdf-6aa48eae5512","name":"Wait","webhookId":"1966e547-d4c7-4132-adba-d2fe3fb38595"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"If5":{"main":[[{"node":"alterarVeiculoSIM","type":"main","index":0}],[{"node":"updSitVeiculoTPV","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaTPV","type":"main","index":0}]]},"buscaVeiculo":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"buscaVeiculo","type":"main","index":0}]]},"alterarVeiculoSIM":{"main":[[{"node":"updSitVeiculoTPVAtivo","type":"main","index":0}]]},"buscaTPV":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"updSitVeiculoTPV":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"updSitVeiculoTPVAtivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"341814d4-7282-4bab-bae9-31d242b95711","triggerCount":1,"shared":[{"createdAt":"2026-02-04T15:46:07.869Z","updatedAt":"2026-02-04T15:46:07.869Z","role":"workflow:owner","workflowId":"bmeP2HodACNyVGM1","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}