tmr_popula_erp_cor_associados_ina-OdqKZ5RkDSQhDuTs.json
{"createdAt":"2025-11-06T12:05:40.140Z","updatedAt":"2025-11-09T20:04:38.518Z","id":"OdqKZ5RkDSQhDuTs","name":"TMR_POPULA_ERP_COR_ASSOCIADOS_INA","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-576,80],"id":"abbbb5e8-6dc8-4c56-9b1f-6d5c0a7466ed","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,-320],"id":"1d26c5cb-7607-43a3-ad54-dddbfc2f7252","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[800,-320],"id":"06516cd8-843b-4a77-9f4a-411b21370b3e","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,-320],"id":"41e7e560-57f5-45d1-91d1-de316fe33db9","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"atualizar_pessoa_associado_inativo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-576,-320],"id":"59fb3ac0-07ac-4aa1-8480-d8239afd9a29","name":"Webhook","webhookId":"f6acbb5a-de26-410e-ba0a-3294bf61e236","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-576,-128],"id":"557f2761-5219-4c6a-b9b9-a7dbcde27249","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,272],"id":"db1c9dfe-569c-4762-8363-743d6cfee627","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-320],"id":"76b0eb8f-5b35-49dc-a2ac-3ebb0d9e9ed2","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPI').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPI').item.json.numero_paginas - 1 - i) * 2999)\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-112],"id":"5ee2a07f-3018-4d7d-93b9-ae9ccd6b7fc8","name":"dadosLoop","notes":"{{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i * 2999})) }}\n"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-112],"id":"c4f570f1-22bd-4ba3-9ebe-b8326072df09","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,176],"id":"d8c442fa-5596-4231-86c0-74fec55e9bcd","name":"loopPaginas","alwaysOutputData":false},{"parameters":{"errorMessage":"EXECUTADO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[64,80],"id":"8f735705-6900-4923-b14f-809fdd574e0f","name":"Stop and Error1"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-112],"id":"9b227e5b-7204-4ffd-b4b9-ce6fce9199ff","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"2\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"607ac817-9888-454e-8bde-3b7b6702f710","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[304,-320],"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"value":"ElONtCBXglWhsSVX","mode":"list","cachedResultUrl":"/workflow/ElONtCBXglWhsSVX","cachedResultName":"SUB_POPULA_ERP_COR_ASSOCIADOS_INA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosPaginas').item.json.quantidadePagina }}","pagina":"={{ $('dadosPaginas').item.json.pagina }}","token":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"},"matchingColumns":[],"schema":[{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pagina","displayName":"pagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[304,272],"id":"e5b573ed-63d9-4c26-a2ea-29f2ea3f4fd2","name":"Call 'SUB_POPULA_ERP_COR_ASSOCIADOS_INA'"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"Call 'SUB_POPULA_ERP_COR_ASSOCIADOS_INA'","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"Call 'SUB_POPULA_ERP_COR_ASSOCIADOS_INA'":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cce2f534-d7cf-4b10-9e85-d76129a2c753","triggerCount":2,"shared":[{"createdAt":"2025-11-06T12:05:40.140Z","updatedAt":"2025-11-06T12:05:40.140Z","role":"workflow:owner","workflowId":"OdqKZ5RkDSQhDuTs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}