tmr_atualiza_cor_colaborador_voluntario-AzyXvfFmijIuTlYd.json
{"createdAt":"2025-10-31T14:27:18.802Z","updatedAt":"2025-12-03T15:03:01.141Z","id":"AzyXvfFmijIuTlYd","name":"TMR_ATUALIZA_COR_COLABORADOR_VOLUNTARIO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-400],"id":"09ca4612-c072-45f1-8d52-bc9e6546e1b7","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-384,-400],"id":"39225a48-1d4c-43be-85d4-99fabddc560a","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,-400],"id":"e298e337-8e1a-4710-90e0-ba4cf6fb90bc","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,-400],"id":"7143853f-c45f-4c19-920f-ea235a9d1406","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[512,-416],"id":"b7e9c2a1-fa75-406f-9274-8275a3033354","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-18 * * *"}]}},"id":"bbb56377-35ad-412e-9ed0-1a22f1d637b3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-608,-208]},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/voluntario/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"15a39a66-a939-406f-bc1a-7eafd7dcd303","name":"buscaVoluntarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,-400],"continueOnFail":true},{"parameters":{"path":"1821b52d-29be-4247-b70d-3f75225cba51","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-608,-592],"id":"cf08871e-f6a4-4e77-9897-bda9c6549b70","name":"Webhook","webhookId":"1821b52d-29be-4247-b70d-3f75225cba51"},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT\n    ROW_NUMBER() OVER (PARTITION BY regexp_replace(NULLIF(cpf, ''), '[^0-9]', '', 'g')\n                       ORDER BY codigo_voluntario) AS ordem_no_lote,\n\n    regexp_replace(NULLIF(cpf, ''), '[^0-9]', '', 'g') AS cpf_limpo,\n    nome,\n    telefone,\n    email,\n    situacao,\n    codigo_voluntario,\n    data_cadastro\n  FROM json_to_recordset($1::json) AS x(\n    codigo_voluntario text,\n    nome text,\n    cpf text,\n    telefone text,\n    email text,\n    situacao text,\n    data_cadastro text\n  )\n),\n\n-- ✔ LOCALIZA pessoa existente com mesmo CPF (mesmo inválido)\npessoa_lookup AS (\n  SELECT\n    d.*,\n    p.id_pessoa AS id_existente\n  FROM dados d\n  LEFT JOIN public.cor_pessoa p\n         ON p.cpf_cnpj_pessoa = d.cpf_limpo\n),\n\n-- ✔ INSERE SOMENTE se:\n--   - CPF NUNCA EXISTIU no banco\n--   - É a primeira ocorrência do CPF no JSON\npessoa_insert AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    email_pessoa,\n    cod_voluntario_sga\n  )\n  SELECT\n    pl.nome,\n    pl.cpf_limpo,\n    CASE WHEN length(pl.cpf_limpo) > 11 THEN 'JURÍDICA' ELSE 'FÍSICA' END,\n    regexp_replace(pl.telefone, '[^0-9]', '', 'g'),\n    pl.email,\n    pl.codigo_voluntario::bigint\n  FROM pessoa_lookup pl\n  WHERE pl.id_existente IS NULL              -- não existe na tabela\n    AND pl.ordem_no_lote = 1                -- primeira ocorrência no JSON\n  RETURNING id_pessoa, cpf_cnpj_pessoa\n),\n\n-- ✔ RESOLVE ID (existe → usa; inseriu → usa)\npessoa_final AS (\n  SELECT\n    pl.*,\n    COALESCE(pl.id_existente, pi.id_pessoa) AS id_pessoa_final\n  FROM pessoa_lookup pl\n  LEFT JOIN pessoa_insert pi\n         ON pi.cpf_cnpj_pessoa = pl.cpf_limpo\n),\n\n-- ✔ ATUALIZA pessoa existente com dados do lote\npessoa_update AS (\n  UPDATE public.cor_pessoa p\n  SET\n    nome_pessoa =\n      COALESCE(NULLIF(pf.nome, ''), p.nome_pessoa),\n\n    email_pessoa =\n      COALESCE(NULLIF(pf.email, ''), p.email_pessoa),\n\n    telefone_pessoa =\n      COALESCE(NULLIF(regexp_replace(pf.telefone, '[^0-9]', '', 'g'), ''),\n               p.telefone_pessoa),\n\n    cod_voluntario_sga =\n      COALESCE(\n          NULLIF(regexp_replace(pf.codigo_voluntario, '[^0-9]', '', 'g'), '')::bigint,\n          p.cod_voluntario_sga\n      )  \n\n  FROM pessoa_final pf\n  WHERE p.id_pessoa = pf.id_pessoa_final\n  RETURNING p.id_pessoa\n),\n\n-- ✔ INSERE colaborador (sem duplicidade)\ncolaborador_insert AS (\n  INSERT INTO public.cor_colaborador (\n    id_pessoa,\n    id_empresa,\n    id_tipo_colaborador,\n    cod_colaborador,\n    num_matricula,\n    dom_sit_colaborador,\n    dth_cadastro\n  )\n  SELECT\n    pf.id_pessoa_final,\n    NULL,\n    1,\n    pf.codigo_voluntario,\n    pf.codigo_voluntario,\n    pf.situacao,\n    COALESCE(pf.data_cadastro::timestamp, CURRENT_TIMESTAMP)\n  FROM pessoa_final pf\n  ON CONFLICT (id_pessoa, id_tipo_colaborador) DO NOTHING\n  RETURNING id_colaborador, id_pessoa\n)\n\nSELECT\n  (SELECT COUNT(*) FROM pessoa_insert) AS pessoas_inseridas,\n  (SELECT COUNT(*) FROM pessoa_update) AS pessoas_atualizadas,\n  (SELECT COUNT(*) FROM colaborador_insert) AS colaboradores_inseridos;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaVoluntarios').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,-192],"id":"9c9c9c2d-2d58-407d-8cbb-90f9f0f9e3b8","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Voluntários - Finalizado \n{{ 'Pessoas inseridas: ' + $json.pessoas_inseridas + '\\n' +\n   'Pessoas atualizadas: ' + $json.pessoas_atualizadas + '\\n' +\n   'Colaboradores inseridos: ' + $json.colaboradores_inseridos }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[736,-192],"id":"1f4c8b06-ceab-4cef-81ea-a7d5231c8476","name":"Send message1","webhookId":"5edccbed-b988-44f0-8ab5-695bbfc1218c","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}},"disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaVoluntarios","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaPessoa","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaVoluntarios":{"main":[[{"node":"If1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"gravaPessoa":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6d3c10a-7183-487f-adf9-69fec68321ac","triggerCount":2,"shared":[{"createdAt":"2025-10-31T14:27:18.802Z","updatedAt":"2025-10-31T14:27:18.802Z","role":"workflow:owner","workflowId":"AzyXvfFmijIuTlYd","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}