tmr_classificacao_veic_sga_top-sRTIz4905ghHcsUS.json
{"createdAt":"2025-12-09T16:38:27.978Z","updatedAt":"2025-12-09T17:43:12.136Z","id":"sRTIz4905ghHcsUS","name":"TMR_CLASSIFICACAO_VEIC_SGA_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,-32],"id":"16e85d25-bf2d-486a-8e23-5bfb28dbc71f","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-32],"id":"be3083f8-c81d-466c-b1ce-fd2021a00b29","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-96,-32],"id":"9e04124e-4db4-4c37-918c-6bad9febc029","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-32],"id":"be9e5d30-cdd4-4fbe-98eb-accf1a1fe094","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,-48],"id":"ada25ecc-c93c-40df-9dc9-b4e1b5f7740f","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 20 * * *"}]}},"id":"53706bdf-652a-449e-a052-d799e643bf7f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-544,160]},{"parameters":{"path":"1821b52d-29be-4247-b70d-3f75225cba51","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-224],"id":"5fb7a763-8e83-40ca-9904-bd7e10f8939d","name":"Webhook","webhookId":"1821b52d-29be-4247-b70d-3f75225cba51"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Classificacao - Finalizado \n{{ 'Inseridas: ' + $json.total_inseridos + '\\n' +\n   'Atualizadas: ' + $json.total_atualizados + '\\n' +\n   'Ativadas: ' + $json.total_ativos + '\\n' +\n   'Inativadas: ' + $json.total_inativos }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[784,192],"id":"d8e22ba6-3c8c-46b4-8624-e6cae0891254","name":"Send message1","webhookId":"5edccbed-b988-44f0-8ab5-695bbfc1218c","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/classificacao-veiculo/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"ead393b7-e76c-435c-bb03-16d9eba7851a","name":"buscaDadosSGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,-32],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH raw AS (\n    SELECT jsonb_array_elements($1::jsonb) AS elem\n),\n\nnorm AS (\n    SELECT\n        'DOM_CLASSIFICACAO_VEICULO'    AS id_dominio,\n        elem->>'descricao'             AS val_dominio,\n        elem->>'descricao'             AS dsc_val_dominio,\n        elem->>'situacao'              AS sit_val_dominio,\n        (elem->>'codigo')::int2        AS seq_dominio\n    FROM raw\n),\n\nvalidos AS (\n    SELECT *\n    FROM norm\n    WHERE val_dominio IS NOT NULL\n      AND seq_dominio IS NOT NULL\n),\n\nupsert AS (\n    INSERT INTO cor_val_dominio (\n        id_dominio,\n        val_dominio,\n        dsc_val_dominio,\n        sit_val_dominio,\n        seq_dominio\n    )\n    SELECT *\n    FROM validos\n    ON CONFLICT (id_dominio, val_dominio)\n    DO UPDATE SET\n        dsc_val_dominio = EXCLUDED.dsc_val_dominio,\n        sit_val_dominio = EXCLUDED.sit_val_dominio,\n        seq_dominio     = EXCLUDED.seq_dominio\n    RETURNING\n        (xmax = 0) AS inserted,\n        (xmax <> 0) AS updated,\n        sit_val_dominio\n),\n\nstats AS (\n    SELECT\n        COUNT(*) FILTER (WHERE inserted) AS total_inseridos,\n        COUNT(*) FILTER (WHERE updated) AS total_atualizados,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'ATIVO') AS total_ativos,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'INATIVO') AS total_inativos\n    FROM upsert\n)\n\nSELECT * FROM stats;","options":{"queryReplacement":"={{ JSON.stringify($('buscaDadosSGA').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,192],"id":"bfc6e54f-4e94-4458-a315-23a8444daa69","name":"gravaDadosERPTop","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaDadosSGA","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaDadosERPTop","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaDadosSGA":{"main":[[{"node":"If1","type":"main","index":0}]]},"gravaDadosERPTop":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"35d43053-1024-4dc0-9736-ad20a8a46c98","triggerCount":0,"shared":[{"createdAt":"2025-12-09T16:38:27.978Z","updatedAt":"2025-12-09T16:38:27.978Z","role":"workflow:owner","workflowId":"sRTIz4905ghHcsUS","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}