tmr_tabela_avaliacao_veic_sga_top-rBMBjFHg8iHmN8I2.json
{"createdAt":"2025-12-09T18:01:06.691Z","updatedAt":"2025-12-09T18:02:18.421Z","id":"rBMBjFHg8iHmN8I2","name":"TMR_TABELA_AVALIACAO_VEIC_SGA_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,-32],"id":"c8153340-4781-40d1-aae1-bf049e4bf6be","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-32],"id":"7610ed16-a7c6-4989-b4d4-0f926d7fe4ea","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-96,-32],"id":"702e20e9-ecaf-42c5-8a28-d8b330031fce","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-32],"id":"a669c5c6-d419-49bc-99e3-23b9aba66fa8","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,-48],"id":"a097c1a9-7bba-42c9-899b-6ea21c28c0d8","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 20 * * *"}]}},"id":"6d4ac05d-4018-4f11-a9bc-68ed11425f6c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-544,160]},{"parameters":{"path":"d6dafb0f-fa37-4850-8850-5a67b2723ecf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-224],"id":"282cb646-50c9-4138-924a-33aae4144188","name":"Webhook","webhookId":"d6dafb0f-fa37-4850-8850-5a67b2723ecf"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Depreciação - Finalizado \n{{ 'Inseridas: ' + $json.total_inseridos + '\\n' +\n   'Atualizadas: ' + $json.total_atualizados + '\\n' +\n   'Ativadas: ' + $json.total_ativos + '\\n' +\n   'Inativadas: ' + $json.total_inativos }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[784,192],"id":"80071318-405d-4315-869e-68ae14b5da1c","name":"Send message1","webhookId":"9e385e5e-fd7a-4a62-bd14-5429150465b0","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/tabela-avaliacao/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"20e9ba60-b0c6-4667-b6d7-b3f0f1bb749c","name":"buscaDadosSGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,-32],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n    -- Normaliza o JSON para sempre virar um array\n    SELECT\n        CASE\n            WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n            ELSE jsonb_build_array($1::jsonb)\n        END AS js\n),\n\n-- Extrai todos os arrays possíveis (body, data, resultados, ou array direto)\narrays AS (\n    SELECT\n        CASE\n            WHEN jsonb_typeof(elem->'body') = 'array' THEN elem->'body'\n            WHEN jsonb_typeof(elem->'data') = 'array' THEN elem->'data'\n            WHEN jsonb_typeof(elem) = 'array'          THEN elem\n            ELSE jsonb_build_array(elem)\n        END AS arr\n    FROM entrada, jsonb_array_elements(entrada.js) AS elem\n),\n\n-- Explode os arrays finais em itens individuais\nraw AS (\n    SELECT jsonb_array_elements(arr) AS elem\n    FROM arrays\n),\n\n-- Normaliza os campos esperados\nnorm AS (\n    SELECT\n        'DOM_TABELA_AVALIACAO' AS id_dominio,\n\n        elem->>'descricao'     AS val_dominio,\n        elem->>'descricao'     AS dsc_val_dominio,\n        elem->>'situacao'      AS sit_val_dominio,\n\n        COALESCE(\n            NULLIF(elem->>'codigo_tabela_avaliacao',''),\n            NULLIF(elem->>'codigo','')\n        )::int2 AS seq_dominio\n\n    FROM raw\n),\n\n-- Filtra registros válidos\nvalidos AS (\n    SELECT *\n    FROM norm\n    WHERE val_dominio IS NOT NULL\n      AND seq_dominio IS NOT NULL\n),\n\n-- UPSERT (inserção ou atualização)\nupsert AS (\n    INSERT INTO cor_val_dominio (\n        id_dominio,\n        val_dominio,\n        dsc_val_dominio,\n        sit_val_dominio,\n        seq_dominio\n    )\n    SELECT *\n    FROM validos\n    ON CONFLICT (id_dominio, val_dominio)\n    DO UPDATE SET\n        dsc_val_dominio = EXCLUDED.dsc_val_dominio,\n        sit_val_dominio = EXCLUDED.sit_val_dominio,\n        seq_dominio     = EXCLUDED.seq_dominio\n    RETURNING\n        (xmax = 0) AS inserted,\n        (xmax <> 0) AS updated,\n        sit_val_dominio\n),\n\n-- Estatísticas finais\nstats AS (\n    SELECT\n        COUNT(*) FILTER (WHERE inserted) AS total_inseridos,\n        COUNT(*) FILTER (WHERE updated)  AS total_atualizados,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'ATIVO')   AS total_ativos,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'INATIVO') AS total_inativos\n    FROM upsert\n)\n\nSELECT * FROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDadosSGA').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,192],"id":"4a34ffff-db29-4648-8200-9ee5870d4178","name":"gravaDadosERPTop","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaDadosSGA","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaDadosERPTop","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaDadosSGA":{"main":[[{"node":"If1","type":"main","index":0}]]},"gravaDadosERPTop":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e608c96-45bb-4631-899f-1c797cb7b0e3","triggerCount":0,"shared":[{"createdAt":"2025-12-09T18:01:06.691Z","updatedAt":"2025-12-09T18:01:06.691Z","role":"workflow:owner","workflowId":"rBMBjFHg8iHmN8I2","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}