tmr_popula_top_boletos-2VuemE7VvQrM65uQ.json
{"createdAt":"2025-11-01T16:39:34.113Z","updatedAt":"2025-11-02T01:08:16.608Z","id":"2VuemE7VvQrM65uQ","name":"TMR_POPULA_TOP_BOLETOS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-912,544],"id":"f2261769-18af-4e02-a286-bc21abf062a4","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,144],"id":"2af9d31e-bcbe-4753-b0ac-d28a4fc41f5a","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,128],"id":"68c1d1b5-1ad2-44ba-ba29-27a5c80fac57","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,144],"id":"0464e3af-219b-4814-82c2-3bf0f48a2e7f","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"tmr_atualizar_boletos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-912,144],"id":"e2cba3ca-f848-4434-9723-c835967180d4","name":"Webhook","webhookId":"48457991-1587-42c6-a3bd-05cc8160223d","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-912,336],"id":"fd9ae41b-7312-4684-bbde-be81b1994910","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,352],"id":"c8aa93bc-7758-4d8d-a721-3a05c504e434","name":"dadosPaginas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,544],"id":"57c44b57-04c8-49d4-9aa9-7b4938ca1481","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[160,544],"id":"22985907-3706-4cc6-a7e6-7d259c3f1759","name":"Stop and Error"},{"parameters":{"tableId":"cor_pessoa","fieldsUi":{"fieldValues":[{"fieldId":"nome_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.nome }}"},{"fieldId":"cpf_cnpj_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.cpf }}"},{"fieldId":"telefone_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.ddd }}{{ $('loopBoletos').item.json.associados.telefone }}"},{"fieldId":"whatsapp_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.ddd }}{{ $('loopBoletos').item.json.associados.telefone_celular }}"},{"fieldId":"tel_comercial_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.ddd_comercial }}{{ $('loopBoletos').item.json.associados.telefone_comercial }}"},{"fieldId":"email_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.email }}"},{"fieldId":"dom_tpo_pessoa","fieldValue":"PESSOA FISICA"},{"fieldId":"dom_sexo","fieldValue":"={{ $('loopBoletos').item.json.associados.sexo }}"},{"fieldId":"celular_pessoa","fieldValue":"={{ $('loopBoletos').item.json.associados.ddd }}{{ $('loopBoletos').item.json.associados.telefone_celular }}"},{"fieldId":"cod_associado_sga","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_associado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1248,768],"id":"67b242cc-4b68-4bbb-9fcc-142961d23c84","name":"COR_PESSOA","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"select * \nfrom cor_pessoa p\nwhere p.cpf_cnpj_pessoa = '{{ $('Loop Over Items1').item.json.associados.cpf }}'\norder by p.dth_cad_pessoa desc\nlimit 1","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1456,880],"id":"916f1aa1-98d8-44ef-9e96-c493f812cc39","name":"buscaPessoa","executeOnce":true,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d70de2f3-559d-47ef-a7fc-3f485648370a","leftValue":"={{ $json.total.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1856,880],"id":"2227a96b-e322-4937-b29e-999169f2ea65","name":"If1"},{"parameters":{"operation":"executeQuery","query":"select\n  coalesce((\n    select count(*)\n    from cor_associado\n    where id_pessoa = {{ $('buscaPessoa').item.json.id_pessoa}}\n  ), 0) as total,\n  (select {{ $('buscaPessoa').item.json.id_pessoa}}) as id_pessoa;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1664,880],"id":"0c782e33-cc24-4623-a988-1034824e722a","name":"buscaAssociado","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"cor_associado","filters":{"conditions":[{"keyName":"id_pessoa","condition":"eq","keyValue":"={{ $json.id_pessoa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"dom_sit_associado","fieldValue":"=ATIVO"},{"fieldId":"id_regional","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_regional }}"},{"fieldId":"id_cooperativa","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_cooperativa }}"},{"fieldId":"id_voluntario","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2048,880],"id":"5397fa7a-7371-4e46-a2bc-8aa29935862e","name":"editCOR_ASSOCIADO","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"cor_associado","fieldsUi":{"fieldValues":[{"fieldId":"id_pessoa","fieldValue":"={{ $json.id_pessoa }}"},{"fieldId":"dom_sit_associado","fieldValue":"=ATIVO"},{"fieldId":"dth_cadastro","fieldValue":"={{\n  (()=>{\n    const valor = $('loopBoletos').item.json.associados?.data_cadastro_associado;\n    if (!valor) return null; // Caso seja vazio, null, undefined\n    try {\n      return new Date(valor).toISOString(); // ou $moment(valor).format('DD/MM/YYYY')\n    } catch (e) {\n      return null; // Retorna null se falhar\n    }\n  })()\n}}"},{"fieldId":"dth_ingresso","fieldValue":"={{\n  (()=>{\n    const valor = $('loopBoletos').item.json.associados?.data_contrato_associado;\n    if (!valor) return null; // Caso seja vazio, null, undefined\n    try {\n      return new Date(valor).toISOString(); // ou $moment(valor).format('DD/MM/YYYY')\n    } catch (e) {\n      return null; // Retorna null se falhar\n    }\n  })()\n}}"},{"fieldId":"id_regional","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_regional }}"},{"fieldId":"id_cooperativa","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_cooperativa }}"},{"fieldId":"id_voluntario","fieldValue":"={{ $('loopBoletos').item.json.associados.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2048,560],"id":"f9b0f4f3-92a7-4db1-ae35-1480e5491a27","name":"newCOR_ASSOCIADO","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"=01/11/2025","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"=30/11/2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,144],"id":"9e04c1c5-04fe-43c1-a3a2-1cd3b300b5c6","name":"dadosDatas","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 1\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"2bba499b-e192-4c51-8733-f7392346aebd","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"2b75ee40-d2e8-4b48-afc0-61292804698b","name":"dadosLoop","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,352],"id":"72cf04b2-6247-4957-81ea-ac7f2ccac526","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,352],"id":"caffcdac-5eb4-4508-8f13-d3508d1827fc","name":"splitAssociados1","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[352,352],"id":"134e99d0-ff71-43a1-afb0-6bbbe7f8d907","name":"loopPaginas"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": {{ $('dadosPaginas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('dadosPaginas').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"1980493c-f55b-4037-be22-e884b73b6c4f","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-256,544],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,752],"id":"732db0e9-007c-4e4b-8ceb-2f2a91fc19ff","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"select\n  coalesce((\n    select count(*)\n    from \"topBIBoletos\"\n    where nosso_numero = '{{ $('loopBoletos').item.json.boletos.nosso_numero }}'\n  ), 0) as total,\n  (select '{{ $('loopBoletos').item.json.boletos.nosso_numero }}') as nosso_numero;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,752],"id":"1b9ac8c6-7ea1-466c-9f0b-d0a6ded4854f","name":"buscaNossoNumero","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,752],"id":"0f0775e0-ebc6-4fe8-a3ba-43c79b158cbc","name":"loopBoletos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d70de2f3-559d-47ef-a7fc-3f485648370a","leftValue":"={{ $json.total.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,752],"id":"89327fd8-8987-4ab5-8229-e6377aa6f718","name":"If"},{"parameters":{"tableId":"topBIBoletos","fieldsUi":{"fieldValues":[{"fieldId":"nosso_numero","fieldValue":"={{ $('loopBoletos').item.json.boletos.nosso_numero }}"},{"fieldId":"codigo_associado","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_associado }}"},{"fieldId":"nome_associado","fieldValue":"={{ $('loopBoletos').item.json.boletos.nome_associado }}"},{"fieldId":"celular","fieldValue":"={{ $('loopBoletos').item.json.boletos.celular }}"},{"fieldId":"data_emissao","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_emissao }}"},{"fieldId":"data_vencimento","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_vencimento }}"},{"fieldId":"data_vencimento_original","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_vencimento_original }}"},{"fieldId":"data_pagamento","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_pagamento }}"},{"fieldId":"codigo_tipo_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_tipo_boleto }}"},{"fieldId":"tipo_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.tipo_boleto }}"},{"fieldId":"codigo_situacao_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_situacao_boleto }}"},{"fieldId":"codigo_forma_pagamento","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_forma_pagamento }}"},{"fieldId":"situacao_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.situacao_boleto }}"},{"fieldId":"valor_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.valor_boleto }}"},{"fieldId":"valor_pagamento","fieldValue":"={{ $('loopBoletos').item.json.boletos.valor_pagamento }}"},{"fieldId":"linha_digitavel","fieldValue":"={{ $('loopBoletos').item.json.boletos.linha_digitavel }}"},{"fieldId":"placa","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].placa }}"},{"fieldId":"modelo","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].modelo }}"},{"fieldId":"codigo_regional","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_regional }}"},{"fieldId":"codigo_cooperativa","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_cooperativa }}"},{"fieldId":"codigo_voluntario","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"},{"fieldId":"codigo_banco","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_banco }}"},{"fieldId":"mes_referente","fieldValue":"={{ $('loopBoletos').item.json.boletos.mes_referente }}"},{"fieldId":"situacao_veiculo","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].situacao_veiculo }}"},{"fieldId":"link_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.link_boleto === \"Não foi possível disponibilizar esta informação pois o boleto excedeu o prazo permitido de abertura do boleto pelo associado\" ? '-' : ($('loopBoletos').item.json.boletos.link_boleto || '-') }}"},{"fieldId":"msgBoletoEnviada","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[784,640],"id":"fcf3d2d5-7b66-4684-b289-29f31fa1692c","name":"gravaBoleto","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"topBIBoletos","filters":{"conditions":[{"keyName":"nosso_numero","condition":"eq","keyValue":"={{ $('loopBoletos').item.json.boletos.nosso_numero }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"codigo_associado","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_associado }}"},{"fieldId":"nome_associado","fieldValue":"={{ $('loopBoletos').item.json.boletos.nome_associado }}"},{"fieldId":"celular","fieldValue":"={{ $('loopBoletos').item.json.boletos.celular }}"},{"fieldId":"data_emissao","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_emissao }}"},{"fieldId":"data_vencimento","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_vencimento }}"},{"fieldId":"data_vencimento_original","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_vencimento_original }}"},{"fieldId":"data_pagamento","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_pagamento }}"},{"fieldId":"codigo_tipo_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_tipo_boleto }}"},{"fieldId":"tipo_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.tipo_boleto }}"},{"fieldId":"codigo_situacao_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_situacao_boleto }}"},{"fieldId":"codigo_forma_pagamento","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_forma_pagamento }}"},{"fieldId":"situacao_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.situacao_boleto }}"},{"fieldId":"valor_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.valor_boleto }}"},{"fieldId":"valor_pagamento","fieldValue":"={{ $('loopBoletos').item.json.boletos.valor_pagamento }}"},{"fieldId":"linha_digitavel","fieldValue":"={{ $('loopBoletos').item.json.boletos.linha_digitavel }}"},{"fieldId":"placa","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].placa }}"},{"fieldId":"modelo","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].modelo }}"},{"fieldId":"codigo_regional","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_regional }}"},{"fieldId":"codigo_cooperativa","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_cooperativa }}"},{"fieldId":"codigo_voluntario","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"},{"fieldId":"codigo_banco","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_banco }}"},{"fieldId":"mes_referente","fieldValue":"={{ $('loopBoletos').item.json.boletos.mes_referente }}"},{"fieldId":"situacao_veiculo","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].situacao_veiculo }}"},{"fieldId":"link_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.link_boleto === \"Não foi possível disponibilizar esta informação pois o boleto excedeu o prazo permitido de abertura do boleto pelo associado\" ? '-' : ($('loopBoletos').item.json.boletos.link_boleto || '-') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[784,848],"id":"074e8d69-133b-41d9-a8d8-ab2ecad16047","name":"editBoleto","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[368,576],"id":"f89f1100-fced-49a0-9eb4-b94064908794","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"splitBoletos","type":"main","index":0}]]},"COR_PESSOA":{"main":[[{"node":"newCOR_ASSOCIADO","type":"main","index":0}],[{"node":"buscaPessoa","type":"main","index":0}]]},"buscaPessoa":{"main":[[{"node":"buscaAssociado","type":"main","index":0}]]},"buscaAssociado":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"newCOR_ASSOCIADO","type":"main","index":0}],[{"node":"editCOR_ASSOCIADO","type":"main","index":0}]]},"editCOR_ASSOCIADO":{"main":[[]]},"newCOR_ASSOCIADO":{"main":[[]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitAssociados1","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"splitAssociados1":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"loopPaginas":{"main":[[],[{"node":"dadosPaginas","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"If3","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"loopBoletos":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"buscaNossoNumero","type":"main","index":0}]]},"buscaNossoNumero":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"gravaBoleto","type":"main","index":0}],[{"node":"editBoleto","type":"main","index":0}]]},"editBoleto":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"gravaBoleto":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"buscaQuantPaginas":[{"json":{"body":{"total_associados":57865,"mostrando ":3000,"mostrando":3000,"numero_paginas":1,"pagina_corrente":1,"associados":[{}]},"headers":{"date":"Fri, 31 Oct 2025 21:01:01 GMT","content-type":"application/json","transfer-encoding":"chunked","connection":"close","server":"nginx/1.22.1"},"statusCode":200,"statusMessage":"OK"}}]},"versionId":"1d95ba7b-e6b3-4313-9318-70c96412894e","triggerCount":1,"shared":[{"createdAt":"2025-11-01T16:39:34.113Z","updatedAt":"2025-11-01T16:39:34.113Z","role":"workflow:owner","workflowId":"2VuemE7VvQrM65uQ","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}