tmr_msg_boletos_associados_top-RD03yANEp72b5TPY.json
{"createdAt":"2025-09-22T13:45:45.429Z","updatedAt":"2026-02-05T19:57:48.861Z","id":"RD03yANEp72b5TPY","name":"TMR_MSG_BOLETOS_ASSOCIADOS_TOP","active":true,"isArchived":false,"nodes":[{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-32,1104],"id":"77d4549a-55ab-4796-8d0a-b810bdb3b8c7","name":"Aggregate1"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-18/1 * * *"}]}},"id":"8a94e135-6329-449d-b080-86b6f4d2d54f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-704,1200],"executeOnce":true},{"parameters":{"operation":"executeQuery","query":"select *\nfrom topbiboletos\nwhere msgboletoenviada = false\n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO','MIGRAÇÃO DE SISTEMA')\n  and link_boleto is not null\n  --and codigo_regional = '248'\n  and data_vencimento between\n      date_trunc('month', current_date)\n      and (date_trunc('month', current_date) + interval '1 month' - interval '1 day')\norder by data_vencimento_original\nlimit 400;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-480,1104],"id":"42c188d4-c5aa-4bac-b2ef-668498a5c8ff","name":"buscaBoletos","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Envio da mensagem do boleto + app finalizado","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[192,1104],"id":"9c3bf37f-fd9e-45bb-aa7f-cfa33421b8b3","name":"Send message","webhookId":"35eedcdd-5cef-4732-9baf-41b9d408b432","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"path":"454df8ec-252b-4878-a83c-2bbc087c353a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,1008],"id":"1520fd62-0cd8-418f-b7ad-2a944aeea5ef","name":"Webhook","webhookId":"454df8ec-252b-4878-a83c-2bbc087c353a"},{"parameters":{"workflowId":{"__rl":true,"value":"edQSHJEr7E5To4Iq","mode":"list","cachedResultUrl":"/workflow/edQSHJEr7E5To4Iq","cachedResultName":"SUB_MSG_BOLETOS_ASSOCIADOS_TOP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"celular_match":"={{ $('buscaBoletos').item.json.celular.match }}"},"matchingColumns":["celular_match"],"schema":[{"id":"celular_match","displayName":"celular_match","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-256,1104],"name":"Call SUB_MSG_BOLETOS_ASSOCIADOS_TOP","id":"5af20254-22fa-44e1-b1f5-ac4d135e2f28"}],"connections":{"Schedule Trigger":{"main":[[{"node":"buscaBoletos","type":"main","index":0}]]},"buscaBoletos":{"main":[[{"node":"Call SUB_MSG_BOLETOS_ASSOCIADOS_TOP","type":"main","index":0}]]},"Send message":{"main":[[]]},"Aggregate1":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"buscaBoletos","type":"main","index":0}]]},"Call SUB_MSG_BOLETOS_ASSOCIADOS_TOP":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"503d294c-147c-4dc5-ba75-2ffec747d1e7","triggerCount":2,"shared":[{"createdAt":"2025-09-22T13:45:45.429Z","updatedAt":"2025-09-22T13:45:45.429Z","role":"workflow:owner","workflowId":"RD03yANEp72b5TPY","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.642Z","updatedAt":"2025-07-12T12:17:26.642Z","id":"TN2r2A362fmMHecy","name":"WHATSAPP"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"}]}