tmr_popula_erp_cor_veiculos_atv-qDM4U0QUh4lpdcHs.json
{"createdAt":"2025-12-09T18:50:58.793Z","updatedAt":"2026-01-13T13:08:03.668Z","id":"qDM4U0QUh4lpdcHs","name":"TMR_POPULA_ERP_COR_VEICULOS_ATV","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,544],"id":"4d2a1700-9b04-46df-80c6-12c733ad8a5f","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,144],"id":"5742ff4b-bea4-4232-821e-9f49cd138ba3","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"w4v6KMhSHceEmSSn","mode":"list","cachedResultUrl":"/workflow/w4v6KMhSHceEmSSn","cachedResultName":"WF_ATUALIZA_TOKEN_ATUALIZA_BD"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,144],"id":"9df02262-6f67-4354-8f3f-fb72c34de3e2","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGAAtualizaBD"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-320,144],"id":"709c43e1-93f9-4831-8857-c6b32804a2d0","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"5745852f-46ed-490e-b73f-b0d67544757a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,144],"id":"3ba3f5fa-75ce-41cd-a2a4-ac42344176ce","name":"Webhook","webhookId":"5745852f-46ed-490e-b73f-b0d67544757a","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,336],"id":"eb3cb8ea-9e3e-4048-9415-8982e37881dc","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,736],"id":"9a525fc4-3176-41bc-87f8-9b805fb67301","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"acb49ed4-a535-44ca-b694-5921bacf63a0","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPI').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPI').item.json.numero_paginas - 1 - i) * 2999)\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,352],"id":"e9bea629-0328-4197-926b-2e41942ccd05","name":"dadosLoop","notes":"{{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i * 2999})) }}\n"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,352],"id":"c6d741e8-b002-4eb9-b54b-0e54f53dc3bc","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-528,640],"id":"5e3d3918-c644-4b4a-bd17-86df97910958","name":"loopPaginas","alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,352],"id":"8b9a0684-486b-4e1f-9200-ce680ffbb9f4","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/veiculo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"1b3dcaf1-a1cd-4136-a703-95d0ead2d058","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"continueOnFail":true},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Associado - Finalizado","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-48,544],"id":"1d10369c-aa2d-42be-8f6b-f174ceaac444","name":"Send message","webhookId":"d2a4ef27-c56c-489b-8b7d-e573156118bf","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,544],"id":"67ceb887-5268-4b74-9131-d52a3e9ea141","name":"Aggregate"},{"parameters":{"workflowId":{"__rl":true,"value":"Wdr074nVmK9i2JYx","mode":"list","cachedResultUrl":"/workflow/Wdr074nVmK9i2JYx","cachedResultName":"SUB_POPULA_ERP_COR_VEICULOS_ATV"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosPaginas').item.json.quantidadePagina }}","pagina":"={{ $('dadosPaginas').item.json.pagina }}","token":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"},"matchingColumns":[],"schema":[{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pagina","displayName":"pagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-48,736],"id":"c410e5da-cb04-4168-b2bd-c41d28ff5c34","name":"Call 'SUB_POPULA_ERP_COR_VEICULOS_ATV'"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"Call 'SUB_POPULA_ERP_COR_VEICULOS_ATV'","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Call 'SUB_POPULA_ERP_COR_VEICULOS_ATV'":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f94366f3-1610-44f6-b88c-59659a1211aa","triggerCount":2,"shared":[{"createdAt":"2025-12-09T18:50:58.793Z","updatedAt":"2025-12-09T18:50:58.793Z","role":"workflow:owner","workflowId":"qDM4U0QUh4lpdcHs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}