tmr_popula_erp_cor_emp_cooperativa-99KKC7yQ9Qe5sCvf.json
{"createdAt":"2025-11-07T19:26:27.621Z","updatedAt":"2025-11-07T19:33:33.038Z","id":"99KKC7yQ9Qe5sCvf","name":"TMR_POPULA_ERP_COR_EMP_COOPERATIVA","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,544],"id":"8880ad64-36ac-4857-8aeb-5f13a2771aff","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,144],"id":"26bc9238-dc9a-42bf-8a87-f8149a8b84d9","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,144],"id":"abc8e6b0-770b-4382-8917-3e43ca510b2d","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,144],"id":"cedae74d-9722-441a-be79-f2b3fbd6fb77","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"631ac16a-c880-449e-bc96-da9631c32d71","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,144],"id":"29785dfa-6f2e-4c66-816a-ecd041788e37","name":"Webhook","webhookId":"631ac16a-c880-449e-bc96-da9631c32d71","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,336],"id":"fe8d68cf-e5a2-4495-9c14-1c7295dca163","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,352],"id":"d61754a9-5004-4841-95c3-1ddd34ce2b73","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"8026d669-32ef-42d5-adc1-59f845d44e73","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"0ead2e00-04d8-4327-9fcf-b1a5c5cc49d0","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"8953d55b-d124-44c2-b56b-944f320c99cc","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPI').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPI').item.json.numero_paginas - 1 - i) * 2999)\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"fa5a070e-17c1-4eec-ae0d-19e84b421ab8","name":"dadosLoop","notes":"{{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i * 2999})) }}\n"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"=1","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,352],"id":"9758565e-f597-49f1-a2f6-d511bf28b0ea","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,352],"id":"a73cb576-8d68-4e8d-bfd0-271631d483a1","name":"loopPaginas","alwaysOutputData":false},{"parameters":{"errorMessage":"EXECUTADO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[720,144],"id":"adb7f0a3-3d99-4916-8091-7e2be48c68d3","name":"Stop and Error1"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,352],"id":"8b0a4ad1-3d4b-4092-8ae2-0597a18d3ca1","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/cooperativa/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"situacao\": \"todos\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"11706a43-7753-4543-98ea-c5c86b62cc83","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (regexp_replace(cnpj, '[^0-9]', '', 'g'))\n    COALESCE(NULLIF(nome, ''), nome_fantasia) AS nome,\n    regexp_replace(cnpj, '[^0-9]', '', 'g') AS cnpj,\n    nome_fantasia,\n    logradouro,\n    numero,\n    complemento,\n    bairro,\n    cidade,\n    estado,\n    cep,\n    email,\n    website,\n    telefone,\n    situacao,\n    codigo_cooperativa\n  FROM json_to_recordset($1::json) AS x(\n    nome text,\n    nome_fantasia text,\n    cnpj text,\n    logradouro text,\n    numero text,\n    complemento text,\n    bairro text,\n    cidade text,\n    estado text,\n    cep text,\n    email text,\n    website text,\n    telefone text,\n    situacao text,\n    codigo_cooperativa text\n  )\n  WHERE cnpj IS NOT NULL\n),\n\n-- 🧩 Etapa 1: Insere ou atualiza pessoa (empresa)\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    email_pessoa,\n    cod_cooperativa_sga\n  )\n  SELECT\n    COALESCE(NULLIF(nome, ''), nome_fantasia),             -- nome_pessoa\n    cnpj,                                                  -- cpf_cnpj_pessoa\n    'JURÍDICA',                                            -- dom_tpo_pessoa fixo\n    regexp_replace(telefone, '[^0-9]', '', 'g'),           -- remove tudo exceto números\n    email,\n    NULLIF(codigo_cooperativa, '')::bigint                    -- cor_regional_sga\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa = COALESCE(EXCLUDED.nome_pessoa, cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa = COALESCE(EXCLUDED.dom_tpo_pessoa, cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    email_pessoa = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    cod_cooperativa_sga = COALESCE(EXCLUDED.cod_cooperativa_sga, cor_pessoa.cod_cooperativa_sga)\n  RETURNING id_pessoa, cpf_cnpj_pessoa\n),\n\n-- 🧩 Etapa 2: Cria registros de empresa novos\nempresa_insert AS (\n  INSERT INTO public.cor_empresa (\n    id_pessoa,\n    url_logo,\n    dom_tpo_empresa\n  )\n  SELECT\n    p.id_pessoa,\n    NULL,                        -- url_logo ainda não informada\n    'Cooperativa'                     -- tipo padrão de empresa\n  FROM upsert_pessoa p\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_empresa e WHERE e.id_pessoa = p.id_pessoa and dom_tpo_empresa = 'Cooperativa'\n  )\n  RETURNING id_empresa, id_pessoa\n)\n\n-- 🧩 Etapa 3: Atualiza empresas existentes (mantém dados não nulos)\nUPDATE public.cor_empresa ce\nSET\n  dom_tpo_empresa = COALESCE(NULLIF(ce.dom_tpo_empresa, ''), 'Cooperativa'),\n  url_logo = COALESCE(ce.url_logo, NULL)\nWHERE ce.id_pessoa IN (SELECT id_pessoa FROM upsert_pessoa)\n  and ce.dom_tpo_empresa = 'Cooperativa';","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"a079f10e-2e00-4792-83a9-5f02b72da986","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/cooperativa/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"situacao\": \"todos\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"a16a521d-8d24-4dbb-8788-1b4d68bba2a6","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"continueOnFail":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaPessoa","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"gravaPessoa":{"main":[[]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b45a2aa-1cc1-4ddb-b7e5-3971d2bcbe3b","triggerCount":2,"shared":[{"createdAt":"2025-11-07T19:26:27.621Z","updatedAt":"2025-11-07T19:26:27.621Z","role":"workflow:owner","workflowId":"99KKC7yQ9Qe5sCvf","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}