tmr_msg_sms_zenvia_boletos_bd_erp-q580Zgsew3J6FpF8.json
{"createdAt":"2026-01-05T19:36:47.655Z","updatedAt":"2026-02-04T13:59:58.303Z","id":"q580Zgsew3J6FpF8","name":"TMR_MSG_SMS_ZENVIA_BOLETOS_BD_ERP","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1312,1392],"id":"0a8a6d08-c54d-4b44-a1f0-220e22820b9a","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"45 9 * * 1-5"}]}},"id":"b0c77e8f-c295-43e4-8177-53aa49c85836","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1312,1216]},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[-416,1216],"id":"4306d2ec-15ee-4663-b0b6-711cf2c53c6f"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1088,1216],"id":"43067d0b-9ca2-4a05-ad37-db74d2c9fb63","name":"No Operation, do nothing1"},{"parameters":{"workflowId":{"__rl":true,"value":"2VuemE7VvQrM65uQ","mode":"list","cachedResultUrl":"/workflow/2VuemE7VvQrM65uQ","cachedResultName":"TMR_POPULA_TOP_BOLETOS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataVInicial":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 5); // começa 5 dia após o vencimento\n\n    // enquanto for segunda (1), retrocede + 9 dias\n    while (d.getDay() === 1) {\n      d.setDate(d.getDate() - 8);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}"},"matchingColumns":["origem"],"schema":[{"id":"dataVInicial","displayName":"dataVInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-864,1216],"id":"a925012d-2d47-4862-bcd0-5719457748dd","name":"AtualizaBoletos","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-640,1216],"id":"819cd3f6-c131-4a82-9732-a0831f4ee087","name":"Aggregate4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eca47edb-494d-4817-a8de-f54d74458b2f","leftValue":"={{ $('verificaFeriado3').item.json.isHoliday }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"496514d7-b372-43dc-9576-0fbae277ab0a","leftValue":"={{ $json.holiday.type }}","rightValue":"facultativo","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,688],"id":"31835198-aec1-46f6-9f41-b60034beead5","name":"If3"},{"parameters":{"workflowId":{"__rl":true,"value":"QV6HWDmqkiXXdyFk","mode":"list","cachedResultUrl":"/workflow/QV6HWDmqkiXXdyFk","cachedResultName":"SUB_VERIFICA_FERIADO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data":"={{ $('dadosPaginaVencD-0_SMS').item.json.dtVencimento }}"},"matchingColumns":[],"schema":[{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[272,688],"id":"d5bce89a-f136-4070-bb76-25d49d6bf444","name":"verificaFeriado3"},{"parameters":{"operation":"executeQuery","query":"select *\nfrom topBIBoletos\nwhere data_vencimento = $1\n  and codigo_situacao_boleto = '2'\n  and codigo_regional = '229'\n  and codigo_cooperativa = '39'\n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO')  \norder by codigo_voluntario asc","options":{"queryReplacement":"={{ [$('dadosPaginaVencD-5_SMS').item.json.dtVencimento ?? null] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[736,1216],"id":"bd2da51c-9218-488a-bf28-7c3242207da9","name":"buscaBoletosTOP_CO_D-5_SMS","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"select *\nfrom topBIBoletos\nwhere data_vencimento_original = $1\n  and codigo_situacao_boleto = '2'\n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO')  \n  and msg_sms_znv_diavencimento = false\norder by codigo_voluntario asc","options":{"queryReplacement":"={{ [$('dadosPaginaVencD-0_SMS').item.json.dtVencimento ?? null] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,688],"id":"a10ee18e-10f0-4e49-87e4-e34b5f4d8b8a","name":"buscaBoletosTOP_PVCECO_D-0_SMS","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"select *\nfrom topBIBoletos\nwhere data_vencimento_original = $1\n  and codigo_situacao_boleto = '2'\n  and codigo_regional not in ('229')\n  and codigo_cooperativa not in ('39')  \n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO')  \norder by codigo_voluntario asc","options":{"queryReplacement":"={{ [$('dadosPaginaVencD-2_SMS1').item.json.dtVencimento ?? null] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,1792],"id":"b58599cb-58a9-42ed-883c-8d7c5231ae83","name":"buscaBoletosTOP_PVCE_D-2_SMS","alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"=0","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{ $json.data_vencimento?.toDateTime()?.format('yyyy/MM/dd') || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,1216],"id":"5701f617-4ac0-4de0-9796-cc47fb8aa0a4","name":"dadosPaginaVencD-5_SMS"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"=0","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate()); // começa 5 dia após o vencimento\n\n    // enquanto for segunda (1), retrocede + 9 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${yyyy}/${mm}/${dd}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,688],"id":"0e394bd4-3882-4e71-b137-f0ace87bdfbd","name":"dadosPaginaVencD-0_SMS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eca47edb-494d-4817-a8de-f54d74458b2f","leftValue":"={{ $('verificaFeriado4').item.json.isHoliday }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"66e001cb-9181-4fc0-afd7-7bbf85150028","leftValue":"={{ $json.holiday.type }}","rightValue":"facultativo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,1792],"id":"a471b74c-6230-485b-b8e2-b3d3fbec1dc7","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"QV6HWDmqkiXXdyFk","mode":"list","cachedResultUrl":"/workflow/QV6HWDmqkiXXdyFk","cachedResultName":"SUB_VERIFICA_FERIADO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data":"={{ $('dadosPaginaVencD-2_SMS1').item.json.dtVencimento }}"},"matchingColumns":[],"schema":[{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[720,1792],"id":"119f8e5e-a118-40ad-b794-370316299833","name":"verificaFeriado4"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"=0","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{ $json.data_vencimento?.toDateTime()?.format('yyyy/MM/dd') || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,1792],"id":"fa4a25d9-5bb1-49da-bd12-7fdaa818ad93","name":"dadosPaginaVencD-2_SMS1"},{"parameters":{"operation":"executeQuery","query":"UPDATE topBIBoletos\nSET msg_sms_znv_diavencimento = true, dth_envio_sms_znv_diavencimento = CURRENT_TIMESTAMP\nwhere data_vencimento = $1\n  and codigo_situacao_boleto = '2'\n  and codigo_regional = '229'\n  and codigo_cooperativa = '39'\n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO');","options":{"queryReplacement":"={{\n[\n [$('dadosPaginaVencD-5_SMS').item.json.dtVencimento ?? null] \n]\n}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[512,1040],"id":"734e7b69-be35-46db-ac0e-2569f8dbf9d5","name":"buscaBoletosTOP_PVCE_D-2_SMS2","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE topBIBoletos\nSET msg_sms_znv_diavencimento = true, dth_envio_sms_znv_diavencimento = CURRENT_TIMESTAMP\nwhere data_vencimento = $1\n  and codigo_situacao_boleto = '2'\n  and codigo_regional = '229'\n  and codigo_cooperativa = '39'\n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO');","options":{"queryReplacement":"={{\n[\n [$('dadosPaginaVencD-0_SMS').item.json.dtVencimento ?? null] \n]\n}}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[496,496],"id":"7ee22c61-69f3-4698-90d5-f23c59f13787","name":"buscaBoletosTOP_PVCE_D-2_SMS3","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH vencimentos AS (\n    SELECT unnest(ARRAY[5,10,15,20,25,26,30]) AS dia_vencimento\n),\nbase AS (\n    SELECT\n        v.dia_vencimento,\n        make_date(\n            EXTRACT(YEAR FROM CURRENT_DATE)::int,\n            EXTRACT(MONTH FROM CURRENT_DATE)::int,\n            v.dia_vencimento\n        ) AS data_vencimento_original\n    FROM vencimentos v\n    WHERE v.dia_vencimento <= EXTRACT(\n        DAY FROM (\n            date_trunc('month', CURRENT_DATE)\n            + INTERVAL '1 month'\n            - INTERVAL '1 day'\n        )\n    )\n),\ncalculado AS (\n    SELECT\n        b.dia_vencimento,\n        b.data_vencimento_original,\n        CASE\n            WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                THEN b.data_vencimento_original + INTERVAL '2 days'\n            WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                THEN b.data_vencimento_original + INTERVAL '1 day'\n            ELSE b.data_vencimento_original\n        END::date AS data_base_ajustada,\n        (\n            CASE\n                WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                    THEN b.data_vencimento_original + INTERVAL '2 days'\n                WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                    THEN b.data_vencimento_original + INTERVAL '1 day'\n                ELSE b.data_vencimento_original\n            END\n            + INTERVAL '4 days'\n        )::date AS data_5_dias_corridos,\n        (\n            SELECT d::date\n            FROM generate_series(\n                (\n                    CASE\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                            THEN b.data_vencimento_original + INTERVAL '2 days'\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                            THEN b.data_vencimento_original + INTERVAL '1 day'\n                        ELSE b.data_vencimento_original\n                    END\n                ) + INTERVAL '1 day',\n                (\n                    CASE\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                            THEN b.data_vencimento_original + INTERVAL '2 days'\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                            THEN b.data_vencimento_original + INTERVAL '1 day'\n                        ELSE b.data_vencimento_original\n                    END\n                ) + INTERVAL '10 days',\n                INTERVAL '1 day'\n            ) d\n            WHERE EXTRACT(DOW FROM d) NOT IN (0,6)\n            ORDER BY d\n            OFFSET 1\n            LIMIT 1\n        ) AS data_2_dias_uteis\n    FROM base b\n),\nresultado AS (\n    SELECT\n        dia_vencimento,\n        data_vencimento_original::date AS data_vencimento,\n        data_5_dias_corridos,\n        data_2_dias_uteis\n    FROM calculado\n    WHERE data_5_dias_corridos = CURRENT_DATE\n)\nSELECT *\nFROM resultado\nUNION ALL\nSELECT\n    NULL::int,\n    NULL::date,\n    NULL::date,\n    NULL::date\nWHERE NOT EXISTS (SELECT 1 FROM resultado);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-176,1216],"id":"385660dc-6bd3-4b54-b9cd-b8b9fd775793","name":"buscaBoletosTOP_CO_D-5_SMS1","alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"WITH vencimentos AS (\n    SELECT unnest(ARRAY[5,10,15,20,25,26,30]) AS dia_vencimento\n),\nbase AS (\n    SELECT\n        v.dia_vencimento,\n        make_date(\n            EXTRACT(YEAR FROM CURRENT_DATE)::int,\n            EXTRACT(MONTH FROM CURRENT_DATE)::int,\n            v.dia_vencimento\n        ) AS data_vencimento_original\n    FROM vencimentos v\n    WHERE v.dia_vencimento <= EXTRACT(\n        DAY FROM (\n            date_trunc('month', CURRENT_DATE)\n            + INTERVAL '1 month'\n            - INTERVAL '1 day'\n        )\n    )\n),\ncalculado AS (\n    SELECT\n        b.dia_vencimento,\n        b.data_vencimento_original,\n        CASE\n            WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                THEN b.data_vencimento_original + INTERVAL '2 days'\n            WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                THEN b.data_vencimento_original + INTERVAL '1 day'\n            ELSE b.data_vencimento_original\n        END::date AS data_base_ajustada,\n        (\n            CASE\n                WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                    THEN b.data_vencimento_original + INTERVAL '2 days'\n                WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                    THEN b.data_vencimento_original + INTERVAL '1 day'\n                ELSE b.data_vencimento_original\n            END\n            + INTERVAL '4 days'\n        )::date AS data_5_dias_corridos,\n        (\n            SELECT d::date\n            FROM generate_series(\n                (\n                    CASE\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                            THEN b.data_vencimento_original + INTERVAL '2 days'\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                            THEN b.data_vencimento_original + INTERVAL '1 day'\n                        ELSE b.data_vencimento_original\n                    END\n                ) + INTERVAL '1 day',\n                (\n                    CASE\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 6\n                            THEN b.data_vencimento_original + INTERVAL '2 days'\n                        WHEN EXTRACT(DOW FROM b.data_vencimento_original) = 0\n                            THEN b.data_vencimento_original + INTERVAL '1 day'\n                        ELSE b.data_vencimento_original\n                    END\n                ) + INTERVAL '10 days',\n                INTERVAL '1 day'\n            ) d\n            WHERE EXTRACT(DOW FROM d) NOT IN (0,6)\n            ORDER BY d\n            OFFSET 1\n            LIMIT 1\n        ) AS data_2_dias_uteis\n    FROM base b\n),\nresultado AS (\n    SELECT\n        dia_vencimento,\n        data_vencimento_original::date AS data_vencimento,\n        data_5_dias_corridos,\n        data_2_dias_uteis\n    FROM calculado\n    WHERE data_2_dias_uteis = CURRENT_DATE\n)\nSELECT *\nFROM resultado\nUNION ALL\nSELECT\n    NULL::int,\n    NULL::date,\n    NULL::date,\n    NULL::date\nWHERE NOT EXISTS (SELECT 1 FROM resultado);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-176,1792],"id":"ebc9cdf2-9c19-477d-8c3b-746fd639b0c3","name":"buscaBoletosTOP_2D_UTEIS","alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b40f6db2-e195-4b81-9a38-4e9205aec686","leftValue":"={{ $json.data_2_dias_uteis?.toDateTime()?.format('yyyy-MM-dd') || null }}","rightValue":"={{ $now.format('yyyy-MM-dd') }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,1792],"id":"239ae82b-6b5b-4e0d-8122-6431470f2871","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b40f6db2-e195-4b81-9a38-4e9205aec686","leftValue":"={{ $json.data_5_dias_corridos?.toDateTime()?.format('yyyy-MM-dd') }}","rightValue":"={{ $now.format('yyyy-MM-dd') }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,1216],"id":"77c43904-8f81-4ef4-8ac6-c5691b034af8","name":"If1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[272,496],"id":"7c039a8c-8a46-4cf9-8dda-904ec51f6461","name":"Aggregate"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[272,1040],"id":"180607c6-848e-43e7-8e64-073fb91ea6d6","name":"Aggregate1"},{"parameters":{"path":"229d65e7-a6c5-44a3-a58c-d8ec60d181ee","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1312,1040],"id":"f03867be-ca81-4a60-84d8-360e927e0118","name":"Webhook","webhookId":"229d65e7-a6c5-44a3-a58c-d8ec60d181ee"},{"parameters":{"workflowId":{"__rl":true,"value":"aVt9pTc2nYKwyPvv","mode":"list","cachedResultUrl":"/workflow/aVt9pTc2nYKwyPvv","cachedResultName":"SUB_SMS_ENVIA_MSG_ZENVIA_LEMBRETE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome_associado":"={{ $json.nome_associado }}","celular_match":"={{'55'+$('loopSMSBoletos').item.json.celular.match( /\\d+/g ).join('')}}","placa":"={{ $json.placa }}","nosso_numero":"={{ $('loopSMSBoletos').item.json.nosso_numero }}","data_vencimento_toDateTime":"={{ $('loopSMSBoletos').item.json.data_vencimento.toDateTime().format('yyyy-MM-dd') }}","tipo_boleto":"={{ $json.tipo_boleto }}","valor_boleto":"={{ $json.valor_boleto }}","link_boleto":"={{ $('loopSMSBoletos').item.json.link_boleto }}","mes_referente":"={{ $json.mes_referente }}","situacao_veiculo":"={{ $json.situacao_veiculo }}"},"matchingColumns":["nome_associado","celular_match","placa","nosso_numero","data_vencimento_toDateTime","tipo_boleto","valor_boleto","link_boleto","mes_referente","situacao_veiculo"],"schema":[{"id":"nome_associado","displayName":"nome_associado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"celular_match","displayName":"celular_match","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"placa","displayName":"placa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nosso_numero","displayName":"nosso_numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data_vencimento_toDateTime","displayName":"data_vencimento_toDateTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"tipo_boleto","displayName":"tipo_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"valor_boleto","displayName":"valor_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"link_boleto","displayName":"link_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"mes_referente","displayName":"mes_referente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"situacao_veiculo","displayName":"situacao_veiculo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1152,688],"name":"SUB_LEMBRETE","id":"d79667a3-942f-4c4a-80b0-77738cab5edc","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"qznoTilzlv6Cch62","mode":"list","cachedResultUrl":"/workflow/qznoTilzlv6Cch62","cachedResultName":"SUB_SMS_ENVIA_MSG_ZENVIA_5_DIAS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome_associado":"={{ $json.nome_associado }}","celular_match":"={{'55'+$('loopSMSBoletos2').item.json.celular.match( /\\d+/g ).join('')}}","placa":"={{ $json.placa }}","nosso_numero":"={{ $('loopSMSBoletos2').item.json.nosso_numero }}","data_vencimento_toDateTime":"={{ $('loopSMSBoletos2').item.json.data_vencimento.toDateTime().format('yyyy-MM-dd') }}","tipo_boleto":"={{ $json.tipo_boleto }}","valor_boleto":"={{ $json.valor_boleto }}","link_boleto":"={{ $('loopSMSBoletos2').item.json.link_boleto }}","mes_referente":"={{ $json.mes_referente }}","situacao_veiculo":"={{ $json.situacao_veiculo }}"},"matchingColumns":["nome_associado","celular_match","placa","nosso_numero","data_vencimento_toDateTime","tipo_boleto","valor_boleto","link_boleto","mes_referente","situacao_veiculo"],"schema":[{"id":"nome_associado","displayName":"nome_associado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"celular_match","displayName":"celular_match","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"placa","displayName":"placa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nosso_numero","displayName":"nosso_numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data_vencimento_toDateTime","displayName":"data_vencimento_toDateTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"tipo_boleto","displayName":"tipo_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"valor_boleto","displayName":"valor_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"link_boleto","displayName":"link_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"mes_referente","displayName":"mes_referente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"situacao_veiculo","displayName":"situacao_veiculo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1152,1216],"name":"SUB_5_CORRIDOS","id":"9c80059e-3bd8-4ee0-9bf8-8d89d3949ae8","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"5r3V94qDwNYlMY7l","mode":"list","cachedResultUrl":"/workflow/5r3V94qDwNYlMY7l","cachedResultName":"SUB_SMS_ENVIA_MSG_ZENVIA_2_UTEIS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome_associado":"={{ $json.nome_associado }}","celular_match":"={{'55'+$('loopSMSBoletos1').item.json.celular.match( /\\d+/g ).join('')}}","placa":"={{ $json.placa }}","nosso_numero":"={{ $('loopSMSBoletos1').item.json.nosso_numero }}","data_vencimento_toDateTime":"={{ $('loopSMSBoletos1').item.json.data_vencimento.toDateTime().format('yyyy-MM-dd') }}","tipo_boleto":"={{ $json.tipo_boleto }}","valor_boleto":"={{ $json.valor_boleto }}","link_boleto":"={{ $('loopSMSBoletos1').item.json.link_boleto }}","mes_referente":"={{ $json.mes_referente }}","situacao_veiculo":"={{ $json.situacao_veiculo }}"},"matchingColumns":["nome_associado","celular_match","placa","nosso_numero","data_vencimento_toDateTime","tipo_boleto","valor_boleto","link_boleto","mes_referente","situacao_veiculo"],"schema":[{"id":"nome_associado","displayName":"nome_associado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"celular_match","displayName":"celular_match","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"placa","displayName":"placa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nosso_numero","displayName":"nosso_numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data_vencimento_toDateTime","displayName":"data_vencimento_toDateTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"tipo_boleto","displayName":"tipo_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"valor_boleto","displayName":"valor_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"link_boleto","displayName":"link_boleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"mes_referente","displayName":"mes_referente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"situacao_veiculo","displayName":"situacao_veiculo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1584,1792],"name":"SUB_2_UTEIS","id":"d22d7693-e1cc-4baa-8103-c13cdd06044f","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,1792],"id":"284a4731-debd-4dc5-8229-a03a2cae58f4","name":"loopDatas"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1792,1792],"id":"6a7b0c95-ce79-4478-ab29-63574262e502","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,1792],"id":"1981dfd6-0107-43e5-ab10-186ea4d406bf","name":"loopSMSBoletos1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[272,1600],"id":"427315dc-e90a-40a3-b574-3c5a7fa33028","name":"Aggregate2"},{"parameters":{"operation":"executeQuery","query":"UPDATE topBIBoletos\nSET msg_sms_znv_diavencimento = true, dth_envio_sms_znv_diavencimento = CURRENT_TIMESTAMP \nwhere data_vencimento_original = $1\n  and codigo_situacao_boleto = '2'\n  and situacao_boleto = 'ABERTO'\n  and tipo_boleto in ('FECHAMENTO')  ","options":{"queryReplacement":"={{\n[\n [$('dadosPaginaVencD-2_SMS1').item.json.dtVencimento ?? null] \n]\n}}\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[496,1600],"id":"d1b07005-b5e2-4121-a37a-97e3669590c9","name":"buscaBoletosTOP_PVCE_D-2_SMS1","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,1216],"id":"e8b1ff1c-7835-44ff-8fa7-b81859d52f84","name":"loopDatas1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,1216],"id":"66bdbd59-7b6b-4256-8019-141878568127","name":"loopSMSBoletos2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,688],"id":"8226aa26-6e71-4577-bb51-e9d251b2ab72","name":"loopSMSBoletos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,688],"id":"799a0acc-dc03-4e31-b345-9a5aaed0f54d","name":"loopDatas2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,688],"id":"0d0823d9-b617-4760-ba1a-bddea5e0afd4","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,1216],"id":"86ceadfb-c3f9-43ab-8b4f-02cb1d25003b","name":"No Operation, do nothing3"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"dadosPaginaVencD-0_SMS","type":"main","index":0},{"node":"buscaBoletosTOP_CO_D-5_SMS1","type":"main","index":0},{"node":"buscaBoletosTOP_2D_UTEIS","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"AtualizaBoletos","type":"main","index":0}]]},"AtualizaBoletos":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"Init Counter","type":"main","index":0}]]},"If3":{"main":[[{"node":"buscaBoletosTOP_PVCECO_D-0_SMS","type":"main","index":0}],[{"node":"loopDatas2","type":"main","index":0}]]},"verificaFeriado3":{"main":[[{"node":"If3","type":"main","index":0}]]},"buscaBoletosTOP_CO_D-5_SMS":{"main":[[{"node":"loopSMSBoletos2","type":"main","index":0}]]},"buscaBoletosTOP_PVCECO_D-0_SMS":{"main":[[{"node":"loopSMSBoletos","type":"main","index":0}]]},"buscaBoletosTOP_PVCE_D-2_SMS":{"main":[[{"node":"loopSMSBoletos1","type":"main","index":0}]]},"dadosPaginaVencD-5_SMS":{"main":[[{"node":"buscaBoletosTOP_CO_D-5_SMS","type":"main","index":0}]]},"dadosPaginaVencD-0_SMS":{"main":[[{"node":"loopDatas2","type":"main","index":0}]]},"verificaFeriado4":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"buscaBoletosTOP_PVCE_D-2_SMS","type":"main","index":0}],[{"node":"loopDatas","type":"main","index":0}]]},"dadosPaginaVencD-2_SMS1":{"main":[[{"node":"verificaFeriado4","type":"main","index":0}]]},"buscaBoletosTOP_CO_D-5_SMS1":{"main":[[{"node":"loopDatas1","type":"main","index":0}]]},"buscaBoletosTOP_2D_UTEIS":{"main":[[{"node":"loopDatas","type":"main","index":0}]]},"If":{"main":[[{"node":"dadosPaginaVencD-2_SMS1","type":"main","index":0}],[{"node":"loopDatas","type":"main","index":0}]]},"If1":{"main":[[{"node":"dadosPaginaVencD-5_SMS","type":"main","index":0}],[{"node":"loopDatas1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"buscaBoletosTOP_PVCE_D-2_SMS3","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"buscaBoletosTOP_PVCE_D-2_SMS2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"SUB_LEMBRETE":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"SUB_5_CORRIDOS":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"SUB_2_UTEIS":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"loopDatas":{"main":[[{"node":"Aggregate2","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"loopDatas","type":"main","index":0}]]},"loopSMSBoletos1":{"main":[[{"node":"SUB_2_UTEIS","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"buscaBoletosTOP_PVCE_D-2_SMS1","type":"main","index":0}]]},"buscaBoletosTOP_PVCE_D-2_SMS1":{"main":[[]]},"loopDatas1":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"loopSMSBoletos2":{"main":[[{"node":"SUB_5_CORRIDOS","type":"main","index":0}]]},"loopSMSBoletos":{"main":[[{"node":"SUB_LEMBRETE","type":"main","index":0}]]},"loopDatas2":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"verificaFeriado3","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"loopDatas2","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"loopDatas1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt","timeSavedPerExecution":2},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2be455de-1de3-45b1-a8a6-e1ccd2f5c745","triggerCount":2,"shared":[{"createdAt":"2026-01-05T19:36:47.655Z","updatedAt":"2026-01-05T19:36:47.655Z","role":"workflow:owner","workflowId":"q580Zgsew3J6FpF8","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-11-27T19:20:14.981Z","updatedAt":"2025-11-27T19:20:14.981Z","id":"G1PiCFR214hWj5Im","name":"BDERP"}]}