tmr_msg_boletos_associados_top-RD03yANEp72b5TPY.json
{"createdAt":"2025-09-22T13:45:45.429Z","updatedAt":"2025-11-17T20:23:02.832Z","id":"RD03yANEp72b5TPY","name":"TMR_MSG_BOLETOS_ASSOCIADOS_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","tableId":"topBIBoletos","filters":{"conditions":[{"keyName":"idBIBoletos","condition":"eq","keyValue":"={{ $('loopBoletosBI').item.json.idBIBoletos }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"msgBoletoEnviada","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,1200],"id":"30100fb1-f9ad-4c4b-98c0-a9125204eead","name":"Update a row","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-64,992],"id":"77d4549a-55ab-4796-8d0a-b810bdb3b8c7","name":"Aggregate1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"8a94e135-6329-449d-b080-86b6f4d2d54f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-704,1184],"executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,1200],"id":"8cf00c99-2a0e-45a5-852d-1e99104783be","name":"noOp"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.cor","remoteJid":"=553192240123","messageText":"={{\n'Olá, ' + \n$('loopBoletosBI').item.json[\"nome_associado\"].toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + \n' segue o boleto da TOPBrasil para a placa ' + $('loopBoletosBI').item.json.placa\n}}","options_message":{"delay":48000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,928],"id":"e169973f-2fa9-423d-9ae6-4d74b295d9d5","name":"enviaMsgBoleto","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}\n\n{{\n'Olá, ' + \n$('loopBoletosBI').item.json[\"nome_associado\"].toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ', caso ainda não tenha recebido o boleto da TOPBrasil com vencimento para ' + $('loopBoletosBI').item.json.data_vencimento.substring(8,10) + '/' + $('loopBoletosBI').item.json.data_vencimento.substring(5,7) + '/' + $('loopBoletosBI').item.json.data_vencimento.substring(0,4) + ', segue o link de pagamento para a placa ' + $('loopBoletosBI').item.json.placa + '. É só clicar no link abaixo para abrir o boleto: ' + $('loopBoletosBI').item.json.link_boleto + ' ou utilize o código de barras'\n}}\n"},{"parameters":{"resource":"messages","instance":"3E7C9B20A7BEA1534B5D763F75A59B65","token":"=75F554434CF7F92F8ACDA589","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}","message":"={{ $('loopBoletosBI').item.json.link_boleto }}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[528,928],"id":"b37010f6-4525-45da-9dbc-156908479828","name":"zapiMsgCodBarras","alwaysOutputData":true,"disabled":true,"onError":"continueRegularOutput","notes":"55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,1184],"id":"0648b82b-da32-48bd-81cc-5912540abb8e","name":"loopBoletosBI"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM topBIBoletos\n  WHERE msgBoletoEnviada = false\n    AND situacao_boleto = 'ABERTO'\n    AND tipo_boleto in ('FECHAMENTO', 'MIGRAÇÃO DE SISTEMA')\n    AND link_boleto is not null\n    AND data_vencimento_original >= current_date\n    AND codigo_regional = '248'\nORDER BY data_vencimento_original\nLIMIT 850;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-496,1184],"id":"42c188d4-c5aa-4bac-b2ef-668498a5c8ff","name":"buscaBoletos","credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"amount":18},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,928],"id":"1b970844-53ab-4eec-a6f9-7fa078d5df1c","name":"Wait","webhookId":"b79945cb-124f-48d6-9aee-d0c185276ac0","disabled":true},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"zap.top.cobranca","remoteJid":"=55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}","media":"={{ $('loopBoletosBI').item.json.link_boleto }}","fileName":"boleto.pdf","options_message":{"delay":12000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[880,928],"id":"3444578e-a257-4edb-9b50-820c0d526d57","name":"enviaDocPDF","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}\n\n{{\n'Olá, ' + \n$('loopBoletosBI').item.json[\"nome_associado\"].toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ', caso ainda não tenha recebido o boleto da TOPBrasil com vencimento para ' + $('loopBoletosBI').item.json.data_vencimento.substring(8,10) + '/' + $('loopBoletosBI').item.json.data_vencimento.substring(5,7) + '/' + $('loopBoletosBI').item.json.data_vencimento.substring(0,4) + ', segue o link de pagamento para a placa ' + $('loopBoletosBI').item.json.placa + '. É só clicar no link abaixo para abrir o boleto: ' + $('loopBoletosBI').item.json.link_boleto + ' ou utilize o código de barras'\n}}\n"},{"parameters":{"resource":"messages","operation":"send-document","instance":"3E7C9B150A1CA22A087B5AA343DA93A5","token":"=8C7968C772AD7A9316125C3F","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}","document":"={{ $('loopBoletosBI').item.json.link_boleto }}","fileName":"={{ $('loopBoletosBI').item.json.placa }}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[624,752],"id":"8c5fe7e1-43fe-4b75-84ea-886961a0a05c","name":"zapiMsgTopCor","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"resource":"messages","instance":"3E7C9B150A1CA22A087B5AA343DA93A5","token":"=8C7968C772AD7A9316125C3F","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}","message":"={{ 'Olá, ' +  $('loopBoletosBI').item.json[\"nome_associado\"].toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) +  ' segue o boleto da TOPBrasil para a placa ' + $('loopBoletosBI').item.json.placa }}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[336,752],"id":"ba9c2ec1-d143-447e-b283-c9aaffce8694","name":"zapiMsgTopCor1","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"55{{$('loopBoletosBI').item.json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,1200],"id":"d6b6e8dd-a4a3-414e-854d-86d94b30b668","name":"Wait2","webhookId":"b79945cb-124f-48d6-9aee-d0c185276ac0","disabled":true},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+{{ $('whBMTop').item.json.body.entry[0].changes[0].value.messages[0].from }}","textBody":"={{$json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-336,768],"id":"9c3bf37f-fd9e-45bb-aa7f-cfa33421b8b3","name":"Send message","webhookId":"35eedcdd-5cef-4732-9baf-41b9d408b432","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"+553192240123\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"boleto_programado_start_app_ptbr\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $('loopBoletosBI').item.json.nome_associado || '-' }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $('loopBoletosBI').item.json.placa || '-' }}\" },\n          { \"type\": \"text\", \"text\": \"{{ ( $('loopBoletosBI').item.json.data_vencimento.split('T')[0] ).split('-').reverse().join('/') || '-'}}\" },\n          { \"type\": \"text\", \"text\": \"{{$('loopBoletosBI').item.json.valor_boleto || '-'}}\" },\n          { \"type\": \"text\", \"text\": \"{{$('loopBoletosBI').item.json.link_boleto || '-'}}\" }\n        ]\n      },\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"url\",\n        \"index\": \"0\"\n      },\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"url\",\n        \"index\": \"1\"\n      }\n    ]\n  }\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,1200],"id":"c9b4ef75-9915-4d7d-8c16-1e186b558f1f","name":"payment_overdue_dplus1","onError":"continueRegularOutput","notes":"{{ $('CLIENTE').item.json.data[0].telefone[0].contato.match(/\\d+/g ).join('')}}"}],"connections":{"Update a row":{"main":[[{"node":"loopBoletosBI","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"buscaBoletos","type":"main","index":0}]]},"noOp":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"enviaMsgBoleto":{"main":[[]]},"zapiMsgCodBarras":{"main":[[]]},"loopBoletosBI":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"noOp","type":"main","index":0}]]},"buscaBoletos":{"main":[[{"node":"loopBoletosBI","type":"main","index":0}]]},"Wait":{"main":[[]]},"enviaDocPDF":{"main":[[]]},"zapiMsgTopCor":{"main":[[]]},"zapiMsgTopCor1":{"main":[[]]},"Wait2":{"main":[[{"node":"payment_overdue_dplus1","type":"main","index":0}]]},"Send message":{"main":[[]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"522b5938-00b8-47f3-9e3d-dfa298feb157","triggerCount":1,"shared":[{"createdAt":"2025-09-22T13:45:45.429Z","updatedAt":"2025-09-22T13:45:45.429Z","role":"workflow:owner","workflowId":"RD03yANEp72b5TPY","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.642Z","updatedAt":"2025-07-12T12:17:26.642Z","id":"TN2r2A362fmMHecy","name":"WHATSAPP"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"}]}