tmr_atualiza_cor_colaborador_voluntario-AzyXvfFmijIuTlYd.json
{"createdAt":"2025-10-31T14:27:18.802Z","updatedAt":"2025-11-12T19:12:53.164Z","id":"AzyXvfFmijIuTlYd","name":"TMR_ATUALIZA_COR_COLABORADOR_VOLUNTARIO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-400],"id":"09ca4612-c072-45f1-8d52-bc9e6546e1b7","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-384,-400],"id":"39225a48-1d4c-43be-85d4-99fabddc560a","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,-400],"id":"e298e337-8e1a-4710-90e0-ba4cf6fb90bc","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,-400],"id":"7143853f-c45f-4c19-920f-ea235a9d1406","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[512,-416],"id":"b7e9c2a1-fa75-406f-9274-8275a3033354","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 23 * * *"}]}},"id":"bbb56377-35ad-412e-9ed0-1a22f1d637b3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-608,-208]},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/voluntario/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"15a39a66-a939-406f-bc1a-7eafd7dcd303","name":"buscaVoluntarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,-400],"continueOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaCodVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d2a64fa2-321e-41d0-adb0-63dab2b6f5e7"}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM CADASTRO"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"CADASTRO EXISTE"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,-704],"id":"72c638b2-d81a-42f1-9d4f-8ebf968121ed","name":"Switch"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[768,-704],"id":"50408814-ce1c-4400-ae98-c7f29d335021","name":"buscaCodVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,-528],"id":"30b79b4c-7621-49e3-82a0-a708b8625fe6","name":"Loop Over Items"},{"parameters":{"path":"1821b52d-29be-4247-b70d-3f75225cba51","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-608,-592],"id":"cf08871e-f6a4-4e77-9897-bda9c6549b70","name":"Webhook","webhookId":"1821b52d-29be-4247-b70d-3f75225cba51"},{"parameters":{"tableId":"cor_pessoa","fieldsUi":{"fieldValues":[{"fieldId":"nome_pessoa","fieldValue":"={{ $json.nome }}"},{"fieldId":"cpf_cnpj_pessoa","fieldValue":"={{ $json.cpf }}"},{"fieldId":"telefone_pessoa","fieldValue":"={{ $json.telefone }}"},{"fieldId":"whatsapp_pessoa","fieldValue":"={{ $json.celular }}"},{"fieldId":"tel_comercial_pessoa","fieldValue":"={{ $json.telefone_comercial }}"},{"fieldId":"email_pessoa","fieldValue":"={{ $json.email }}"},{"fieldId":"dat_nasc_pessoa","fieldValue":"={{ $json.data_nascimento }}"},{"fieldId":"dom_tpo_pessoa","fieldValue":"PESSOA JURIDICA"},{"fieldId":"cod_voluntario_sga","fieldValue":"={{ $('Loop Over Items').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1056,-512],"id":"3594778e-b278-4a82-b195-911ee13eafae","name":"COR_PESSOA","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"cor_colaborador","fieldsUi":{"fieldValues":[{"fieldId":"id_pessoa","fieldValue":"={{ $('COR_PESSOA').item.json.id_pessoa }}"},{"fieldId":"id_tipo_colaborador","fieldValue":"1"},{"fieldId":"cod_colaborador","fieldValue":"={{ $('Loop Over Items').item.json.codigo_voluntario }}"},{"fieldId":"num_matricula","fieldValue":"={{ $('Loop Over Items').item.json.codigo_voluntario }}"},{"fieldId":"dom_sit_colaborador","fieldValue":"ATIVO"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1264,-512],"id":"8c90774b-d380-44dc-8e25-bb839c5fd2e8","name":"COR_COLABORADOR","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  -- 🧩 Etapa 0: Normaliza o JSON e limpa CPF/CNPJ\n  SELECT\n    ROW_NUMBER() OVER () AS rn,\n    COALESCE(NULLIF(nome, ''), nome) AS nome,\n    regexp_replace(NULLIF(cpf, ''), '[^0-9]', '', 'g') AS cpf_limpo,\n    email,\n    telefone,\n    situacao,\n    codigo_voluntario,\n    data_cadastro\n  FROM json_to_recordset($1::json) AS x(\n    codigo_voluntario text,\n    nome text,\n    cpf text,\n    telefone text,\n    email text,\n    situacao text,\n    data_cadastro text\n  )\n),\n\n-- 🧩 Etapa 1: Garante um identificador único e não-nulo\ncpf_finalizado AS (\n  SELECT\n    d.*,\n    CASE\n      WHEN d.cpf_limpo IS NULL OR d.cpf_limpo = '' THEN\n        'SEMCPF_' || d.codigo_voluntario\n      WHEN EXISTS (\n        SELECT 1 FROM public.cor_pessoa p WHERE p.cpf_cnpj_pessoa = d.cpf_limpo\n      )\n      OR COUNT(*) OVER (PARTITION BY d.cpf_limpo) > 1 THEN\n        d.cpf_limpo || '_' || d.codigo_voluntario\n      ELSE\n        d.cpf_limpo\n    END AS cpf_final\n  FROM dados d\n),\n\n-- 🧩 Etapa 2: Insere novos registros em cor_pessoa (somente se ainda não existirem)\npessoa_insert AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    email_pessoa\n  )\n  SELECT\n    c.nome,\n    c.cpf_final,\n    CASE WHEN length(c.cpf_final) > 11 THEN 'JURÍDICA' ELSE 'FÍSICA' END,\n    regexp_replace(c.telefone, '[^0-9]', '', 'g'),\n    c.email\n  FROM cpf_finalizado c\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_pessoa p WHERE p.cpf_cnpj_pessoa = c.cpf_final\n  )\n  RETURNING id_pessoa, cpf_cnpj_pessoa\n),\n\n-- 🧩 Etapa 3: Localiza todos os id_pessoa correspondentes\npessoa_final AS (\n  SELECT\n    c.rn,\n    COALESCE(pi.id_pessoa, p.id_pessoa) AS id_pessoa,\n    c.codigo_voluntario,\n    c.situacao,\n    c.data_cadastro\n  FROM cpf_finalizado c\n  LEFT JOIN pessoa_insert pi ON pi.cpf_cnpj_pessoa = c.cpf_final\n  LEFT JOIN public.cor_pessoa p ON p.cpf_cnpj_pessoa = c.cpf_final\n),\n\n-- 🧩 Etapa 4a: Insere novos colaboradores (com proteção contra duplicidade)\ncolaborador_insert AS (\n  INSERT INTO public.cor_colaborador (\n    id_pessoa,\n    id_empresa,\n    id_tipo_colaborador,\n    cod_colaborador,\n    num_matricula,\n    dom_sit_colaborador,\n    dth_cadastro\n  )\n  SELECT\n    pf.id_pessoa,\n    NULL AS id_empresa,\n    1 AS id_tipo_colaborador,\n    pf.codigo_voluntario AS cod_colaborador,\n    pf.codigo_voluntario AS num_matricula,\n    pf.situacao AS dom_sit_colaborador,\n    COALESCE(pf.data_cadastro::timestamp, CURRENT_TIMESTAMP)\n  FROM pessoa_final pf\n  WHERE pf.id_pessoa IS NOT NULL\n  ON CONFLICT (id_pessoa, id_tipo_colaborador) DO NOTHING\n  RETURNING id_colaborador, id_pessoa, cod_colaborador\n),\n\n-- 🧩 Etapa 4b: Identifica os que já existiam e foram ignorados\ncolaborador_existente AS (\n  SELECT\n    pf.id_pessoa,\n    1 AS id_tipo_colaborador,\n    pf.codigo_voluntario AS cod_colaborador\n  FROM pessoa_final pf\n  WHERE EXISTS (\n    SELECT 1\n    FROM public.cor_colaborador c\n    WHERE c.id_pessoa = pf.id_pessoa\n      AND c.id_tipo_colaborador = 1\n  )\n),\n\n-- 🧩 Etapa 5: Contagens agregadas\nresumo AS (\n  SELECT COUNT(*) AS total_inseridos FROM colaborador_insert\n),\nexistentes AS (\n  SELECT COUNT(*) AS total_ignorados FROM colaborador_existente\n)\n\n-- 🧩 Etapa 6: Retorna resumo + log detalhado\nSELECT\n  '✅ Colaboradores processados com sucesso' AS status,\n  r.total_inseridos,\n  e.total_ignorados,\n  (r.total_inseridos + e.total_ignorados) AS total_processados,\n  MIN(ci.id_colaborador) AS primeiro_id,\n  MAX(ci.id_colaborador) AS ultimo_id,\n  json_agg(\n    json_build_object(\n      'id_pessoa', ce.id_pessoa,\n      'cod_colaborador', ce.cod_colaborador\n    )\n  ) AS ignorados\nFROM resumo r\nCROSS JOIN existentes e\nLEFT JOIN colaborador_insert ci ON TRUE\nLEFT JOIN colaborador_existente ce ON TRUE\nGROUP BY\n  r.total_inseridos,\n  e.total_ignorados,\n  (r.total_inseridos + e.total_ignorados);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaVoluntarios').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,-192],"id":"9c9c9c2d-2d58-407d-8cbb-90f9f0f9e3b8","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  -- 🧩 Etapa 0: Normaliza o JSON e limpa CPF/CNPJ\n  SELECT\n    ROW_NUMBER() OVER () AS rn,\n    COALESCE(NULLIF(nome, ''), nome) AS nome,\n    regexp_replace(NULLIF(cpf, ''), '[^0-9]', '', 'g') AS cpf_limpo,\n    email,\n    telefone,\n    situacao,\n    codigo_voluntario,\n    data_cadastro\n  FROM json_to_recordset($1::json) AS x(\n    codigo_voluntario text,\n    nome text,\n    cpf text,\n    telefone text,\n    email text,\n    situacao text,\n    data_cadastro text\n  )\n),\n\n-- 🧩 Etapa 1: Garante um identificador único e não-nulo\ncpf_finalizado AS (\n  SELECT\n    d.*,\n    CASE\n      WHEN d.cpf_limpo IS NULL OR d.cpf_limpo = '' THEN\n        'SEMCPF_' || d.codigo_voluntario  -- cria CPF fictício se vier vazio\n      WHEN EXISTS (\n        SELECT 1 FROM public.cor_pessoa p WHERE p.cpf_cnpj_pessoa = d.cpf_limpo\n      )\n      OR COUNT(*) OVER (PARTITION BY d.cpf_limpo) > 1 THEN\n        d.cpf_limpo || '_' || d.codigo_voluntario  -- evita duplicação\n      ELSE\n        d.cpf_limpo\n    END AS cpf_final\n  FROM dados d\n),\n\n-- 🧩 Etapa 2: Insere novos registros em cor_pessoa (somente se ainda não existirem)\npessoa_insert AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    email_pessoa\n  )\n  SELECT\n    c.nome,\n    c.cpf_final,\n    CASE WHEN length(c.cpf_final) > 11 THEN 'JURÍDICA' ELSE 'FÍSICA' END,\n    regexp_replace(c.telefone, '[^0-9]', '', 'g'),\n    c.email\n  FROM cpf_finalizado c\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_pessoa p WHERE p.cpf_cnpj_pessoa = c.cpf_final\n  )\n  RETURNING id_pessoa, cpf_cnpj_pessoa\n),\n\n-- 🧩 Etapa 3: Localiza todos os id_pessoa correspondentes\npessoa_final AS (\n  SELECT\n    c.rn,\n    COALESCE(pi.id_pessoa, p.id_pessoa) AS id_pessoa,\n    c.codigo_voluntario,\n    c.situacao,\n    c.data_cadastro\n  FROM cpf_finalizado c\n  LEFT JOIN pessoa_insert pi ON pi.cpf_cnpj_pessoa = c.cpf_final\n  LEFT JOIN public.cor_pessoa p ON p.cpf_cnpj_pessoa = c.cpf_final\n),\n\n-- 🧩 Etapa 4: Insere o colaborador vinculado à pessoa\ncolaborador_insert AS (\n  INSERT INTO public.cor_colaborador (\n    id_pessoa,\n    id_empresa,\n    id_tipo_colaborador,\n    cod_colaborador,\n    num_matricula,\n    dom_sit_colaborador,\n    dth_cadastro\n  )\n  SELECT\n    pf.id_pessoa,\n    NULL AS id_empresa,\n    1 AS id_tipo_colaborador,\n    pf.codigo_voluntario AS cod_colaborador,\n    pf.codigo_voluntario AS num_matricula,\n    pf.situacao AS dom_sit_colaborador,\n    COALESCE(pf.data_cadastro::timestamp, CURRENT_TIMESTAMP)\n  FROM pessoa_final pf\n  WHERE pf.id_pessoa IS NOT NULL\n  RETURNING id_colaborador, id_pessoa, cod_colaborador\n)\n\n-- 🧩 Etapa 5: Retorna resumo final\nSELECT\n  '✅ Colaboradores processados com sucesso' AS status,\n  COUNT(*) AS total_inseridos,\n  MIN(id_colaborador) AS primeiro_id,\n  MAX(id_colaborador) AS ultimo_id\nFROM colaborador_insert;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaVoluntarios').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,-224],"id":"e906578e-f406-4c26-b7b2-2253d536d464","name":"gravaPessoa1","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaVoluntarios","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaPessoa","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaVoluntarios":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch":{"main":[[],[]]},"buscaCodVoluntario":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"COR_PESSOA","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"COR_PESSOA":{"main":[[{"node":"COR_COLABORADOR","type":"main","index":0}]]},"COR_COLABORADOR":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e5c286a0-f5a5-4e80-a1f2-cb3a824b2e63","triggerCount":2,"shared":[{"createdAt":"2025-10-31T14:27:18.802Z","updatedAt":"2025-10-31T14:27:18.802Z","role":"workflow:owner","workflowId":"AzyXvfFmijIuTlYd","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}