tmr_depreciacao_veic_sga_top-vVKDqbbXUrykRggJ.json
{"createdAt":"2025-12-09T17:45:02.746Z","updatedAt":"2025-12-09T17:52:25.522Z","id":"vVKDqbbXUrykRggJ","name":"TMR_DEPRECIACAO_VEIC_SGA_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,-32],"id":"0df6b9e3-7ddc-473c-8890-3be25807de41","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-32],"id":"7dcc06e4-915d-41c6-81a5-2003a3ddfbad","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-96,-32],"id":"ecb0b14d-3534-472c-bb75-9a5512674b97","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-32],"id":"704a7e0d-1f2f-4669-b485-43fb70aa3d7a","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,-48],"id":"1a121486-e53a-4934-a6bb-f86340325bf8","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 20 * * *"}]}},"id":"65199ab2-4343-49b9-be9a-4403a206e019","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-544,160]},{"parameters":{"path":"94c757eb-a083-42b3-910c-e2914152d789","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-224],"id":"0713e958-3879-4191-bf0f-f99e294e17e1","name":"Webhook","webhookId":"94c757eb-a083-42b3-910c-e2914152d789"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Depreciação - Finalizado \n{{ 'Inseridas: ' + $json.total_inseridos + '\\n' +\n   'Atualizadas: ' + $json.total_atualizados + '\\n' +\n   'Ativadas: ' + $json.total_ativos + '\\n' +\n   'Inativadas: ' + $json.total_inativos }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[784,192],"id":"a4178233-a324-4d8b-a99d-2b610a839381","name":"Send message1","webhookId":"825f5b11-14cf-4580-a907-1548f05b31f9","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/depreciacao/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"1d52f81a-265f-4eca-bc12-2f4f373f9071","name":"buscaDadosSGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,-32],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n    -- Normaliza o JSON para sempre virar um array\n    SELECT\n        CASE\n            WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n            ELSE jsonb_build_array($1::jsonb)\n        END AS js\n),\n\n-- Extrai todos os arrays possíveis (body, data, resultados, ou array direto)\narrays AS (\n    SELECT\n        CASE\n            WHEN jsonb_typeof(elem->'body') = 'array' THEN elem->'body'\n            WHEN jsonb_typeof(elem->'data') = 'array' THEN elem->'data'\n            WHEN jsonb_typeof(elem) = 'array'          THEN elem\n            ELSE jsonb_build_array(elem)\n        END AS arr\n    FROM entrada, jsonb_array_elements(entrada.js) AS elem\n),\n\n-- Explode os arrays finais em itens individuais\nraw AS (\n    SELECT jsonb_array_elements(arr) AS elem\n    FROM arrays\n),\n\n-- Normaliza os campos esperados\nnorm AS (\n    SELECT\n        'DOM_DEPRECIACAO_VEIC' AS id_dominio,\n\n        elem->>'descricao'     AS val_dominio,\n        elem->>'descricao'     AS dsc_val_dominio,\n        elem->>'situacao'      AS sit_val_dominio,\n\n        COALESCE(\n            NULLIF(elem->>'codigo_depreciacao',''),\n            NULLIF(elem->>'codigo','')\n        )::int2 AS seq_dominio\n\n    FROM raw\n),\n\n-- Filtra registros válidos\nvalidos AS (\n    SELECT *\n    FROM norm\n    WHERE val_dominio IS NOT NULL\n      AND seq_dominio IS NOT NULL\n),\n\n-- UPSERT (inserção ou atualização)\nupsert AS (\n    INSERT INTO cor_val_dominio (\n        id_dominio,\n        val_dominio,\n        dsc_val_dominio,\n        sit_val_dominio,\n        seq_dominio\n    )\n    SELECT *\n    FROM validos\n    ON CONFLICT (id_dominio, val_dominio)\n    DO UPDATE SET\n        dsc_val_dominio = EXCLUDED.dsc_val_dominio,\n        sit_val_dominio = EXCLUDED.sit_val_dominio,\n        seq_dominio     = EXCLUDED.seq_dominio\n    RETURNING\n        (xmax = 0) AS inserted,\n        (xmax <> 0) AS updated,\n        sit_val_dominio\n),\n\n-- Estatísticas finais\nstats AS (\n    SELECT\n        COUNT(*) FILTER (WHERE inserted) AS total_inseridos,\n        COUNT(*) FILTER (WHERE updated)  AS total_atualizados,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'ATIVO')   AS total_ativos,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'INATIVO') AS total_inativos\n    FROM upsert\n)\n\nSELECT * FROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDadosSGA').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,192],"id":"55a55b4d-23e1-47e9-ae85-cc3a217adbc5","name":"gravaDadosERPTop","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaDadosSGA","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaDadosERPTop","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaDadosSGA":{"main":[[{"node":"If1","type":"main","index":0}]]},"gravaDadosERPTop":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"88083576-8b8c-4ddf-8048-cf9cf5bbaa4c","triggerCount":0,"shared":[{"createdAt":"2025-12-09T17:45:02.746Z","updatedAt":"2025-12-09T17:45:02.746Z","role":"workflow:owner","workflowId":"vVKDqbbXUrykRggJ","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}