tmr_msg_inadimpletes_consultor_top_review-XhjcugbhTkouAibG.json
{"createdAt":"2025-09-08T22:20:50.603Z","updatedAt":"2025-09-11T19:35:56.440Z","id":"XhjcugbhTkouAibG","name":"TMR_MSG_INADIMPLETES_CONSULTOR_TOP_REVIEW","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,560],"id":"416a76f2-44f1-40c7-8de3-5f50739fc453","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[384,-16],"id":"122c02d1-a9f1-4cb0-a6e3-a443be77c9ec","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,-16],"id":"18e851e8-39cd-4a92-95ba-665fcacb59b7","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,-16],"id":"d8801d22-5cba-49cc-aa8c-6f7d8889d044","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1216,-128],"id":"e54201ed-8439-4c66-b7df-d63979e913ca","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"20 14 * * *"}]}},"id":"1fff9013-d790-443f-a139-e618fbe489b1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-960,336]},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for sábado (6) ou domingo (0), retrocede\n    while (d.getDay() === 0 || d.getDay() === 6) {\n      d.setDate(d.getDate() - 1);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"data_vencimento_final\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for sábado (6) ou domingo (0), retrocede\n    while (d.getDay() === 0 || d.getDay() === 6) {\n      d.setDate(d.getDate() - 1);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"codigo_situacao\": 2,\n  \"link_boleto\": false\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1200000}},"id":"7ef85b4b-03d4-4d8d-9896-89a46354f852","name":"buscaBoletos D-1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[784,-16],"continueOnFail":true},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1216,816],"id":"07897018-07ce-4bca-b580-ab5104acbe56","name":"buscaVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,448],"id":"170362bd-a22e-4a7d-9c71-1e2a097aed39","name":"boletos"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"mensagem\": \"{{$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('loopBoletos').item.json.boletos.veiculos[0].placa \n    + ' | '\n    + $('loopBoletos').item.json.boletos.data_vencimento.toDateTime().format('dd/MM/yyyy')\n    + '\\\\nLink do Boleto: ' \n    +  $('loopBoletos').item.json.boletos.link_boleto  \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data  + '\\\\n'\n  }}\"\n}\n","options":{}},"id":"58dab415-a534-45f3-8ad6-f0b98aa298a0","name":"agrupaBoletos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,800],"notes":"{\n  \"mensagem\": \"{{ \n    $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('boletos').item.json.boletos.veiculos[0].placa \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data \n    + '\\\\nCódigo de Barras: `' \n    + $('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('') \n    + '`\\\\nLink Boleto PDF: ' \n    + $('buscaBoleto').item.json.body.short_link \n  }}\"\n}\n"},{"parameters":{"url":"https://is.gd/create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"simple"},{"name":"url","value":"={{ $('mensagemBoleto').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,800],"id":"44b18427-5347-4df5-a10b-2541119c2666","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"13df660e-7b6f-48d4-8306-727900c422cf","name":"mensagem","value":"={{\n'https://wa.me/55'+ \n$('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, caso ainda não tenha recebido o boleto da TOP Brasil, segue o link de pagamento para a placa ${$('loopBoletos').item.json.boletos.veiculos[0].placa}. É só clicar no link abaixo para abrir o boleto ${$('loopBoletos').item.json.boletos.link_boleto}`)\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,800],"id":"a2506c90-95c5-4241-9a65-99d8077d8d4f","name":"mensagemBoleto"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,448],"id":"4649c8f2-66c0-4301-89a6-43a15a3764db","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"8c001f35-b953-4ac9-af5f-b43ac2aa8020"}],"combinator":"and"},"renameOutput":true,"outputKey":"existeVoluntario"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1424,816],"id":"b0931149-78d4-4ab5-ba0d-eab5501db298","name":"existeVoluntario"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1616,448],"id":"7949ee7a-02de-4741-a812-5ec5c2cf6a7d","name":"Sort","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,800],"id":"d884e8a9-41c1-43f6-ba56-11ee32da1c49","name":"loopBoletos"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{\n'Olá, ' + $('buscaVoluntario1').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + '\\n' + \n'Estou lhe encaminhando os seus associados inadimplentes do vencimento ' + DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy')  +'.\\n' + 'Lembrando que hoje é o último dia para o pagamento do boleto sem necessidade de vistoria. Dentro do link você consegue ter acesso a segunda via do boleto ou através do site da TOP. Caso o associado já tenha efetuado o pagamento peço que aguarde pois o novo banco leva 48h úteis para debitar em nosso sistema.\\n\\n' +\n$json.mensagens.join('\\n')\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1216,1104],"id":"ac00d9fa-612c-4c13-8f4a-be322baf151c","name":"Enviar texto1","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,208],"id":"98e41db6-fbd1-49c7-b0fe-1b2eb13592d7","name":"Redis","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c0e522f-f5aa-4d3c-ba53-d5a1f4aa92d0","leftValue":"={{ $json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1808,448],"id":"536eb122-6b99-4a1c-94b7-c2fcfdc2b32c","name":"Filter","onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $json.boletos.veiculos[0].codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2176,64],"id":"f8b92c75-b381-4faa-9d6e-16101fbe1b32","name":"Get a row","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/boleto/{{ $('loopBoletos').item.json.boletos.nosso_numero }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"1a83de03-b246-41cd-991b-0eed130ffa77","name":"buscaBoleto1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2160,-64],"continueOnFail":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{$('splitBoletos').item.json.boletos.veiculo[0]}}/codigo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"fc89210e-0162-40fc-9dcb-070d9d3111d5","name":"buscaVeiculo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2016,240],"continueOnFail":true},{"parameters":{"url":"=https://tinyurl.com/api-create.php?url={{ $('mensagemBoleto').item.json.mensagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,48],"id":"51ca249a-cf32-400a-9721-1bb2e5a5fd6f","name":"reduzURL1","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/boleto/{{$('boletos').item.json.boletos.nosso_numero}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"b69b7f71-b45a-4375-994d-783c1e53e6d1","name":"buscaBoleto","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2544,224],"continueOnFail":true},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=55{{ $('buscaVoluntario').item.json.telefone.match( /\\d+/g ).join('') }}","messageText":"={{ \n'Olá, ' + $('buscaVoluntario').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\n' +\n'Segue a relação inadimplentes do vencimento do dia ' + DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy') + '.\\n\\n' + \n$('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1664,-16],"id":"2848cd39-61f8-4040-a7fa-ea49ad6a5670","name":"enviaMensagem","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{ \n'Vencimento: ' + DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy') + ' | ' + \n$('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2432,48],"id":"7bee026e-9be7-48b5-a474-42dce1568d41","name":"Enviar texto","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2192,240],"id":"86922580-5ca6-48de-97a3-28c1da0cff67","name":"veiculos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('veiculos').item.json.situacao_veiculo }}","rightValue":"INADIMPLENTE","operator":{"type":"string","operation":"equals"},"id":"e263cca2-d0e5-4538-a7fe-56be7f73cbb0"}],"combinator":"and"},"renameOutput":true,"outputKey":"INADIMPLENTE"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1744,224],"id":"ea70871a-3c7e-49b3-9a9f-de938b1adef2","name":"sitVeiculo"},{"parameters":{"operation":"get","propertyName":"codigo_voluntario","key":"codigo_voluntario","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,816],"id":"ff09efab-e528-4585-8d1f-4d4cd476f2e9","name":"voluntarioAnterior","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"set","key":"codigo_voluntario","value":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","expire":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2992,1104],"id":"727520f4-67cb-46e5-af08-3013e935e7d6","name":"voluntarioAtual","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('buscaVoluntario1').item.json.codigo_voluntario }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,1104],"id":"3f9e31b6-8e53-4846-9c18-15321fd86bb2","name":"buscaMensagensConsultor","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","messageData":"={{ $json.mensagem }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2256,800],"id":"f35044c2-6f3b-40c5-ad5b-fbc802a27f6d","name":"gravaListaMensagensCons","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f4c9524e-7345-4f79-9ac3-40ae640afee9","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2752,-96],"id":"8aa97f7c-641b-4c59-9511-49c182b46b13","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"4313fc77-d416-45bf-a82d-b646efdfe3b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRIMEIRO REGISTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c5f6b705-7dca-4e15-86a6-273c19ff2907","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. IGUAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"94724df6-74b8-4f98-932e-c4949d22a82b","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. DIFERENTE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2464,784],"id":"154e11e8-f8e2-467f-87fa-a6bb3f01e506","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{ \n'Primeiro Registro\\n'+\n$('loopBoletos').params.batchSize + '\\n' +\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2752,672],"id":"362ecb9f-2617-488e-9910-598f633c8dd2","name":"Enviar texto2","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{ \n'Anterior = Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2752,896],"id":"049402c8-6b65-49c5-8787-15e330b11202","name":"Enviar texto3","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{ \n'Anterior <> Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1424,1104],"id":"87dbecdc-886c-4c41-82b2-e96180a0cfac","name":"Enviar texto4","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,1104],"id":"84f0d4d7-112e-42c0-968b-0592093c7d87","name":"buscaVoluntario1","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"keys","keyPattern":"*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[368,192],"id":"8013f56a-3a43-4835-a84e-619acc90db16","name":"Redis1","alwaysOutputData":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,192],"id":"b71d3ac4-5a90-4ae1-8bd3-f45ee814c452","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[576,192],"id":"7ced5d95-533d-4ee6-b832-aa5e3ef8c4d6","name":"Split Out"},{"parameters":{},"name":"Start Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,448],"id":"04eeceff-410e-4144-a85d-7a5df115b0c2"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment","type":"n8n-nodes-base.set","typeVersion":1,"position":[544,448],"id":"b11bed9b-f353-4e05-9d8b-ff80e1062049"},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[96,448],"id":"1b249370-b98a-4278-825f-d7a022411210"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment').item.json[\"counter\"] }}","operation":"smallerEqual","value2":1}]}},"name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[544,672],"id":"1ca3553b-d726-4e24-84a2-186935aed918"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-752,448],"id":"5bf24bda-edb8-4fad-a0cb-9a51d37c3dcc","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,448],"id":"a0de8949-8a01-49eb-bc96-fae0ddbfe096","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[96,240],"id":"4272211d-47df-42e6-ad5e-674b83acf7f8","name":"Execute Workflow1","executeOnce":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/boleto/1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}},"timeout":1200000}},"id":"ac1de6a0-abe5-429c-810d-5310d3001a14","name":"buscaBoletoTemp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-352,448],"continueOnFail":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-560,448],"id":"500e1ec2-feee-4dc2-8a38-d4ab12f3b09a","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for sábado (6) ou domingo (0), retrocede\n    while (d.getDay() === 0 || d.getDay() === 6) {\n      d.setDate(d.getDate() - 1);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"data_vencimento_final\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for sábado (6) ou domingo (0), retrocede\n    while (d.getDay() === 0 || d.getDay() === 6) {\n      d.setDate(d.getDate() - 1);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"codigo_situacao\": 2,\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":2000000}},"id":"96ddc9b5-2e66-480d-9554-6ce0dbd8ab2a","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[992,448],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $json.counter - 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,448],"id":"6e03a9d2-5b81-43f5-b393-15498bce5e15","name":"dadosPagina"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1008,656],"id":"febd3b58-381a-4824-942a-ee21689488d6","name":"Aggregate1"},{"parameters":{"operation":"push","list":"boletos","messageData":"={{ JSON.stringify ($json) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2016,448],"id":"53bf5921-1478-42b8-8665-10effa1acf9a","name":"Redis2","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaBoletos D-1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"buscaBoletos D-1":{"main":[[{"node":"If1","type":"main","index":0}]]},"buscaVoluntario":{"main":[[{"node":"existeVoluntario","type":"main","index":0}]]},"boletos":{"main":[[{"node":"Sort","type":"main","index":0}]]},"agrupaBoletos":{"main":[[{"node":"gravaListaMensagensCons","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"agrupaBoletos","type":"main","index":0}]]},"mensagemBoleto":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"boletos","type":"main","index":0}]]},"existeVoluntario":{"main":[[{"node":"mensagemBoleto","type":"main","index":0}],[]]},"Sort":{"main":[[{"node":"Filter","type":"main","index":0}]]},"loopBoletos":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"voluntarioAnterior","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Enviar texto4","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"buscaVeiculo":{"main":[[{"node":"veiculos","type":"main","index":0}]]},"voluntarioAnterior":{"main":[[{"node":"buscaVoluntario","type":"main","index":0}]]},"voluntarioAtual":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"buscaMensagensConsultor":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"gravaListaMensagensCons":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[]]},"Switch":{"main":[[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Enviar texto3","type":"main","index":0}],[{"node":"buscaVoluntario1","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"Enviar texto4":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"buscaVoluntario1":{"main":[[{"node":"buscaMensagensConsultor","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Redis","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Start Loop":{"main":[[{"node":"Increment","type":"main","index":0}]]},"Increment":{"main":[[{"node":"dadosPagina","type":"main","index":0},{"node":"IF5","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"Start Loop","type":"main","index":0},{"node":"Redis1","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Start Loop","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Init Counter","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaBoletoTemp":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaBoletoTemp","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"splitBoletos","type":"main","index":0}]]},"dadosPagina":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"Aggregate1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"88c9b936-cfb1-463e-b2f7-3719e8362adf","triggerCount":1,"shared":[{"createdAt":"2025-09-08T22:20:50.603Z","updatedAt":"2025-09-08T22:20:50.603Z","role":"workflow:owner","workflowId":"XhjcugbhTkouAibG","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}