tmr_msg_aniversariantes_consultor_associado_top-KCnRnVUKZAdJz3fo.json
{"createdAt":"2025-08-13T13:23:23.775Z","updatedAt":"2025-11-11T14:17:00.262Z","id":"KCnRnVUKZAdJz3fo","name":"TMR_MSG_ANIVERSARIANTES_CONSULTOR_ASSOCIADO_TOP","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-32],"id":"731d61e4-ff28-48fd-81bb-204cb91ae4fb","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-720,48],"id":"bcf8640a-a861-4a19-96a9-626ffb6383ae","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,48],"id":"57ae0bdc-032d-43e1-9b4d-3ef83a537947","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"={{ $('loopAniversariantes').item.json.telefone_celular }}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"={{\n'https://wa.me/55' + \n$json.telefone_celular.match( /\\d+/g ).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, hoje é um dia especial e não poderíamos deixar de lembrar! Desejamos muitas felicidades, saúde e sucesso. Conte sempre com a gente. TopBrasil🎉`)\n}}\n\n","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,336],"id":"2ef4f181-f1a2-4f0d-a88f-5a969cea62ef","name":"dadosAniversariantes"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/voluntario/{{$json.body[0].codigo_voluntario}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"4178e952-b358-4b5e-9109-9cfd442bcc70","name":"buscaSGAConsultor","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,336],"continueOnFail":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/aniversariante","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"28c27860-9ca6-4a36-b7cc-9ef3f81af9f4","name":"buscaSGAAniversariantes","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,48],"continueOnFail":true},{"parameters":{"url":"=https://tinyurl.com/api-create.php?url={{ $('dadosAniversariantes').item.json.mensagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,336],"id":"c29ae963-7d1b-4da9-ae08-7861d04e0739","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/buscar/{{ $('dadosAniversariantes').item.json.codigo_associado }}/codigo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"7addb564-52f3-4202-9daf-4d5053ae3ff0","name":"buscaAssociado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-720,336],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"={{ $('loopAniversariantes').item.json.telefone_celular }}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"={{ $('reduzURL').item.json.data }}","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"00d06389-83c2-4240-a731-ab7cda3787cc","name":"codigo_voluntario","value":"={{ $('buscaAssociado').item.json.body.codigo_voluntario }}","type":"string"},{"id":"0f97e20b-c737-44ff-8b6c-a05ba6557625","name":"nome_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].nome }}","type":"string"},{"id":"63fcf5c1-b0aa-478c-a330-97459fa11558","name":"celular_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].celular }}","type":"string"},{"id":"7c4fd27b-fe6a-4d1a-871b-1607bed7fe31","name":"situacao_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].situacao }}","type":"string"},{"id":"e5199e29-6c34-4e29-8cfa-eefdc0913129","name":"telefone_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].telefone }}","type":"string"},{"id":"ab48feb0-aa19-4372-b8d1-84d3b6327894","name":"placa","value":"={{ $('buscaVeiculos').item.json.body[0].placa }}","type":"string"},{"id":"98981a00-5bcb-4035-90e2-a86c118ed091","name":"descricao_situacao","value":"={{ $('buscaVeiculos').item.json.body[0].descricao_situacao}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,544],"id":"1cfc479b-eed6-4dd2-a1d2-df7cd5996776","name":"dadosAssociado"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{$json.placa}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"5d63c8f9-f1fe-4622-b669-ab15c0bd0faf","name":"buscaVeiculos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,336],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.veiculos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-496,336],"id":"d2238031-7aef-4a71-a063-c8389f2929e8","name":"Split Out1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-272,528],"id":"21d9720b-a481-447e-824e-17e792f70c40","name":"Aggregate2"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[176,144],"id":"a0df0a9b-475a-48b3-8ee4-557bcc289531","name":"loopAniversariantes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dddde1aa-d852-4eaa-abeb-eb6d88c4051f","leftValue":"={{ $('buscaVeiculos').item.json.body[0].descricao_situacao}}","rightValue":"ATIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"76ac6a6b-e469-4baa-99b1-0ceef597e8b6","leftValue":"={{ $('dadosAssociado').item.json.telefone_voluntario}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,544],"id":"717380e8-04fa-4066-ba84-7f0b2303990c","name":"If"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"nome"},{"fieldToAggregate":"nome_voluntario"},{"fieldToAggregate":"telefone_voluntario"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[176,960],"id":"5853e41e-cc25-4f1b-9043-4e09bf6989a7","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaSGAAniversariantes').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,48],"id":"661c82c4-c8d9-478f-9bc9-055d3d8720b6","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[176,-48],"id":"9a90f758-1216-48e0-83f4-719f478a9f2a","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 10 * * *"}]}},"id":"d59ee023-506e-4def-8dd1-7e40bef60f4d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-960,128]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,528],"id":"0fb010a3-c4c0-4137-b7d0-1ee46d41f55a","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-496,768],"id":"9a5b2bc8-009e-4236-acf8-ff1b6d7a04ba","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-272,768],"id":"2d435b50-2039-41be-a5e9-876f328e480d"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-944,960],"id":"84f32909-daa1-43a5-8662-45cfdcf58ccc","name":"Aggregate1"},{"parameters":{"tableId":"topAniversariantes","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,528],"id":"eeb3fe0f-7512-4e40-b0a5-02d59d7cb30f","name":"gravaTopAniversariantes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"topAniversariantes","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"=data_nascimento","condition":"eq","keyValue":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,528],"id":"e4014a09-89c6-401d-9225-1e6f20c02340","name":"buscaTopAniversariantes","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"topaniversariantes_distinct","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"nome_voluntario","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.nome_voluntario }}"},{"keyName":"msgConsultorEnviada","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,768],"id":"3983dd6e-3b53-4438-98fe-baa12b328d1f","name":"buscaRegistrosPorConsultor","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"mensagem\" : \"{{ $('Replace Me').item.json.nome + ' - ' + $('Replace Me').item.json.telefone_celular + ' - ' + $('Replace Me').item.json.mensagem }}\"\n}","options":{}},"id":"ed709628-0f76-4378-8896-c196c90cadda","name":"agrupaAssociados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,768]},{"parameters":{"language":"python","pythonCode":"# items é a variável padrão que contém os dados do nó anterior\n# Supondo que o nó anterior tenha um JSON no formato que você mostrou\n# items[0][\"json\"][\"data\"] é a lista de mensagens\n\ndata = items[0][\"json\"][\"data\"]\n\n# Extrair apenas as mensagens\nmensagens = [item[\"mensagem\"] for item in data]\n\n# Retornar no formato que o n8n espera (uma lista de dicionários)\nreturn [{\"json\": {\"mensagens\": mensagens}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,960],"id":"da547390-ac0b-4777-81c4-bb95d11ba720","name":"unificaTextoMensagens","alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"topAniversariantes","matchType":"allFilters","filters":{"conditions":[{"keyName":"idAniversariante","condition":"gt","keyValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[384,512],"id":"483005cb-81e3-4311-8013-2a7002a51360","name":"excluiTopAniversariantes","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"update","tableId":"topAniversariantes","filters":{"conditions":[{"keyName":"nome_voluntario","condition":"eq","keyValue":"={{ $('buscaTopAniversariantes').item.json.nome_voluntario }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"msgConsultorEnviada","fieldValue":"TRUE"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,768],"id":"7b4de95f-d0d1-4996-b569-c43eeba50511","name":"Update a row","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"=55{{$('buscaTopAniversariantes').item.json.celular_voluntario.match( /\\d+/g ).join('')}}","messageText":"={{ \n'Olá ' + $('buscaTopAniversariantes').item.json.nome_voluntario.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ', ' +\n'hoje ' + $now.format('dd/MM/yyyy') + ' é aniversário de alguns dos nossos associados na TopBrasil 🤖' + '.\\n' +\n  'Clique nos links para enviar mensagens para o WhatsApp: \\n\\n' + $('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":120000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-496,960],"id":"8e006b73-e841-4957-a07b-9c6bd4965740","name":"msgDadosAniversariantes1","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c8ca8b5-95d1-4eca-ace4-85f4e68fa167","leftValue":"={{ $('buscaRegistrosPorConsultor').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,768],"id":"f88aa9f2-b825-42b3-a92a-9ec3a6f04e13","name":"If2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,144],"id":"7e4d98ee-fd2e-4ef9-86a2-06c17c505fd7","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"=55{{$('loopAniversariantes').item.json.telefone_celular.match( /\\d+/g ).join('')}}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"=","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,160],"id":"0f77309a-1d20-4823-b531-1fe9bcb13121","name":"dadosAniversariantes1"},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"={{ $json.telefone_celular }}","messageText":"=Olá, {{$json.nome }} hoje é um dia especial e não poderíamos deixar de lembrar! Desejamos muitas felicidades, saúde e sucesso. Conte sempre com a gente. TopBrasil","options_message":{"delay":120000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[864,160],"id":"54ea2418-8d96-4f3e-9637-f64cef6bf0bd","name":"msgDadosAniversariantes","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{$('dadosAniversariantes1').item.json.telefone_celular.match( /\\d+/g ).join('')}}"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-288,960],"id":"f9e19b78-5795-4345-9d99-42c410ddb2da","name":"Wait","webhookId":"fdffb402-56eb-4dbf-9820-58566f56920f","executeOnce":true,"alwaysOutputData":true},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1072,160],"id":"0eb72377-f20a-4564-aee3-810a2f97fc97","name":"Wait1","webhookId":"6c892d91-a1d4-472c-a252-d06182249365"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaSGAAniversariantes","type":"main","index":0}]]},"dadosAniversariantes":{"main":[[{"node":"buscaAssociado","type":"main","index":0}]]},"buscaSGAConsultor":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"buscaSGAAniversariantes":{"main":[[{"node":"If1","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"dadosAssociado","type":"main","index":0}]]},"buscaAssociado":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"dadosAssociado":{"main":[[{"node":"If","type":"main","index":0}]]},"buscaVeiculos":{"main":[[{"node":"buscaSGAConsultor","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"buscaVeiculos","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"buscaTopAniversariantes","type":"main","index":0}]]},"loopAniversariantes":{"main":[[{"node":"dadosAniversariantes","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"If":{"main":[[{"node":"gravaTopAniversariantes","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"loopAniversariantes","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"excluiTopAniversariantes","type":"main","index":0}],[{"node":"buscaRegistrosPorConsultor","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"agrupaAssociados","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"unificaTextoMensagens","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"gravaTopAniversariantes":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"buscaTopAniversariantes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"buscaRegistrosPorConsultor":{"main":[[{"node":"If2","type":"main","index":0}]]},"agrupaAssociados":{"main":[[{"node":"Update a row","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"unificaTextoMensagens":{"main":[[{"node":"msgDadosAniversariantes1","type":"main","index":0}]]},"excluiTopAniversariantes":{"main":[[]]},"Update a row":{"main":[[]]},"msgDadosAniversariantes1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"dadosAniversariantes1","type":"main","index":0}]]},"dadosAniversariantes1":{"main":[[{"node":"msgDadosAniversariantes","type":"main","index":0}]]},"msgDadosAniversariantes":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"buscaSGAAniversariantes":[{"json":{"body":[{"codigo_associado":"3346","codigo_beneficiario":"90011","codigo_situacao":"2","data_nascimento":"1989-10-28","nome":"DEBORA SOARES GONZALEZ RODRIGUEZ","telefone":"(31)3454-3131","telefone_celular":"(31)98574-5572","email":"deboragonzalez-pacaluz@hotmail.com"},{"codigo_associado":"4350","codigo_beneficiario":"91015","codigo_situacao":"2","data_nascimento":"1988-10-28","nome":"SALOMAO NOGUEIRA CORREIA","telefone":"","telefone_celular":"(83)98105-7099","email":"salomaonc@hotmail.com"},{"codigo_associado":"5343","codigo_beneficiario":"92008","codigo_situacao":"2","data_nascimento":"1977-10-28","nome":"PATRICIO ROGERIO MARTINS LOPES","telefone":"","telefone_celular":"(31)98750-3898","email":""},{"codigo_associado":"5380","codigo_beneficiario":"92045","codigo_situacao":"2","data_nascimento":"1957-10-28","nome":"URANO DONATO","telefone":"","telefone_celular":"(83)98850-0979","email":""},{"codigo_associado":"6433","codigo_beneficiario":"93098","codigo_situacao":"2","data_nascimento":"1990-10-28","nome":"CRISTIAN RAFAEL TAVARES FALLER","telefone":"","telefone_celular":"(51)99811-6186","email":"cristian99pop@yahoo.com"},{"codigo_associado":"6616","codigo_beneficiario":"93281","codigo_situacao":"2","data_nascimento":"1987-10-28","nome":"WENDENSON LUIZ FEITOSA SILVA","telefone":"","telefone_celular":"(83)99168-3855","email":"renataqueirozteixeira@hotmail.com"},{"codigo_associado":"6955","codigo_beneficiario":"93620","codigo_situacao":"2","data_nascimento":"1942-10-28","nome":"JUAREZ ARAUJO DE OLIVEIRA","telefone":"","telefone_celular":"","email":""},{"codigo_associado":"8118","codigo_beneficiario":"94783","codigo_situacao":"2","data_nascimento":"1958-10-28","nome":"ELIANE D AVILA","telefone":"","telefone_celular":"(51)98525-5624","email":"jennifer@gpinheiro.com.br"},{"codigo_associado":"8606","codigo_beneficiario":"95271","codigo_situacao":"2","data_nascimento":"1972-10-28","nome":"ARIBERTO HENRIQUE BEZERRA","telefone":"","telefone_celular":"(83)98907-6177","email":"pamelaprcl1@gmail.com"},{"codigo_associado":"8681","codigo_beneficiario":"95346","codigo_situacao":"2","data_nascimento":"1988-10-28","nome":"LUIZ HEITOR PINTO DE ARAUJO","telefone":"","telefone_celular":"(27)99980-7355","email":"heitoraraujo99@outlook.com"},{"codigo_associado":"9239","codigo_beneficiario":"95904","codigo_situacao":"2","data_nascimento":"1986-10-28","nome":"VITAL ANTONIO CANDIDO DE ARAUJ","telefone":"","telefone_celular":"(83)99903-2153","email":""},{"codigo_associado":"9819","codigo_beneficiario":"96484","codigo_situacao":"2","data_nascimento":"1974-10-28","nome":"VIVIANE DE LIMA PEREIRA","telefone":"","telefone_celular":"(51)99561-0415","email":"vica-pereira@hotmail.com"},{"codigo_associado":"10270","codigo_beneficiario":"96935","codigo_situacao":"2","data_nascimento":"1979-10-28","nome":"GUILHERME AUGUSTO DE CARVALHO","telefone":"","telefone_celular":"(51)99929-6969","email":"schneider_guilherme@hotmail.com"},{"codigo_associado":"10551","codigo_beneficiario":"97216","codigo_situacao":"2","data_nascimento":"1991-10-28","nome":"DYONATHA RODRIGUES PAZ MUNHOZ","telefone":"","telefone_celular":"(51)98456-2914","email":"dyonatha91@gmail.com"},{"codigo_associado":"10563","codigo_beneficiario":"97228","codigo_situacao":"2","data_nascimento":"1984-10-28","nome":"MARIA EMILIA FAVORETTI RIBEIRO","telefone":"","telefone_celular":"(27)99708-5009","email":"emiliafavorettir@gmail.com"},{"codigo_associado":"10755","codigo_beneficiario":"97420","codigo_situacao":"2","data_nascimento":"1973-10-28","nome":"JOSE VALDERI GOMES DE ARAUJO","telefone":"","telefone_celular":"(83)98116-2077","email":""},{"codigo_associado":"10977","codigo_beneficiario":"97642","codigo_situacao":"2","data_nascimento":"1990-10-28","nome":"JAILSON OLIVEIRA DA SILVA","telefone":"","telefone_celular":"(27)99766-5947","email":"oliverjailson5@gmail.com"},{"codigo_associado":"11981","codigo_beneficiario":"98646","codigo_situacao":"2","data_nascimento":"1968-10-28","nome":"EDUARDO JOSE SOARES","telefone":"","telefone_celular":"(83)99892-0935","email":"eduardojosesoares2@gmail.com"},{"codigo_associado":"12020","codigo_beneficiario":"98685","codigo_situacao":"2","data_nascimento":"1993-10-28","nome":"JHONATAS PEREIRA LIMA","telefone":"","telefone_celular":"(11)98268-0348","email":""},{"codigo_associado":"12647","codigo_beneficiario":"99312","codigo_situacao":"2","data_nascimento":"1959-10-28","nome":"VIVALDA MARIA MOSSMANN","telefone":"","telefone_celular":"(51)99653-7239","email":"mossmannvivalda@gmail.com"},{"codigo_associado":"13114","codigo_beneficiario":"99779","codigo_situacao":"2","data_nascimento":"1962-10-28","nome":"JOSE ADRIANO DE BRITO","telefone":"","telefone_celular":"(83)9993389756","email":"kinhoarquimedes123@gmail.com"},{"codigo_associado":"13669","codigo_beneficiario":"100334","codigo_situacao":"1","data_nascimento":"1993-10-28","nome":"RAUL SOARES SILVA","telefone":"","telefone_celular":"(11)9666-34748","email":""},{"codigo_associado":"13713","codigo_beneficiario":"100378","codigo_situacao":"2","data_nascimento":"1961-10-28","nome":"SERGIO AUGUSTO NADER PRITSCH","telefone":"","telefone_celular":"(51)99996-3940","email":"naderpritsch28@gmail.com"},{"codigo_associado":"13952","codigo_beneficiario":"100617","codigo_situacao":"1","data_nascimento":"1986-10-28","nome":"LARRI RAFAEL DA SILVA JUNIOR","telefone":"","telefone_celular":"(83)9820-64045","email":"larrirafael25@gmail.com"},{"codigo_associado":"14374","codigo_beneficiario":"101039","codigo_situacao":"1","data_nascimento":"1972-10-28","nome":"JOSé MARIA RODRIGUES","telefone":"","telefone_celular":"(33)9885-21728","email":"lourdinha.1000@gmail.com"},{"codigo_associado":"16684","codigo_beneficiario":"102627","codigo_situacao":"1","data_nascimento":"1951-10-28","nome":"JOAO BATISTA DE SOUSA","telefone":"","telefone_celular":"","email":"topcapelinha@topprev.com.br"},{"codigo_associado":"16988","codigo_beneficiario":"102931","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"JOSE EVAIR DE SOUZA","telefone":"","telefone_celular":"(83)9814-87870","email":""},{"codigo_associado":"17532","codigo_beneficiario":"103474","codigo_situacao":"1","data_nascimento":"1965-10-28","nome":"WAGNER AUGUSTO DOS SANTOS","telefone":"","telefone_celular":"(31)9912-57743","email":"frango65@hotmail.com"},{"codigo_associado":"19213","codigo_beneficiario":"105138","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"RODRIGUES MARTINS DE PAULA","telefone":"","telefone_celular":"(62)9821-62381","email":"rodriguesmoepaula@gmail.com"},{"codigo_associado":"19352","codigo_beneficiario":"105275","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"LORRANY CRISTINA OLIVEIRA LIMIRIO","telefone":"(62)9859-17656","telefone_celular":"(62)9855-17656","email":"lorranylimirio@hotmail.com"},{"codigo_associado":"19462","codigo_beneficiario":"105385","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"HEBROM COMERCIO E SERVICOS LTDA","telefone":"(62)3208-5302","telefone_celular":"(62)9855-17656","email":"hebromcsl@gmail.com"},{"codigo_associado":"19763","codigo_beneficiario":"105686","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"LEONIDAS GOMES DE ANDRADE","telefone":"","telefone_celular":"(37)9671-2522","email":"luanamachado016lgm@gmail.com"},{"codigo_associado":"21009","codigo_beneficiario":"106926","codigo_situacao":"1","data_nascimento":"1997-10-28","nome":"MORGANA DE SOUZA NOVAIS SILVA","telefone":"","telefone_celular":"(62)9944-12169","email":"morganadesouzalucena@gmail.com"},{"codigo_associado":"24090","codigo_beneficiario":"109999","codigo_situacao":"1","data_nascimento":"1976-10-28","nome":"LUCIANO KENNEDY DA MAIA","telefone":"","telefone_celular":"(64)9845-41418","email":"eletromoveismaia21@gmail.com"},{"codigo_associado":"24860","codigo_beneficiario":"110769","codigo_situacao":"1","data_nascimento":"2001-10-28","nome":"DIOGO PEREIRA BARBOSA","telefone":"(99)9999-99999","telefone_celular":"(62)9923-20227","email":"financeiro@abriltratorpecas.com"},{"codigo_associado":"24952","codigo_beneficiario":"110861","codigo_situacao":"1","data_nascimento":"2001-10-28","nome":"ABRIL TRATORPEÇAS LTDA","telefone":"(99)9999-99999","telefone_celular":"(62)9923-20227","email":"financeiro@avriltratorpecas.com"},{"codigo_associado":"25544","codigo_beneficiario":"111453","codigo_situacao":"1","data_nascimento":"1983-10-28","nome":"MARCIO DE JESUS MENDES","telefone":"","telefone_celular":"(27)9988-69877","email":"marciodabahiaenal@gmail.com"},{"codigo_associado":"27524","codigo_beneficiario":"113418","codigo_situacao":"1","data_nascimento":"2002-10-28","nome":"FELIPE DE SOUSA ALMEIDA","telefone":"","telefone_celular":"(62)9832-92050","email":"felipe2002nitaries@gmail.com"},{"codigo_associado":"28187","codigo_beneficiario":"114081","codigo_situacao":"1","data_nascimento":"1997-10-28","nome":"AFONSO FERREIRA ALVES","telefone":"","telefone_celular":"(62)9994-16842","email":"ferreira2810alves@gmail.com"},{"codigo_associado":"30926","codigo_beneficiario":"116815","codigo_situacao":"1","data_nascimento":"1997-10-28","nome":"MARCOS VINICIUS COELHO SOUZA","telefone":"(99)999999999","telefone_celular":"(62)9930-37878","email":"marcosviniciuscoelhosouza28@gmail.com"},{"codigo_associado":"31291","codigo_beneficiario":"117180","codigo_situacao":"1","data_nascimento":"1962-10-28","nome":"ADAIL PORTES","telefone":"","telefone_celular":"(31)9936-88067","email":"adailportes@yahoo.com.br"},{"codigo_associado":"31699","codigo_beneficiario":"117589","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"RENATA LOPES DE CARVALHO","telefone":"","telefone_celular":"(37)9914-47739","email":""},{"codigo_associado":"32137","codigo_beneficiario":"118028","codigo_situacao":"1","data_nascimento":"1995-10-28","nome":"TIAGO GOMES SANTOS","telefone":"","telefone_celular":"(79)9981-08272","email":"gtiago559@gmail.com"},{"codigo_associado":"33098","codigo_beneficiario":"118989","codigo_situacao":"1","data_nascimento":"1966-10-28","nome":"SIMÃO VIEIRA DA COSTA","telefone":"","telefone_celular":"(83)9887-40971","email":"simaosvc3@gmail.com"},{"codigo_associado":"34682","codigo_beneficiario":"120574","codigo_situacao":"1","data_nascimento":"1978-10-28","nome":"HERICK WELITON FERREIRA","telefone":"","telefone_celular":"(62)9911-97030","email":"herickf718@gmail.com"},{"codigo_associado":"35250","codigo_beneficiario":"121143","codigo_situacao":"1","data_nascimento":"1999-10-28","nome":"IKARO SOARES DIAS","telefone":"","telefone_celular":"(27)9972-49583","email":"isdnegocios@gmail.com"},{"codigo_associado":"35361","codigo_beneficiario":"121254","codigo_situacao":"1","data_nascimento":"2002-10-28","nome":"JOSÉ FELIPE MONDADORI FARIA","telefone":"","telefone_celular":"(45)9981-22615","email":"topbrasilpr@gmail.com"},{"codigo_associado":"35415","codigo_beneficiario":"121308","codigo_situacao":"1","data_nascimento":"1985-10-28","nome":"RUBENVAL GREGÓRIO DA CONCEIÇÃO FILHO","telefone":"","telefone_celular":"(79)9996-87048","email":"rubinhosantos549@gmail.com"},{"codigo_associado":"36523","codigo_beneficiario":"122416","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"LEONCIO DA SILVA REIS","telefone":"","telefone_celular":"(38)9986-57665","email":"leoncio.reis@hotmail.com"},{"codigo_associado":"36742","codigo_beneficiario":"122635","codigo_situacao":"1","data_nascimento":"1980-10-28","nome":"RODRIGO TEIXEIRA DE OLIVEIRA","telefone":"","telefone_celular":"(62)9919-22133","email":""},{"codigo_associado":"37849","codigo_beneficiario":"123742","codigo_situacao":"1","data_nascimento":"1980-10-28","nome":"ANDERSON PRADO SANTOS","telefone":"","telefone_celular":"(79)9992-69571","email":"as6484070@gmail.com"},{"codigo_associado":"38900","codigo_beneficiario":"124795","codigo_situacao":"1","data_nascimento":"1997-10-28","nome":"IANA DE JESUS SILVA","telefone":"","telefone_celular":"(19)9983-85878","email":""},{"codigo_associado":"41858","codigo_beneficiario":"127761","codigo_situacao":"1","data_nascimento":"1988-10-28","nome":"GILBERTO NUNES DOS SANTOS","telefone":"","telefone_celular":"(33)9912-24363","email":""},{"codigo_associado":"42310","codigo_beneficiario":"128218","codigo_situacao":"1","data_nascimento":"1972-10-28","nome":"JUNIO GARCIA DE FARIAS","telefone":"","telefone_celular":"(62)9830-90677","email":""},{"codigo_associado":"43097","codigo_beneficiario":"129001","codigo_situacao":"1","data_nascimento":"1965-10-28","nome":"MARIOZAN VIEIRA DA SILVA","telefone":"","telefone_celular":"(62)9964-97925","email":"mariozan.carreta@gmail.com"},{"codigo_associado":"43439","codigo_beneficiario":"129343","codigo_situacao":"1","data_nascimento":"1976-10-28","nome":"LEONARDO ALAM LIDUARIO","telefone":"","telefone_celular":"(37)9911-13871","email":"leobike2019@gmail.com"},{"codigo_associado":"43546","codigo_beneficiario":"129450","codigo_situacao":"1","data_nascimento":"1983-10-28","nome":"ADRIANO LUIS DALA VALENTINA","telefone":"","telefone_celular":"(19)9930-67108","email":"marmorariadellavalentina@gmail.com"},{"codigo_associado":"43859","codigo_beneficiario":"129763","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"GIORDANO ARAúJO DE MATOS","telefone":"","telefone_celular":"(21)9882-50757","email":"giordanoaraujodematos@gmail.com"},{"codigo_associado":"44713","codigo_beneficiario":"130618","codigo_situacao":"1","data_nascimento":"1995-10-28","nome":"ISADORA MONNYK LOPES LANDI","telefone":"","telefone_celular":"(62)9917-82138","email":"isadoralandii@gmail.com"},{"codigo_associado":"45300","codigo_beneficiario":"131206","codigo_situacao":"1","data_nascimento":"1994-10-28","nome":"ABMAEL RODRIGUES DE SOUSA","telefone":"","telefone_celular":"(37)9919-79209","email":"abimaelblack@gmail.com"},{"codigo_associado":"46095","codigo_beneficiario":"132000","codigo_situacao":"1","data_nascimento":"1996-10-28","nome":"SILMARA STIVAL CAMPOS","telefone":"","telefone_celular":"(62)9924-77646","email":"feitosadasilvawalisson@gmail.com"},{"codigo_associado":"49300","codigo_beneficiario":"135202","codigo_situacao":"1","data_nascimento":"1974-10-28","nome":"PAULO DE MORAIS","telefone":"","telefone_celular":"(62)9915-87814","email":"natalinamorais@hotmail.com"},{"codigo_associado":"50786","codigo_beneficiario":"136694","codigo_situacao":"1","data_nascimento":"1991-10-28","nome":"DIEGO FREIRE DE OLIVEIRA","telefone":"","telefone_celular":"(85)9965-95125","email":"diegofreiredeoliveira@gmail.com"},{"codigo_associado":"51495","codigo_beneficiario":"137403","codigo_situacao":"1","data_nascimento":"1986-10-28","nome":"ALAN MIRANDA AMARAL","telefone":"","telefone_celular":"(31)9865-23269","email":"alanmiranda@cvc.com.br"},{"codigo_associado":"51607","codigo_beneficiario":"137515","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"DANIELLA AVILA PIMENTEL SOUSA","telefone":"","telefone_celular":"(62)9922-01790","email":"daniellaavila220@gmail.com"},{"codigo_associado":"51798","codigo_beneficiario":"137706","codigo_situacao":"1","data_nascimento":"1993-10-28","nome":"VALERIA FERNANDES DA SILVA","telefone":"","telefone_celular":"(37)9912-25759","email":""},{"codigo_associado":"52006","codigo_beneficiario":"137914","codigo_situacao":"1","data_nascimento":"2001-10-28","nome":"CRISTIANO GONÇALVES DA SILVA FILHO","telefone":"","telefone_celular":"(62)9863-20793","email":"goncalvescristiano84@gmail.com"},{"codigo_associado":"53270","codigo_beneficiario":"139171","codigo_situacao":"1","data_nascimento":"2023-10-28","nome":"EDUARDO VIEIRA DE SOUZA","telefone":"","telefone_celular":"(38)9997-45254","email":"eduardovieirasouza101@gmail.com"},{"codigo_associado":"54924","codigo_beneficiario":"140816","codigo_situacao":"1","data_nascimento":"1979-10-28","nome":"JOSE JANDE RODRIGUES DOS SANTOS","telefone":"","telefone_celular":"(62)9816-20083","email":"mariavitoriapaixaodossantos@gmail.com"},{"codigo_associado":"55213","codigo_beneficiario":"141104","codigo_situacao":"1","data_nascimento":"1996-10-28","nome":"NEMES MOREIRA CEVERO JÚNIOR","telefone":"","telefone_celular":"(62)9911-70681","email":"nemesmoreiracjr@gmail.com"},{"codigo_associado":"55527","codigo_beneficiario":"141415","codigo_situacao":"1","data_nascimento":"1996-10-28","nome":"ARTHUR SILVA DIAS DA MATA BOMFIM","telefone":"(83)9877-83150","telefone_celular":"(83)9877-83150","email":"arthurbomfim28@gmail.com"},{"codigo_associado":"56387","codigo_beneficiario":"142271","codigo_situacao":"1","data_nascimento":"1975-10-28","nome":"LEONARDO CARDOSO BARBOSA","telefone":"","telefone_celular":"(38)9999-80086","email":""},{"codigo_associado":"56708","codigo_beneficiario":"142591","codigo_situacao":"1","data_nascimento":"2003-10-28","nome":"KAYKE LIMA DA SILVA","telefone":"","telefone_celular":"(62)9928-61473","email":"kaykelima666@gmail.com"},{"codigo_associado":"57628","codigo_beneficiario":"143511","codigo_situacao":"1","data_nascimento":"1993-10-28","nome":"ELIAS DE FREITAS MACHADO","telefone":"","telefone_celular":"(37)9995-35002","email":"eliofreitas123456@gmail"},{"codigo_associado":"57814","codigo_beneficiario":"143694","codigo_situacao":"1","data_nascimento":"2024-10-28","nome":"DIEGO DE OLIVEIRA SALES","telefone":"","telefone_celular":"(19)9999-62420","email":""},{"codigo_associado":"58014","codigo_beneficiario":"143894","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"DANIELE CRISTINA CONTIN THANS PIOLA DA SILVA","telefone":"","telefone_celular":"(19)9835-46824","email":""},{"codigo_associado":"58144","codigo_beneficiario":"144025","codigo_situacao":"1","data_nascimento":"1972-10-28","nome":"ANTONIO FERREIRA DE SOUSA","telefone":"","telefone_celular":"(85)9877-88829","email":"antonioferreirasousa667@gmail.com"},{"codigo_associado":"58220","codigo_beneficiario":"144101","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"ERIVELTO SOARES DOS REIS","telefone":"","telefone_celular":"(37)9884-89495","email":""},{"codigo_associado":"58626","codigo_beneficiario":"144507","codigo_situacao":"1","data_nascimento":"1989-10-28","nome":"SILAS DE JESUS SANTANA","telefone":"","telefone_celular":"(61)9952-03303","email":"silas.santana.3f@gmail.com"},{"codigo_associado":"59946","codigo_beneficiario":"145809","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"PITAGORAS DE SOUZA DOS SANTOS","telefone":"","telefone_celular":"(62)9852-14889","email":"pitagorassantos2@gmail.com"},{"codigo_associado":"60290","codigo_beneficiario":"146135","codigo_situacao":"1","data_nascimento":"1982-10-28","nome":"VAGNA DE SOUZA LEAL","telefone":"","telefone_celular":"(79)9981-50052","email":"."},{"codigo_associado":"61181","codigo_beneficiario":"146964","codigo_situacao":"1","data_nascimento":"1982-10-28","nome":"CARLOS DALBERTO DE JESUS","telefone":"","telefone_celular":"(19)9999-75505","email":""},{"codigo_associado":"61665","codigo_beneficiario":"147421","codigo_situacao":"1","data_nascimento":"1968-10-28","nome":"WILDA DOS SANTOS MOTA","telefone":"","telefone_celular":"(79)9886-58417","email":""},{"codigo_associado":"61940","codigo_beneficiario":"147670","codigo_situacao":"1","data_nascimento":"1981-10-28","nome":"PAULO CESAR PAIXAO PINHEIRO","telefone":"","telefone_celular":"(79)9999-01870","email":"ppaixaoporpinheiro@gmail.com"},{"codigo_associado":"64021","codigo_beneficiario":"149679","codigo_situacao":"1","data_nascimento":"1981-10-28","nome":"ADAILTON RESENDE BATISTA","telefone":"","telefone_celular":"(79)9983-42296","email":"abatistaresendes@gmail.com"},{"codigo_associado":"64155","codigo_beneficiario":"149806","codigo_situacao":"1","data_nascimento":"1997-10-28","nome":"WEVERTON PEREIRA DOS SANTOS","telefone":"","telefone_celular":"(19)9967-51612","email":""},{"codigo_associado":"64666","codigo_beneficiario":"150298","codigo_situacao":"1","data_nascimento":"1958-10-28","nome":"VERA LÚCIA DA SILVA SOUZA","telefone":"","telefone_celular":"(85)9944-40576","email":"veraluciadasilvasouza@gmail.com"},{"codigo_associado":"66026","codigo_beneficiario":"151598","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"ANE CAROLINE FREITAS CARVALHO","telefone":"","telefone_celular":"(64)9920-39854","email":""},{"codigo_associado":"67616","codigo_beneficiario":"153114","codigo_situacao":"1","data_nascimento":"2004-10-28","nome":"MARIA EDUARDA WALADAO ALVES","telefone":"","telefone_celular":"(27)9974-22358","email":"mariaeduardawaladao@hotmail.com"},{"codigo_associado":"68571","codigo_beneficiario":"154045","codigo_situacao":"1","data_nascimento":"1978-10-28","nome":"ELENILDO JESUS DOS SANTOS","telefone":"(27)9973-11644","telefone_celular":"(27)9995-07311","email":"cidals1110@gmail.com"},{"codigo_associado":"68718","codigo_beneficiario":"154184","codigo_situacao":"1","data_nascimento":"1984-10-28","nome":"MARCOS SILVA OLIVEIRA","telefone":"","telefone_celular":"(79)9914-79586","email":"kollysud35@gmail.com"},{"codigo_associado":"69062","codigo_beneficiario":"154512","codigo_situacao":"1","data_nascimento":"1979-10-28","nome":"ALENCAR  JOSÉ DE OLIVEIRA","telefone":"","telefone_celular":"(35)9972-22502","email":"alencaro@gmail.com"},{"codigo_associado":"70181","codigo_beneficiario":"155583","codigo_situacao":"1","data_nascimento":"1994-10-28","nome":"ROMARIO AUGUSTO  DE CAMPOS","telefone":"","telefone_celular":"(37)9982-21483","email":"romarioaugusto2816@gmail.com"},{"codigo_associado":"70384","codigo_beneficiario":"155770","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"DIEGO DEYVISON MOREIRA DO NASCIMENTO","telefone":"","telefone_celular":"(85)9885-60016","email":"diegodeyvison16@gmail.com"},{"codigo_associado":"71057","codigo_beneficiario":"156391","codigo_situacao":"1","data_nascimento":"1986-10-28","nome":"JOSE  RICARDO PEREIRA DE SOUSA","telefone":"(85)9883-15614","telefone_celular":"(85)9990-63196","email":"ricardoo_p@hotmail.com"},{"codigo_associado":"71294","codigo_beneficiario":"156616","codigo_situacao":"1","data_nascimento":"2005-10-28","nome":"FELIPE ARAÚJO DE AMORIM","telefone":"","telefone_celular":"(62)9948-45392","email":"llipemaker@gmail.com"},{"codigo_associado":"73037","codigo_beneficiario":"158221","codigo_situacao":"1","data_nascimento":"1997-10-28","nome":"DAIANE APARECIDA SÃO JOAO DA SILVA","telefone":"","telefone_celular":"(19)9714-79317","email":""},{"codigo_associado":"73721","codigo_beneficiario":"158849","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"VINICIUS CAMPOS DA SILVA","telefone":"","telefone_celular":"(61)9825-11993","email":""},{"codigo_associado":"74061","codigo_beneficiario":"159167","codigo_situacao":"1","data_nascimento":"1979-10-28","nome":"WESLEI GIMENEZ","telefone":"","telefone_celular":"(27)9993-34902","email":"wesleigimenezalarmes@gmail.com"},{"codigo_associado":"76429","codigo_beneficiario":"161449","codigo_situacao":"1","data_nascimento":"1986-10-28","nome":"AIAS GOMES NUNES","telefone":"","telefone_celular":"(37)9997-95656","email":"aiasgomes.semear@gmail.com"},{"codigo_associado":"77432","codigo_beneficiario":"162416","codigo_situacao":"1","data_nascimento":"1978-10-28","nome":"WILLER PINHEIRO DA SILVA","telefone":"","telefone_celular":"(79)9919-96951","email":"willer.pinheiro@hotmail.com"},{"codigo_associado":"77694","codigo_beneficiario":"162664","codigo_situacao":"1","data_nascimento":"1958-10-28","nome":"GERALDO ANTONIO TEODORO","telefone":"","telefone_celular":"(37)9983-22102","email":""},{"codigo_associado":"78421","codigo_beneficiario":"163347","codigo_situacao":"1","data_nascimento":"1973-10-28","nome":"ORLANDO VIEIRA DOS SANTOS","telefone":"","telefone_celular":"(85)9976-63856","email":"cieiraorlando565@gmail.com"},{"codigo_associado":"78631","codigo_beneficiario":"163543","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"CAIO CESAR DANTAS E SILVA","telefone":"","telefone_celular":"(62)9933-61216","email":"davidrane21@gmail.com"},{"codigo_associado":"78641","codigo_beneficiario":"163553","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"MILTON ALOÍSIO DE OLIVEIRA JUNIOR","telefone":"","telefone_celular":"(31)9907-28208","email":""},{"codigo_associado":"79768","codigo_beneficiario":"164630","codigo_situacao":"1","data_nascimento":"1988-10-28","nome":"ANDERSON FERREIRA","telefone":"","telefone_celular":"(85)9810-15250","email":"adsferreira.hunter@gmail.com"},{"codigo_associado":"80155","codigo_beneficiario":"165011","codigo_situacao":"1","data_nascimento":"1984-10-28","nome":"ANATALIA MENEZES CELESTINO","telefone":"","telefone_celular":"(79)9992-21525","email":"nat.rob@hotmail.com"},{"codigo_associado":"80188","codigo_beneficiario":"165043","codigo_situacao":"1","data_nascimento":"1995-10-28","nome":"JEFERSON BERNARDO SANTANA","telefone":"","telefone_celular":"(85)9944-90903","email":"jefersonbernardosantana@gmail.com"},{"codigo_associado":"80233","codigo_beneficiario":"165083","codigo_situacao":"1","data_nascimento":"2004-10-28","nome":"JOAQUIM GEDEAO SILVA DO NASCIMENTO","telefone":"","telefone_celular":"(85)9915-62095","email":"aylamariana05@gmail.com"},{"codigo_associado":"80343","codigo_beneficiario":"165189","codigo_situacao":"1","data_nascimento":"1989-10-28","nome":"MAYKON SILVA CORTE","telefone":"","telefone_celular":"(63)9922-85540","email":"maukon281089@gmail.com"},{"codigo_associado":"80703","codigo_beneficiario":"165528","codigo_situacao":"1","data_nascimento":"2003-10-28","nome":"KAYKE FERREIRA DE SOUZA","telefone":"","telefone_celular":"(62)9824-74649","email":"kaykysouza790@gmail.com"},{"codigo_associado":"81880","codigo_beneficiario":"166675","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"CRISTIANY KAREN LOPES SILVA","telefone":"","telefone_celular":"(37)9980-37718","email":""},{"codigo_associado":"81989","codigo_beneficiario":"166782","codigo_situacao":"1","data_nascimento":"1988-10-28","nome":"TATIANE ATAIDES DA SILVA","telefone":"","telefone_celular":"(64)9960-69510","email":"tatianeataides.silva@gmail.com"},{"codigo_associado":"82543","codigo_beneficiario":"167328","codigo_situacao":"1","data_nascimento":"1976-10-28","nome":"HÉLIO DOS SANTOS PINTO","telefone":"","telefone_celular":"(62)9914-23045","email":"ludianerocha1516@gmail.com"},{"codigo_associado":"82714","codigo_beneficiario":"167499","codigo_situacao":"1","data_nascimento":"1981-10-28","nome":"ELTON TADEU AUGUSTO","telefone":"","telefone_celular":"(31)9976-18052","email":"eltontotobjj@gmail.com"},{"codigo_associado":"83288","codigo_beneficiario":"168062","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"TAMIRES APARECIDA DA SILVA","telefone":"","telefone_celular":"(37)9840-31760","email":"tamres231@gmail.com"},{"codigo_associado":"84715","codigo_beneficiario":"169463","codigo_situacao":"1","data_nascimento":"1988-10-28","nome":"VANDERCEIA BORGES PEREIRA","telefone":"","telefone_celular":"(85)9873-89428","email":""},{"codigo_associado":"85366","codigo_beneficiario":"170102","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"PÂMELA OLIVEIRA DE MENEZES","telefone":"(99)999999999","telefone_celular":"(79)9997-93817","email":"pamelaoliverkeke@gmail.com"},{"codigo_associado":"85493","codigo_beneficiario":"170229","codigo_situacao":"1","data_nascimento":"1996-10-28","nome":"TATIELLY OLIVEIRA BENTO MENDES","telefone":"","telefone_celular":"(62)9935-99014","email":"tatiellyy99@gmail.com"},{"codigo_associado":"89329","codigo_beneficiario":"174682","codigo_situacao":"1","data_nascimento":"1979-10-28","nome":"MARISTELA GRANDO DE BARROS","telefone":"(46)99912-0419","telefone_celular":"(46)99928-2807","email":"alemao_denig@hotmail.com"},{"codigo_associado":"90128","codigo_beneficiario":"174864","codigo_situacao":"1","data_nascimento":"1974-10-28","nome":"FLAVIO HENRIQUE CARDOSO DA SILVA","telefone":"","telefone_celular":"(61)9954-71975","email":"fhc.audio@gmail.com"},{"codigo_associado":"90137","codigo_beneficiario":"174873","codigo_situacao":"1","data_nascimento":"1985-10-28","nome":"ROSIANE MARIA REZENDE GONÇALVES","telefone":"","telefone_celular":"(37)9916-18517","email":""},{"codigo_associado":"91024","codigo_beneficiario":"175746","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"JACKSON RENAN DE OLIVEIRA MACHADO","telefone":"(87)9980-71093","telefone_celular":"(83)9938-26833","email":"machadoarthur027@gmail.com"},{"codigo_associado":"91158","codigo_beneficiario":"175875","codigo_situacao":"1","data_nascimento":"2004-10-28","nome":"GABRIEL SILVA DE SOUSA","telefone":"","telefone_celular":"(37)9997-28166","email":"japaozinho456@gmail.com"},{"codigo_associado":"91527","codigo_beneficiario":"176244","codigo_situacao":"1","data_nascimento":"1989-10-28","nome":"RODRIGO GOMES DE SANTANA","telefone":"","telefone_celular":"(79)9998-64012","email":"bemalimentosse@gmail.com"},{"codigo_associado":"91670","codigo_beneficiario":"176387","codigo_situacao":"1","data_nascimento":"1974-10-28","nome":"ANTÔNIO CARLOS SALVADOR","telefone":"","telefone_celular":"(45)9913-79010","email":"acsalvador@hotmail.com antonio.salvador@metropolitanatratores.com.br"},{"codigo_associado":"92937","codigo_beneficiario":"177645","codigo_situacao":"1","data_nascimento":"2026-10-28","nome":"ILZA NUNES DE OLIVEIRA","telefone":"","telefone_celular":"(64)9840-18063","email":"oliveirailzanunes@gmail.com"},{"codigo_associado":"93478","codigo_beneficiario":"178181","codigo_situacao":"1","data_nascimento":"1986-10-28","nome":"SAMUEL LUCAS  DA SILVA","telefone":"","telefone_celular":"(62)9997-94138","email":"samuka.silva2810@gmail.com"},{"codigo_associado":"94119","codigo_beneficiario":"178812","codigo_situacao":"1","data_nascimento":"1967-10-28","nome":"VICENTE ADILSON DOS SANTOS","telefone":"","telefone_celular":"(31)9974-58196","email":"vicenteadilson67@gmail.com"},{"codigo_associado":"94188","codigo_beneficiario":"178880","codigo_situacao":"1","data_nascimento":"2002-10-28","nome":"LUCAS CALDEIRA DE SOUZA","telefone":"","telefone_celular":"(62)9830-45538","email":"lucadrum18@gmail.com"},{"codigo_associado":"94364","codigo_beneficiario":"179054","codigo_situacao":"1","data_nascimento":"1960-10-28","nome":"MANOEL MARQUES DA SILVA","telefone":"","telefone_celular":"(33)9910-69820","email":"manoel60marques@outlook.com"},{"codigo_associado":"94537","codigo_beneficiario":"179226","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"ALESSANDRA ROSA DO CARMO","telefone":"","telefone_celular":"(62)9919-10584","email":"ale.gyn38@gmail.com"},{"codigo_associado":"94588","codigo_beneficiario":"179277","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"DELY VAZ LEITE","telefone":"","telefone_celular":"(19)9716-07188","email":""},{"codigo_associado":"94697","codigo_beneficiario":"179386","codigo_situacao":"1","data_nascimento":"2001-10-28","nome":"VIVIAN NASCIMENTO LOPES","telefone":"","telefone_celular":"(85)9917-07028","email":"mendesvivian721@gmail.com"},{"codigo_associado":"95108","codigo_beneficiario":"179792","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"ISABELLA NADAI GOES","telefone":"","telefone_celular":"(19)9981-72940","email":""},{"codigo_associado":"95917","codigo_beneficiario":"180592","codigo_situacao":"1","data_nascimento":"2022-10-28","nome":"ITALO BARROSO RIBEIRO","telefone":"","telefone_celular":"(85)9986-21903","email":"italobarrosoribeiro@icloud.com"},{"codigo_associado":"96160","codigo_beneficiario":"180825","codigo_situacao":"1","data_nascimento":"1999-10-28","nome":"DANIEL OLIVEIRA DO CARMO","telefone":"","telefone_celular":"(62)9817-94675","email":"danielcarmo78805@gmail.com"},{"codigo_associado":"97726","codigo_beneficiario":"182292","codigo_situacao":"1","data_nascimento":"1976-10-28","nome":"ADRIANO APARECIDO FRANCISCHINI DANTAS","telefone":"","telefone_celular":"(19)9981-15495","email":""},{"codigo_associado":"97855","codigo_beneficiario":"182416","codigo_situacao":"1","data_nascimento":"1974-10-28","nome":"WALQUIRIA MARTINS","telefone":"","telefone_celular":"(37)9997-18529","email":""},{"codigo_associado":"98561","codigo_beneficiario":"183075","codigo_situacao":"1","data_nascimento":"2001-10-28","nome":"RAYANE DA SILVA FERNANDES","telefone":"","telefone_celular":"(33)9882-39359","email":"rayane.sfernandes@outlook.com"},{"codigo_associado":"98994","codigo_beneficiario":"183501","codigo_situacao":"1","data_nascimento":"1971-10-28","nome":"MARCOS ANTÔNIO PEREIRA GONÇALVES","telefone":"","telefone_celular":"(62)9917-93279","email":"marcosqqq168@gmail.com"},{"codigo_associado":"99275","codigo_beneficiario":"183774","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"HEDER ALVES VIEIRA","telefone":"","telefone_celular":"(62)9913-78644","email":"heder22777@gmail.com"},{"codigo_associado":"99578","codigo_beneficiario":"184071","codigo_situacao":"1","data_nascimento":"1986-10-28","nome":"CLEIDIANE DA SILVA CUNHA","telefone":"","telefone_celular":"(62)9992-78934","email":"cleidianesilva1226@gmail.com"},{"codigo_associado":"99650","codigo_beneficiario":"184141","codigo_situacao":"1","data_nascimento":"1988-10-28","nome":"VAGNER GONÇALVES DOS SANTOS","telefone":"","telefone_celular":"(33)9982-56783","email":"vagnergoncalvesdossantos522@gmail.com"},{"codigo_associado":"100095","codigo_beneficiario":"184583","codigo_situacao":"1","data_nascimento":"1973-10-28","nome":"JORLAN CARNEIRO R DE FREITAS","telefone":"","telefone_celular":"(79)9913-09499","email":"jorlandireito@gmail.com"},{"codigo_associado":"101109","codigo_beneficiario":"185566","codigo_situacao":"1","data_nascimento":"1972-10-28","nome":"JOSÉ MANOEL DOS SANTOS","telefone":"","telefone_celular":"(82)9937-18388","email":"leonardosantos1998@outlook.com.br"},{"codigo_associado":"101390","codigo_beneficiario":"185839","codigo_situacao":"1","data_nascimento":"1996-10-28","nome":"LUCAS RAMOS DA MOTA","telefone":"","telefone_celular":"(79)9999-62683","email":"motalucas983@gmail.com"},{"codigo_associado":"101428","codigo_beneficiario":"185877","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"HIAGO TOBIAS MARRIEL MARTINS","telefone":"","telefone_celular":"(33)9987-84105","email":"hiagomartins53@gmail.com"},{"codigo_associado":"102771","codigo_beneficiario":"187210","codigo_situacao":"1","data_nascimento":"1999-10-28","nome":"LUAN LIMA FREIRE","telefone":"","telefone_celular":"(62)9944-27616","email":"luanlorena341@gmail.com"},{"codigo_associado":"103356","codigo_beneficiario":"187778","codigo_situacao":"1","data_nascimento":"1980-10-28","nome":"DALECE APARECIDA DA SILVA","telefone":"","telefone_celular":"(62)9862-77670","email":""},{"codigo_associado":"103713","codigo_beneficiario":"188130","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"MARCOS XAVIER SOBRINHO","telefone":"","telefone_celular":"(41)9845-06067","email":"marcosxavierrocha987@gmail.com"},{"codigo_associado":"104003","codigo_beneficiario":"188419","codigo_situacao":"1","data_nascimento":"1961-10-28","nome":"JOSÉ ALBINO DA SILVA FILHO","telefone":"","telefone_celular":"(35)9998-58205","email":""},{"codigo_associado":"104006","codigo_beneficiario":"188422","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"LEONARDO FERNANDES GUIMARAES","telefone":"","telefone_celular":"(33)9983-83474","email":""},{"codigo_associado":"104169","codigo_beneficiario":"188584","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"FERNANDO DOS SANTOS CARVALHO","telefone":"(31)9987-12397","telefone_celular":"(31)9987-12397","email":"fc868408@gmail.com"},{"codigo_associado":"104602","codigo_beneficiario":"189014","codigo_situacao":"1","data_nascimento":"1979-10-28","nome":"ALISSON THADEU LIMA DOS SANTOS","telefone":"","telefone_celular":"(37)9914-87956","email":""},{"codigo_associado":"104778","codigo_beneficiario":"189190","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"JOHNNYS WESLEY OLIVEIRA SANTOS","telefone":"","telefone_celular":"(79)9885-71911","email":"johnnyssanyos2015@gmail.com"},{"codigo_associado":"106219","codigo_beneficiario":"190590","codigo_situacao":"1","data_nascimento":"1983-10-28","nome":"JULIANO NASCIMENTO DOS SANTOS","telefone":"","telefone_celular":"(45)9996-49580","email":"julianosantos2883@gmail.com"},{"codigo_associado":"106577","codigo_beneficiario":"190944","codigo_situacao":"1","data_nascimento":"1976-10-28","nome":"CLAUDIO MIRANDA CARDOSO","telefone":"","telefone_celular":"(31)9888-56625","email":"cardosojequi@hotmail.com"},{"codigo_associado":"106635","codigo_beneficiario":"191001","codigo_situacao":"1","data_nascimento":"1987-10-28","nome":"AERISON DA SILVA PASSOS","telefone":"","telefone_celular":"(62)9952-80313","email":"aerisondasilvapassos48@gmail.com"},{"codigo_associado":"106862","codigo_beneficiario":"191228","codigo_situacao":"1","data_nascimento":"1963-10-28","nome":"JOSÉ ROBERTO DA SILVA","telefone":"","telefone_celular":"(79)9997-68188","email":"robertosilvasaude068@gmail.com"},{"codigo_associado":"107478","codigo_beneficiario":"191838","codigo_situacao":"1","data_nascimento":"1995-10-28","nome":"JEREMIAS DOS SANTOS LIMA","telefone":"","telefone_celular":"(37)9995-61892","email":"jeremiaslimans@gmail.com"},{"codigo_associado":"107864","codigo_beneficiario":"192219","codigo_situacao":"1","data_nascimento":"1963-10-28","nome":"ONILSON MATIAS SILVA","telefone":"","telefone_celular":"(31)9884-80715","email":"."},{"codigo_associado":"107952","codigo_beneficiario":"192307","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"DILHERME CHAVES SANTOS","telefone":"","telefone_celular":"(11)9765-28356","email":"dilherme10@gmail.com"},{"codigo_associado":"108971","codigo_beneficiario":"193315","codigo_situacao":"1","data_nascimento":"1967-10-28","nome":"JOSÉ CARLOS FERREIRA DOS SANTOS","telefone":"(99)999999999","telefone_celular":"(79)9984-31152","email":"josecarlosfdossantos41@gmail.com"},{"codigo_associado":"109530","codigo_beneficiario":"193866","codigo_situacao":"1","data_nascimento":"1993-10-28","nome":"KATHLEEN NAIANE BARBOSA DA SILVA","telefone":"","telefone_celular":"(31)9882-63836","email":"kathllen_naiane@yahoo.com.br"},{"codigo_associado":"110732","codigo_beneficiario":"195057","codigo_situacao":"1","data_nascimento":"1982-10-28","nome":"MENDES TADEU DE OLIVEIRA","telefone":"","telefone_celular":"(65)9925-42050","email":"mendestadeu57@gmail.com"},{"codigo_associado":"110768","codigo_beneficiario":"195093","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"EZEQUIEL GOMES DOS SANTOS","telefone":"","telefone_celular":"(31)9988-11172","email":"zeksanto@gmail.com"},{"codigo_associado":"111600","codigo_beneficiario":"195914","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"ANTONIO FERREIRA DE CALDAS","telefone":"","telefone_celular":"(16)9915-85302","email":"caldasantonio728@gmail.com"},{"codigo_associado":"111777","codigo_beneficiario":"196089","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"GISSELE GIANA DIAS FERNANDES","telefone":"","telefone_celular":"(33)9986-47247","email":"gianedias7@gmail.com"},{"codigo_associado":"111849","codigo_beneficiario":"196160","codigo_situacao":"1","data_nascimento":"1981-10-28","nome":"LAFAIETE CORDEIRO DA FONSECA","telefone":"","telefone_celular":"(38)9997-56477","email":"jessycalemes4top@gmail.com"},{"codigo_associado":"112039","codigo_beneficiario":"196348","codigo_situacao":"1","data_nascimento":"1993-10-28","nome":"FELIPE ALVARENGA DUTRA","telefone":"","telefone_celular":"(27)9971-94492","email":"philippoasdutra@gmail.com"},{"codigo_associado":"112120","codigo_beneficiario":"196427","codigo_situacao":"1","data_nascimento":"1993-10-28","nome":"JERFFERSON RODRIGUES DA SILVA","telefone":"","telefone_celular":"(62)9915-16859","email":"jerfdey@gmail.com"},{"codigo_associado":"112343","codigo_beneficiario":"196633","codigo_situacao":"1","data_nascimento":"1992-10-28","nome":"HENRIQUE FERREIRA CAMILO","telefone":"","telefone_celular":"(33)9882-66103","email":"henriquecamilo@hotmail.com"},{"codigo_associado":"112546","codigo_beneficiario":"196828","codigo_situacao":"1","data_nascimento":"1984-10-28","nome":"MAXSUEL DA SILVA FARIAS","telefone":"","telefone_celular":"(82)9883-17330","email":"maxsuelf290@gmail.com"},{"codigo_associado":"112620","codigo_beneficiario":"196901","codigo_situacao":"1","data_nascimento":"1978-10-28","nome":"MARCOS AURÉLIO MESQUITA DA SILVA","telefone":"","telefone_celular":"(85)9914-56104","email":"marcosregina9@gmail.com"},{"codigo_associado":"112790","codigo_beneficiario":"197070","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"CLINEUTON ALVES COSTA","telefone":"","telefone_celular":"(85)9921-90742","email":"francosta0134@gmail.com"},{"codigo_associado":"113490","codigo_beneficiario":"197740","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"JENNIFER DA CRUZ RIBEIRO","telefone":"","telefone_celular":"(62)9915-25250","email":"jenniferar007@gmail.com"},{"codigo_associado":"113508","codigo_beneficiario":"197757","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"DIÓGENES NASCIMENTO MARQUES","telefone":"","telefone_celular":"(82)9967-26892","email":""},{"codigo_associado":"113632","codigo_beneficiario":"197877","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"ANA VITÓRIA CHAVES MACIEL","telefone":"","telefone_celular":"(85)9982-89184","email":"anavic.maciel1@gmail.com"},{"codigo_associado":"113860","codigo_beneficiario":"198080","codigo_situacao":"1","data_nascimento":"1974-10-28","nome":"MARILZA AMARANTE SILVEIRA","telefone":"","telefone_celular":"(31)9951-92245","email":"marilzaamarante3290@yahoo.com"},{"codigo_associado":"115003","codigo_beneficiario":"199179","codigo_situacao":"1","data_nascimento":"1994-10-28","nome":"BRUNA TEODORO XAVIER","telefone":"","telefone_celular":"(37)9996-65653","email":"bruna_xaavier@hotmail.com"},{"codigo_associado":"115388","codigo_beneficiario":"199549","codigo_situacao":"1","data_nascimento":"1975-10-28","nome":"JOÃO GOMES PEREIRA","telefone":"","telefone_celular":"(33)9997-58321","email":"joaogomes282810@gmail.com"},{"codigo_associado":"115483","codigo_beneficiario":"199638","codigo_situacao":"1","data_nascimento":"2002-10-28","nome":"THAYNARA SOUZA DA SILVA","telefone":"","telefone_celular":"(82)9960-36182","email":"ts6192763@gmail.com"},{"codigo_associado":"115604","codigo_beneficiario":"199755","codigo_situacao":"1","data_nascimento":"1953-10-28","nome":"SEBASTIÃO JOSÉ FERNANDES","telefone":"","telefone_celular":"(37)9997-70037","email":""},{"codigo_associado":"117105","codigo_beneficiario":"201232","codigo_situacao":"1","data_nascimento":"1998-10-28","nome":"ALYSSON JUNIOR VIANA BRAGA","telefone":"","telefone_celular":"(31)9893-08739","email":"alyssonvianabraga25@gmail.com"},{"codigo_associado":"117729","codigo_beneficiario":"201840","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"LUIZ MIGUEL DE SOUZA","telefone":"(35)9992-53262","telefone_celular":"(35)9992-53262","email":"merceariabompreco02@gmail.com"},{"codigo_associado":"117909","codigo_beneficiario":"202014","codigo_situacao":"1","data_nascimento":"2000-10-28","nome":"LEONARDO MACHADO DE OLIVEIRA","telefone":"","telefone_celular":"(67)9966-13748","email":"leoyasuo16@gmail.com"},{"codigo_associado":"118094","codigo_beneficiario":"202199","codigo_situacao":"1","data_nascimento":"1990-10-28","nome":"EMANOEL VALENTIM MARTINS","telefone":"","telefone_celular":"(64)9922-64472","email":"emanoelvm@hotmail.com"},{"codigo_associado":"118245","codigo_beneficiario":"202349","codigo_situacao":"1","data_nascimento":"1995-10-28","nome":"EUDISLAN SALES MOTA","telefone":"","telefone_celular":"(85)9927-88040","email":"dyllansales20@gmail.com"},{"codigo_associado":"118490","codigo_beneficiario":"202587","codigo_situacao":"1","data_nascimento":"1984-10-28","nome":"GILNANES CARNEIRO FIOZO","telefone":"","telefone_celular":"(85)9970-16532","email":"gilnanes@gmail.com"},{"codigo_associado":"118634","codigo_beneficiario":"202731","codigo_situacao":"1","data_nascimento":"1977-10-28","nome":"CRISTINA RAMOS BIBIKOW DE ARAÚJO","telefone":"","telefone_celular":"(62)9966-72242","email":"cristinarbibikow@gmail.com"},{"codigo_associado":"371","codigo_beneficiario":"371","codigo_situacao":"2","data_nascimento":"1953-10-28","nome":"ORLANDO AMORIM MENDES","telefone":"(31)9711-9840","telefone_celular":"(31)99711-9840","email":""},{"codigo_associado":"791","codigo_beneficiario":"791","codigo_situacao":"2","data_nascimento":"1971-10-28","nome":"MARIZA MORENO DOS SANTOS","telefone":"(21)3377-9565","telefone_celular":"(21)99185-4719","email":"westseguross@gmail.com"},{"codigo_associado":"1148","codigo_beneficiario":"1148","codigo_situacao":"2","data_nascimento":"1962-10-28","nome":"REMI PEREIRA DE ALMEIDA","telefone":"","telefone_celular":"(38)99953-2807","email":"remidotaxi@hotmail.com"},{"codigo_associado":"1417","codigo_beneficiario":"1417","codigo_situacao":"2","data_nascimento":"1982-10-28","nome":"CARMELINA DE FATIMA PEREIRA","telefone":"","telefone_celular":"(31)99944-8887","email":"fatosa1@hotmail.com"},{"codigo_associado":"2027","codigo_beneficiario":"2026","codigo_situacao":"2","data_nascimento":"1993-10-28","nome":"GUSTAVO ELCINO PIMENTA","telefone":"(33)99990-9267","telefone_celular":"(33)98801-3103","email":"guga2022@hotmail.com"},{"codigo_associado":"5906","codigo_beneficiario":"92571","codigo_situacao":"2","data_nascimento":"1986-10-28","nome":"WALLACE GAMA RAMOS","telefone":"","telefone_celular":"(27)99716-0274","email":"gilbertomirandaramos@yahoo.com.br"},{"codigo_associado":"8658","codigo_beneficiario":"95323","codigo_situacao":"2","data_nascimento":"1979-10-28","nome":"SIDNEY CHAGAS PEREIRA","telefone":"","telefone_celular":"(83)98801-9784","email":"sidneychagaspereira@gmail.com"},{"codigo_associado":"9553","codigo_beneficiario":"96218","codigo_situacao":"2","data_nascimento":"1987-10-28","nome":"PABLO MICHAEL DO A LUDGERIO","telefone":"","telefone_celular":"(83)98723-1872","email":"rebecaludgerio2014@hotmail.com"},{"codigo_associado":"9962","codigo_beneficiario":"96627","codigo_situacao":"2","data_nascimento":"1992-10-28","nome":"FRANCISCO JOSE FREIRE","telefone":"","telefone_celular":"(83)98132-0998","email":"abelkaiomonteiro@outlook.com"},{"codigo_associado":"12609","codigo_beneficiario":"99274","codigo_situacao":"2","data_nascimento":"1992-10-28","nome":"ISTEFANI PONTES DA COSTA","telefone":"","telefone_celular":"(31)98412-0582","email":"istefani.pontes@gmail.com"},{"codigo_associado":"13345","codigo_beneficiario":"100010","codigo_situacao":"2","data_nascimento":"1992-10-28","nome":"FELIPE DIAS MARINHO","telefone":"","telefone_celular":"(31)9875-73330","email":"felipediasmarinhocc@gmail.com"},{"codigo_associado":"14668","codigo_beneficiario":"101333","codigo_situacao":"2","data_nascimento":"1987-10-28","nome":"MACIEL ALVES TRINDADE","telefone":"","telefone_celular":"(33)99104-0864","email":"maciel.alvescap@gmail.com"},{"codigo_associado":"16826","codigo_beneficiario":"102769","codigo_situacao":"2","data_nascimento":"2001-10-28","nome":"ALEX DOS SANTOS GODINHO","telefone":"","telefone_celular":"(33)99837-7815","email":""},{"codigo_associado":"17400","codigo_beneficiario":"103342","codigo_situacao":"2","data_nascimento":"1976-10-28","nome":"CLAUDIA APARECIDA NERY DOS SANTOS","telefone":"","telefone_celular":"(38)99899-6952","email":"nery.claudia28.aparecida@gmail.com"},{"codigo_associado":"17495","codigo_beneficiario":"103437","codigo_situacao":"2","data_nascimento":"1997-10-28","nome":"FERNANDO RIBEIRO TEIXEIRA","telefone":"","telefone_celular":"(31)99532-7987","email":"fernandoribete@gmail.com"},{"codigo_associado":"18322","codigo_beneficiario":"104247","codigo_situacao":"2","data_nascimento":"1999-10-28","nome":"JOãO MARCUS MARAIPE FABIANO","telefone":"(62)3581-5730","telefone_celular":"(62)9827-27666","email":"7kfabiano@gmail.com"},{"codigo_associado":"20459","codigo_beneficiario":"106379","codigo_situacao":"2","data_nascimento":"1994-10-28","nome":"JULIO WANDERSON DA PAIXAO  PEREIRA","telefone":"","telefone_celular":"(62)99380-3553","email":"juliowandersondapaixao@gmail.com"},{"codigo_associado":"20956","codigo_beneficiario":"106873","codigo_situacao":"2","data_nascimento":"1988-10-28","nome":"REGIOMAR HORáCIO RODRIGUES","telefone":"","telefone_celular":"(62)9993-22899","email":"rregiomar@gmail.com"},{"codigo_associado":"21451","codigo_beneficiario":"107369","codigo_situacao":"2","data_nascimento":"1986-10-28","nome":"DANILLO SIQUEIRA GONÇALVES","telefone":"","telefone_celular":"(62)9951-74893","email":""},{"codigo_associado":"22155","codigo_beneficiario":"108073","codigo_situacao":"2","data_nascimento":"1960-10-28","nome":"SILVIO JOSE PEREIRA","telefone":"","telefone_celular":"(31)9977-65132","email":"leonardopereira70431@gmail.com"},{"codigo_associado":"23229","codigo_beneficiario":"109138","codigo_situacao":"2","data_nascimento":"1986-10-28","nome":"PLINIO MARCOS QUEIROZ DE SOUZA","telefone":"","telefone_celular":"(34)9979-70834","email":"pliniomqs@gmail.com"},{"codigo_associado":"23622","codigo_beneficiario":"109531","codigo_situacao":"2","data_nascimento":"1977-10-28","nome":"ALMILSON RODRIGUES DA SILVA","telefone":"","telefone_celular":"(83)9880-49240","email":"terrenocasa8@gmail.com"},{"codigo_associado":"24849","codigo_beneficiario":"110758","codigo_situacao":"2","data_nascimento":"1976-10-28","nome":"ENIO SILVEIRO DA SILVA","telefone":"","telefone_celular":"(62)9947-94653","email":"eniocapacete@gmail.com"},{"codigo_associado":"25180","codigo_beneficiario":"111089","codigo_situacao":"2","data_nascimento":"1950-10-28","nome":"JOELITO XAVIER MACEDO","telefone":"","telefone_celular":"(62)9936-81810","email":"joelitomacedo10@gmail.com"},{"codigo_associado":"25656","codigo_beneficiario":"111565","codigo_situacao":"2","data_nascimento":"1998-10-28","nome":"DANILO DUARTE DA SILVA","telefone":"","telefone_celular":"(83)9865-25696","email":"danyloduarte2013@gmail.com"},{"codigo_associado":"26523","codigo_beneficiario":"112429","codigo_situacao":"2","data_nascimento":"1971-10-28","nome":"MARCOS ANTONIO MOURA","telefone":"","telefone_celular":"(27)9984-55519","email":"mayconcirino2@gmail.com"},{"codigo_associado":"26660","codigo_beneficiario":"112566","codigo_situacao":"2","data_nascimento":"1981-10-28","nome":"VALDEIR FRANCISCO DA CONCEIçãO","telefone":"","telefone_celular":"(62)9815-37878","email":"valdeirbombinha@outlook.com"},{"codigo_associado":"29854","codigo_beneficiario":"115743","codigo_situacao":"2","data_nascimento":"1994-10-28","nome":"ERIKA FERNANDA MATOS RAMOS","telefone":"","telefone_celular":"(79)9914-18631","email":"fernandaerica762@gmail.com"},{"codigo_associado":"30057","codigo_beneficiario":"115947","codigo_situacao":"2","data_nascimento":"1994-10-28","nome":"LUIZ FELIPE ALVES COSTA","telefone":"","telefone_celular":"(38)9982-31016","email":""},{"codigo_associado":"30881","codigo_beneficiario":"116770","codigo_situacao":"2","data_nascimento":"1995-10-28","nome":"ADEILTON RODRIGUES CAMARGOS","telefone":"","telefone_celular":"(33)9885-32312","email":""},{"codigo_associado":"31230","codigo_beneficiario":"117119","codigo_situacao":"2","data_nascimento":"1974-10-28","nome":"SERGIO REIS ROMUALDO","telefone":"","telefone_celular":"(62)9928-86387","email":"sergioromualdo73@gmail.com"},{"codigo_associado":"33352","codigo_beneficiario":"119243","codigo_situacao":"2","data_nascimento":"1984-10-28","nome":"CARLOS ANDRE OLIVEIRA SILVA","telefone":"","telefone_celular":"(79)9986-35427","email":"yancarlos29939@gmail.com"},{"codigo_associado":"33983","codigo_beneficiario":"119874","codigo_situacao":"2","data_nascimento":"1997-10-28","nome":"MYLENA CAROLINE DE FREITAS CARLOS DA SILVA","telefone":"","telefone_celular":"(79)9999-02804","email":"mylenacarolinesilva@outlook.com"},{"codigo_associado":"34073","codigo_beneficiario":"119965","codigo_situacao":"2","data_nascimento":"1983-10-28","nome":"BAZELISTA MARTINS LISBOA","telefone":"(99)999999999","telefone_celular":"(61)9981-22167","email":"bazmartins28@gmail.com"},{"codigo_associado":"34409","codigo_beneficiario":"120301","codigo_situacao":"2","data_nascimento":"1997-10-28","nome":"BRUNA GONçALVES SANTOS","telefone":"","telefone_celular":"(62)98242-5710","email":"brunagoncalvesgyn@gmail.com"},{"codigo_associado":"36509","codigo_beneficiario":"122402","codigo_situacao":"2","data_nascimento":"1961-10-28","nome":"CICERO FRANCELINO MARTINS","telefone":"","telefone_celular":"(19)9963-52070","email":""},{"codigo_associado":"37247","codigo_beneficiario":"123140","codigo_situacao":"2","data_nascimento":"1969-10-28","nome":"ADENIR ELIAS DA COSTA","telefone":"","telefone_celular":"(64)9927-74751","email":"aeccosntrutora28@gamil.com"},{"codigo_associado":"38917","codigo_beneficiario":"124812","codigo_situacao":"2","data_nascimento":"1969-10-28","nome":"ROGELO ANTôNIO MACIEL","telefone":"","telefone_celular":"(37)9997-47370","email":""},{"codigo_associado":"39927","codigo_beneficiario":"125823","codigo_situacao":"2","data_nascimento":"1987-10-28","nome":"THIAGO EVERTON DA PENHA","telefone":"(62)9933-50250","telefone_celular":"(99)999999999","email":"thiagoeverton572@gmail.com"},{"codigo_associado":"40613","codigo_beneficiario":"126509","codigo_situacao":"2","data_nascimento":"1991-10-28","nome":"ORISTACIO DE SOUZA LEAL JUNIOR","telefone":"","telefone_celular":"(83)9996-80468","email":"orisjunior@gmail.com"},{"codigo_associado":"41221","codigo_beneficiario":"127131","codigo_situacao":"2","data_nascimento":"1987-10-28","nome":"ALINE ARAúJO MELO","telefone":"","telefone_celular":"(62)9935-04825","email":"araujoaline005@gmail.com"},{"codigo_associado":"41643","codigo_beneficiario":"127538","codigo_situacao":"2","data_nascimento":"1992-10-28","nome":"MAXCHANDLY DE ARAUJO","telefone":"","telefone_celular":"(62)9820-48223","email":""},{"codigo_associado":"42469","codigo_beneficiario":"128373","codigo_situacao":"2","data_nascimento":"1994-10-28","nome":"RODRIGO VINICIUS SILVA MARQUES","telefone":"","telefone_celular":"(31)9985-90582","email":"rodriguin8180@gmail.com"},{"codigo_associado":"43931","codigo_beneficiario":"129835","codigo_situacao":"2","data_nascimento":"1991-10-28","nome":"VALDEIR SANTOS NASCIMENTO","telefone":"","telefone_celular":"(19)9982-08527","email":"valdeirtimao23@gmail.com"},{"codigo_associado":"44971","codigo_beneficiario":"130876","codigo_situacao":"2","data_nascimento":"2001-10-28","nome":"MAYRA KEVINNY MELO DE CAMARGO","telefone":"(62)9863-16826","telefone_celular":"(62)9863-16826","email":"mayracadastro@gamail.com"},{"codigo_associado":"45724","codigo_beneficiario":"131629","codigo_situacao":"2","data_nascimento":"1998-10-28","nome":"GABRIEL JUNIO DE OLIVEIRA MACIEL","telefone":"","telefone_celular":"(62)9918-55382","email":"g91855382@gmail.com"},{"codigo_associado":"46011","codigo_beneficiario":"131916","codigo_situacao":"2","data_nascimento":"1982-10-28","nome":"DILZA DE AZEVEDO DIAS","telefone":"","telefone_celular":"(61)9980-51211","email":"dilzadias28@yahoo.com.br"},{"codigo_associado":"50595","codigo_beneficiario":"136503","codigo_situacao":"2","data_nascimento":"1989-10-28","nome":"LUIZ FERNANDO DA SILVA","telefone":"","telefone_celular":"(83)9910-15119","email":"luiz.lfds@hotmail.com"},{"codigo_associado":"58132","codigo_beneficiario":"144013","codigo_situacao":"2","data_nascimento":"1990-10-28","nome":"CARLOS CESAR DE SA","telefone":"(35)9885-12533","telefone_celular":"(35)9885-12533","email":"carlos.cesar.11@hotmail.com"},{"codigo_associado":"60559","codigo_beneficiario":"146383","codigo_situacao":"2","data_nascimento":"2004-10-28","nome":"DAVID DOS SANTOS SILVA","telefone":"","telefone_celular":"(62)9926-77156","email":"davidbocgames@gmail.com"},{"codigo_associado":"61191","codigo_beneficiario":"146974","codigo_situacao":"2","data_nascimento":"1979-10-28","nome":"EDMILSON TADEU DA SILVA","telefone":"","telefone_celular":"(37)9881-61299","email":"vivaparadeus7@gmail.com"},{"codigo_associado":"61363","codigo_beneficiario":"147141","codigo_situacao":"2","data_nascimento":"1971-10-28","nome":"EVA FERREIRA DOS SANTOS","telefone":"","telefone_celular":"(62)9923-76340","email":"mauricio2019maia@gmail.com"},{"codigo_associado":"68155","codigo_beneficiario":"153642","codigo_situacao":"2","data_nascimento":"1985-10-28","nome":"EDGAR  FABIANO LOPES","telefone":"","telefone_celular":"(37)9992-72536","email":""},{"codigo_associado":"69102","codigo_beneficiario":"154551","codigo_situacao":"2","data_nascimento":"2002-10-28","nome":"NYCOLAS RODRIGUES MORAIS","telefone":"","telefone_celular":"(62)9952-51842","email":""},{"codigo_associado":"71400","codigo_beneficiario":"156716","codigo_situacao":"2","data_nascimento":"2005-10-28","nome":"BRUNO TADEU PROTÁSIO","telefone":"","telefone_celular":"(37)9918-32810","email":""},{"codigo_associado":"76258","codigo_beneficiario":"161294","codigo_situacao":"2","data_nascimento":"1971-10-28","nome":"EZEQUIAS MARTINS DA SILVA","telefone":"(31)97336-0643","telefone_celular":"(31)97336-0643","email":"comercio-variado@hotmail.com"},{"codigo_associado":"78782","codigo_beneficiario":"163687","codigo_situacao":"2","data_nascimento":"1970-10-28","nome":"GILMAR JOSÉ DE LIMA","telefone":"","telefone_celular":"(83)9932-52608","email":"gilmarluan2018@gmail.com"},{"codigo_associado":"92196","codigo_beneficiario":"176909","codigo_situacao":"2","data_nascimento":"1985-10-28","nome":"NICHELY CANDIDO DA SILVA","telefone":"","telefone_celular":"(85)9974-92142","email":"nichellycandido99@gmail.com"},{"codigo_associado":"93335","codigo_beneficiario":"178038","codigo_situacao":"2","data_nascimento":"1998-10-28","nome":"CASSIO BATISTA DOS SANTOS","telefone":"","telefone_celular":"(62)9923-28830","email":""},{"codigo_associado":"99558","codigo_beneficiario":"184051","codigo_situacao":"2","data_nascimento":"1994-10-28","nome":"JULIO TADEU FONSECA PACHECO","telefone":"","telefone_celular":"(37)9919-16844","email":"juliotadeufp01@gmail.com"},{"codigo_associado":"102783","codigo_beneficiario":"187221","codigo_situacao":"2","data_nascimento":"1971-10-28","nome":"ROBERIO GONCALVES PORTO","telefone":"","telefone_celular":"(31)9720-1017","email":"."},{"codigo_associado":"1149","codigo_beneficiario":"1149","codigo_situacao":"4","data_nascimento":"1959-10-28","nome":"ONOFRE PEREIRA DE OLIVEIRA","telefone":"","telefone_celular":"(38)99943-1153","email":""},{"codigo_associado":"4226","codigo_beneficiario":"90891","codigo_situacao":"4","data_nascimento":"1944-10-28","nome":"MARIA DA CONCEICAO RIBEIRO","telefone":"","telefone_celular":"(31)98964-0441","email":"jessicaoasca4@gmail.com"},{"codigo_associado":"15409","codigo_beneficiario":"102074","codigo_situacao":"4","data_nascimento":"1972-10-28","nome":"SAULO ARAUJO REGIS","telefone":"(83)9130-1780","telefone_celular":"(83)99130-1780","email":"abelkaiomonteiro@outlook.com"},{"codigo_associado":"19042","codigo_beneficiario":"104967","codigo_situacao":"4","data_nascimento":"2002-10-28","nome":"CELSO JOSE DE LIMA FILHO","telefone":"","telefone_celular":"(62)9929-94237","email":"celsoj1755@gmail.com"},{"codigo_associado":"19243","codigo_beneficiario":"105168","codigo_situacao":"4","data_nascimento":"1975-10-28","nome":"FABIO ALVES COSTA","telefone":"(62)3299-2572","telefone_celular":"(62)99147-8530","email":"fabio.costa@gvt.com.br"},{"codigo_associado":"19784","codigo_beneficiario":"105707","codigo_situacao":"4","data_nascimento":"1984-10-28","nome":"FLAVIO DA SILVA SANTOS","telefone":"","telefone_celular":"(83)9865-60517","email":"flaviomaluquinho37@gmail.com"},{"codigo_associado":"20760","codigo_beneficiario":"106679","codigo_situacao":"4","data_nascimento":"1977-10-28","nome":"GILVAN PEREIRA DA SILVA","telefone":"","telefone_celular":"(83)9866-41021","email":"pgilvan497@gmail.com"},{"codigo_associado":"20959","codigo_beneficiario":"106876","codigo_situacao":"4","data_nascimento":"1998-10-28","nome":"DANILO LUCAS CARDOSO ROSA","telefone":"","telefone_celular":"(62)9925-30138","email":"danilolucas2898@gmail.com"},{"codigo_associado":"21936","codigo_beneficiario":"107854","codigo_situacao":"4","data_nascimento":"1973-10-28","nome":"DILSON MARQUES DE OLIVEIRA","telefone":"(99)9999-99999","telefone_celular":"(62)9991-81426","email":"dilsonmarques950@gmail.com"},{"codigo_associado":"22097","codigo_beneficiario":"108015","codigo_situacao":"4","data_nascimento":"1982-10-28","nome":"SUELMA SANTANA DE ASSIS","telefone":"","telefone_celular":"(62)9937-62582","email":"santanasu35@gmail.com"},{"codigo_associado":"22780","codigo_beneficiario":"108689","codigo_situacao":"4","data_nascimento":"1991-10-28","nome":"MARIANE PEREIRA SANTANA","telefone":"(83)9876-09028","telefone_celular":"(83)9863-08365","email":"mari_psantana91@hotmail.com"},{"codigo_associado":"24220","codigo_beneficiario":"110129","codigo_situacao":"4","data_nascimento":"1951-10-28","nome":"EURIPEDES MISAEL DOS SANTOS","telefone":"","telefone_celular":"(62)9913-72274","email":"euripedesmisael156@gmail.com"},{"codigo_associado":"24256","codigo_beneficiario":"110165","codigo_situacao":"4","data_nascimento":"1972-10-28","nome":"ILDEU DE SOUZA","telefone":"","telefone_celular":"(33)9914-45118","email":""},{"codigo_associado":"25138","codigo_beneficiario":"111047","codigo_situacao":"4","data_nascimento":"1989-10-28","nome":"AILTON SANTOS DE SEVILHA","telefone":"","telefone_celular":"(62)99258-7028","email":"ailtonsevilha@hotmail.com"},{"codigo_associado":"25321","codigo_beneficiario":"111230","codigo_situacao":"4","data_nascimento":"1987-10-28","nome":"JOHNATHAN MONTEZ GOMES ANDRADE DE MOURA","telefone":"(99)9999-99999","telefone_celular":"(62)9965-23800","email":"johnathanmontez@gmail.com"},{"codigo_associado":"25643","codigo_beneficiario":"111552","codigo_situacao":"4","data_nascimento":"1993-10-28","nome":"LEANDRO TADEU MURTA DOS REIS CHAGAS","telefone":"","telefone_celular":"(31)9979-42810","email":""},{"codigo_associado":"25718","codigo_beneficiario":"111627","codigo_situacao":"4","data_nascimento":"1994-10-28","nome":"SANDRO ANDRADE GONçALVES DA SILVA","telefone":"(99)999999999","telefone_celular":"(83)9935-06030","email":"sandroandrade035@gmail.com"},{"codigo_associado":"26019","codigo_beneficiario":"111928","codigo_situacao":"4","data_nascimento":"1996-10-28","nome":"RHAEL BARROS RIBEIRO","telefone":"","telefone_celular":"(75)9880-42730","email":""},{"codigo_associado":"29226","codigo_beneficiario":"115115","codigo_situacao":"4","data_nascimento":"1980-10-28","nome":"DENIVALDO EUZEBIO MARTINS","telefone":"","telefone_celular":"(27)9963-15263","email":"raphaparanagua31@gmail.com"},{"codigo_associado":"30400","codigo_beneficiario":"116289","codigo_situacao":"4","data_nascimento":"1976-10-28","nome":"ANDREIA BARROS DA SILVA","telefone":"","telefone_celular":"(62)9963-86306","email":"samuelsafera@gmail.com"},{"codigo_associado":"30847","codigo_beneficiario":"116736","codigo_situacao":"4","data_nascimento":"1971-10-28","nome":"ADENIR JOSÉ DE ALMEIDA","telefone":"","telefone_celular":"(62)98644-8280","email":""},{"codigo_associado":"31020","codigo_beneficiario":"116909","codigo_situacao":"4","data_nascimento":"1985-10-28","nome":"WARLEY MOURA DA SILVA","telefone":"","telefone_celular":"(64)9810-30960","email":"warleymourauber@gmail.com"},{"codigo_associado":"31972","codigo_beneficiario":"117862","codigo_situacao":"4","data_nascimento":"1975-10-28","nome":"SANDRA MARIA DOS SANTOS","telefone":"","telefone_celular":"(79)9917-94048","email":"sandrams.fardamentos@gmail.com"},{"codigo_associado":"32497","codigo_beneficiario":"118388","codigo_situacao":"4","data_nascimento":"1965-10-28","nome":"CESAR JOSé REINERT","telefone":"","telefone_celular":"(66)9840-36164","email":""},{"codigo_associado":"35669","codigo_beneficiario":"121562","codigo_situacao":"4","data_nascimento":"1976-10-28","nome":"SIMONE DE OLIVEIRA PINTO","telefone":"","telefone_celular":"(79)9812-57768","email":"simoneops22@gmail.com"},{"codigo_associado":"37772","codigo_beneficiario":"123665","codigo_situacao":"4","data_nascimento":"1996-10-28","nome":"JONAS LOPES HORTEGAL","telefone":"","telefone_celular":"(62)9968-05252","email":""},{"codigo_associado":"38181","codigo_beneficiario":"124074","codigo_situacao":"4","data_nascimento":"1984-10-28","nome":"WILLAN ARAGAO DA SILVA","telefone":"","telefone_celular":"(62)9950-91917","email":"aragaowillian@gmail.com"},{"codigo_associado":"39223","codigo_beneficiario":"125118","codigo_situacao":"4","data_nascimento":"1996-10-28","nome":"ADONIS MATHEUS SILVA SANTOS","telefone":"","telefone_celular":"(79)9814-69518","email":"adonisf5@gmail.com"},{"codigo_associado":"39366","codigo_beneficiario":"125261","codigo_situacao":"4","data_nascimento":"1986-10-28","nome":"LEANDRO SOUZA GAMA","telefone":"","telefone_celular":"(79)9964-68282","email":"leoluany@gmail.com"},{"codigo_associado":"40226","codigo_beneficiario":"126122","codigo_situacao":"4","data_nascimento":"1986-10-28","nome":"TIMóTEO LACERDA BARBOSA","telefone":"(61)9999-99999","telefone_celular":"(61)9856-09816","email":"timoteo.lacerda@gmail.com"},{"codigo_associado":"40687","codigo_beneficiario":"126583","codigo_situacao":"4","data_nascimento":"1969-10-28","nome":"ODAIR JOSE DE OLIVEIRA JUNIOR","telefone":"","telefone_celular":"(62)9980-20493","email":"jrmad7@hotmail.com"},{"codigo_associado":"40825","codigo_beneficiario":"126721","codigo_situacao":"4","data_nascimento":"1993-10-28","nome":"WEVERSON DE SOUZA PAJAU","telefone":"","telefone_celular":"(62)9998-45271","email":""},{"codigo_associado":"44051","codigo_beneficiario":"129956","codigo_situacao":"4","data_nascimento":"1987-10-28","nome":"CHRISTIANO XAVIER DE SOUZA","telefone":"","telefone_celular":"(37)9910-65321","email":"christianoskilo@gmail.com"},{"codigo_associado":"44070","codigo_beneficiario":"129975","codigo_situacao":"4","data_nascimento":"1993-10-28","nome":"HENRIQUE WIVERSON NOGUEIRA","telefone":"","telefone_celular":"(11)9738-55364","email":"henriquewiverson76@gmail.com"},{"codigo_associado":"46300","codigo_beneficiario":"132205","codigo_situacao":"4","data_nascimento":"1972-10-28","nome":"DANIEL ALEXANDRO SANTOS","telefone":"(99)999999999","telefone_celular":"(79)9964-46256","email":"daniel72alexsandro@gmail.com"},{"codigo_associado":"47492","codigo_beneficiario":"133394","codigo_situacao":"4","data_nascimento":"1996-10-28","nome":"LúCIO DE JESUS SILVA","telefone":"","telefone_celular":"(64)9995-54378","email":"luciojunior2810@gmail.com"},{"codigo_associado":"47950","codigo_beneficiario":"133852","codigo_situacao":"4","data_nascimento":"1979-10-28","nome":"HEITOR DE PAULO REINALDO ROSA","telefone":"","telefone_celular":"(64)9924-16419","email":""},{"codigo_associado":"48889","codigo_beneficiario":"134792","codigo_situacao":"4","data_nascimento":"1965-10-28","nome":"PAULO CESAR PIMENTA   DOS SANTOS","telefone":"","telefone_celular":"(37)9915-37737","email":""},{"codigo_associado":"50857","codigo_beneficiario":"136765","codigo_situacao":"4","data_nascimento":"2005-10-28","nome":"PABLO ALVES DE SOUSA","telefone":"","telefone_celular":"(62)9952-47669","email":"janabrendapablo@gmail.com"},{"codigo_associado":"51692","codigo_beneficiario":"137600","codigo_situacao":"4","data_nascimento":"1980-10-28","nome":"KLEBER DA COSTA LIMIRO","telefone":"(62)9849-17575","telefone_celular":"(62)9856-48098","email":"kleberdacosta171@gmail.com"},{"codigo_associado":"52464","codigo_beneficiario":"138370","codigo_situacao":"4","data_nascimento":"1993-10-28","nome":"KATYELLE LOURENÇO SILVA","telefone":"(62)9933-62171","telefone_celular":"(62)9933-62171","email":"katyelle-silva@hotmail.com"},{"codigo_associado":"52606","codigo_beneficiario":"138512","codigo_situacao":"4","data_nascimento":"1961-10-28","nome":"MARIA DE FÁTIMA OLIVEIRA BATISTA","telefone":"","telefone_celular":"(38)9846-56554","email":"dannaoliveira97@gmail.com"},{"codigo_associado":"54027","codigo_beneficiario":"139926","codigo_situacao":"4","data_nascimento":"2003-10-28","nome":"ALANNA LAHIENY DOURADO MONTEIRO","telefone":"","telefone_celular":"(62)9939-20778","email":"lanalahieny@gmail.com"},{"codigo_associado":"54801","codigo_beneficiario":"140693","codigo_situacao":"4","data_nascimento":"2000-10-28","nome":"PEDRO HENRIQUE SILVA MOREIRA","telefone":"","telefone_celular":"(85)9884-74313","email":""},{"codigo_associado":"55219","codigo_beneficiario":"141110","codigo_situacao":"4","data_nascimento":"1987-10-28","nome":"NIKOLAS ANDREAS BASTOS FUERTH","telefone":"","telefone_celular":"(62)9822-45910","email":"fuerth.higienizacao@gmail.com"},{"codigo_associado":"57051","codigo_beneficiario":"142934","codigo_situacao":"4","data_nascimento":"2003-10-28","nome":"FRANCISCO PEREIRA SILVA","telefone":"","telefone_celular":"(99)9883-44940","email":"franciscopereira44940@gmail.com"},{"codigo_associado":"59199","codigo_beneficiario":"145080","codigo_situacao":"4","data_nascimento":"1994-10-28","nome":"GABRIEL QUINTAO SANTOS","telefone":"","telefone_celular":"(31)9949-80413","email":"gabrielquintao28@gmail.co"},{"codigo_associado":"60067","codigo_beneficiario":"145930","codigo_situacao":"4","data_nascimento":"1964-10-28","nome":"CARLOS AUGUSTO  DE CASTRO COSTA","telefone":"","telefone_celular":"(79)9981-36849","email":"larissacasas96@gmail.com"},{"codigo_associado":"60328","codigo_beneficiario":"146172","codigo_situacao":"4","data_nascimento":"1995-10-28","nome":"VANESSA LIMA MENDES","telefone":"","telefone_celular":"(62)9910-49809","email":"vanessamendeslima69@gmail.com"},{"codigo_associado":"64695","codigo_beneficiario":"150327","codigo_situacao":"4","data_nascimento":"1990-10-28","nome":"FREDDERYKO RAPHAELL TAVARES XAVIER","telefone":"","telefone_celular":"(62)9812-19079","email":""},{"codigo_associado":"64805","codigo_beneficiario":"150433","codigo_situacao":"4","data_nascimento":"1983-10-28","nome":"JAILSON ALVES FEITOSA","telefone":"","telefone_celular":"(75)9815-38595","email":"jailson.alvesfeitosa2023@gmail.com"},{"codigo_associado":"65363","codigo_beneficiario":"150961","codigo_situacao":"4","data_nascimento":"1995-10-28","nome":"ANTÔNIO JOSÉ DA SILVA GOMES","telefone":"","telefone_celular":"(62)9842-29077","email":""},{"codigo_associado":"65692","codigo_beneficiario":"151273","codigo_situacao":"4","data_nascimento":"2006-10-28","nome":"NAYRO GABRIEL PINTO SAMPAIO","telefone":"","telefone_celular":"(82)9969-71464","email":"nayrosampaio8@gmail.com"},{"codigo_associado":"66793","codigo_beneficiario":"152322","codigo_situacao":"4","data_nascimento":"1975-10-28","nome":"RAIMUNDO NONATO DE ARAUJO","telefone":"(88)9978-26532","telefone_celular":"(85)9853-16547","email":"raimundo1218@hotmail.com"},{"codigo_associado":"68840","codigo_beneficiario":"154302","codigo_situacao":"4","data_nascimento":"1985-10-28","nome":"WAYSTER MORAES DA SILVA","telefone":"","telefone_celular":"(62)9934-35878","email":""},{"codigo_associado":"69633","codigo_beneficiario":"155062","codigo_situacao":"4","data_nascimento":"1972-10-28","nome":"CLODOALDO GOMES DE MOURA","telefone":"","telefone_celular":"(79)9980-12768","email":"eduardomoura19976@gmail.com"},{"codigo_associado":"69913","codigo_beneficiario":"155333","codigo_situacao":"4","data_nascimento":"1988-10-28","nome":"NAYARA PATRÍCIA MEDEIROS","telefone":"","telefone_celular":"(82)9817-50000","email":"naymedeiros.ideal@gmail.com"},{"codigo_associado":"70192","codigo_beneficiario":"155594","codigo_situacao":"4","data_nascimento":"2002-10-28","nome":"MANUEL ALEJANDRO HENAO ECHAVARRIA","telefone":"","telefone_celular":"(82)9871-52797","email":""},{"codigo_associado":"71973","codigo_beneficiario":"157240","codigo_situacao":"4","data_nascimento":"1993-10-28","nome":"ANDERSON DOS SANTOS","telefone":"","telefone_celular":"(79)9962-86051","email":"andersonblack023@gmail.com"},{"codigo_associado":"72751","codigo_beneficiario":"157962","codigo_situacao":"4","data_nascimento":"1984-10-28","nome":"ROBERTA RAFAELA SILVA DE ANTONIO","telefone":"","telefone_celular":"(17)9967-53790","email":"robertaraffaela@hotmail.com"},{"codigo_associado":"74136","codigo_beneficiario":"159235","codigo_situacao":"4","data_nascimento":"1975-10-28","nome":"ADEILTON JOSÉ DOS SANTOS","telefone":"","telefone_celular":"(79)9913-69447","email":"adeniltonkiko0@gmail.com"},{"codigo_associado":"74818","codigo_beneficiario":"159889","codigo_situacao":"4","data_nascimento":"1985-10-28","nome":"JEAN CARLOS DOURADO MAGALHÃES","telefone":"","telefone_celular":"(62)9910-72681","email":"jcdmasasdeaguia@outlook.com"},{"codigo_associado":"74982","codigo_beneficiario":"160041","codigo_situacao":"4","data_nascimento":"1987-10-28","nome":"ANDERSON DE OLIVEIRA","telefone":"","telefone_celular":"(82)9943-50732","email":"andinhooal2525@gmail.com"},{"codigo_associado":"75415","codigo_beneficiario":"160444","codigo_situacao":"4","data_nascimento":"1992-10-28","nome":"PAULO HENRIQUE FELÍCIO DA SILVA","telefone":"","telefone_celular":"(64)9923-59585","email":""},{"codigo_associado":"76492","codigo_beneficiario":"161509","codigo_situacao":"4","data_nascimento":"1998-10-28","nome":"VITÓRIO AUGUSTO FERREIRA DE H C GONCALVES","telefone":"","telefone_celular":"(71)9961-69702","email":"vitorio_augusto2810@hotmail.com"},{"codigo_associado":"77033","codigo_beneficiario":"162030","codigo_situacao":"4","data_nascimento":"1990-10-28","nome":"DIOGO JUCA","telefone":"","telefone_celular":"(62)9831-20353","email":"diogojucajuca@gmail.com"},{"codigo_associado":"77276","codigo_beneficiario":"162263","codigo_situacao":"4","data_nascimento":"1986-10-28","nome":"IZAIAS DE OLIVEIRA SILVA","telefone":"","telefone_celular":"(62)9985-47261","email":""},{"codigo_associado":"82617","codigo_beneficiario":"167402","codigo_situacao":"4","data_nascimento":"1979-10-28","nome":"HUGO ALEXANDRE DE PAULA TASINAFO","telefone":"","telefone_celular":"(64)9966-10757","email":"tasinafo.hugo@gmail.com"},{"codigo_associado":"82801","codigo_beneficiario":"167584","codigo_situacao":"4","data_nascimento":"1996-10-28","nome":"JEFFERSON MILLER DE ANDRADE","telefone":"","telefone_celular":"(31)9876-38555","email":"jeffersonmiller2810@gmail.com"},{"codigo_associado":"82902","codigo_beneficiario":"167683","codigo_situacao":"4","data_nascimento":"1982-10-28","nome":"UBIRAJARA FELIPE DA SILVA","telefone":"","telefone_celular":"(82)9910-56011","email":"ubirajarafelipe123@gmail.com"},{"codigo_associado":"84570","codigo_beneficiario":"169318","codigo_situacao":"4","data_nascimento":"2002-10-28","nome":"ANA CLARA SANTANA DA FONSECA","telefone":"","telefone_celular":"(31)9981-66539","email":"aninha123.azaz@gmail.com"},{"codigo_associado":"91136","codigo_beneficiario":"175853","codigo_situacao":"4","data_nascimento":"2005-10-28","nome":"ISABELLY BARRETO DE OLIVEIRA LIMA","telefone":"","telefone_celular":"(79)9965-32636","email":"isabellybarreto968@gmail.com"},{"codigo_associado":"92545","codigo_beneficiario":"177254","codigo_situacao":"4","data_nascimento":"1990-10-28","nome":"REGES SOARES CORDEIRO","telefone":"","telefone_celular":"(63)9844-48331","email":"reges_soares@hotmail.com"},{"codigo_associado":"94636","codigo_beneficiario":"179325","codigo_situacao":"4","data_nascimento":"1983-10-28","nome":"RENATO CARVALHO DE SOUZA","telefone":"","telefone_celular":"(63)9850-37405","email":"@renatocarvalho019@gmail.com"},{"codigo_associado":"96177","codigo_beneficiario":"180842","codigo_situacao":"4","data_nascimento":"1984-10-28","nome":"ADILSON ALVES SANTOS JÚNIOR","telefone":"","telefone_celular":"(79)9984-41984","email":""},{"codigo_associado":"99346","codigo_beneficiario":"183842","codigo_situacao":"4","data_nascimento":"1997-10-28","nome":"NOAH FERREIRA DA SILVA","telefone":"","telefone_celular":"(27)9926-93638","email":"j.castellamare1@gmail.com"},{"codigo_associado":"99393","codigo_beneficiario":"183889","codigo_situacao":"4","data_nascimento":"1997-10-28","nome":"KELVEN","telefone":"","telefone_celular":"(62)9933-28636","email":"kdemoraislaranjeira@gmail.com"},{"codigo_associado":"99649","codigo_beneficiario":"184140","codigo_situacao":"4","data_nascimento":"1995-10-28","nome":"RUAN GARCIA FASSINE DUARTE","telefone":"","telefone_celular":"(85)9965-97611","email":"ruanfduarte@gmail.com"},{"codigo_associado":"100586","codigo_beneficiario":"185061","codigo_situacao":"4","data_nascimento":"1999-10-28","nome":"TAFNES RODRIGUES DE OLIVEIRA","telefone":"","telefone_celular":"(64)9920-67699","email":"tafnesrodrigues25@gmail.com"},{"codigo_associado":"100878","codigo_beneficiario":"185338","codigo_situacao":"4","data_nascimento":"1992-10-28","nome":"CRISLAINE DE FREITAS CARLOS DA SILVA","telefone":"","telefone_celular":"(79)9993-29167","email":"professoracrislainesilva@gmail.com"},{"codigo_associado":"102058","codigo_beneficiario":"186506","codigo_situacao":"4","data_nascimento":"1999-10-28","nome":"JULIA LIMA BOAVENTURA","telefone":"","telefone_celular":"(38)9992-59526","email":""},{"codigo_associado":"102144","codigo_beneficiario":"186591","codigo_situacao":"4","data_nascimento":"1987-10-28","nome":"RENAN DE OLIVEIRA PASSOS","telefone":"","telefone_celular":"(37)9884-99299","email":"renanzinhooliveira30@gmail.com"},{"codigo_associado":"102947","codigo_beneficiario":"187381","codigo_situacao":"4","data_nascimento":"1973-10-28","nome":"LUIZ CLÁUDIO REZENDE DE AZEVEDO","telefone":"","telefone_celular":"(63)9840-68516","email":"alineac2@hotmail.com"},{"codigo_associado":"87380","codigo_beneficiario":"172110","codigo_situacao":"2","data_nascimento":"1979-10-28","nome":"ISRAEL DE LIM","telefone":"(34)99678-3954","telefone_celular":"(62)99961-9725","email":"isisrajo@hotmail.com"},{"codigo_associado":"89678","codigo_beneficiario":"173430","codigo_situacao":"2","data_nascimento":"1975-10-28","nome":"IVANIO FELIX FEITOZA","telefone":"(21)98469-9270","telefone_celular":"(21)98404-9542","email":"feitozaalessandra2@gmail.com"},{"codigo_associado":"90075","codigo_beneficiario":"173792","codigo_situacao":"2","data_nascimento":"1955-10-28","nome":"JOSE MARIA DA SILVA","telefone":"(35)99951-7341","telefone_celular":"(35)99951-7341","email":"contabilidadejem@bol.com.br"},{"codigo_associado":"86320","codigo_beneficiario":"171056","codigo_situacao":"2","data_nascimento":"1994-10-28","nome":"DENISE DE SOUZA DEVES","telefone":"(55)99628-8298","telefone_celular":"(55)9962-88298","email":"de_vees@hotmail.com"},{"codigo_associado":"86628","codigo_beneficiario":"171363","codigo_situacao":"2","data_nascimento":"1998-10-28","nome":"EDUARDO APARECIDO DE SOUZA","telefone":"(44)98828-5603","telefone_celular":"(44)8828-5603","email":"eduardosz878@gmail.com"},{"codigo_associado":"87657","codigo_beneficiario":"172381","codigo_situacao":"2","data_nascimento":"1990-10-28","nome":"ELIAS MIZAEL DOS SANTOS","telefone":"(41)99980-9908","telefone_celular":"(41)99980-9908","email":"elias.mizael@gmail.com"},{"codigo_associado":"88204","codigo_beneficiario":"173841","codigo_situacao":"2","data_nascimento":"1982-10-28","nome":"ERINALDO RAMOS","telefone":"(41)03621-6369","telefone_celular":"(41)996623289","email":"erinaldo_ramos@hotmail.com"},{"codigo_associado":"87989","codigo_beneficiario":"172695","codigo_situacao":"2","data_nascimento":"1991-10-28","nome":"CLEITON DOMINGUES","telefone":"(49)3561-3141","telefone_celular":"(49)98835-6873","email":"kekinho.domingues@gmail.com"}],"headers":{"date":"Tue, 28 Oct 2025 17:11:48 GMT","content-type":"application/json","transfer-encoding":"chunked","connection":"close","server":"nginx/1.22.1"},"statusCode":200,"statusMessage":"OK"}}]},"versionId":"49e10689-ecea-430f-b7c5-fe48ba5d6015","triggerCount":1,"shared":[{"createdAt":"2025-08-13T13:23:23.775Z","updatedAt":"2025-08-13T13:23:23.775Z","role":"workflow:owner","workflowId":"KCnRnVUKZAdJz3fo","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-28T19:46:08.309Z","updatedAt":"2025-09-28T19:46:08.309Z","id":"twNBrzFgyMQjyPj3","name":"EVO ZAP.TOP.COR"}]}