tmr_popula_erp_cor_emp_regional-DoF2fD573jx9zzRR.json
{"createdAt":"2025-11-07T18:32:46.749Z","updatedAt":"2025-11-09T00:33:57.011Z","id":"DoF2fD573jx9zzRR","name":"TMR_POPULA_ERP_COR_EMP_REGIONAL","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,544],"id":"cbed960c-42ba-4783-94df-d136ed8624d8","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,144],"id":"a6d5501a-a559-4df4-bf26-4d6ec4c4ccb2","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,144],"id":"0ecee75c-1cd4-4a76-ad7b-e9b57bd4f6ce","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,144],"id":"8afe7261-6c4f-4320-8d4b-d19d436f094e","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"77598c1f-7eef-49bb-9cf7-cd55747861d5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,144],"id":"2027f57c-f785-4416-b244-553208b54f90","name":"Webhook","webhookId":"77598c1f-7eef-49bb-9cf7-cd55747861d5","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,336],"id":"57e420b3-0e2e-4dc7-8896-fb8d08d77257","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,352],"id":"25dfaf96-6e33-4f01-9444-a3ff53110c25","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"75a1b279-cc03-48e4-8a18-8953976c3443","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"e3f2662b-2873-4c1c-a6f6-c4ae428e7ee7","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"de0a2362-8f06-45a8-a2ea-22da6fbdbdfa","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPI').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPI').item.json.numero_paginas - 1 - i) * 2999)\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"6c64b43c-0875-4530-b073-87a2e20f427c","name":"dadosLoop","notes":"{{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i * 2999})) }}\n"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"=1","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,352],"id":"a373cf05-1d41-4aef-81f7-d602c47c5af9","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,352],"id":"60aee204-3ebe-4edc-81f4-d5d428689bc5","name":"loopPaginas","alwaysOutputData":false},{"parameters":{"errorMessage":"EXECUTADO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[720,144],"id":"8d393ad4-b36b-4c94-8cb7-88e20d9181bb","name":"Stop and Error1"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,352],"id":"f96e5235-fe44-4500-b879-1338a289f5db","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/regional/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"situacao\": \"todos\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"ae2c93cf-26a0-4faf-9497-05176c486547","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"disabled":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT\n    ROW_NUMBER() OVER () AS rn,                -- 🔢 numera cada registro\n    COALESCE(NULLIF(nome, ''), nome_fantasia) AS nome,\n    nome_fantasia,\n    regexp_replace(cnpj, '[^0-9]', '', 'g') AS cnpj,\n    logradouro,\n    numero,\n    complemento,\n    bairro,\n    cidade,\n    estado,\n    cep,\n    email,\n    website,\n    telefone,\n    situacao,\n    codigo_regional\n  FROM json_to_recordset($1::json) AS x(\n    nome text,\n    nome_fantasia text,\n    cnpj text,\n    logradouro text,\n    numero text,\n    complemento text,\n    bairro text,\n    cidade text,\n    estado text,\n    cep text,\n    email text,\n    website text,\n    telefone text,\n    situacao text,\n    codigo_regional text\n  )\n),\n\n-- 🧩 Etapa 1: Insere cada registro em cor_pessoa com numeração\npessoa_insert AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    email_pessoa,\n    cod_regional_sga\n  )\n  SELECT\n    d.nome,\n    d.cnpj,\n    'JURÍDICA',\n    regexp_replace(d.telefone, '[^0-9]', '', 'g'),\n    d.email,\n    NULLIF(d.codigo_regional, '')::bigint\n  FROM dados d\n  RETURNING id_pessoa\n),\n\n-- 🧩 Etapa 2: associa cada id_pessoa ao mesmo índice do JSON (1:1)\npessoa_com_rn AS (\n  SELECT\n    p.id_pessoa,\n    ROW_NUMBER() OVER () AS rn\n  FROM pessoa_insert p\n),\n\n-- 🧩 Etapa 3: Insere um registro correspondente em cor_empresa (vínculo direto)\nempresa_insert AS (\n  INSERT INTO public.cor_empresa (\n    id_pessoa,\n    url_logo,\n    dom_tpo_empresa,\n    dom_sit_empresa,\n    cod_empresa\n  )\n  SELECT\n    pr.id_pessoa,\n    NULL AS url_logo,\n    'Regional' AS dom_tpo_empresa,\n    'ATIVO' AS dom_sit_empresa,\n    NULLIF(d.codigo_regional, '')::bigint AS cod_empresa\n  FROM dados d\n  JOIN pessoa_com_rn pr ON pr.rn = d.rn\n  RETURNING id_empresa, id_pessoa, cod_empresa\n)\n\nSELECT '✅ Inseridos com sucesso' AS status,\n       COUNT(*) AS total_registros,\n       MIN(id_empresa) AS primeiro_id,\n       MAX(id_empresa) AS ultimo_id\nFROM empresa_insert;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDados').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"1199bcea-5bb6-4a70-b289-6504273e08f5","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/regional/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"situacao\": \"todos\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"4189fa20-362c-4a83-b0e3-6bc389c117cb","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"continueOnFail":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"buscaDados","type":"main","index":0}]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaPessoa","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"gravaPessoa":{"main":[[]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9fcc5bd9-b9ba-48e4-934b-714709c79de3","triggerCount":2,"shared":[{"createdAt":"2025-11-07T18:32:46.749Z","updatedAt":"2025-11-07T18:32:46.749Z","role":"workflow:owner","workflowId":"DoF2fD573jx9zzRR","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}