tmr_msg_inadimplentes_cnstr_top_bd_erp-aHq5z0xTE5oDTrpN.json
{"createdAt":"2025-11-27T19:20:20.405Z","updatedAt":"2025-11-27T19:20:20.405Z","id":"aHq5z0xTE5oDTrpN","name":"TMR_MSG_INADIMPLENTES_CNSTR_TOP_BD_ERP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-832,560],"id":"c696f502-2012-40dc-92f5-ab9c3d29e90c","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"25 11 * * 1-5"}]}},"id":"1b975860-4be5-44f9-aa89-08408a2a116d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-832,336]},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,1184],"id":"b52cef19-f1e4-48ae-9e89-c7f6ff8c82ff","name":"buscaVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,448],"id":"7acbea2b-4f17-453c-b07f-bf9b67eb503d","name":"boletos"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"mensagem\": \"{{$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' +55' \n    + $('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' ' \n    + $('loopBoletos').item.json.boletos.veiculos[0].placa \n    + ' '\n    + $('loopBoletos').item.json.boletos.data_vencimento_original.toDateTime().format('dd/MM/yyyy')\n    + ' Link PDF boleto: ' \n    +  $('loopBoletos').item.json.boletos.link_boleto  \n    + ' Link para enviar direto para o associado: ' \n    + $('reduzURL').item.json.data  + ' | '\n  }}\"\n}\n","options":{}},"id":"4a21c505-c12b-47a5-b1c2-1bdef933d580","name":"agrupaBoletos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,1184],"notes":"{\n  \"mensagem\": \"{{ \n    $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('boletos').item.json.boletos.veiculos[0].placa \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data \n    + '\\\\nCódigo de Barras: `' \n    + $('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('') \n    + '`\\\\nLink Boleto PDF: ' \n    + $('buscaBoleto').item.json.body.short_link \n  }}\"\n}\n"},{"parameters":{"url":"https://is.gd/create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"simple"},{"name":"url","value":"={{ $('mensagemBoleto').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,1184],"id":"769c98c6-b592-4546-8561-2bd7ba1aee9d","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"13df660e-7b6f-48d4-8306-727900c422cf","name":"mensagem","value":"={{\n'https://wa.me/55'+ \n$('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, caso ainda não tenha recebido o boleto da TOP Brasil, segue o link de pagamento para a placa ${$('loopBoletos').item.json.boletos.veiculos[0].placa}. É só clicar no link abaixo para abrir o boleto ${$('loopBoletos').item.json.boletos.link_boleto}`)\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,1184],"id":"4fd40479-9f77-4018-91a1-0928084fc438","name":"mensagemBoleto"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1312,448],"id":"35e31690-6c64-490f-911f-dc885b377cf6","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"8c001f35-b953-4ac9-af5f-b43ac2aa8020"}],"combinator":"and"},"renameOutput":true,"outputKey":"existeVoluntario"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,1184],"id":"fd367fce-eb3b-44bc-9e56-c9f5928c4b3b","name":"existeVoluntario"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1696,448],"id":"cdde675c-fa1d-4b07-a64d-27c5ea1777a5","name":"Sort","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-672,1184],"id":"18b3634f-c100-4831-8035-32398e8a585f","name":"loopBoletos"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,256],"id":"93d04cdd-6e78-4589-9b9a-7a423717f336","name":"Redis","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c0e522f-f5aa-4d3c-ba53-d5a1f4aa92d0","leftValue":"={{ $json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c91d0261-ba32-4f18-8bf6-053959c6ebf4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO FINANCEIRO","operator":{"type":"string","operation":"notEquals"}},{"id":"76c689fb-41eb-4cd6-a029-71bb6b741911","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO JURÍDICO EXTRAJUDICIAL","operator":{"type":"string","operation":"notEquals"}},{"id":"6a712374-d06b-416c-b69f-d15b7b10937b","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ADESÃO","operator":{"type":"string","operation":"notEquals"}},{"id":"45d04159-5580-4720-b128-105ac7afde03","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"MONITORAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"e59b2535-427f-44fa-86b5-c52bc261ebc4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"DESINSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"8cb612d1-c614-42d6-b58e-c8c4e3ad6b5f","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"INSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1872,448],"id":"bb5072b6-c572-488c-927b-340547159403","name":"Filter","onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"codigo_voluntario","key":"=codigo_voluntario","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-256,1184],"id":"c2c91359-1e09-4661-8f78-b9516a2abb4c","name":"voluntarioAnterior","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"set","key":"codigo_voluntario","value":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1408,1408],"id":"76451fd0-5af9-42df-bd1a-3f92070efd50","name":"voluntarioAtual","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('buscaVoluntario1').item.json.codigo_voluntario }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-464,1408],"id":"7438f30f-63f9-4c24-aced-5ea67dc19519","name":"buscaMensagensConsultor","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","messageData":"={{ $json.mensagem }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,1184],"id":"1360b083-24f7-4cb2-9edb-723c65108eb1","name":"gravaListaMensagensCons","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"4313fc77-d416-45bf-a82d-b646efdfe3b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRIMEIRO REGISTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c5f6b705-7dca-4e15-86a6-273c19ff2907","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. IGUAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"94724df6-74b8-4f98-932e-c4949d22a82b","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. DIFERENTE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,1168],"id":"230d9e74-931c-42b4-afe3-12d9d53ef705","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Primeiro Registro\\n'+\n$('loopBoletos').params.batchSize + '\\n' +\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1616,992],"id":"ff7ff75d-7c55-407b-b4d9-4bdd0986703c","name":"Enviar texto2","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Anterior = Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1616,1184],"id":"8f721442-2b16-4e9d-ac95-e426d0cd82c1","name":"Enviar texto3","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Anterior <> Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-48,1408],"id":"e457751e-b528-4fe0-acc7-df364ae19e7c","name":"Enviar texto4","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,1408],"id":"6bf008bb-8746-4688-bf3b-c995f778fa95","name":"buscaVoluntario1","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"keys","keyPattern":"*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[368,240],"id":"937f1d6e-05d1-4fb2-aea3-9b27c73f7fca","name":"Redis1","alwaysOutputData":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,240],"id":"d62e338f-cafe-4e10-956c-097be4b40eec","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,240],"id":"a1d8ab14-124b-4907-b013-6c686bcf6706","name":"Split Out"},{"parameters":{},"name":"Start Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,448],"id":"5af97178-f519-4b01-9a7d-ad2540feac8b"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment","type":"n8n-nodes-base.set","typeVersion":1,"position":[560,448],"id":"f7780bc3-b929-4e41-8b1b-13e90bbabc28"},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[112,448],"id":"12b0156c-8d42-48b1-b401-a06c67dae217"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment').item.json[\"counter\"] }}","value2":2}]}},"name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[560,640],"id":"2ce1e3ed-7b4c-4c53-b371-6e6240d42c03"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,448],"id":"a94e58f1-cffc-4d08-a3df-7a4acc2b8e1d","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,448],"id":"65580761-f716-44eb-b061-d75aae1e7443","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[112,240],"id":"2fa6050e-0844-4b12-9836-06f2b5451bf4","name":"Execute Workflow1","executeOnce":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/boleto/1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}},"timeout":1200000}},"id":"4e0aaac9-889e-4a82-96ff-2e62c616c033","name":"buscaBoletoTemp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,448],"continueOnFail":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-448,448],"id":"2c09fcb5-360d-450c-97be-bb87e5983b20","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"data_vencimento_final\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"codigo_situacao\": 2,\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":2000000}},"id":"b029a278-7586-401b-9f24-f218aadadcb2","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,448],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $json.counter - 1 }}","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,448],"id":"49be9347-5d13-44a1-aba8-20e62d647de5","name":"dadosPagina"},{"parameters":{"operation":"push","list":"boletos","messageData":"={{ JSON.stringify ($json.boletos) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,448],"id":"6dd1623d-8f72-4344-8b81-cd4ffa0a8e48","name":"Redis2","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"amount":10,"path":"bb7a237f-83e1-4e4b-a76a-de955ab5b928"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,448],"id":"355929c5-1059-4847-9f90-fc921f4ff1d2","name":"Wait","webhookId":"bb7a237f-83e1-4e4b-a76a-de955ab5b928","disabled":true},{"parameters":{"operation":"get","propertyName":"boletos","key":"=boletos","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-672,800],"id":"0f32fe48-35f8-4024-b8ce-d00c899de9c4","name":"buscaBoletos","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"fieldToSplitOut":"boletos","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-464,800],"id":"ffa29fe4-291f-4a13-a571-2bce9f8dd7fc","name":"Split Out1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-464,1184],"id":"14563ed9-890f-4c85-8286-4eee40fb608a","name":"No Operation, do nothing2"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-464,992],"id":"7a354d52-3bf3-4f6e-9541-271f0c81d01d","name":"Sort1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9b53308c-9644-4512-b6a5-5979e8a01fa6","name":"boletos","value":"={{ $json.boletos }}","type":"object"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,992],"id":"13dc788c-2785-414a-b7ec-9042d766288b","name":"setBoletos"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,816],"id":"a1783d86-7e30-4cb5-9775-d97d2a3de2be","name":"boletos1"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1312,816],"id":"03997653-3d92-41b6-a3e0-904037aa02ee","name":"splitBoletos1","alwaysOutputData":true},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1696,816],"id":"20ff0ac8-3247-4a7c-9562-7958402f4006","name":"Sort2","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c0e522f-f5aa-4d3c-ba53-d5a1f4aa92d0","leftValue":"={{ $json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c91d0261-ba32-4f18-8bf6-053959c6ebf4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO FINANCEIRO","operator":{"type":"string","operation":"notEquals"}},{"id":"76c689fb-41eb-4cd6-a029-71bb6b741911","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO JURÍDICO EXTRAJUDICIAL","operator":{"type":"string","operation":"notEquals"}},{"id":"6a712374-d06b-416c-b69f-d15b7b10937b","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ADESÃO","operator":{"type":"string","operation":"notEquals"}},{"id":"45d04159-5580-4720-b128-105ac7afde03","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"MONITORAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"e59b2535-427f-44fa-86b5-c52bc261ebc4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"DESINSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"8cb612d1-c614-42d6-b58e-c8c4e3ad6b5f","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"INSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"25fa4e0f-86de-4710-8ff8-937b280d5ef1","leftValue":"={{ $json.boletos.veiculos[0].codigo_cooperativa }}","rightValue":"39","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1872,816],"id":"0b2b7010-2788-454b-bf7f-f6bbacaa7c5e","name":"Filter1","onError":"continueRegularOutput"},{"parameters":{"operation":"push","list":"boletos","messageData":"={{ JSON.stringify ($json.boletos) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,816],"id":"78f9edaf-ba95-46cc-baad-588bedfaa89a","name":"Redis3","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"amount":10,"path":"b1192bfa-cdfb-4548-abec-27e0376b7d24"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,816],"id":"7e31c272-2355-4f81-b886-0738671a6f9f","name":"Wait1","webhookId":"b1192bfa-cdfb-4548-abec-27e0376b7d24","disabled":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 6); // começa 6 dia após o vencimento\n\n    // enquanto for segunda (1), retrocede + 9 dias\n    while (d.getDay() === 1) {\n      d.setDate(d.getDate() - 8);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"data_vencimento_final\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 6); // começa 6 dia após o vencimento\n\n    // enquanto for segunda (1), retrocede + 2 dias\n    while (d.getDay() === 1) {\n      d.setDate(d.getDate() - 8);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"codigo_situacao\": 2,\n  \"codigo_regional\": [229],\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":2000000}},"id":"134d3e20-1c2a-445c-a2fa-925392b844d4","name":"buscaBoletosTOPCO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,816],"continueOnFail":true},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter1","type":"n8n-nodes-base.set","typeVersion":1,"position":[112,816],"id":"0d495fd3-1ebf-4ed6-bdc9-602286403eaa"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop1\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment1","type":"n8n-nodes-base.set","typeVersion":1,"position":[560,816],"id":"5188388f-2428-4af5-9524-bfc754190019"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment1').item.json[\"counter\"] }}","value2":2}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[560,1008],"id":"4b44bad8-dec9-406a-ac73-8a561bb82e85"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $json.counter - 1 }}","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,816],"id":"1f404aca-68eb-424d-9248-3bea0daa5a0d","name":"dadosPaginaCO"},{"parameters":{},"name":"Start Loop1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,816],"id":"60218ba5-f132-437d-a476-3553dfc55882"},{"parameters":{"resource":"messages-api","instanceName":"evo.top.com","remoteJid":"=55{{$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}","messageText":"={{\n' 🤖 - Olá, ' + $('buscaVoluntario1').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + '\\n' + \n'Estou lhe encaminhando os seus associados inadimplentes'+'.\\n' +\n'Dentro do link você consegue ter acesso a segunda via do boleto ou através do site da TOP. Caso o associado já tenha efetuado o pagamento, peço que solicite ao mesmo que aguarde pois o novo banco leva 48h úteis para atualizar em nossos sistemas e aplicativos.\\n\\n' +\n$json.mensagens.join('\\n')\n}}\n","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-992,1168],"id":"74911bb1-9baa-4215-a967-0800b7b96934","name":"enviaMsgConsultor","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":3,"path":"6b9c58f1-f657-45b7-a299-ee15ae5d15fe"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1616,1408],"id":"8646405c-9754-40db-8668-de84a288b710","name":"Wait2","webhookId":"6b9c58f1-f657-45b7-a299-ee15ae5d15fe"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{'55'+$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}\", \n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"consultor_inadimp_link\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$('buscaVoluntario1').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}} |\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.mensagens.join(' ').replace(/[\\r\\n]+/g, '\\n')\n    .replace(/[\"'\\\\]/g, '')\n    .replace(/[^\\x20-\\x7EÀ-ÿ\\n]/g, '') }}\" }\n        ]\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,1408],"id":"255ed1d3-30fc-4e30-b769-e7a2de34939c","name":"mkt_inadimplente_consultor","onError":"continueRegularOutput","notes":"=55{{$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"553192240123\", \n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"consultor_inadimp_link\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"Moises Dos Santos De Santana\" },\n          { \"type\": \"text\", \"text\": \"Erick Henrique Santana Da Silva +5579981182160 QMJ6I78 21/11/2025 Link PDF boleto: https://short.hinova.com.br/v2/Dwy1fpVG.pdf Link para enviar direto para o associado: https://is.gd/79V0e6\" }\n        ]\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,944],"id":"50d7f27b-0955-4afb-a6bf-9773abbc4446","name":"mkt_inadimplente_consultor1","onError":"continueRegularOutput","notes":"55{{$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"buscaBoletos","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"buscaVoluntario":{"main":[[{"node":"existeVoluntario","type":"main","index":0}]]},"boletos":{"main":[[{"node":"Sort","type":"main","index":0}]]},"agrupaBoletos":{"main":[[{"node":"gravaListaMensagensCons","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"agrupaBoletos","type":"main","index":0}]]},"mensagemBoleto":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"boletos","type":"main","index":0}]]},"existeVoluntario":{"main":[[{"node":"mensagemBoleto","type":"main","index":0}],[]]},"Sort":{"main":[[{"node":"Filter","type":"main","index":0}]]},"loopBoletos":{"main":[[],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"voluntarioAnterior":{"main":[[{"node":"buscaVoluntario","type":"main","index":0}]]},"voluntarioAtual":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"buscaMensagensConsultor":{"main":[[{"node":"mkt_inadimplente_consultor","type":"main","index":0}]]},"gravaListaMensagensCons":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Enviar texto3","type":"main","index":0}],[{"node":"buscaVoluntario1","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"Enviar texto4":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"buscaVoluntario1":{"main":[[{"node":"buscaMensagensConsultor","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Redis","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Start Loop":{"main":[[{"node":"Increment","type":"main","index":0}]]},"Increment":{"main":[[{"node":"IF5","type":"main","index":0},{"node":"dadosPagina","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"Redis1","type":"main","index":0},{"node":"Start Loop","type":"main","index":0},{"node":"Init Counter1","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Start Loop","type":"main","index":0}],[]]},"No Operation, do nothing1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0},{"node":"buscaBoletos","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Init Counter","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaBoletoTemp":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaBoletoTemp","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"splitBoletos","type":"main","index":0}]]},"dadosPagina":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"Redis2":{"main":[[]]},"buscaBoletos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"setBoletos","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"voluntarioAnterior","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"setBoletos":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"boletos1":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"splitBoletos1":{"main":[[{"node":"boletos1","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscaBoletosTOPCO","type":"main","index":0}]]},"buscaBoletosTOPCO":{"main":[[{"node":"splitBoletos1","type":"main","index":0}]]},"Redis3":{"main":[[]]},"Increment1":{"main":[[{"node":"IF","type":"main","index":0},{"node":"dadosPaginaCO","type":"main","index":0}]]},"IF":{"main":[[{"node":"Start Loop1","type":"main","index":0}]]},"Init Counter1":{"main":[[{"node":"Start Loop1","type":"main","index":0}]]},"dadosPaginaCO":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Start Loop1":{"main":[[{"node":"Increment1","type":"main","index":0}]]},"enviaMsgConsultor":{"main":[[]]},"Wait2":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"mkt_inadimplente_consultor":{"main":[[{"node":"Enviar texto4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53268832-99e0-4782-9eeb-9b19767b480e","triggerCount":1,"shared":[{"createdAt":"2025-11-27T19:20:20.405Z","updatedAt":"2025-11-27T19:20:20.405Z","role":"workflow:owner","workflowId":"aHq5z0xTE5oDTrpN","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-11-27T19:20:14.981Z","updatedAt":"2025-11-27T19:20:14.981Z","id":"G1PiCFR214hWj5Im","name":"BDERP"}]}