tmr_popula_erp_cor_associados_atv-SrkGtBaU5fnafDvd.json
{"createdAt":"2025-11-03T18:39:21.592Z","updatedAt":"2025-11-09T01:34:21.202Z","id":"SrkGtBaU5fnafDvd","name":"TMR_POPULA_ERP_COR_ASSOCIADOS_ATV","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,544],"id":"140e8955-9f3d-4f4d-9ed8-9bf244ef29a6","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,144],"id":"7fec2af4-0bb8-41af-abd7-d9bdde746059","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,144],"id":"57710d76-176d-4e8a-a096-f2757f550392","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,144],"id":"75006874-412f-4893-b0a9-279d931145a8","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"atualizar_pessoa_associado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,144],"id":"fb5008b8-c396-4fc0-bc0a-7d63502b587e","name":"Webhook","webhookId":"f6acbb5a-de26-410e-ba0a-3294bf61e236","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,336],"id":"7695fbf0-26ed-43e0-bd41-fdbc067571a1","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,352],"id":"3958b0e2-87d6-45c4-8f2d-c97af77d0f2b","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"0e0844b2-900b-4ad1-8d35-68037a0c2574","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"f1a3e739-5d2e-45e0-afc1-40957f62b8c2","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"bf5ff5be-4584-48c5-9ba2-e1abda0f94ee","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPI').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPI').item.json.numero_paginas - 1 - i) * 2999)\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"30ccd0f2-5776-477c-b6d2-ec10a92ba75d","name":"dadosLoop","notes":"{{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i * 2999})) }}\n"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,352],"id":"cd3c3171-ef47-4d50-99b2-aee2fea1efd3","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,352],"id":"1940d29f-fd8e-4c31-815a-b6ec53b466f6","name":"loopPaginas","alwaysOutputData":false},{"parameters":{"errorMessage":"EXECUTADO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[720,144],"id":"e06729da-a8c2-40c4-9980-9c3e3d0cdf45","name":"Stop and Error1"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,352],"id":"c8b78ae4-564d-49c2-b559-9a81ecb2ea00","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"da8cd794-ebdf-4da8-9a98-51c2d45b090a","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": {{ $('dadosPaginas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('dadosPaginas').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"defa19f1-3af2-42dc-bc7a-42471a57c3ae","name":"buscaAssociados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (cpf)\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd,\n    telefone,\n    telefone_celular,\n    telefone_comercial,\n    email,\n    sexo,\n    codigo_associado\n  FROM json_to_recordset($1::json) AS x(\n    nome text,\n    cpf text,\n    tipo_pessoa text,\n    ddd text,\n    telefone text,\n    telefone_celular text,\n    telefone_comercial text,\n    email text,\n    sexo text,\n    codigo_associado text\n  )\n  WHERE codigo_associado IS NOT NULL\n),\n\n-- 🧩 Insere/atualiza pessoas\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_associado_sga\n  )\n  SELECT\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd || telefone,\n    ddd || telefone_celular,\n    ddd || telefone_celular,\n    ddd || telefone_comercial,\n    email,\n    sexo,\n    codigo_associado::bigint\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa = COALESCE(EXCLUDED.nome_pessoa, cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa = COALESCE(EXCLUDED.dom_tpo_pessoa, cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    whatsapp_pessoa = COALESCE(NULLIF(EXCLUDED.whatsapp_pessoa, ''), cor_pessoa.whatsapp_pessoa),\n    celular_pessoa = COALESCE(NULLIF(EXCLUDED.celular_pessoa, ''), cor_pessoa.celular_pessoa),\n    tel_comercial_pessoa = COALESCE(NULLIF(EXCLUDED.tel_comercial_pessoa, ''), cor_pessoa.tel_comercial_pessoa),\n    email_pessoa = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    dom_sexo = COALESCE(NULLIF(EXCLUDED.dom_sexo, ''), cor_pessoa.dom_sexo),\n    cod_associado_sga = COALESCE(EXCLUDED.cod_associado_sga, cor_pessoa.cod_associado_sga)\n  RETURNING id_pessoa, cpf_cnpj_pessoa, cod_associado_sga\n),\n\n-- 🧩 Cria associados novos\nassociado_insert AS (\n  INSERT INTO public.cor_associado (\n    id_pessoa,\n    dom_cat_associado,\n    dom_sit_associado\n  )\n  SELECT p.id_pessoa, 'Associado', 'Ativo'\n  FROM upsert_pessoa p\n  WHERE p.cod_associado_sga IS NOT NULL\n  AND NOT EXISTS (\n    SELECT 1 FROM public.cor_associado a WHERE a.id_pessoa = p.id_pessoa\n  )\n  RETURNING id_associado, id_pessoa\n)\n\n-- 🧩 Atualiza associados existentes\nUPDATE public.cor_associado ca\nSET\n  dom_cat_associado = COALESCE(ca.dom_cat_associado, 'Associado'),\n  dom_sit_associado = CASE\n    WHEN ca.dom_sit_associado IS DISTINCT FROM 'Ativo' THEN 'Ativo'\n    ELSE ca.dom_sit_associado\n  END\nWHERE ca.id_pessoa IN (SELECT id_pessoa FROM upsert_pessoa);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaAssociados').item.json.body.associados || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"4afbdf24-626b-4a39-b68a-73af6046847c","name":"gravaAssociadoPessoa1","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"buscaAssociados","type":"main","index":0}]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaAssociadoPessoa1","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaAssociados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaAssociadoPessoa1":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a7e51697-ab4b-4528-bd90-c2ecc01366cb","triggerCount":2,"shared":[{"createdAt":"2025-11-03T18:39:21.592Z","updatedAt":"2025-11-03T18:39:21.592Z","role":"workflow:owner","workflowId":"SrkGtBaU5fnafDvd","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}