tmr_msg_inadimpletes_consultor_top_new-uWQVjYL77DhkP9sg.json
{"createdAt":"2025-09-08T18:14:37.217Z","updatedAt":"2025-09-08T18:23:29.629Z","id":"uWQVjYL77DhkP9sg","name":"TMR_MSG_INADIMPLETES_CONSULTOR_TOP_NEW","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-944,-208],"id":"bd83dbf4-344d-4e14-b5cc-d618060ca7fc","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,-128],"id":"61ad0b3b-a127-4162-99d0-01d3eb77ca37","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,-128],"id":"1a41f7ba-a5f5-49a4-bc1a-7b90613b33cd","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,-128],"id":"cc32b37d-e91d-4fa0-ad87-40124d05dd4d","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[80,-240],"id":"57aa380b-199f-44d2-a02c-17b0815c7ed9","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 12 * * *"}]}},"id":"7f7c3a10-8005-4d09-9561-48d2771925b9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-944,-48]},{"parameters":{"language":"python","pythonCode":"# items é a variável padrão que contém os dados do nó anterior\n# Supondo que o nó anterior tenha um JSON no formato que você mostrou\n# items[0][\"json\"][\"data\"] é a lista de mensagens\n\ndata = items[0][\"json\"][\"data\"]\n\n# Extrair apenas as mensagens\nmensagens = [item[\"mensagem\"] for item in data]\n\n# Retornar no formato que o n8n espera (uma lista de dicionários)\nreturn [{\"json\": {\"mensagens\": mensagens}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,560],"id":"ecc24815-86bc-4433-b2b9-f0d6b17f4027","name":"unificaTextoMensagens","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy')}}\",\n  \"data_vencimento_final\": \"{{DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy')}}\",\n  \"codigo_situacao\": \"2\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"4813fe1d-5ced-4daf-80b3-ddff344db3b1","name":"buscaBoletos D-1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-336,-128],"continueOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('veiculos').item.json.situacao_veiculo }}","rightValue":"INADIMPLENTE","operator":{"type":"string","operation":"equals"},"id":"e263cca2-d0e5-4538-a7fe-56be7f73cbb0"}],"combinator":"and"},"renameOutput":true,"outputKey":"INADIMPLENTE"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-944,368],"id":"1e461a8d-ced6-4953-a1da-c79b774f64c4","name":"sitVeiculo"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('boletos').item.json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals"},"id":"61feee3f-9989-4e59-8356-d3b7ad88b59d"}],"combinator":"and"},"renameOutput":true,"outputKey":"BOLETO ABERTO"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-544,176],"id":"2222b7a3-61a9-4216-9fff-da77bfa5006c","name":"sitBoleto","alwaysOutputData":true},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('veiculos').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,368],"id":"26cb21dd-b075-495b-90e3-c6809c7a2323","name":"buscaVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,176],"id":"85596163-9f05-464c-b343-eb2d3f3cf6e8","name":"boletos"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[80,176],"id":"4bff42c2-c44e-4182-a7fe-b07f0dc9807f","name":"veiculos"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{ \n'Vencimento: ' + DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy') + ' | ' + \n$('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-336,560],"id":"972b072e-67bd-4626-977c-86a7223735c9","name":"Enviar texto","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=55{{ $('buscaVoluntario').item.json.telefone.match( /\\d+/g ).join('') }}","messageText":"={{ \n'Olá, ' + $('buscaVoluntario').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\n' +\n'Segue a relação inadimplentes do vencimento do dia ' + DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy') + '.\\n\\n' + \n$('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,592],"id":"a7563266-f18b-4e1a-9928-a15f7c0d2f77","name":"enviaMensagem","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/boleto/{{$('boletos').item.json.boletos.nosso_numero}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"ea8f5d25-2049-44e9-998e-c3359a0ae323","name":"buscaBoleto","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-336,368],"continueOnFail":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"mensagem\": \"{{ \n    $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('boletos').item.json.boletos.veiculos[0].placa \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data \n    + '\\\\n\\\\nCódigo de Barras: `' \n    + $('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('') \n    + '`\\\\nLink Boleto PDF: ' \n    + $('buscaBoleto').item.json.body.short_link \n  }}\"\n}\n","options":{}},"id":"5edf9249-e909-4a97-b519-5a5e42ce7bf2","name":"agrupaBoletos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,560],"notes":"{\n  \"mensagem\": \"{{ \n    $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('boletos').item.json.boletos.veiculos[0].placa \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data \n    + '\\\\nCódigo de Barras: `' \n    + $('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('') \n    + '`\\\\nLink Boleto PDF: ' \n    + $('buscaBoleto').item.json.body.short_link \n  }}\"\n}\n"},{"parameters":{"url":"https://is.gd/create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"simple"},{"name":"url","value":"={{ $('mensagemBoleto').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,368],"id":"82c1898b-7f07-4c13-8e52-57bbd469b936","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"13df660e-7b6f-48d4-8306-727900c422cf","name":"mensagem","value":"={{\n'https://wa.me/55'+ \n$('boletos').item.json.boletos.celular.match(/\\d+/g).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, caso ainda não tenha recebido o boleto da TOP Brasil, segue o link de pagamento para a placa ${$('boletos').item.json.boletos.veiculos[0].placa}. É só clicar no link abaixo para abrir o boleto ${$('buscaBoleto').item.json.body.short_link} ou copiar o codigo de barras ${$('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('')}`)\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,368],"id":"23caded7-e448-49b6-80f9-0c446ab58f12","name":"mensagemBoleto"},{"parameters":{"url":"=https://tinyurl.com/api-create.php?url={{ $('mensagemBoleto').item.json.mensagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,592],"id":"6a666185-f87b-45fa-a724-1caba46bb546","name":"reduzURL1","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"boletos.veiculos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-336,176],"id":"ae27bc84-d480-4e18-bb35-a0c27ad5a090","name":"splitVeiculos","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,176],"id":"b38a875f-bd1d-4253-9029-157fbf20ac15","name":"loopVeiculos"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,-16],"id":"9604405e-ba7b-4eb5-bf41-986ca256a7df","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-944,176],"id":"3d6d071c-3d38-4a12-954a-b005c307eb8f","name":"ordenaVoluntario"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"8c001f35-b953-4ac9-af5f-b43ac2aa8020"}],"combinator":"and"},"renameOutput":true,"outputKey":"existeVoluntario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-544,368],"id":"fd5e225a-0d05-46ed-a7d2-7e1e146926a9","name":"existeVoluntario"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-736,560],"id":"37c6b662-f2fc-4b93-afc1-6e78e0f333a1","name":"unificaVeiculos"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaBoletos D-1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"splitBoletos","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"unificaTextoMensagens":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"buscaBoletos D-1":{"main":[[{"node":"If1","type":"main","index":0}]]},"sitVeiculo":{"main":[[{"node":"buscaVoluntario","type":"main","index":0}],[{"node":"loopVeiculos","type":"main","index":0}]]},"sitBoleto":{"main":[[{"node":"splitVeiculos","type":"main","index":0}],[]]},"buscaVoluntario":{"main":[[{"node":"existeVoluntario","type":"main","index":0}]]},"boletos":{"main":[[{"node":"sitBoleto","type":"main","index":0}]]},"veiculos":{"main":[[{"node":"sitVeiculo","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"loopVeiculos","type":"main","index":0}]]},"agrupaBoletos":{"main":[[{"node":"unificaVeiculos","type":"main","index":0}]]},"buscaBoleto":{"main":[[{"node":"mensagemBoleto","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"agrupaBoletos","type":"main","index":0}]]},"mensagemBoleto":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"splitVeiculos":{"main":[[{"node":"loopVeiculos","type":"main","index":0}]]},"loopVeiculos":{"main":[[],[{"node":"veiculos","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"ordenaVoluntario","type":"main","index":0}]]},"ordenaVoluntario":{"main":[[{"node":"boletos","type":"main","index":0}]]},"existeVoluntario":{"main":[[{"node":"buscaBoleto","type":"main","index":0}]]},"unificaVeiculos":{"main":[[{"node":"unificaTextoMensagens","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5246ca07-d9f3-455f-85c3-dadb2a1c821b","triggerCount":1,"shared":[{"createdAt":"2025-09-08T18:14:37.217Z","updatedAt":"2025-09-08T18:14:37.217Z","role":"workflow:owner","workflowId":"uWQVjYL77DhkP9sg","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-03T15:14:06.122Z","updatedAt":"2025-09-03T15:14:06.122Z","id":"H9l5pLKKPFZZWowL","name":"12:30"}]}