tmr_msg_inadimpletes_consultor_top-sg0H1PeS9l9RsgQs.json
{"createdAt":"2025-08-19T16:10:59.486Z","updatedAt":"2025-09-01T17:45:13.827Z","id":"sg0H1PeS9l9RsgQs","name":"TMR_MSG_INADIMPLETES_CONSULTOR_TOP","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-944,-224],"id":"8ce1b210-3db7-4909-ac06-bec1b8c0a216","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-752,-144],"id":"715fb80c-0654-457a-97b6-9b721d7f52e3","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,-144],"id":"f0e55a2f-13bf-4110-95ff-ca6b1fcf2f82","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,-144],"id":"b625a5ec-ffb4-4917-8e30-c1402dbf9880","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[96,-240],"id":"10add168-5bbd-4b98-8505-75f382f75c71","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"00 12 * * *"}]}},"id":"3642b827-77d1-4046-9ab4-8324891fe421","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-944,-64]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-320,400],"id":"221dbfbc-6e0b-4287-a8c0-dc917c0699c3","name":"Aggregate1"},{"parameters":{"language":"python","pythonCode":"# items é a variável padrão que contém os dados do nó anterior\n# Supondo que o nó anterior tenha um JSON no formato que você mostrou\n# items[0][\"json\"][\"data\"] é a lista de mensagens\n\ndata = items[0][\"json\"][\"data\"]\n\n# Extrair apenas as mensagens\nmensagens = [item[\"mensagem\"] for item in data]\n\n# Retornar no formato que o n8n espera (uma lista de dicionários)\nreturn [{\"json\": {\"mensagens\": mensagens}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,400],"id":"3227215b-d38f-4acb-a6b2-7e4d7bd8b7fc","name":"unificaTextoMensagens","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy')}}\",\n  \"data_vencimento_final\": \"{{DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy')}}\",\n  \"codigo_situacao\": \"2\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"3638da88-713f-49a5-913f-ac793db423df","name":"buscaBoletos D-1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-320,-144],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"boletos.veiculos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-528,160],"id":"8ddbe464-4795-40ee-9fc6-727c252ce92a","name":"loopVeiculos","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[96,-32],"id":"5ff22e57-8ee9-48b4-a4bd-54a77cb6af8f","name":"body","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('veiculos').item.json.situacao_veiculo }}","rightValue":"INADIMPLENTE","operator":{"type":"string","operation":"equals"},"id":"e263cca2-d0e5-4538-a7fe-56be7f73cbb0"}],"combinator":"and"},"renameOutput":true,"outputKey":"INADIMPLENTE"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[96,160],"id":"e967e76e-e418-47af-b171-a5e97f1097b6","name":"sitVeiculo"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('boletos').item.json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals"},"id":"61feee3f-9989-4e59-8356-d3b7ad88b59d"}],"combinator":"and"},"renameOutput":true,"outputKey":"BOLETO ABERTO"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-752,160],"id":"ad7755b0-84ee-4862-9724-e980869a8c0d","name":"sitBoleto","alwaysOutputData":true},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('veiculos').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,400],"id":"29e23773-5ac3-4ea4-935e-a7d11e87d7a2","name":"buscaVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"8c001f35-b953-4ac9-af5f-b43ac2aa8020"}],"combinator":"and"},"renameOutput":true,"outputKey":"existeVoluntario"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-736,400],"id":"ecac123a-4249-402d-a92b-b3ece47d09a6","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=55{{ $('buscaVoluntario').item.json.telefone.match( /\\d+/g ).join('') }}","messageText":"={{ \n'Olá, ' + $('buscaVoluntario').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\n' +\n'Segue a relação inadimplentes do vencimento do dia ' + DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('dd/MM/yyyy') + '.\\n\\n' + \n$('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[96,400],"id":"3ad63750-7ebf-4994-9e24-a61ae5f645eb","name":"msgDadosBoletos","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{$('buscaVoluntario').item.json.celular_voluntario.match( /\\d+/g ).join('')}}"},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"mensagem\" : \"{{ $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' | ' + $('boletos').item.json.boletos.celular.match( /\\d+/g ).join('') + ' | ' +  \n$('boletos').item.json.boletos.veiculos[0].placa + ' | ' +  \n$('boletos').item.json.boletos.linha_digitavel.match( /\\d+/g ).join('') }}\"\n}","options":{}},"id":"c6b93fd4-4374-4eb3-a608-dad9d6a003fa","name":"agrupaVeiculos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,400]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,160],"id":"30805b02-2318-4e1f-be38-765007269fd4","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-944,160],"id":"d07b5065-284a-4d51-9a3c-2bb46924a1a9","name":"boletos"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-112,160],"id":"2ff232dd-2ac0-4f7a-a608-61808e262820","name":"veiculos"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaBoletos D-1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"body","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"unificaTextoMensagens","type":"main","index":0}]]},"unificaTextoMensagens":{"main":[[{"node":"msgDadosBoletos","type":"main","index":0}]]},"buscaBoletos D-1":{"main":[[{"node":"If1","type":"main","index":0}]]},"loopVeiculos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"body":{"main":[[{"node":"boletos","type":"main","index":0}]]},"sitVeiculo":{"main":[[{"node":"buscaVoluntario","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"sitBoleto":{"main":[[{"node":"loopVeiculos","type":"main","index":0}],[]]},"buscaVoluntario":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"agrupaVeiculos","type":"main","index":0}]]},"msgDadosBoletos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"agrupaVeiculos":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"veiculos","type":"main","index":0}]]},"boletos":{"main":[[{"node":"sitBoleto","type":"main","index":0}]]},"veiculos":{"main":[[{"node":"sitVeiculo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f8a018a-2131-4869-ab42-bc40736d8deb","triggerCount":1,"shared":[{"createdAt":"2025-08-19T16:10:59.486Z","updatedAt":"2025-08-19T16:10:59.486Z","role":"workflow:owner","workflowId":"sg0H1PeS9l9RsgQs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}