tmr_popula_top_boletos-2VuemE7VvQrM65uQ.json
{"createdAt":"2025-11-01T16:39:34.113Z","updatedAt":"2025-12-03T12:56:24.865Z","id":"2VuemE7VvQrM65uQ","name":"TMR_POPULA_TOP_BOLETOS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-880,432],"id":"f2261769-18af-4e02-a286-bc21abf062a4","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"path":"tmr_atualizar_boletos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-880,-16],"id":"e2cba3ca-f848-4434-9723-c835967180d4","name":"Webhook","webhookId":"48457991-1587-42c6-a3bd-05cc8160223d","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":25}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,208],"id":"fd9ae41b-7312-4684-bbde-be81b1994910","name":"Schedule Trigger","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,208],"id":"c02a49c4-67fc-41db-a684-4e33a58a9508","name":"loopPaginas1"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ \n(() => {\n  const hoje = new Date();\n  const ano = hoje.getFullYear();\n  const mes = hoje.getMonth(); // mês atual (0–11)\n\n  // Último dia do mês atual\n  const diasMes = new Date(ano, mes + 1, 0).getDate();\n\n  return diasMes;\n})()\n}}\n","type":"number"},{"id":"bbf11f94-ceec-41c9-ad5e-62f78a1ba8bf","name":"mes","value":"={{\n(() => {\n  const dataStr = $now.format('dd/MM/yyyy');\n\n  // Divide DD/MM/YYYY\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n\n  return mes; // Retorna apenas o mês\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,208],"id":"9bb494d6-1968-4aae-98a1-3d097961a3d6","name":"dadosAPIMes","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-176,208],"id":"0a380a67-b94c-4fec-adbf-dc38e71f25c4","name":"splitDiasMes","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPIMes').item.json.numero_paginas}, (_, i) => ({\"counter\": i+1})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,208],"id":"8286bccd-d92f-4cab-8404-6b6ab36808ed","name":"dadosLoopMes","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":"={{ \n  [1, 5, 10, 15, 20, 25, 26, 30].includes($('loopPaginas1').item.json.pagina.counter) \n  ? 100 \n  : 500 \n}}","type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"dia","value":"={{ $('loopPaginas1').item.json.pagina.counter }}","type":"number"},{"id":"d4679afa-64cf-44e0-8d08-f6ce504f45b1","name":"data","value":"={{ \n(() => {\n  const dia = $('loopPaginas1').item.json.pagina.counter ; // <-- aqui vai o número do dia desejado\n  const hoje = new Date();\n  const data = new Date(hoje.getFullYear(), hoje.getMonth(), dia);\n  const dd = String(data.getDate()).padStart(2, '0');\n  const mm = String(data.getMonth() + 1).padStart(2, '0');\n  const yyyy = data.getFullYear();\n  return `${dd}/${mm}/${yyyy}`;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,208],"id":"393cb034-40df-4da3-ac44-083dc68f7b26","name":"dadosDiasMes","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"Rnq3NIE0dV7902vT","mode":"list","cachedResultUrl":"/workflow/Rnq3NIE0dV7902vT","cachedResultName":"SUB_POPULA_TOP_BOLETOS_MENSAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosDiasMes').item.json.quantidadePagina }}","dtVencimentoInicial":"={{ $('dadosDiasMes').item.json.data }}","dtVencimentoFinal":"={{ $('dadosDiasMes').item.json.data }}"},"matchingColumns":[],"schema":[{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[480,208],"id":"318fcbc0-cf56-4661-a314-0dc2070ca4ba","name":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,432],"id":"206bb66a-9457-4f79-9efc-8bf5a03dac83","name":"loopPaginas2"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-176,432],"id":"bf8ee97a-1a8c-45fd-8829-0e981853040b","name":"splitDiasMes1","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPIMesAtual').item.json.numero_paginas}, (_, i) => ({\"counter\": i+1})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,432],"id":"0ecf8379-b112-4791-ab9e-3702114d938c","name":"dadosLoopMes1","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":"={{ \n  [1, 5, 10, 15, 20, 25, 26, 30].includes($('loopPaginas2').item.json.pagina.counter) \n  ? 100 \n  : 500 \n}}","type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"dia","value":"={{ $('loopPaginas2').item.json.pagina.counter }}","type":"number"},{"id":"d4679afa-64cf-44e0-8d08-f6ce504f45b1","name":"data","value":"={{ \n(() => {\n  const dia = $('loopPaginas2').item.json.pagina.counter;  \n  const mes = $('dadosAPIMesAtual').item.json.mes; // mês vindo do node (1–12?)\n\n  const hoje = new Date();\n  const data = new Date(hoje.getFullYear(), mes - 1, dia); // <-- corrigido aqui\n\n  const dd = String(data.getDate()).padStart(2, '0');\n  const mm = String(data.getMonth() + 1).padStart(2, '0'); // +1 para exibir corretamente (1–12)\n  const yyyy = data.getFullYear();\n\n  return `${dd}/${mm}/${yyyy}`;\n})()\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,432],"id":"5b6c08bf-d7e1-4166-956d-65603623ea2a","name":"dadosDiasMes1","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"Rnq3NIE0dV7902vT","mode":"list","cachedResultUrl":"/workflow/Rnq3NIE0dV7902vT","cachedResultName":"SUB_POPULA_TOP_BOLETOS_MENSAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosDiasMes1').item.json.quantidadePagina }}","dtVencimentoInicial":"={{ $('dadosDiasMes1').item.json.data }}","dtVencimentoFinal":"={{ $('dadosDiasMes1').item.json.data }}"},"matchingColumns":[],"schema":[{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[480,432],"id":"3f948be1-bd25-45da-a88d-aaf3e878b0ca","name":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,-16],"id":"a16ececa-9f54-464f-8c0b-e951d295abfa","name":"loopPaginas3"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{\n(() => {\n  // Pegando a data no formato DD/MM/YYYY\n  const dataStr = $('Webhook').item.json.query.dataVInicial;\n\n  // Separando os elementos da data\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n\n  // Criando data usando padrão JS (ano, mês-1, dia)\n  const dt = new Date(ano, mes - 1, dia);\n\n  // Pegando a quantidade de dias do mês:\n  // → new Date(ano, mes, 0) retorna o último dia do mês escolhido\n  const diasMes = new Date(ano, mes, 0).getDate();\n\n  return diasMes;\n})()\n}}","type":"number"},{"id":"45934293-dcf2-4561-bf74-0233db438652","name":"mes","value":"={{\n(() => {\n  const dataStr = $('Webhook').item.json.query.dataVInicial;\n\n  // Divide DD/MM/YYYY\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n\n  return mes; // Retorna apenas o mês\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-16],"id":"cbcef1fc-25b8-4c4e-a336-196c8322dddb","name":"dadosAPIMes2","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-176,-16],"id":"e684cc7e-d355-47e9-bd10-bf01f65468e1","name":"splitDiasMes2","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPIMes2').item.json.numero_paginas}, (_, i) => ({\"counter\": i+1})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,-16],"id":"8b0604ce-259c-4705-af1c-6c8f023482e2","name":"dadosLoopMes2","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":"={{ \n  [1, 5, 10, 15, 20, 25, 26, 30].includes($('loopPaginas3').item.json.pagina.counter) \n  ? 100 \n  : 500 \n}}","type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"dia","value":"={{ $('loopPaginas3').item.json.pagina.counter }}","type":"number"},{"id":"d4679afa-64cf-44e0-8d08-f6ce504f45b1","name":"data","value":"={{ \n(() => {\n  const dia = $('loopPaginas3').item.json.pagina.counter;  \n  const mes = $('dadosAPIMes2').item.json.mes; // mês vindo do node (1–12?)\n\n  const hoje = new Date();\n  const data = new Date(hoje.getFullYear(), mes - 1, dia); // <-- corrigido aqui\n\n  const dd = String(data.getDate()).padStart(2, '0');\n  const mm = String(data.getMonth() + 1).padStart(2, '0'); // +1 para exibir corretamente (1–12)\n  const yyyy = data.getFullYear();\n\n  return `${dd}/${mm}/${yyyy}`;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-16],"id":"635cdcb9-8ea6-4eb3-a23a-03dfd1101089","name":"dadosDiasMes2","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"Rnq3NIE0dV7902vT","mode":"list","cachedResultUrl":"/workflow/Rnq3NIE0dV7902vT","cachedResultName":"SUB_POPULA_TOP_BOLETOS_MENSAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosDiasMes2').item.json.quantidadePagina }}","dtVencimentoInicial":"={{ $('dadosDiasMes2').item.json.data }}","dtVencimentoFinal":"={{ $('dadosDiasMes2').item.json.data }}"},"matchingColumns":[],"schema":[{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[480,-16],"id":"95fd99bd-afe2-451a-a9e9-baa7a2bce267","name":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'2"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ \n(() => {\n  const hoje = new Date();\n  const ano = hoje.getFullYear();\n  const mes = hoje.getMonth(); // mês atual (0–11)\n\n  // Último dia do mês atual\n  const diasMes = new Date(ano, mes + 1, 0).getDate();\n\n  return diasMes;\n})()\n}}\n","type":"number"},{"id":"9660db30-2c4b-491a-8cf1-666b1656bda2","name":"mes","value":"={{\n(() => {\n  const dataStr = $now.format('dd/MM/yyyy');\n\n  // Divide DD/MM/YYYY\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n\n  return mes; // Retorna apenas o mês\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,432],"id":"67202a7e-c959-4c6f-acda-267446c49f60","name":"dadosAPIMesAtual","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização de Boletos - Finalizado","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[912,208],"id":"29d91919-d4ec-4a55-a511-c1c4836f4135","name":"Send message1","webhookId":"5edccbed-b988-44f0-8ab5-695bbfc1218c","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[704,208],"id":"f9087356-2103-4fa3-a197-fa476eee793d","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosAPIMesAtual","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosAPIMes2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosAPIMes","type":"main","index":0}]]},"loopPaginas1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"dadosDiasMes","type":"main","index":0}]]},"dadosAPIMes":{"main":[[{"node":"dadosLoopMes","type":"main","index":0}]]},"splitDiasMes":{"main":[[{"node":"loopPaginas1","type":"main","index":0}]]},"dadosLoopMes":{"main":[[{"node":"splitDiasMes","type":"main","index":0}]]},"dadosDiasMes":{"main":[[{"node":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'","type":"main","index":0}]]},"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'":{"main":[[{"node":"loopPaginas1","type":"main","index":0}]]},"loopPaginas2":{"main":[[],[{"node":"dadosDiasMes1","type":"main","index":0}]]},"splitDiasMes1":{"main":[[{"node":"loopPaginas2","type":"main","index":0}]]},"dadosLoopMes1":{"main":[[{"node":"splitDiasMes1","type":"main","index":0}]]},"dadosDiasMes1":{"main":[[{"node":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'1","type":"main","index":0}]]},"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'1":{"main":[[{"node":"loopPaginas2","type":"main","index":0}]]},"loopPaginas3":{"main":[[],[{"node":"dadosDiasMes2","type":"main","index":0}]]},"dadosAPIMes2":{"main":[[{"node":"dadosLoopMes2","type":"main","index":0}]]},"splitDiasMes2":{"main":[[{"node":"loopPaginas3","type":"main","index":0}]]},"dadosLoopMes2":{"main":[[{"node":"splitDiasMes2","type":"main","index":0}]]},"dadosDiasMes2":{"main":[[{"node":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'2","type":"main","index":0}]]},"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'2":{"main":[[{"node":"loopPaginas3","type":"main","index":0}]]},"dadosAPIMesAtual":{"main":[[{"node":"dadosLoopMes1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d94e964-6026-4473-a35a-0a71a5a6d7ee","triggerCount":2,"shared":[{"createdAt":"2025-11-01T16:39:34.113Z","updatedAt":"2025-11-01T16:39:34.113Z","role":"workflow:owner","workflowId":"2VuemE7VvQrM65uQ","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"},{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}