tmr_msg_inadimplentes_consultor_top-XhjcugbhTkouAibG.json
{"createdAt":"2025-09-08T22:20:50.603Z","updatedAt":"2025-11-11T14:25:38.918Z","id":"XhjcugbhTkouAibG","name":"TMR_MSG_INADIMPLENTES_CONSULTOR_TOP","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-832,576],"id":"416a76f2-44f1-40c7-8de3-5f50739fc453","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"20 13 * * 1-5"}]}},"id":"1fff9013-d790-443f-a139-e618fbe489b1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-832,336]},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,1184],"id":"07897018-07ce-4bca-b580-ab5104acbe56","name":"buscaVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,448],"id":"170362bd-a22e-4a7d-9c71-1e2a097aed39","name":"boletos"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"mensagem\": \"{{$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('loopBoletos').item.json.boletos.veiculos[0].placa \n    + ' | '\n    + $('loopBoletos').item.json.boletos.data_vencimento_original.toDateTime().format('dd/MM/yyyy')\n    + '\\\\nLink do Boleto: ' \n    +  $('loopBoletos').item.json.boletos.link_boleto  \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data  + '\\\\n'\n  }}\"\n}\n","options":{}},"id":"58dab415-a534-45f3-8ad6-f0b98aa298a0","name":"agrupaBoletos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,1184],"notes":"{\n  \"mensagem\": \"{{ \n    $('boletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())\n    + ' | ' \n    + $('boletos').item.json.boletos.celular.match(/\\d+/g).join('') \n    + ' | ' \n    + $('boletos').item.json.boletos.veiculos[0].placa \n    + '\\\\nEnvio direto ao Associado: ' \n    + $('reduzURL').item.json.data \n    + '\\\\nCódigo de Barras: `' \n    + $('boletos').item.json.boletos.linha_digitavel.match(/\\d+/g).join('') \n    + '`\\\\nLink Boleto PDF: ' \n    + $('buscaBoleto').item.json.body.short_link \n  }}\"\n}\n"},{"parameters":{"url":"https://is.gd/create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"format","value":"simple"},{"name":"url","value":"={{ $('mensagemBoleto').item.json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,1184],"id":"44b18427-5347-4df5-a10b-2541119c2666","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"13df660e-7b6f-48d4-8306-727900c422cf","name":"mensagem","value":"={{\n'https://wa.me/55'+ \n$('loopBoletos').item.json.boletos.celular.match(/\\d+/g).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$('loopBoletos').item.json.boletos.nome_associado.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, caso ainda não tenha recebido o boleto da TOP Brasil, segue o link de pagamento para a placa ${$('loopBoletos').item.json.boletos.veiculos[0].placa}. É só clicar no link abaixo para abrir o boleto ${$('loopBoletos').item.json.boletos.link_boleto}`)\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,1184],"id":"a2506c90-95c5-4241-9a65-99d8077d8d4f","name":"mensagemBoleto"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1312,448],"id":"4649c8f2-66c0-4301-89a6-43a15a3764db","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"8c001f35-b953-4ac9-af5f-b43ac2aa8020"}],"combinator":"and"},"renameOutput":true,"outputKey":"existeVoluntario"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,1184],"id":"b0931149-78d4-4ab5-ba0d-eab5501db298","name":"existeVoluntario"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1696,448],"id":"7949ee7a-02de-4741-a812-5ec5c2cf6a7d","name":"Sort","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-672,1184],"id":"d884e8a9-41c1-43f6-ba56-11ee32da1c49","name":"loopBoletos"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,256],"id":"98e41db6-fbd1-49c7-b0fe-1b2eb13592d7","name":"Redis","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c0e522f-f5aa-4d3c-ba53-d5a1f4aa92d0","leftValue":"={{ $json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c91d0261-ba32-4f18-8bf6-053959c6ebf4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO FINANCEIRO","operator":{"type":"string","operation":"notEquals"}},{"id":"76c689fb-41eb-4cd6-a029-71bb6b741911","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO JURÍDICO EXTRAJUDICIAL","operator":{"type":"string","operation":"notEquals"}},{"id":"6a712374-d06b-416c-b69f-d15b7b10937b","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ADESÃO","operator":{"type":"string","operation":"notEquals"}},{"id":"45d04159-5580-4720-b128-105ac7afde03","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"MONITORAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"e59b2535-427f-44fa-86b5-c52bc261ebc4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"DESINSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"8cb612d1-c614-42d6-b58e-c8c4e3ad6b5f","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"INSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1872,448],"id":"536eb122-6b99-4a1c-94b7-c2fcfdc2b32c","name":"Filter","onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"codigo_voluntario","key":"codigo_voluntario","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-256,1184],"id":"ff09efab-e528-4585-8d1f-4d4cd476f2e9","name":"voluntarioAnterior","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"set","key":"codigo_voluntario","value":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","expire":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1408,1408],"id":"727520f4-67cb-46e5-af08-3013e935e7d6","name":"voluntarioAtual","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('buscaVoluntario1').item.json.codigo_voluntario }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-464,1408],"id":"3f9e31b6-8e53-4846-9c18-15321fd86bb2","name":"buscaMensagensConsultor","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","messageData":"={{ $json.mensagem }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,1184],"id":"f35044c2-6f3b-40c5-ad5b-fbc802a27f6d","name":"gravaListaMensagensCons","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"4313fc77-d416-45bf-a82d-b646efdfe3b0"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRIMEIRO REGISTRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c5f6b705-7dca-4e15-86a6-273c19ff2907","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. IGUAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"94724df6-74b8-4f98-932e-c4949d22a82b","leftValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}","rightValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONS. DIFERENTE"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,1168],"id":"154e11e8-f8e2-467f-87fa-a6bb3f01e506","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Primeiro Registro\\n'+\n$('loopBoletos').params.batchSize + '\\n' +\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1616,992],"id":"362ecb9f-2617-488e-9910-598f633c8dd2","name":"Enviar texto2","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Anterior = Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1616,1184],"id":"049402c8-6b65-49c5-8787-15e330b11202","name":"Enviar texto3","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.fin","remoteJid":"=553192240123","messageText":"={{ \n'Anterior <> Atual\\n'+\n$('voluntarioAnterior').item.json.codigo_voluntario  + '\\n' +\n$('buscaVoluntario').item.json.nome + '\\n' +\n$('buscaVoluntario').item.json.codigo_voluntario\n}}\n","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-48,1408],"id":"87dbecdc-886c-4c41-82b2-e96180a0cfac","name":"Enviar texto4","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $('voluntarioAnterior').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,1408],"id":"84f0d4d7-112e-42c0-968b-0592093c7d87","name":"buscaVoluntario1","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"keys","keyPattern":"*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[368,240],"id":"8013f56a-3a43-4835-a84e-619acc90db16","name":"Redis1","alwaysOutputData":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,240],"id":"b71d3ac4-5a90-4ae1-8bd3-f45ee814c452","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,240],"id":"7ced5d95-533d-4ee6-b832-aa5e3ef8c4d6","name":"Split Out"},{"parameters":{},"name":"Start Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,448],"id":"04eeceff-410e-4144-a85d-7a5df115b0c2"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment","type":"n8n-nodes-base.set","typeVersion":1,"position":[560,448],"id":"b11bed9b-f353-4e05-9d8b-ff80e1062049"},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[112,448],"id":"1b249370-b98a-4278-825f-d7a022411210"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment').item.json[\"counter\"] }}","value2":10}]}},"name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[560,640],"id":"1ca3553b-d726-4e24-84a2-186935aed918"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,448],"id":"5bf24bda-edb8-4fad-a0cb-9a51d37c3dcc","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,448],"id":"a0de8949-8a01-49eb-bc96-fae0ddbfe096","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[112,240],"id":"4272211d-47df-42e6-ad5e-674b83acf7f8","name":"Execute Workflow1","executeOnce":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/boleto/1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}},"timeout":1200000}},"id":"ac1de6a0-abe5-429c-810d-5310d3001a14","name":"buscaBoletoTemp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,448],"continueOnFail":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-448,448],"id":"500e1ec2-feee-4dc2-8a38-d4ab12f3b09a","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"data_vencimento_final\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"codigo_situacao\": 2,\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":2000000}},"id":"96ddc9b5-2e66-480d-9554-6ce0dbd8ab2a","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,448],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $json.counter - 1 }}","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,448],"id":"6e03a9d2-5b81-43f5-b393-15498bce5e15","name":"dadosPagina"},{"parameters":{"operation":"push","list":"boletos","messageData":"={{ JSON.stringify ($json.boletos) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,448],"id":"53bf5921-1478-42b8-8665-10effa1acf9a","name":"Redis2","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,448],"id":"e6f23583-4215-4b2e-8221-de6e7b66d80e","name":"Wait","webhookId":"31a2ec4c-3bb2-496a-8dea-0c7673b2703d","disabled":true},{"parameters":{"operation":"get","propertyName":"boletos","key":"=boletos","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-672,800],"id":"ea022390-ad2d-4687-90b9-c4eee7e7bd66","name":"buscaBoletos","executeOnce":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"fieldToSplitOut":"boletos","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-464,800],"id":"9eacfbfa-e65f-465f-87e9-b3fa1693dae3","name":"Split Out1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-464,1184],"id":"e35ed4c3-e0d8-42cc-80a5-c9e53142a942","name":"No Operation, do nothing2"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-464,992],"id":"63e4547f-3829-4cb8-b644-8f64945c386e","name":"Sort1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9b53308c-9644-4512-b6a5-5979e8a01fa6","name":"boletos","value":"={{ $json.boletos }}","type":"object"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,992],"id":"edd2c5d4-6e4e-40eb-a6f1-4432a04be9db","name":"setBoletos"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,816],"id":"7ec8f039-4dd1-4b46-93e0-c0d911c6d15e","name":"boletos1"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1312,816],"id":"5c53e502-ca5c-4cf5-9cfd-bd6b32c18b65","name":"splitBoletos1","alwaysOutputData":true},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"boletos.veiculos[0].codigo_voluntario"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1696,816],"id":"348e3692-e616-41b4-8876-eb2dd6e9f510","name":"Sort2","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c0e522f-f5aa-4d3c-ba53-d5a1f4aa92d0","leftValue":"={{ $json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c91d0261-ba32-4f18-8bf6-053959c6ebf4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO FINANCEIRO","operator":{"type":"string","operation":"notEquals"}},{"id":"76c689fb-41eb-4cd6-a029-71bb6b741911","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO JURÍDICO EXTRAJUDICIAL","operator":{"type":"string","operation":"notEquals"}},{"id":"6a712374-d06b-416c-b69f-d15b7b10937b","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ADESÃO","operator":{"type":"string","operation":"notEquals"}},{"id":"45d04159-5580-4720-b128-105ac7afde03","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"MONITORAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"e59b2535-427f-44fa-86b5-c52bc261ebc4","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"DESINSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"8cb612d1-c614-42d6-b58e-c8c4e3ad6b5f","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"INSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"1f1c97c9-9131-4214-a08b-b87e2f850f90","leftValue":"={{ $json.boletos.veiculos[0].codigo_regional }}","rightValue":"229","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1872,816],"id":"1cf64692-3bfb-42c3-acd8-c70ce10e64df","name":"Filter1","onError":"continueRegularOutput"},{"parameters":{"operation":"push","list":"boletos","messageData":"={{ JSON.stringify ($json.boletos) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,816],"id":"b1f2a775-cad5-40a8-86e8-e1134cb86e5c","name":"Redis3","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,816],"id":"f56a2c2d-32f8-497c-8d34-b83db864c69a","name":"Wait1","webhookId":"31a2ec4c-3bb2-496a-8dea-0c7673b2703d","disabled":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 6); // começa 6 dia após o vencimento\n\n    // enquanto for segunda (1), retrocede + 9 dias\n    while (d.getDay() === 1) {\n      d.setDate(d.getDate() - 8);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"data_vencimento_final\": \"{{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 6); // começa 6 dia após o vencimento\n\n    // enquanto for segunda (1), retrocede + 2 dias\n    while (d.getDay() === 1) {\n      d.setDate(d.getDate() - 8);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\",\n  \"codigo_situacao\": 2,\n  \"codigo_regional\": [229],\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":2000000}},"id":"949c8c85-4243-41c7-9135-783e0f99f548","name":"buscaBoletosTOPCO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,816],"continueOnFail":true},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter1","type":"n8n-nodes-base.set","typeVersion":1,"position":[112,816],"id":"d53101f0-1984-4362-a741-7ab5fc88c5f4"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop1\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment1","type":"n8n-nodes-base.set","typeVersion":1,"position":[560,816],"id":"fabe36da-2e53-469c-8417-8bc8dad54eb0"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment1').item.json[\"counter\"] }}","value2":10}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[560,1008],"id":"f6e10c49-e64d-4326-8e1c-00b06c0ad3ab"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $json.counter - 1 }}","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,816],"id":"32960e6d-d73a-4e0d-bd03-b3ead23c19e9","name":"dadosPaginaCO"},{"parameters":{},"name":"Start Loop1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,816],"id":"a05cd72b-b76c-4fea-a82a-aa77f7033c76"},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"=55{{$('buscaVoluntario1').item.json.celular.match( /\\d+/g ).join('')}}","messageText":"={{\n'Olá, ' + $('buscaVoluntario1').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + '\\n' + \n'Estou lhe encaminhando os seus associados inadimplentes'+'.\\n' +\n'Dentro do link você consegue ter acesso a segunda via do boleto ou através do site da TOP. Caso o associado já tenha efetuado o pagamento, peço que solicite ao mesmo que aguarde pois o novo banco leva 48h úteis para atualizar em nossos sistemas e aplicativos.\\n\\n' +\n$json.mensagens.join('\\n')\n}}\n","options_message":{"delay":240000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-256,1408],"id":"ac00d9fa-612c-4c13-8f4a-be322baf151c","name":"enviaMsgConsultor","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1616,1408],"id":"0c271d56-b67a-4bfa-9e8d-07a273ead798","name":"Wait2","webhookId":"819f3fba-7be9-4700-a391-4a8b271f4f09"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"buscaVoluntario":{"main":[[{"node":"existeVoluntario","type":"main","index":0}]]},"boletos":{"main":[[{"node":"Sort","type":"main","index":0}]]},"agrupaBoletos":{"main":[[{"node":"gravaListaMensagensCons","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"agrupaBoletos","type":"main","index":0}]]},"mensagemBoleto":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"boletos","type":"main","index":0}]]},"existeVoluntario":{"main":[[{"node":"mensagemBoleto","type":"main","index":0}],[]]},"Sort":{"main":[[{"node":"Filter","type":"main","index":0}]]},"loopBoletos":{"main":[[],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"voluntarioAnterior":{"main":[[{"node":"buscaVoluntario","type":"main","index":0}]]},"voluntarioAtual":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"buscaMensagensConsultor":{"main":[[{"node":"enviaMsgConsultor","type":"main","index":0}]]},"gravaListaMensagensCons":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Enviar texto3","type":"main","index":0}],[{"node":"buscaVoluntario1","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"Enviar texto4":{"main":[[{"node":"voluntarioAtual","type":"main","index":0}]]},"buscaVoluntario1":{"main":[[{"node":"buscaMensagensConsultor","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Redis","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Start Loop":{"main":[[{"node":"Increment","type":"main","index":0}]]},"Increment":{"main":[[{"node":"IF5","type":"main","index":0},{"node":"dadosPagina","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"Redis1","type":"main","index":0},{"node":"Start Loop","type":"main","index":0},{"node":"Init Counter1","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Start Loop","type":"main","index":0}],[]]},"No Operation, do nothing1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Init Counter","type":"main","index":0},{"node":"buscaBoletos","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaBoletoTemp":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaBoletoTemp","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"splitBoletos","type":"main","index":0}]]},"dadosPagina":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"Redis2":{"main":[[]]},"buscaBoletos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"setBoletos","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"voluntarioAnterior","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"setBoletos":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"boletos1":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"splitBoletos1":{"main":[[{"node":"boletos1","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscaBoletosTOPCO","type":"main","index":0}]]},"buscaBoletosTOPCO":{"main":[[{"node":"splitBoletos1","type":"main","index":0}]]},"Redis3":{"main":[[]]},"Increment1":{"main":[[{"node":"IF","type":"main","index":0},{"node":"dadosPaginaCO","type":"main","index":0}]]},"IF":{"main":[[{"node":"Start Loop1","type":"main","index":0}]]},"Init Counter1":{"main":[[]]},"dadosPaginaCO":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Start Loop1":{"main":[[{"node":"Increment1","type":"main","index":0}]]},"enviaMsgConsultor":{"main":[[{"node":"Enviar texto4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":false,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46bdf37b-1580-46f5-87f6-b85ea5d71a62","triggerCount":1,"shared":[{"createdAt":"2025-09-08T22:20:50.603Z","updatedAt":"2025-09-08T22:20:50.603Z","role":"workflow:owner","workflowId":"XhjcugbhTkouAibG","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-28T19:44:53.128Z","updatedAt":"2025-09-28T19:44:53.128Z","id":"uYzIr5js8HQEzArg","name":"EVO ZAP.TOP.COB"}]}