tmr_popula_cor_beneficiario-pXml7CppjIPPpAht.json
{"createdAt":"2025-10-24T16:48:34.327Z","updatedAt":"2025-10-27T22:45:26.903Z","id":"pXml7CppjIPPpAht","name":"TMR_POPULA_COR_BENEFICIARIO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-912,448],"id":"e8500c3f-58d7-4f5a-b550-848195072e74","name":"When clicking ‘Execute workflow’"},{"parameters":{},"name":"Start Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,640],"id":"012c86b6-c2ee-45cd-8885-8bc375ab06be"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop\"].json[\"counter\"] +1 }}"}]},"options":{}},"name":"Increment","type":"n8n-nodes-base.set","typeVersion":1,"position":[-496,640],"id":"5303b037-74ac-4eaa-a961-02ea64e36041"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{ $('buscaIncremental').item.json.pagina.toNumber() }}"}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[160,448],"id":"217fbc6f-0df9-4701-b07c-4e1a338e5856"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment').item.json[\"counter\"] }}","value2":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}"}]}},"name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,1216],"id":"7213cc04-a96e-49d8-988a-97369f5fe4a0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,448],"id":"6ff7ec33-b2b0-4448-8ad5-4b14ad2b780e","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[160,256],"id":"12370bda-cc37-431b-8e2c-d00cc52b4a9c","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,448],"id":"beafd762-3af4-493c-9c3d-ccd25593a748","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"387803e0-26e2-4d52-9ae4-a74f6b3ebdf6","name":"codigo_beneficiario","value":"={{ $('splitBeneficiarios').item.json.beneficiarios.codigo_beneficiario }}","type":"string"},{"id":"dfd696f6-4bb3-475d-b914-223b903ac653","name":"codigo_associado","value":"={{ $('splitBeneficiarios').item.json.beneficiarios.codigo_associado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,848],"id":"08c8e1a4-115d-4acd-a379-3d112633af3a","name":"dadosPagina"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficiario","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": 1,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"995787c3-a376-4296-b07e-b0b2d526be19","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,448],"continueOnFail":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-288,1216],"id":"814d3636-d3a7-414b-b396-f588caccaf33","name":"Aggregate1"},{"parameters":{"path":"atualiza_beneficios","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-912,96],"id":"53eb0088-f1b1-4f4b-a44f-12999b595470","name":"Webhook","webhookId":"e784bd23-27c7-48a2-a07c-ee269b68666f","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-912,272],"id":"163178f8-5526-42bb-a9d9-37d4f81fa53b","name":"Schedule Trigger","disabled":true},{"parameters":{"operation":"executeQuery","query":"delete from public.\"cor_beneficiario\"\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-304,256],"id":"8fdc4651-c133-479a-9557-b84c84808f89","name":"Execute a SQL query1","executeOnce":true,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH duplicados AS (\n    SELECT \n        \"idBIBoletos\"\n    FROM (\n        SELECT \n            \"idBIBoletos\",\n            nosso_numero,\n            ROW_NUMBER() OVER (\n                PARTITION BY nosso_numero \n                ORDER BY \"idBIBoletos\"\n            ) AS ordem\n        FROM public.\"topBoletos\"\n        WHERE nosso_numero IS NOT NULL\n    ) t\n    WHERE ordem > 1  -- mantém apenas os duplicados (linha 2 em diante)\n)\nDELETE FROM public.\"topBoletos\" b\nUSING duplicados d\nWHERE b.\"idBIBoletos\" = d.\"idBIBoletos\";","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,1216],"id":"8d4e6fa5-7e08-449c-8b76-455f325b367e","name":"Execute a SQL query","executeOnce":true,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficio-beneficiario/{{ $json.codigo_beneficiario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('dadosPaginas').item.json.tokenBD }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_beneficiario\": \"{{ $('dadosPagina').item.json.codigo_beneficiario }}\"\n}","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"f3a11061-4f4c-45e9-92b2-9c6aadc71415","name":"buscaBeneficios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,1040],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.beneficios","options":{"destinationFieldName":"beneficios"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,1040],"id":"563a1854-0445-4727-aaea-5fe1e2f0f464","name":"splitBeneficios","alwaysOutputData":true},{"parameters":{"tableId":"cor_beneficiario","fieldsUi":{"fieldValues":[{"fieldId":"cod_beneficiario","fieldValue":"={{ $('buscaBeneficios').item.json.body.codigo_beneficiario }}"},{"fieldId":"nom_beneficiario","fieldValue":"={{ $('buscaBeneficios').item.json.body.nome }}"},{"fieldId":"cpf_beneficiario","fieldValue":"={{ $('buscaBeneficios').item.json.body.cpf }}"},{"fieldId":"dom_sexo","fieldValue":"={{ $('buscaBeneficios').item.json.body.sexo }}"},{"fieldId":"tel_beneficiario","fieldValue":"={{ $('buscaBeneficios').item.json.body.telefone }}"},{"fieldId":"cel_beneficiario","fieldValue":"={{ $('buscaBeneficios').item.json.body.celular }}"},{"fieldId":"dat_contrato_beneficiario","fieldValue":"={{ $('buscaBeneficios').item.json.body.data_contrato }}"},{"fieldId":"descricao_situacao_sga","fieldValue":"={{ $('buscaBeneficios').item.json.body.situacao }}"},{"fieldId":"cod_beneficio","fieldValue":"={{ $json.beneficios.codigo_beneficio }}"},{"fieldId":"dsc_beneficio","fieldValue":"={{ $json.beneficios.descricao }}"},{"fieldId":"dom_sit_beneficio","fieldValue":"={{ $json.beneficios.situacao }}"},{"fieldId":"id_associado","fieldValue":"={{ $('dadosPagina').item.json.codigo_associado }}"},{"fieldId":"dom_sit_associado","fieldValue":"={{ $('buscaBeneficios').item.json.body.situacao_associado }}"},{"fieldId":"pagina","fieldValue":"={{ $('dadosPaginas').item.json.pagina }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,1040],"id":"b70d3655-a6b1-4e64-9ac8-6aacbb879bbd","name":"gravaBeneficios","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":1,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('Increment').item.json.counter - 1 }}","type":"number"},{"id":"09be3692-ed42-473f-99f4-c727f106025b","name":"tokenBD","value":"={{ $('buscaTokenBD').item.json.descricaoDominio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,640],"id":"52f76c7f-cddc-4aff-a0a9-beecae17acd3","name":"dadosPaginas"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficiario","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('dadosPaginas').item.json.tokenBD }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": {{ $('dadosPaginas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('dadosPaginas').item.json.pagina }}\n}","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"6f1a8a59-e0d5-4534-8af8-0a0735f9d6f1","name":"buscaBeneficiarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,848],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.benficiarios","options":{"destinationFieldName":"beneficiarios"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,848],"id":"5b3b2a67-5d72-484c-a693-cf75b53b3570","name":"splitBeneficiarios","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"with ultima_pagina as (\n  select max(pagina) as pagina from cor_beneficiario\n)\nselect\n  u.pagina,\n  coalesce(count(c.id_beneficiario), 0) as total\nfrom\n  ultima_pagina u\n  left join cor_beneficiario c on c.pagina = u.pagina\ngroup by\n  u.pagina;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,256],"id":"a24ca011-c979-44f7-813e-3040f31552c2","name":"buscaIncremental","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0b09d3a8-61fd-4409-a831-ebed10db46c5","leftValue":"={{ $('buscaIncremental').item.json.pagina.toNumber() }}","rightValue":"={{ $json.pagina }}","operator":{"type":"number","operation":"lt"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,640],"id":"c00e49a9-f551-4453-b18e-cd273677669e","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,848],"id":"17942888-61cb-4350-9df0-bbe1853b3a44","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,1040],"id":"a7be3229-6a78-4cce-8d98-4fd9cf38f131","name":"If4"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[608,1040],"id":"d68becdf-8e0c-4c54-8a32-92142a22a0d9","name":"Wait","webhookId":"05d67409-114b-4127-a93b-047ae616f764"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[400,688],"id":"71c482cc-b30f-4ccf-9c09-81cca0f544c7","name":"Stop and Error"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Start Loop":{"main":[[{"node":"Increment","type":"main","index":0}]]},"Increment":{"main":[[{"node":"dadosPaginas","type":"main","index":0},{"node":"IF5","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"Start Loop","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Start Loop","type":"main","index":0}],[{"node":"Aggregate1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Init Counter","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"dadosPagina":{"main":[[{"node":"buscaBeneficios","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Aggregate1":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"buscaIncremental","type":"main","index":0}]]},"buscaBeneficios":{"main":[[{"node":"If4","type":"main","index":0}]]},"splitBeneficios":{"main":[[{"node":"gravaBeneficios","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"If","type":"main","index":0}]]},"buscaBeneficiarios":{"main":[[{"node":"If3","type":"main","index":0}]]},"splitBeneficiarios":{"main":[[{"node":"dadosPagina","type":"main","index":0}]]},"buscaIncremental":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"If":{"main":[[{"node":"buscaBeneficiarios","type":"main","index":0}],[]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"splitBeneficiarios","type":"main","index":0}]]},"If4":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"splitBeneficios","type":"main","index":0}]]},"gravaBeneficios":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4f10ab5-b445-481b-81b5-99f16906fef7","triggerCount":1,"shared":[{"createdAt":"2025-10-24T16:48:34.327Z","updatedAt":"2025-10-24T16:48:34.327Z","role":"workflow:owner","workflowId":"pXml7CppjIPPpAht","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}