tmr_tipo_carga_veic_sga_top-o4KroYTJj4xMMWxe.json
{"createdAt":"2025-12-09T18:07:22.828Z","updatedAt":"2025-12-09T18:07:53.199Z","id":"o4KroYTJj4xMMWxe","name":"TMR_TIPO_CARGA_VEIC_SGA_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,-32],"id":"50094259-41c0-4ab3-9985-6eb8a376c8d8","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-32],"id":"74cb8089-fefd-4b37-a5f2-4e9adb59c6b1","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-96,-32],"id":"8b37b528-1a04-4b23-8156-6dc30aed5804","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-32],"id":"8b4fd644-327b-4124-8369-30e566284509","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,-48],"id":"3ab24ad4-b1e4-4242-9b80-3788d1c3f3c1","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 20 * * *"}]}},"id":"82808b87-608b-4097-af20-6b4f1953648c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-544,160]},{"parameters":{"path":"df1fab13-6ed5-410b-94b1-f4e0ac245529","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-224],"id":"d6ea0c7b-a1d7-4d0b-bb45-628c46f5a123","name":"Webhook","webhookId":"df1fab13-6ed5-410b-94b1-f4e0ac245529"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Depreciação - Finalizado \n{{ 'Inseridas: ' + $json.total_inseridos + '\\n' +\n   'Atualizadas: ' + $json.total_atualizados + '\\n' +\n   'Ativadas: ' + $json.total_ativos + '\\n' +\n   'Inativadas: ' + $json.total_inativos }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[784,192],"id":"a5609f71-b386-4706-9c27-cdf4b040ff2b","name":"Send message1","webhookId":"9ef9b4ae-ac0b-4d8c-9b34-6a8dcf490b04","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/tipo-carga/listar/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"d7894152-adc0-46ff-ad06-2d678af76f9f","name":"buscaDadosSGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,-32],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n    -- Normaliza o JSON para sempre virar um array\n    SELECT\n        CASE\n            WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n            ELSE jsonb_build_array($1::jsonb)\n        END AS js\n),\n\n-- Extrai todos os arrays possíveis (body, data, resultados, ou array direto)\narrays AS (\n    SELECT\n        CASE\n            WHEN jsonb_typeof(elem->'body') = 'array' THEN elem->'body'\n            WHEN jsonb_typeof(elem->'data') = 'array' THEN elem->'data'\n            WHEN jsonb_typeof(elem) = 'array'          THEN elem\n            ELSE jsonb_build_array(elem)\n        END AS arr\n    FROM entrada, jsonb_array_elements(entrada.js) AS elem\n),\n\n-- Explode os arrays finais em itens individuais\nraw AS (\n    SELECT jsonb_array_elements(arr) AS elem\n    FROM arrays\n),\n\n-- Normaliza os campos esperados\nnorm AS (\n    SELECT\n        'DOM_TPO_CARGA' AS id_dominio,\n\n        elem->>'descricao'     AS val_dominio,\n        elem->>'descricao'     AS dsc_val_dominio,\n        elem->>'situacao'      AS sit_val_dominio,\n\n        COALESCE(\n            NULLIF(elem->>'codigo_tipocarga',''),\n            NULLIF(elem->>'codigo','')\n        )::int2 AS seq_dominio\n\n    FROM raw\n),\n\n-- Filtra registros válidos\nvalidos AS (\n    SELECT *\n    FROM norm\n    WHERE val_dominio IS NOT NULL\n      AND seq_dominio IS NOT NULL\n),\n\n-- UPSERT (inserção ou atualização)\nupsert AS (\n    INSERT INTO cor_val_dominio (\n        id_dominio,\n        val_dominio,\n        dsc_val_dominio,\n        sit_val_dominio,\n        seq_dominio\n    )\n    SELECT *\n    FROM validos\n    ON CONFLICT (id_dominio, val_dominio)\n    DO UPDATE SET\n        dsc_val_dominio = EXCLUDED.dsc_val_dominio,\n        sit_val_dominio = EXCLUDED.sit_val_dominio,\n        seq_dominio     = EXCLUDED.seq_dominio\n    RETURNING\n        (xmax = 0) AS inserted,\n        (xmax <> 0) AS updated,\n        sit_val_dominio\n),\n\n-- Estatísticas finais\nstats AS (\n    SELECT\n        COUNT(*) FILTER (WHERE inserted) AS total_inseridos,\n        COUNT(*) FILTER (WHERE updated)  AS total_atualizados,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'ATIVO')   AS total_ativos,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'INATIVO') AS total_inativos\n    FROM upsert\n)\n\nSELECT * FROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDadosSGA').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,192],"id":"937a9569-9d90-4d88-ac66-8a2fa21eb489","name":"gravaDadosERPTop","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaDadosSGA","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaDadosERPTop","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaDadosSGA":{"main":[[{"node":"If1","type":"main","index":0}]]},"gravaDadosERPTop":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"683d31d5-061a-4880-94d7-f57c7aa4415f","triggerCount":0,"shared":[{"createdAt":"2025-12-09T18:07:22.828Z","updatedAt":"2025-12-09T18:07:22.828Z","role":"workflow:owner","workflowId":"o4KroYTJj4xMMWxe","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}