tmr_popula_erp_cor_beneficiario-d8zReQ32mjfLoyff.json
{"createdAt":"2025-11-03T21:13:24.463Z","updatedAt":"2025-11-05T16:59:14.370Z","id":"d8zReQ32mjfLoyff","name":"TMR_POPULA_ERP_COR_BENEFICIARIO","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,544],"id":"6ab93154-3456-4e8d-8b97-16b382d6aa65","name":"When clicking ‘Execute workflow’","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,144],"id":"0485cab3-2d0f-424e-a593-dc4a258394d5","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,128],"id":"fac92a95-eddd-4213-8aee-a4c83540cbc7","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,144],"id":"f5b63f86-cbf0-4077-9a62-2d9170d6523a","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"atualizar_pessoa_beneficiario","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,144],"id":"43358974-285c-4a78-a97b-fd7e822619bd","name":"Webhook","webhookId":"4840e191-936b-44b5-9662-ad898e0b3543","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":16,"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,336],"id":"451a1176-3c57-4730-a66d-cb22c1dcdc92","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,352],"id":"2a5c947a-7270-4c92-8ab4-9fd9629b7740","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"73f04177-a39f-4d80-8991-32485b2e2190","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"4626c2f4-4158-41c1-834c-ad7e5a359b53","name":"Stop and Error"},{"parameters":{"tableId":"cor_pessoa","fieldsUi":{"fieldValues":[{"fieldId":"nome_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.nome }}"},{"fieldId":"cpf_cnpj_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.cpf }}"},{"fieldId":"telefone_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.ddd }}{{ $('splitDados').item.json.beneficiarios.telefone }}"},{"fieldId":"whatsapp_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.ddd }}{{ $('splitDados').item.json.beneficiarios.telefone_celular }}"},{"fieldId":"tel_comercial_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.ddd_comercial }}{{ $('splitDados').item.json.beneficiarios.telefone_comercial }}"},{"fieldId":"email_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.email }}"},{"fieldId":"dom_tpo_pessoa","fieldValue":"PESSOA FISICA"},{"fieldId":"dom_sexo","fieldValue":"={{ $('splitDados').item.json.beneficiarios.sexo }}"},{"fieldId":"celular_pessoa","fieldValue":"={{ $('splitDados').item.json.beneficiarios.ddd }}{{ $('splitDados').item.json.beneficiarios.telefone_celular }}"},{"fieldId":"cod_beneficiario_sga","fieldValue":"={{ $('splitDados').item.json.beneficiarios.codigo_beneficiario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1232,736],"id":"cdbabf9d-09f7-4c90-834a-76d5dbbdbdde","name":"COR_PESSOA","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"470e63ba-aeb7-4b48-8614-961c70173480","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"2bb8d745-8186-40ce-bae2-39bcc73eea8d","name":"dadosLoop","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,352],"id":"e9042a52-0ec6-4d8a-8872-2e214da58039","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,352],"id":"900646b0-27d6-4def-a253-fa0cfaad08eb","name":"loopPaginas"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[192,560],"id":"4ad42207-c8b1-4a38-8189-dca2369ba8ac","name":"Aggregate","executeOnce":true},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,352],"id":"de9e1b2a-0e56-4843-87f4-6a0b7570aa76","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficiario","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"4c370dd9-b03d-4af6-91e0-9ac686e0a920","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficiario","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": {{ $('dadosPaginas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('loopPaginas').item.json.pagina.counter }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"2459acc1-4954-4ef2-90d8-6975f6c897de","name":"buscaDados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.benficiarios","options":{"destinationFieldName":"beneficiarios"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,736],"id":"e1f65980-b46a-4db5-b5c7-619a6a76f96b","name":"splitDados","alwaysOutputData":true},{"parameters":{"tableId":"cor_beneficiario","fieldsUi":{"fieldValues":[{"fieldId":"id_pessoa","fieldValue":"={{ $json.id_pessoa }}"},{"fieldId":"cod_beneficiario","fieldValue":"={{ $('splitDados').item.json.beneficiarios.codigo_beneficiario }}"},{"fieldId":"cod_situacao_sga","fieldValue":"={{ $('splitDados').item.json.beneficiarios.codigo_situacao }}"},{"fieldId":"descricao_situacao_sga","fieldValue":"={{ $('splitDados').item.json.beneficiarios.descricao_situacao }}"},{"fieldId":"pagina","fieldValue":"={{ $('loopPaginas').item.json.pagina.counter }}"},{"fieldId":"cod_associado_sga","fieldValue":"={{ $('splitDados').item.json.beneficiarios.codigo_associado}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1456,736],"id":"7eb0b0c8-f8eb-41eb-8839-fe76c178687e","name":"newCOR_BENEFICIARIO","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/beneficio-beneficiario/{{ $json.codigo_beneficiario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('dadosPaginas').item.json.tokenBD }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_beneficiario\": \"{{ $('Loop Over Items').item.json.codigo_beneficiario }}\"\n}","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"37feac24-03c7-487b-8eb3-0b75bb702881","name":"buscaBeneficios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1056,176],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.beneficios","options":{"destinationFieldName":"beneficios"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[832,384],"id":"35c6dacb-ef5e-4ca7-8be8-8be9519b96cc","name":"splitBeneficios","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,176],"id":"d5d51506-46e6-4bf0-a9d1-279fa03d2849","name":"If4"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1504,32],"id":"af6c315e-02ea-49e7-841f-883f40488670","name":"Stop and Error2"},{"parameters":{"operation":"getAll","tableId":"cor_beneficiario","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,176],"id":"728beb22-8c65-42c5-a2c1-c44013ad4207","name":"buscaBDBeneficiarios","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,176],"id":"8b0eda96-88ac-4033-8792-ac582d2ce154","name":"Loop Over Items"},{"parameters":{"tableId":"cor_beneficio","fieldsUi":{"fieldValues":[{"fieldId":"id_beneficiario","fieldValue":"={{ $('COR_BENEFICIARIO').item.json.id_beneficiario }}"},{"fieldId":"cod_beneficio","fieldValue":"={{ $json.beneficios.codigo_beneficio }}"},{"fieldId":"dsc_beneficio","fieldValue":"={{ $json.beneficios.descricao }}"},{"fieldId":"dom_sit_beneficio","fieldValue":"={{ $json.beneficios.situacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1056,384],"id":"7fe9f8f9-0e43-4ebb-9b7c-5c6374f9536e","name":"COR_BENEFICIO","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1280,384],"id":"f85a55d2-de1e-4d0b-8582-6845dcb482ee","name":"Aggregate1","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[192,736],"id":"833152fe-1ae4-442b-8ebf-3454f17a6cb4","name":"loop"},{"parameters":{"operation":"executeQuery","query":"WITH upsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_recados_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_beneficiario_sga\n  )\n  VALUES (\n    '{{ $(\"loop\").item.json.beneficiarios.nome }}',\n    '{{ $(\"loop\").item.json.beneficiarios.cpf }}',\n    'FISICA',\n    '{{ $(\"loop\").item.json.beneficiarios.ddd }}{{ $(\"loop\").item.json.beneficiarios.telefone }}',\n    '{{ $(\"loop\").item.json.beneficiarios.ddd }}{{ $(\"loop\").item.json.beneficiarios.telefone_celular }}',\n    '{{ $(\"loop\").item.json.beneficiarios.ddd }}{{ $(\"loop\").item.json.beneficiarios.telefone_celular }}',\n    '',\n    '{{ $(\"loop\").item.json.beneficiarios.ddd_comercial }}{{ $(\"loop\").item.json.beneficiarios.telefone_comercial }}',\n    '{{ $(\"loop\").item.json.beneficiarios.email }}',\n    '{{ $(\"loop\").item.json.beneficiarios.sexo }}',\n    '{{ $(\"loop\").item.json.beneficiarios.codigo_beneficiario }}'\n  )\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa = EXCLUDED.nome_pessoa,\n    dom_tpo_pessoa = EXCLUDED.dom_tpo_pessoa,\n    telefone_pessoa = EXCLUDED.telefone_pessoa,\n    whatsapp_pessoa = EXCLUDED.whatsapp_pessoa,\n    celular_pessoa = EXCLUDED.celular_pessoa,\n    tel_comercial_pessoa = EXCLUDED.tel_comercial_pessoa,\n    email_pessoa = EXCLUDED.email_pessoa,\n    dom_sexo = EXCLUDED.dom_sexo,\n    cod_beneficiario_sga = EXCLUDED.cod_beneficiario_sga\n  RETURNING id_pessoa\n)\nINSERT INTO public.cor_beneficiario (\n  id_pessoa,\n  id_associado,\n  cod_beneficiario,\n  dat_cad_beneficiario,\n  dat_contrato_beneficiario,\n  cod_situacao_sga,\n  descricao_situacao_sga,\n  pagina,\n  cod_associado_sga\n)\nSELECT\n  p.id_pessoa,\n  NULL,\n  '{{ $(\"loop\").item.json.beneficiarios.codigo_beneficiario }}',\n  NOW(),\n  NULL,\n  '{{ $(\"loop\").item.json.beneficiarios.codigo_situacao }}',\n  '{{ $(\"loop\").item.json.beneficiarios.descricao_situacao }}',\n  NULL,\n  '{{ $(\"loop\").item.json.beneficiarios.codigo_associado }}'\nFROM upsert_pessoa p\nWHERE NOT EXISTS (\n  SELECT 1 FROM public.cor_beneficiario b\n  WHERE b.cod_beneficiario = '{{ $(\"loop\").item.json.beneficiarios.codigo_beneficiario }}'\n)\nRETURNING id_beneficiario, id_pessoa;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,736],"id":"5b2c7406-e396-42ae-bb70-d2ad5e64fe63","name":"gravaDados","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"buscaDados","type":"main","index":0}]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"splitDados","type":"main","index":0}]]},"COR_PESSOA":{"main":[[{"node":"newCOR_BENEFICIARIO","type":"main","index":0}],[]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Stop and Error2","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaDados":{"main":[[{"node":"If3","type":"main","index":0}]]},"splitDados":{"main":[[{"node":"loop","type":"main","index":0}]]},"newCOR_BENEFICIARIO":{"main":[[]]},"buscaBeneficios":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Stop and Error2","type":"main","index":0}],[{"node":"splitBeneficios","type":"main","index":0}]]},"buscaBDBeneficiarios":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"buscaBeneficios","type":"main","index":0}]]},"splitBeneficios":{"main":[[{"node":"COR_BENEFICIO","type":"main","index":0}]]},"COR_BENEFICIO":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"loop":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"gravaDados","type":"main","index":0}]]},"gravaDados":{"main":[[{"node":"loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44b6a96a-6035-45b3-b17f-d5ea0fffed72","triggerCount":2,"shared":[{"createdAt":"2025-11-03T21:13:24.463Z","updatedAt":"2025-11-03T21:13:24.463Z","role":"workflow:owner","workflowId":"d8zReQ32mjfLoyff","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}