tmr_executa_follow_up-9bH19rHTUXlPO74V.json
{"createdAt":"2025-07-12T12:18:45.033Z","updatedAt":"2025-09-03T15:15:03.222Z","id":"9bH19rHTUXlPO74V","name":"TMR_EXECUTA_FOLLOW_UP","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"c5260c1c-73f7-4082-81c0-a056e52f77f9","name":"LEADS","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[176,976]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 11 * * *"}]}},"id":"f007ea60-bb38-4558-be16-11c40d808af5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-240,976]},{"parameters":{"content":"FollowUp\n\nDia 1\nD-2 a D-1\n\nDia 3\nD-4 a D-3\n\nDia 7\nD-8 a D-7\n\nDia 15\nD-16 a D-15\n\nAdiciona a Tag \nDia 1  = 17134\nDia 3  = 17203\nDia 7  = 17205\nDia 15 = 17206","height":416,"width":288},"type":"n8n-nodes-base.stickyNote","position":[-176,384],"typeVersion":1,"id":"510508cf-1f28-4e66-a4da-02d5bb12a6c7","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,176],"id":"71fed546-83d1-4300-800e-c3c7cbe58cef","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,624],"id":"1e3a7c52-4a92-4ace-90df-cedd709a0a40","name":"Loop Over Items1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,1072],"id":"6dab6991-de11-47c4-a2d3-ad3fb6079004","name":"Loop Over Items2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,1520],"id":"5624be1a-23d0-4bd4-90d9-b8dde7b92b47","name":"Loop Over Items3"},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"1","di":"2","idtag":"17134","cadencia":"Dia 1","apikey":"={{$('buscaDadosAPI TOP').item.json.apiKey}}","base":"={{$('buscaDadosAPI TOP').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD1').item.json.mensagemfixa }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1744,192],"id":"abb9d279-3f8a-4b91-9743-27644adfdef8","name":"Execute Workflow","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"3","di":"4","idtag":"17203","cadencia":"Dia 3","apikey":"={{$('buscaDadosAPI3 TOP').item.json.apiKey}}","base":"={{$('buscaDadosAPI3 TOP').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD3').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,640],"id":"c9ddefd6-ed34-462c-858e-c1b9ed045453","name":"Execute Workflow1","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"7","di":"8","idtag":"17205","cadencia":"Dia 7","apikey":"={{$('buscaDadosAPI7 TOP').item.json.apiKey}}","base":"={{$('buscaDadosAPI7 TOP').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD7').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,1088],"id":"c22df96a-626b-46e3-88d9-c20f6c96d102","name":"Execute Workflow2","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"15","di":"16","idtag":"17206","cadencia":"Dia 15","apikey":"={{$('buscaDadosAPI15 TOP').item.json.apiKey}}","base":"={{$('buscaDadosAPI15 TOP').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD15').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,1536],"id":"59296d65-cbee-4279-9022-5e6857f9f7fd","name":"Execute Workflow3","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[400,464],"id":"baf8269b-adac-4345-83f9-cb461e680196","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[416,928],"id":"0366850e-2c61-438b-8f93-f8af47437857","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[416,1344],"id":"468da9aa-cef8-48c6-a610-652a9e1cb7b5","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[416,1792],"id":"653be89f-5747-4e96-9383-4766b4b3665f","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"H2AJ7IF7RBb1AwlY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=7","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[416,1200],"id":"78e5ed5c-6f77-488d-856f-7c9d1a82d5f2","name":"iaFollowUp7","disabled":true},{"parameters":{"promptType":"define","text":"=15","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[416,1632],"id":"fab8f921-661b-44d9-b1e8-fe07852bde5a","name":"iaFollowUp15","disabled":true},{"parameters":{"promptType":"define","text":"=3","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[416,736],"id":"eadb3a6a-90fb-41d7-85c0-24c5799515df","name":"iaFollowUp3","disabled":true},{"parameters":{"promptType":"define","text":"=1","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[400,288],"id":"d7f938ce-ded8-44ad-9c5c-fdc6bae2c61e","name":"iaFollowUp1"},{"parameters":{"assignments":{"assignments":[{"id":"423ab11f-b396-43bf-9770-717a73860106","name":"prompt","value":"=Seu papel é gerar mensagens amigáveis e personalizadas de acompanhamento (follow-up) para leads interessados em proteger seus veículos na Top Brasil Proteção Veicular. Sabendo que os leads chegaram ao sistema há alguns dias e estão em atendimento com um consultor humano, sua missão é criar mensagens pontuais, espontâneas e respeitosas, conforme o tempo desde a entrada do lead, com o objetivo de reforçar a presença da marca, manter o lead interessado e oferecer ajuda se necessário.\n\nVocê utilizará o número recebido do \"User Message\" para saber há quantos dias o lead foi cadastrado no sistema, podendo ser por exemplo: 1, 3, 7, 15 e etc.\n\nModelo de mensagem para que você possa utilizar como exemplo:\n\"Olá. Queria saber como está a sua busca pela proteção ideal para o seu veículo. Caso precise de ajuda para esclarecer alguma dúvida ou entender melhor o que está incluso nossos planos de proteção da Top Brasil, estou à disposição para te auxiliar!\nFico à disposição, me chame sempre que precisar!\"\n\nREGRAS\nSempre mencione que é da Top Brasil e utilize a palavra veículo quando for se referir ao carro, moto ou caminhão\n\nEscreva sempre em português brasileiro.\n\nUse um tom de conversa leve e acolhedor, como se falasse com um amigo de longa data.\n\nAdapte o tom da mensagem de acordo com o tempo desde o cadastro do lead:\n\nD+1 → Abertura inicial, convite para conversar, clima leve e receptivo.\n\nD+3 → Reforço gentil, perguntando se teve tempo de ver a proposta ou se quer ajuda.\n\nD+7 → Check-in informal, para relembrar a proteção e se colocar à disposição.\n\nD+15 → Último toque amigável, sem pressão, oferecendo ajuda caso ainda queira.\n\nSempre que usar termos técnicos de seguros, substitua por linguagem leiga:\n\n“Sinistro” → “Evento”\n\n“Franquia” → “Participação obrigatória”\n\n“Apólice” → “Plano de proteção”\n\n“Cobertura” → “O que está incluído”\n\nPode usar até 1 emoji leve, se fizer sentido.\n\nRESTRIÇÕES\nJamais gere mensagens com os seguintes conteúdos:\n\n❌ \"Seu atendimento já começou com a equipe da Top Brasil\"\n\n❌ \"Você já está conversando com um consultor\"\n\n❌ \"Seu atendimento está em andamento\"\n\n❌ Linguagem comercial direta (ex: “aproveite agora”, “última chance”, “imperdível”)\n\n❌ Pressão para fechamento\n\n❌ Múltiplos emojis\n\n❌ Nunca citar *D+1*, *D+3* ou algo parecido\n\n❌ Nunca citar nomes\n\n❌ Nunca citar palavras como possante, caranga, etc\n\n❌ Por aqui na Top Brasil,\n\n❌ Não pedir para te dar umm grito\n\nCOMPORTAMENTO\nAja como um velho amigo que conhece a pessoa a anos.\n\nNão force a venda. Sua missão é abrir espaço para conversa e demonstrar que está à disposição para explicar, tirar dúvidas ou ajudar com a decisão.\n\nTrate cada lead como único, com simpatia e gentileza.\n\nSe o lead perguntar sobre regras, limites ou condições, diga que vai consultar o regulamento da Top Brasil.\n\nPROCEDIMENTO\nUse o número recebido no \"User Message\" como quantidade de dias desde a entrada do lead.\n\nAdapte a mensagem ao tempo do lead na cadência de dias após o cadastro no sistema.\n\nSeja sutil, criativo e natural — nada de parecer robótico ou automático.\n\nLembre-se: apenas gerar a mensagem, não iniciar uma conversa contínua.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,976],"id":"2bc15db8-9fe7-4074-b3be-d3024314ba29","name":"prompt"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,400],"id":"d2f733b4-e462-4031-bf39-9ba4fbd8d116","name":"Loop Over Items4"},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"1","di":"2","idtag":"17134","cadencia":"Dia 1","apikey":"={{$('buscaDadosAPI1 RedeAuto').item.json.apiKey}}","base":"={{$('buscaDadosAPI1 RedeAuto').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD1').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1744,416],"id":"e83da6d0-8da5-4cac-a3a9-9e8a5ee1bf64","name":"Execute Workflow4","executeOnce":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"REDEAUTO*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,400],"id":"2be92d98-e511-44aa-bff4-4d83866fd808","name":"buscaDadosAPI1 RedeAuto","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"TOP*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,176],"id":"353e5da5-156f-4f6b-8a05-a64a9da2796c","name":"buscaDadosAPI TOP","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,848],"id":"c8f3c304-dd48-4730-9a91-2f17d4a775c9","name":"Loop Over Items5"},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"3","di":"4","idtag":"17203","cadencia":"Dia 3","apikey":"={{$('buscaDadosAPI3 REDEAUTO').item.json.apiKey}}","base":"={{$('buscaDadosAPI3 REDEAUTO').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD3').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,864],"id":"27966746-2ecc-4fbe-ae87-1cd8280cf32f","name":"Execute Workflow5","disabled":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"REDEAUTO*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,848],"id":"edd411c6-1c55-4cfa-b088-1dc8e9025053","name":"buscaDadosAPI3 REDEAUTO","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"TOP*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,624],"id":"3fa51142-f1b5-42fa-9afa-0af20e834ca8","name":"buscaDadosAPI3 TOP","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,1296],"id":"7b43424c-20db-4b6a-b08d-934bf28e7f5c","name":"Loop Over Items6"},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"7","di":"8","idtag":"17205","cadencia":"Dia 7","apikey":"={{$('buscaDadosAPI7 REDEAUTO').item.json.apiKey}}","base":"={{$('buscaDadosAPI7 REDEAUTO').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD7').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,1312],"id":"2a27d4e7-700d-4b68-b422-bb2e2ee7d54b","name":"Execute Workflow6","disabled":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"TOP*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,1072],"id":"ef15142b-7229-4750-8f6d-e5d81adcb733","name":"buscaDadosAPI7 TOP","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"REDEAUTO*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,1296],"id":"b095abe8-b48e-4a0e-8627-71c7f079ff1b","name":"buscaDadosAPI7 REDEAUTO","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,1744],"id":"0576fb38-39fc-4c8a-a116-a1d0265e49e6","name":"Loop Over Items7"},{"parameters":{"workflowId":{"__rl":true,"value":"PfL6ivJtH269gM2K","mode":"list","cachedResultName":"WH_FLWUP_D1_ADD_TAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"df":"15","di":"16","idtag":"17206","cadencia":"Dia 15","apikey":"={{$('buscaDadosAPI REDEAUTO').item.json.apiKey}}","base":"={{$('buscaDadosAPI REDEAUTO').item.json.nomeDominio}}","mensagem":"={{ $('mensagemD15').item.json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"df","displayName":"df","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"di","displayName":"di","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"idtag","displayName":"idtag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"cadencia","displayName":"cadencia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1536,1760],"id":"3efff930-e9db-40a8-93d8-dfbec30e993b","name":"Execute Workflow7","disabled":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"TOP*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,1520],"id":"83cf00ec-6643-4cef-95ab-178c05ec2981","name":"buscaDadosAPI15 TOP","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"like","keyValue":"REDEAUTO*"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,1744],"id":"2777e892-56c2-4dda-a60d-7ad8eae80f61","name":"buscaDadosAPI REDEAUTO","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a650032-a27e-4e8b-9481-3af16e4ad1ed","name":"mensagem","value":"={{$('iaFollowUp1').item.json.output}}","type":"string"},{"id":"f0840c7a-3973-43c2-acc7-9f69e8dda6c9","name":"mensagemfixa","value":"={{ 'Sou a Fia, sua assistente virtual na TopBrasil.\\n' +\n'Nosso consultor já está cuidando da sua solicitação de cotação.\\n\\n' +\n'Enquanto isso, sabia que protegemos mais de 50 mil veículos em todo Brasil? Somos referência pelo nosso atendimento ágil, coberturas completas e indenizações rápidas!\\n\\n' +\n'Vou te enviar um vídeo para você descobrir como iremos cuidar de cada detalhe para garantir sua segurança e tranquilidade? 🚗✨' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,288],"id":"22e3b16c-9ed6-4d9d-b888-8ac3d75cccdb","name":"mensagemD1"},{"parameters":{"assignments":{"assignments":[{"id":"3a650032-a27e-4e8b-9481-3af16e4ad1ed","name":"mensagem","value":"={{$('iaFollowUp3').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,736],"id":"f6ee0f11-58e7-45fb-aa82-b3ff8651e61b","name":"mensagemD3"},{"parameters":{"assignments":{"assignments":[{"id":"3a650032-a27e-4e8b-9481-3af16e4ad1ed","name":"mensagem","value":"={{$('iaFollowUp7').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,1200],"id":"74a51cef-8dad-4744-8f3f-e4fe950b927d","name":"mensagemD7"},{"parameters":{"assignments":{"assignments":[{"id":"3a650032-a27e-4e8b-9481-3af16e4ad1ed","name":"mensagem","value":"={{$('iaFollowUp15').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,1632],"id":"c29a840a-2207-4768-8c0f-1b75b8320bc9","name":"mensagemD15"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,192],"id":"471563a2-dfd7-4a58-bb65-df9344cc5953","name":"Wait","webhookId":"d6f60190-978a-45f9-8289-87fb532ebfd9"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,416],"id":"4a40af7a-2ec3-48e9-9643-da9cd45751b0","name":"Wait1","webhookId":"c2578965-4390-409f-814d-e796e30e2569"}],"connections":{"LEADS":{"main":[[{"node":"iaFollowUp1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"prompt","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Execute Workflow2","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Execute Workflow3","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"iaFollowUp1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"iaFollowUp3","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"iaFollowUp7","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"iaFollowUp15","type":"ai_languageModel","index":0}]]},"iaFollowUp7":{"main":[[{"node":"mensagemD7","type":"main","index":0}]]},"iaFollowUp15":{"main":[[{"node":"mensagemD15","type":"main","index":0}]]},"iaFollowUp3":{"main":[[{"node":"mensagemD3","type":"main","index":0}]]},"iaFollowUp1":{"main":[[{"node":"mensagemD1","type":"main","index":0}]]},"prompt":{"main":[[{"node":"LEADS","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"buscaDadosAPI1 RedeAuto":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"buscaDadosAPI TOP":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Execute Workflow5","type":"main","index":0}]]},"Execute Workflow5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"buscaDadosAPI3 REDEAUTO":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"buscaDadosAPI3 TOP":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"Execute Workflow6","type":"main","index":0}]]},"Execute Workflow6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"buscaDadosAPI7 TOP":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"buscaDadosAPI7 REDEAUTO":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items7":{"main":[[],[{"node":"Execute Workflow7","type":"main","index":0}]]},"Execute Workflow7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"buscaDadosAPI15 TOP":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscaDadosAPI REDEAUTO":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"mensagemD1":{"main":[[{"node":"buscaDadosAPI TOP","type":"main","index":0},{"node":"buscaDadosAPI1 RedeAuto","type":"main","index":0}]]},"mensagemD3":{"main":[[{"node":"buscaDadosAPI3 TOP","type":"main","index":0},{"node":"buscaDadosAPI3 REDEAUTO","type":"main","index":0}]]},"mensagemD7":{"main":[[{"node":"buscaDadosAPI7 TOP","type":"main","index":0},{"node":"buscaDadosAPI7 REDEAUTO","type":"main","index":0}]]},"mensagemD15":{"main":[[{"node":"buscaDadosAPI15 TOP","type":"main","index":0},{"node":"buscaDadosAPI REDEAUTO","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5004211f-6959-4b92-859e-2228a5a4290c","triggerCount":1,"shared":[{"createdAt":"2025-07-12T12:18:45.033Z","updatedAt":"2025-07-12T12:18:45.033Z","role":"workflow:owner","workflowId":"9bH19rHTUXlPO74V","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.544Z","updatedAt":"2025-07-12T12:17:26.544Z","id":"2IkRnWsdq5TLPNj1","name":"POWERCRM"},{"createdAt":"2025-07-12T12:17:26.631Z","updatedAt":"2025-07-12T12:17:26.631Z","id":"pAcI4LvHGFDKu2yv","name":"INTEGRACAO"},{"createdAt":"2025-07-12T12:17:26.638Z","updatedAt":"2025-07-12T12:17:26.638Z","id":"obilZ9Qb7FfVj03v","name":"ENVIA ZAP"},{"createdAt":"2025-07-12T12:17:26.642Z","updatedAt":"2025-07-12T12:17:26.642Z","id":"TN2r2A362fmMHecy","name":"WHATSAPP"},{"createdAt":"2025-07-12T12:17:26.643Z","updatedAt":"2025-07-12T12:17:26.643Z","id":"70JFpACxjCMjZlIy","name":"TIMER"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"},{"createdAt":"2025-09-03T15:15:01.225Z","updatedAt":"2025-09-03T15:15:01.225Z","id":"cNlQz0w7aRxE8WOS","name":"11:30"}]}