tmr_cor_veic_sga_top-gL4xrPmVIUpcBVb6.json
{"createdAt":"2025-12-09T18:43:44.493Z","updatedAt":"2025-12-09T18:48:24.616Z","id":"gL4xrPmVIUpcBVb6","name":"TMR_COR_VEIC_SGA_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,-208],"id":"5854a41e-f054-4255-85d2-6835402c191d","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-208],"id":"6c9d469e-3511-4815-8290-feb9cafc662a","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-112,-208],"id":"10c492ef-3581-4639-a72a-dbf6aff2ec29","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaDadosSGA').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,-208],"id":"93e9e523-240e-4101-b78d-7b1f9d8df194","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,-224],"id":"168b7bf0-c3be-485d-85c8-24b9f4176884","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 20 * * *"}]}},"id":"e3a5b463-d6ab-420a-84b8-69b9694034f2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-544,-16]},{"parameters":{"path":"b8864242-3871-410d-9cfb-2335be3813c6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-400],"id":"1056035b-88e6-4bfb-83b1-3715e9700711","name":"Webhook","webhookId":"b8864242-3871-410d-9cfb-2335be3813c6"},{"parameters":{"operation":"send","phoneNumberId":"864975313369366","recipientPhoneNumber":"=+5531992240123","textBody":"=Atualização Depreciação - Finalizado \n{{ 'Inseridas: ' + $json.total_inseridos + '\\n' +\n   'Atualizadas: ' + $json.total_atualizados + '\\n' +\n   'Ativadas: ' + $json.total_ativos + '\\n' +\n   'Inativadas: ' + $json.total_inativos }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[784,16],"id":"9e376351-e464-4e14-80d3-c92b5b072fb1","name":"Send message1","webhookId":"67be3e44-5529-4596-b706-952c9c141f34","credentials":{"whatsAppApi":{"id":"uhkZVEvkMfFDnJdn","name":"BM TOP WABA 1659637782089115 3195929809"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/cor/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"b6e7c349-fb60-4ec9-a454-2bff0090ac88","name":"buscaDadosSGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[112,-208],"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n    -- Normaliza o JSON para sempre virar um array\n    SELECT\n        CASE\n            WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n            ELSE jsonb_build_array($1::jsonb)\n        END AS js\n),\n\n-- Extrai todos os arrays possíveis (body, data, resultados, ou array direto)\narrays AS (\n    SELECT\n        CASE\n            WHEN jsonb_typeof(elem->'body') = 'array' THEN elem->'body'\n            WHEN jsonb_typeof(elem->'data') = 'array' THEN elem->'data'\n            WHEN jsonb_typeof(elem) = 'array'          THEN elem\n            ELSE jsonb_build_array(elem)\n        END AS arr\n    FROM entrada, jsonb_array_elements(entrada.js) AS elem\n),\n\n-- Explode os arrays finais em itens individuais\nraw AS (\n    SELECT jsonb_array_elements(arr) AS elem\n    FROM arrays\n),\n\n-- Normaliza os campos esperados\nnorm AS (\n    SELECT\n        'DOM_COR' AS id_dominio,\n\n        elem->>'descricao'     AS val_dominio,\n        elem->>'descricao'     AS dsc_val_dominio,\n        elem->>'situacao'      AS sit_val_dominio,\n\n        COALESCE(\n            NULLIF(elem->>'codigo_cor',''),\n            NULLIF(elem->>'codigo','')\n        )::int2 AS seq_dominio\n\n    FROM raw\n),\n\n-- Filtra registros válidos\nvalidos AS (\n    SELECT *\n    FROM norm\n    WHERE val_dominio IS NOT NULL\n      AND seq_dominio IS NOT NULL\n),\n\n-- UPSERT (inserção ou atualização)\nupsert AS (\n    INSERT INTO cor_val_dominio (\n        id_dominio,\n        val_dominio,\n        dsc_val_dominio,\n        sit_val_dominio,\n        seq_dominio\n    )\n    SELECT *\n    FROM validos\n    ON CONFLICT (id_dominio, val_dominio)\n    DO UPDATE SET\n        dsc_val_dominio = EXCLUDED.dsc_val_dominio,\n        sit_val_dominio = EXCLUDED.sit_val_dominio,\n        seq_dominio     = EXCLUDED.seq_dominio\n    RETURNING\n        (xmax = 0) AS inserted,\n        (xmax <> 0) AS updated,\n        sit_val_dominio\n),\n\n-- Estatísticas finais\nstats AS (\n    SELECT\n        COUNT(*) FILTER (WHERE inserted) AS total_inseridos,\n        COUNT(*) FILTER (WHERE updated)  AS total_atualizados,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'ATIVO')   AS total_ativos,\n        COUNT(*) FILTER (WHERE sit_val_dominio = 'INATIVO') AS total_inativos\n    FROM upsert\n)\n\nSELECT * FROM stats;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaDadosSGA').item.json.body || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,16],"id":"cbdc0a32-a8b8-481d-b39e-ad843d0be3a2","name":"gravaDadosERPTop","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaDadosSGA","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"gravaDadosERPTop","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaDadosSGA":{"main":[[{"node":"If1","type":"main","index":0}]]},"gravaDadosERPTop":{"main":[[{"node":"Send message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"500ba2da-d263-4365-9347-d8f126cbc42b","triggerCount":0,"shared":[{"createdAt":"2025-12-09T18:43:44.493Z","updatedAt":"2025-12-09T18:43:44.493Z","role":"workflow:owner","workflowId":"gL4xrPmVIUpcBVb6","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}