tmr_popula_erp_cor_associados_ina-OdqKZ5RkDSQhDuTs.json
{"createdAt":"2025-11-06T12:05:40.140Z","updatedAt":"2025-11-06T12:50:18.954Z","id":"OdqKZ5RkDSQhDuTs","name":"TMR_POPULA_ERP_COR_ASSOCIADOS_INA","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,544],"id":"ae504972-a25f-46f3-b335-faf418cb05d8","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,144],"id":"0b38f079-8ef4-4784-baf1-087fba2801a3","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultUrl":"/workflow/N0Mpj3nRD1QnF7VH","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,144],"id":"06e4c959-a80e-42f2-a3db-62264e3e1f2d","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,144],"id":"b350e741-4f4e-498d-896b-763fb0afe8f2","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"6fac9a39-9592-4554-958c-28ffc5a0ad04","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,144],"id":"675d1280-665e-42f3-bf0f-130c15a650d3","name":"Webhook","webhookId":"6fac9a39-9592-4554-958c-28ffc5a0ad04","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":19,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,336],"id":"b8ebb204-08e3-447d-89fb-2e56084980b8","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('loopPaginas').item.json.pagina.counter }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,352],"id":"2d846404-c99c-460d-8c70-742b4a5aad74","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,736],"id":"cfdaecbb-cdaa-4f4d-9c2c-aa9c614da712","name":"If3"},{"parameters":{"errorMessage":"API BLOQUEADA"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,544],"id":"068978b5-c161-4c32-a256-1f58896ab957","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,144],"id":"ba17f9c7-ff50-4730-b487-55b9b6401697","name":"dadosDatas"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from(\n    { length: $('dadosAPI').item.json.numero_paginas },\n    (_, i) => ({\n        counter: (($('dadosAPI').item.json.numero_paginas - 1 - i) * 2999)\n    })\n) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,352],"id":"3789809e-733c-4b80-8b60-b9aab9ce2e31","name":"dadosLoop","notes":"{{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i * 2999})) }}\n"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,352],"id":"4061be9a-5606-415f-818d-7fa11ccedc85","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,352],"id":"9a81068b-e8e5-43cc-b127-310b5f5fa726","name":"loopPaginas","alwaysOutputData":false},{"parameters":{"errorMessage":"EXECUTADO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[720,144],"id":"81180da0-fd1a-4758-aaf8-d6a22cf3256e","name":"Stop and Error1"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,352],"id":"2302247e-7162-4559-b930-3abb42088a71","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"2\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"70eec439-15a0-45be-ad07-cded8dc117cd","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,144],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"2\",\n  \"quantidade_por_pagina\": {{ $('dadosPaginas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('dadosPaginas').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"4b43ec65-114b-485e-9a38-d2709e17e045","name":"buscaAssociados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,544],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"WITH dados AS (\n  SELECT DISTINCT ON (cpf)\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd,\n    telefone,\n    telefone_celular,\n    telefone_comercial,\n    email,\n    sexo,\n    codigo_associado\n  FROM json_to_recordset($1::json) AS x(\n    nome text,\n    cpf text,\n    tipo_pessoa text,\n    ddd text,\n    telefone text,\n    telefone_celular text,\n    telefone_comercial text,\n    email text,\n    sexo text,\n    codigo_associado text\n  )\n  WHERE codigo_associado IS NOT NULL\n),\n\n-- 🧩 Insere/atualiza pessoas\nupsert_pessoa AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_comercial_pessoa,\n    email_pessoa,\n    dom_sexo,\n    cod_associado_sga\n  )\n  SELECT\n    nome,\n    cpf,\n    tipo_pessoa,\n    ddd || telefone,\n    ddd || telefone_celular,\n    ddd || telefone_celular,\n    ddd || telefone_comercial,\n    email,\n    sexo,\n    codigo_associado::bigint\n  FROM dados\n  ON CONFLICT (cpf_cnpj_pessoa)\n  DO UPDATE SET\n    nome_pessoa = COALESCE(EXCLUDED.nome_pessoa, cor_pessoa.nome_pessoa),\n    dom_tpo_pessoa = COALESCE(EXCLUDED.dom_tpo_pessoa, cor_pessoa.dom_tpo_pessoa),\n    telefone_pessoa = COALESCE(NULLIF(EXCLUDED.telefone_pessoa, ''), cor_pessoa.telefone_pessoa),\n    whatsapp_pessoa = COALESCE(NULLIF(EXCLUDED.whatsapp_pessoa, ''), cor_pessoa.whatsapp_pessoa),\n    celular_pessoa = COALESCE(NULLIF(EXCLUDED.celular_pessoa, ''), cor_pessoa.celular_pessoa),\n    tel_comercial_pessoa = COALESCE(NULLIF(EXCLUDED.tel_comercial_pessoa, ''), cor_pessoa.tel_comercial_pessoa),\n    email_pessoa = COALESCE(NULLIF(EXCLUDED.email_pessoa, ''), cor_pessoa.email_pessoa),\n    dom_sexo = COALESCE(NULLIF(EXCLUDED.dom_sexo, ''), cor_pessoa.dom_sexo),\n    cod_associado_sga = COALESCE(EXCLUDED.cod_associado_sga, cor_pessoa.cod_associado_sga)\n  RETURNING id_pessoa, cpf_cnpj_pessoa, cod_associado_sga\n),\n\n-- 🧩 Cria associados novos\nassociado_insert AS (\n  INSERT INTO public.cor_associado (\n    id_pessoa,\n    dom_cat_associado,\n    dom_sit_associado\n  )\n  SELECT p.id_pessoa, 'Associado', 'Inativo'\n  FROM upsert_pessoa p\n  WHERE p.cod_associado_sga IS NOT NULL\n  AND NOT EXISTS (\n    SELECT 1 FROM public.cor_associado a WHERE a.id_pessoa = p.id_pessoa\n  )\n  RETURNING id_associado, id_pessoa\n)\n\n-- 🧩 Atualiza associados existentes\nUPDATE public.cor_associado ca\nSET\n  dom_cat_associado = COALESCE(ca.dom_cat_associado, 'Associado'),\n  dom_sit_associado = CASE\n    WHEN ca.dom_sit_associado IS DISTINCT FROM 'Inativo' THEN 'Inativo'\n    ELSE ca.dom_sit_associado\n  END\nWHERE ca.id_pessoa IN (SELECT id_pessoa FROM upsert_pessoa);\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaAssociados').item.json.body.associados || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,736],"id":"c2818575-b8f9-4904-bf8e-d30a16d00954","name":"gravaAssociadoInativo","executeOnce":true,"alwaysOutputData":false,"credentials":{"postgres":{"id":"vTHBosgrkOv6kRhi","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"buscaAssociados","type":"main","index":0}]]},"If3":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"gravaAssociadoInativo","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"dadosPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaAssociados":{"main":[[{"node":"If3","type":"main","index":0}]]},"gravaAssociadoInativo":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"45759fe6-a027-4836-bde0-9e31d0cb5096","triggerCount":2,"shared":[{"createdAt":"2025-11-06T12:05:40.140Z","updatedAt":"2025-11-06T12:05:40.140Z","role":"workflow:owner","workflowId":"OdqKZ5RkDSQhDuTs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}