wf_atualiza_volutarios-YGVCWE3kRo6ZUZen.json
{"createdAt":"2025-08-22T16:29:21.480Z","updatedAt":"2025-08-22T18:49:17.480Z","id":"YGVCWE3kRo6ZUZen","name":"WF_ATUALIZA_VOLUTARIOS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-224],"id":"12086e54-6440-4e7c-b1bf-768d1aee445e","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-368,-144],"id":"aeafcecd-15a8-4b6e-8419-3adbacb8b060","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-144],"id":"9231c437-5669-4d94-8493-b9f53afc6693","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,-144],"id":"3a4879f9-aa1e-47b1-9128-08c7594a14f5","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[528,-272],"id":"225a15b7-5a98-4ca2-a1d8-3818333da439","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 13 * * *"}]}},"id":"7a47c906-a056-4650-961d-8a39b81fe4b7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-608,-64]},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/voluntario/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"b8fd70ce-f0d5-4a65-8907-7c1f123bcb15","name":"buscaVoluntarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,-144],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,-16],"id":"8e63b1eb-3ca0-498c-9624-a42fa91d296e","name":"loopVoluntarios"},{"parameters":{"tableId":"topVoluntario","dataToSend":"autoMapInputData","inputsToIgnore":"=cooperativas"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[736,-16],"id":"b7a12b41-b311-4cb8-a219-803bc9a7ebeb","name":"Create a row","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaVoluntarios","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"loopVoluntarios","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaVoluntarios":{"main":[[{"node":"If1","type":"main","index":0}]]},"loopVoluntarios":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95bdad30-fd5a-4595-ad81-68faf195bae0","triggerCount":0,"shared":[{"createdAt":"2025-08-22T16:29:21.480Z","updatedAt":"2025-08-22T16:29:21.480Z","role":"workflow:owner","workflowId":"YGVCWE3kRo6ZUZen","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}