wf_atualiza_cor_colaborador_voluntario-AzyXvfFmijIuTlYd.json
{"createdAt":"2025-10-31T14:27:18.802Z","updatedAt":"2025-10-31T15:58:48.621Z","id":"AzyXvfFmijIuTlYd","name":"WF_ATUALIZA_COR_COLABORADOR_VOLUNTARIO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-352],"id":"09ca4612-c072-45f1-8d52-bc9e6546e1b7","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-384,-400],"id":"39225a48-1d4c-43be-85d4-99fabddc560a","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,-400],"id":"e298e337-8e1a-4710-90e0-ba4cf6fb90bc","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $('buscaVoluntarios').item.json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,-400],"id":"7143853f-c45f-4c19-920f-ea235a9d1406","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[512,-416],"id":"b7e9c2a1-fa75-406f-9274-8275a3033354","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 23 * * *"}]}},"id":"bbb56377-35ad-412e-9ed0-1a22f1d637b3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-608,-160]},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/listar/voluntario/todos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pagina\": \"0\",\n  \"situacao\": \"todos\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"15a39a66-a939-406f-bc1a-7eafd7dcd303","name":"buscaVoluntarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,-400],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[512,-176],"id":"989dfc5b-a8ba-4d9a-ad8d-46dba93b8d76","name":"loopVoluntarios"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscaCodVoluntario').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d2a64fa2-321e-41d0-adb0-63dab2b6f5e7"}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM CADASTRO"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"CADASTRO EXISTE"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,-704],"id":"72c638b2-d81a-42f1-9d4f-8ebf968121ed","name":"Switch"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"codigo_voluntario","keyValue":"={{ $json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[768,-704],"id":"50408814-ce1c-4400-ae98-c7f29d335021","name":"buscaCodVoluntario","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,-176],"id":"30b79b4c-7621-49e3-82a0-a708b8625fe6","name":"Loop Over Items"},{"parameters":{"path":"1821b52d-29be-4247-b70d-3f75225cba51","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-608,-544],"id":"cf08871e-f6a4-4e77-9897-bda9c6549b70","name":"Webhook","webhookId":"1821b52d-29be-4247-b70d-3f75225cba51"},{"parameters":{"tableId":"cor_pessoa","fieldsUi":{"fieldValues":[{"fieldId":"nome_pessoa","fieldValue":"={{ $json.nome }}"},{"fieldId":"cpf_cnpj_pessoa","fieldValue":"={{ $json.cpf }}"},{"fieldId":"telefone_pessoa","fieldValue":"={{ $json.telefone }}"},{"fieldId":"whatsapp_pessoa","fieldValue":"={{ $json.celular }}"},{"fieldId":"tel_comercial_pessoa","fieldValue":"={{ $json.telefone_comercial }}"},{"fieldId":"email_pessoa","fieldValue":"={{ $json.email }}"},{"fieldId":"dat_nasc_pessoa","fieldValue":"={{ $json.data_nascimento }}"},{"fieldId":"dom_tpo_pessoa","fieldValue":"PESSOA JURIDICA"},{"fieldId":"cod_voluntario_sga","fieldValue":"={{ $('Loop Over Items').item.json.codigo_voluntario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,-160],"id":"3594778e-b278-4a82-b195-911ee13eafae","name":"COR_PESSOA","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"cor_colaborador","fieldsUi":{"fieldValues":[{"fieldId":"id_pessoa","fieldValue":"={{ $('COR_PESSOA').item.json.id_pessoa }}"},{"fieldId":"id_tipo_colaborador","fieldValue":"1"},{"fieldId":"cod_colaborador","fieldValue":"={{ $('Loop Over Items').item.json.codigo_voluntario }}"},{"fieldId":"num_matricula","fieldValue":"={{ $('Loop Over Items').item.json.codigo_voluntario }}"},{"fieldId":"dom_sit_colaborador","fieldValue":"ATIVO"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1168,-160],"id":"8c90774b-d380-44dc-8e25-bb839c5fd2e8","name":"COR_COLABORADOR","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaVoluntarios","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"loopVoluntarios","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaVoluntarios":{"main":[[{"node":"If1","type":"main","index":0}]]},"loopVoluntarios":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[],[]]},"buscaCodVoluntario":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"COR_PESSOA","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"COR_PESSOA":{"main":[[{"node":"COR_COLABORADOR","type":"main","index":0}]]},"COR_COLABORADOR":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1794b43-c704-458b-9442-507b73990eb3","triggerCount":2,"shared":[{"createdAt":"2025-10-31T14:27:18.802Z","updatedAt":"2025-10-31T14:27:18.802Z","role":"workflow:owner","workflowId":"AzyXvfFmijIuTlYd","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}