wf_atualiza_token_tpv-ZmHlN4u88zI1bL0N.json
{"createdAt":"2025-12-23T13:26:37.769Z","updatedAt":"2026-01-02T17:33:48.729Z","id":"ZmHlN4u88zI1bL0N","name":"WF_ATUALIZA_TOKEN_TPV","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer fQjf6zPouY4JNmMO4i6cLh4CSen1OwiGjdmlL9hSw7NzKSxOcmdzWlWjA5e3Wx8LwtUexQuqLLrEBaItmI0xZvu2yjwCvILQynlTuTrInvKtyRriru2Is4nDBsKXLdyWeB3TEfT06JfPSkAgPvFXdbjN7PnWibWDOydgsEn5XfMJnICqUxdlCw5OtU603TDAIe69TdtoTijxc5AcOQi3tohe"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ DateTime.fromISO($now).minus({ days: 1 }).endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\"}","options":{}},"id":"9d723c36-9f5c-49c2-b4c9-2b653027d88a","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,464],"alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/plates/ENX3H66","sendQuery":true,"queryParameters":{"parameters":[{"name":"plate","value":"={{ $json[\"query\"][\"placa\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer DRddpIfhH6WjKxrB2QeQWK0kvmV69C4ePsKO58ChJP5l6rj0WVcHgpKuK7uZJwrypYHuT2t5W9dzTgwC8eZ770ZbmzOEUJ49dL7ApTXUSQv9UqYLvnTJxFxPJG8y0uy2thQSBgB0CnecE9hcVhwz68sbiZj2eVbtiEIlJC39NGm4zYkGZ6y5zjwVYOQctPdZfPU8V8lULtP6lx0liezaw8Vg"}]},"options":{}},"id":"86e60bc2-3591-4bb8-a837-39ab563fd48c","name":"buscaPlacaPwrCrm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,464],"retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/usuario/autenticar","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer 291bd647d95547d6db3924e13422385f82301c3cda8a8b20909885cce846cdae6d4113305f2d7b0511dec4f449bddb2dab56f306a82eee891323636e4d4ee5cc47c9ff7404c455e245fd888e338767ee0bcd0208a05344c0ade60432e7e2764b\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\"usuario\":\"TPV_AUTOMACAO\",\"senha\":\"Automacao#2025#\"}","options":{}},"id":"97133575-1c4b-4b9a-8cec-b1bc0a7e686f","name":"GERA_TOKEN_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[16,384],"notes":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}\n\n{\"usuario\":\"ramon\",\"senha\":\"cSNk4mO0s5FP\"}"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/PWZ8304","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"c616a831-e1e1-442e-b567-c6cee0c20939","name":"BUSCA_PLACA_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,288],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"workflowInputs":{"values":[{"name":"base"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,384],"id":"a2def3cf-a03f-42dd-8a9d-20ad0e4deeee","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,480],"id":"68a591a0-263a-453c-8c70-981272f8ec1f","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","condition":"eq","keyValue":"domTokenSGATPV"}]},"fieldsUi":{"fieldValues":[{"fieldId":"descricaoDominio","fieldValue":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,288],"id":"8cc1f5b0-4037-4b88-aad6-369c6ff4b048","name":"atualizaToken","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,288],"id":"7fafc111-cb77-4901-a874-f5a6ade5d460","name":"No Operation, do nothing1","alwaysOutputData":true}],"connections":{"GERA_TOKEN_SGA":{"main":[[{"node":"BUSCA_PLACA_SGA","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"GERA_TOKEN_SGA","type":"main","index":0}]]},"BUSCA_PLACA_SGA":{"main":[[{"node":"atualizaToken","type":"main","index":0}]]},"atualizaToken":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dac17a1c-34b9-4de8-a176-334320688517","triggerCount":0,"shared":[{"createdAt":"2025-12-23T13:26:37.769Z","updatedAt":"2025-12-23T13:26:37.769Z","role":"workflow:owner","workflowId":"ZmHlN4u88zI1bL0N","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}