wf_atualiza_token_boletos-NxizvoUNEN4GOL6d.json
{"createdAt":"2025-10-29T19:20:21.316Z","updatedAt":"2025-10-29T19:21:17.728Z","id":"NxizvoUNEN4GOL6d","name":"WF_ATUALIZA_TOKEN_BOLETOS","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer fQjf6zPouY4JNmMO4i6cLh4CSen1OwiGjdmlL9hSw7NzKSxOcmdzWlWjA5e3Wx8LwtUexQuqLLrEBaItmI0xZvu2yjwCvILQynlTuTrInvKtyRriru2Is4nDBsKXLdyWeB3TEfT06JfPSkAgPvFXdbjN7PnWibWDOydgsEn5XfMJnICqUxdlCw5OtU603TDAIe69TdtoTijxc5AcOQi3tohe"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ DateTime.fromISO($now).minus({ days: 1 }).endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\"}","options":{}},"id":"15873493-48d9-44b6-bf15-d30b3e815d1a","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,464],"alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/plates/ENX3H66","sendQuery":true,"queryParameters":{"parameters":[{"name":"plate","value":"={{ $json[\"query\"][\"placa\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer DRddpIfhH6WjKxrB2QeQWK0kvmV69C4ePsKO58ChJP5l6rj0WVcHgpKuK7uZJwrypYHuT2t5W9dzTgwC8eZ770ZbmzOEUJ49dL7ApTXUSQv9UqYLvnTJxFxPJG8y0uy2thQSBgB0CnecE9hcVhwz68sbiZj2eVbtiEIlJC39NGm4zYkGZ6y5zjwVYOQctPdZfPU8V8lULtP6lx0liezaw8Vg"}]},"options":{}},"id":"de2da304-ba9b-438f-ab39-4bf8c37ac6e7","name":"buscaPlacaPwrCrm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,464],"retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/usuario/autenticar","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer 1386f1b8e7d6d880bbacd15cb8c8055b6f4aa7d4eaa7ef1ca4106d7440e2b55e5c12f6aa241c1d11ac25547c99eb4be81014e573188c524344fb15a1a8629055cd63ec2f50c2455b401ebea0ab5717834ac02519b2eabda119a459d4a8f8c3c2\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"{\"usuario\":\"INTEGRACAO\",\"senha\":\"Top#2025#\"}","options":{}},"id":"e4bfb206-9e12-4a5b-9db1-6006451bc383","name":"GERA_TOKEN_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[16,384],"notes":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}\n\n{\"usuario\":\"ramon\",\"senha\":\"cSNk4mO0s5FP\"}"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/PWZ8304","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"101e0275-bbb1-43f8-93d6-f628fd57f65e","name":"BUSCA_PLACA_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,288],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"workflowInputs":{"values":[{"name":"base"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,384],"id":"913c7187-f32b-47f7-a056-296249a80709","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,480],"id":"586b8103-c0b9-4b80-9a91-a9516fa07787","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","condition":"eq","keyValue":"domTokenSGABoletos"}]},"fieldsUi":{"fieldValues":[{"fieldId":"descricaoDominio","fieldValue":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,288],"id":"36756bea-1edf-42e7-9663-b6d17bd0360a","name":"atualizaToken","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,288],"id":"ec4afe2e-3f23-4390-93e3-9fc872b14f10","name":"No Operation, do nothing1","alwaysOutputData":true}],"connections":{"GERA_TOKEN_SGA":{"main":[[{"node":"BUSCA_PLACA_SGA","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"GERA_TOKEN_SGA","type":"main","index":0}]]},"BUSCA_PLACA_SGA":{"main":[[{"node":"atualizaToken","type":"main","index":0}]]},"atualizaToken":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"65b69f88-b1c6-4da3-a1ee-541b4ef47514","triggerCount":0,"shared":[{"createdAt":"2025-10-29T19:20:21.316Z","updatedAt":"2025-10-29T19:20:21.316Z","role":"workflow:owner","workflowId":"NxizvoUNEN4GOL6d","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}