wf_atualiza_token_sga-N0Mpj3nRD1QnF7VH.json
{"createdAt":"2025-08-04T13:12:43.970Z","updatedAt":"2025-09-01T15:17:28.125Z","id":"N0Mpj3nRD1QnF7VH","name":"WF_ATUALIZA_TOKEN_SGA","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer fQjf6zPouY4JNmMO4i6cLh4CSen1OwiGjdmlL9hSw7NzKSxOcmdzWlWjA5e3Wx8LwtUexQuqLLrEBaItmI0xZvu2yjwCvILQynlTuTrInvKtyRriru2Is4nDBsKXLdyWeB3TEfT06JfPSkAgPvFXdbjN7PnWibWDOydgsEn5XfMJnICqUxdlCw5OtU603TDAIe69TdtoTijxc5AcOQi3tohe"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ DateTime.fromISO($now).minus({ days: 1 }).endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\"}","options":{}},"id":"df218d4d-549d-4818-b1e3-ce93fe753588","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,464],"alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/plates/ENX3H66","sendQuery":true,"queryParameters":{"parameters":[{"name":"plate","value":"={{ $json[\"query\"][\"placa\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer DRddpIfhH6WjKxrB2QeQWK0kvmV69C4ePsKO58ChJP5l6rj0WVcHgpKuK7uZJwrypYHuT2t5W9dzTgwC8eZ770ZbmzOEUJ49dL7ApTXUSQv9UqYLvnTJxFxPJG8y0uy2thQSBgB0CnecE9hcVhwz68sbiZj2eVbtiEIlJC39NGm4zYkGZ6y5zjwVYOQctPdZfPU8V8lULtP6lx0liezaw8Vg"}]},"options":{}},"id":"37d42347-32e8-4316-8d5d-632ddfdd38fb","name":"buscaPlacaPwrCrm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,464],"retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/usuario/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 0c8365484dd8164cdbaf44443eda9f1dae46d91b7350d1bd1caf91b84bcb1c1e80b23f713500716c41653d0862d61af700cc129cd3c857c32a3240259a8cb684abbb3b801e8cce01da99e8ff1c58336053f8df79e1a65235e842279567fcae43"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}","options":{}},"id":"c42986cd-dcad-402b-87bb-06d2bd9a5c6e","name":"GERA_TOKEN_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[16,384],"notes":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}\n\n{\"usuario\":\"ramon\",\"senha\":\"cSNk4mO0s5FP\"}"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/PWZ8304","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"6889de37-f0ae-4de2-a01b-d6708e1f20a1","name":"BUSCA_PLACA_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,288],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"workflowInputs":{"values":[{"name":"base"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,384],"id":"255dbe37-5fe0-40e0-ba5f-10ee77449157","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,480],"id":"99867e7a-b080-4fcf-9708-52d6ee4b075e","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","condition":"eq","keyValue":"domTokenSGA"}]},"fieldsUi":{"fieldValues":[{"fieldId":"descricaoDominio","fieldValue":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,288],"id":"bff3fb80-39cd-462a-b951-9630a808445b","name":"atualizaToken","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,288],"id":"94864d18-48c5-45dd-b1f1-799e9878b560","name":"No Operation, do nothing1","alwaysOutputData":true}],"connections":{"GERA_TOKEN_SGA":{"main":[[{"node":"BUSCA_PLACA_SGA","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"GERA_TOKEN_SGA","type":"main","index":0}]]},"BUSCA_PLACA_SGA":{"main":[[{"node":"atualizaToken","type":"main","index":0}]]},"atualizaToken":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e27c8037-9524-4a55-80a7-949460ee1876","triggerCount":0,"shared":[{"createdAt":"2025-08-04T13:12:43.970Z","updatedAt":"2025-08-04T13:12:43.970Z","role":"workflow:owner","workflowId":"N0Mpj3nRD1QnF7VH","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}