wf_atualiza_token_envio_boletos-5x7To9vKX8T53u2M.json
{"createdAt":"2025-12-12T13:55:35.518Z","updatedAt":"2025-12-12T13:58:40.491Z","id":"5x7To9vKX8T53u2M","name":"WF_ATUALIZA_TOKEN_ENVIO_BOLETOS","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer fQjf6zPouY4JNmMO4i6cLh4CSen1OwiGjdmlL9hSw7NzKSxOcmdzWlWjA5e3Wx8LwtUexQuqLLrEBaItmI0xZvu2yjwCvILQynlTuTrInvKtyRriru2Is4nDBsKXLdyWeB3TEfT06JfPSkAgPvFXdbjN7PnWibWDOydgsEn5XfMJnICqUxdlCw5OtU603TDAIe69TdtoTijxc5AcOQi3tohe"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ DateTime.fromISO($now).minus({ days: 1 }).endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\"}","options":{}},"id":"502b9c07-df33-455d-a544-3782da9fbf76","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,464],"alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/plates/ENX3H66","sendQuery":true,"queryParameters":{"parameters":[{"name":"plate","value":"={{ $json[\"query\"][\"placa\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer DRddpIfhH6WjKxrB2QeQWK0kvmV69C4ePsKO58ChJP5l6rj0WVcHgpKuK7uZJwrypYHuT2t5W9dzTgwC8eZ770ZbmzOEUJ49dL7ApTXUSQv9UqYLvnTJxFxPJG8y0uy2thQSBgB0CnecE9hcVhwz68sbiZj2eVbtiEIlJC39NGm4zYkGZ6y5zjwVYOQctPdZfPU8V8lULtP6lx0liezaw8Vg"}]},"options":{}},"id":"9f4db11b-216c-40f6-826f-6ea0b4cd7cd0","name":"buscaPlacaPwrCrm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,464],"retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/usuario/autenticar","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer 3c63d650bb50ad9d148f4cd9dd6fc6aacb26ccbb720b1f585a2611008572cea11e77bb781638e5062f1dc7696ae0bdd2676a1c5257ad455ac5bac006123b3ed27d11a7b0e6e54909d9f49c5eb7e63a6e493c8b0e618a642df0c3c36e30e0c0bd\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}","options":{}},"id":"b6c3c3a6-a751-45da-b478-baf5a911254c","name":"GERA_TOKEN_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[16,384],"notes":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}\n\n{\"usuario\":\"ramon\",\"senha\":\"cSNk4mO0s5FP\"}"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/PWZ8304","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"3ff469a1-104a-49c6-ab93-515f250f2a85","name":"BUSCA_PLACA_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,288],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"workflowInputs":{"values":[{"name":"base"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,384],"id":"59286a72-8914-4dba-850d-affcf67281b2","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,480],"id":"9d455acd-5d07-4896-b155-4a2db62f1563","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","condition":"eq","keyValue":"domTokenSGAEnvioBoletos"}]},"fieldsUi":{"fieldValues":[{"fieldId":"descricaoDominio","fieldValue":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,288],"id":"4b66f0aa-7e84-4789-b5bf-ab4d093c8073","name":"atualizaToken","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,288],"id":"cf217339-dcc6-48b3-b77f-36f1631b51af","name":"No Operation, do nothing1","alwaysOutputData":true}],"connections":{"GERA_TOKEN_SGA":{"main":[[{"node":"BUSCA_PLACA_SGA","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"GERA_TOKEN_SGA","type":"main","index":0}]]},"BUSCA_PLACA_SGA":{"main":[[{"node":"atualizaToken","type":"main","index":0}]]},"atualizaToken":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a6b8ed9-f06f-4c85-bcb5-a73c3b6bc08e","triggerCount":0,"shared":[{"createdAt":"2025-12-12T13:55:35.518Z","updatedAt":"2025-12-12T13:55:35.518Z","role":"workflow:owner","workflowId":"5x7To9vKX8T53u2M","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}