wf_atualiza_token_geral_sga-8QQvTTOElbfk1Nao.json
{"createdAt":"2025-08-19T17:32:29.184Z","updatedAt":"2025-10-24T18:44:18.490Z","id":"8QQvTTOElbfk1Nao","name":"WF_ATUALIZA_TOKEN_GERAL_SGA","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer fQjf6zPouY4JNmMO4i6cLh4CSen1OwiGjdmlL9hSw7NzKSxOcmdzWlWjA5e3Wx8LwtUexQuqLLrEBaItmI0xZvu2yjwCvILQynlTuTrInvKtyRriru2Is4nDBsKXLdyWeB3TEfT06JfPSkAgPvFXdbjN7PnWibWDOydgsEn5XfMJnICqUxdlCw5OtU603TDAIe69TdtoTijxc5AcOQi3tohe"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ DateTime.fromISO($now).minus({ days: 1 }).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ DateTime.fromISO($now).minus({ days: 1 }).endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}\"}","options":{}},"id":"8e33559c-241b-4993-a1ca-027acae88467","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,464],"alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/plates/ENX3H66","sendQuery":true,"queryParameters":{"parameters":[{"name":"plate","value":"={{ $json[\"query\"][\"placa\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer DRddpIfhH6WjKxrB2QeQWK0kvmV69C4ePsKO58ChJP5l6rj0WVcHgpKuK7uZJwrypYHuT2t5W9dzTgwC8eZ770ZbmzOEUJ49dL7ApTXUSQv9UqYLvnTJxFxPJG8y0uy2thQSBgB0CnecE9hcVhwz68sbiZj2eVbtiEIlJC39NGm4zYkGZ6y5zjwVYOQctPdZfPU8V8lULtP6lx0liezaw8Vg"}]},"options":{}},"id":"652e05c7-23fb-4c35-89ee-88091a9a6008","name":"buscaPlacaPwrCrm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,464],"retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.hinova.com.br/api/sga/v2/usuario/autenticar","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer 0c8365484dd8164cdbaf44443eda9f1dae46d91b7350d1bd1caf91b84bcb1c1e80b23f713500716c41653d0862d61af700cc129cd3c857c32a3240259a8cb684abbb3b801e8cce01da99e8ff1c58336053f8df79e1a65235e842279567fcae43\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"{\n\"usuario\":\"ramon\",\"senha\":\"cSNk4mO0s5FP\"}","options":{}},"id":"b39998cf-2bfa-47e1-89ae-5f4e9271424a","name":"GERA_TOKEN_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[16,384],"notes":"{\"usuario\":\"AUTOMACAO\",\"senha\":\"Top#2025#\"}\n\n{\"usuario\":\"ramon\",\"senha\":\"cSNk4mO0s5FP\"}"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/PWZ8304","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"874d6bc1-7177-4d56-ac46-0fc7caf84455","name":"BUSCA_PLACA_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,288],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"workflowInputs":{"values":[{"name":"base"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,384],"id":"ac38e422-600e-4b38-85d1-20ad6a675817","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,480],"id":"c6ecbec1-dc03-4f18-96c7-2635321ee938","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","condition":"eq","keyValue":"domTokenSGATopGeral"}]},"fieldsUi":{"fieldValues":[{"fieldId":"descricaoDominio","fieldValue":"=Bearer {{ $('GERA_TOKEN_SGA').item.json.token_usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,288],"id":"8cb80f2a-b804-4cc8-908c-62e8bca33729","name":"atualizaToken","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,288],"id":"862f540d-9090-4c1b-aa8b-88dda3eda041","name":"No Operation, do nothing1","alwaysOutputData":true}],"connections":{"GERA_TOKEN_SGA":{"main":[[{"node":"BUSCA_PLACA_SGA","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"GERA_TOKEN_SGA","type":"main","index":0}]]},"BUSCA_PLACA_SGA":{"main":[[{"node":"atualizaToken","type":"main","index":0}]]},"atualizaToken":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bd35682d-66db-48fd-9c2a-de387f034d63","triggerCount":0,"shared":[{"createdAt":"2025-08-19T17:32:29.184Z","updatedAt":"2025-08-19T17:32:29.184Z","role":"workflow:owner","workflowId":"8QQvTTOElbfk1Nao","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}