wf_cria_cotacao-zsB5NUateSXS5BCu.json
{"createdAt":"2025-08-17T20:09:08.582Z","updatedAt":"2025-08-22T18:51:54.178Z","id":"zsB5NUateSXS5BCu","name":"WF_CRIA_COTACAO","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"number":[{"value1":"={{ $('Webhook').item.json[\"query\"][\"origemId\"] }}","operation":"larger"}]},"combineOperation":"any"},"id":"6f67f9d7-1b19-4829-a306-c6c98db04bf8","name":"IF - ORIGEM ID > ","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1728,-224],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaChaveAPI').item.json[\"apiKey\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"name\": \"{{ $('Webhook').item.json[\"name\"] }}\",\n  \"phone\": \"{{ $('Webhook').item.json[\"phone\"] }}\",\n  \"cardStatus\": \"1\",\n  \"coop\": \"{{ $('buscaChaveAPI').item.json[\"codCoop\"] }}\"  \n}\n","options":{}},"id":"d5235c5e-8649-421b-b65b-ad4094168ca2","name":"cotacaoPwrCrmClickProtege","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1488,-144],"retryOnFail":false,"waitBetweenTries":5000,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"50c911eb-a4c5-47bf-998d-b06bf625ba23","name":"quotationCode","value":"={{ $json[\"quotationCode\"] }}","type":"string"},{"id":"e88e0923-af80-4143-bae0-832e22128056","name":"negotationCode","value":"={{ $json[\"negotationCode\"] }}","type":"string"}]},"options":{}},"id":"c0e55358-a802-48d7-b47d-112ef9e8361d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,-224]},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domPowerCRM"},{"keyName":"nomeDominio","keyValue":"=LOOVI"}]}},"id":"f53aa733-887e-4e8d-abdd-30a91f310703","name":"buscaChaveAPI","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1952,-224],"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaChaveAPI').item.json[\"apiKey\"] }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"name\": \"{{ $('Webhook').item.json[\"name\"] }}\",\n  \"phone\": \"{{ $('Webhook').item.json[\"phone\"] }}\",\n  \"coop\": \"{{ $('buscaChaveAPI').item.json[\"codCoop\"] }}\",\n  \"cardStatus\": \"2\"\n}","options":{}},"id":"f3026354-6f52-4784-9e38-c77d05f793a2","name":"cotacaoPwrCrm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1488,-304],"retryOnFail":false,"waitBetweenTries":5000,"onError":"continueRegularOutput","notes":"Bearer xDXaANQK5OccE3Adl1ESgzr6lULDOYqg8ZhrOY4wN0rJHoolc2dwaobXDQu5j4yUA1iI2IgwAxJCyrcIHI5x7Xx6vfY39YCEg5I5OMV7zqKiFUEdDp1ipOBtnZRn1otCiNY7QS7BSI4B3b5N9LzVF6K3YY60tI4UtTEzwOYIH7ES1qkE0JpuRVFLDeWV1wwPsZkOkem65pALTT2uT2WcmzyX"},{"parameters":{"workflowInputs":{"values":[{"name":"name"},{"name":"phone"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2192,-224],"id":"eab2e250-4c6e-448d-8dcd-cf71eead9e03","name":"Webhook"},{"parameters":{"tableId":"contatosLead","fieldsUi":{"fieldValues":[{"fieldId":"nomeContatoLead","fieldValue":"={{ $('Webhook').item.json[\"name\"] }}"},{"fieldId":"celularContatoLead","fieldValue":"={{ $('Webhook').item.json[\"phone\"] }}"}]}},"id":"9fdcf989-c9b8-42e2-8b2b-5878b6786639","name":"Create a row","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1232,-224],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}}],"connections":{"IF - ORIGEM ID > ":{"main":[[{"node":"cotacaoPwrCrm","type":"main","index":0}],[{"node":"cotacaoPwrCrmClickProtege","type":"main","index":0}]]},"cotacaoPwrCrmClickProtege":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"buscaChaveAPI":{"main":[[{"node":"IF - ORIGEM ID > ","type":"main","index":0}]]},"cotacaoPwrCrm":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"buscaChaveAPI","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7df99002-f5d9-4373-ab07-0e92922359e4","triggerCount":0,"shared":[{"createdAt":"2025-08-17T20:09:08.582Z","updatedAt":"2025-08-17T20:09:08.582Z","role":"workflow:owner","workflowId":"zsB5NUateSXS5BCu","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}