wf_follow_up-PfL6ivJtH269gM2K.json
{"createdAt":"2025-07-16T15:35:09.919Z","updatedAt":"2025-09-02T14:03:53.627Z","id":"PfL6ivJtH269gM2K","name":"WF_FOLLOW_UP","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"50cab7fc-85b2-406c-9bc4-559496c7fb10","name":"LEADS","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-272,400]},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('dadosWH').item.json.apikey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ $('setPeriodo').item.json[\"DtInicial\"] }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ $('setPeriodo').item.json[\"DtFinal\"] }}\"}","options":{}},"id":"a32eaa21-1ce5-4dae-87c2-d00dfd2d9f0d","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[336,-16],"alwaysOutputData":true},{"parameters":{"operation":"formatDate","date":"={{ (DateTime.fromString($('LEADS').item.json[\"createdDate\"].substring(6, 10) + '-' + \n$('LEADS').item.json[\"createdDate\"].substring(3, 5) + '-' +\n$('LEADS').item.json[\"createdDate\"].substring(0, 2) + ' ' +\n$('LEADS').item.json[\"createdDate\"].substring(13, 18) + ':00', 'yyyy-MM-dd HH:mm:ss')) }}","format":"custom","customFormat":"yyyy-MM-dd HH:mm:ss","options":{}},"id":"74a57b91-c556-4e67-ac58-a5b8526f621e","name":"formattedDate","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[832,400]},{"parameters":{"values":{"string":[{"name":"DtInicial","value":"={{ DateTime.fromISO($now).minus({ days: $('dadosWH').item.json.df }).startOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}"},{"name":"DtFinal","value":"={{ DateTime.fromISO($now).minus({ days: $('dadosWH').item.json.df }).endOf('day').toFormat('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"id":"d440dcc9-bd0d-46f4-864d-6b812cbff222","name":"setPeriodo","type":"n8n-nodes-base.set","typeVersion":2,"position":[96,-16]},{"parameters":{"assignments":{"assignments":[{"id":"abe11d61-bd25-470e-b6a9-f4bf0c38eeae","name":"di","value":"={{ $json.di }}","type":"string"},{"id":"85a5b934-359d-43f7-9e48-b5b7326b7453","name":"df","value":"={{ $json.df }}","type":"string"},{"id":"daae31af-82ac-49b0-a424-03242c4e6411","name":"idtag","value":"={{ $json.idtag }}","type":"string"},{"id":"5c840d7a-7d16-475d-9817-143ae129f0b6","name":"cadencia","value":"={{ $json.cadencia }}","type":"string"},{"id":"5333c459-342a-4cef-bb09-45eefb569f19","name":"apikey","value":"={{ $json.apikey }}","type":"string"},{"id":"b174f9a8-15ef-4f77-bf89-0254202c48a8","name":"base","value":"={{ $json.base }}","type":"string"},{"id":"06288749-63d9-46dd-8f70-1289e24a0b2d","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-224],"id":"7c2cb89a-2e7c-4b59-9c41-7e44a1dae49d","name":"dadosWH"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const tags = $('buscaLeadsPower').item.json.tags || [];\nconst parametro = $('dadosWH').first().json.idtag;\n\nconst mapaDias = {\n  17134: \"Dia 1\",\n  17203: \"Dia 3\",\n  17205: \"Dia 7\",\n  17206: \"Dia 15\",\n};\n\nconst valorProcurado = mapaDias[Number(parametro)];\nconst contemValor = valorProcurado ? tags.includes(valorProcurado) : false;\n\nreturn {\n  tags,\n  contemValor,\n  valorProcurado\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,832],"id":"0f5832ae-6a99-485e-b7b4-596163299036","name":"Code","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-304,1680],"id":"ecd8adbb-189b-43eb-83ef-f09640d1d548","name":"Aggregate","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f411780d-0479-4ba1-b68f-66e6c1ab1b5f","leftValue":"={{ $json.contemValor }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,832],"id":"0d1db1c2-b768-4e71-936b-44a5d7a96e23","name":"tagIncluida","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,1040],"id":"71471be6-8bba-4201-a8a4-e61d884dcaf5","name":"If"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-tag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"={{$('dadosWH').item.json.apikey}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"quotationCode","value":"={{ $('LEADS').item.json.quotationCode }}"},{"name":"tagId","value":"={{ $('dadosWH').item.json.idtag }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"c2370848-46d7-43f5-ba3d-30e05946019d","name":"cotacaoAddTag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[112,832],"retryOnFail":false,"waitBetweenTries":5000,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"df\": null,\n  \"di\": null,\n  \"idtag\": null,\n  \"cadencia\": null,\n  \"apikey\": null,\n  \"base\": null,\n  \"mensagem\": null\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,-224],"id":"da135cdb-e0dd-4812-85f8-ce86a3d80725","name":"executeWF"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.isShelved }}","rightValue":"=N","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ativo"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,608],"id":"145c2c92-ed67-4d7d-97b9-334d18ef2aa8","name":"arquivada"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-96,1680],"id":"b72c18bf-56b0-4dd7-9bde-a3f4a91fd852","name":"FINALIZA2"},{"parameters":{"assignments":{"assignments":[{"id":"aba84381-4129-4f42-81bd-329fd90603c1","name":"=emailconsultor","value":"={{ $('LEADS').item.json.responsibleSalesmanEmail }}","type":"string"},{"id":"511676df-183e-4925-be2a-22fd52baa825","name":"nomeconsultor","value":"={{$('LEADS').item.json['responsibleSalesman']? $('LEADS').item.json.responsibleSalesman.split(\" \")[0] + ' ' + $('LEADS').item.json.responsibleSalesman.split(\" \")[$('LEADS').item.json.responsibleSalesman.split(\" \").length-1] : \"sem consultor\"}}","type":"string"},{"id":"2cd68614-6d24-4a72-b1e2-e2ad2611c98b","name":"veiculo","value":"={{$('LEADS').item.json.vehicleModel.split(\" \")[0]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,400],"id":"cbd68bea-9569-4931-8042-6beb63810b42","name":"dadosConsultor"},{"parameters":{"method":"POST","url":"=https://zapi.topbrtech.com.br/chat/whatsappNumbers/zaptop","sendHeaders":true,"headerParameters":{"parameters":[{"name":" apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"numbers\": [\"55{{$('LEADS').item.json.clientMobile}}\"]}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,608],"id":"d03cf7d4-71a4-46b8-935b-6614070ed83c","name":"validaNumZap","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2114c5ff-8ee4-4605-9c96-2817c74f4795","leftValue":"={{ $('verificaZap').item.json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,608],"id":"c4652793-46a1-42cd-bf86-94f5dad22cd5","name":"zapExiste","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1040,624],"id":"3fe98fee-4d0d-4c44-8fb0-a306e5577bd4","name":"FINALIZA1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"e9edf2f7-d2a6-442c-982e-14a93598724a","name":"exists","value":"={{ $('validaNumZap').item.json.exists }}","type":"boolean"},{"id":"f779e761-bcf1-4330-b42c-fe4feac58756","name":"jid","value":"={{ $('validaNumZap').item.json.jid }}","type":"string"},{"id":"4e08183e-75cd-409c-b4df-f343876ad72a","name":"number","value":"={{ $('validaNumZap').item.json.number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,608],"id":"77288b21-2159-475b-8b62-c0d9d32fbfe6","name":"verificaZap","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,1488],"id":"a2a495e5-8d00-4bf3-8079-d63ac80d9c18","name":"If2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('dadosWH').item.json.base }}","rightValue":"REDEAUTO","operator":{"type":"string","operation":"notEquals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"TOP"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"REDEAUTO"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,1232],"id":"1ea22c53-4c2c-4a69-806f-8602f6c3d70c","name":"nomeBase"},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","messageText":"={{ 'Olá, ' + $('LEADS').item.json.clientName.split(\" \")[0] + '. ' +\n$('dadosWH').item.json.mensagem  || \" \" }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,1040],"id":"abd0f0aa-90ad-4665-8476-f67589bb7233","name":"enviaFollowUpZapTop","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('dadosConsultor').item.json.emailconsultor || zap.top }}","remoteJid":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","messageText":"={{ 'Olá, tudo bem? Aqui é a ' + $('dadosConsultor').item.json.nomeconsultor.toLowerCase().split(' ').map(p => p.charAt(0).toUpperCase() + p.slice(1)).join(' ') + ', da Top Brasil. Queria saber como está a sua busca pela proteção ideal para o seu veículo.\\n' + \n'Vi que você fez uma cotação a pouco tempo para seu veículo ' + $('dadosConsultor').item.json.veiculo + '.\\n' + \n'Caso precise de ajuda para esclarecer alguma dúvida ou entender melhor o que está incluso no nosso plano, estou à disposição para te auxiliar!\\n' +\n'Ficou com alguma dúvida? ' || \" \"   }}\n","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[96,1312],"id":"102e65db-5dfe-4a92-89c8-583ee9e3692a","name":"enviaFollowUp","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"=zaptop","remoteJid":"={{ $('LEADS').item.json.clientMobile }}","media":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1664,1392],"id":"13332930-f8e3-464f-91f7-1264b7735629","name":"enviaVideoInstitucional1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://zapi.topbrtech.com.br/message/sendMedia/zap.top","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"5531992240123\",\n    \"caption\": \"Conheça a Top Brasil. Quem tem está bem.\",    \n    \"mediatype\": \"video\",\n    \"mimetype\": \"video/mp4\",\n    \"fileName\": \"video_top_institucional.mp4\",\n    \"media\": \"{{ $json.video }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,-240],"id":"b555649f-15b4-453a-ae51-2ee512add212","name":"validaNumZap1","disabled":true},{"parameters":{"url":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"video"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-240],"id":"846816e6-8091-44ef-9358-473a7fa9b472","name":"videoInstitucional"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-224],"id":"54552ea9-1bdc-4940-99ee-0562303c11d5","name":"If3"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"video","destinationKey":"video","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[576,-240],"id":"a8a20097-239c-4886-8ac1-c5c5bac725a2","name":"retornaBase64"},{"parameters":{"resource":"messages","operation":"send-video","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","video":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.\\n' +\n'Aprovação rápida\\n' +\n'Sem análise de perfil de condutor\\n' +\n'Assistência 24h\\n' +\n'Indenização em até 30 dias após aprovação\\n' +\n'Sem consulta a SPC/Serasa'}}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[848,1040],"id":"2ed20f3e-fe7f-48d5-8a5d-ca7d177a82db","name":"Send video message1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,1312],"id":"951c1441-edec-45c6-beff-9d0e4c408a8b","name":"If4"},{"parameters":{"resource":"messages","operation":"send-video","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=5531992240123","video":"https://topbrasilpv-automacao.obs.la-south-2.myhuaweicloud.com/video_top_institucional_new.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[1904,1408],"id":"ecfb082a-ae18-4a14-9615-f954f4ecc4bd","name":"Send video message2"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[320,1312],"id":"d8938df1-58d1-4adf-90bf-6c9b51722ab3","name":"Wait1","webhookId":"1282dfbf-5c4b-422d-b00a-4d2f8e6c7942","disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,1488],"id":"70d65cbb-6a7d-42a6-8720-373fa6b1d840","name":"Wait2","webhookId":"1282dfbf-5c4b-422d-b00a-4d2f8e6c7942"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[608,1040],"id":"68065a5f-944e-4a61-b599-1e2a1899b853","name":"Wait3","webhookId":"1282dfbf-5c4b-422d-b00a-4d2f8e6c7942"},{"parameters":{"resource":"messages","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","message":"={{ 'Olá, ' + $('LEADS').item.json.clientName.split(\" \")[0] + '. ' +\n$('dadosWH').item.json.mensagem  || \" \" }}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[96,1488],"id":"7812ec9c-04d9-48dd-83fe-8cc69261ee6c","name":"Send text message","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"={{ $('dadosConsultor').item.json.emailconsultor || zap.top }}","remoteJid":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","media":"https://topbrasilpv-automacao.obs.la-south-2.myhuaweicloud.com/video_top_institucional_new.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[784,1312],"id":"b05eeafd-232d-4cb2-a1fd-b1857b334bb2","name":"enviaVideoInstitucional","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-activity","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"={{$('dadosWH').item.json.apikey}}"},{"name":"content-type","value":"application/json"},{"name":"Authorization","value":"={{$('dadosWH').item.json.apikey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": 3,\n  \"quotationCode\": \"{{ $('LEADS').item.json.quotationCode }}\",\n  \"description\": \"{{ $('dadosWH').item.json.cadencia }} - Mensagem Follow-up encaminhada - Automação TOP.\",\n  \"scheduled\": \"{{ $now.format('yyyy-MM-dd HH:mm:ss') }}\"\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,832],"id":"d28420e5-dacf-48e6-aa69-d71f52eb1699","name":"addAtividade","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,192],"id":"fcd479bc-7da9-4c80-a2bd-4e1edf1e4fb6","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{$('LEADS').item.json['responsibleSalesman']? $('LEADS').item.json['responsibleSalesman'] : \"sem consultor\"}}","rightValue":"={{ \"sem consultor\" }}","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"=Sem Consultor"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,400],"id":"9a856321-4d85-4614-8b19-30fd47c249e7","name":"verificaConsultor","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 1 }}","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[576,400],"id":"7f451346-d3e5-474a-93ff-6a8b847bbe00","name":"cardStatus"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1040,1040],"id":"f99e9c29-b862-4691-93c6-fa93ef49495f","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1040,1296],"id":"e676a68c-acef-40e8-a3fa-67833cc719ae","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1040,1488],"id":"e7886f2a-5086-4de1-a77d-3845a5e7bbc9","name":"No Operation, do nothing3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('dadosConsultor').item.json.emailconsultor }}","rightValue":"claudiajanus@gmail.com","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"CLAUDIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3d1a547a-344b-4312-a341-9a6e75aea325","leftValue":"={{ $('dadosConsultor').item.json.emailconsultor }}","rightValue":"souza.rqc@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"KESSIA"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"OUTROS"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-96,1376],"id":"e52e8508-3b1f-42cb-99ba-d4788b9e1d84","name":"confereConsultor"},{"parameters":{"operation":"get","tableId":"cadastroExecutivo","filters":{"conditions":[{"keyName":"emailExecutivo","keyValue":"={{ $('dadosConsultor').item.json.emailconsultor }}"},{"keyName":"domIndicadorExecutivo","keyValue":"={{ $('dadosWH').item.json.base }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[608,832],"id":"6ea65566-4d32-4ae6-b10a-6ef1e41e8898","name":"dadosBDConsultor","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","messageText":"={{ $('dadosBDConsultor').item.json.whatsAppExecutivo? 'Se surgir qualquer dúvida ou quiser saber mais sobre como podemos proteger seu veículo, o contato do consultor responsável pela sua cotação encontra-se logo abaixo. 🚗✨ \\nWhatsapp do seu consultor ' + $('dadosConsultor').item.json.nomeconsultor.toLowerCase().split(' ').map(p => p.charAt(0).toUpperCase() + p.slice(1)).join(' ') + ' ' + $('dadosBDConsultor').item.json.whatsAppExecutivo: \"Como sua cotação ainda está sendo analisada, posso te ajudar com qualquer dúvida ou se quiser saber mais sobre como podemos proteger seu veículo é só me chamar.\"  || \" \" }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,1040],"id":"c2a2d501-e115-4a69-a7e9-11c2ae1b7b2a","name":"enviaZapConsultor","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"=55{{ $('dadosZapConsultor').item.json.whatsAppExecutivo.match( /\\d+/g ).join('') }}","rightValue":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","operator":{"type":"string","operation":"notEquals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD N CONSULTOR"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"LEAD CONSULTOR"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1040,832],"id":"a1b627ba-5994-4dcf-a539-2371fe9a4a71","name":"verificaLeadConsultor"},{"parameters":{"operation":"get","tableId":"cadastroExecutivo","filters":{"conditions":[{"keyName":"whatsAppExecutivo","keyValue":"={{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,832],"id":"8943056f-5e0f-4750-b377-7be235661840","name":"dadosZapConsultor","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.clientName && $('LEADS').item.json.clientName.toLowerCase().includes('teste') }}","rightValue":"={{ \"sem consultor\" }}","operator":{"type":"boolean","operation":"false","singleValue":true},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"=LEADE SEM TESTE"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"LEAD TESTE"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[272,400],"id":"5735d511-4b3c-46ef-915d-85bfe5a99000","name":"verificaTeste"},{"parameters":{"resource":"messages","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","message":"={{ $('dadosBDConsultor').item.json.whatsAppExecutivo? 'Se surgir qualquer dúvida ou quiser saber mais sobre como podemos proteger seu veículo, o contato do consultor responsável pela sua cotação encontra-se logo abaixo. 🚗✨ \\nWhatsapp do seu consultor ' + $('dadosConsultor').item.json.nomeconsultor.toLowerCase().split(' ').map(p => p.charAt(0).toUpperCase() + p.slice(1)).join(' ') + ' ' + $('dadosBDConsultor').item.json.whatsAppExecutivo: \"Como sua cotação ainda está sendo analisada, posso te ajudar com qualquer dúvida ou se quiser saber mais sobre como podemos proteger seu veículo é só me chamar.\"  || \" \" }}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[400,1488],"id":"89ce6cc2-32b5-4c79-9505-e527f2630bd2","name":"Send text message1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,1488],"id":"8f520593-6c11-4efe-be99-33a174486a77","name":"Wait","webhookId":"1282dfbf-5c4b-422d-b00a-4d2f8e6c7942"},{"parameters":{"resource":"messages","operation":"send-video","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","video":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.\\n' +\n'Aprovação rápida\\n' +\n'Sem análise de perfil de condutor\\n' +\n'Assistência 24h\\n' +\n'Indenização em até 30 dias após aprovação\\n' +\n'Sem consulta a SPC/Serasa'}}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[880,1488],"id":"d7da438a-a78f-4be8-8752-50ec41bf418b","name":"Send video message3","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b1e49655-6e97-4f14-b5c7-281f2b7a9eed","leftValue":"={{ $('verBDFollowUp').item.json.isEmpty() }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,-16],"id":"13790990-c8aa-4452-b6eb-9c3b65190c2f","name":"If1"},{"parameters":{"operation":"get","tableId":"topFollowUp","filters":{"conditions":[{"keyName":"base","keyValue":"={{ $('dadosWH').item.json.base }}"},{"keyName":"dataFollowUp","keyValue":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,-16],"id":"8a2edab3-7029-45aa-b236-fd1ad80adfa6","name":"verBDFollowUp","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1024,-16],"id":"f6c305f0-13ef-469e-872d-7c7e07441059","name":"No Operation, do nothing2"},{"parameters":{"tableId":"topFollowUp","fieldsUi":{"fieldValues":[{"fieldId":"base","fieldValue":"={{ $('dadosWH').item.json.base }}"},{"fieldId":"qtdLeads","fieldValue":"={{ $('buscaLeadsPower').all().length }}"},{"fieldId":"dataFollowUp","fieldValue":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,-16],"id":"59332c96-a3b1-4d64-a2ad-dd2c525e5f46","name":"Create a row","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[576,-16],"id":"7a7bf483-ec4b-4336-b098-5f6848c61ea8","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1024,-240],"id":"2e18cc18-4db0-404e-808e-f86e3a624a4b","name":"No Operation, do nothing4"},{"parameters":{"content":"FollowUp\n\n* Filtro de cotações no PowerCRM\ncreateDate\nDI a DF\n\n* CardStatus - Fase no Funil do Lead \n1 - Nova Cotação\n2 - Em Negociação\n\n* Consultor Responsável\nresponsibleSalesman\nSem Consultor\nIgnorado\n\n* Tipo de Veículo\nworkVehicle\nNão/Sim\n\n* Adiciona a Tag\nDia 1 / Dia 3 / Dia 7 / Dia 15\n\n* Enviar mensagens \n\n","height":608,"width":512},"type":"n8n-nodes-base.stickyNote","position":[-896,16],"typeVersion":1,"id":"aadbc770-888d-443b-8157-2bce0bbecdb9","name":"Sticky Note"}],"connections":{"LEADS":{"main":[[{"node":"verificaConsultor","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"Aggregate1","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"formattedDate":{"main":[[{"node":"dadosConsultor","type":"main","index":0}]]},"setPeriodo":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"dadosWH":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code":{"main":[[{"node":"tagIncluida","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"FINALIZA2","type":"main","index":0}]]},"tagIncluida":{"main":[[{"node":"cotacaoAddTag","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"cotacaoAddTag":{"main":[[{"node":"addAtividade","type":"main","index":0}]]},"executeWF":{"main":[[{"node":"dadosWH","type":"main","index":0}]]},"arquivada":{"main":[[{"node":"validaNumZap","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"dadosConsultor":{"main":[[{"node":"arquivada","type":"main","index":0}]]},"validaNumZap":{"main":[[{"node":"verificaZap","type":"main","index":0}]]},"zapExiste":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"FINALIZA1","type":"main","index":0}]]},"verificaZap":{"main":[[{"node":"zapExiste","type":"main","index":0}]]},"FINALIZA1":{"main":[[{"node":"Code","type":"main","index":0}]]},"If2":{"main":[[{"node":"Send video message3","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"nomeBase":{"main":[[{"node":"enviaFollowUpZapTop","type":"main","index":0}],[{"node":"confereConsultor","type":"main","index":0}]]},"enviaFollowUpZapTop":{"main":[[{"node":"enviaZapConsultor","type":"main","index":0}]]},"If3":{"main":[[{"node":"videoInstitucional","type":"main","index":0}],[{"node":"verBDFollowUp","type":"main","index":0}]]},"videoInstitucional":{"main":[[{"node":"retornaBase64","type":"main","index":0}]]},"retornaBase64":{"main":[[{"node":"validaNumZap1","type":"main","index":0},{"node":"verBDFollowUp","type":"main","index":0}]]},"enviaFollowUp":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"enviaVideoInstitucional1":{"main":[[]]},"Send video message1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If4":{"main":[[{"node":"enviaVideoInstitucional","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Send video message2":{"main":[[]]},"Wait1":{"main":[[{"node":"If4","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Send text message1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Send video message1","type":"main","index":0}]]},"Send text message":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"enviaVideoInstitucional":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"addAtividade":{"main":[[{"node":"dadosBDConsultor","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"LEADS","type":"main","index":0}]]},"verificaConsultor":{"main":[[{"node":"verificaTeste","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"cardStatus":{"main":[[{"node":"formattedDate","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"confereConsultor":{"main":[[{"node":"enviaFollowUp","type":"main","index":0}],[{"node":"enviaFollowUp","type":"main","index":0}],[{"node":"Send text message","type":"main","index":0}]]},"dadosBDConsultor":{"main":[[{"node":"dadosZapConsultor","type":"main","index":0}]]},"enviaZapConsultor":{"main":[[{"node":"If","type":"main","index":0}]]},"verificaLeadConsultor":{"main":[[{"node":"nomeBase","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"dadosZapConsultor":{"main":[[{"node":"verificaLeadConsultor","type":"main","index":0}]]},"verificaTeste":{"main":[[{"node":"cardStatus","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Send text message1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If2","type":"main","index":0}]]},"Send video message3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"verBDFollowUp":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"setPeriodo","type":"main","index":0}],[{"node":"Aggregate","type":"main","index":0}]]},"validaNumZap1":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[]]},"Aggregate1":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"executeWF":[{"json":{"df":"1","di":"2","idtag":"17134","cadencia":"Dia 1","apikey":"Bearer xDXaANQK5OccE3Adl1ESgzr6lULDOYqg8ZhrOY4wN0rJHoolc2dwaobXDQu5j4yUA1iI2IgwAxJCyrcIHI5x7Xx6vfY39YCEg5I5OMV7zqKiFUEdDp1ipOBtnZRn1otCiNY7QS7BSI4B3b5N9LzVF6K3YY60tI4UtTEzwOYIH7ES1qkE0JpuRVFLDeWV1wwPsZkOkem65pALTT2uT2WcmzyX","base":"TOP","mensagem":"Sou a Fia, sua assistente virtual na TopBrasil.\nNosso consultor já está cuidando da sua solicitação de cotação.\n\nEnquanto isso, sabia que protegemos mais de 50 mil veículos em todo Brasil? Somos referência pelo nosso atendimento ágil, coberturas completas e indenizações rápidas!\n\nVou te enviar um vídeo para você descobrir como iremos cuidar de cada detalhe para garantir sua segurança e tranquilidade? 🚗✨\n\nSe surgir qualquer dúvida ou quiser saber mais sobre como podemos proteger seu veículo, o contato do consultor responsável pela sua cotação encontra-se logo abaixo. 🚗✨"}}]},"versionId":"05711252-cfa5-45a2-b827-bf875720f902","triggerCount":0,"shared":[{"createdAt":"2025-07-16T15:35:09.919Z","updatedAt":"2025-07-16T15:35:09.919Z","role":"workflow:owner","workflowId":"PfL6ivJtH269gM2K","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-08-22T13:28:52.885Z","updatedAt":"2025-08-22T13:28:52.885Z","id":"Swz5FhZ9tv1xxGyN","name":"FOLLOW-UP"}]}