wf_testes-ZEO6jX7czHUg45EQ.json
{"createdAt":"2025-08-13T18:15:54.784Z","updatedAt":"2025-09-23T19:35:08.411Z","id":"ZEO6jX7czHUg45EQ","name":"WF_TESTES","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-912,224],"id":"a79dd3e1-2144-4c0f-84a9-1fbee11e3ff7","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-720,224],"id":"9d1e3fce-ac27-4630-a6c5-fb2f92be94e3","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{\n'Olá Consultor,\\n' +\n'Hoje é aniversário do(a) nosso(a) associado ' + $('dadosAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + '.\\n' +\n'Essa é uma ótima oportunidade para fortalecer o relacionamento e mostrar que estamos sempre atentos aos momentos importantes.\\n\\n'+\n'WhatsApp de contato: 55'+ $('dadosAniversariantes').item.json.celular.match( /\\d+/g ).join('') + '\\n' +\n'Um simples gesto pode fazer toda a diferença na fidelização!\\n'+\n'Abraços,\\n'+\n'TopBrasil\\n\\n'+\n'link para abordagem:'\n}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-944,-96],"id":"09bd36dd-4201-4b1e-87fa-e64594f7f5e4","name":"msgDadosAniversariante","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=553192240123","messageText":"={{ $('dadosAniversariantes').item.json.linkMensagem }}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-720,-96],"id":"aa5d6cc9-f175-4e3c-bafe-43f8308444b0","name":"msgDadosAniversariante1","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://eledo.online/api/RESTv1/CreateFile","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Api-Key","value":"1ftx3offgvtda_oo9gnzr4knxsc3btw54g9ua1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"templateId\":\"686befe40ab282b3d273a69a\",\n\t\"templateVersion\":19,\n\t\"file\": {{ $json.toJsonString() }}\n\t\n}","options":{}},"id":"8763251e-bf36-40cb-a7a0-0cc2b93011bf","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,768]},{"parameters":{"respondWith":"json","responseBody":"={ \n\"urlArquivo\": \"{{ $json.url }}\"\n}","options":{"responseCode":200}},"id":"67ed585a-1486-42b1-bd9d-59a3cf984540","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-272,768],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"baab37e3-7c8a-4942-b994-a06bb24052e9","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-944,960]},{"parameters":{},"id":"cf5029ec-f9c7-49f6-8b7f-1097e658591a","name":"Replace Me1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-496,1040]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"items","options":{}},"id":"271c6e4b-9d60-4819-bd1f-8f1d6ff73ce1","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-720,768]},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"nome\" : \"{{ $('Loop Over Items1').item.json.nomeUsuario +  ' - ' + $('Loop Over Items').item.json.mesbase }}\",\n    \"pix\" : \"{{ $('Loop Over Items1').item.json.pix }}\",\n    \"tipopessoa\" : \"{{ $('Loop Over Items1').item.json.tipopessoa }}\",\n    \"valretidoinssresumo\" : \"{{ $('Loop Over Items1').item.json.valretidoinssresumo }}\",\n    \"valretidoirpfresumo\" : \"{{ $('Loop Over Items1').item.json.valretidoirpfresumo }}\",\n    \"valliquidoresumo\" : {{ $('Loop Over Items1').item.json.valliquidoresumo }}\n}","options":{}},"id":"c3b26de8-c971-4498-8d1a-d8f84d8a06ee","name":"Alunos1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,960]},{"parameters":{"assignments":{"assignments":[{"id":"bc0b0bb5-676d-4222-afc4-c8c523802a11","name":"nome","value":"={{ $json.body?.[0]?.nome }}","type":"string"},{"id":"f80ce4d2-d350-4337-9722-54bc9ac0b06a","name":"celular","value":"={{ $json.body?.[0]?.celular }}","type":"string"},{"id":"00eb2d22-b36e-459b-8636-26e1cb63b4cc","name":"email","value":"={{ $json.body?.[0]?.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,544],"id":"5fb3e9b4-180b-474d-9ed9-6855dee5d210","name":"dadosSGAVoluntario"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"25/09/2025\",\n  \"data_vencimento_final\": \"25/09/2025\",\n  \"codigo_situacao\": 2,\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 2\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"cc51c2b6-f99a-4fc4-97c0-a5e19a68220a","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,224],"continueOnFail":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,224],"id":"5618a598-945e-470d-9bdc-e6452de92d2f","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages","instance":"3E5F41128AA611F00BF6220BB4B018C4","token":"A0953A0DAFC765E9B84995F1","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=553192240123","message":"=Teste"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[-416,544],"id":"b670d565-dcc6-4e44-8615-2c582c1d845a","name":"Send text message","alwaysOutputData":true,"onError":"continueRegularOutput","notes":"55{{$('loopBoletos').item.json.boletos.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,224],"id":"1d1b7f60-78a2-4c95-a148-5280d8dc3df6","name":"loopBoletos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"63f0bce6-7f9c-40de-95c3-7cf6d2a4de9b","leftValue":"={{ $json.boletos.situacao_boleto }}","rightValue":"ABERTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f9fd0d87-0187-42f1-a578-a14f2720cfb1","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO FINANCEIRO","operator":{"type":"string","operation":"notEquals"}},{"id":"a6a2b332-7c4d-4c5e-8238-e5fbbb3b85ba","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ACORDO JURÍDICO EXTRAJUDICIAL","operator":{"type":"string","operation":"notEquals"}},{"id":"227f2f01-8142-4565-ba19-46880b867b77","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"ADESÃO","operator":{"type":"string","operation":"notEquals"}},{"id":"f48225d5-b6b6-42cd-b399-665705cbfe58","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"MONITORAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"375d629d-1886-4241-a120-916ad60f7046","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"DESINSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}},{"id":"8406d4ec-0043-47c8-a687-7208f3dc0e2a","leftValue":"={{ $json.boletos.tipo_boleto }}","rightValue":"INSTALAÇÃO DE EQUIPAMENTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,224],"id":"943859e9-3319-4c89-ab21-92d3406a1a51","name":"If"},{"parameters":{"tableId":"topBoletos","fieldsUi":{"fieldValues":[{"fieldId":"codigo_associado","fieldValue":"={{ $('loopBoletos').item.json.boletos.codigo_associado }}"},{"fieldId":"nome_associado","fieldValue":"={{ $('loopBoletos').item.json.boletos.nome_associado }}"},{"fieldId":"celular","fieldValue":"={{ $('loopBoletos').item.json.boletos.celular }}"},{"fieldId":"data_emissao","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_emissao }}"},{"fieldId":"data_vencimento","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_vencimento }}"},{"fieldId":"data_vencimento_original","fieldValue":"={{ $('loopBoletos').item.json.boletos.data_vencimento_original }}"},{"fieldId":"tipo_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.tipo_boleto }}"},{"fieldId":"situacao_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.situacao_boleto }}"},{"fieldId":"valor_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.valor_boleto }}"},{"fieldId":"link_boleto","fieldValue":"={{ $('loopBoletos').item.json.boletos.link_boleto }}"},{"fieldId":"linha_digitavel","fieldValue":"={{ $('loopBoletos').item.json.boletos.linha_digitavel }}"},{"fieldId":"placa","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].placa }}"},{"fieldId":"modelo","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].modelo }}"},{"fieldId":"codigo_regional","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_regional }}"},{"fieldId":"codigo_cooperativa","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_cooperativa }}"},{"fieldId":"codigo_voluntario","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"},{"fieldId":"situacao_veiculo","fieldValue":"={{ $('loopBoletos').item.json.boletos.veiculos[0].situacao_veiculo }}"},{"fieldId":"msgBoletoEnviada","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,224],"id":"1914a5f2-565f-4d14-9a94-0e9395735e04","name":"gravaBoleto","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,224],"id":"9499a75b-bd38-4d11-8448-ec60bd2b079d","name":"splitBoletos","alwaysOutputData":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"msgDadosAniversariante":{"main":[[{"node":"msgDadosAniversariante1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Alunos1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Alunos1":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"splitBoletos","type":"main","index":0}]]},"loopBoletos":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"gravaBoleto","type":"main","index":0}],[{"node":"loopBoletos","type":"main","index":0}]]},"gravaBoleto":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"loopBoletos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac438baa-90bf-41ac-86e4-3a4fc2340a67","triggerCount":0,"shared":[{"createdAt":"2025-08-13T18:15:54.784Z","updatedAt":"2025-08-13T18:15:54.784Z","role":"workflow:owner","workflowId":"ZEO6jX7czHUg45EQ","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}