wh_cotacao_topbrasil-LCb3iDmrk4dN1ots.json
{"createdAt":"2025-08-17T14:43:30.007Z","updatedAt":"2025-08-22T18:51:46.390Z","id":"LCb3iDmrk4dN1ots","name":"WH_COTACAO_TOPBRASIL","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body.jsonData }}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,112],"id":"9cdce0a9-44fc-45d9-838a-065827390047","name":"PARSE"},{"parameters":{"content":"## SETAR VARIAVEIS\n","height":520,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-112],"id":"003a9bc2-0453-4521-868d-26ed6b8c3f4a","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdd0dad1-2a16-4837-b287-6af8ff9c56ec","leftValue":"={{ $('PARSE').item.json.event.Info.IsGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,32],"id":"fc1800ed-ba5f-45e1-877c-ad67bdd973e0","name":"GRUPO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,-64],"id":"746e9908-9bdb-4e09-8c33-7a4ab30bad13","name":"IGNORAR"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ad282034-aeb1-465e-9522-430cb89cf97b","leftValue":"={{ $json.event.Info.MediaType }}","rightValue":"ptt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.event.Info.Type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"138ffeb6-84ba-46aa-9891-a16ed36a5007"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"09134377-2f5d-4e5b-a0de-2e59b64106cc","leftValue":"={{ $json.event.Info.MediaType }}","rightValue":"document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"62c817df-d193-4c80-a735-aed7c8d68bc8","leftValue":"={{ $json.event.Info.MediaType }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vídeo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"76c357bf-4ce3-4205-8e56-b941ecb6ea35","leftValue":"={{ $json.event.Info.MediaType }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[112,64],"id":"8e4e5fa4-fd6b-4fd4-8b12-3b641af1ee94","name":"Switch"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[624,64],"id":"a419a19d-290f-4c19-bdc2-d4f1f9ac4339","name":"Merge"},{"parameters":{"httpMethod":"POST","path":"cotacaotopbrasil","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-384,112],"id":"be5fed3d-a4dc-480c-a97d-4b0420789b6c","name":"Webhook","webhookId":"7a8e270e-8403-45d5-bb16-9f87c34c9a5f"},{"parameters":{"operation":"delete","key":"atendimento.SEUNUMERO@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,736],"id":"3b27e57c-3955-4f08-a9a7-29fddc1dd674","name":"DELETAR_ATENDIMENTO","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}},"disabled":true},{"parameters":{"dataToSave":{"values":[{"key":"Name","value":"={{ $json.event.Info.PushName }}"},{"key":"=Number","value":"={{ $json.event.Info.Chat }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[80,656],"id":"e0981df5-58da-4c25-a4bf-0463250eb152","name":"EXECUTION_INICIO"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva a imagem com detalhe e responda com \"Usuário enviou uma imagem, descrição da imagem: ...\"","inputType":"base64","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[384,224],"id":"748e5df8-3a89-4204-93f4-702d68b6c936","name":"IMAGEM","credentials":{"openAiApi":{"id":"m5p8JwuEJbRUUzmd","name":"TopBrTech DeepSeek"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[384,-32],"id":"dda070d2-c6d5-4aff-a5fc-aa2e76272e92","name":"AUDIO","credentials":{"openAiApi":{"id":"m5p8JwuEJbRUUzmd","name":"TopBrTech DeepSeek"}}},{"parameters":{"content":"## CUSTOMIZAR","height":260,"width":180,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,32],"id":"b52b7e3a-56f3-46a4-9b6d-10c69f827516","name":"Sticky Note19"},{"parameters":{"assignments":{"assignments":[{"id":"b0bb5511-8d02-4d7d-aa8d-c16102e34313","name":"user.name","value":"={{ $('PARSE').first().json.event.Info.PushName }}","type":"string"},{"id":"66405e8b-9117-4c83-b2b2-76faf0c2c959","name":"user.number","value":"={{ $('PARSE').first().json.event.Info.Chat }}","type":"string"},{"id":"928f3e20-266b-40fa-8297-8113cc9e718d","name":"message.sender","value":"={{ $('PARSE').first().json.event.Info.Sender.split('@')[0] }}","type":"string"},{"id":"5c6c98bf-595a-4e95-84c3-1d5a73c558fa","name":"message.origem","value":"={{ $('PARSE').first().json.event.Info.IsFromMe ? 'outgoing' : 'incoming' }}","type":"string"},{"id":"40baa5a7-8eb0-4c45-b9bc-0967cb0a053f","name":"message.group","value":"={{ $('PARSE').first().json.event.Info.IsGroup }}","type":"boolean"},{"id":"6827f62c-8cc0-40c1-b74a-a07c392abafa","name":"message.id","value":"={{ $('PARSE').first().json.event.Info.ID }}","type":"string"},{"id":"9ca882c3-dfbc-46b1-afe9-a0562d11879a","name":"message.type","value":"={{ $('PARSE').first().json.event.Info.MediaType }}","type":"string"},{"id":"4036c683-03e1-4e25-b5f8-a0b1caa4abd6","name":"message.timestamp","value":"={{ $('PARSE').first().json.event.Info.Timestamp }}","type":"string"},{"id":"6b73391d-ad4f-4969-9e1f-c697285f0b06","name":"message.content","value":"={{ $json.text }} {{ $('PARSE').first().json.event.Message.conversation }} {{ $('PARSE').first().json.event.Message.extendedTextMessage.text }} {{ $json.content }}","type":"string"},{"id":"c7d9cb83-1534-4330-9159-698229fcc9b6","name":"api.token","value":"={{ $('Webhook').first().json.body.token }}","type":"string"},{"id":"14568540-9744-4e17-92eb-481596a0a042","name":"message.atendimento","value":"720","type":"string"},{"id":"d0511c4a-1708-445a-b058-a5f5c726b1ed","name":"api.baseurl","value":"https://www.avisaapi.com.br/api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,112],"id":"19e1ee12-90d9-4985-ba98-782f8ae7dad7","name":"SET_VARIAVEIS"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"id","condition":">=","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-304,544],"id":"8e047c81-ebfa-4f59-8bc2-b77775ff103e","name":"DELETA_MEMORIA","disabled":true}],"connections":{"PARSE":{"main":[[{"node":"GRUPO","type":"main","index":0},{"node":"EXECUTION_INICIO","type":"main","index":0}]]},"GRUPO":{"main":[[{"node":"IGNORAR","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AUDIO","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Merge","type":"main","index":2}],[{"node":"Merge","type":"main","index":3}],[{"node":"IMAGEM","type":"main","index":0}]]},"Merge":{"main":[[{"node":"SET_VARIAVEIS","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"PARSE","type":"main","index":0}]]},"IMAGEM":{"main":[[{"node":"Merge","type":"main","index":4}]]},"AUDIO":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a69b0099-2733-4fa8-b210-df550bb17bbc","triggerCount":1,"shared":[{"createdAt":"2025-08-17T14:43:30.007Z","updatedAt":"2025-08-17T14:43:30.007Z","role":"workflow:owner","workflowId":"LCb3iDmrk4dN1ots","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}