wh_ezchat_resposta_tpv-8vyOzqa5ouKGxLm2.json
{"createdAt":"2025-12-05T18:17:37.304Z","updatedAt":"2025-12-23T22:00:33.363Z","id":"8vyOzqa5ouKGxLm2","name":"WH_EZCHAT_RESPOSTA_TPV","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tpv_confirma_dados","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,0],"id":"8f0dce9d-23f8-4da5-9e86-bc59d503703b","name":"Webhook","webhookId":"96ee6742-b5ce-4b6c-9dbf-dc093e401d23"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVeiculo').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"6205d148-9f0d-4b0b-aa50-3f3bf312fd65","leftValue":"={{ $('buscaVeiculo').item.json.error.status }}","rightValue":"403","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,-400],"id":"0fb69e10-256c-40c1-963c-12e0bb813858","name":"If3"},{"parameters":{"workflowId":{"__rl":true,"value":"ZmHlN4u88zI1bL0N","mode":"list","cachedResultUrl":"/workflow/ZmHlN4u88zI1bL0N","cachedResultName":"WF_ATUALIZA_TOKEN_TPV"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1808,-400],"id":"0ccb3fee-8e7e-478d-869d-21548837ac56","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGATPV"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1184,-400],"id":"e8b55c63-dbf5-46a8-92c4-d8c5cce0942e","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{$('Webhook').item.json.body.prop4}}/placa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"b86c1a85-b6f8-4139-b035-4742a8c4fae0","name":"buscaVeiculo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1392,-400],"continueOnFail":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,0],"id":"a82ff009-3bd0-424e-9e76-d6a5db59b3e6","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"eec12781-b82a-44f7-ad12-0fc75bf6c111","name":"nome_associado","value":"={{ $('Webhook').item.json.body.prop2.toUpperCase() }}","type":"string"},{"id":"69cc8e8a-4054-44a7-84d6-e2766e2e8730","name":"resposta","value":"={{ $('Webhook').item.json.body.status.toUpperCase() }}","type":"string"},{"id":"3c8e4e47-e3b0-4ee3-bc96-de7c99625591","name":"cpf_cnpj_pessoa","value":"={{ $('Webhook').item.json.body.prop3.toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"25596c4d-0281-4782-ae9c-49d325ff3bfd","name":"whDados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscarAssociadoBD').item.json.cod_associado}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"e1b5bfb3-be8b-4489-83d0-d098898fc7eb"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[976,-400],"id":"512625ca-05f2-4193-a15f-0cf2f18bd8b8","name":"verificaAssociado"},{"parameters":{"operation":"executeQuery","query":"select *\nfrom cor_associado_pessoa_v1 a\nwhere upper(a.cpf_cnpj_pessoa) = upper($1);","options":{"queryReplacement":"={{ $('Webhook').item.json.body.prop3.toUpperCase() }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,-400],"id":"b972980e-a27a-4f9f-90ea-05d2acee2af7","name":"buscarAssociadoBD","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b9fb2ab-94de-4fb7-a9e1-b5792d70417f","leftValue":"={{ $json.body.mensagem }}","rightValue":"Alterado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1392,-16],"id":"d064b6c7-a56f-44db-b134-2f5ae73ff753","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd689eae-27ca-4888-ae0c-80fffba5256c","leftValue":"={{ $json.resposta }}","rightValue":"CONFIRMADO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,0],"id":"8908c3ac-f79b-4e51-85b9-5ea261263395","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVeiculo1').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"6a0e783e-ee9f-4a11-9cfd-853bb96bdfd4","leftValue":"={{ $('buscaVeiculo1').item.json.error.status }}","rightValue":"403","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1392,368],"id":"30af9617-744b-4dd3-9a4a-b20c2146c832","name":"If4"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGATPV"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[976,368],"id":"95b724e4-b6c4-40eb-a4db-03494e5c1050","name":"buscaToken1","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{$('Webhook').item.json.body.prop4}}/placa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken1').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"7edf8d2b-a979-4453-86f9-3fcf1e6e4644","name":"buscaVeiculo1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1184,368],"continueOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('buscarAssociadoBD1').item.json.cod_associado}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"e1b5bfb3-be8b-4489-83d0-d098898fc7eb"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[976,176],"id":"82f46077-2e21-4591-84a4-85218a7aee1b","name":"verificaAssociado1"},{"parameters":{"operation":"executeQuery","query":"select *\nfrom cor_associado_pessoa_v1 a\nwhere upper(a.nome_pessoa) = upper($1);","options":{"queryReplacement":"={{ $('whDados').item.json.nome_associado }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,176],"id":"d3176c8e-8ac1-4e2f-aed1-f2159e186be7","name":"buscarAssociadoBD1","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b9fb2ab-94de-4fb7-a9e1-b5792d70417f","leftValue":"={{ $json.body.mensagem }}","rightValue":"Alterado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1184,576],"id":"c7165343-8051-48c1-a919-b9480e41989b","name":"If2"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/veiculo/alterar-situacao-para","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken1').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"codigo_situacao\": 22,\n\t\"codigo_veiculo\": {{ $('buscaVeiculo1').item.json.body[0].codigo_veiculo }},\n\t\"codigo_situacaomotivo\": 14,\n\t\"observacao\": \"AUTOMAÇÃO\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"036cade4-7463-4800-b38a-e955abf4ec6e","name":"alterarVeiculoNAO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[976,576],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/veiculo/alterar-situacao-para","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"codigo_situacao\": 1,\n\t\"codigo_veiculo\": {{ $('buscaVeiculo').item.json.body[0].codigo_veiculo }},\n\t\"codigo_situacaomotivo\": 13,\n\t\"observacao\": \"AUTOMAÇÃO\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"1c85da45-7c7a-4978-9e97-636d94c12663","name":"alterarVeiculoSIM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1184,-16],"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"value":"ZmHlN4u88zI1bL0N","mode":"list","cachedResultUrl":"/workflow/ZmHlN4u88zI1bL0N","cachedResultName":"WF_ATUALIZA_TOKEN_TPV"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1600,368],"id":"c74e1863-7964-41eb-b1bf-dd9048c987e2","name":"Call 'WF_ATUALIZA_TOKEN_TPV'","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaVeiculo').item.json.body[0].descricao_situacao }}","rightValue":"ATIVO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1184,-192],"id":"ecfb2bd9-d67a-4e36-a450-2520b338627e","name":"If5"},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET tpv_resposta = TRUE\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"={{$('Webhook').item.json.body.prop4}}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,-208],"id":"8bb7d437-0dbd-48c7-b45f-1961a18e6414","name":"updRespostaPosVendaSIM","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET tpv_resposta = FALSE\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"={{$('Webhook').item.json.body.prop4}}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,368],"id":"e47fb966-6a8e-4389-842d-52bd17e9664b","name":"updRespostaPosVendaNAO","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET dom_sit_veiculo = $2\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"={{$('Webhook').item.json.body.prop4}}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"={{ $('buscaVeiculo').item.json.body[0].descricao_situacao }}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,-192],"id":"b867ef8e-db7d-4055-aebb-12b3f440651d","name":"updSitVeiculoPosVendaSIM","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET dom_sit_veiculo = $2\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"={{$('Webhook').item.json.body.prop4}}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"={{ $('buscaVeiculo1').item.json.body[0].descricao_situacao }}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1392,576],"id":"f82d3e58-8c0a-45ce-82fc-f7bd2e6a5eea","name":"updSitVeiculoPosVendaNAO","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"errorMessage":"teste"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1600,576],"id":"3722ea69-c342-4088-9ba0-6978981af51e","name":"Stop and Error"}],"connections":{"Webhook":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[]]},"If3":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaVeiculo","type":"main","index":0}]]},"buscaVeiculo":{"main":[[{"node":"If3","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"whDados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"If1","type":"main","index":0}]]},"verificaAssociado":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscarAssociadoBD":{"main":[[{"node":"verificaAssociado","type":"main","index":0}]]},"If":{"main":[[{"node":"updSitVeiculoPosVendaSIM","type":"main","index":0}],[{"node":"updSitVeiculoPosVendaSIM","type":"main","index":0}]]},"If1":{"main":[[{"node":"buscarAssociadoBD","type":"main","index":0},{"node":"updRespostaPosVendaSIM","type":"main","index":0}],[{"node":"buscarAssociadoBD1","type":"main","index":0},{"node":"updRespostaPosVendaNAO","type":"main","index":0}]]},"If4":{"main":[[{"node":"Call 'WF_ATUALIZA_TOKEN_TPV'","type":"main","index":0}],[{"node":"alterarVeiculoNAO","type":"main","index":0}]]},"buscaToken1":{"main":[[{"node":"buscaVeiculo1","type":"main","index":0}]]},"buscaVeiculo1":{"main":[[{"node":"If4","type":"main","index":0}]]},"verificaAssociado1":{"main":[[{"node":"buscaToken1","type":"main","index":0}]]},"buscarAssociadoBD1":{"main":[[{"node":"verificaAssociado1","type":"main","index":0}]]},"If2":{"main":[[{"node":"updSitVeiculoPosVendaNAO","type":"main","index":0}],[{"node":"updSitVeiculoPosVendaNAO","type":"main","index":0}]]},"alterarVeiculoNAO":{"main":[[{"node":"If2","type":"main","index":0}]]},"alterarVeiculoSIM":{"main":[[{"node":"If","type":"main","index":0}]]},"Call 'WF_ATUALIZA_TOKEN_TPV'":{"main":[[{"node":"buscaToken1","type":"main","index":0}]]},"If5":{"main":[[{"node":"alterarVeiculoSIM","type":"main","index":0}],[{"node":"updSitVeiculoPosVendaSIM","type":"main","index":0}]]},"updSitVeiculoPosVendaNAO":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"buscaVeiculo":[{"json":{"body":[{"codigo_veiculo":"160752","codigo_depreciacao":"1","placa":"RRG4G16","chassi":"9C2JC9710SR005793","codigo_fipe":"811080-8","valor_fipe_protegido":"14750.00","porcentagem_fipe_protegido":0,"valor_fipe":14750,"valor_fixo":0,"pontos":0,"valor_adesao":0,"mes_final_carne":0,"mes_referente":"11/2025","participacao":0,"codigo_tipo_envio_boleto":"3","descricao_tipo_envio_boleto":"ENVIO POR E-MAIL E WHATSAPP","forma_pagamento_protecao":1,"ano_fabricacao":2024,"ano_modelo":2025,"data_reativacao":null,"codigo_classificacao":"1","renavam":"014057441","quantidade_portas":0,"quantidade_passageiros":0,"cambio":"M","cilindrada":125,"numero_motor":"JC97E1S005734","km":0,"codigo_regional":"2","codigo_cooperativa":"46","codigo_associado":"77789","codigo_tipo_veiculo":"3","codigo_externo":"","codigo_cota":"2919","cota":"NEW MOTOS - 0C.C. à 150C.C.","codigo_categoria":"6","tipo":"MOTOCICLETA","categoria":"NORMAL","codigo_marca":"54","marca":"HONDA","codigo_modelo":"1465","modelo":"BIZ 125 ES/ ES F.INJ./ES MIX F.INJECTION","codigo_combustivel":"1","codigo_cor":"1","codigo_grupo_produto":"5","nome":"VIVIANE PEREIRA DA SILVA","rg":"31618340","cpf":"03595877551","telefone":"9991-71784","ddd":"79","telefone_celular":"9991-71784","ddd_celular":"79","telefone_celular_aux":"","ddd_celular_aux":"","telefone_comercial":"","ddd_comercial":"","email":"cristianosilva3583@gmail.com","logradouro":"RUA MARECHAL FLORIANO PEIXOTO","numero":"467","complemento":"CASA","bairro":"GETÚLIO VARGAS","cidade":"ARACAJU","estado":"SE","cep":"49055-420","codigo_situacao":"1","data_cadastro":"2025-12-23T00:00:00-0300","hora_cadastro":"10:13:11","data_contrato":"2025-12-22T00:00:00-0300","codigo_vencimeto":"2","boleto_fisico":"N","dia_vencimento":"25","descricao_situacao":"ATIVO","codigo_voluntario":"1406","nome_voluntario":"ARTUR OLIVEIRA DA CRUZ","cpf_voluntario":"07661319551","codigo_veiculo_vinculado":null,"codigo_veiculo_indicador":null,"placa_veiculo_indicador":null,"codigo_associado_indicador":null,"cpf_associado_indicador":null,"nome_associado_indicador":null,"codigo_tabela_avaliacao":"0","usuario_cadastro":"CRM","campos_opcionais":["sem campo opcional cadastrado"]}],"headers":{"date":"Tue, 23 Dec 2025 13:36:36 GMT","content-type":"application/json","content-length":"2175","connection":"close","server":"nginx/1.22.1"},"statusCode":200,"statusMessage":"OK"}}]},"versionId":"29a671f6-60ea-4e43-92a7-5900ab4264b3","triggerCount":1,"shared":[{"createdAt":"2025-12-05T18:17:37.304Z","updatedAt":"2025-12-05T18:17:37.304Z","role":"workflow:owner","workflowId":"8vyOzqa5ouKGxLm2","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}