wh_flwup_add_tag-copy-RFuSCcCGIvIYfSDs.json
{"createdAt":"2025-07-28T23:04:21.388Z","updatedAt":"2025-07-28T23:36:05.883Z","id":"RFuSCcCGIvIYfSDs","name":"WH_FLWUP_ADD_TAG copy","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"60c78bba-46b1-4423-a378-98872dc3a084","name":"LEADS","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,16]},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('dadosWH').item.json.apikey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ $('setPeriodo').item.json[\"DtInicial\"] }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ $('setPeriodo').item.json[\"DtFinal\"] }}\"}","options":{}},"id":"e537f5d5-7ba4-42d9-8410-2e670434b2e3","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,16],"alwaysOutputData":true},{"parameters":{"operation":"formatDate","date":"={{ (DateTime.fromString($('LEADS').item.json[\"createdDate\"].substring(6, 10) + '-' + \n$('LEADS').item.json[\"createdDate\"].substring(3, 5) + '-' +\n$('LEADS').item.json[\"createdDate\"].substring(0, 2) + ' ' +\n$('LEADS').item.json[\"createdDate\"].substring(13, 18) + ':00', 'yyyy-MM-dd HH:mm:ss')) }}","format":"custom","customFormat":"yyyy-MM-dd HH:mm:ss","options":{}},"id":"fa9c90f8-26d5-4bbc-8a2f-8e6f0dfd300b","name":"formattedDate","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[320,224]},{"parameters":{"values":{"string":[{"name":"DtInicial","value":"={{ DateTime.fromISO($now.minus({days: $('dadosWH').item.json.di})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"},{"name":"DtFinal","value":"={{ DateTime.fromISO($now.minus({days: $('dadosWH').item.json.df})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"}]},"options":{}},"id":"e263d54a-75f2-443a-92ba-925c27fb98eb","name":"setPeriodo","type":"n8n-nodes-base.set","typeVersion":2,"position":[128,16]},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-208,672],"id":"81e6a800-bf22-43e4-a1fd-a96164855c3d","name":"Wait","webhookId":"a9f2334b-8ed1-4207-bb2b-a0e8aef7ee83","disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{$('LEADS').item.json['responsibleSalesman']? $('LEADS').item.json['responsibleSalesman'] : \"sem consultor\"}}","operation":"notEqual","value2":"={{ \"sem consultor\" }}"},{"value1":"={{ $json.responsavelSubstituido }}","operation":"isEmpty"}]}},"id":"76ad6ad5-de4d-41d0-a003-7d7dd2fc350e","name":"semConsultor","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,224]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 1 }}","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negociacao"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,224],"id":"eae834d3-e1d2-46aa-ac5e-1dca6a5b6c80","name":"cardStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Não","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Passeio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comercial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-48,224],"id":"0f55826c-b07f-4c30-8c48-02eddb980dbd","name":"workVehicle"},{"parameters":{"assignments":{"assignments":[{"id":"abe11d61-bd25-470e-b6a9-f4bf0c38eeae","name":"di","value":"={{ $json.di }}","type":"string"},{"id":"85a5b934-359d-43f7-9e48-b5b7326b7453","name":"df","value":"={{ $json.df }}","type":"string"},{"id":"daae31af-82ac-49b0-a424-03242c4e6411","name":"idtag","value":"={{ $json.idtag }}","type":"string"},{"id":"5c840d7a-7d16-475d-9817-143ae129f0b6","name":"cadencia","value":"={{ $json.cadencia }}","type":"string"},{"id":"5333c459-342a-4cef-bb09-45eefb569f19","name":"apikey","value":"={{ $json.apikey }}","type":"string"},{"id":"b174f9a8-15ef-4f77-bf89-0254202c48a8","name":"base","value":"={{ $json.base }}","type":"string"},{"id":"06288749-63d9-46dd-8f70-1289e24a0b2d","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-160],"id":"fddc97bb-4993-475b-9edf-ef45c4663aae","name":"dadosWH"},{"parameters":{"content":"FollowUp\n\n* Filtro de cotações no PowerCRM\ncreateDate\nDI a DF\n\n* CardStatus - Fase no Funil do Lead \n1 - Nova Cotação\n2 - Em Negociação\n\n* Consultor Responsável\nresponsibleSalesman\nSem Consultor\nIgnorado\n\n* Tipo de Veículo\nworkVehicle\nNão/Sim\n\n* Adiciona a Tag\nDia 1 / Dia 3 / Dia 7 / Dia 15\n\n* Enviar mensagens \n\n","height":608,"width":512},"type":"n8n-nodes-base.stickyNote","position":[-832,16],"typeVersion":1,"id":"6ab7c29f-bb8c-49a9-acb6-0a12750b2285","name":"Sticky Note"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const tags = $('buscaLeadsPower').item.json.tags || [];\nconst parametro = $('dadosWH').first().json.idtag;\n\nconst mapaDias = {\n  17134: \"Dia 1\",\n  17203: \"Dia 3\",\n  17205: \"Dia 7\",\n  17206: \"Dia 15\",\n};\n\nconst valorProcurado = mapaDias[Number(parametro)];\nconst contemValor = valorProcurado ? tags.includes(valorProcurado) : false;\n\nreturn {\n  tags,\n  contemValor,\n  valorProcurado\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,672],"id":"96861f67-4400-4762-aaa6-31691c932e35","name":"Code","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-256,1552],"id":"fd4cf471-520a-4c2c-ad1c-50c14bb729cc","name":"Aggregate","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[544,672],"id":"1dceb74c-05a9-4ce4-9df6-7ab75f64207f","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f411780d-0479-4ba1-b68f-66e6c1ab1b5f","leftValue":"={{ $json.contemValor }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,672],"id":"008f4e08-0684-4276-900c-c765e15d7852","name":"tagIncluida","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,896],"id":"367c9399-3ee8-4167-8305-8ccb5d1193f3","name":"If"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-activity","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"={{$('dadosWH').item.json.apikey}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"quotationCode","value":"={{ $('LEADS').item.json.quotationCode }}"},{"name":"description","value":"={{ $('dadosWH').item.json.cadencia + ': ' + $('dadosWH').item.json.mensagem }}"},{"name":"scheduled","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},{"name":"type","value":"3"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"7edaf6c9-f44e-4cad-a965-c37d7d5de7d8","name":"cotacaoAddAtividade","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,672],"retryOnFail":false,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-tag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"},{"name":"Authorization","value":"={{$('dadosWH').item.json.apikey}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"quotationCode","value":"={{ $('LEADS').item.json.quotationCode }}"},{"name":"tagId","value":"={{ $('dadosWH').item.json.idtag }}"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"7a5e99ef-4dd0-449a-9bb2-189004ed16fa","name":"cotacaoAddTag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[256,672],"retryOnFail":false,"waitBetweenTries":5000,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"df\": null,\n  \"di\": null,\n  \"idtag\": null,\n  \"cadencia\": null,\n  \"apikey\": null,\n  \"base\": null,\n  \"mensagem\": null\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-272,-160],"id":"22158170-a31c-4d49-bdec-588c727a471b","name":"executeWF"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.isShelved }}","rightValue":"=N","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ativo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.isShelved }}","rightValue":"=S","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Arquivado"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-208,448],"id":"58386794-39fb-4252-8ddf-63959905d964","name":"arquivada"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,1552],"id":"00f7f10b-3558-4c7c-87ac-af5ca74045b9","name":"FINALIZA2"},{"parameters":{"assignments":{"assignments":[{"id":"aba84381-4129-4f42-81bd-329fd90603c1","name":"=emailconsultor","value":"={{ $('LEADS').item.json.responsibleSalesmanEmail }}","type":"string"},{"id":"511676df-183e-4925-be2a-22fd52baa825","name":"nomeconsultor","value":"={{ $('LEADS').item.json.responsibleSalesman.split(\" \")[0] + ' ' + $('LEADS').item.json.responsibleSalesman.split(\" \")[$('LEADS').item.json.responsibleSalesman.split(\" \").length-1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,224],"id":"1ac22023-9bd8-4790-a735-63c5efa95234","name":"dadosConsultor"},{"parameters":{"method":"POST","url":"=https://zapi.topbrtech.com.br/chat/whatsappNumbers/zaptop","sendHeaders":true,"headerParameters":{"parameters":[{"name":" apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"numbers\": [\"55{{$('LEADS').item.json.clientMobile}}\"]}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,448],"id":"966ca704-28ce-4008-b09b-27fe887f6f36","name":"validaNumZap","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2114c5ff-8ee4-4605-9c96-2817c74f4795","leftValue":"={{ $('verificaZap').item.json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,448],"id":"28f1282a-daed-40ae-a172-60374c331bcc","name":"zapExiste","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,464],"id":"5c719cb6-3e3e-4a22-a2b3-2ecd4ea40368","name":"FINALIZA1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"e9edf2f7-d2a6-442c-982e-14a93598724a","name":"exists","value":"={{ $('validaNumZap').item.json.exists }}","type":"boolean"},{"id":"f779e761-bcf1-4330-b42c-fe4feac58756","name":"jid","value":"={{ $('validaNumZap').item.json.jid }}","type":"string"},{"id":"4e08183e-75cd-409c-b4df-f343876ad72a","name":"number","value":"={{ $('validaNumZap').item.json.number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,448],"id":"fe0fa5d4-9b3c-4694-b15c-834ea37aa7c4","name":"verificaZap","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,1360],"id":"bce67f1f-670c-432a-881e-d14e904ce540","name":"If2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('dadosWH').item.json.base }}","rightValue":"REDEAUTO","operator":{"type":"string","operation":"notEquals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"TOP"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,1008],"id":"41b4e882-658e-4de1-92fd-e07f49132e4c","name":"nomeBase"},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=55{{ $('LEADS').item.json.clientMobile }}","messageText":"={{ $('dadosWH').item.json.mensagem + ' \\n' + $('dadosConsultor').item.json.nomeconsultor || \" \" }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[32,896],"id":"97a274e6-2c93-4a49-aaa4-dafd025d3b6e","name":"enviaFollowUpZapTop","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('dadosConsultor').item.json.emailconsultor || zap.top }}","remoteJid":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","messageText":"={{ $('dadosWH').item.json.mensagem + ' \\n' + $('dadosConsultor').item.json.nomeconsultor || \" \" }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16,1136],"id":"88af4fe7-77cf-4ee0-a4b5-a7cb24392371","name":"enviaFollowUp","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"=zaptop","remoteJid":"={{ $('LEADS').item.json.clientMobile }}","media":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-224,1680],"id":"fcc45e38-5332-4c62-8f16-422536c99d5e","name":"enviaVideoInstitucional1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://zapi.topbrtech.com.br/message/sendMedia/zap.top","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"5531992240123\",\n    \"caption\": \"Conheça a Top Brasil. Quem tem está bem.\",    \n    \"mediatype\": \"video\",\n    \"mimetype\": \"video/mp4\",\n    \"fileName\": \"video_top_institucional.mp4\",\n    \"media\": \"{{ $json.video }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,-176],"id":"b8fada20-d15a-4d04-b7ab-02e916430bee","name":"validaNumZap1","disabled":true},{"parameters":{"url":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"video"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-176],"id":"e90f54ef-6c4e-42e1-8d13-6a0f0ec63898","name":"videoInstitucional"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-160],"id":"f2333b4c-6f16-453a-a816-baaba0ba5e88","name":"If3"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"video","destinationKey":"video","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[528,-176],"id":"89c33836-e184-4c3e-832d-ee8d7c962dc2","name":"retornaBase64"},{"parameters":{"resource":"messages","operation":"send-video","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","video":"https://topbrasilpv-automacao.obs.la-south-2.myhuaweicloud.com/video_top_institucional_new.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[528,1360],"id":"2fe31adc-14e5-47d0-ab08-1924febc6985","name":"Send video message","disabled":true},{"parameters":{"resource":"messages","operation":"send-video","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"={{ $('LEADS').item.json.clientMobile }}","video":"https://sis.vigicar.com.br/video/video_top_institucional.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[544,896],"id":"c1f3694d-1593-4199-9394-2f8b5a547430","name":"Send video message1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ea6a107-29ee-47f0-ba23-3f2adfc16252","leftValue":"={{ $('dadosWH').item.json.cadencia }}","rightValue":"Dia 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,1136],"id":"a8ff9e0b-8dd0-492c-809c-a0931850a3db","name":"If4","disabled":true},{"parameters":{"resource":"messages","operation":"send-video","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=5531992240123","video":"https://topbrasilpv-automacao.obs.la-south-2.myhuaweicloud.com/video_top_institucional_new.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[848,1376],"id":"57b88e3d-5763-48f2-a22d-ce7e2384e0d8","name":"Send video message2"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,1120],"id":"8834ac8d-5daa-4ada-975b-cf56cb7b1b50","name":"Wait1","webhookId":"4f73cafc-ec13-4270-bf6b-62336638af5a","disabled":true},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,1360],"id":"2660dd47-614e-489a-afb5-0fcd55c68f2f","name":"Wait2","webhookId":"8352d51d-f128-43f6-bd4f-9b6aa0393767","disabled":true},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[384,896],"id":"6686dce3-b22f-47de-aff8-bf7b5760e0ee","name":"Wait3","webhookId":"aff3411a-6744-49b5-b197-d93782a7fa2b","disabled":true},{"parameters":{"resource":"messages","instance":"3E43D742D2EDD027011D669115FAC68F","token":"4241E8E0E8A3115E477E1300","client_token":"Ff178dba5e05546e48b80a2e4801feee6S","phone":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","message":"={{ $('dadosWH').item.json.mensagem + ' \\n' + $('dadosConsultor').item.json.nomeconsultor + ' ' +\n$('dadosWH').item.json.df || \" \" }}"},"type":"n8n-nodes-whatsapp-zapi.app","typeVersion":1,"position":[16,1360],"id":"dd90c8f3-cbf8-4cb4-9756-18564f10df73","name":"Send text message","disabled":true},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"={{ $('dadosConsultor').item.json.emailconsultor || zap.top }}","remoteJid":"=55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}","media":"https://topbrasilpv-automacao.obs.la-south-2.myhuaweicloud.com/video_top_institucional_new.mp4","caption":"={{$('LEADS').item.json.clientName.split(\" \")[0] + ', conheça a Top Brasil.\\nQuem tem está bem.'}}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,1120],"id":"6bc1525d-ee05-4162-9949-baeb77fbd38a","name":"enviaVideoInstitucional","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('dadosConsultor').item.json.emailconsultor }}","rightValue":"claudiajanus@gmail.com","operator":{"type":"string","operation":"notEquals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"CLAUDIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3d1a547a-344b-4312-a341-9a6e75aea325","leftValue":"={{ $('dadosConsultor').item.json.emailconsultor }}","rightValue":"souza.rqc@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"KESSIA"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,1248],"id":"70dabb0c-cad1-4995-bc51-aaac6536ad41","name":"nomeBase1"}],"connections":{"LEADS":{"main":[[{"node":"semConsultor","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"LEADS","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"formattedDate":{"main":[[{"node":"dadosConsultor","type":"main","index":0}]]},"setPeriodo":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]},"semConsultor":{"main":[[{"node":"workVehicle","type":"main","index":0}],[]]},"cardStatus":{"main":[[{"node":"formattedDate","type":"main","index":0}],[]]},"workVehicle":{"main":[[{"node":"cardStatus","type":"main","index":0}],[{"node":"cardStatus","type":"main","index":0}]]},"dadosWH":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code":{"main":[[{"node":"tagIncluida","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"FINALIZA2","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"nomeBase","type":"main","index":0}]]},"tagIncluida":{"main":[[{"node":"cotacaoAddTag","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"cotacaoAddAtividade":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"cotacaoAddTag":{"main":[[{"node":"cotacaoAddAtividade","type":"main","index":0}]]},"executeWF":{"main":[[{"node":"dadosWH","type":"main","index":0}]]},"arquivada":{"main":[[{"node":"validaNumZap","type":"main","index":0}],[]]},"dadosConsultor":{"main":[[{"node":"arquivada","type":"main","index":0}]]},"validaNumZap":{"main":[[{"node":"verificaZap","type":"main","index":0}]]},"zapExiste":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"FINALIZA1","type":"main","index":0}]]},"verificaZap":{"main":[[{"node":"zapExiste","type":"main","index":0}]]},"FINALIZA1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"nomeBase":{"main":[[{"node":"enviaFollowUpZapTop","type":"main","index":0}],[{"node":"nomeBase1","type":"main","index":0}]]},"enviaFollowUpZapTop":{"main":[[{"node":"If","type":"main","index":0}]]},"If3":{"main":[[{"node":"videoInstitucional","type":"main","index":0}],[{"node":"setPeriodo","type":"main","index":0}]]},"videoInstitucional":{"main":[[{"node":"retornaBase64","type":"main","index":0}]]},"retornaBase64":{"main":[[{"node":"setPeriodo","type":"main","index":0},{"node":"validaNumZap1","type":"main","index":0}]]},"enviaFollowUp":{"main":[[{"node":"If4","type":"main","index":0}]]},"enviaVideoInstitucional1":{"main":[[]]},"Send video message":{"main":[[{"node":"FINALIZA2","type":"main","index":0}]]},"Send video message1":{"main":[[{"node":"FINALIZA2","type":"main","index":0}]]},"If4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Send video message2":{"main":[[]]},"Wait1":{"main":[[{"node":"enviaVideoInstitucional","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Send video message","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Send video message1","type":"main","index":0}]]},"Send text message":{"main":[[{"node":"If2","type":"main","index":0}]]},"enviaVideoInstitucional":{"main":[[{"node":"FINALIZA2","type":"main","index":0}]]},"nomeBase1":{"main":[[{"node":"enviaFollowUp","type":"main","index":0}],[{"node":"enviaFollowUp","type":"main","index":0}],[{"node":"Send text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":false,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00f815c3-bf77-4e22-b052-bda2c0f7fe43","triggerCount":1,"shared":[{"createdAt":"2025-07-28T23:04:21.388Z","updatedAt":"2025-07-28T23:04:21.388Z","role":"workflow:owner","workflowId":"RFuSCcCGIvIYfSDs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}