wh_flw_dia15-3DsSbmf3gRW1B9Nf.json
{"createdAt":"2025-07-17T14:41:39.232Z","updatedAt":"2025-07-17T15:20:21.309Z","id":"3DsSbmf3gRW1B9Nf","name":"WH_FLW_DIA15","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"f6e70620-ccff-4146-809b-272f7a91eadd","name":"LEADS","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[272,16]},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ $json[\"DtInicial\"] }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ $json[\"DtFinal\"] }}\"}","options":{}},"id":"4cb8e714-cf08-45dc-a8e0-a6dd5adac5ce","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[48,16]},{"parameters":{"operation":"formatDate","date":"={{ (DateTime.fromString($('LEADS').item.json[\"createdDate\"].substring(6, 10) + '-' + \n$('LEADS').item.json[\"createdDate\"].substring(3, 5) + '-' +\n$('LEADS').item.json[\"createdDate\"].substring(0, 2) + ' ' +\n$('LEADS').item.json[\"createdDate\"].substring(13, 18) + ':00', 'yyyy-MM-dd HH:mm:ss')) }}","format":"custom","customFormat":"yyyy-MM-dd HH:mm:ss","options":{}},"id":"ddfd0e6d-32a1-4862-81ba-6471bd7404e1","name":"formattedDate","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[272,224]},{"parameters":{"path":"topbrtech_flwup_dia15","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-416,16],"id":"9588e919-1aaf-43e4-a40c-ece171f89d58","name":"Webhook","webhookId":"493551ab-6e6a-46ee-9da8-1f3f4951bc19"},{"parameters":{"values":{"string":[{"name":"DtInicial","value":"={{ DateTime.fromISO($now.minus({days: 16})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"},{"name":"DtFinal","value":"={{ DateTime.fromISO($now.minus({days: 15})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"}]},"options":{}},"id":"4e647cbe-06c8-43c2-b6db-f98420113246","name":"setPeriodo","type":"n8n-nodes-base.set","typeVersion":2,"position":[-192,16]},{"parameters":{"respondWith":"json","responseBody":"={{ $('LEADS').item.json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[48,448],"id":"33bcd093-709b-4406-ba76-2a0b69892f83","name":"Respond to Webhook"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,448],"id":"2d38fe17-9580-4283-8f82-c0ba61eab306","name":"Wait","webhookId":"6659f5c1-736f-4d12-a3b0-202d2ee9bba8"},{"parameters":{"content":"FollowUp DIA 1\n\nFiltro\ncreateDate\nD-16 a D-15\n\nCardStatus \n1 - Nova Cotação\n2 - Em Negociação\n\nresponsibleSalesman\nSem Consultor\nIgnorado\n\nworkVehicle\nNão/Sim\n\nAdiciona a Tag \nDia 1 à cotação\n","height":640},"type":"n8n-nodes-base.stickyNote","position":[-768,-16],"typeVersion":1,"id":"a4f50317-bd20-44b4-84ee-443ac6a0b304","name":"Sticky Note"},{"parameters":{"conditions":{"string":[{"value1":"={{$('LEADS').item.json['responsibleSalesman']? $('LEADS').item.json['responsibleSalesman'] : \"sem consultor\"}}","operation":"notEqual","value2":"={{ \"sem consultor\" }}"},{"value1":"={{ $json.responsavelSubstituido }}","operation":"isEmpty"}]}},"id":"11a1a0da-3de4-40e9-b47b-c3a14a35ac24","name":"semConsultor","type":"n8n-nodes-base.if","typeVersion":1,"position":[-416,224]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 1 }}","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negociacao"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,224],"id":"e7188d2a-b6a1-46b3-9c0c-8a2cc7602305","name":"cardStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Não","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Passeio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comercial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-192,224],"id":"478c0f22-8f76-43e2-ae56-815040935656","name":"workVehicle"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-tag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"},{"name":"Authorization","value":"=Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"quotationCode","value":"={{ $('LEADS').item.json.quotationCode }}"},{"name":"tagId","value":"17206"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"73a3e313-11c8-4265-b4ac-18667c1fcd35","name":"addTagDia15","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-192,448],"retryOnFail":false,"waitBetweenTries":5000,"onError":"continueRegularOutput"}],"connections":{"LEADS":{"main":[[{"node":"semConsultor","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"LEADS","type":"main","index":0}]]},"formattedDate":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"setPeriodo","type":"main","index":0}]]},"setPeriodo":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Wait":{"main":[[{"node":"addTagDia15","type":"main","index":0}]]},"semConsultor":{"main":[[{"node":"workVehicle","type":"main","index":0}],[]]},"cardStatus":{"main":[[{"node":"formattedDate","type":"main","index":0}],[{"node":"formattedDate","type":"main","index":0}]]},"workVehicle":{"main":[[{"node":"cardStatus","type":"main","index":0}],[{"node":"cardStatus","type":"main","index":0}]]},"addTagDia15":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"92d29f89-ac95-4c7f-b74a-d3aeec25c9a3","triggerCount":1,"shared":[{"createdAt":"2025-07-17T14:41:39.232Z","updatedAt":"2025-07-17T14:41:39.232Z","role":"workflow:owner","workflowId":"3DsSbmf3gRW1B9Nf","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}