wh_flw_dia7-nZktWsLCHIrXTpSa.json
{"createdAt":"2025-07-17T14:38:04.312Z","updatedAt":"2025-07-17T15:20:09.953Z","id":"nZktWsLCHIrXTpSa","name":"WH_FLW_DIA7","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"941569dd-3d62-4156-9279-26bea5928a69","name":"LEADS","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[288,16]},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ $json[\"DtInicial\"] }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ $json[\"DtFinal\"] }}\"}","options":{}},"id":"40c2a436-554e-44f4-9ba2-c953128901e1","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,16]},{"parameters":{"operation":"formatDate","date":"={{ (DateTime.fromString($('LEADS').item.json[\"createdDate\"].substring(6, 10) + '-' + \n$('LEADS').item.json[\"createdDate\"].substring(3, 5) + '-' +\n$('LEADS').item.json[\"createdDate\"].substring(0, 2) + ' ' +\n$('LEADS').item.json[\"createdDate\"].substring(13, 18) + ':00', 'yyyy-MM-dd HH:mm:ss')) }}","format":"custom","customFormat":"yyyy-MM-dd HH:mm:ss","options":{}},"id":"a5c2f7ba-0729-4e94-a4c3-8a05ad2b4acb","name":"formattedDate","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[272,224]},{"parameters":{"path":"topbrtech_flwup_dia7","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-416,16],"id":"cbe3eba1-453e-4924-94e3-58dbe038ea29","name":"Webhook","webhookId":"4f2c96b2-7883-4460-8049-0ecaec7f7363"},{"parameters":{"values":{"string":[{"name":"DtInicial","value":"={{ DateTime.fromISO($now.minus({days: 8})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"},{"name":"DtFinal","value":"={{ DateTime.fromISO($now.minus({days: 7})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"}]},"options":{}},"id":"ecf53989-c0d9-49a9-9302-1e24d77569d4","name":"setPeriodo","type":"n8n-nodes-base.set","typeVersion":2,"position":[-160,16]},{"parameters":{"respondWith":"json","responseBody":"={{ $('LEADS').item.json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[64,448],"id":"e195813c-e077-4f4f-8a31-43d53ea07ee1","name":"Respond to Webhook"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,448],"id":"1644e2f8-c225-4d42-b3fe-47a79082d93d","name":"Wait","webhookId":"671894dc-9a11-404d-a48e-8936f41b103d"},{"parameters":{"content":"FollowUp DIA 1\n\nFiltro\ncreateDate\nD-8 a D-7\n\nCardStatus \n1 - Nova Cotação\n2 - Em Negociação\n\nresponsibleSalesman\nSem Consultor\nIgnorado\n\nworkVehicle\nNão/Sim\n\nAdiciona a Tag \nDia 1 à cotação\n","height":640},"type":"n8n-nodes-base.stickyNote","position":[-768,-16],"typeVersion":1,"id":"01a33c4c-6d98-436a-90d3-90488caa3f00","name":"Sticky Note"},{"parameters":{"conditions":{"string":[{"value1":"={{$('LEADS').item.json['responsibleSalesman']? $('LEADS').item.json['responsibleSalesman'] : \"sem consultor\"}}","operation":"notEqual","value2":"={{ \"sem consultor\" }}"},{"value1":"={{ $json.responsavelSubstituido }}","operation":"isEmpty"}]}},"id":"0ab38f98-6f04-42b2-aa31-c095707e5ca4","name":"semConsultor","type":"n8n-nodes-base.if","typeVersion":1,"position":[-416,224]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 1 }}","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negociacao"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,224],"id":"a30716ac-9bac-4b99-a227-6103c64b8d5a","name":"cardStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Não","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Passeio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comercial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-192,224],"id":"e6a5f024-2cdb-42fd-aa4e-114ffc123ecb","name":"workVehicle"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-tag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"},{"name":"Authorization","value":"=Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"quotationCode","value":"={{ $('LEADS').item.json.quotationCode }}"},{"name":"tagId","value":"17205"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"c6484bd9-a965-4540-b4ed-bef671b5b90f","name":"addTagDia7","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,448],"retryOnFail":false,"waitBetweenTries":5000,"onError":"continueRegularOutput"}],"connections":{"LEADS":{"main":[[{"node":"semConsultor","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"LEADS","type":"main","index":0}]]},"formattedDate":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"setPeriodo","type":"main","index":0}]]},"setPeriodo":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Wait":{"main":[[{"node":"addTagDia7","type":"main","index":0}]]},"semConsultor":{"main":[[{"node":"workVehicle","type":"main","index":0}],[]]},"cardStatus":{"main":[[{"node":"formattedDate","type":"main","index":0}],[{"node":"formattedDate","type":"main","index":0}]]},"workVehicle":{"main":[[{"node":"cardStatus","type":"main","index":0}],[{"node":"cardStatus","type":"main","index":0}]]},"addTagDia7":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"09b68083-058c-4682-a1ef-91bf83060a88","triggerCount":1,"shared":[{"createdAt":"2025-07-17T14:38:04.312Z","updatedAt":"2025-07-17T14:38:04.312Z","role":"workflow:owner","workflowId":"nZktWsLCHIrXTpSa","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}