wh_flw_dia3-sGWZxwSPxyxgcWzX.json
{"createdAt":"2025-07-17T14:30:17.177Z","updatedAt":"2025-07-17T15:20:17.923Z","id":"sGWZxwSPxyxgcWzX","name":"WH_FLW_DIA3","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"e098ecb2-b0d4-46c0-8565-fe01772e9711","name":"LEADS","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[288,16]},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/report/db","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"from\": \"{{ $json[\"DtInicial\"] }}\",\"stringFilterTypeDate\":1,\"to\":\"{{ $json[\"DtFinal\"] }}\"}","options":{}},"id":"c4c93d97-dded-412a-8132-f0eb10d38025","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,16]},{"parameters":{"operation":"formatDate","date":"={{ (DateTime.fromString($('LEADS').item.json[\"createdDate\"].substring(6, 10) + '-' + \n$('LEADS').item.json[\"createdDate\"].substring(3, 5) + '-' +\n$('LEADS').item.json[\"createdDate\"].substring(0, 2) + ' ' +\n$('LEADS').item.json[\"createdDate\"].substring(13, 18) + ':00', 'yyyy-MM-dd HH:mm:ss')) }}","format":"custom","customFormat":"yyyy-MM-dd HH:mm:ss","options":{}},"id":"efadbbe3-9fd0-40c2-bfad-ef80f1b938c8","name":"formattedDate","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[272,224]},{"parameters":{"path":"topbrtech_flwup_dia3","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-416,16],"id":"7aea90b8-4366-4bfe-be35-40910b49a32b","name":"Webhook","webhookId":"ecba8419-cfa9-4b80-a59b-bdd181fc0bff"},{"parameters":{"values":{"string":[{"name":"DtInicial","value":"={{ DateTime.fromISO($now.minus({days: 4})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"},{"name":"DtFinal","value":"={{ DateTime.fromISO($now.minus({days: 3})).toFormat(\"yyyy-MM-dd HH:mm:ss\")}}"}]},"options":{}},"id":"3511b2be-53e9-4ffe-ba20-8a6f10c05ef8","name":"setPeriodo","type":"n8n-nodes-base.set","typeVersion":2,"position":[-160,16]},{"parameters":{"respondWith":"json","responseBody":"={{ $('LEADS').item.json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[64,448],"id":"5c4105bc-ce77-4286-904d-cba8320cdc79","name":"Respond to Webhook"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,448],"id":"57b71310-4776-4646-b7ca-0f4b9568a463","name":"Wait","webhookId":"1c4f5307-d8cd-4ebd-8df7-69beef16e667"},{"parameters":{"content":"FollowUp DIA 1\n\nFiltro\ncreateDate\nD-2 a D-1\n\nCardStatus \n1 - Nova Cotação\n2 - Em Negociação\n\nresponsibleSalesman\nSem Consultor\nIgnorado\n\nworkVehicle\nNão/Sim\n\nAdiciona a Tag \nDia 1 à cotação\n","height":640},"type":"n8n-nodes-base.stickyNote","position":[-768,-16],"typeVersion":1,"id":"95306a6a-08c6-4d0d-bcb7-886124969d6f","name":"Sticky Note"},{"parameters":{"conditions":{"string":[{"value1":"={{$('LEADS').item.json['responsibleSalesman']? $('LEADS').item.json['responsibleSalesman'] : \"sem consultor\"}}","operation":"notEqual","value2":"={{ \"sem consultor\" }}"},{"value1":"={{ $json.responsavelSubstituido }}","operation":"isEmpty"}]}},"id":"39ddd1c2-0565-4e08-82b4-55f3acef33ca","name":"semConsultor","type":"n8n-nodes-base.if","typeVersion":1,"position":[-416,224]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 1 }}","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.cardStatus }}","rightValue":"={{ 2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negociacao"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,224],"id":"7c9abc72-4bbd-4cc4-a303-231d5ef940e3","name":"cardStatus"},{"parameters":{"method":"POST","url":"https://api.powercrm.com.br/api/quotation/add-tag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"},{"name":"Authorization","value":"=Bearer sabbWggLfwnizTsSRbZSBvovdWmcmycW9hL81QAyenOVRtNgM7bcplizZQked5ISXCqEnP1kxNdPy5z9q5OS7hJFWkddgmvtAl9qXyhhNiAbWFGbDt38HCuCJsP4MNzoEgrEmOA9GmZUEWq9Mov2FQiW1xJZor9HNJkWtjGS8BoFzteAo8gb7OTNdTzLGkkzhL3RNHsYSBHW1VLXcfDRJIZS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"quotationCode","value":"={{ $('LEADS').item.json.quotationCode }}"},{"name":"tagId","value":"17203"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"id":"e1f375b1-7c20-4a62-9efc-496f77586e86","name":"alterarCotaçãoAddTag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,448],"retryOnFail":false,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Não","operator":{"type":"string","operation":"equals"},"id":"f1ee7ae9-38c7-4f94-b5be-08140a20606c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Passeio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e2b629f4-9439-4cef-a226-20b26d6b4705","leftValue":"={{ $('LEADS').item.json.workVehicle }}","rightValue":"=Sim","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comercial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-192,224],"id":"81a314d8-bd86-4022-9800-c5c78e954db2","name":"workVehicle"}],"connections":{"LEADS":{"main":[[{"node":"semConsultor","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"LEADS","type":"main","index":0}]]},"formattedDate":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"setPeriodo","type":"main","index":0}]]},"setPeriodo":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Wait":{"main":[[{"node":"alterarCotaçãoAddTag","type":"main","index":0}]]},"semConsultor":{"main":[[{"node":"workVehicle","type":"main","index":0}],[]]},"cardStatus":{"main":[[{"node":"formattedDate","type":"main","index":0}],[{"node":"formattedDate","type":"main","index":0}]]},"alterarCotaçãoAddTag":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"workVehicle":{"main":[[{"node":"cardStatus","type":"main","index":0}],[{"node":"cardStatus","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"22ee87fd-b38d-477f-9ce0-dee23f66aee7","triggerCount":1,"shared":[{"createdAt":"2025-07-17T14:30:17.177Z","updatedAt":"2025-07-17T14:30:17.177Z","role":"workflow:owner","workflowId":"sGWZxwSPxyxgcWzX","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}