wh_google_nova_avaliacao-eCJLI3hd23aVL20a.json
{"createdAt":"2025-09-17T14:03:08.610Z","updatedAt":"2025-12-15T14:34:20.965Z","id":"eCJLI3hd23aVL20a","name":"WH_GOOGLE_NOVA_AVALIACAO","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0832260c-d311-4a12-93a8-3e0d5fd0b22b","name":"starRating","value":"={{ $('GOOGLE CONTA 5552').item.json.starRating }}","type":"string"},{"id":"4a111fc6-be72-40bc-8172-22019f3afa57","name":"reviewId","value":"={{ $('GOOGLE CONTA 5552').item.json.reviewId }}","type":"string"},{"id":"05b14fb3-7163-4202-bc66-df9c27e1773f","name":"reviewerPhoto","value":"={{ $('GOOGLE CONTA 5552').item.json.reviewer.profilePhotoUrl }}","type":"string"},{"id":"02561307-1f9f-4336-94da-fec532e81d69","name":"reviewerName","value":"={{ $('GOOGLE CONTA 5552').item.json.reviewer.displayName }}","type":"string"},{"id":"73c0f08e-e0f9-4978-bee6-02adf8163de2","name":"comment","value":"={{ $('GOOGLE CONTA 5552').item.json.comment }}","type":"string"},{"id":"d822276b-2e0a-49fd-97e5-44affac93b8b","name":"createTime","value":"={{ $('GOOGLE CONTA 5552').item.json.createTime }}","type":"string"},{"id":"f9aa2f76-d834-44ca-93f1-88f7c9d39e36","name":"updateTime","value":"={{ $('GOOGLE CONTA 5552').item.json.updateTime }}","type":"string"},{"id":"ddb1a014-904c-471c-aa3c-206e76d5e13a","name":"date","value":"={{ $now }}","type":"string"},{"id":"fbc7faba-5ebb-4e26-b592-a2f6a8974fe0","name":"name","value":"={{ $('GOOGLE CONTA 5552').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-48],"id":"5251e7b4-ba56-4c30-8488-e4cf6f94d219","name":"whDados"},{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117312520731390357611","mode":"list","cachedResultName":"Titoneli Gustavo"},"location":{"__rl":true,"value":"locations/5552281342095958040","mode":"list","cachedResultName":"locations/5552281342095958040"},"review":{"__rl":true,"value":"={{ $('whDados').item.json.name }}","mode":"name"},"reply":"=Olá {{ $('whDados').item.json.reviewerName.split(\" \")[0] }}\n\nGostaríamos de expressar nossa sincera gratidão pela avaliação maravilhosa que você deixou em nosso perfil do Google. Sua opinião é extremamente valiosa para nós e nos enche de orgulho saber que conseguimos atender às suas expectativas. \n\nFicamos imensamente satisfeitos em saber que podemos proporcionar a tranquilidade e segurança que você buscava. \n\nNosso objetivo principal é oferecer uma proteção confiável e eficiente, e suas palavras positivas nos motivam ainda mais a continuarmos aprimorando nossos serviços.\n\nAgradecemos por compartilhar sua experiência e por recomendar-nos a outras pessoas. Sua confiança é fundamental para o nosso crescimento contínuo.\n\nEstamos sempre à disposição para qualquer dúvida ou necessidade que possa surgir. Conte conosco para garantir a proteção e segurança de seu veículo, fornecendo um serviço de excelência.\n\nMais uma vez, agradecemos por sua avaliação e por escolher nossa empresa. É uma satisfação tê-lo como nosso associado.\n\nCentral de Atendimento -  WhatsApp : 31.98207.3313\nCentral Humanizado 0800.591.0025","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[448,-256],"id":"7456e98b-1f2f-49bd-9d26-921f12c8eaef","name":"responder5Estrelas","credentials":{"googleBusinessProfileOAuth2Api":{"id":"ILCyQ8nbxIfIpPUs","name":"GMB_MAKE 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"}}},{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117312520731390357611","mode":"list","cachedResultName":"Titoneli Gustavo"},"location":{"__rl":true,"value":"locations/5552281342095958040","mode":"list","cachedResultName":"locations/5552281342095958040"},"review":{"__rl":true,"value":"={{ $('whDados').item.json.name }}","mode":"name"},"reply":"=Olá {{ $('whDados').item.json.reviewerName.split(\" \")[0] }}\n\nGostaríamos de expressar nossa sincera gratidão pela avaliação maravilhosa que você deixou em nosso perfil do Google. Sua opinião é extremamente valiosa para nós e nos enche de orgulho saber que conseguimos atender às suas expectativas. \n\nFicamos imensamente satisfeitos em saber que podemos proporcionar a tranquilidade e segurança que você buscava. \n\nNosso objetivo principal é oferecer uma proteção confiável e eficiente, e suas palavras positivas nos motivam ainda mais a continuarmos aprimorando nossos serviços.\n\nAgradecemos por compartilhar sua experiência e por recomendar-nos a outras pessoas. Sua confiança é fundamental para o nosso crescimento contínuo.\n\nEstamos sempre à disposição para qualquer dúvida ou necessidade que possa surgir. Conte conosco para garantir a proteção e segurança de seu veículo, fornecendo um serviço de excelência.\n\nMais uma vez, agradecemos por sua avaliação e por escolher nossa empresa. É uma satisfação tê-lo como nosso associado.\n\nCentral de Atendimento -  WhatsApp : 31.98207.3313\nCentral Humanizado 0800.591.0025","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[448,-80],"id":"02cc8e44-7574-4552-b24d-d8dae3d63487","name":"responder4Estrelas","credentials":{"googleBusinessProfileOAuth2Api":{"id":"ILCyQ8nbxIfIpPUs","name":"GMB_MAKE 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"}}},{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117312520731390357611","mode":"list","cachedResultName":"Titoneli Gustavo"},"location":{"__rl":true,"value":"locations/5552281342095958040","mode":"list","cachedResultName":"locations/5552281342095958040"},"review":{"__rl":true,"value":"={{ $('whDados').item.json.name }}","mode":"name"},"reply":"=Olá {{ $('whDados').item.json.reviewerName.split(\" \")[0] }}\n\nAgradecemos sinceramente por compartilhar sua avaliação em nosso perfil do Google. Valorizamos seu feedback e sua opinião é extremamente importante para nós.\n\nLamentamos saber que sua experiência não atendeu completamente às suas expectativas. Levamos suas observações a sério e estamos comprometidos em aprender com elas para aprimorar nossos serviços.\n\nGostaríamos de convidá-lo a entrar em contato conosco diretamente, pelos números \nCentral de Atendimento -  WhatsApp : 31.98207.3313 ou Central Atendimento Humanizado 0800.591.0025, para tertarmos entender como podemos melhor nossos atendimento em mais detalhes. Queremos entender melhor suas preocupações e trabalhar para resolver quaisquer problemas pendentes. Sua satisfação é nossa prioridade e estamos empenhados em fazer o possível para melhorar sua experiência.\n\nAgradecemos novamente por sua avaliação e por nos fornecer informações valiosas sobre como podemos melhorar. Esperamos ter a oportunidade de reconquistar sua confiança e fornecer a você um serviço de alta qualidade.\n\nCentral de Atendimento -  WhatsApp : 31.98207.3313\nCentral Humanizado 0800.591.0025","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[448,112],"id":"e6b18535-fca0-4fd8-8625-7a66833cd2c9","name":"responder3Estrelas","credentials":{"googleBusinessProfileOAuth2Api":{"id":"ILCyQ8nbxIfIpPUs","name":"GMB_MAKE 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"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.starRating }}","rightValue":"FIVE","operator":{"type":"string","operation":"equals"},"id":"078e181e-d6b6-462b-b970-b798a8238d74"}],"combinator":"and"},"renameOutput":true,"outputKey":"5 ESTRELAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b40c042a-d085-4beb-a373-b96072320bb1","leftValue":"={{ $json.starRating }}","rightValue":"FOUR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4 ESTRELAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"49343cb0-0935-4b04-a6df-d4012ebe448e","leftValue":"={{ $json.starRating }}","rightValue":"THREE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3 ESTRELAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9313aab9-97ca-4037-bdfe-1f801d8e158e","leftValue":"={{ $json.starRating }}","rightValue":"TWO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2 ESTRELAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b104f140-f24d-49ff-97f0-821f6ad17d81","leftValue":"={{ $json.starRating }}","rightValue":"ONE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1 ESTRELA"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,-96],"id":"6975a85d-0099-40d7-94db-8d26c78ca4a2","name":"Estrelas"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.updateTime.toDateTime().format('yyyy-MM-dd') }}","rightValue":"={{$today.format('yyyy-MM-dd')}}","operator":{"type":"dateTime","operation":"equals"},"id":"25edd8cd-fb4a-482b-8220-d6e588ab0d09"}],"combinator":"and"},"renameOutput":true,"outputKey":"AVALIAÇÃO DO DIA"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,-48],"id":"b5e052b6-95dc-414d-bd0a-a6c7dc990479","name":"Avaliação do Dia"},{"parameters":{"resource":"messages-api","instanceName":"zap.top.com","remoteJid":"553183224185","messageText":"={{ \n  'TopBrasil 🤖\\n\\n' +\n  'Google Meu Negócio - Avaliação Página TopBrasl \\n\\n' + \n  'Data: ' + $now.format('dd/MM/yyyy') + '\\n\\n' + \n\n  'Nome: ' + $('whDados').item.json.reviewerName + '\\n\\n' +\n  'Comentário: ' + $('whDados').item.json.comment\n}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[784,-80],"id":"e3ee33ff-116a-4782-a298-800a73996b9c","name":"mensagemSetorResp","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-48],"id":"13016517-0292-4b69-ac06-c61132805d58","name":"Schedule Trigger"},{"parameters":{"resource":"review","operation":"getAll","account":{"__rl":true,"value":"accounts/117312520731390357611","mode":"list","cachedResultName":"Titoneli Gustavo"},"location":{"__rl":true,"value":"locations/5552281342095958040","mode":"list","cachedResultName":"locations/5552281342095958040"},"returnAll":true,"requestOptions":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[-560,-48],"id":"261cc894-fa52-4325-a675-cd65ee354f28","name":"Get many reviews","alwaysOutputData":true,"credentials":{"googleBusinessProfileOAuth2Api":{"id":"ILCyQ8nbxIfIpPUs","name":"GMB_MAKE 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"}}},{"parameters":{"errorMessage":"Teste"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[992,-80],"id":"cda894bd-a08a-404f-9567-c59e07e2e040","name":"Stop and Error"}],"connections":{"whDados":{"main":[[{"node":"Estrelas","type":"main","index":0}]]},"Estrelas":{"main":[[{"node":"responder5Estrelas","type":"main","index":0}],[{"node":"responder4Estrelas","type":"main","index":0}],[{"node":"responder3Estrelas","type":"main","index":0}],[{"node":"responder3Estrelas","type":"main","index":0}],[{"node":"responder3Estrelas","type":"main","index":0}]]},"Avaliação do Dia":{"main":[[{"node":"whDados","type":"main","index":0}]]},"responder5Estrelas":{"main":[[{"node":"mensagemSetorResp","type":"main","index":0}]]},"responder4Estrelas":{"main":[[{"node":"mensagemSetorResp","type":"main","index":0}]]},"responder3Estrelas":{"main":[[{"node":"mensagemSetorResp","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many reviews","type":"main","index":0}]]},"Get many reviews":{"main":[[{"node":"Avaliação do Dia","type":"main","index":0}]]},"mensagemSetorResp":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":false,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":false},"staticData":{"node:GOOGLE 5552":{"totalReviewCountLastTimeChecked":102},"node:GOOGLE CONTA 5552":{"totalReviewCountLastTimeChecked":103},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1da294b1-1c5e-4bf1-8a76-68a37f03f393","triggerCount":1,"shared":[{"createdAt":"2025-09-17T14:03:08.610Z","updatedAt":"2025-09-17T14:03:08.610Z","role":"workflow:owner","workflowId":"eCJLI3hd23aVL20a","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}