wh_limpa_memoria_chat-XCl9Lga8P5AQpTAb.json
{"createdAt":"2025-07-17T21:23:10.889Z","updatedAt":"2025-12-30T17:35:36.796Z","id":"XCl9Lga8P5AQpTAb","name":"WH_LIMPA_MEMORIA_CHAT","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"keys","keyPattern":"*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[208,0],"id":"e5ee242b-ad97-4ae4-87d3-b27976e42388","name":"Redis","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=zap.top 5511994172167@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[624,0],"id":"d285bb8e-08ef-4148-941e-27f5d08c47e0","name":"Redis1","alwaysOutputData":false,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b528e9d6-63de-459f-a221-85f2c0f1f6bf","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[416,0],"id":"2c79b361-939a-46d8-a3e7-7a440292e127","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-224],"id":"356400d5-9a6e-4c0c-8af3-9630ba1ffe66","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-224],"id":"4550d132-7197-4fc4-a415-7c9898a3a0e4","name":"Split Out"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[800,-224],"id":"1f7fa2d0-0bb7-4381-b292-9155305cc344","name":"Redis2","credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[208,-224],"id":"508bc176-2ae2-4cde-be2d-3daf65ea8411","name":"Redis3","alwaysOutputData":true,"credentials":{"redis":{"id":"uLk0Ix9M65LkkOZg","name":"Redis account"}}}],"connections":{"Redis":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Redis3","type":"main","index":0},{"node":"Redis","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Redis2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"229fa3ae-a269-4e2d-b4f8-e495cdef5156","triggerCount":0,"shared":[{"createdAt":"2025-07-17T21:23:10.889Z","updatedAt":"2025-07-17T21:23:10.889Z","role":"workflow:owner","workflowId":"XCl9Lga8P5AQpTAb","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}