wh_msg_pos_venda_top_consultor_associado-vWq0qpVqjVTzRx1n.json
{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2026-02-09T08:45:20.688Z","id":"vWq0qpVqjVTzRx1n","name":"WH_MSG_POS_VENDA_TOP_CONSULTOR_ASSOCIADO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-336],"id":"e7cc11dc-5fa5-424e-92e1-ebac09534108","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,-144],"id":"45fd0050-0d48-465b-8aef-527bf73a1096","name":"wh_topbrasl_pv","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_ce","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,48],"id":"cee2e3a8-a552-4ba2-a041-c68a7fc14b01","name":"wh_topbrasl_ce","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_co","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,240],"id":"b3dbec8b-3e2b-49aa-8c55-34ad2d191e04","name":"wh_topbrasl_co","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"e6f42179-592d-4c5b-90b6-6a0c6fdba074","name":"whUrl","value":"={{ $json.webhookUrl }}","type":"string"},{"id":"f171ae23-61b1-4ce0-bc2d-2d58187b45b0","name":"negotiationCode","value":"={{ $json.body.negotiationCode }}","type":"string"},{"id":"22495abf-79cd-4852-b379-11c316d1be14","name":"quotationCode","value":"={{ $json.body.quotationCode }}","type":"string"},{"id":"01a39549-ad5b-4baf-8b54-f32492503307","name":"status","value":"={{ $json.body.status }}","type":"string"},{"id":"9b8d9492-2437-46b6-a893-5d1841c3b41e","name":"instancia","value":"evo.top.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,48],"id":"3d72a9fb-7498-4ac7-87e5-f8c4d3516752","name":"whDados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_ce","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13940824-2ff6-43c9-b85d-a927850df496","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_co","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_negociacao_top_redeauto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RA"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1088,16],"id":"01406102-3484-4189-b5fe-bb2b819af7f1","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-240],"id":"462c88bc-d61b-49d8-97e0-c7418cf80e6d","name":"PV"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-48],"id":"4863cec0-0231-488c-a5bf-2c0020d1749b","name":"CE"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,144],"id":"4dc002bc-d215-4a6f-b899-772140beb578","name":"CO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,336],"id":"db58a7e3-7954-4409-b5da-7769a6b84333","name":"RA"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_negociacao_top_redeauto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,432],"id":"22d2a27c-dcb6-4a1b-85e2-a25fc766e04f","name":"wh_topbrasl_redeauto","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-48],"id":"fb2da2fd-75c1-46e0-be44-98d9bcb52b31","name":"TOP CE"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-240],"id":"e5259b7a-7b38-4956-853a-baf07e3be941","name":"TOP"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,144],"id":"5be7ad40-acba-4aa4-9562-eeaa3beba5ab","name":"TOP CO"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"REDEAUTO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,336],"id":"7557ea6f-5ea0-40b6-a009-d43ffaa2d2f0","name":"REDEAUTO"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-400,48],"id":"a1d0a1b6-17b1-46d9-b5af-afeae36a4e6e","name":"Agrega"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-176,48],"id":"21e68b34-dc4a-4b40-830c-bda280025e42","name":"nomeDominio"},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI').item.json.apiKey}}"}]},"options":{}},"id":"ed6b878f-0ff9-4bc8-af8f-20b285bc729a","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,-160],"alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[352,-160],"id":"9f1cf74c-0e2e-4a61-87a2-9d209e03eefc","name":"buscaDadosAPI","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Enviado para o SGA","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"Enviado para o SGA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Vistoria aprovada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistoria aprovada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Vistoria realizada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistoria realizada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b5bb405a-8da4-42a3-9856-73f13c662871","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Cotação criada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cotação criada"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,16],"id":"ea3469c5-f392-4134-b66e-112f73e9e1a6","name":"status"},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=553171560058","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 :: ' + $('whDados').item.json.status + ' :: ' + $('whDados').item.json.negotiationCode  }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,64],"id":"fa0461cb-04a8-41a2-8202-95b8680047ac","name":"enviaZapAdministrativo","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"07d5166a-d7d7-40ab-acff-737c6fddb986","name":"buscaLeadsPower1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,480],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[352,480],"id":"03feb3b6-a613-4f45-9a64-5c27772e5e3c","name":"buscaDadosAPI1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b34d7e12-672f-46dc-8b1e-ddf6d2576de1","leftValue":"={{$('nomeDominio').item.json.data[0].nomeDominio}}","rightValue":"TOP CE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"be2eae2b-deb7-4e0f-bd1b-773f1f2af2f5","leftValue":"={{$('nomeDominio').item.json.data[0].nomeDominio}}","rightValue":"TOP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,-224],"id":"5b40a6ae-ded8-4601-a766-c472d231dae3","name":"If2"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=55{{$('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}","messageText":"={{ \n' 🤖 -Olá ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) \n+ '\\nSeja bem-vindo(a) à *Top Brasil*\\n\\n'\n\n+ 'A seguir, alguns lembretes importantes sobre sua proteção e o boleto:\\n'\n+ '- Pague o boleto em dia para manter sua proteção ativa (adimplência) e garantir o *Amparo Top*.\\n'\n+ '- Fidelidade mínima: 3 boletos na associação.\\n'\n+ '- Cancelamento: solicite com 20 dias de antecedência do vencimento. Nosso boleto é *Pós Pago*.\\n'\n+ '- Em dezembro, há um rateio de R$15,00 (quinze reais) incluído na mensalidade. Em janeiro, os valores retornam ao padrão.\\n'\n+ '- 🚨 Assistência 24 horas: 0800 070 9090 ou 0800 200 4141.\\n\\n'\n\n+ '*Acesse o Aplicativo Top Brasil:*\\n\\n'\n\n+ 'No nosso app você pode acessar seu *boleto*, além de benefícios exclusivos, como:\\n\\n'\n+ '- *Consulta Online*\\n'\n+ '- *Descontos Combustível*\\n'\n+ '- *Descontos em Farmácias*\\n\\n'\n\n+ '*iOS:* https://apps.apple.com/br/app/top-brasil/id6746876699 \\n'\n+ '*Android:* https://play.google.com/store/apps/details?id=com.topbrasil \\n\\n'\n\n+ 'Para *Login* e *Senha*, use seu *CPF*\\n\\n'\n\n+ 'Se precisar de ajuda, estamos à disposição.'\n}}\n","options_message":{"delay":120000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-256,-480],"id":"430da328-e6e3-48e9-9f09-6a9b9a4ea4e6","name":"enviaZapPosVendaAssociadoCO","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n  SELECT \n    -- Se o JSON vier em array, pega o primeiro elemento e extrai o campo 'resultado' -> 'pessoas'\n    CASE\n      WHEN jsonb_typeof($1::jsonb) = 'array' THEN\n        ($1::jsonb -> 0 -> 'resultado' -> 'pessoas')\n      ELSE\n        ($1::jsonb -> 'resultado' -> 'pessoas')\n    END AS pessoas\n),\n\ndados AS (\n  SELECT\n    (pessoa->>'id_pessoa')::bigint AS id_pessoa,\n    pessoa->>'nome_pessoa' AS nome_pessoa,\n    pessoa->>'cpf_cnpj_pessoa' AS cpf_cnpj_pessoa,\n    pessoa->>'email_pessoa' AS email_pessoa,\n    pessoa->>'telefone_pessoa' AS telefone_pessoa\n  FROM entrada, jsonb_array_elements(entrada.pessoas) pessoa\n  WHERE pessoa->>'id_pessoa' IS NOT NULL\n),\n\n-- Insere em cor_cliente apenas se ainda não existir o vínculo para o id_pessoa\ncliente_insert AS (\n  INSERT INTO public.cor_cliente (\n    id_pessoa,\n    dom_tpo_cliente,\n    dom_sit_cliente,\n    dat_cadastro\n  )\n  SELECT\n    d.id_pessoa,\n    'LEAD',\n    'EM NEGOCIACAO',\n    NOW()\n  FROM dados d\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_cliente c WHERE c.id_pessoa = d.id_pessoa\n  )\n  RETURNING id_cliente, id_pessoa, dom_tpo_cliente, dom_sit_cliente, dat_cadastro\n),\n\n-- Caso já exista, apenas busca o registro existente\ncliente_existente AS (\n  SELECT\n    c.id_cliente,\n    c.id_pessoa,\n    c.dom_tpo_cliente,\n    c.dom_sit_cliente,\n    c.dat_cadastro\n  FROM public.cor_cliente c\n  JOIN dados d ON d.id_pessoa = c.id_pessoa\n),\n\ncliente_final AS (\n  SELECT * FROM cliente_insert\n  UNION ALL\n  SELECT * FROM cliente_existente\n)\n\n-- Retorna o resultado consolidado\nSELECT json_build_object(\n  'status', '✅ Clientes processados com sucesso',\n  'total_registros', COUNT(*),\n  'clientes', COALESCE(json_agg(cliente_final), '[]'::json)\n) AS resultado\nFROM cliente_final;\n","options":{"queryReplacement":"={{ JSON.stringify($('gravaPessoa').item.json || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[784,864],"id":"9537d890-ae57-4ce0-9e1f-3a2ac3343b24","name":"gravaCliente","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/quotationFipeApi?quotationCode={{ $('buscaLeadsPower1').item.json.quotations[0].code }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"94869e6a-c127-445a-8162-1b39270806d8","name":"buscaCodFipe","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[576,1056],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9de8e498-34ac-4ece-9d52-24a484afc6b8","name":"marca","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].title.split(\",\")[0].trim() }}","type":"string"},{"id":"e4abef10-6552-4f4d-8e99-0b03d7fde732","name":"modelo","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].title.split(\",\")[1].trim().slice(0, -5).trim() }}","type":"string"},{"id":"ee911b35-ba42-4dcf-8bea-459db2591a94","name":"ano","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].title.slice(-4) }}","type":"string"},{"id":"396d2851-5d8d-44ec-8cb4-ae976cbb5077","name":"cod_fipe","value":"={{ $('buscaCodFipe').item.json.fipeRealCode}}","type":"string"},{"id":"0da52888-6d9f-473a-9112-249b1ec59bcc","name":"id_pessoa","value":"={{ $node[\"gravaCliente\"].json.resultado.clientes[0].id_pessoa }}","type":"string"},{"id":"96d372d6-8fc3-49b7-9358-701ef8d15053","name":"id_cliente","value":"={{ $node[\"gravaCliente\"].json.resultado.clientes[0].id_cliente }}","type":"string"},{"id":"11a0e410-46ef-4034-bfaf-aca23054baae","name":"quotationCode","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].code }}","type":"string"},{"id":"eedab25f-a29b-4faf-b464-e4a8214bf688","name":"st_valor_fipe","value":"={{ $('buscaCodFipe').item.json.fipeValueQuoted}}","type":"string"},{"id":"fedefca8-716b-4678-8fab-232bf293d2e7","name":"valor_fipe","value":"={{ $('buscaCodFipe').item.json.fipeValue}}","type":"string"},{"id":"cfd3bbbe-258c-43fd-897c-2e76444c74d6","name":"nome_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].nome_pessoa }}","type":"string"},{"id":"46af5b58-e640-4501-88ac-11be406bac88","name":"cpf_cnpj_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].cpf_cnpj_pessoa }}","type":"string"},{"id":"051acd5d-7a19-463a-a6dd-d124294363bf","name":"email_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].email_pessoa }}","type":"string"},{"id":"783c7d0b-ebd8-4f0f-8c7b-e3289fd678ad","name":"telefone_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].telefone_pessoa }}","type":"string"},{"id":"e8cb4208-7848-4171-8c13-725e88fee7e9","name":"cidade","value":"={{ $('buscaLeadsPower1').item.json.client.city }}","type":"string"},{"id":"95b6c7c0-d912-49a1-aa11-964d98a26fc1","name":"estado","value":"={{ $('buscaLeadsPower1').item.json.client.state }}","type":"string"},{"id":"e4f6de00-2517-4336-a520-f18a21d2ad1f","name":"consultor","value":"={{ $('buscaLeadsPower1').item.json.responsible }}","type":"string"},{"id":"f4fdb627-50cc-4db7-bd1f-e825041b1241","name":"negotiationCode","value":"={{ $('buscaLeadsPower1').item.json.code }}","type":"string"},{"id":"0100bbc3-9861-4e49-a1b9-2a526ea015b7","name":"origin","value":"={{ $('buscaLeadsPower1').item.json.origin }}","type":"string"},{"id":"bd1d354a-83bd-4735-9414-471f18153dea","name":"leadSource","value":"={{ $('buscaLeadsPower1').item.json.leadSource }}","type":"string"},{"id":"3eca816c-e48b-4663-9918-2b0ac0d67448","name":"leadSourceSub","value":"={{ $('buscaLeadsPower1').item.json.leadSourceSub }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,1056],"id":"51c5f7a9-c42c-4c9d-868e-17c47dd405fa","name":"dadosCotacaoVeiculo"},{"parameters":{"operation":"executeQuery","query":"WITH\nentrada AS (\n  SELECT\n    ($1::json)->>'marca' AS marca,\n    ($1::json)->>'modelo' AS modelo,\n    ($1::json)->>'ano' AS ano,\n    ($1::json)->>'cod_fipe' AS cod_fipe,\n    ($1::json)->>'id_pessoa' AS id_pessoa,\n    ($1::json)->>'id_cliente' AS id_cliente,\n    ($1::json)->>'quotationCode' AS quotationCode,\n    ($1::json)->>'st_valor_fipe' AS st_valor_fipe,\n    ($1::json)->>'valor_fipe' AS valor_fipe,\n    ($1::json)->>'nome_pessoa' AS nome_pessoa,\n    ($1::json)->>'cpf_cnpj_pessoa' AS cpf_cnpj_pessoa,\n    ($1::json)->>'email_pessoa' AS email_pessoa,\n    ($1::json)->>'telefone_pessoa' AS telefone_pessoa,\n    ($1::json)->>'cidade' AS cidade,\n    ($1::json)->>'estado' AS estado,\n    ($1::json)->>'consultor' AS consultor,\n    ($1::json)->>'negotiationCode' AS negotiationCode,\n    ($1::json)->>'origin' AS origin,\n    ($1::json)->>'leadSource' AS leadSource,\n    ($1::json)->>'leadSourceSub' AS leadSourceSub\n),\n\n-- 🟦 1️⃣ Insere marca se não existir\nmarca_insert AS (\n  INSERT INTO public.cor_marca (nom_marca, dsc_marca)\n  SELECT trim(e.marca), trim(e.marca)\n  FROM entrada e\n  WHERE e.marca IS NOT NULL\n    AND trim(e.marca) <> ''\n    AND NOT EXISTS (\n      SELECT 1 FROM public.cor_marca cm\n      WHERE lower(trim(cm.nom_marca)) = lower(trim(e.marca))\n    )\n  RETURNING id_marca, nom_marca\n),\nmarca_final AS (\n  SELECT id_marca, nom_marca FROM marca_insert\n  UNION\n  SELECT id_marca, nom_marca FROM public.cor_marca\n   WHERE lower(trim(nom_marca)) = lower(trim((SELECT marca FROM entrada LIMIT 1)))\n),\n\n-- 🟩 2️⃣ Insere modelo se não existir\nmodelo_insert AS (\n  INSERT INTO public.cor_modelo (id_marca, nom_modelo, cod_fipe, dom_tpo_veiculo, dom_cat_veiculo)\n  SELECT\n    (SELECT id_marca FROM marca_final LIMIT 1),\n    trim(e.modelo),\n    NULLIF(trim(e.cod_fipe),''),\n    NULL,\n    NULL\n  FROM entrada e\n  WHERE e.modelo IS NOT NULL\n    AND trim(e.modelo) <> ''\n    AND NOT EXISTS (\n      SELECT 1 FROM public.cor_modelo cm\n      WHERE cm.id_marca = (SELECT id_marca FROM marca_final LIMIT 1)\n        AND lower(trim(cm.nom_modelo)) = lower(trim(e.modelo))\n    )\n  RETURNING id_modelo, id_marca, nom_modelo, cod_fipe\n),\nmodelo_final AS (\n  SELECT id_modelo, id_marca FROM modelo_insert\n  UNION\n  SELECT id_modelo, id_marca FROM public.cor_modelo\n   WHERE lower(trim(nom_modelo)) = lower(trim((SELECT modelo FROM entrada LIMIT 1)))\n     AND id_marca = (SELECT id_marca FROM marca_final LIMIT 1)\n),\n\n-- 🟨 3️⃣ Prepara valores\nvalores AS (\n  SELECT\n    e.*,\n    (SELECT id_marca FROM marca_final) AS id_marca,\n    (SELECT id_modelo FROM modelo_final) AS id_modelo,\n    CASE\n      WHEN coalesce(trim(e.valor_fipe),'') = '' THEN NULL\n      ELSE (\n        replace(\n          replace(\n            regexp_replace(e.valor_fipe, '[^0-9\\\\.,]', '', 'g'),\n          '.', ''), ',', '.')::numeric(12,2)\n      )\n    END AS valor_fipe_num\n  FROM entrada e\n),\n\n-- 🟥 4️⃣ Insere veículo\nveiculo_insert AS (\n  INSERT INTO public.cor_veiculo (\n    id_pessoa,\n    id_modelo,\n    nome_proprietario,\n    cpf_cnpj,\n    ano_modelo,\n    ano_fabricacao,\n    dom_tpo_veiculo,\n    dom_cat_veiculo,\n    dom_sit_veiculo,\n    cod_fipe,\n    valor_fipe,\n    valor_ajustado,\n    dth_cad_veiculo\n  )\n  SELECT\n    NULLIF(trim(v.id_pessoa),'')::bigint,\n    v.id_modelo,\n    trim(v.nome_pessoa),\n    NULLIF(trim(v.cpf_cnpj_pessoa),''),\n    NULLIF(trim(v.ano),''),\n    NULLIF(trim(v.ano),''),\n    NULL,\n    NULL,\n    'Inativo',\n    NULLIF(trim(v.cod_fipe),''),\n    v.valor_fipe_num,\n    v.valor_fipe_num,\n    now()\n  FROM valores v\n  RETURNING\n    id_veiculo,\n    id_pessoa,\n    id_modelo,\n    cod_fipe,\n    valor_fipe,\n    valor_ajustado,\n    dom_tpo_veiculo,\n    dom_cat_veiculo,\n    dom_sit_veiculo,\n    dth_cad_veiculo\n)\n\n-- 🧩 5️⃣ Retorna tudo junto\nSELECT jsonb_strip_nulls(\n  (\n    SELECT jsonb_build_object(\n      'input', to_jsonb(e),\n      'marca', to_jsonb(mf),\n      'modelo', to_jsonb(modf),\n      'veiculo', to_jsonb(vi),\n      'status', '✅ Inserção concluída com sucesso'\n    )\n    FROM entrada e,\n         marca_final mf,\n         modelo_final modf,\n         veiculo_insert vi\n  )\n) AS resultado;\n","options":{"queryReplacement":"={{ JSON.stringify($('dadosCotacaoVeiculo').item.json || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1008,1056],"id":"4da727f0-6cdb-42f0-8d23-4eab92463210","name":"gravaMarcaModeloVeiculo","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"WITH\n-- 🧩 Detecta se o JSON é array ou objeto\njson_tipo AS (\n  SELECT jsonb_typeof($1::jsonb) = 'array' AS eh_array\n),\n\n-- 🧩 Extrai o objeto \"resultado\" e mantém o JSON de entrada INTEIRO\nentrada_bruta AS (\n  SELECT\n    CASE\n      WHEN jt.eh_array THEN ($1::json->0)                 -- mantém o objeto completo\n      ELSE ($1::json)\n    END AS json_original,\n\n    CASE\n      WHEN jt.eh_array THEN ($1::json->0)->'resultado'    -- extrai \"resultado\"\n      ELSE ($1::json)->'resultado'\n    END AS resultado\n  FROM json_tipo jt\n),\n\n-- 🧩 Normaliza os campos dentro de resultado.input\nentrada AS (\n  SELECT\n    json_original,\n    resultado,\n    resultado->'input'->>'id_cliente'        AS id_cliente,\n    resultado->'input'->>'consultor'         AS consultor,\n    resultado->'input'->>'negotiationcode'   AS negotiationcode,\n    resultado->'input'->>'origin'            AS origin,\n    resultado->'input'->>'leadsource'        AS leadsource,\n    resultado->'input'->>'leadSourceSub'     AS leadsource_sub\n  FROM entrada_bruta\n),\n\n-- 🧩 Localiza id_colaborador pelo consultor\ncolaborador_lookup AS (\n  SELECT cl.id_colaborador\n  FROM cor_colaborador cl\n  JOIN cor_pessoa p ON p.id_pessoa = cl.id_pessoa\n  WHERE LOWER(TRIM(p.nome_pessoa)) ILIKE LOWER(TRIM((SELECT consultor FROM entrada)))\n  LIMIT 1\n),\n\n-- 🧩 Insere negociação\nnegociacao_insert AS (\n  INSERT INTO crm_negociacao (\n    id_colaborador,\n    id_cliente,\n    id_usuario,\n    id_indicador,\n    cod_negociacao,\n    dat_negociacao,\n    dat_canc_negociacao,\n    dom_sit_negociacao,\n    dom_ind_origem,\n    dom_ind_fonte,\n    dom_ind_momento,\n    dom_tpo_negociacao,\n    dom_mot_cancel,\n    obs_negociacao\n  )\n  SELECT\n    (SELECT id_colaborador FROM colaborador_lookup),\n    NULLIF(id_cliente,'')::bigint,\n    NULL,\n    NULL,\n    negotiationcode,\n    NOW(),\n    NULL,\n    'Cotação Recebida',\n    'POWERCRM',\n    origin,\n    leadsource,\n    'COTACAO',\n    NULL,\n    leadsource_sub\n  FROM entrada\n  RETURNING *\n)\n\n-- 🧩 Retorno FINAL AGRUPADO\nSELECT jsonb_build_object(\n  'entrada', e.json_original,       -- 🔥 JSON COMPLETO DE ENTRADA\n  'saida', to_jsonb(ni)             -- 🔥 RESULTADO DA INSERÇÃO\n) AS resultado\nFROM negociacao_insert ni\nCROSS JOIN entrada e;\n","options":{"queryReplacement":"={{ JSON.stringify($('gravaMarcaModeloVeiculo').item.json) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,1248],"id":"dde7cc4b-b869-4cf8-a9af-cb38c2bb38d0","name":"gravaCRMNegociacao","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"WITH\n-- 🧩 Detecta se JSON é array (TRUE) ou objeto (FALSE)\njson_tipo AS (\n    SELECT jsonb_typeof($1::jsonb) = 'array' AS eh_array\n),\n\n-- 🧩 Extrai o objeto correto (array[0] OU objeto direto)\nentrada_bruta AS (\n    SELECT\n        CASE\n            WHEN jt.eh_array THEN ($1::json->0)->'resultado'\n            ELSE ($1::json)->'resultado'\n        END AS resultado\n    FROM json_tipo jt\n),\n\n-- 🧩 Extrai o JSON exatamente como ele veio (resultado → entrada → resultado.input etc.)\ndados AS (\n    SELECT\n        resultado->'saida'->>'id_negociacao'       AS id_negociacao,\n        resultado->'entrada'->'resultado'->'input'->>'quotationcode' AS cod_cotacao,\n        resultado->'entrada'->'resultado'->'veiculo'->>'id_veiculo'  AS id_veiculo\n    FROM entrada_bruta\n),\n\n-- 🧩 Insere a cotação\ncotacao_insert AS (\n    INSERT INTO crm_cotacao (\n        id_negociacao,\n        id_modalidade_pgto,\n        id_condicao_pgto,\n        id_veiculo,\n        id_local_cidade_circ,\n        id_tabela_preco,\n        id_plano,\n        cod_cotacao,\n        dom_sit_cotacao,\n        dom_tpo_cotacao,\n        dom_ind_origem,\n        dth_cotacao\n    )\n    SELECT\n        NULLIF(d.id_negociacao, '')::bigint,\n        NULL,\n        NULL,\n        NULLIF(d.id_veiculo, '')::bigint,  \n        NULL,\n        NULL,\n        NULL,\n        d.cod_cotacao,\n        'Cotação Recebida',\n        'VEICULO',\n        'POWERCRM',\n        NOW()\n    FROM dados d\n    RETURNING *\n)\n\n-- 🧩 Retorno final\nSELECT jsonb_build_object(\n    'status', '✅ Cotação registrada com sucesso',\n    'cotacao', to_jsonb(c)\n) AS resultado\nFROM cotacao_insert c;\n","options":{"queryReplacement":"={{ JSON.stringify($('gravaCRMNegociacao').item.json) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[784,1248],"id":"31d10072-0779-490f-b97d-e29c0ebdeaf9","name":"gravaCRMCotacao","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"select *\nfrom cor_colaborador_pessoa_v1 as c\nwhere c.nome_pessoa = $1\n   or c.nome_pessoa_cracha = $2","options":{"queryReplacement":"={{ ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() + ',' + ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,32],"id":"f1fec39b-3564-4d7e-8b93-c7cc213e5c9a","name":"buscaConsultor","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=55{{ $('buscaConsultor').item.json.whatsapp_pessoa.match( /\\d+/g ).join('') }}","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + '\\nConsultor: ' + $('buscaConsultor').item.json.nome_pessoa.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nAssociado: ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower').item.json.title}}","options_message":{"delay":120000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[576,224],"id":"569dc9d0-e428-4fd7-bacc-00e878e4a3b3","name":"enviaZapConsultor2","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"method":"POST","url":"https://zapi.topbrtech.com.br/message/sendTemplate/bm_top_3195929809","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"name\": \"pos_venda_associado_pvce\",\n    \"language\": \"pt_BR\",\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.subtitle }}\" }\n        ]\n      }\n    ]\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-496],"id":"717383bf-c143-4d89-a5ec-81f0ed34b78c","name":"pos_venda_associado_pvce","disabled":true},{"parameters":{"method":"POST","url":"https://zapi.topbrtech.com.br/message/sendTemplate/bm_top_3195929809","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"name\": \"pos_venda_associado_co\",\n    \"language\": \"pt_BR\",\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.subtitle }}\" }\n        ]\n      }\n    ]\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-272],"id":"cb724a4e-5f7e-478f-97f1-0a64a4d89644","name":"pos_venda_associado_co","disabled":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/{{ $('whDados').item.json.quotationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"6e162bc5-23cf-4354-b116-4154c64f1b49","name":"buscaPowerCotacao","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1008,1248],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"WITH data AS (\n    SELECT\n        ($1)::json ->> 'plate' AS plate,\n        ($1)::json ->> 'chassi' AS chassi,\n\n        -- LIMPA E CONVERTE PARA NUMERIC\n        REPLACE(REPLACE(REGEXP_REPLACE(($1)::json ->> 'currentMonthlyTotal', '[^0-9,]', '', 'g'), ',', '.'), ' ', '')::numeric AS val_mensalidade,\n        REPLACE(REPLACE(REGEXP_REPLACE(($1)::json ->> 'acquisitionPrice', '[^0-9,]', '', 'g'), ',', '.'), ' ', '')::numeric AS val_adesao,\n        REPLACE(REPLACE(REGEXP_REPLACE(($1)::json ->> 'participacao', '[^0-9,]', '', 'g'), ',', '.'), ' ', '')::numeric AS val_franquia,\n        REPLACE(REPLACE(REGEXP_REPLACE(($1)::json ->> 'trackerPrice', '[^0-9,]', '', 'g'), ',', '.'), ' ', '')::numeric AS val_rastreador,\n\n        ($1)::json ->> 'planName' AS observacao,\n\n        -- ✔ CONVERTE DD/MM/YYYY para TIMESTAMP\n        to_timestamp(($1)::json ->> 'quotationValidity', 'DD/MM/YYYY') AS dth_valid_cotacao,\n\n        (($1)::json ->> 'id_veiculo')::int AS id_veiculo,\n        (($1)::json ->> 'id_cotacao')::int AS id_cotacao\n),\n\nupd_cor_veiculo AS (\n    UPDATE cor_veiculo cv\n    SET\n        num_placa = d.plate,\n        num_chassi = d.chassi\n    FROM data d\n    WHERE cv.id_veiculo = d.id_veiculo\n    RETURNING cv.id_veiculo\n),\n\nupd_crm_cotacao AS (\n    UPDATE crm_cotacao cc\n    SET\n        val_mensalidade   = d.val_mensalidade,\n        val_adesao        = d.val_adesao,\n        val_franquia      = d.val_franquia,\n        val_rastreador    = d.val_rastreador,\n        obs_cotacao        = d.observacao,\n        dth_valid_cotacao = d.dth_valid_cotacao\n    FROM data d\n    WHERE cc.id_cotacao = d.id_cotacao\n    RETURNING cc.id_cotacao\n)\n\nSELECT\n    'Atualização concluída com sucesso' AS status,\n    (SELECT id_veiculo FROM upd_cor_veiculo LIMIT 1) AS veiculo_atualizado,\n    (SELECT id_cotacao FROM upd_crm_cotacao LIMIT 1) AS cotacao_atualizada,\n    (SELECT plate FROM data) AS placa,\n    (SELECT dth_valid_cotacao FROM data) AS validade_cotacao;\n","options":{"queryReplacement":"={{ JSON.stringify($('cotacao').item.json) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1008,1440],"id":"855baa7a-9105-42d6-bd35-0a7205e7443e","name":"atualizarCRMCotacao","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"assignments":{"assignments":[{"id":"2aae8f70-0859-4aaa-8360-aebea92511f0","name":"id_cotacao","value":"={{$('gravaCRMCotacao').item.json.resultado.cotacao.id_cotacao}}","type":"string"},{"id":"3cff3dcc-ecd8-4a31-98b4-7ab995510c62","name":"id_veiculo","value":"={{$('gravaCRMCotacao').item.json.resultado.cotacao.id_veiculo}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,1440],"id":"d19f5d89-f828-413c-b420-bdd6bbd00a2f","name":"criaJson"},{"parameters":{"jsCode":"function deepMerge(target, source) {\n  for (const key of Object.keys(source)) {\n    if (\n      source[key] instanceof Object &&\n      key in target &&\n      target[key] instanceof Object\n    ) {\n      Object.assign(source[key], deepMerge(target[key], source[key]));\n    }\n  }\n  return { ...target, ...source };\n}\n\nconst a = $node[\"criaJson\"].json;\nconst b = $node[\"buscaPowerCotacao\"].json;\n\nreturn [{ json: deepMerge(a, b) }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,1440],"id":"a33016fb-d8d1-4100-b1c2-aa5249be0047","name":"cotacao"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a08f4e7e-14aa-4651-904f-0de6ef13ab12","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"4912ee5b-f7bd-4794-9866-6f87851b5f7d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_cliente\": \"{{$('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"nome_agente\": \"{{$('buscaLeadsPower').item.json.responsible.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"placa\": \"{{$('buscaPowerCotacao1').item.json.plate}}\",  \n    \"veiculo\": \"{{$('buscaPowerCotacao1').item.json.carModel}}\",  \n    \"servico\": \"TPV - PVCE\",  \n    \"phone\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"cpf_cnpj_cliente\": \"{{$('buscaLeadsPower').item.json.client.registration.match( /\\d+/g ).join('')}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,-336],"id":"7430e9a8-d386-496b-a797-6689f608db26","name":"tpvPVCE","retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a08f4e93-5ae9-44fa-9d22-852c27001333","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"95e4a384-da0a-49c0-afa0-733af7a9e3e0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_cliente\": \"{{$('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"nome_agente\": \"{{$('buscaLeadsPower').item.json.responsible.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"placa\": \"{{$('buscaPowerCotacao1').item.json.plate}}\",  \n    \"veiculo\": \"{{$('buscaPowerCotacao1').item.json.carModel}}\",  \n    \"servico\": \"TPV - CO\",  \n    \"phone\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"cpf_cnpj_cliente\": \"{{$('buscaLeadsPower').item.json.client.registration.match( /\\d+/g ).join('')}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,-128],"id":"5b05fd05-a21a-474f-9a79-289fc69ad57d","name":"tpvCO","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/{{$('whDados').item.json.quotationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-Type","value":"application/json"},{"name":"authorization","value":"={{$('buscaDadosAPI').item.json.apiKey}}"}]},"options":{}},"id":"a18826d0-ff8d-45c7-9cd6-01248c3bebd8","name":"buscaPowerCotacao1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1024,-240],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=55{{ $('dadosBDConsultor').item.json.whatsapp_pessoa.match( /\\d+/g ).join('') }}","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + '\\nConsultor: ' + $('dadosBDConsultor').item.json.nome_pessoa.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nAssociado: ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower').item.json.title}}","options_message":{"delay":120000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-256,-272],"id":"a91ea852-b015-4a40-bb37-fa35730d3197","name":"enviaZapConsultor","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"errorMessage":"Teste"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1712,352],"id":"439f8141-8d36-449f-8a96-a6edc3b59f8a","name":"Stop and Error"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,-240],"id":"3ce964e5-465d-46e5-9af2-bfaeafe0de3d","name":"Wait","webhookId":"5932bf30-21ae-4562-b598-59331b6539dd"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a08f4e7e-14aa-4651-904f-0de6ef13ab12","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"4912ee5b-f7bd-4794-9866-6f87851b5f7d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_cliente\": \"SARA\",\n    \"nome_agente\": \"AUTOMACAO\",\n    \"placa\": \"TPV0001\",  \n    \"veiculo\": \"TESTE\",  \n    \"servico\": \"TPV - PVCE\",  \n    \"phone\": \"553192240123\",\n    \"cpf_cnpj_cliente\": \"04692266686\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,-464],"id":"74be8b83-66f8-4b5c-b97e-ec99b28e0db9","name":"tpvPVCE1","retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a08f4e93-5ae9-44fa-9d22-852c27001333","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"95e4a384-da0a-49c0-afa0-733af7a9e3e0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_cliente\": \"SARA\",\n    \"nome_agente\": \"AUTOMACAO\",\n    \"placa\": \"TCO0001 - MODELO TESTE CO\",  \n    \"veiculo\": \"TESTE\",  \n    \"servico\": \"TPV - CO\",  \n    \"phone\": \"553192240123\",\n    \"cpf_cnpj_cliente\": \"04692266686\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,-240],"id":"9250bbcb-f3a8-4bcd-9ac6-be7b0dee3155","name":"tpvCO1","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"P7xaEeBRUr5s7bwl","mode":"list","cachedResultUrl":"/workflow/P7xaEeBRUr5s7bwl","cachedResultName":"SUB_POPULA_ERP_COR_ASSOCIADOS_CPFCNPJ"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cpfcnpj":"={{$('buscaLeadsPower').item.json.client.registration.match( /\\d+/g ).join('')}}","quantidadePagina":0,"pagina":0,"token":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"},"matchingColumns":[],"schema":[{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pagina","displayName":"pagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cpfcnpj","displayName":"cpfcnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1168,-512],"id":"6055ea73-1339-49d5-88ce-56663102baec","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGAAtualizaBD"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-720],"id":"26531c68-82d4-4cee-91dc-e76438fb1102","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"3c776477-9b50-4e2f-8acb-139c25eacf56","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[992,-720],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,-720],"id":"3f9356a9-e7c6-448d-9a64-8b801f9cb0ee","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"dHJLGG2RQun9vk9d","mode":"list","cachedResultUrl":"/workflow/dHJLGG2RQun9vk9d","cachedResultName":"SUB_POPULA_ERP_COR_VEICULOS_PLACA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":0,"pagina":0,"token":"={{ $('buscaTokenBD1').item.json['descricaoDominio'] }}","placa":"={{$('buscaPowerCotacao1').item.json.plate}}"},"matchingColumns":[],"schema":[{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"pagina","displayName":"pagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"placa","displayName":"placa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"codigo_veiculo","displayName":"codigo_veiculo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2192,-512],"id":"ce2259f0-6a29-4853-953b-75a83b428c17","name":"Execute Workflow2","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGAAtualizaBD"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1792,-720],"id":"96e64697-8709-4fc8-8912-8cd3e47f2fd2","name":"buscaTokenBD1","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/associado","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD1').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"codigo_situacao\": \"1\",\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"4f14c3f5-d97a-4401-8199-60839e4b7aaa","name":"buscaQuantPaginas1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1984,-720],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,-720],"id":"54f5746d-b3f3-43fe-98e3-935fe38ecf4d","name":"If5"},{"parameters":{"workflowId":{"__rl":true,"value":"w4v6KMhSHceEmSSn","mode":"list","cachedResultUrl":"/workflow/w4v6KMhSHceEmSSn","cachedResultName":"WF_ATUALIZA_TOKEN_ATUALIZA_BD"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2384,-720],"id":"749241d7-ba10-4166-b04b-c635af551d73","name":"Execute Workflow3","executeOnce":true},{"parameters":{"errorMessage":"Teste"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2400,-512],"id":"5a7dcf22-eec0-45cf-b33c-8f0a131ae6cd","name":"Stop and Error2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[576,672],"id":"d0ffa362-6130-4ca3-933d-1f596bf676fc","name":"No Operation, do nothing"},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n  -- 🔧 Garante que o parâmetro seja sempre um ARRAY JSON válido\n  SELECT\n    CASE\n      WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n      ELSE jsonb_build_array($1::jsonb)\n    END AS arr\n),\n\ndados AS (\n  -- 🧩 Etapa 0: Extrai e normaliza os dados do campo \"client\"\n  SELECT\n    (elem->'client'->>'fullName') AS nome_pessoa,\n    -- Se não houver CPF, gera um ID pseudo-único baseado no nome e hash do registro\n    COALESCE(\n      NULLIF(regexp_replace((elem->'client'->>'registration'), '[^0-9]', '', 'g'), ''),\n      md5((elem->'client'->>'fullName') || (elem->>'code'))\n    ) AS cpf_cnpj_pessoa,\n    'FÍSICA' AS dom_tpo_pessoa,\n    (elem->'client'->>'fullName') AS nome_pessoa_cracha,\n    (elem->'client'->>'rg') AS rg_pessoa,\n    (elem->'client'->>'expeditor') AS rg_orgao_exp,\n    NULLIF((elem->'client'->>'expeditionDate'), '')::date AS rg_data_exp,\n    (elem->'client'->>'cnh') AS num_cnh,\n\n    -- Extrai categorias CNH (seguro mesmo se for nulo ou vazio)\n    (\n      SELECT string_agg(cat, ',')\n      FROM jsonb_array_elements_text(COALESCE(elem->'client'->'categories', '[]'::jsonb)) AS cat\n    ) AS cat_cnh,\n\n    NULLIF((elem->'client'->>'firstQualification'), '')::date AS dat_prim_cnh,\n    NULLIF((elem->'client'->>'birthdate'), '')::date AS dat_nasc_pessoa,\n    (elem->'client'->>'email') AS email_pessoa,\n    (elem->'client'->>'phoneMain') AS telefone_pessoa,\n    (elem->'client'->>'phoneHome') AS tel_recados_pessoa,\n    (elem->'client'->>'phoneCommercial') AS tel_comercial_pessoa,\n    CASE \n      WHEN (elem->'client'->>'gender')::int = 1 THEN 'M'\n      WHEN (elem->'client'->>'gender')::int = 2 THEN 'F'\n      ELSE NULL\n    END AS dom_sexo\n  FROM entrada, jsonb_array_elements(entrada.arr) elem\n),\n\n-- 🧩 Etapa 1: Garante que cada registro tenha um CPF/CNPJ único\ndados_tratados AS (\n  SELECT DISTINCT ON (cpf_cnpj_pessoa) *\n  FROM dados\n  WHERE cpf_cnpj_pessoa IS NOT NULL\n),\n\n-- 🧩 Etapa 2: Busca pessoas já existentes\npessoa_existente AS (\n  SELECT \n    p.id_pessoa,\n    p.nome_pessoa,\n    p.cpf_cnpj_pessoa,\n    p.email_pessoa,\n    p.telefone_pessoa\n  FROM public.cor_pessoa p\n  JOIN dados_tratados d ON d.cpf_cnpj_pessoa = p.cpf_cnpj_pessoa\n),\n\n-- 🧩 Etapa 3: Insere apenas novas pessoas\npessoa_nova AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    nome_pessoa_cracha,\n    rg_pessoa,\n    rg_orgao_exp,\n    rg_data_exp,\n    num_cnh,\n    cat_cnh,\n    dat_prim_cnh,\n    dat_nasc_pessoa,\n    email_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_recados_pessoa,\n    tel_comercial_pessoa,\n    dom_sexo\n  )\n  SELECT\n    upper(d.nome_pessoa) as nome_pessoa,\n    d.cpf_cnpj_pessoa,\n    d.dom_tpo_pessoa,\n    upper(d.nome_pessoa_cracha) as nome_pessoa_cracha,\n    d.rg_pessoa,\n    d.rg_orgao_exp,\n    d.rg_data_exp,\n    d.num_cnh,\n    d.cat_cnh,\n    d.dat_prim_cnh,\n    d.dat_nasc_pessoa,\n    d.email_pessoa,\n    d.telefone_pessoa,\n    d.telefone_pessoa,\n    d.telefone_pessoa,\n    d.tel_recados_pessoa,\n    d.tel_comercial_pessoa,\n    d.dom_sexo\n  FROM dados_tratados d\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_pessoa p WHERE p.cpf_cnpj_pessoa = d.cpf_cnpj_pessoa\n  )\n  RETURNING id_pessoa, nome_pessoa, cpf_cnpj_pessoa, email_pessoa, telefone_pessoa\n),\n\n-- 🧩 Etapa 4: Combina novas e existentes\npessoa_final AS (\n  SELECT * FROM pessoa_existente\n  UNION ALL\n  SELECT * FROM pessoa_nova\n)\n\n-- 🧩 Etapa 5: Retorna JSON agregado (1 único registro)\nSELECT json_build_object(\n  'status', '✅ Processo concluído com sucesso',\n  'total_processados', COUNT(*),\n  'pessoas', COALESCE(json_agg(pessoa_final), '[]'::json)\n) AS resultado\nFROM pessoa_final;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaLeadsPower1').item.json || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,864],"id":"8ea1135f-0b2f-43a6-acc2-4a475930bd15","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"163f06bb-f3b9-4c7a-a929-5164a5e3c4a1","leftValue":"={{ $json.data[0].exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,352],"id":"efa47e96-24df-4d0e-a881-a1b8a25b774d","name":"If6","disabled":true},{"parameters":{"operation":"executeQuery","query":"WITH data AS (\n    SELECT\n        ($1)::json ->> 'code'            AS code,\n        ($1)::json ->> 'title'           AS title,\n        ($1)::json ->> 'subtitle'        AS subtitle,\n        ($1)::json ->> 'pipelineColumn'  AS pipelineColumn,\n        ($1)::json ->> 'leadSource'      AS leadSource,\n        ($1)::json ->> 'leadSourceSub'   AS leadSourceSub,\n        ($1)::json ->> 'origin'          AS origin,\n        ($1)::json ->> 'responsible'     AS responsible,\n        ($1)::json ->> 'affiliate'       AS affiliate,\n        (($1)::json ->> 'isShelved')::boolean AS isShelved,\n        ($1)::json ->> 'error'           AS error,\n\n        -- JSONB\n        ($1)::json -> 'client'      AS client,\n        ($1)::json -> 'quotations'  AS quotations,\n        ($1)::json -> 'tags'        AS tags,\n        ($1)::json -> 'inspection'  AS inspection,\n\n        -- Contatos\n        ($1)::json ->> 'name'          AS name,\n        ($1)::json ->> 'phoneHome'     AS phoneHome,\n        ($1)::json ->> 'phoneMobile1'  AS phoneMobile1,\n        ($1)::json ->> 'phoneMobile2'  AS phoneMobile2,\n        ($1)::json ->> 'phoneWork'     AS phoneWork,\n        ($1)::json ->> 'email'         AS email,\n\n        -- Veículo\n        ($1)::json ->> 'plate'        AS plate,\n        ($1)::json ->> 'chassi'       AS chassi,\n        ($1)::json ->> 'carModel'     AS carModel,\n        ($1)::json ->> 'carModelYear' AS carModelYear,\n\n        -- Plano / valores (mantidos como TEXT)\n        ($1)::json ->> 'planName'             AS planName,\n        ($1)::json ->> 'monthlyPayment'       AS monthlyPayment,\n        ($1)::json ->> 'currentMonthlyTotal'  AS currentMonthlyTotal,\n        ($1)::json ->> 'acquisitionPrice'     AS acquisitionPrice,\n        ($1)::json ->> 'trackerPrice'         AS trackerPrice,\n        ($1)::json ->> 'participacao'         AS participacao,\n        ($1)::json ->> 'quotationValidity'    AS quotationValidity,\n        (($1)::json ->> 'acquisitionPaid')::boolean AS acquisitionPaid,\n        ($1)::json ->> 'createdAt'             AS createdAt\n),\n\nupsert AS (\n    INSERT INTO crm_tpv_posvenda (\n        code,\n        title,\n        subtitle,\n        pipelineColumn,\n        leadSource,\n        leadSourceSub,\n        origin,\n        responsible,\n        affiliate,\n        isShelved,\n        error,\n        client,\n        quotations,\n        tags,\n        name,\n        phoneHome,\n        phoneMobile1,\n        phoneMobile2,\n        phoneWork,\n        email,\n        plate,\n        chassi,\n        carModel,\n        carModelYear,\n        planName,\n        monthlyPayment,\n        currentMonthlyTotal,\n        acquisitionPrice,\n        trackerPrice,\n        participacao,\n        quotationValidity,\n        acquisitionPaid,\n        inspection,\n        createdAt\n    )\n    SELECT\n        code,\n        upper(title),\n        upper(subtitle),\n        upper(pipelineColumn),\n        upper(leadSource),\n        upper(leadSourceSub),\n        upper(origin),\n        upper(responsible),\n        upper(affiliate),\n        isShelved,\n        error,\n        client,\n        quotations,\n        tags,\n        upper(name),\n        phoneHome,\n        phoneMobile1,\n        phoneMobile2,\n        phoneWork,\n        email,\n        upper(plate),\n        upper(chassi),\n        upper(carModel),\n        upper(carModelYear),\n        upper(planName),\n        monthlyPayment,\n        currentMonthlyTotal,\n        acquisitionPrice,\n        trackerPrice,\n        participacao,\n        quotationValidity,\n        acquisitionPaid,\n        inspection,\n        createdAt\n    FROM data\n    ON CONFLICT (code) DO UPDATE\n    SET\n        title                = EXCLUDED.title,\n        subtitle             = EXCLUDED.subtitle,\n        pipelineColumn       = EXCLUDED.pipelineColumn,\n        leadSource           = EXCLUDED.leadSource,\n        leadSourceSub        = EXCLUDED.leadSourceSub,\n        origin               = EXCLUDED.origin,\n        responsible          = EXCLUDED.responsible,\n        affiliate            = EXCLUDED.affiliate,\n        isShelved            = EXCLUDED.isShelved,\n        error                = EXCLUDED.error,\n        client               = EXCLUDED.client,\n        quotations           = EXCLUDED.quotations,\n        tags                 = EXCLUDED.tags,\n        name                 = EXCLUDED.name,\n        phoneHome            = EXCLUDED.phoneHome,\n        phoneMobile1         = EXCLUDED.phoneMobile1,\n        phoneMobile2         = EXCLUDED.phoneMobile2,\n        phoneWork            = EXCLUDED.phoneWork,\n        email                = EXCLUDED.email,\n        plate                = EXCLUDED.plate,\n        chassi               = EXCLUDED.chassi,\n        carModel             = EXCLUDED.carModel,\n        carModelYear         = EXCLUDED.carModelYear,\n        planName             = EXCLUDED.planName,\n        monthlyPayment       = EXCLUDED.monthlyPayment,\n        currentMonthlyTotal  = EXCLUDED.currentMonthlyTotal,\n        acquisitionPrice     = EXCLUDED.acquisitionPrice,\n        trackerPrice         = EXCLUDED.trackerPrice,\n        participacao         = EXCLUDED.participacao,\n        quotationValidity    = EXCLUDED.quotationValidity,\n        acquisitionPaid      = EXCLUDED.acquisitionPaid,\n        inspection           = EXCLUDED.inspection,\n        createdAt            = EXCLUDED.createdAt\n    RETURNING idtpv_posvenda, code\n)\n\nSELECT\n    'Registro inserido/atualizado com sucesso' AS status,\n    idtpv_posvenda,\n    code\nFROM upsert;\n","options":{"queryReplacement":"={{ JSON.stringify($('Merge').item.json) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,160],"id":"587a1921-9d85-43dd-998a-9c9e78c85392","name":"gravaPosVenda","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1024,-48],"id":"365705cd-0d67-4982-9571-64fa1f7a0155","name":"Merge"},{"parameters":{"resource":"chat-api","instanceName":"evo.top.com","numbers":"={{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1024,352],"id":"ba4ba1b3-85ab-496e-9696-193fee4ae7c7","name":"VerificarNumeroWhatsapp","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET whatsapp_valido = $2, tpv_enviado = TRUE\nWHERE code = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"={{ $('buscaPowerCotacao1').item.json.code }}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"={{ Boolean($('VerificarNumeroWhatsapp').item.json.data[0].exists) }}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1456,272],"id":"22089d77-4dde-44f4-bdd8-33e20517db18","name":"gravaPosVenda1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET tpv_enviado = FALSE\nWHERE code = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"={{ $('buscaPowerCotacao1').item.json.code }}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"={{ Boolean($('VerificarNumeroWhatsapp').item.json.data[0].exists) }}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1456,432],"id":"0d8a648c-edbb-47ef-a4db-b8feee6da29c","name":"gravaPosVenda2","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"w4v6KMhSHceEmSSn","mode":"list","cachedResultUrl":"/workflow/w4v6KMhSHceEmSSn","cachedResultName":"WF_ATUALIZA_TOKEN_ATUALIZA_BD"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1376,-720],"id":"b9006729-3e31-4faf-a3ee-893c270a25a0","name":"Call 'WF_ATUALIZA_TOKEN_ATUALIZA_BD'","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b34d7e12-672f-46dc-8b1e-ddf6d2576de1","leftValue":"={{$('nomeDominio').item.json.data[0].nomeDominio}}","rightValue":"TOP CE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"be2eae2b-deb7-4e0f-bd1b-773f1f2af2f5","leftValue":"={{$('nomeDominio').item.json.data[0].nomeDominio}}","rightValue":"TOP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,-144],"id":"58342c75-dcdd-4747-a1da-a6e53a1a18b9","name":"If7"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a08f4e7e-14aa-4651-904f-0de6ef13ab12","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"4912ee5b-f7bd-4794-9866-6f87851b5f7d"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_cliente\": \"{{$('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"nome_agente\": \"{{$('buscaLeadsPower').item.json.responsible.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"placa\": \"{{$('buscaPowerCotacao1').item.json.plate}}\",  \n    \"veiculo\": \"{{$('buscaPowerCotacao1').item.json.carModel}}\",  \n    \"servico\": \"TPV - PVCE\",  \n    \"phone\": \"553192240123\",\n    \"cpf_cnpj_cliente\": \"{{$('buscaLeadsPower').item.json.client.registration.match( /\\d+/g ).join('')}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,-256],"id":"72aad77b-2db9-40a5-a12b-82295ea78409","name":"tpvPVCE2","retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/a08f4e93-5ae9-44fa-9d22-852c27001333","sendQuery":true,"queryParameters":{"parameters":[{"name":"sender","value":"n8n"},{"name":"token","value":"95e4a384-da0a-49c0-afa0-733af7a9e3e0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nome_cliente\": \"{{$('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"nome_agente\": \"{{$('buscaLeadsPower').item.json.responsible.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n    \"placa\": \"{{$('buscaPowerCotacao1').item.json.plate}}\",  \n    \"veiculo\": \"{{$('buscaPowerCotacao1').item.json.carModel}}\",  \n    \"servico\": \"TPV - CO\",  \n    \"phone\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"cpf_cnpj_cliente\": \"{{$('buscaLeadsPower').item.json.client.registration.match( /\\d+/g ).join('')}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,-48],"id":"3461a889-0b24-418b-83e2-3ab710f34c1f","name":"tpvCO2","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b34d7e12-672f-46dc-8b1e-ddf6d2576de1","leftValue":"={{ $json.situacao_veiculo }}","rightValue":"ATIVO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,-320],"id":"a82f7636-ce07-447b-bfd7-8468db7e33c1","name":"If8","disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"tpvPVCE1","type":"main","index":0}]]},"wh_topbrasl_pv":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_ce":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_co":{"main":[[{"node":"whDados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"PV","type":"main","index":0}],[{"node":"CE","type":"main","index":0}],[{"node":"CO","type":"main","index":0}],[{"node":"RA","type":"main","index":0}]]},"wh_topbrasl_redeauto":{"main":[[{"node":"whDados","type":"main","index":0}]]},"PV":{"main":[[{"node":"TOP","type":"main","index":0}]]},"CE":{"main":[[{"node":"TOP CE","type":"main","index":0}]]},"CO":{"main":[[{"node":"TOP CO","type":"main","index":0}]]},"RA":{"main":[[{"node":"REDEAUTO","type":"main","index":0}]]},"TOP":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CE":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"REDEAUTO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"Agrega":{"main":[[{"node":"nomeDominio","type":"main","index":0}]]},"nomeDominio":{"main":[[{"node":"status","type":"main","index":0}]]},"buscaDadosAPI":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"buscaConsultor","type":"main","index":0},{"node":"Wait","type":"main","index":0},{"node":"buscaTokenBD","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"status":{"main":[[{"node":"buscaDadosAPI","type":"main","index":0}],[],[{"node":"enviaZapAdministrativo","type":"main","index":0}],[{"node":"buscaDadosAPI1","type":"main","index":0}]]},"buscaLeadsPower1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"buscaDadosAPI1":{"main":[[{"node":"buscaLeadsPower1","type":"main","index":0}]]},"If2":{"main":[[{"node":"tpvPVCE","type":"main","index":0}],[{"node":"tpvCO","type":"main","index":0}]]},"gravaCliente":{"main":[[{"node":"buscaCodFipe","type":"main","index":0}]]},"buscaCodFipe":{"main":[[{"node":"dadosCotacaoVeiculo","type":"main","index":0}]]},"dadosCotacaoVeiculo":{"main":[[{"node":"gravaMarcaModeloVeiculo","type":"main","index":0}]]},"gravaMarcaModeloVeiculo":{"main":[[{"node":"gravaCRMNegociacao","type":"main","index":0}]]},"gravaCRMNegociacao":{"main":[[{"node":"gravaCRMCotacao","type":"main","index":0}]]},"gravaCRMCotacao":{"main":[[{"node":"buscaPowerCotacao","type":"main","index":0}]]},"enviaZapPosVendaAssociadoCO":{"main":[[]]},"buscaConsultor":{"main":[[{"node":"enviaZapConsultor2","type":"main","index":0}]]},"enviaZapConsultor2":{"main":[[]]},"pos_venda_associado_pvce":{"main":[[]]},"pos_venda_associado_co":{"main":[[]]},"buscaPowerCotacao":{"main":[[{"node":"criaJson","type":"main","index":0}]]},"criaJson":{"main":[[{"node":"cotacao","type":"main","index":0}]]},"cotacao":{"main":[[{"node":"atualizarCRMCotacao","type":"main","index":0}]]},"buscaPowerCotacao1":{"main":[[{"node":"buscaTokenBD1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"tpvPVCE":{"main":[[]]},"tpvCO":{"main":[[]]},"Wait":{"main":[[{"node":"buscaPowerCotacao1","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Call 'WF_ATUALIZA_TOKEN_ATUALIZA_BD'","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[]]},"Execute Workflow2":{"main":[[{"node":"Stop and Error2","type":"main","index":0},{"node":"If8","type":"main","index":0}]]},"buscaTokenBD1":{"main":[[{"node":"buscaQuantPaginas1","type":"main","index":0}]]},"buscaQuantPaginas1":{"main":[[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Execute Workflow3","type":"main","index":0}],[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"buscaTokenBD1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"gravaPessoa":{"main":[[{"node":"gravaCliente","type":"main","index":0}]]},"If6":{"main":[[{"node":"gravaPosVenda1","type":"main","index":0}],[{"node":"gravaPosVenda2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"gravaPosVenda","type":"main","index":0}]]},"VerificarNumeroWhatsapp":{"main":[[{"node":"If6","type":"main","index":0}]]},"gravaPosVenda1":{"main":[[]]},"gravaPosVenda":{"main":[[{"node":"VerificarNumeroWhatsapp","type":"main","index":0}]]},"gravaPosVenda2":{"main":[[]]},"Call 'WF_ATUALIZA_TOKEN_ATUALIZA_BD'":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"If7":{"main":[[{"node":"tpvPVCE2","type":"main","index":0}],[{"node":"tpvCO2","type":"main","index":0}]]},"If8":{"main":[[{"node":"If7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":false,"saveExecutionProgress":false,"errorWorkflow":"TfwD6eX8vHLcjYJt","timeSavedPerExecution":2},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"wh_topbrasl_pv":[{"json":{"headers":{"host":"webhook.n8ncp.topbrtech.com.br","user-agent":"Java/11.0.29","content-length":"101","accept":"text/html, image/gif, image/jpeg, */*; q=0.2","cache-control":"no-cache","content-type":"application/json; charset=UTF-8","pragma":"no-cache","x-forwarded-for":"10.0.0.2","x-forwarded-host":"webhook.n8ncp.topbrtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"anw-ecs-automacao-traefik_v3_traefik_v3-1","x-real-ip":"10.0.0.2","accept-encoding":"gzip"},"params":{},"query":{},"body":{"negotiationCode":"62gBlWRwDZ","quotationCode":"rk8Bjw9E","status":"Enviado para o SGA","hash":null},"webhookUrl":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada","executionMode":"production"}}],"If2":[{"json":{"code":"rk8Bjw9E","name":"DANIEL RICARDO FIGUEIREDO DINIZ","phoneHome":"","phoneMobile1":"(31) 98793-0692","phoneMobile2":"","phoneWork":"","email":"","plate":"TDD0G82","chassi":"9BGEP76B0SB179733","carModel":"TRACKER Premier 1.2 Turbo 12V Flex Aut.","carModelYear":"2025 Flex","planName":"Grupo Black","monthlyPayment":"R$ 394,60","currentMonthlyTotal":"R$ 457,49","acquisitionPrice":"R$ 1.400,00","trackerPrice":"R$ 150,00","participacao":"R$ 8.132,64","quotationValidity":null,"acquisitionPaid":false,"inspection":{"integration":"Visto","code":"832092","externalCode":"9792569","link":"https://appvisto.link/8104377c-60b6-4832-8b5b-9ff0119422f1"},"createdAt":"05/02/2026","error":null}}]},"versionId":"e023b654-fa30-4b22-b24c-c9cded9e7f14","triggerCount":4,"shared":[{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T13:27:57.498Z","role":"workflow:owner","workflowId":"vWq0qpVqjVTzRx1n","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-28T19:46:08.309Z","updatedAt":"2025-09-28T19:46:08.309Z","id":"twNBrzFgyMQjyPj3","name":"EVO ZAP.TOP.COR"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"},{"createdAt":"2025-07-12T12:17:26.544Z","updatedAt":"2025-07-12T12:17:26.544Z","id":"2IkRnWsdq5TLPNj1","name":"POWERCRM"}]}