wh_msg_vistoria_liberada_consultor_top-vWq0qpVqjVTzRx1n.json
{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T13:27:57.498Z","id":"vWq0qpVqjVTzRx1n","name":"WH_MSG_VISTORIA_LIBERADA_CONSULTOR_TOP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-32],"id":"e7cc11dc-5fa5-424e-92e1-ebac09534108","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-720,48],"id":"2d033654-0829-4480-a0da-282e4fced5e2","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,48],"id":"190808e5-0680-4627-a085-c4cb4bf26d44","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"={{ $('loopAniversariantes').item.json.telefone_celular }}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"={{\n'https://wa.me/55' + \n$json.telefone_celular.match( /\\d+/g ).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, hoje é um dia especial e não poderíamos deixar de lembrar! Desejamos muitas felicidades, saúde e sucesso. Conte sempre com a gente. TopBrasil🎉`)\n}}\n\n","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,336],"id":"f261d0c6-a88f-4723-ab6e-4e6e2b995f11","name":"dadosAniversariantes"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/voluntario/{{$json.body[0].codigo_voluntario}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"9d1c7903-1c53-44e4-81e0-f06abb959273","name":"buscaSGAConsultor","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,336],"continueOnFail":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/aniversariante","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"a351caa9-b66d-497c-9c2d-a251f5b9acc5","name":"buscaSGAAniversariantes","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,48],"continueOnFail":true},{"parameters":{"url":"=https://tinyurl.com/api-create.php?url={{ $('dadosAniversariantes').item.json.mensagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,336],"id":"320ae1bb-9b51-48fb-afe1-f2e63b5fe7f8","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/buscar/{{ $('dadosAniversariantes').item.json.codigo_associado }}/codigo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"8c3bfd33-cf47-44e9-a4db-5699c7ee2c97","name":"buscaAssociado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-720,336],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"={{ $('loopAniversariantes').item.json.telefone_celular }}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"={{ $('reduzURL').item.json.data }}","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"00d06389-83c2-4240-a731-ab7cda3787cc","name":"codigo_voluntario","value":"={{ $('buscaAssociado').item.json.body.codigo_voluntario }}","type":"string"},{"id":"0f97e20b-c737-44ff-8b6c-a05ba6557625","name":"nome_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].nome }}","type":"string"},{"id":"63fcf5c1-b0aa-478c-a330-97459fa11558","name":"celular_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].celular }}","type":"string"},{"id":"7c4fd27b-fe6a-4d1a-871b-1607bed7fe31","name":"situacao_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].situacao }}","type":"string"},{"id":"e5199e29-6c34-4e29-8cfa-eefdc0913129","name":"telefone_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].telefone }}","type":"string"},{"id":"ab48feb0-aa19-4372-b8d1-84d3b6327894","name":"placa","value":"={{ $('buscaVeiculos').item.json.body[0].placa }}","type":"string"},{"id":"98981a00-5bcb-4035-90e2-a86c118ed091","name":"descricao_situacao","value":"={{ $('buscaVeiculos').item.json.body[0].descricao_situacao}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,544],"id":"bba31fd2-2b56-4e3b-94f5-2953ee727bbf","name":"dadosAssociado"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{$json.placa}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"fb04f2e3-83c0-44e4-be8a-2ca2a808274a","name":"buscaVeiculos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-272,336],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.veiculos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-496,336],"id":"97aa814c-9959-4338-8d22-d917f59017f1","name":"Split Out1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-272,528],"id":"c739c30e-0a3e-4dca-8040-636240d2be54","name":"Aggregate2"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[176,144],"id":"c204e0e0-c9cb-4a2b-bf28-3d74761ed1ff","name":"loopAniversariantes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dddde1aa-d852-4eaa-abeb-eb6d88c4051f","leftValue":"={{ $('buscaVeiculos').item.json.body[0].descricao_situacao}}","rightValue":"ATIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"76ac6a6b-e469-4baa-99b1-0ceef597e8b6","leftValue":"={{ $('dadosAssociado').item.json.telefone_voluntario}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,544],"id":"ff1e70d9-87c2-44b2-8f39-e460f5e21e9e","name":"If"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"nome"},{"fieldToAggregate":"nome_voluntario"},{"fieldToAggregate":"telefone_voluntario"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[176,960],"id":"a83ea920-0da6-49a7-bb16-bad0bc0a2af0","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaSGAAniversariantes').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,48],"id":"bcf004fd-81b7-4042-8b60-f7e7de179d73","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[176,-48],"id":"374ae2a1-1433-4543-bcd0-e50f154913b1","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 08 * * *"}]}},"id":"638e3dab-b9b9-45f8-8e25-8b9e34f1d98a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-960,128]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,528],"id":"8ab0dcdd-d36b-436b-b1fd-d328dccb9978","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-496,768],"id":"ea52ef3d-e36c-421f-9805-dca6431bb122","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-272,768],"id":"c9504c1c-a014-485c-be67-1a85cdd4c297"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-944,960],"id":"f72aeebf-402f-4ed6-aa6d-296ba10df36e","name":"Aggregate1"},{"parameters":{"tableId":"topAniversariantes","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,528],"id":"2a5868cd-3016-47ef-bc43-c32a07d321df","name":"gravaTopAniversariantes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"topAniversariantes","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"=data_nascimento","condition":"eq","keyValue":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,528],"id":"692704e5-021d-4513-a5d0-805deda6cc39","name":"buscaTopAniversariantes","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"topaniversariantes_distinct","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"nome_voluntario","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.nome_voluntario }}"},{"keyName":"msgConsultorEnviada","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,768],"id":"199937b7-d82f-46b8-95b3-f67ec4a5f2cb","name":"buscaRegistrosPorConsultor","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"mensagem\" : \"{{ $('Replace Me').item.json.nome + ' - ' + $('Replace Me').item.json.telefone_celular + ' - ' + $('Replace Me').item.json.mensagem }}\"\n}","options":{}},"id":"7f9c452a-97e9-44ce-8c5d-874e4f3e68ec","name":"agrupaAssociados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,768]},{"parameters":{"language":"python","pythonCode":"# items é a variável padrão que contém os dados do nó anterior\n# Supondo que o nó anterior tenha um JSON no formato que você mostrou\n# items[0][\"json\"][\"data\"] é a lista de mensagens\n\ndata = items[0][\"json\"][\"data\"]\n\n# Extrair apenas as mensagens\nmensagens = [item[\"mensagem\"] for item in data]\n\n# Retornar no formato que o n8n espera (uma lista de dicionários)\nreturn [{\"json\": {\"mensagens\": mensagens}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,960],"id":"55d1d865-7c23-4d26-8330-58db529a8d85","name":"unificaTextoMensagens","alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"topAniversariantes","matchType":"allFilters","filters":{"conditions":[{"keyName":"idAniversariante","condition":"gt","keyValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[384,512],"id":"10e3f49a-db04-49d6-831a-866446f97280","name":"excluiTopAniversariantes","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"update","tableId":"topAniversariantes","filters":{"conditions":[{"keyName":"nome_voluntario","condition":"eq","keyValue":"={{ $('buscaTopAniversariantes').item.json.nome_voluntario }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"msgConsultorEnviada","fieldValue":"TRUE"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,768],"id":"0cda7c9c-9e61-4dc3-8182-baeec088a424","name":"Update a row","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=55{{$('buscaTopAniversariantes').item.json.celular_voluntario.match( /\\d+/g ).join('')}}","messageText":"={{ \n'Olá ' + $('buscaTopAniversariantes').item.json.nome_voluntario.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ', ' +\n'hoje ' + $now.format('dd/MM/yyyy') + ' é aniversário de alguns dos nossos associados na TopBrasil 🤖' + '.\\n' +\n  'Clique nos links para enviar mensagens para o WhatsApp: \\n\\n' + $('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-272,960],"id":"57cf8741-c41a-4e27-9c02-438328ef8a07","name":"msgDadosAniversariantes1","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c8ca8b5-95d1-4eca-ace4-85f4e68fa167","leftValue":"={{ $('buscaRegistrosPorConsultor').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,768],"id":"d6874c48-e642-412d-9580-568a0422a41c","name":"If2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaSGAAniversariantes","type":"main","index":0}]]},"dadosAniversariantes":{"main":[[{"node":"buscaAssociado","type":"main","index":0}]]},"buscaSGAConsultor":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"buscaSGAAniversariantes":{"main":[[{"node":"If1","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"dadosAssociado","type":"main","index":0}]]},"buscaAssociado":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"dadosAssociado":{"main":[[{"node":"If","type":"main","index":0}]]},"buscaVeiculos":{"main":[[{"node":"buscaSGAConsultor","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"buscaVeiculos","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"buscaTopAniversariantes","type":"main","index":0}]]},"loopAniversariantes":{"main":[[{"node":"dadosAniversariantes","type":"main","index":0}]]},"If":{"main":[[{"node":"gravaTopAniversariantes","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"loopAniversariantes","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"excluiTopAniversariantes","type":"main","index":0}],[{"node":"buscaRegistrosPorConsultor","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"agrupaAssociados","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"unificaTextoMensagens","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"gravaTopAniversariantes":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"buscaTopAniversariantes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"buscaRegistrosPorConsultor":{"main":[[{"node":"If2","type":"main","index":0}]]},"agrupaAssociados":{"main":[[{"node":"Update a row","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"unificaTextoMensagens":{"main":[[{"node":"msgDadosAniversariantes1","type":"main","index":0}]]},"excluiTopAniversariantes":{"main":[[]]},"Update a row":{"main":[[]]},"msgDadosAniversariantes1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73e34555-7e53-4fb8-b08f-79e58c178acd","triggerCount":1,"shared":[{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T13:27:57.498Z","role":"workflow:owner","workflowId":"vWq0qpVqjVTzRx1n","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.544Z","updatedAt":"2025-07-12T12:17:26.544Z","id":"2IkRnWsdq5TLPNj1","name":"POWERCRM"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"}]}