wh_msg_vistoria_liberada_consultor_top-vWq0qpVqjVTzRx1n.json
{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T22:00:51.722Z","id":"vWq0qpVqjVTzRx1n","name":"WH_MSG_VISTORIA_LIBERADA_CONSULTOR_TOP","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-336],"id":"e7cc11dc-5fa5-424e-92e1-ebac09534108","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,-144],"id":"45fd0050-0d48-465b-8aef-527bf73a1096","name":"wh_topbrasl_pv","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_ce","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,48],"id":"cee2e3a8-a552-4ba2-a041-c68a7fc14b01","name":"wh_topbrasl_ce","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_co","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,240],"id":"b3dbec8b-3e2b-49aa-8c55-34ad2d191e04","name":"wh_topbrasl_co","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"e6f42179-592d-4c5b-90b6-6a0c6fdba074","name":"whUrl","value":"={{ $json.webhookUrl }}","type":"string"},{"id":"f171ae23-61b1-4ce0-bc2d-2d58187b45b0","name":"negotiationCode","value":"={{ $json.body.negotiationCode }}","type":"string"},{"id":"22495abf-79cd-4852-b379-11c316d1be14","name":"quotationCode","value":"={{ $json.body.quotationCode }}","type":"string"},{"id":"01a39549-ad5b-4baf-8b54-f32492503307","name":"status","value":"={{ $json.body.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,48],"id":"3d72a9fb-7498-4ac7-87e5-f8c4d3516752","name":"whDados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_ce","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13940824-2ff6-43c9-b85d-a927850df496","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_co","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_negociacao_top_redeauto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RA"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-896,16],"id":"01406102-3484-4189-b5fe-bb2b819af7f1","name":"Switch"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1104,1072],"id":"edc0be6c-c971-48b2-9566-ff263b6bd731","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"={{ $('loopAniversariantes').item.json.telefone_celular }}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"={{\n'https://wa.me/55' + \n$json.telefone_celular.match( /\\d+/g ).join('') + \n'?text=' + encodeURIComponent(`Olá, ${$json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}, hoje é um dia especial e não poderíamos deixar de lembrar! Desejamos muitas felicidades, saúde e sucesso. Conte sempre com a gente. TopBrasil🎉`)\n}}\n\n","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,1360],"id":"bce2d179-1166-429d-acb1-b309d8ce72e3","name":"dadosAniversariantes"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/voluntario/{{$json.body[0].codigo_voluntario}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"de4d77db-095f-45d1-a211-06af4c75ef33","name":"buscaSGAConsultor","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-672,1360],"continueOnFail":true},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/aniversariante","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"8d240fd4-131a-4ca6-aa90-3ce74078076b","name":"buscaSGAAniversariantes","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-896,1072],"continueOnFail":true},{"parameters":{"url":"=https://tinyurl.com/api-create.php?url={{ $('dadosAniversariantes').item.json.mensagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,1360],"id":"a54d69f2-2a26-4ac9-bdc8-9af9816b6b65","name":"reduzURL","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/associado/buscar/{{ $('dadosAniversariantes').item.json.codigo_associado }}/codigo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"4cccf861-0ca3-4f5d-9d26-da09bb38ffdf","name":"buscaAssociado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1344,1360],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"065cba84-e646-41a9-b744-827715bcd905","name":"codigo_associado","value":"={{ $('loopAniversariantes').item.json.codigo_associado }}","type":"string"},{"id":"5aa88ee4-3d56-4506-a367-de03cdabceff","name":"codigo_situacao","value":"={{ $('loopAniversariantes').item.json.codigo_situacao }}","type":"string"},{"id":"c6cdb42b-5704-4f49-b27b-6f7e1b6a4d57","name":"nome","value":"={{ $('loopAniversariantes').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7693aff7-97c7-4f44-a50e-8dac859ec5cf","name":"telefone_celular","value":"={{ $('loopAniversariantes').item.json.telefone_celular }}","type":"string"},{"id":"65d649c4-5bc2-454a-8cea-b38993a5fabe","name":"mensagem","value":"={{ $('reduzURL').item.json.data }}","type":"string"},{"id":"a66717f2-a243-43ed-97e8-e4817ac169b7","name":"data_nascimento","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"00d06389-83c2-4240-a731-ab7cda3787cc","name":"codigo_voluntario","value":"={{ $('buscaAssociado').item.json.body.codigo_voluntario }}","type":"string"},{"id":"0f97e20b-c737-44ff-8b6c-a05ba6557625","name":"nome_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].nome }}","type":"string"},{"id":"63fcf5c1-b0aa-478c-a330-97459fa11558","name":"celular_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].celular }}","type":"string"},{"id":"7c4fd27b-fe6a-4d1a-871b-1607bed7fe31","name":"situacao_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].situacao }}","type":"string"},{"id":"e5199e29-6c34-4e29-8cfa-eefdc0913129","name":"telefone_voluntario","value":"={{ $('buscaSGAConsultor').item.json.body[0].telefone }}","type":"string"},{"id":"ab48feb0-aa19-4372-b8d1-84d3b6327894","name":"placa","value":"={{ $('buscaVeiculos').item.json.body[0].placa }}","type":"string"},{"id":"98981a00-5bcb-4035-90e2-a86c118ed091","name":"descricao_situacao","value":"={{ $('buscaVeiculos').item.json.body[0].descricao_situacao}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,1568],"id":"c2cf989b-36ce-43f6-98d6-6f419d91f86b","name":"dadosAssociado"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{$json.placa}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"265af47a-3009-40a7-bd94-c085d65a6057","name":"buscaVeiculos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-896,1360],"continueOnFail":true},{"parameters":{"fieldToSplitOut":"body.veiculos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1120,1360],"id":"8afc89a4-6ed1-4118-b912-b02a5b120de0","name":"Split Out1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-896,1552],"id":"4aafbd61-4076-46ef-9958-b522ffac7ad7","name":"Aggregate2"},{"parameters":{"fieldToSplitOut":"body","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-448,1168],"id":"d89f81ad-39eb-4550-ac91-851fe5afe26e","name":"loopAniversariantes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dddde1aa-d852-4eaa-abeb-eb6d88c4051f","leftValue":"={{ $('buscaVeiculos').item.json.body[0].descricao_situacao}}","rightValue":"ATIVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"76ac6a6b-e469-4baa-99b1-0ceef597e8b6","leftValue":"={{ $('dadosAssociado').item.json.telefone_voluntario}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,1568],"id":"3180c7d1-6329-4afe-b6a4-9c86ae677627","name":"If"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"nome"},{"fieldToAggregate":"nome_voluntario"},{"fieldToAggregate":"telefone_voluntario"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-448,1984],"id":"259e9dec-4a77-4efa-9776-50495d6e531e","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $('buscaSGAAniversariantes').item.json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,1072],"id":"eebabba3-ce8c-4769-b16b-224af0b0aa84","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-448,976],"id":"a51d432d-1bd9-4835-8d77-798e8bd3cca5","name":"Execute Workflow","executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 08 * * *"}]}},"id":"fc3a540d-6c3c-4e00-8dd9-b9915bd82f58","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1584,1152]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,1552],"id":"8c871718-d8b1-497b-8659-841412ec27a2","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1120,1792],"id":"b632b410-020a-40cf-a1d4-42d609ce20ba","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-896,1792],"id":"5721f106-e8c0-4b34-aa9a-3c3d6d5ea8b2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1568,1984],"id":"2c9ba79e-4d3e-4e5f-aad0-5755f1792d98","name":"Aggregate1"},{"parameters":{"tableId":"topAniversariantes","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,1552],"id":"9db8e412-0968-4299-956e-f1a722613de0","name":"gravaTopAniversariantes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"topAniversariantes","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"=data_nascimento","condition":"eq","keyValue":"={{ $now.format('yyyy-MM-dd') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,1552],"id":"6a479900-571e-4aef-8073-a177285dda7a","name":"buscaTopAniversariantes","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"getAll","tableId":"topaniversariantes_distinct","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"nome_voluntario","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.nome_voluntario }}"},{"keyName":"msgConsultorEnviada","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1568,1792],"id":"b7005e8b-80d5-4a74-a27f-63b424b6f124","name":"buscaRegistrosPorConsultor","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n    \"mensagem\" : \"{{ $('Replace Me').item.json.nome + ' - ' + $('Replace Me').item.json.telefone_celular + ' - ' + $('Replace Me').item.json.mensagem }}\"\n}","options":{}},"id":"d35587e2-187e-47fd-9914-c2626b0b7a68","name":"agrupaAssociados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,1792]},{"parameters":{"language":"python","pythonCode":"# items é a variável padrão que contém os dados do nó anterior\n# Supondo que o nó anterior tenha um JSON no formato que você mostrou\n# items[0][\"json\"][\"data\"] é a lista de mensagens\n\ndata = items[0][\"json\"][\"data\"]\n\n# Extrair apenas as mensagens\nmensagens = [item[\"mensagem\"] for item in data]\n\n# Retornar no formato que o n8n espera (uma lista de dicionários)\nreturn [{\"json\": {\"mensagens\": mensagens}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,1984],"id":"33b98112-4b76-4d53-8dec-41c6bc718ebe","name":"unificaTextoMensagens","alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"topAniversariantes","matchType":"allFilters","filters":{"conditions":[{"keyName":"idAniversariante","condition":"gt","keyValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,1536],"id":"4b3f675a-de84-4a39-8700-0888833bc225","name":"excluiTopAniversariantes","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"update","tableId":"topAniversariantes","filters":{"conditions":[{"keyName":"nome_voluntario","condition":"eq","keyValue":"={{ $('buscaTopAniversariantes').item.json.nome_voluntario }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"msgConsultorEnviada","fieldValue":"TRUE"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-448,1792],"id":"6fb8f83e-bb2d-4ea3-b5d3-98d80e250f02","name":"Update a row","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"zap.top","remoteJid":"=55{{$('buscaTopAniversariantes').item.json.celular_voluntario.match( /\\d+/g ).join('')}}","messageText":"={{ \n'Olá ' + $('buscaTopAniversariantes').item.json.nome_voluntario.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ', ' +\n'hoje ' + $now.format('dd/MM/yyyy') + ' é aniversário de alguns dos nossos associados na TopBrasil 🤖' + '.\\n' +\n  'Clique nos links para enviar mensagens para o WhatsApp: \\n\\n' + $('unificaTextoMensagens').item.json.mensagens.join('\\n')\n}}","options_message":{"delay":3000,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-896,1984],"id":"948c96b3-207c-4b6d-8065-1c6c309f727a","name":"msgDadosAniversariantes1","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c8ca8b5-95d1-4eca-ace4-85f4e68fa167","leftValue":"={{ $('buscaRegistrosPorConsultor').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,1792],"id":"481feb24-f115-4393-af62-047409082574","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,-240],"id":"462c88bc-d61b-49d8-97e0-c7418cf80e6d","name":"PV"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,-48],"id":"4863cec0-0231-488c-a5bf-2c0020d1749b","name":"CE"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,144],"id":"4dc002bc-d215-4a6f-b899-772140beb578","name":"CO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,336],"id":"db58a7e3-7954-4409-b5da-7769a6b84333","name":"RA"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_negociacao_top_redeauto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,432],"id":"22d2a27c-dcb6-4a1b-85e2-a25fc766e04f","name":"wh_topbrasl_redeauto","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-48],"id":"fb2da2fd-75c1-46e0-be44-98d9bcb52b31","name":"TOP CE"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-240],"id":"e5259b7a-7b38-4956-853a-baf07e3be941","name":"TOP"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,144],"id":"5be7ad40-acba-4aa4-9562-eeaa3beba5ab","name":"TOP CO"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"REDEAUTO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,336],"id":"7557ea6f-5ea0-40b6-a009-d43ffaa2d2f0","name":"REDEAUTO"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,64],"id":"a1d0a1b6-17b1-46d9-b5af-afeae36a4e6e","name":"Agrega"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[48,64],"id":"21e68b34-dc4a-4b40-830c-bda280025e42","name":"nomeDominio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[864,64],"id":"0ed6d0de-536c-431f-84e9-ab24a853f406","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1da14bee-e422-469d-b91a-4719973cb52d","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Enviado para o SGA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"de1be3d7-15e6-42d6-827e-8d3167358fdc","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Liberada para cadastro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c90bf3f9-198d-43ba-9a7f-2c137ac22b26","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"=Cartão arquivado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1104,48],"id":"b33c2dfd-03be-4e85-8cce-bb774ebeb908","name":"statusCotacao"},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI').item.json.apiKey}}"}]},"options":{}},"id":"ed6b878f-0ff9-4bc8-af8f-20b285bc729a","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[464,64],"alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[256,64],"id":"9f1cf74c-0e2e-4a61-87a2-9d209e03eefc","name":"buscaDadosAPI","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=553192240123","messageText":"={{ $('dadosBDConsultor').item.json.nomeconsultor }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1072,64],"id":"a91ea852-b015-4a40-bb37-fa35730d3197","name":"enviaZapConsultor","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"nome","keyValue":"={{ ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,64],"id":"0bc74aeb-450e-4d20-ac3c-aeb91125b132","name":"dadosBDConsultor","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_pv":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_ce":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_co":{"main":[[{"node":"whDados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"statusCotacao","type":"main","index":0}]]},"Switch":{"main":[[{"node":"PV","type":"main","index":0}],[{"node":"CE","type":"main","index":0}],[{"node":"CO","type":"main","index":0}],[{"node":"RA","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaSGAAniversariantes","type":"main","index":0}]]},"dadosAniversariantes":{"main":[[{"node":"buscaAssociado","type":"main","index":0}]]},"buscaSGAConsultor":{"main":[[{"node":"reduzURL","type":"main","index":0}]]},"buscaSGAAniversariantes":{"main":[[{"node":"If1","type":"main","index":0}]]},"reduzURL":{"main":[[{"node":"dadosAssociado","type":"main","index":0}]]},"buscaAssociado":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"dadosAssociado":{"main":[[{"node":"If","type":"main","index":0}]]},"buscaVeiculos":{"main":[[{"node":"buscaSGAConsultor","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"buscaVeiculos","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"buscaTopAniversariantes","type":"main","index":0}]]},"loopAniversariantes":{"main":[[{"node":"dadosAniversariantes","type":"main","index":0}]]},"If":{"main":[[{"node":"gravaTopAniversariantes","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"loopAniversariantes","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"excluiTopAniversariantes","type":"main","index":0}],[{"node":"buscaRegistrosPorConsultor","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"agrupaAssociados","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"unificaTextoMensagens","type":"main","index":0}]]},"gravaTopAniversariantes":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"buscaTopAniversariantes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"buscaRegistrosPorConsultor":{"main":[[{"node":"If2","type":"main","index":0}]]},"agrupaAssociados":{"main":[[{"node":"Update a row","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"unificaTextoMensagens":{"main":[[{"node":"msgDadosAniversariantes1","type":"main","index":0}]]},"msgDadosAniversariantes1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"wh_topbrasl_redeauto":{"main":[[{"node":"whDados","type":"main","index":0}]]},"PV":{"main":[[{"node":"TOP","type":"main","index":0}]]},"CE":{"main":[[{"node":"TOP CE","type":"main","index":0}]]},"CO":{"main":[[{"node":"TOP CO","type":"main","index":0}]]},"RA":{"main":[[{"node":"REDEAUTO","type":"main","index":0}]]},"TOP":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CE":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"REDEAUTO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"Agrega":{"main":[[{"node":"nomeDominio","type":"main","index":0}]]},"nomeDominio":{"main":[[{"node":"buscaDadosAPI","type":"main","index":0}]]},"statusCotacao":{"main":[[{"node":"Switch","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"enviaZapConsultor","type":"main","index":0}]]},"buscaDadosAPI":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"dadosBDConsultor","type":"main","index":0}]]},"dadosBDConsultor":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bcad7453-eac5-41d4-a495-8c534d33880d","triggerCount":5,"shared":[{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T13:27:57.498Z","role":"workflow:owner","workflowId":"vWq0qpVqjVTzRx1n","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.544Z","updatedAt":"2025-07-12T12:17:26.544Z","id":"2IkRnWsdq5TLPNj1","name":"POWERCRM"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"}]}