wh_msg_vistoria_liberada_consultor_top-vWq0qpVqjVTzRx1n.json
{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-23T21:33:30.408Z","id":"vWq0qpVqjVTzRx1n","name":"WH_MSG_VISTORIA_LIBERADA_CONSULTOR_TOP","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-336],"id":"e7cc11dc-5fa5-424e-92e1-ebac09534108","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,-144],"id":"45fd0050-0d48-465b-8aef-527bf73a1096","name":"wh_topbrasl_pv","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_ce","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,48],"id":"cee2e3a8-a552-4ba2-a041-c68a7fc14b01","name":"wh_topbrasl_ce","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_co","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,240],"id":"b3dbec8b-3e2b-49aa-8c55-34ad2d191e04","name":"wh_topbrasl_co","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"e6f42179-592d-4c5b-90b6-6a0c6fdba074","name":"whUrl","value":"={{ $json.webhookUrl }}","type":"string"},{"id":"f171ae23-61b1-4ce0-bc2d-2d58187b45b0","name":"negotiationCode","value":"={{ $json.body.negotiationCode }}","type":"string"},{"id":"22495abf-79cd-4852-b379-11c316d1be14","name":"quotationCode","value":"={{ $json.body.quotationCode }}","type":"string"},{"id":"01a39549-ad5b-4baf-8b54-f32492503307","name":"status","value":"={{ $json.body.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,48],"id":"3d72a9fb-7498-4ac7-87e5-f8c4d3516752","name":"whDados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_ce","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13940824-2ff6-43c9-b85d-a927850df496","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_co","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_negociacao_top_redeauto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RA"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1088,16],"id":"01406102-3484-4189-b5fe-bb2b819af7f1","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-240],"id":"462c88bc-d61b-49d8-97e0-c7418cf80e6d","name":"PV"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-48],"id":"4863cec0-0231-488c-a5bf-2c0020d1749b","name":"CE"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,144],"id":"4dc002bc-d215-4a6f-b899-772140beb578","name":"CO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,336],"id":"db58a7e3-7954-4409-b5da-7769a6b84333","name":"RA"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_negociacao_top_redeauto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,432],"id":"22d2a27c-dcb6-4a1b-85e2-a25fc766e04f","name":"wh_topbrasl_redeauto","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-48],"id":"fb2da2fd-75c1-46e0-be44-98d9bcb52b31","name":"TOP CE"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-240],"id":"e5259b7a-7b38-4956-853a-baf07e3be941","name":"TOP"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,144],"id":"5be7ad40-acba-4aa4-9562-eeaa3beba5ab","name":"TOP CO"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"REDEAUTO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,336],"id":"7557ea6f-5ea0-40b6-a009-d43ffaa2d2f0","name":"REDEAUTO"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-416,48],"id":"a1d0a1b6-17b1-46d9-b5af-afeae36a4e6e","name":"Agrega"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-192,48],"id":"21e68b34-dc4a-4b40-830c-bda280025e42","name":"nomeDominio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,-144],"id":"0ed6d0de-536c-431f-84e9-ab24a853f406","name":"No Operation, do nothing"},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI').item.json.apiKey}}"}]},"options":{}},"id":"ed6b878f-0ff9-4bc8-af8f-20b285bc729a","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,-144],"alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[256,-144],"id":"9f1cf74c-0e2e-4a61-87a2-9d209e03eefc","name":"buscaDadosAPI","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=55{{ $('dadosBDConsultor').item.json.celular.match( /\\d+/g ).join('') }}","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + '\\nConsultor: ' + $('dadosBDConsultor').item.json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nAssociado: ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower').item.json.title}}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,-144],"id":"a91ea852-b015-4a40-bb37-fa35730d3197","name":"enviaZapConsultor","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"nome","keyValue":"={{ ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[704,-144],"id":"0bc74aeb-450e-4d20-ac3c-aeb91125b132","name":"dadosBDConsultor","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Enviado para o SGA","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"Enviado para o SGA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Vistoria aprovada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistoria aprovada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Vistoria realizada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistoria realizada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b5bb405a-8da4-42a3-9856-73f13c662871","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Cotação criada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cotação criada"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[32,16],"id":"ea3469c5-f392-4134-b66e-112f73e9e1a6","name":"status"},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=553171560058","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 :: ' + $('whDados').item.json.status + ' :: ' + $('whDados').item.json.negotiationCode  }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,48],"id":"fa0461cb-04a8-41a2-8202-95b8680047ac","name":"enviaZapAdministrativo","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,224],"id":"b93e814c-6d18-47cc-a87c-eacea71c5358","name":"No Operation, do nothing2","alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"07d5166a-d7d7-40ab-acff-737c6fddb986","name":"buscaLeadsPower1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,240],"alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[256,240],"id":"03feb3b6-a613-4f45-9a64-5c27772e5e3c","name":"buscaDadosAPI1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"=zap.1click","remoteJid":"=553192240123","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + ' \\nLead: ' + $('buscaLeadsPower1').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower1').item.json.title + '\\nTelefone: ' +\n$('buscaLeadsPower1').item.json.client.phoneMain \n}}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1376,224],"id":"9fa88665-56bf-47d7-8e61-b98bb555da08","name":"enviaZapConsultor1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"146577c2-3afb-4aec-bb38-2d7447274691","leftValue":"={{ $('buscaLeadsPower1').item.json.responsible }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"579f90a2-3008-44ca-9cdd-24f4c0a8b173","leftValue":"={{ $('buscaLeadsPower1').item.json.origin }}","rightValue":"Cotação de Website","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,240],"id":"7ab92bb7-7199-4766-9f95-79a9bf0049a9","name":"If3"},{"parameters":{"operation":"get","tableId":"topVoluntario","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('buscaLeadsPower1').item.json.client.phoneMain.match( /\\d+/g ).join('') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,224],"id":"14d9fe7b-0c0f-45d4-a2cb-651d32e3de9b","name":"dadosBDConsultor1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"url":"https://webhook.n8ncp.vigicar.com.br/webhook/criaCotacaoPwr","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n\"name\": \"{{$('buscaLeadsPower1').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n\"phone\": \"{{ $('buscaLeadsPower1').item.json.client.phoneMain.match( /\\d+/g ).join('') }}\",\n\"email\": \"appclickprotege@gmail.com\",\n\"coop\": \"LOOVI\",\n\"marca\": \"{{$('nomeDominio').item.json.data[0].nomeDominio}}\",\n\"modelo\": \"{{$('whDados').item.json.negotiationCode}}\",\n\"anoModelo\": \"\",\n\"workVehicle\": \"\",\n\"estado\": \"\",\n\"cidade\": \"\",\n\"origemId\": \"20362\",\n\"campanha\": \"null\",\n\"indicador\": \"10995\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,208],"id":"5783e99b-5d05-4cd0-95f7-8a79e8665864","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.powercrm.com.br/api/quotation/card/move?quotationCode={{ $('whDados').item.json.quotationCode }}&cardColumn=IN_NEGOTIATION","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"20f3a2ee-21ac-4fba-88b4-bf8ed34f0998","name":"buscaLeadsPower2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1152,432],"alwaysOutputData":true,"onError":"continueRegularOutput","notes":"https://api.powercrm.com.br/api/quotation/card/move?quotationCode={{ $('whDados').item.json.quotationCode }}&cardColumn=IN_NEGOTIATION"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"562742b2-b96a-4812-9ab0-2417b44477c7","leftValue":"={{ $('nomeDominio').data[0].nomeDominio}}","rightValue":"REDEAUTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,448],"id":"723526dc-c589-4274-94a0-33b33ce05359","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"562742b2-b96a-4812-9ab0-2417b44477c7","leftValue":"={{ $('nomeDominio').data[0].nomeDominio}}","rightValue":"REDEAUTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,224],"id":"7fa3938b-43de-41c9-9f9a-3e275cd8d9e9","name":"If1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_pv":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_ce":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_co":{"main":[[{"node":"whDados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"PV","type":"main","index":0}],[{"node":"CE","type":"main","index":0}],[{"node":"CO","type":"main","index":0}],[{"node":"RA","type":"main","index":0}]]},"wh_topbrasl_redeauto":{"main":[[{"node":"whDados","type":"main","index":0}]]},"PV":{"main":[[{"node":"TOP","type":"main","index":0}]]},"CE":{"main":[[{"node":"TOP CE","type":"main","index":0}]]},"CO":{"main":[[{"node":"TOP CO","type":"main","index":0}]]},"RA":{"main":[[{"node":"REDEAUTO","type":"main","index":0}]]},"TOP":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CE":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"REDEAUTO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"Agrega":{"main":[[{"node":"nomeDominio","type":"main","index":0}]]},"nomeDominio":{"main":[[{"node":"status","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"enviaZapConsultor","type":"main","index":0}]]},"buscaDadosAPI":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"dadosBDConsultor","type":"main","index":0}]]},"dadosBDConsultor":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"status":{"main":[[{"node":"buscaDadosAPI","type":"main","index":0}],[{"node":"buscaDadosAPI","type":"main","index":0}],[{"node":"enviaZapAdministrativo","type":"main","index":0}],[{"node":"buscaDadosAPI1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"enviaZapConsultor1","type":"main","index":0}]]},"buscaLeadsPower1":{"main":[[{"node":"If3","type":"main","index":0}]]},"buscaDadosAPI1":{"main":[[{"node":"buscaLeadsPower1","type":"main","index":0}]]},"If3":{"main":[[{"node":"dadosBDConsultor1","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"dadosBDConsultor1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"enviaZapConsultor1":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"If":{"main":[[{"node":"buscaLeadsPower2","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":false,"saveExecutionProgress":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7269e3f3-9788-4c37-8a7a-809eb2926216","triggerCount":4,"shared":[{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T13:27:57.498Z","role":"workflow:owner","workflowId":"vWq0qpVqjVTzRx1n","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"},{"createdAt":"2025-07-12T12:17:26.544Z","updatedAt":"2025-07-12T12:17:26.544Z","id":"2IkRnWsdq5TLPNj1","name":"POWERCRM"}]}