wh_msg_pos_venda_top_consultor_associado-vWq0qpVqjVTzRx1n.json
{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-11-28T20:23:32.932Z","id":"vWq0qpVqjVTzRx1n","name":"WH_MSG_POS_VENDA_TOP_CONSULTOR_ASSOCIADO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-336],"id":"e7cc11dc-5fa5-424e-92e1-ebac09534108","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,-144],"id":"45fd0050-0d48-465b-8aef-527bf73a1096","name":"wh_topbrasl_pv","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_ce","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,48],"id":"cee2e3a8-a552-4ba2-a041-c68a7fc14b01","name":"wh_topbrasl_ce","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_vistoria_liberada_top_co","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,240],"id":"b3dbec8b-3e2b-49aa-8c55-34ad2d191e04","name":"wh_topbrasl_co","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"e6f42179-592d-4c5b-90b6-6a0c6fdba074","name":"whUrl","value":"={{ $json.webhookUrl }}","type":"string"},{"id":"f171ae23-61b1-4ce0-bc2d-2d58187b45b0","name":"negotiationCode","value":"={{ $json.body.negotiationCode }}","type":"string"},{"id":"22495abf-79cd-4852-b379-11c316d1be14","name":"quotationCode","value":"={{ $json.body.quotationCode }}","type":"string"},{"id":"01a39549-ad5b-4baf-8b54-f32492503307","name":"status","value":"={{ $json.body.status }}","type":"string"},{"id":"9b8d9492-2437-46b6-a893-5d1841c3b41e","name":"instancia","value":"evo.top.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,48],"id":"3d72a9fb-7498-4ac7-87e5-f8c4d3516752","name":"whDados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_ce","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13940824-2ff6-43c9-b85d-a927850df496","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_vistoria_liberada_top_co","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.whUrl }}","rightValue":"https://webhook.n8ncp.topbrtech.com.br/webhook/pwrcrm_negociacao_top_redeauto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RA"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1088,16],"id":"01406102-3484-4189-b5fe-bb2b819af7f1","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-240],"id":"462c88bc-d61b-49d8-97e0-c7418cf80e6d","name":"PV"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-48],"id":"4863cec0-0231-488c-a5bf-2c0020d1749b","name":"CE"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,144],"id":"4dc002bc-d215-4a6f-b899-772140beb578","name":"CO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,336],"id":"db58a7e3-7954-4409-b5da-7769a6b84333","name":"RA"},{"parameters":{"httpMethod":"POST","path":"pwrcrm_negociacao_top_redeauto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1536,432],"id":"22d2a27c-dcb6-4a1b-85e2-a25fc766e04f","name":"wh_topbrasl_redeauto","webhookId":"bf55d72e-ae54-428f-83ec-83a706e7ec87"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-48],"id":"fb2da2fd-75c1-46e0-be44-98d9bcb52b31","name":"TOP CE"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-240],"id":"e5259b7a-7b38-4956-853a-baf07e3be941","name":"TOP"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"TOP CO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,144],"id":"5be7ad40-acba-4aa4-9562-eeaa3beba5ab","name":"TOP CO"},{"parameters":{"assignments":{"assignments":[{"id":"ac427ada-3e84-4a69-bca4-5a176ff631fc","name":"nomeDominio","value":"REDEAUTO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,336],"id":"7557ea6f-5ea0-40b6-a009-d43ffaa2d2f0","name":"REDEAUTO"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-400,48],"id":"a1d0a1b6-17b1-46d9-b5af-afeae36a4e6e","name":"Agrega"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-176,48],"id":"21e68b34-dc4a-4b40-830c-bda280025e42","name":"nomeDominio"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1456,-96],"id":"0ed6d0de-536c-431f-84e9-ab24a853f406","name":"No Operation, do nothing"},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI').item.json.apiKey}}"}]},"options":{}},"id":"ed6b878f-0ff9-4bc8-af8f-20b285bc729a","name":"buscaLeadsPower","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[496,-144],"alwaysOutputData":true},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,-144],"id":"9f1cf74c-0e2e-4a61-87a2-9d209e03eefc","name":"buscaDadosAPI","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=55{{ $('dadosBDConsultor').item.json.whatsapp_pessoa.match( /\\d+/g ).join('') }}","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + '\\nConsultor: ' + $('dadosBDConsultor').item.json.nome_pessoa.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nAssociado: ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower').item.json.title}}","options_message":{"delay":120000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,-96],"id":"a91ea852-b015-4a40-bb37-fa35730d3197","name":"enviaZapConsultor","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"operation":"get","tableId":"cor_colaborador_pessoa_v1","filters":{"conditions":[{"keyName":"nome_pessoa","keyValue":"={{ ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1232,-96],"id":"0bc74aeb-450e-4d20-ac3c-aeb91125b132","name":"dadosBDConsultor","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Enviado para o SGA","operator":{"type":"string","operation":"equals"},"id":"4c138f19-807f-446c-bd73-6e37291f63cc"}],"combinator":"and"},"renameOutput":true,"outputKey":"Enviado para o SGA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eec4d98a-1239-468c-a248-c01d64d06170","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Vistoria aprovada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistoria aprovada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02f33ae5-9313-4bb0-8317-79b684028f0c","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Vistoria realizada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistoria realizada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b5bb405a-8da4-42a3-9856-73f13c662871","leftValue":"={{ $('whDados').item.json.status }}","rightValue":"Cotação criada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cotação criada"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,16],"id":"ea3469c5-f392-4134-b66e-112f73e9e1a6","name":"status"},{"parameters":{"resource":"messages-api","instanceName":"=zap.top","remoteJid":"=553171560058","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 :: ' + $('whDados').item.json.status + ' :: ' + $('whDados').item.json.negotiationCode  }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[336,64],"id":"fa0461cb-04a8-41a2-8202-95b8680047ac","name":"enviaZapAdministrativo","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1168,224],"id":"b93e814c-6d18-47cc-a87c-eacea71c5358","name":"No Operation, do nothing2","alwaysOutputData":true},{"parameters":{"url":"=https://api.powercrm.com.br/api/negotiation/{{ $('whDados').item.json.negotiationCode}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"07d5166a-d7d7-40ab-acff-737c6fddb986","name":"buscaLeadsPower1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[496,240],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"corDominio","returnAll":true,"filters":{"conditions":[{"keyName":"nomeDominio","condition":"eq","keyValue":"={{$json.data[0].nomeDominio}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,240],"id":"03feb3b6-a613-4f45-9a64-5c27772e5e3c","name":"buscaDadosAPI1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=553192240123","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + ' \\nLead: ' + $('buscaLeadsPower1').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower1').item.json.title + '\\nTelefone: ' +\n$('buscaLeadsPower1').item.json.client.phoneMain \n}}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1392,224],"id":"9fa88665-56bf-47d7-8e61-b98bb555da08","name":"enviaZapConsultor1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"146577c2-3afb-4aec-bb38-2d7447274691","leftValue":"={{ $('buscaLeadsPower1').item.json.responsible }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"579f90a2-3008-44ca-9cdd-24f4c0a8b173","leftValue":"={{ $('buscaLeadsPower1').item.json.origin }}","rightValue":"Cotação de Website","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,240],"id":"7ab92bb7-7199-4766-9f95-79a9bf0049a9","name":"If3"},{"parameters":{"operation":"get","tableId":"cor_colaborador_pessoa_v1","filters":{"conditions":[{"keyName":"whatsapp_pessoa","keyValue":"={{ $('buscaLeadsPower1').item.json.client.phoneMain.match( /\\d+/g ).join('') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[944,224],"id":"14d9fe7b-0c0f-45d4-a2cb-651d32e3de9b","name":"dadosBDConsultor1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000,"credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}}},{"parameters":{"url":"https://webhook.n8ncp.vigicar.com.br/webhook/criaCotacaoPwr","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n\"name\": \"{{$('buscaLeadsPower1').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\",\n\"phone\": \"{{ $('buscaLeadsPower1').item.json.client.phoneMain.match( /\\d+/g ).join('') }}\",\n\"email\": \"appclickprotege@gmail.com\",\n\"coop\": \"LOOVI\",\n\"marca\": \"{{$('nomeDominio').item.json.data[0].nomeDominio}}\",\n\"modelo\": \"{{$('whDados').item.json.negotiationCode}}\",\n\"anoModelo\": \"\",\n\"workVehicle\": \"\",\n\"estado\": \"\",\n\"cidade\": \"\",\n\"origemId\": \"20362\",\n\"campanha\": \"null\",\n\"indicador\": \"10995\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,208],"id":"5783e99b-5d05-4cd0-95f7-8a79e8665864","name":"HTTP Request","alwaysOutputData":true,"disabled":true},{"parameters":{"method":"POST","url":"=https://api.powercrm.com.br/api/quotation/card/move?quotationCode={{ $('whDados').item.json.quotationCode }}&cardColumn=IN_NEGOTIATION","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"20f3a2ee-21ac-4fba-88b4-bf8ed34f0998","name":"buscaLeadsPower2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1168,432],"alwaysOutputData":true,"onError":"continueRegularOutput","notes":"https://api.powercrm.com.br/api/quotation/card/move?quotationCode={{ $('whDados').item.json.quotationCode }}&cardColumn=IN_NEGOTIATION"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"562742b2-b96a-4812-9ab0-2417b44477c7","leftValue":"={{ $('nomeDominio').data[0].nomeDominio}}","rightValue":"REDEAUTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,448],"id":"723526dc-c589-4274-94a0-33b33ce05359","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"562742b2-b96a-4812-9ab0-2417b44477c7","leftValue":"={{ $('nomeDominio').data[0].nomeDominio}}","rightValue":"REDEAUTO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,224],"id":"7fa3938b-43de-41c9-9f9a-3e275cd8d9e9","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b34d7e12-672f-46dc-8b1e-ddf6d2576de1","leftValue":"={{$('nomeDominio').item.json.data[0].nomeDominio}}","rightValue":"TOP CE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"be2eae2b-deb7-4e0f-bd1b-773f1f2af2f5","leftValue":"={{$('nomeDominio').item.json.data[0].nomeDominio}}","rightValue":"TOP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,-320],"id":"5b40a6ae-ded8-4601-a766-c472d231dae3","name":"If2"},{"parameters":{"resource":"messages-api","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,-496],"id":"ef6b8824-bcc0-44d2-a188-4b89a874d4ea","name":"enviaZapPosVendaAssociadoPVCE","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=55{{$('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}","messageText":"={{ \n' 🤖 -Olá ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) \n+ '\\nSeja bem-vindo(a) à *Top Brasil*\\n\\n'\n\n+ 'A seguir, alguns lembretes importantes sobre sua proteção e o boleto:\\n'\n+ '- Pague o boleto em dia para manter sua proteção ativa (adimplência) e garantir o *Amparo Top*.\\n'\n+ '- Fidelidade mínima: 3 boletos na associação.\\n'\n+ '- Cancelamento: solicite com 20 dias de antecedência do vencimento. Nosso boleto é *Pós Pago*.\\n'\n+ '- Em dezembro, há um rateio de R$15,00 (quinze reais) incluído na mensalidade. Em janeiro, os valores retornam ao padrão.\\n'\n+ '- 🚨 Assistência 24 horas: 0800 070 9090 ou 0800 200 4141.\\n\\n'\n\n+ '*Acesse o Aplicativo Top Brasil:*\\n\\n'\n\n+ 'No nosso app você pode acessar seu *boleto*, além de benefícios exclusivos, como:\\n\\n'\n+ '- *Consulta Online*\\n'\n+ '- *Descontos Combustível*\\n'\n+ '- *Descontos em Farmácias*\\n\\n'\n\n+ '*iOS:* https://apps.apple.com/br/app/top-brasil/id6746876699 \\n'\n+ '*Android:* https://play.google.com/store/apps/details?id=com.topbrasil \\n\\n'\n\n+ 'Para *Login* e *Senha*, use seu *CPF*\\n\\n'\n\n+ 'Se precisar de ajuda, estamos à disposição.'\n}}\n","options_message":{"delay":120000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1712,-336],"id":"430da328-e6e3-48e9-9f09-6a9b9a4ea4e6","name":"enviaZapPosVendaAssociadoCO","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n  -- 🔧 Garante que o parâmetro seja sempre um ARRAY JSON válido\n  SELECT\n    CASE\n      WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n      ELSE jsonb_build_array($1::jsonb)\n    END AS arr\n),\n\ndados AS (\n  -- 🧩 Etapa 0: Extrai e normaliza os dados do campo \"client\"\n  SELECT\n    (elem->'client'->>'fullName') AS nome_pessoa,\n    -- Se não houver CPF, gera um ID pseudo-único baseado no nome e hash do registro\n    COALESCE(\n      NULLIF(regexp_replace((elem->'client'->>'registration'), '[^0-9]', '', 'g'), ''),\n      md5((elem->'client'->>'fullName') || (elem->>'code'))\n    ) AS cpf_cnpj_pessoa,\n    'FÍSICA' AS dom_tpo_pessoa,\n    (elem->'client'->>'fullName') AS nome_pessoa_cracha,\n    (elem->'client'->>'rg') AS rg_pessoa,\n    (elem->'client'->>'expeditor') AS rg_orgao_exp,\n    NULLIF((elem->'client'->>'expeditionDate'), '')::date AS rg_data_exp,\n    (elem->'client'->>'cnh') AS num_cnh,\n\n    -- Extrai categorias CNH (seguro mesmo se for nulo ou vazio)\n    (\n      SELECT string_agg(cat, ',')\n      FROM jsonb_array_elements_text(COALESCE(elem->'client'->'categories', '[]'::jsonb)) AS cat\n    ) AS cat_cnh,\n\n    NULLIF((elem->'client'->>'firstQualification'), '')::date AS dat_prim_cnh,\n    NULLIF((elem->'client'->>'birthdate'), '')::date AS dat_nasc_pessoa,\n    (elem->'client'->>'email') AS email_pessoa,\n    (elem->'client'->>'phoneMain') AS telefone_pessoa,\n    (elem->'client'->>'phoneHome') AS tel_recados_pessoa,\n    (elem->'client'->>'phoneCommercial') AS tel_comercial_pessoa,\n    CASE \n      WHEN (elem->'client'->>'gender')::int = 1 THEN 'M'\n      WHEN (elem->'client'->>'gender')::int = 2 THEN 'F'\n      ELSE NULL\n    END AS dom_sexo\n  FROM entrada, jsonb_array_elements(entrada.arr) elem\n),\n\n-- 🧩 Etapa 1: Garante que cada registro tenha um CPF/CNPJ único\ndados_tratados AS (\n  SELECT DISTINCT ON (cpf_cnpj_pessoa) *\n  FROM dados\n  WHERE cpf_cnpj_pessoa IS NOT NULL\n),\n\n-- 🧩 Etapa 2: Busca pessoas já existentes\npessoa_existente AS (\n  SELECT \n    p.id_pessoa,\n    p.nome_pessoa,\n    p.cpf_cnpj_pessoa,\n    p.email_pessoa,\n    p.telefone_pessoa\n  FROM public.cor_pessoa p\n  JOIN dados_tratados d ON d.cpf_cnpj_pessoa = p.cpf_cnpj_pessoa\n),\n\n-- 🧩 Etapa 3: Insere apenas novas pessoas\npessoa_nova AS (\n  INSERT INTO public.cor_pessoa (\n    nome_pessoa,\n    cpf_cnpj_pessoa,\n    dom_tpo_pessoa,\n    nome_pessoa_cracha,\n    rg_pessoa,\n    rg_orgao_exp,\n    rg_data_exp,\n    num_cnh,\n    cat_cnh,\n    dat_prim_cnh,\n    dat_nasc_pessoa,\n    email_pessoa,\n    telefone_pessoa,\n    whatsapp_pessoa,\n    celular_pessoa,\n    tel_recados_pessoa,\n    tel_comercial_pessoa,\n    dom_sexo\n  )\n  SELECT\n    upper(d.nome_pessoa) as nome_pessoa,\n    d.cpf_cnpj_pessoa,\n    d.dom_tpo_pessoa,\n    upper(d.nome_pessoa_cracha) as nome_pessoa_cracha,\n    d.rg_pessoa,\n    d.rg_orgao_exp,\n    d.rg_data_exp,\n    d.num_cnh,\n    d.cat_cnh,\n    d.dat_prim_cnh,\n    d.dat_nasc_pessoa,\n    d.email_pessoa,\n    d.telefone_pessoa,\n    d.telefone_pessoa,\n    d.telefone_pessoa,\n    d.tel_recados_pessoa,\n    d.tel_comercial_pessoa,\n    d.dom_sexo\n  FROM dados_tratados d\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_pessoa p WHERE p.cpf_cnpj_pessoa = d.cpf_cnpj_pessoa\n  )\n  RETURNING id_pessoa, nome_pessoa, cpf_cnpj_pessoa, email_pessoa, telefone_pessoa\n),\n\n-- 🧩 Etapa 4: Combina novas e existentes\npessoa_final AS (\n  SELECT * FROM pessoa_existente\n  UNION ALL\n  SELECT * FROM pessoa_nova\n)\n\n-- 🧩 Etapa 5: Retorna JSON agregado (1 único registro)\nSELECT json_build_object(\n  'status', '✅ Processo concluído com sucesso',\n  'total_processados', COUNT(*),\n  'pessoas', COALESCE(json_agg(pessoa_final), '[]'::json)\n) AS resultado\nFROM pessoa_final;\n","options":{"queryReplacement":"={{ JSON.stringify($('buscaLeadsPower1').item.json || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[736,608],"id":"8ea1135f-0b2f-43a6-acc2-4a475930bd15","name":"gravaPessoa","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"WITH entrada AS (\n  SELECT \n    -- Se o JSON vier em array, pega o primeiro elemento e extrai o campo 'resultado' -> 'pessoas'\n    CASE\n      WHEN jsonb_typeof($1::jsonb) = 'array' THEN\n        ($1::jsonb -> 0 -> 'resultado' -> 'pessoas')\n      ELSE\n        ($1::jsonb -> 'resultado' -> 'pessoas')\n    END AS pessoas\n),\n\ndados AS (\n  SELECT\n    (pessoa->>'id_pessoa')::bigint AS id_pessoa,\n    pessoa->>'nome_pessoa' AS nome_pessoa,\n    pessoa->>'cpf_cnpj_pessoa' AS cpf_cnpj_pessoa,\n    pessoa->>'email_pessoa' AS email_pessoa,\n    pessoa->>'telefone_pessoa' AS telefone_pessoa\n  FROM entrada, jsonb_array_elements(entrada.pessoas) pessoa\n  WHERE pessoa->>'id_pessoa' IS NOT NULL\n),\n\n-- Insere em cor_cliente apenas se ainda não existir o vínculo para o id_pessoa\ncliente_insert AS (\n  INSERT INTO public.cor_cliente (\n    id_pessoa,\n    dom_tpo_cliente,\n    dom_sit_cliente,\n    dat_cadastro\n  )\n  SELECT\n    d.id_pessoa,\n    'LEAD',\n    'EM NEGOCIACAO',\n    NOW()\n  FROM dados d\n  WHERE NOT EXISTS (\n    SELECT 1 FROM public.cor_cliente c WHERE c.id_pessoa = d.id_pessoa\n  )\n  RETURNING id_cliente, id_pessoa, dom_tpo_cliente, dom_sit_cliente, dat_cadastro\n),\n\n-- Caso já exista, apenas busca o registro existente\ncliente_existente AS (\n  SELECT\n    c.id_cliente,\n    c.id_pessoa,\n    c.dom_tpo_cliente,\n    c.dom_sit_cliente,\n    c.dat_cadastro\n  FROM public.cor_cliente c\n  JOIN dados d ON d.id_pessoa = c.id_pessoa\n),\n\ncliente_final AS (\n  SELECT * FROM cliente_insert\n  UNION ALL\n  SELECT * FROM cliente_existente\n)\n\n-- Retorna o resultado consolidado\nSELECT json_build_object(\n  'status', '✅ Clientes processados com sucesso',\n  'total_registros', COUNT(*),\n  'clientes', COALESCE(json_agg(cliente_final), '[]'::json)\n) AS resultado\nFROM cliente_final;\n","options":{"queryReplacement":"={{ JSON.stringify($('gravaPessoa').item.json || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,608],"id":"9537d890-ae57-4ce0-9e1f-3a2ac3343b24","name":"gravaCliente","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"url":"=https://api.powercrm.com.br/api/quotation/quotationFipeApi?quotationCode={{ $('buscaLeadsPower1').item.json.quotations[0].code }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{$('buscaDadosAPI1').item.json.apiKey}}"}]},"options":{}},"id":"94869e6a-c127-445a-8162-1b39270806d8","name":"buscaCodFipe","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[736,800],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9de8e498-34ac-4ece-9d52-24a484afc6b8","name":"marca","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].title.split(\",\")[0].trim() }}","type":"string"},{"id":"e4abef10-6552-4f4d-8e99-0b03d7fde732","name":"modelo","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].title.split(\",\")[1].trim().slice(0, -5).trim() }}","type":"string"},{"id":"ee911b35-ba42-4dcf-8bea-459db2591a94","name":"ano","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].title.slice(-4) }}","type":"string"},{"id":"396d2851-5d8d-44ec-8cb4-ae976cbb5077","name":"cod_fipe","value":"={{ $('buscaCodFipe').item.json.fipeRealCode}}","type":"string"},{"id":"0da52888-6d9f-473a-9112-249b1ec59bcc","name":"id_pessoa","value":"={{ $node[\"gravaCliente\"].json.resultado.clientes[0].id_pessoa }}","type":"string"},{"id":"96d372d6-8fc3-49b7-9358-701ef8d15053","name":"id_cliente","value":"={{ $node[\"gravaCliente\"].json.resultado.clientes[0].id_cliente }}","type":"string"},{"id":"11a0e410-46ef-4034-bfaf-aca23054baae","name":"quotationCode","value":"={{ $('buscaLeadsPower1').item.json.quotations[0].code }}","type":"string"},{"id":"eedab25f-a29b-4faf-b464-e4a8214bf688","name":"st_valor_fipe","value":"={{ $('buscaCodFipe').item.json.fipeValueQuoted}}","type":"string"},{"id":"fedefca8-716b-4678-8fab-232bf293d2e7","name":"valor_fipe","value":"={{ $('buscaCodFipe').item.json.fipeValue}}","type":"string"},{"id":"cfd3bbbe-258c-43fd-897c-2e76444c74d6","name":"nome_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].nome_pessoa }}","type":"string"},{"id":"46af5b58-e640-4501-88ac-11be406bac88","name":"cpf_cnpj_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].cpf_cnpj_pessoa }}","type":"string"},{"id":"051acd5d-7a19-463a-a6dd-d124294363bf","name":"email_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].email_pessoa }}","type":"string"},{"id":"783c7d0b-ebd8-4f0f-8c7b-e3289fd678ad","name":"telefone_pessoa","value":"={{ $node[\"gravaPessoa\"].json.resultado.pessoas[0].telefone_pessoa }}","type":"string"},{"id":"e8cb4208-7848-4171-8c13-725e88fee7e9","name":"cidade","value":"={{ $('buscaLeadsPower1').item.json.client.city }}","type":"string"},{"id":"95b6c7c0-d912-49a1-aa11-964d98a26fc1","name":"estado","value":"={{ $('buscaLeadsPower1').item.json.client.state }}","type":"string"},{"id":"e4f6de00-2517-4336-a520-f18a21d2ad1f","name":"consultor","value":"={{ $('buscaLeadsPower1').item.json.responsible }}","type":"string"},{"id":"f4fdb627-50cc-4db7-bd1f-e825041b1241","name":"negotiationCode","value":"={{ $('buscaLeadsPower1').item.json.code }}","type":"string"},{"id":"0100bbc3-9861-4e49-a1b9-2a526ea015b7","name":"origin","value":"={{ $('buscaLeadsPower1').item.json.origin }}","type":"string"},{"id":"bd1d354a-83bd-4735-9414-471f18153dea","name":"leadSource","value":"={{ $('buscaLeadsPower1').item.json.leadSource }}","type":"string"},{"id":"3eca816c-e48b-4663-9918-2b0ac0d67448","name":"leadSourceSub","value":"={{ $('buscaLeadsPower1').item.json.leadSourceSub }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,800],"id":"51c5f7a9-c42c-4c9d-868e-17c47dd405fa","name":"dadosCotacaoVeiculo"},{"parameters":{"operation":"executeQuery","query":"WITH\nentrada AS (\n  SELECT\n    ($1::json)->>'marca' AS marca,\n    ($1::json)->>'modelo' AS modelo,\n    ($1::json)->>'ano' AS ano,\n    ($1::json)->>'cod_fipe' AS cod_fipe,\n    ($1::json)->>'id_pessoa' AS id_pessoa,\n    ($1::json)->>'id_cliente' AS id_cliente,\n    ($1::json)->>'quotationCode' AS quotationCode,\n    ($1::json)->>'st_valor_fipe' AS st_valor_fipe,\n    ($1::json)->>'valor_fipe' AS valor_fipe,\n    ($1::json)->>'nome_pessoa' AS nome_pessoa,\n    ($1::json)->>'cpf_cnpj_pessoa' AS cpf_cnpj_pessoa,\n    ($1::json)->>'email_pessoa' AS email_pessoa,\n    ($1::json)->>'telefone_pessoa' AS telefone_pessoa,\n    ($1::json)->>'cidade' AS cidade,\n    ($1::json)->>'estado' AS estado,\n    ($1::json)->>'consultor' AS consultor,\n    ($1::json)->>'negotiationCode' AS negotiationCode,\n    ($1::json)->>'origin' AS origin,\n    ($1::json)->>'leadSource' AS leadSource,\n    ($1::json)->>'leadSourceSub' AS leadSourceSub\n),\n\n-- 🟦 1️⃣ Insere marca se não existir\nmarca_insert AS (\n  INSERT INTO public.cor_marca (nom_marca, dsc_marca)\n  SELECT trim(e.marca), trim(e.marca)\n  FROM entrada e\n  WHERE e.marca IS NOT NULL\n    AND trim(e.marca) <> ''\n    AND NOT EXISTS (\n      SELECT 1 FROM public.cor_marca cm\n      WHERE lower(trim(cm.nom_marca)) = lower(trim(e.marca))\n    )\n  RETURNING id_marca, nom_marca\n),\nmarca_final AS (\n  SELECT id_marca, nom_marca FROM marca_insert\n  UNION\n  SELECT id_marca, nom_marca FROM public.cor_marca\n   WHERE lower(trim(nom_marca)) = lower(trim((SELECT marca FROM entrada LIMIT 1)))\n),\n\n-- 🟩 2️⃣ Insere modelo se não existir\nmodelo_insert AS (\n  INSERT INTO public.cor_modelo (id_marca, nom_modelo, cod_fipe, dom_tpo_veiculo, dom_cat_veiculo)\n  SELECT\n    (SELECT id_marca FROM marca_final LIMIT 1),\n    trim(e.modelo),\n    NULLIF(trim(e.cod_fipe),''),\n    NULL,\n    NULL\n  FROM entrada e\n  WHERE e.modelo IS NOT NULL\n    AND trim(e.modelo) <> ''\n    AND NOT EXISTS (\n      SELECT 1 FROM public.cor_modelo cm\n      WHERE cm.id_marca = (SELECT id_marca FROM marca_final LIMIT 1)\n        AND lower(trim(cm.nom_modelo)) = lower(trim(e.modelo))\n    )\n  RETURNING id_modelo, id_marca, nom_modelo, cod_fipe\n),\nmodelo_final AS (\n  SELECT id_modelo, id_marca FROM modelo_insert\n  UNION\n  SELECT id_modelo, id_marca FROM public.cor_modelo\n   WHERE lower(trim(nom_modelo)) = lower(trim((SELECT modelo FROM entrada LIMIT 1)))\n     AND id_marca = (SELECT id_marca FROM marca_final LIMIT 1)\n),\n\n-- 🟨 3️⃣ Prepara valores\nvalores AS (\n  SELECT\n    e.*,\n    (SELECT id_marca FROM marca_final) AS id_marca,\n    (SELECT id_modelo FROM modelo_final) AS id_modelo,\n    CASE\n      WHEN coalesce(trim(e.valor_fipe),'') = '' THEN NULL\n      ELSE (\n        replace(\n          replace(\n            regexp_replace(e.valor_fipe, '[^0-9\\\\.,]', '', 'g'),\n          '.', ''), ',', '.')::numeric(12,2)\n      )\n    END AS valor_fipe_num\n  FROM entrada e\n),\n\n-- 🟥 4️⃣ Insere veículo\nveiculo_insert AS (\n  INSERT INTO public.cor_veiculo (\n    id_pessoa,\n    id_modelo,\n    nome_proprietario,\n    cpf_cnpj,\n    ano_modelo,\n    ano_fabricacao,\n    dom_tpo_veiculo,\n    dom_cat_veiculo,\n    dom_sit_veiculo,\n    cod_fipe,\n    valor_fipe,\n    valor_ajustado,\n    dth_cad_veiculo\n  )\n  SELECT\n    NULLIF(trim(v.id_pessoa),'')::bigint,\n    v.id_modelo,\n    trim(v.nome_pessoa),\n    NULLIF(trim(v.cpf_cnpj_pessoa),''),\n    NULLIF(trim(v.ano),''),\n    NULLIF(trim(v.ano),''),\n    NULL,\n    NULL,\n    'Inativo',\n    NULLIF(trim(v.cod_fipe),''),\n    v.valor_fipe_num,\n    v.valor_fipe_num,\n    now()\n  FROM valores v\n  RETURNING\n    id_veiculo,\n    id_pessoa,\n    id_modelo,\n    cod_fipe,\n    valor_fipe,\n    valor_ajustado,\n    dom_tpo_veiculo,\n    dom_cat_veiculo,\n    dom_sit_veiculo,\n    dth_cad_veiculo\n)\n\n-- 🧩 5️⃣ Retorna tudo junto\nSELECT jsonb_strip_nulls(\n  (\n    SELECT jsonb_build_object(\n      'input', to_jsonb(e),\n      'marca', to_jsonb(mf),\n      'modelo', to_jsonb(modf),\n      'veiculo', to_jsonb(vi),\n      'status', '✅ Inserção concluída com sucesso'\n    )\n    FROM entrada e,\n         marca_final mf,\n         modelo_final modf,\n         veiculo_insert vi\n  )\n) AS resultado;\n","options":{"queryReplacement":"={{ JSON.stringify($('dadosCotacaoVeiculo').item.json || []) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,800],"id":"4da727f0-6cdb-42f0-8d23-4eab92463210","name":"gravaMarcaModeloVeiculo","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"WITH\n-- 🧩 Detecta se o JSON é array ou objeto\njson_tipo AS (\n  SELECT jsonb_typeof($1::jsonb) = 'array' AS eh_array\n),\n\n-- 🧩 Extrai o objeto \"resultado\" e mantém o JSON de entrada INTEIRO\nentrada_bruta AS (\n  SELECT\n    CASE\n      WHEN jt.eh_array THEN ($1::json->0)                 -- mantém o objeto completo\n      ELSE ($1::json)\n    END AS json_original,\n\n    CASE\n      WHEN jt.eh_array THEN ($1::json->0)->'resultado'    -- extrai \"resultado\"\n      ELSE ($1::json)->'resultado'\n    END AS resultado\n  FROM json_tipo jt\n),\n\n-- 🧩 Normaliza os campos dentro de resultado.input\nentrada AS (\n  SELECT\n    json_original,\n    resultado,\n    resultado->'input'->>'id_cliente'        AS id_cliente,\n    resultado->'input'->>'consultor'         AS consultor,\n    resultado->'input'->>'negotiationcode'   AS negotiationcode,\n    resultado->'input'->>'origin'            AS origin,\n    resultado->'input'->>'leadsource'        AS leadsource,\n    resultado->'input'->>'leadSourceSub'     AS leadsource_sub\n  FROM entrada_bruta\n),\n\n-- 🧩 Localiza id_colaborador pelo consultor\ncolaborador_lookup AS (\n  SELECT cl.id_colaborador\n  FROM cor_colaborador cl\n  JOIN cor_pessoa p ON p.id_pessoa = cl.id_pessoa\n  WHERE LOWER(TRIM(p.nome_pessoa)) ILIKE LOWER(TRIM((SELECT consultor FROM entrada)))\n  LIMIT 1\n),\n\n-- 🧩 Insere negociação\nnegociacao_insert AS (\n  INSERT INTO crm_negociacao (\n    id_colaborador,\n    id_cliente,\n    id_usuario,\n    id_indicador,\n    cod_negociacao,\n    dat_negociacao,\n    dat_canc_negociacao,\n    dom_sit_negociacao,\n    dom_ind_origem,\n    dom_ind_fonte,\n    dom_ind_momento,\n    dom_tpo_negociacao,\n    dom_mot_cancel,\n    obs_negociacao\n  )\n  SELECT\n    (SELECT id_colaborador FROM colaborador_lookup),\n    NULLIF(id_cliente,'')::bigint,\n    NULL,\n    NULL,\n    negotiationcode,\n    NOW(),\n    NULL,\n    'Cotação Recebida',\n    'POWERCRM',\n    origin,\n    leadsource,\n    'COTACAO',\n    NULL,\n    leadsource_sub\n  FROM entrada\n  RETURNING *\n)\n\n-- 🧩 Retorno FINAL AGRUPADO\nSELECT jsonb_build_object(\n  'entrada', e.json_original,       -- 🔥 JSON COMPLETO DE ENTRADA\n  'saida', to_jsonb(ni)             -- 🔥 RESULTADO DA INSERÇÃO\n) AS resultado\nFROM negociacao_insert ni\nCROSS JOIN entrada e;\n","options":{"queryReplacement":"={{ JSON.stringify($('gravaMarcaModeloVeiculo').item.json) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[736,992],"id":"dde7cc4b-b869-4cf8-a9af-cb38c2bb38d0","name":"gravaCRMNegociacao","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"WITH\n-- 🧩 Detecta se JSON é array (TRUE) ou objeto (FALSE)\njson_tipo AS (\n    SELECT jsonb_typeof($1::jsonb) = 'array' AS eh_array\n),\n\n-- 🧩 Extrai o objeto correto (array[0] OU objeto direto)\nentrada_bruta AS (\n    SELECT\n        CASE\n            WHEN jt.eh_array THEN ($1::json->0)->'resultado'\n            ELSE ($1::json)->'resultado'\n        END AS resultado\n    FROM json_tipo jt\n),\n\n-- 🧩 Extrai o JSON exatamente como ele veio (resultado → entrada → resultado.input etc.)\ndados AS (\n    SELECT\n        resultado->'saida'->>'id_negociacao'       AS id_negociacao,\n        resultado->'entrada'->'resultado'->'input'->>'quotationcode' AS cod_cotacao,\n        resultado->'entrada'->'resultado'->'veiculo'->>'id_veiculo'  AS id_veiculo\n    FROM entrada_bruta\n),\n\n-- 🧩 Insere a cotação\ncotacao_insert AS (\n    INSERT INTO crm_cotacao (\n        id_negociacao,\n        id_modalidade_pgto,\n        id_condicao_pgto,\n        id_veiculo,\n        id_local_cidade_circ,\n        id_tabela_preco,\n        id_plano,\n        cod_cotacao,\n        dom_sit_cotacao,\n        dom_tpo_cotacao,\n        dom_ind_origem,\n        dth_cotacao\n    )\n    SELECT\n        NULLIF(d.id_negociacao, '')::bigint,\n        NULL,\n        NULL,\n        NULLIF(d.id_veiculo, '')::bigint,  \n        NULL,\n        NULL,\n        NULL,\n        d.cod_cotacao,\n        'Cotação Recebida',\n        'VEICULO',\n        'POWERCRM',\n        NOW()\n    FROM dados d\n    RETURNING *\n)\n\n-- 🧩 Retorno final\nSELECT jsonb_build_object(\n    'status', '✅ Cotação registrada com sucesso',\n    'cotacao', to_jsonb(c)\n) AS resultado\nFROM cotacao_insert c;\n","options":{"queryReplacement":"={{ JSON.stringify($('gravaCRMNegociacao').item.json) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,992],"id":"31d10072-0779-490f-b97d-e29c0ebdeaf9","name":"gravaCRMCotacao","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"select *\nfrom cor_colaborador_pessoa_v1 as c\nwhere c.nome_pessoa = $1\n   or c.nome_pessoa_cracha = $2","options":{"queryReplacement":"={{ ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() + ',' + ($('buscaLeadsPower').item.json.responsible || '').toUpperCase() }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,16],"id":"f1fec39b-3564-4d7e-8b93-c7cc213e5c9a","name":"buscaConsultor","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('whDados').item.json.instancia }}","remoteJid":"=55{{ $('buscaConsultor').item.json.whatsapp_pessoa.match( /\\d+/g ).join('') }}","messageText":"={{ \n$('nomeDominio').item.json.data[0].nomeDominio + ' 🤖 - ' + $('whDados').item.json.status + '\\nCotação: ' + $('whDados').item.json.negotiationCode + '\\nConsultor: ' + $('buscaConsultor').item.json.nome_pessoa.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nAssociado: ' + $('buscaLeadsPower').item.json.subtitle.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + ' \\nVeículo: ' +\n$('buscaLeadsPower').item.json.title}}","options_message":{"delay":120000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[944,16],"id":"569dc9d0-e428-4fd7-bacc-00e878e4a3b3","name":"enviaZapConsultor2","alwaysOutputData":true,"executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput","notes":"55{{ $('LEADS').item.json.clientMobile.match( /\\d+/g ).join('') }}"},{"parameters":{"errorMessage":"Envio Associado"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1120,-320],"id":"a7808ba3-ba15-4c71-914c-8ec5a3f14827","name":"Stop and Error"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\", \n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"pos_venda_associado_pvce\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.subtitle }}\" }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,-624],"id":"292b32df-a3bf-467d-8a57-64e9e324bd75","name":"pos_venda_associado_pvce_old","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://zapi.topbrtech.com.br/message/sendTemplate/bm_top_3195929809","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"name\": \"pos_venda_associado_pvce\",\n    \"language\": \"pt_BR\",\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.subtitle }}\" }\n        ]\n      }\n    ]\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,-464],"id":"717383bf-c143-4d89-a5ec-81f0ed34b78c","name":"pos_venda_associado_pvce"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/864975313369366/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAATUk0ZAXAHcBP2kf4RiafS5WQycrzlYKLhxBhuiMBKEydsZBLPZBWb1CTEcd78lpVrwWmZAvstmjVn9XRZBRldPDC8EDdPceYHDlZCd3qC5KDDCOX4EIJ2eKkEyR3vM9znAAUBgDbhRZAsgxj2XmdLp6fZAgBANi7faZAU7YZB2HhdoTqUT6mHXnEZBwX742bHiVQppwZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\", \n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"pos_venda_associado_co\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.subtitle }}\" }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,-608],"id":"e7f2c67f-4ba2-4b5e-97a5-f03ff8ca92f0","name":"pos_venda_associado_co_old","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://zapi.topbrtech.com.br/message/sendTemplate/bm_top_3195929809","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{'55' + $('buscaLeadsPower').item.json.client.phoneMain.match( /\\d+/g ).join('')}}\",\n    \"name\": \"pos_venda_associado_co\",\n    \"language\": \"pt_BR\",\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.subtitle }}\" }\n        ]\n      }\n    ]\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,-192],"id":"cb724a4e-5f7e-478f-97f1-0a64a4d89644","name":"pos_venda_associado_co"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_pv":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_ce":{"main":[[{"node":"whDados","type":"main","index":0}]]},"wh_topbrasl_co":{"main":[[{"node":"whDados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"PV","type":"main","index":0}],[{"node":"CE","type":"main","index":0}],[{"node":"CO","type":"main","index":0}],[{"node":"RA","type":"main","index":0}]]},"wh_topbrasl_redeauto":{"main":[[{"node":"whDados","type":"main","index":0}]]},"PV":{"main":[[{"node":"TOP","type":"main","index":0}]]},"CE":{"main":[[{"node":"TOP CE","type":"main","index":0}]]},"CO":{"main":[[{"node":"TOP CO","type":"main","index":0}]]},"RA":{"main":[[{"node":"REDEAUTO","type":"main","index":0}]]},"TOP":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CE":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"TOP CO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"REDEAUTO":{"main":[[{"node":"Agrega","type":"main","index":0}]]},"Agrega":{"main":[[{"node":"nomeDominio","type":"main","index":0}]]},"nomeDominio":{"main":[[{"node":"status","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"enviaZapConsultor","type":"main","index":0}]]},"buscaDadosAPI":{"main":[[{"node":"buscaLeadsPower","type":"main","index":0}]]},"buscaLeadsPower":{"main":[[{"node":"If2","type":"main","index":0},{"node":"buscaConsultor","type":"main","index":0}]]},"dadosBDConsultor":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"status":{"main":[[{"node":"buscaDadosAPI","type":"main","index":0}],[],[{"node":"enviaZapAdministrativo","type":"main","index":0}],[{"node":"buscaDadosAPI1","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"enviaZapConsultor1","type":"main","index":0}]]},"buscaLeadsPower1":{"main":[[{"node":"If3","type":"main","index":0},{"node":"gravaPessoa","type":"main","index":0}]]},"buscaDadosAPI1":{"main":[[{"node":"buscaLeadsPower1","type":"main","index":0}]]},"If3":{"main":[[{"node":"dadosBDConsultor1","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"dadosBDConsultor1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"enviaZapConsultor1":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"If":{"main":[[{"node":"buscaLeadsPower2","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"enviaZapConsultor":{"main":[[]]},"If2":{"main":[[{"node":"pos_venda_associado_pvce","type":"main","index":0}],[{"node":"pos_venda_associado_co","type":"main","index":0}]]},"gravaPessoa":{"main":[[{"node":"gravaCliente","type":"main","index":0}]]},"gravaCliente":{"main":[[{"node":"buscaCodFipe","type":"main","index":0}]]},"buscaCodFipe":{"main":[[{"node":"dadosCotacaoVeiculo","type":"main","index":0}]]},"dadosCotacaoVeiculo":{"main":[[{"node":"gravaMarcaModeloVeiculo","type":"main","index":0}]]},"gravaMarcaModeloVeiculo":{"main":[[{"node":"gravaCRMNegociacao","type":"main","index":0}]]},"gravaCRMNegociacao":{"main":[[{"node":"gravaCRMCotacao","type":"main","index":0}]]},"gravaCRMCotacao":{"main":[[]]},"enviaZapPosVendaAssociadoPVCE":{"main":[[]]},"enviaZapPosVendaAssociadoCO":{"main":[[]]},"buscaConsultor":{"main":[[{"node":"enviaZapConsultor2","type":"main","index":0}]]},"enviaZapConsultor2":{"main":[[]]},"pos_venda_associado_pvce_old":{"main":[[]]},"pos_venda_associado_pvce":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"pos_venda_associado_co_old":{"main":[[]]},"pos_venda_associado_co":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":false,"saveExecutionProgress":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db44643a-5097-4084-a15d-5ec9d50c01f2","triggerCount":4,"shared":[{"createdAt":"2025-09-02T13:27:57.498Z","updatedAt":"2025-09-02T13:27:57.498Z","role":"workflow:owner","workflowId":"vWq0qpVqjVTzRx1n","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-07-12T12:17:26.544Z","updatedAt":"2025-07-12T12:17:26.544Z","id":"2IkRnWsdq5TLPNj1","name":"POWERCRM"},{"createdAt":"2025-07-12T12:17:26.644Z","updatedAt":"2025-07-12T12:17:26.644Z","id":"pIMmsZ0yhW61pdRj","name":"MENSAGENS"},{"createdAt":"2025-09-28T19:46:08.309Z","updatedAt":"2025-09-28T19:46:08.309Z","id":"twNBrzFgyMQjyPj3","name":"EVO ZAP.TOP.COR"}]}