wh_popula_boletos_bi-7qqkQ0KvklUgOtAs.json
{"createdAt":"2025-09-24T20:09:18.210Z","updatedAt":"2025-09-27T21:17:44.905Z","id":"7qqkQ0KvklUgOtAs","name":"WH_POPULA_BOLETOS_BI","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-704,448],"id":"7685b763-4ad5-49e6-a3ea-7782694c3c4e","name":"When clicking ‘Execute workflow’"},{"parameters":{},"name":"Start Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,640],"id":"4f6166b1-4bd0-48a8-b937-d3001891efa3"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment","type":"n8n-nodes-base.set","typeVersion":1,"position":[-496,640],"id":"011ee4a5-a75c-462f-93e4-0a691d49d5a0"},{"parameters":{"values":{"number":[{"name":"counter"}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[352,448],"id":"d7550c8b-1f0a-43aa-9060-43e6292e0e28"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment').item.json[\"counter\"] }}","value2":"={{ $('buscaQuantPaginas').item.json.body.numero_paginas }}"}]}},"name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,832],"id":"9ea88916-8cd0-4a62-8440-e8fae0e791e3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,448],"id":"a3c7c952-ce04-43cf-beb7-f6370623c501","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[352,240],"id":"597e3cea-d6fa-4919-8853-9dbd998f271a","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,448],"id":"2379ddd2-e689-4d9e-ad29-b1ef9dbe57c3","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":100,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $('Increment').item.json.counter - 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,640],"id":"4efacc0a-6e95-4dbe-b761-3a8b5fda60bb","name":"dadosPagina"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": 100,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"59b4f896-c6c2-4ef9-aaf9-476e8e0e8c17","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-80,448],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": true,\n  \"quantidade_por_pagina\": {{ $('dadosPagina').item.json.quantidadePagina }},\n  \"inicio_paginacao\": {{ $('dadosPagina').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"4b011e4b-d0a4-4e05-b963-fafa901202ec","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-64,640],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"=01/10/2025","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"=31/10/2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,448],"id":"ece9d76c-94e5-4f79-8589-ca38ff9324e2","name":"dadosDatas"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[144,640],"id":"eb5af231-79ac-453a-b9e7-fc9bf7871b1c","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"tableId":"topBIBoletos","fieldsUi":{"fieldValues":[{"fieldId":"codigo_associado","fieldValue":"={{ $('splitBoletos').item.json.boletos.codigo_associado }}"},{"fieldId":"nome_associado","fieldValue":"={{ $('splitBoletos').item.json.boletos.nome_associado }}"},{"fieldId":"celular","fieldValue":"={{ $('splitBoletos').item.json.boletos.celular }}"},{"fieldId":"data_emissao","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_emissao }}"},{"fieldId":"data_vencimento","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_vencimento }}"},{"fieldId":"data_vencimento_original","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_vencimento_original }}"},{"fieldId":"tipo_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.tipo_boleto }}"},{"fieldId":"situacao_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.situacao_boleto }}"},{"fieldId":"valor_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.valor_boleto }}"},{"fieldId":"link_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.link_boleto }}"},{"fieldId":"linha_digitavel","fieldValue":"={{ $('splitBoletos').item.json.boletos.linha_digitavel }}"},{"fieldId":"placa","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].placa }}"},{"fieldId":"modelo","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].modelo }}"},{"fieldId":"codigo_regional","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].codigo_regional }}"},{"fieldId":"codigo_cooperativa","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].codigo_cooperativa }}"},{"fieldId":"codigo_voluntario","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"},{"fieldId":"situacao_veiculo","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].situacao_veiculo }}"},{"fieldId":"nosso_numero","fieldValue":"={{ $('splitBoletos').item.json.boletos.nosso_numero }}"},{"fieldId":"data_pagamento","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_pagamento }}"},{"fieldId":"valor_pagamento","fieldValue":"={{ $('splitBoletos').item.json.boletos.valor_pagamento }}"},{"fieldId":"mes_referente","fieldValue":"={{ $('splitBoletos').item.json.boletos.mes_referente }}"},{"fieldId":"codigo_banco","fieldValue":"={{ $('splitBoletos').item.json.boletos.codigo_banco }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[352,640],"id":"ef360b51-7c77-4e99-af1c-f433f4e18472","name":"gravaBoleto","credentials":{"supabaseApi":{"id":"VQ0u6V6adXidF31q","name":"top-brasil-app-integracao"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-288,832],"id":"895e9572-e900-497f-94fd-1397481c0637","name":"Aggregate1"},{"parameters":{"path":"geraboletosbi","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,256],"id":"1a5e7a45-1647-4cdc-933f-3b3906ff7e82","name":"Webhook","webhookId":"184d23e1-21e0-42be-a1c0-3082f6289a46"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Start Loop":{"main":[[{"node":"Increment","type":"main","index":0}]]},"Increment":{"main":[[{"node":"dadosPagina","type":"main","index":0},{"node":"IF5","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"Start Loop","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Start Loop","type":"main","index":0}],[{"node":"Aggregate1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Init Counter","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"dadosPagina":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"splitBoletos","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"gravaBoleto","type":"main","index":0}]]},"gravaBoleto":{"main":[[]]},"Webhook":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Aggregate1":{"main":[[]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32c8198d-dd40-45d2-b65e-ba693846d1c6","triggerCount":1,"shared":[{"createdAt":"2025-09-24T20:09:18.210Z","updatedAt":"2025-09-24T20:09:18.210Z","role":"workflow:owner","workflowId":"7qqkQ0KvklUgOtAs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}