wh_popula_boletos_bi-7qqkQ0KvklUgOtAs.json
{"createdAt":"2025-09-24T20:09:18.210Z","updatedAt":"2025-09-24T22:41:08.199Z","id":"7qqkQ0KvklUgOtAs","name":"WH_POPULA_BOLETOS_BI","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-704,448],"id":"7685b763-4ad5-49e6-a3ea-7782694c3c4e","name":"When clicking ‘Execute workflow’"},{"parameters":{},"name":"Start Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,784],"id":"4f6166b1-4bd0-48a8-b937-d3001891efa3"},{"parameters":{"values":{"number":[{"name":"counter","value":"={{$node[\"Start Loop\"].json[\"counter\"] + 1}}"}]},"options":{}},"name":"Increment","type":"n8n-nodes-base.set","typeVersion":1,"position":[-496,784],"id":"011ee4a5-a75c-462f-93e4-0a691d49d5a0"},{"parameters":{"values":{"number":[{"name":"counter","value":17}]},"options":{}},"name":"Init Counter","type":"n8n-nodes-base.set","typeVersion":1,"position":[768,448],"id":"d7550c8b-1f0a-43aa-9060-43e6292e0e28"},{"parameters":{"conditions":{"number":[{"value1":"={{ $('Increment').item.json[\"counter\"] }}","value2":"=21"}]}},"name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[-496,976],"id":"9ea88916-8cd0-4a62-8440-e8fae0e791e3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,448],"id":"a3c7c952-ce04-43cf-beb7-f6370623c501","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[768,240],"id":"597e3cea-d6fa-4919-8853-9dbd998f271a","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-288,448],"id":"2379ddd2-e689-4d9e-ad29-b1ef9dbe57c3","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":3000,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ $json.counter - 1 }}","type":"number"},{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimento","value":"={{\n  (() => {\n    let d = new Date();\n    d.setDate(d.getDate() - 1); // começa no dia anterior\n\n    // enquanto for segunda (0), retrocede + 2 dias\n    while (d.getDay() === 0) {\n      d.setDate(d.getDate() - 2);\n    }\n\n    // formata para dd/MM/yyyy\n    const dd = String(d.getDate()).padStart(2, '0');\n    const mm = String(d.getMonth() + 1).padStart(2, '0');\n    const yyyy = d.getFullYear();\n\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,784],"id":"4efacc0a-6e95-4dbe-b761-3a8b5fda60bb","name":"dadosPagina"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"59b4f896-c6c2-4ef9-aaf9-476e8e0e8c17","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-64,448],"disabled":true,"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"codigo_situacao\": 2,\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": 3000,\n  \"inicio_paginacao\": {{ $('dadosPagina').item.json.pagina }}\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"4b011e4b-d0a4-4e05-b963-fafa901202ec","name":"buscaBoletosPag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-64,784],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"=01/09/2025","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"30/09/2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,448],"id":"ece9d76c-94e5-4f79-8589-ca38ff9324e2","name":"dadosDatas"},{"parameters":{"fieldToSplitOut":"body.boletos","options":{"destinationFieldName":"boletos"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[144,784],"id":"eb5af231-79ac-453a-b9e7-fc9bf7871b1c","name":"splitBoletos","alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"topBoletosBI"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[144,448],"id":"f573515f-3538-4858-aa1b-56b3e7742fb9","name":"limpaTabela","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}},"disabled":true},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[352,448],"id":"c5383d68-c7d4-4753-bf62-e5ab4bf9c648","name":"Wait","webhookId":"aaa88813-e290-4e24-9b48-b406696014cb","disabled":true},{"parameters":{"tableId":"topBIBoletos","fieldsUi":{"fieldValues":[{"fieldId":"codigo_associado","fieldValue":"={{ $('splitBoletos').item.json.boletos.codigo_associado }}"},{"fieldId":"nome_associado","fieldValue":"={{ $('splitBoletos').item.json.boletos.nome_associado }}"},{"fieldId":"celular","fieldValue":"={{ $('splitBoletos').item.json.boletos.celular }}"},{"fieldId":"data_emissao","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_emissao }}"},{"fieldId":"data_vencimento","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_vencimento }}"},{"fieldId":"data_vencimento_original","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_vencimento_original }}"},{"fieldId":"tipo_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.tipo_boleto }}"},{"fieldId":"situacao_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.situacao_boleto }}"},{"fieldId":"valor_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.valor_boleto }}"},{"fieldId":"link_boleto","fieldValue":"={{ $('splitBoletos').item.json.boletos.link_boleto }}"},{"fieldId":"linha_digitavel","fieldValue":"={{ $('splitBoletos').item.json.boletos.linha_digitavel }}"},{"fieldId":"placa","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].placa }}"},{"fieldId":"modelo","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].modelo }}"},{"fieldId":"codigo_regional","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].codigo_regional }}"},{"fieldId":"codigo_cooperativa","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].codigo_cooperativa }}"},{"fieldId":"codigo_voluntario","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].codigo_voluntario }}"},{"fieldId":"situacao_veiculo","fieldValue":"={{ $('splitBoletos').item.json.boletos.veiculos[0].situacao_veiculo }}"},{"fieldId":"nosso_numero","fieldValue":"={{ $('splitBoletos').item.json.boletos.nosso_numero }}"},{"fieldId":"data_pagamento","fieldValue":"={{ $('splitBoletos').item.json.boletos.data_pagamento }}"},{"fieldId":"valor_pagamento","fieldValue":"={{ $('splitBoletos').item.json.boletos.valor_pagamento }}"},{"fieldId":"mes_referente","fieldValue":"={{ $('splitBoletos').item.json.boletos.mes_referente }}"},{"fieldId":"codigo_banco","fieldValue":"={{ $('splitBoletos').item.json.boletos.codigo_banco }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[352,784],"id":"ef360b51-7c77-4e99-af1c-f433f4e18472","name":"gravaBoleto","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"42 19 * * 1-5"}]}},"id":"0f1a77e4-be83-4d14-bc5d-d0d2cd60f91a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-704,288]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-288,976],"id":"895e9572-e900-497f-94fd-1397481c0637","name":"Aggregate1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"Start Loop":{"main":[[{"node":"Increment","type":"main","index":0}]]},"Increment":{"main":[[{"node":"dadosPagina","type":"main","index":0},{"node":"IF5","type":"main","index":0}]]},"Init Counter":{"main":[[{"node":"Start Loop","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Start Loop","type":"main","index":0}],[{"node":"Aggregate1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Init Counter","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"dadosPagina":{"main":[[{"node":"buscaBoletosPag","type":"main","index":0}]]},"buscaQuantPaginas":{"main":[[{"node":"limpaTabela","type":"main","index":0}]]},"buscaBoletosPag":{"main":[[{"node":"splitBoletos","type":"main","index":0}]]},"dadosDatas":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"splitBoletos":{"main":[[{"node":"gravaBoleto","type":"main","index":0}]]},"limpaTabela":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If2","type":"main","index":0}]]},"gravaBoleto":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"buscaQuantPaginas":[{"json":{"body":{"mostrando ":3000,"numero_paginas":21,"total_registros":"60969","pagina_corrente":1,"boletos":[{"nosso_numero":1048697,"linha_digitavel":"34191.09552 65396.670930 75008.900005 1 12090000003500","valor_boleto":"35.00","valor_pagamento":"0.00","codigo_tipo_boleto":"5","tipo_boleto":"FECHAMENTO","codigo_associado":11719,"nome_associado":"MAURíCIO SABINO DA SILVA","cpf":"02864624435","telefone_fixo":"(83) 99316-0537","celular":"(83) 9931-60537","telefone_celular_auxiliar":"","telefone_comercial":"() ","email":"","email_auxiliar":"","data_inicio_contrato_associado":"2022-05-31","data_fim_contrato_associado":null,"data_emissao":"2022-05-31","data_vencimento":"2025-09-19","data_vencimento_original":"2022-06-20","data_pagamento":null,"codigo_situacao_boleto":"2","codigo_forma_pagamento":1,"codigo_tipo_cobranca_recorrente":1,"situacao_boleto":"ABERTO","codigo_banco":"16","mes_referente":"06/2022","codigo_mgfformapagamento":"1","veiculos":[{"codigo_veiculo":24240,"codigo_tipo_veiculo":"3","id_externo":"","codigo_regional":"2","codigo_cooperativa":"20","codigo_voluntario":"19","placa":"QFO9489","chassi":"9C2KC2210GR016067","renavam":"01069011735","codigo_fipe":"811133-2","modelo":"CG 160 TITAN FLEXONE/ED.ESPECIAL 40 ANOS","ano_modelo":"2016","marca":"HONDA","valor_protegido":"12333,00","valor_fipe":"12333,00","valor_adesao":"0,00","data_inicio_contrato_veiculo":"2022-05-31","data_fim_contrato_veiculo":"2022-05-31","codigo_tipo_envio_boleto":"1","descricao_tipo_envio_boleto":"POSTAGEM NOS CORREIOS","situacao_veiculo":"INATIVO","boleto_fisico":"Y","agregado":"N","codigo_tipo_cobranca_recorrente":1,"total_taxas_produtos":35,"total_taxas":"35,00","taxas":[{"codigo_classificacaoproduto":8,"descricao_taxa":"OUTROS","valor_taxa":"35.00"}]}],"nome_usuario_cobranca":null}]},"headers":{"date":"Wed, 24 Sep 2025 20:20:12 GMT","content-type":"application/json","transfer-encoding":"chunked","connection":"close","server":"nginx/1.22.1"},"statusCode":200,"statusMessage":"OK"}}]},"versionId":"799a7fe2-5ebb-4dc3-ad1b-69baf30f83c2","triggerCount":1,"shared":[{"createdAt":"2025-09-24T20:09:18.210Z","updatedAt":"2025-09-24T20:09:18.210Z","role":"workflow:owner","workflowId":"7qqkQ0KvklUgOtAs","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"}]}