wh_popula_top_boletos-xE6dt4CQyKAsLLWY.json
{"createdAt":"2025-11-14T12:38:46.031Z","updatedAt":"2025-12-03T13:26:06.940Z","id":"xE6dt4CQyKAsLLWY","name":"WH_POPULA_TOP_BOLETOS","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-880,736],"id":"ce9b7b4e-7b7c-4c9b-ba7a-3e3843512b57","name":"When clicking ‘Execute workflow’","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.error.status }}","rightValue":401,"operator":{"type":"number","operation":"equals"}},{"id":"54d76463-a28d-40bb-88fb-0ca340b6da0a","leftValue":"={{ $json.error.status }}","rightValue":403,"operator":{"type":"number","operation":"equals"}},{"id":"7b1c8240-0ddd-438c-9862-4788fbd0cf6a","leftValue":"={{ $json.error.status }}","rightValue":"400","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-16],"id":"bdf3de8b-9c6b-48c9-a4d6-555d6acc8188","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"NxizvoUNEN4GOL6d","mode":"list","cachedResultUrl":"/workflow/NxizvoUNEN4GOL6d","cachedResultName":"WF_ATUALIZA_TOKEN_BOLETOS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["base"],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[480,-32],"id":"c98109a5-57c0-44b4-912a-00481b0100d9","name":"Execute Workflow1","executeOnce":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGABoletos"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,-16],"id":"b6a71758-dd85-4e26-a47b-8c15729ec60d","name":"buscaTokenBD","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"path":"c4954dd8-56bf-4c8e-b504-a9bc3b53561e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-880,-16],"id":"6ba4978b-251c-40c8-b730-1b0348c3ec8d","name":"Webhook","webhookId":"c4954dd8-56bf-4c8e-b504-a9bc3b53561e","executeOnce":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":25}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,464],"id":"5e3d44c3-d35e-4535-aa06-f2b6639dbfa3","name":"Schedule Trigger","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":500,"type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"pagina","value":"={{ Number($('loopPaginas').item?.json?.pagina?.counter) || 0 }}\n","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,208],"id":"c2bcdc5e-cc9a-4205-ad78-cc0060546241","name":"dadosPaginas","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a5ba2546-bb0c-4057-ae8e-27c8d8df705e","name":"dtVencimentoInicial","value":"={{ $('Webhook').item.json.query.dataVInicial }}","type":"string"},{"id":"b22f66c6-314b-43d6-a3de-3cd8d2aef75a","name":"dtVencimentoFinal","value":"={{ $('Webhook').item.json.query.dataVFinal }}","type":"string"},{"id":"490f9986-3862-491f-9976-320cd03a025e","name":"quantidadePagina","value":"={{ $('Webhook').item.json.query.quantidadePagina ?? 500 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-16],"id":"698210da-df52-4f1e-ab10-e31f15bf5fe2","name":"dadosDatas","notes":"{{ \n  (() => {\n    const now = new Date();\n    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);\n    const dd = String(firstDay.getDate()).padStart(2, '0');\n    const mm = String(firstDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = firstDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\n\n{{ \n  (() => {\n    const now = new Date();\n    const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    const dd = String(lastDay.getDate()).padStart(2, '0');\n    const mm = String(lastDay.getMonth() + 1).padStart(2, '0');\n    const yyyy = lastDay.getFullYear();\n    return `${dd}/${mm}/${yyyy}`;\n  })()\n}}\n\n"},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/listar/boleto-associado/periodo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data_vencimento_inicial\": \"{{ $('dadosDatas').item.json.dtVencimentoInicial }}\",\n  \"data_vencimento_final\": \"{{ $('dadosDatas').item.json.dtVencimentoFinal }}\",\n  \"link_boleto\": false,\n  \"quantidade_por_pagina\": {{ $('dadosDatas').item.json.quantidadePagina }},\n  \"inicio_paginacao\": 0\n}\n","options":{"response":{"response":{"fullResponse":true}},"timeout":1000000}},"id":"242e2df8-23ac-498e-b4ca-3ba3ba172d64","name":"buscaQuantPaginas","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[16,-16],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ Number($('buscaQuantPaginas').item?.json?.body?.numero_paginas) || 0 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,208],"id":"46c7f848-614e-4b67-8a61-dbee9c8df5b3","name":"dadosAPI","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,208],"id":"e9fe4e4b-d9b5-4f00-ac94-fee371929286","name":"loopPaginas"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,464],"id":"3b67f835-ba92-49b8-b0f1-ac359b495d97","name":"loopPaginas1"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{ \n(() => {\n  const hoje = new Date();\n  const ano = hoje.getFullYear();\n  const mes = hoje.getMonth();\n  // Criar data do dia 0 do mês seguinte → último dia do mês atual\n  return new Date(ano, mes + 1, 0).getDate();\n})\n() }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,464],"id":"2fc571dc-c796-4b8a-ac37-ab66d40412a9","name":"dadosAPIMes","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-176,464],"id":"a32d2f3d-9347-4733-93c1-8a8efb176753","name":"splitDiasMes","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPIMes').item.json.numero_paginas}, (_, i) => ({\"counter\": i+1})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,464],"id":"825be4ef-8ff1-4edf-b742-752376624a4d","name":"dadosLoopMes","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":"={{ \n  [1, 5, 10, 15, 20, 25, 26, 30].includes($('loopPaginas1').item.json.pagina.counter) \n  ? 100 \n  : 500 \n}}","type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"dia","value":"={{ $('loopPaginas1').item.json.pagina.counter }}","type":"number"},{"id":"d4679afa-64cf-44e0-8d08-f6ce504f45b1","name":"data","value":"={{ \n(() => {\n  const dia = $('loopPaginas1').item.json.pagina.counter ; // <-- aqui vai o número do dia desejado\n  const hoje = new Date();\n  const data = new Date(hoje.getFullYear(), hoje.getMonth(), dia);\n  const dd = String(data.getDate()).padStart(2, '0');\n  const mm = String(data.getMonth() + 1).padStart(2, '0');\n  const yyyy = data.getFullYear();\n  return `${dd}/${mm}/${yyyy}`;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,464],"id":"ec93f74d-bc7c-414b-b781-6c0db8e5a961","name":"dadosDiasMes","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPI').item.json.numero_paginas}, (_, i) => ({\"counter\": i})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,208],"id":"fd732f92-2728-44b5-9275-134f80b06455","name":"dadosLoop","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-224,208],"id":"9daa2525-81fd-480c-aa75-e080da91da42","name":"splitPaginas","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"bXiO5bfH53DNcKZL","mode":"list","cachedResultUrl":"/workflow/bXiO5bfH53DNcKZL","cachedResultName":"SUB_ERP_POPULAR_BOLETOS_DIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosPaginas').item.json.quantidadePagina }}","pagina":"={{ $('dadosPaginas').item.json.pagina }}","token":"={{ $('buscaTokenBD').item.json['descricaoDominio'] }}","dtVencimentoInicial":"={{ $('dadosDatas').item.json.dtVencimentoInicial }}","dtVencimentoFinal":"={{ $('dadosDatas').item.json.dtVencimentoFinal }}"},"matchingColumns":[],"schema":[{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"pagina","displayName":"pagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[480,208],"id":"c456efd4-a69c-41e7-ad0a-78a562f8a017","name":"Call 'SUB_ERP_POPULAR_BOLETOS'","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"Rnq3NIE0dV7902vT","mode":"list","cachedResultUrl":"/workflow/Rnq3NIE0dV7902vT","cachedResultName":"SUB_POPULA_TOP_BOLETOS_MENSAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosDiasMes').item.json.quantidadePagina }}","dtVencimentoInicial":"={{ $('dadosDiasMes').item.json.data }}","dtVencimentoFinal":"={{ $('dadosDiasMes').item.json.data }}"},"matchingColumns":[],"schema":[{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[480,464],"id":"7f6a807b-8155-4251-8a3c-d6cc9b362460","name":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06399698-02b2-45f7-a63e-69cab35d9dc9","leftValue":"={{ !$('Webhook').item.json.query || Object.keys($('Webhook').item.json.query).length === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,-16],"id":"b2dff629-b51c-4bf3-9fbf-7b7b8e16bfdf","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,736],"id":"70ea6aca-2082-4a0f-97d4-7e169cc31210","name":"loopPaginas2"},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"numero_paginas","value":"={{\n(() => {\n  // Pegando a data no formato DD/MM/YYYY\n  const dataStr = $('Webhook').item.json.query.dataVInicial;\n\n  // Separando os elementos da data\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n\n  // Criando data usando padrão JS (ano, mês-1, dia)\n  const dt = new Date(ano, mes - 1, dia);\n\n  // Pegando a quantidade de dias do mês:\n  // → new Date(ano, mes, 0) retorna o último dia do mês escolhido\n  const diasMes = new Date(ano, mes, 0).getDate();\n\n  return diasMes;\n})()\n}}","type":"number"},{"id":"45934293-dcf2-4561-bf74-0233db438652","name":"mes","value":"={{\n(() => {\n  const dataStr = $('Webhook').item.json.query.dataVInicial;\n\n  // Divide DD/MM/YYYY\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n\n  return mes; // Retorna apenas o mês\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,736],"id":"a69ca86a-e1ba-4c72-9734-612ad604e93d","name":"dadosAPIMes1","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"fieldToSplitOut":"totpaginas","options":{"destinationFieldName":"pagina"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,736],"id":"522f107f-6553-4706-8a16-51ad9759cabb","name":"splitDiasMes1","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"22ea84ea-02d0-461b-805e-604a7ae11814","name":"totpaginas","value":"={{ Array.from({length: $('dadosAPIMes1').item.json.numero_paginas}, (_, i) => ({\"counter\": i+1})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,736],"id":"42da859f-3121-442b-87b3-e810a25a2124","name":"dadosLoopMes1","notes":"{{ ('0' + 1).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}\n\n{{ ('0' + new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate()).slice(-2) + '/' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '/' + new Date().getFullYear() }}"},{"parameters":{"assignments":{"assignments":[{"id":"4f98bfdb-bf33-4568-93cd-17caa7af1eac","name":"quantidadePagina","value":"={{ \n  [1, 5, 10, 15, 20, 25, 26, 30].includes($('loopPaginas2').item.json.pagina.counter) \n  ? 100 \n  : 500 \n}}","type":"number"},{"id":"7da3ae77-c98b-4e88-acc2-764b9430c6bc","name":"dia","value":"={{ $('loopPaginas2').item.json.pagina.counter }}","type":"number"},{"id":"d4679afa-64cf-44e0-8d08-f6ce504f45b1","name":"data","value":"={{ \n(() => {\n  const dia = $('loopPaginas2').item.json.pagina.counter ; // <-- aqui vai o número do dia desejado\n  const hoje = new Date();\n  const data = new Date(hoje.getFullYear(), $('dadosAPIMes1').item.json.mes, dia);\n  const dd = String(data.getDate()).padStart(2, '0');\n  const mm = String(data.getMonth()).padStart(2, '0');\n  const yyyy = data.getFullYear();\n  return `${dd}/${mm}/${yyyy}`;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,736],"id":"55a57a5e-4e72-45e4-8712-33fcfc17be12","name":"dadosDiasMes1","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"Rnq3NIE0dV7902vT","mode":"list","cachedResultUrl":"/workflow/Rnq3NIE0dV7902vT","cachedResultName":"SUB_POPULA_TOP_BOLETOS_MENSAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"quantidadePagina":"={{ $('dadosDiasMes1').item.json.quantidadePagina }}","dtVencimentoInicial":"={{ $('dadosDiasMes1').item.json.data }}","dtVencimentoFinal":"={{ $('dadosDiasMes1').item.json.data }}"},"matchingColumns":[],"schema":[{"id":"dtVencimentoInicial","displayName":"dtVencimentoInicial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dtVencimentoFinal","displayName":"dtVencimentoFinal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"quantidadePagina","displayName":"quantidadePagina","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[464,736],"id":"e1104d43-be89-44ab-a597-24bd4bc0c9a1","name":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"dadosAPIMes1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"dadosAPI","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"buscaTokenBD","type":"main","index":0}]]},"buscaTokenBD":{"main":[[{"node":"buscaQuantPaginas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"dadosAPIMes1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"dadosAPIMes","type":"main","index":0}]]},"dadosPaginas":{"main":[[{"node":"Call 'SUB_ERP_POPULAR_BOLETOS'","type":"main","index":0}]]},"dadosDatas":{"main":[[]]},"buscaQuantPaginas":{"main":[[{"node":"If2","type":"main","index":0}]]},"dadosAPI":{"main":[[{"node":"dadosLoop","type":"main","index":0}]]},"loopPaginas":{"main":[[],[{"node":"dadosPaginas","type":"main","index":0}]]},"loopPaginas1":{"main":[[],[{"node":"dadosDiasMes","type":"main","index":0}]]},"dadosAPIMes":{"main":[[{"node":"dadosLoopMes","type":"main","index":0}]]},"splitDiasMes":{"main":[[{"node":"loopPaginas1","type":"main","index":0}]]},"dadosLoopMes":{"main":[[{"node":"splitDiasMes","type":"main","index":0}]]},"dadosDiasMes":{"main":[[{"node":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'","type":"main","index":0}]]},"dadosLoop":{"main":[[{"node":"splitPaginas","type":"main","index":0}]]},"splitPaginas":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"Call 'SUB_ERP_POPULAR_BOLETOS'":{"main":[[{"node":"loopPaginas","type":"main","index":0}]]},"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'":{"main":[[{"node":"loopPaginas1","type":"main","index":0}]]},"If":{"main":[[{"node":"dadosDatas","type":"main","index":0}]]},"loopPaginas2":{"main":[[],[{"node":"dadosDiasMes1","type":"main","index":0}]]},"dadosAPIMes1":{"main":[[{"node":"dadosLoopMes1","type":"main","index":0}]]},"splitDiasMes1":{"main":[[{"node":"loopPaginas2","type":"main","index":0}]]},"dadosLoopMes1":{"main":[[{"node":"splitDiasMes1","type":"main","index":0}]]},"dadosDiasMes1":{"main":[[{"node":"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'1","type":"main","index":0}]]},"Call 'SUB_POPULA_TOP_BOLETOS_MENSAL'1":{"main":[[{"node":"loopPaginas2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TfwD6eX8vHLcjYJt"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"756126cd-b26a-44bf-beff-354117549e7e","triggerCount":2,"shared":[{"createdAt":"2025-11-14T12:38:46.031Z","updatedAt":"2025-11-14T12:38:46.031Z","role":"workflow:owner","workflowId":"xE6dt4CQyKAsLLWY","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[{"createdAt":"2025-09-24T20:09:10.216Z","updatedAt":"2025-09-24T20:09:10.216Z","id":"unxeE4bOTKE0sCc3","name":"BI"},{"createdAt":"2025-10-31T20:57:24.413Z","updatedAt":"2025-10-31T20:57:24.413Z","id":"XBzzNcD65NDClpM2","name":"20:00"}]}