wh_pluri_testes-tCOArRhRYInfkxFb.json
{"createdAt":"2026-02-09T14:41:35.609Z","updatedAt":"2026-02-09T19:16:27.435Z","id":"tCOArRhRYInfkxFb","name":"WH_PLURI_TESTES","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,160],"id":"f7d9ea76-4dfd-4323-a91d-01687b58905f","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,160],"id":"68b47eb1-9cd8-47ae-8d34-d6f6b3a45d9d","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"849ba6dd-e93e-4041-8c11-9c22867e01bb","name":"token","value":"bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0=","type":"string"},{"id":"9a59a223-a525-4efb-b4ba-2c5f9de8eda0","name":"numero","value":"5531992240123","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,160],"id":"9a3c3ebf-0fd2-4559-bbbb-c576642aaf43","name":"whDados"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"=bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0="},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"setClickToCall"},{"name":"vRamal","value":"=108"},{"name":"vTelefone","value":"31992240123"},{"name":"vContexto","value":"teste_automacao"},{"name":"v1","value":"GUSTAVO TITONELI"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-32],"id":"8cc2a40e-227a-49b2-b188-f90b29ed1c88","name":"clicktoCall"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"getRetLigSainte"},{"name":"vDataInicio","value":"03/02/2026 00:00:00"},{"name":"vDataFim","value":"03/02/2026 23:59:59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-32],"id":"0f69b5d1-0d80-4ffe-becd-f35f4ef866f3","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"getRetCampanha"},{"name":"vDataInicio","value":"03/02/2026 00:00:00"},{"name":"vDataFim","value":"03/02/2026 23:59:59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-32],"id":"f24b7857-fea2-4d4f-a781-9f7fe4b5b45e","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"CRM"},{"name":"vMetodo","value":"Pessoas"},{"name":"vAct","value":"getRetLogLogin"},{"name":"vStatus","value":"logado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,160],"id":"e5654504-f26b-4832-a9b3-d86295894494","name":"buscaLogados"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,160],"id":"a830ea02-704a-4c41-b9d1-ec39dff21673","name":"Code in JavaScript1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Mailing"},{"name":"vAct","value":"getMailing"},{"name":"vIdCampanha","value":"=60"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,352],"id":"cd85c0cf-6b61-4333-9e5e-a17b0c84e9cb","name":"listarMailings1"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,352],"id":"905ebd65-cfc3-47e4-bcf0-66004a9b3b76","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Campanha"},{"name":"vAct","value":"getCampanha"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,160],"id":"dc9b8fda-7dbf-4084-b660-76f4788eb865","name":"listarCampanhas"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,560],"id":"bae62e2d-aa03-4b81-b788-e3014ea94aa8","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"getRetCampanha"},{"name":"vDataInicio","value":"={{ new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) + ' 00:00:00' }}\n"},{"name":"vDataFim","value":"={{ new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) + ' 23:59:59' }}"},{"name":"vCampanha","value":"={{ $json.id_campanha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,752],"id":"1e88ab9f-ac60-4555-b73c-8712b3537efd","name":"listarRegistrosMailings1"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,752],"id":"b333ed55-d783-47dd-bf80-8e89fa1e8249","name":"Code in JavaScript4"},{"parameters":{"multipleMethods":true,"path":"fe50b35e-0868-4bf9-adb1-cbee02f2edcf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,336],"id":"f762b1e1-c063-490f-a368-cc6f74941d80","name":"Webhook","webhookId":"fe50b35e-0868-4bf9-adb1-cbee02f2edcf"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,336],"id":"3441e48c-75b2-4e10-9645-538106ab3fb0","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Mailing"},{"name":"vAct","value":"insRegistroMailing"},{"name":"vIdCampanha","value":"={{ $json.id_campanha }}"},{"name":"vEnableInsContact","value":"1"},{"name":"v_nome","value":"TESTE"},{"name":"v_tel1","value":"={{ $('whDados').item.json.numero }}"},{"name":"v_uf","value":"MG"},{"name":"v_v1","value":"origem_n8n"},{"name":"v_v2","value":"rastreadores"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,352],"id":"57be4e98-006c-4c9a-9fbd-9b9a1803d4fa","name":"insereRegistroMailing"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Mailing"},{"name":"vAct","value":"listRegInsMailing"},{"name":"vIdCampanha","value":"={{ $json.id_campanha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,560],"id":"da55216f-cd6e-4d1d-b818-af56c050270b","name":"listarRegistrosMailings"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"whDados","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"buscaLogados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"listarMailings1","type":"main","index":0}]]},"clicktoCall":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]},"buscaLogados":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"listarMailings1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"insereRegistroMailing","type":"main","index":0}]]},"listarCampanhas":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"listarRegistrosMailings1":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"whDados","type":"main","index":0}]]},"listarRegistrosMailings":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.n8ncp.topbrtech.com.br","user-agent":"GuzzleHttp/7","content-length":"299","baggage":"sentry-trace_id=b74a7597a3b948fda7b970a3924cc279,sentry-sample_rate=0.001,sentry-public_key=25deef36e7107ec68460d749bb231c06,sentry-release=1,sentry-environment=production","content-type":"application/json","sentry-trace":"b74a7597a3b948fda7b970a3924cc279-5f1aa2220cbb4134","traceparent":"00-b74a7597a3b948fda7b970a3924cc279-5f1aa2220cbb4134-00","x-forwarded-for":"10.0.0.2","x-forwarded-host":"webhook.n8ncp.topbrtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"anw-ecs-automacao-traefik_v3_traefik_v3-1","x-real-ip":"10.0.0.2","accept-encoding":"gzip"},"params":{},"query":{},"body":{"vToken":"bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0=","vApp":"Telecom","vMetodo":"Mailing","vAct":"insRegistroMailing","vIdCampanha":"60","vEnableInsContact":"1","v_nome":"GUSTAVO TESTE 3 P1","v_tel1":"553192240123","v_v1":"ezchat - fluxo ligacao pluri","v_v2":"rastreadores"},"webhookUrl":"https://webhook.n8ncp.topbrtech.com.br/webhook/3c8c8eab-ff07-42bc-8346-8c2715ba71fe","executionMode":"production"}}],"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"webhook.n8ncp.topbrtech.com.br","user-agent":"GuzzleHttp/7","content-length":"299","baggage":"sentry-trace_id=b74a7597a3b948fda7b970a3924cc279,sentry-sample_rate=0.001,sentry-public_key=25deef36e7107ec68460d749bb231c06,sentry-release=1,sentry-environment=production","content-type":"application/json","sentry-trace":"b74a7597a3b948fda7b970a3924cc279-5f1aa2220cbb4134","traceparent":"00-b74a7597a3b948fda7b970a3924cc279-5f1aa2220cbb4134-00","x-forwarded-for":"10.0.0.2","x-forwarded-host":"webhook.n8ncp.topbrtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"anw-ecs-automacao-traefik_v3_traefik_v3-1","x-real-ip":"10.0.0.2","accept-encoding":"gzip"},"params":{},"query":{},"body":{"vToken":"bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0=","vApp":"Telecom","vMetodo":"Mailing","vAct":"insRegistroMailing","vIdCampanha":"60","vEnableInsContact":"1","v_nome":"GUSTAVO TESTE 3 P1","v_tel1":"5531971800557","v_v1":"ezchat - fluxo ligacao pluri","v_v2":"rastreadores"},"webhookUrl":"https://webhook.n8ncp.topbrtech.com.br/webhook/3c8c8eab-ff07-42bc-8346-8c2715ba71fe","executionMode":"production"}}]},"versionId":"2f564d40-eb16-4aaa-8824-ed0f57fee60a","triggerCount":1,"shared":[{"createdAt":"2026-02-09T14:41:35.609Z","updatedAt":"2026-02-09T14:41:35.609Z","role":"workflow:owner","workflowId":"tCOArRhRYInfkxFb","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}