wh_pluri_agendamentos-WInr1cuR9UTu2i59.json
{"createdAt":"2026-02-03T13:16:39.053Z","updatedAt":"2026-02-09T19:16:15.370Z","id":"WInr1cuR9UTu2i59","name":"WH_PLURI_AGENDAMENTOS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,160],"id":"abf06c25-4b8d-4486-9943-b44a164e216c","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,160],"id":"e3896661-a4ee-48e0-8d93-ad6c49e337dd","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"849ba6dd-e93e-4041-8c11-9c22867e01bb","name":"token","value":"bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0=","type":"string"},{"id":"9a59a223-a525-4efb-b4ba-2c5f9de8eda0","name":"numero","value":"={{\n  $json.body.v_tel1.length === 12\n    ? $json.body.v_tel1.replace(\n        /^(\\d{2})(\\d{2})(\\d{8})$/,\n        '$1$2' + '9' + '$3'\n      )\n    : $json.body.v_tel1\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,160],"id":"ad239d3b-6248-4742-9d44-afffeccc5a5e","name":"whDados"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"=bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0="},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"setClickToCall"},{"name":"vRamal","value":"=108"},{"name":"vTelefone","value":"31992240123"},{"name":"vContexto","value":"teste_automacao"},{"name":"v1","value":"GUSTAVO TITONELI"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-32],"id":"ee77d4f1-0d94-4dc7-bb20-ff1b9ea1e0d8","name":"clicktoCall"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"getRetLigSainte"},{"name":"vDataInicio","value":"03/02/2026 00:00:00"},{"name":"vDataFim","value":"03/02/2026 23:59:59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-32],"id":"3d953f1e-8298-45ad-8857-42ba00f01be2","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"getRetCampanha"},{"name":"vDataInicio","value":"03/02/2026 00:00:00"},{"name":"vDataFim","value":"03/02/2026 23:59:59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-32],"id":"d9129c1c-2f7e-45b0-ba6f-870f8e351fb7","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"CRM"},{"name":"vMetodo","value":"Pessoas"},{"name":"vAct","value":"getRetLogLogin"},{"name":"vStatus","value":"logado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,160],"id":"e8261775-e600-4214-9025-fd8978ff3ab3","name":"buscaLogados"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,160],"id":"266b1d8f-476c-407c-8102-db881f1f705d","name":"Code in JavaScript1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Mailing"},{"name":"vAct","value":"getMailing"},{"name":"vIdCampanha","value":"=60"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,352],"id":"d714ab01-5893-41c8-a696-3bd4ddb0dbc0","name":"listarMailings1"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,352],"id":"6299757b-10a6-430d-aae0-88fad5aa3247","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Campanha"},{"name":"vAct","value":"getCampanha"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,160],"id":"6d5e03d8-aa4d-4dbf-ac64-b7851c860f58","name":"listarCampanhas"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Mailing"},{"name":"vAct","value":"listRegInsMailing"},{"name":"vIdCampanha","value":"={{ $json.id_campanha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,560],"id":"e9167c30-c7f2-45db-a811-f89edca90253","name":"listarRegistrosMailings"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,560],"id":"e4d14263-f419-4888-8beb-edac76bbadfc","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Chamada"},{"name":"vAct","value":"getRetCampanha"},{"name":"vDataInicio","value":"={{ new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) + ' 00:00:00' }}\n"},{"name":"vDataFim","value":"={{ new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' }) + ' 23:59:59' }}"},{"name":"vCampanha","value":"={{ $json.id_campanha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,752],"id":"fcacbef4-cdc8-4ca3-b342-02c50e1af655","name":"listarRegistrosMailings1"},{"parameters":{"jsCode":"const raw = JSON.parse(items[0].json.data);\n\n// transforma \"dados\" (objeto indexado por ID)\n// em array normal\nconst campanhas = Object.values(raw.dados);\n\nreturn campanhas.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,752],"id":"18558252-357d-42ba-bcdc-48b967a73b17","name":"Code in JavaScript4"},{"parameters":{"multipleMethods":true,"path":"3c8c8eab-ff07-42bc-8346-8c2715ba71fe","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,336],"id":"a91c5759-9960-4e11-b032-703c291c0fda","name":"Webhook","webhookId":"3c8c8eab-ff07-42bc-8346-8c2715ba71fe"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,336],"id":"34622fe8-fb40-45e7-9d2e-477e033eb60a","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"https://topbrasil.acessocloud.com/ws/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"vToken","value":"={{ $('whDados').item.json.token }}"},{"name":"vApp","value":"Telecom"},{"name":"vMetodo","value":"Mailing"},{"name":"vAct","value":"insRegistroMailing"},{"name":"vIdCampanha","value":"={{ $json.id_campanha }}"},{"name":"vEnableInsContact","value":"1"},{"name":"v_nome","value":"TESTE"},{"name":"v_tel1","value":"={{ $('whDados').item.json.numero }}"},{"name":"v_uf","value":"MG"},{"name":"v_v1","value":"origem_n8n"},{"name":"v_v2","value":"rastreadores"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,352],"id":"dedf8f85-2bd8-4339-8189-8ad663cf2eeb","name":"insereRegistroMailing"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"whDados","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"buscaLogados","type":"main","index":0}]]},"whDados":{"main":[[{"node":"listarCampanhas","type":"main","index":0},{"node":"listarMailings1","type":"main","index":0}]]},"clicktoCall":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]},"buscaLogados":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"listarMailings1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"listarRegistrosMailings","type":"main","index":0},{"node":"listarRegistrosMailings1","type":"main","index":0},{"node":"insereRegistroMailing","type":"main","index":0}]]},"listarCampanhas":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"listarRegistrosMailings":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"listarRegistrosMailings1":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"whDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.n8ncp.topbrtech.com.br","user-agent":"GuzzleHttp/7","content-length":"299","baggage":"sentry-trace_id=b74a7597a3b948fda7b970a3924cc279,sentry-sample_rate=0.001,sentry-public_key=25deef36e7107ec68460d749bb231c06,sentry-release=1,sentry-environment=production","content-type":"application/json","sentry-trace":"b74a7597a3b948fda7b970a3924cc279-5f1aa2220cbb4134","traceparent":"00-b74a7597a3b948fda7b970a3924cc279-5f1aa2220cbb4134-00","x-forwarded-for":"10.0.0.2","x-forwarded-host":"webhook.n8ncp.topbrtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"anw-ecs-automacao-traefik_v3_traefik_v3-1","x-real-ip":"10.0.0.2","accept-encoding":"gzip"},"params":{},"query":{},"body":{"vToken":"bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0=","vApp":"Telecom","vMetodo":"Mailing","vAct":"insRegistroMailing","vIdCampanha":"60","vEnableInsContact":"1","v_nome":"GUSTAVO TESTE 3 P1","v_tel1":"553192240123","v_v1":"ezchat - fluxo ligacao pluri","v_v2":"rastreadores"},"webhookUrl":"https://webhook.n8ncp.topbrtech.com.br/webhook/3c8c8eab-ff07-42bc-8346-8c2715ba71fe","executionMode":"production"}}],"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"webhook.n8ncp.topbrtech.com.br","user-agent":"GuzzleHttp/7","content-length":"297","baggage":"sentry-trace_id=b9e19f140c7a440ebd1d0632f76a5e0f,sentry-sample_rate=0.001,sentry-public_key=25deef36e7107ec68460d749bb231c06,sentry-release=1,sentry-environment=production","content-type":"application/json","sentry-trace":"b9e19f140c7a440ebd1d0632f76a5e0f-368ef05dc5664fbc","traceparent":"00-b9e19f140c7a440ebd1d0632f76a5e0f-368ef05dc5664fbc-00","x-forwarded-for":"10.0.0.2","x-forwarded-host":"webhook.n8ncp.topbrtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"anw-ecs-automacao-traefik_v3_traefik_v3-1","x-real-ip":"10.0.0.2","accept-encoding":"gzip"},"params":{},"query":{},"body":{"vToken":"bktZQURFfewfVTdxazZYWHI2MTVrT2dKMjlkR1Y3ZXZ1cW1McSswemRUb3JNdz0=","vApp":"Telecom","vMetodo":"Mailing","vAct":"insRegistroMailing","vIdCampanha":"60","vEnableInsContact":"1","v_nome":"ELISANGELA MARIA","v_tel1":"553186604669","v_v1":"ezchat - fluxo ligacao pluri","v_v2":"rastreadores"},"webhookUrl":"https://webhook.n8ncp.topbrtech.com.br/webhook/3c8c8eab-ff07-42bc-8346-8c2715ba71fe","executionMode":"production"}}]},"versionId":"19b34b3c-69e2-4f60-a7b4-0327f190f2eb","triggerCount":1,"shared":[{"createdAt":"2026-02-03T13:16:39.053Z","updatedAt":"2026-02-03T13:16:39.053Z","role":"workflow:owner","workflowId":"WInr1cuR9UTu2i59","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}