wh_teste_ezchat-fJSbRMsKYHbqnCRI.json
{"createdAt":"2025-12-05T18:45:26.989Z","updatedAt":"2026-02-04T15:34:33.598Z","id":"fJSbRMsKYHbqnCRI","name":"WH_TESTE_EZCHAT","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"ezchat_resposta_tpv","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,-16],"id":"2a56a7c7-87fb-414c-81c0-cc31a04acd45","name":"Webhook","webhookId":"9bd21bf3-69d5-45f6-bdcc-a44a8f834b0d"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,-16],"id":"462b9233-cf92-4396-bed4-602c70d739f4","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,176],"id":"4705846e-b1d8-4ebe-a103-15ef8e7612e3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGATPV"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,176],"id":"ad93fee1-9602-4919-99f7-f12b542d9422","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"method":"POST","url":"=https://api.hinova.com.br/api/sga/v2/veiculo/alterar-situacao-para","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json.descricaoDominio }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"codigo_situacao\": 1,\n\t\"codigo_veiculo\": {{ $('buscaVeiculo').item.json.body[0].codigo_veiculo }},\n\t\"observacao\": \"AUTOMAÇÃO\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"9ef5d05b-a504-46cf-8898-93239a2c89e2","name":"alterarVeiculoSIM","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[144,560],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3c920d75-aaea-46f0-b73c-3590de62ebd0","leftValue":"={{ $json.body[0].descricao_situacao }}","rightValue":"ATIVO","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,560],"id":"f1c251a6-bf5a-4270-abb0-b4d4408324c0","name":"If5"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{ $json.plate }}/placa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"67e91a2f-d38c-451d-ab53-945fd4264c64","name":"buscaVeiculo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,368],"continueOnFail":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,368],"id":"8a747046-be8a-4c8c-8504-6665b4f2af52","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"select * \nfrom crm_tpv_posvenda\nwhere tpv_resposta = true\n  and dom_sit_veiculo IN ('ATIVO - PENDENTE TPV')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,176],"id":"56e15686-2e85-4c1e-85f2-59fb4c6a8bd2","name":"buscaTPV","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET dom_sit_veiculo = $2\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"{{ $json.body[0].placa }}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"={{ $('buscaVeiculo').item.json.body[0].descricao_situacao }}\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,768],"id":"6f11990c-f646-409b-a50e-82772e569f66","name":"updSitVeiculoTPV","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE crm_tpv_posvenda\nSET dom_sit_veiculo = $2\nWHERE plate = $1;","options":{"queryReplacement":"=[\n  {\n    \"name\": \"1\",\n    \"value\": \"{{ $json.body[0].placa }}\"\n  },\n  {\n    \"name\": \"2\",\n    \"value\": \"ATIVO\"\n  }\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,560],"id":"379c418f-3e24-482d-8e3a-330161caae3e","name":"updSitVeiculoTPVAtivo","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Ph2RnhkaunVC4Tqh","name":"postgresBD_ERP_TOP"}},"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"buscaToken","type":"main","index":0}]]},"If5":{"main":[[{"node":"alterarVeiculoSIM","type":"main","index":0}],[{"node":"updSitVeiculoTPV","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"buscaTPV","type":"main","index":0}]]},"buscaVeiculo":{"main":[[{"node":"If5","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"buscaVeiculo","type":"main","index":0}]]},"alterarVeiculoSIM":{"main":[[{"node":"updSitVeiculoTPVAtivo","type":"main","index":0}]]},"buscaTPV":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"updSitVeiculoTPV":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"updSitVeiculoTPVAtivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c2c84ac2-b548-451f-85b2-fe7ea0ccc79f","triggerCount":1,"shared":[{"createdAt":"2025-12-05T18:45:26.989Z","updatedAt":"2025-12-05T18:45:26.989Z","role":"workflow:owner","workflowId":"fJSbRMsKYHbqnCRI","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}