wh_webassist_atendimento-iaZykwt8a38A7Nbh.json
{"createdAt":"2025-08-05T18:01:59.381Z","updatedAt":"2025-10-27T22:22:30.919Z","id":"iaZykwt8a38A7Nbh","name":"WH_WEBASSIST_ATENDIMENTO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webassist_novo_atendimento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-448,-16],"id":"b76fcbb1-7bea-42c8-84d6-f3b441e3d0c8","name":"Webhook","webhookId":"dcbb07d5-0fe0-4524-af2c-2362b1f40e8d"},{"parameters":{"assignments":{"assignments":[{"id":"a1f80701-6cb2-49af-9719-b54c0ad078a8","name":"dtTopWebAssist","value":"={{ $now }}","type":"string"},{"id":"1af2ae4f-6c13-48ed-9101-87d91a638dbe","name":"protocolo-atendimento","value":"={{ $('Webhook').item.json.body[\"protocolo-atendimento\"] }}","type":"string"},{"id":"2b0d8e60-208e-46c2-a7ed-a500177bcd49","name":"data-atendimento","value":"={{ $('Webhook').item.json.body[\"data-atendimento\"] }}","type":"string"},{"id":"779672e8-616d-4ecd-9da4-fe1b586b90c7","name":"motivo-atendimento","value":"={{ $('Webhook').item.json.body[\"motivo-atendimento\"] }}","type":"string"},{"id":"544a9152-6dc2-4a8d-8fec-04380350abc6","name":"placa","value":"={{ $('Webhook').item.json.body.placa }}","type":"string"},{"id":"1f7cd8d4-e3ca-419d-8346-9f0af281a458","name":"nomeBeneficiario","value":"={{ $('Webhook').item.json.body.nomeBeneficiario }}","type":"string"},{"id":"0c3614af-59ef-4543-a39b-e08501a0eab2","name":"celularSolicitante","value":"={{ $('Webhook').item.json.body.celularSolicitante }}","type":"string"},{"id":"d977cf9c-b4a5-425a-9de0-e9986b50f730","name":"celularBeneficiario","value":"={{ $('Webhook').item.json.body.celularBeneficiario }}","type":"string"},{"id":"e9f030d9-6eba-4264-8a43-3efa777e6cbd","name":"celularCliente","value":"={{ $('Webhook').item.json.body.celularCliente }}","type":"string"},{"id":"3844e066-111d-4aa5-bb56-773969dad265","name":"atendente","value":"={{ $('Webhook').item.json.body.atendente }}","type":"string"},{"id":"eb326c9f-ccb2-4cfa-b6d8-c35e8704ef55","name":"=tipoDispario","value":"={{ $('Webhook').item.json.body.tipoDispario }}","type":"string"},{"id":"9ae7be01-8fe2-40a0-9e11-846e9bc494d9","name":"situacao","value":"={{ $('Webhook').item.json.body.situacao }}","type":"string"},{"id":"97197f13-5cb7-49bf-82b7-fd7ac9036128","name":"montadora","value":"={{ $('Webhook').item.json.body.montadora }}","type":"string"},{"id":"a004bd5d-121c-4616-ac61-ffe87535b9f3","name":"modelo","value":"={{ $('Webhook').item.json.body.modelo }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-16],"id":"071203f1-2d1d-4462-a5d1-49f040383420","name":"whDados"},{"parameters":{"tableId":"topWebAssist","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,-208],"id":"d57a6503-a892-4bc8-a58d-18cd7694a49e","name":"addColisao","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"tableId":"topWebAssist","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,-16],"id":"11de4959-dd18-4ccf-a49d-774a10510190","name":"addRoubo","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json[\"motivo-atendimento\"] }}","rightValue":"ACIDENTE / COLISAO / INCENDIO","operator":{"type":"string","operation":"equals"},"id":"79a604da-42f8-4986-a9fb-69e9abd09222"}],"combinator":"and"},"renameOutput":true,"outputKey":"COLISAO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"72898412-b789-4e7a-aad8-a48ce493f5d7","leftValue":"={{ $('whDados').item.json[\"motivo-atendimento\"] }}","rightValue":"FURTO / ROUBO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ROUBO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5e6fb0ab-2dbc-4eeb-beec-bc3b0f4adaf5","leftValue":"={{ $('whDados').item.json[\"motivo-atendimento\"] }}","rightValue":"VIDROS E PERIFERICOS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"VIDROS"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[416,-32],"id":"c0246988-350b-49e1-b72f-1cf0e7d4c82c","name":"tipoAtendimento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('whDados').item.json[\"situacao\"] }}","rightValue":"COMUNICADO","operator":{"type":"string","operation":"equals"},"id":"79a604da-42f8-4986-a9fb-69e9abd09222"}],"combinator":"and"},"renameOutput":true,"outputKey":"COMUNICADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72898412-b789-4e7a-aad8-a48ce493f5d7","leftValue":"={{ $('whDados').item.json[\"situacao\"] }}","rightValue":"CONCLUIDO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONCLUIDO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[192,-16],"id":"3f0076b7-70f3-4a19-a33c-5bf6a1d3746f","name":"situacaoAtendimento"},{"parameters":{"tableId":"topWebAssist","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,176],"id":"67c2f26a-b7b1-4703-a8da-057268f16f3c","name":"addVidros","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,-208],"id":"7752f025-ff9c-4acd-b134-adfb5496550b","name":"Wait","webhookId":"22d7181b-6d99-4577-97d9-9e35d017d8aa"},{"parameters":{"assignments":{"assignments":[{"id":"7e9aa84f-697c-4d4a-9726-98fa8eccd568","name":"mensagem","value":"mensagem","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,-16],"id":"033d0c0d-b655-4943-8762-48d9917adee9","name":"setMensagem","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1760,-208],"id":"c16ebc97-be3f-4a45-b54d-5e00047e9f21","name":"No Operation, do nothing1"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{ $('whDados').item.json.placa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"625858f9-cca9-412f-a21b-65b1b5dc0908","name":"BUSCA_PLACA_SGA","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1312,80],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b940bb89-2c97-479d-9baf-b3229c120069","leftValue":"={{ $('BUSCA_PLACA_SGA').item.json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,80],"id":"493ee135-1c64-4cca-8bd1-2ad5c442621e","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"N0Mpj3nRD1QnF7VH","mode":"list","cachedResultName":"WF_ATUALIZA_TOKEN_SGA"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"base","displayName":"base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1760,272],"id":"9c51af35-f410-4949-b446-6daffdd5f04d","name":"Execute Workflow","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/veiculo/buscar/{{ $('whDados').item.json.placa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('buscaTokenAtualizado').item.json['descricaoDominio'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"53dd61ab-2396-4866-8cda-77b9e269700c","name":"BUSCA_PLACA_SGA_TK","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2208,272],"continueOnFail":true},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1088,80],"id":"af368d7b-80b0-4a9e-a08f-f9f92a4a437b","name":"buscaToken","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"operation":"get","tableId":"corDominio","filters":{"conditions":[{"keyName":"idDominio","keyValue":"domTokenSGA"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1984,272],"id":"8f8dde77-d4b3-4854-b090-7f38d3dc7803","name":"buscaTokenAtualizado","credentials":{"supabaseApi":{"id":"S5lx7Z0EUntC6pYv","name":"Cotacao"}}},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/voluntario/{{$('setDadosAtualizados').item.json.codConsultor}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('setDadosAtualizados').item.json['tokenSGA'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"930a6450-01d7-4d14-bee1-df4fa8117a14","name":"buscaSGAConsultor","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1984,-16],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"f8784c67-1a85-46fe-b26f-0ff74c5b8e89","name":"nomeConsultor","value":"={{ $json.body?.[0]?.nome_voluntario }}","type":"string"},{"id":"5cd096f7-42f5-487f-b2b6-bdaa3bb1d67f","name":"codConsultor","value":"={{ $json.body?.[0]?.codigo_voluntario }}","type":"string"},{"id":"fd84eba9-32a4-49da-84f1-4e789174f9e5","name":"","value":"","type":"string"},{"id":"b2d4438d-bb9e-426f-8c55-db42ea225b9d","name":"tokenSGA","value":"={{ $('buscaToken').item.json['descricaoDominio'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,-16],"id":"b7b0befc-3594-49df-b45c-2b4d54981331","name":"setDadosAtualizados"},{"parameters":{"assignments":{"assignments":[{"id":"bc0b0bb5-676d-4222-afc4-c8c523802a11","name":"nome","value":"={{ $json.body?.[0]?.nome }}","type":"string"},{"id":"f80ce4d2-d350-4337-9722-54bc9ac0b06a","name":"celular","value":"={{ $json.body?.[0]?.celular }}","type":"string"},{"id":"00eb2d22-b36e-459b-8636-26e1cb63b4cc","name":"email","value":"={{ $json.body?.[0]?.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,-16],"id":"c69dc38d-a2b0-4ba2-99a1-878c10943db5","name":"dadosSGAVoluntario"},{"parameters":{"url":"=https://api.hinova.com.br/api/sga/v2/buscar/voluntario/{{$('setDadosRenovados').item.json.codConsultor}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $('setDadosRenovados').item.json['tokenSGA'] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"8ddf47a1-0c34-4702-b5bb-be43aa58117f","name":"buscaSGAConsultor1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2656,272],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"bc0b0bb5-676d-4222-afc4-c8c523802a11","name":"nome","value":"={{ $json.body?.[0]?.nome }}","type":"string"},{"id":"f80ce4d2-d350-4337-9722-54bc9ac0b06a","name":"celular","value":"={{ $json.body?.[0]?.celular }}","type":"string"},{"id":"00eb2d22-b36e-459b-8636-26e1cb63b4cc","name":"email","value":"={{ $json.body?.[0]?.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,272],"id":"83f0287a-bb01-474e-8967-3750016c8d06","name":"dadosSGAVoluntario1"},{"parameters":{"assignments":{"assignments":[{"id":"f8784c67-1a85-46fe-b26f-0ff74c5b8e89","name":"nomeConsultor","value":"={{ $json.body?.[0]?.nome_voluntario }}","type":"string"},{"id":"5cd096f7-42f5-487f-b2b6-bdaa3bb1d67f","name":"codConsultor","value":"={{ $json.body?.[0]?.codigo_voluntario }}","type":"string"},{"id":"fd84eba9-32a4-49da-84f1-4e789174f9e5","name":"","value":"","type":"string"},{"id":"b2d4438d-bb9e-426f-8c55-db42ea225b9d","name":"tokenSGA","value":"={{ $('buscaTokenAtualizado').item.json['descricaoDominio'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2432,272],"id":"40cfa154-cd44-4b02-9a2f-b2d3e700f398","name":"setDadosRenovados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922fd02-2be5-4c74-a931-793d196e2285","leftValue":"={{'55'+ $node[\"dadosSGAVoluntario\"].json.celular.match( /\\d+/g ).join('')}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fde9495a-8799-4863-b157-ad7aed9ea8b5","leftValue":"={{'55'+ $node[\"dadosSGAVoluntario\"].json.celular.match( /\\d+/g ).join('')}}","rightValue":"()","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2432,-16],"id":"22a2bf54-2193-461c-957e-7091f52c7c5b","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"={{'55'+ $node[\"dadosSGAVoluntario\"].json.celular.match( /\\d+/g ).join('')}}","messageText":"={{ \n  'TopBrasil 🤖\\n\\n' +\n  'Olá ' + $node[\"dadosSGAVoluntario\"].json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + \n  ' , ocorreu um evento com um veículo de um associado da sua base.\\n\\n' + \n  'Evento: ' + $('whDados').item.json[\"motivo-atendimento\"] + '\\n\\n' + \n  'Protocolo: ' + $('whDados').item.json[\"protocolo-atendimento\"] + '\\n' + \n  'Data: ' + $('whDados').item.json[\"data-atendimento\"] + '\\n' +\n  'Atendente: ' + $('whDados').item.json[\"atendente\"] + '\\n\\n' +\n  'Placa: ' + $('whDados').item.json[\"placa\"] + '\\n' +\n  'Montadora: ' + $('whDados').item.json[\"montadora\"] + '\\n' +\n  'Modelo: ' + $('whDados').item.json[\"modelo\"] + '\\n' +\n  'Associado: ' + $('whDados').item.json[\"nomeBeneficiario\"] + '\\n' +\n  'Contato: ' + $('whDados').item.json[\"celularSolicitante\"]\n}}","options_message":{"delay":120000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2656,-112],"id":"f801be14-2ff4-408b-a13a-d68e94faad0e","name":"mensagemConsultor","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"553171882296","messageText":"={{ \n  'TopBrasil 🤖\\n\\n' +\n  'Voluntário: ' + $node[\"BUSCA_PLACA_SGA\"].json.nome_voluntario.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + \n  ', WhatsApp e Email não cadastrados no SGA.\\n\\n Gentileza atualizar com os mesmos dados do PowerCRM\\n\\n Automação Top'\n}}","options_message":{"delay":120000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2656,80],"id":"cccb6d9d-29b3-4293-a0a7-538d63bd4f79","name":"msgCadastroTOP","executeOnce":true,"credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e6d66287-919c-48ac-b875-02cd5db2090f","name":"URLEvolution","value":"https://zapi.topbrtech.com.br","type":"string"},{"id":"325528dd-e9e8-4217-9f37-5aa040777082","name":"InstanciaEvolution","value":"zap.top.cor","type":"string"},{"id":"ace97a2b-4e19-493a-b695-0478528dc100","name":"urlTypebot","value":"https://bot.topbrtech.com.br","type":"string"},{"id":"b1d8dc8b-9c88-4116-b81a-03e772bf1b95","name":"typebot","value":"top-br-avalia-o-google-xb4g5ru","type":"string"},{"id":"6343286e-7a22-4feb-88f2-dd7e9661c10e","name":"typebotAtendimento","value":"top-br-avalia-o-assitencia-24-h-vgctpbc","type":"string"}]},"options":{}},"id":"95ef4801-15cd-4a69-b479-3d5edb5679de","name":"Definir Variaveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-16]},{"parameters":{"method":"POST","url":"={{ $('Definir Variaveis').item.json.URLEvolution }}/typebot/start/{{ $('Definir Variaveis').item.json.InstanciaEvolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Definir Variaveis').item.json.urlTypebot }}\",\n  \"typebot\": \"{{ $('Definir Variaveis').item.json.typebot }}\",\n  \"remoteJid\": \"{{$('mensagemConsultor').item.json.data.key.remoteJid}}\",\n  \"startSession\": true,\n  \"variables\": [\n    {\n      \"name\": \"pushName\",\n      \"value\": \"{{$node[\"dadosSGAVoluntario\"].json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\"\n    }\n  ]\n}","options":{"redirect":{"redirect":{}}}},"id":"fd2b4b4a-543f-481b-b856-3aff66f563e6","name":"typebotAvaliaGoogle","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,-112],"credentials":{"httpHeaderAuth":{"id":"9zQ8EjeXwIRb1hsU","name":"apikey - evolution"}},"disabled":true},{"parameters":{"method":"POST","url":"={{ $('Definir Variaveis').item.json.URLEvolution }}/typebot/start/{{ $('Definir Variaveis').item.json.InstanciaEvolution }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $('Definir Variaveis').item.json.urlTypebot }}\",\n  \"typebot\": \"{{ $('Definir Variaveis').item.json.typebotAtendimento }}\",\n  \"remoteJid\": \"{{ $('verNumero').item.json.data[0].jid }}\",\n  \"startSession\": true,\n  \"variables\": [\n      {\"name\": \"pushName\",\n      \"value\": \"{{$node[\"whDados\"].json.nomeBeneficiario.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase())}}\" },\n      {\"name\": \"whatsApp\",\n      \"value\": \"{{ $('verNumero').item.json.data[0].jid }}\" },\n      {\"name\": \"placa\",\n      \"value\": \"{{$('whDados').item.json[\"placa\"]}}\"},\n      {\"name\": \"modelo\",\n      \"value\": \"{{$('whDados').item.json[\"modelo\"]}}\"},\n      {\"name\": \"tipoAtendimento\",\n      \"value\": \"{{$('whDados').item.json[\"motivo-atendimento\"]}}\"},\n      {\"name\": \"protocolo\",\n      \"value\": \"{{$('whDados').item.json[\"protocolo-atendimento\"]}}\"}\n  ]\n}","options":{"redirect":{"redirect":{}}}},"id":"9daf42cf-84ff-4121-84bc-00c54845e606","name":"typebotAvaliaAtendimento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-208],"credentials":{"httpHeaderAuth":{"id":"9zQ8EjeXwIRb1hsU","name":"apikey - evolution"}},"disabled":true,"notes":"{{'55'+ $node[\"dadosSGAVoluntario\"].json.celular.match( /\\d+/g ).join('')}}"},{"parameters":{"resource":"chat-api","instanceName":"zap.top.com","numbers":"={{'55'+ $node[\"whDados\"].json.celularSolicitante.match( /\\d+/g ).join('')}}@s.whatsapp.net"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1968,-208],"id":"dd54e537-8d5c-432b-95f4-30ddd3a6d9bc","name":"verNumero","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"={{ '55'+ $node[\"dadosSGAVoluntario1\"].json.celular.match( /\\d+/g ).join('') }}","messageText":"={{\n  'TopBrasil 🤖\\n\\n' +\n  'Olá ' + $node[\"dadosSGAVoluntario1\"].json.nome.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) + \n  ', ocorreu um evento com um veículo de um associado.\\n\\n' + \n  'Evento: ' + $('whDados').item.json[\"motivo-atendimento\"] + '\\n\\n' + \n  'Protocolo: ' + $('whDados').item.json[\"protocolo-atendimento\"] + '\\n' + \n  'Data: ' + $('whDados').item.json[\"data-atendimento\"] + '\\n' +\n  'Atendente: ' + $('whDados').item.json[\"atendente\"] + '\\n\\n' +\n  'Placa: ' + $('whDados').item.json[\"placa\"] + '\\n' +\n  'Montadora: ' + $('whDados').item.json[\"montadora\"] + '\\n' +\n  'Modelo: ' + $('whDados').item.json[\"modelo\"] + '\\n' +\n  'Associado: ' + $('whDados').item.json[\"nomeBeneficiario\"] + '\\n' +\n  'Contato: ' + $('whDados').item.json[\"celularSolicitante\"]\n}}","options_message":{"delay":120000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3104,272],"id":"5d5aa8ab-8b3f-41f5-bc30-6b5cf0d5ffbd","name":"mensagemConsultor1","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"5531992240123","messageText":"={{ \n  'TopBrasil 🤖\\n\\n' +\n  'Evento: ' + $('whDados').item.json[\"motivo-atendimento\"] + '\\n\\n' + \n  'Protocolo: ' + $('whDados').item.json[\"protocolo-atendimento\"] + '\\n' + \n  'Data: ' + $('whDados').item.json[\"data-atendimento\"] + '\\n' +\n  'Atendente: ' + $('whDados').item.json[\"atendente\"] + '\\n\\n' +\n  'Placa: ' + $('whDados').item.json[\"placa\"] + '\\n' +\n  'Montadora: ' + $('whDados').item.json[\"montadora\"] + '\\n' +\n  'Modelo: ' + $('whDados').item.json[\"modelo\"] + '\\n' +\n  'Associado: ' + $('whDados').item.json[\"nomeBeneficiario\"] + '\\n' +\n  'Contato: ' + $('whDados').item.json[\"celularSolicitante\"] + '\\n\\n' +\n  'Situação: ' + $('whDados').item.json[\"situacao\"]\n}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1088,-208],"id":"d5762b80-9229-4145-bf7d-9533e9309bbf","name":"mensagem2Gustavo","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"evo.top.cor","remoteJid":"5531971782997","messageText":"={{ \n  'TopBrasil 🤖\\n\\n' +\n  'Evento: ' + $('whDados').item.json[\"motivo-atendimento\"] + '\\n\\n' + \n  'Protocolo: ' + $('whDados').item.json[\"protocolo-atendimento\"] + '\\n' + \n  'Data: ' + $('whDados').item.json[\"data-atendimento\"] + '\\n' +\n  'Atendente: ' + $('whDados').item.json[\"atendente\"] + '\\n\\n' +\n  'Placa: ' + $('whDados').item.json[\"placa\"] + '\\n' +\n  'Montadora: ' + $('whDados').item.json[\"montadora\"] + '\\n' +\n  'Modelo: ' + $('whDados').item.json[\"modelo\"] + '\\n' +\n  'Associado: ' + $('whDados').item.json[\"nomeBeneficiario\"] + '\\n' +\n  'Contato: ' + $('whDados').item.json[\"celularSolicitante\"] + '\\n\\n' +\n  'Ult. Movimentação: ' + $('whDados').item.json[\"situacao\"]\n}}","options_message":{"delay":120000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1536,-208],"id":"a134ff80-96e7-4242-9e32-af3d66c76ab7","name":"mensagem2Fabricio","credentials":{"evolutionApi":{"id":"aemvzOqH8lEJq6Vc","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"https://api.ezchatbot.ai/run/9fea44ee-9020-4df4-8f12-becd94664159","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"95e4a384-da0a-49c0-afa0-733af7a9e3e0"},{"name":"sender","value":"webassist"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{  \n    \"protocolo-atendimento\": \"{{ $('Webhook').item.json.body['protocolo-atendimento'] }}\",\n    \"data-atendimento\": \"{{ $('Webhook').item.json.body['data-atendimento'] }}\",\n    \"servico\": \"{{ $('Webhook').item.json.body['motivo-atendimento'] }}\",\n    \"motivo-atendimento\": \"{{ $('Webhook').item.json.body['motivo-atendimento'] }}\",\n    \"placa\": \"{{ $('Webhook').item.json.body['placa'] }}\",\n    \"nome_cliente\": \"{{ $('Webhook').item.json.body['nomeBeneficiario'] }}\",\n    \"nomeBeneficiario\": \"{{ $('Webhook').item.json.body['nomeBeneficiario'] }}\",\n    \"celularSolicitante\": \"{{ $('Webhook').item.json.body['celularSolicitante'] }}\",\n    \"phone\": \"{{ $('Webhook').item.json.body['celularBeneficiario'] }}\",\n    \"celularBeneficiario\": \"{{ $('Webhook').item.json.body['celularBeneficiario'] }}\",\n    \"celularCliente\": \"{{ $('Webhook').item.json.body['celularCliente'] }}\",\n    \"nome_agente\": \"{{ $('Webhook').item.json.body['atendente'] }}\",\n    \"atendente\": \"{{ $('Webhook').item.json.body['atendente'] }}\",  \n    \"tipoDispario\": \"{{ $('Webhook').item.json.body['tipoDispario'] }}\",\n    \"situacao\": \"{{ $('Webhook').item.json.body['situacao'] }}\",\n    \"montadora\": \"{{ $('Webhook').item.json.body['montadora'] }}\",\n    \"modelo\": \"{{ $('Webhook').item.json.body['modelo'] }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,208],"id":"73917918-3ad4-4802-997c-ce95cd052484","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000,"maxTries":2,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/9fea44ee-9020-4df4-8f12-becd94664159","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"95e4a384-da0a-49c0-afa0-733af7a9e3e0"},{"name":"sender","value":"webassist"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"nome_cliente","value":"={{ $('Webhook').item.json.body['nomeBeneficiario'] }}"},{"name":"nome_agente","value":"={{ $('Webhook').item.json.body['atendente'] }}"},{"name":"placa","value":"={{ $('Webhook').item.json.body['placa'] }}"},{"name":"servico","value":"={{ $('Webhook').item.json.body['motivo-atendimento'] }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body['celularBeneficiario'] }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400],"id":"e33a981b-b846-4876-acec-e0efb4436ab1","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.ezchatbot.ai/run/9fea450e-cd63-4881-aabb-79fcfd9949e4","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"c396a57d-59a0-4fc9-bad2-2e422f4392a6"},{"name":"sender","value":"webassist"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"nome_cliente","value":"={{ $('Webhook').item.json.body['nomeBeneficiario'] }}"},{"name":"nome_agente","value":"={{ $('Webhook').item.json.body['atendente'] }}"},{"name":"placa","value":"={{ $('Webhook').item.json.body['placa'] }}"},{"name":"servico","value":"={{ $('Webhook').item.json.body['motivo-atendimento'] }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body['celularBeneficiario'] }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,592],"id":"15b5e7b8-54f6-45ad-8f99-17c711862c62","name":"HTTP Request2","disabled":true,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Definir Variaveis","type":"main","index":0}]]},"whDados":{"main":[[{"node":"situacaoAtendimento","type":"main","index":0}]]},"tipoAtendimento":{"main":[[{"node":"addColisao","type":"main","index":0}],[{"node":"addRoubo","type":"main","index":0}],[{"node":"addVidros","type":"main","index":0}]]},"situacaoAtendimento":{"main":[[{"node":"tipoAtendimento","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}],[{"node":"tipoAtendimento","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"addColisao":{"main":[[{"node":"setMensagem","type":"main","index":0}]]},"addRoubo":{"main":[[{"node":"setMensagem","type":"main","index":0}]]},"addVidros":{"main":[[{"node":"setMensagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"mensagem2Fabricio","type":"main","index":0}]]},"setMensagem":{"main":[[{"node":"mensagem2Gustavo","type":"main","index":0},{"node":"buscaToken","type":"main","index":0}]]},"BUSCA_PLACA_SGA":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"setDadosAtualizados","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"buscaTokenAtualizado","type":"main","index":0}]]},"buscaToken":{"main":[[{"node":"BUSCA_PLACA_SGA","type":"main","index":0}]]},"buscaTokenAtualizado":{"main":[[{"node":"BUSCA_PLACA_SGA_TK","type":"main","index":0}]]},"BUSCA_PLACA_SGA_TK":{"main":[[{"node":"setDadosRenovados","type":"main","index":0}]]},"setDadosAtualizados":{"main":[[{"node":"buscaSGAConsultor","type":"main","index":0}]]},"buscaSGAConsultor":{"main":[[{"node":"dadosSGAVoluntario","type":"main","index":0}]]},"dadosSGAVoluntario":{"main":[[{"node":"If1","type":"main","index":0}]]},"buscaSGAConsultor1":{"main":[[{"node":"dadosSGAVoluntario1","type":"main","index":0}]]},"dadosSGAVoluntario1":{"main":[[{"node":"mensagemConsultor1","type":"main","index":0}]]},"setDadosRenovados":{"main":[[{"node":"buscaSGAConsultor1","type":"main","index":0}]]},"If1":{"main":[[{"node":"mensagemConsultor","type":"main","index":0}],[{"node":"msgCadastroTOP","type":"main","index":0}]]},"mensagemConsultor":{"main":[[{"node":"typebotAvaliaGoogle","type":"main","index":0}]]},"Definir Variaveis":{"main":[[{"node":"whDados","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"verNumero","type":"main","index":0}]]},"verNumero":{"main":[[{"node":"typebotAvaliaAtendimento","type":"main","index":0}]]},"mensagem2Gustavo":{"main":[[{"node":"Wait","type":"main","index":0}]]},"mensagem2Fabricio":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f58b4c8-195f-496b-bb31-fae1e613cc0f","triggerCount":1,"shared":[{"createdAt":"2025-08-05T18:01:59.381Z","updatedAt":"2025-08-05T18:01:59.381Z","role":"workflow:owner","workflowId":"iaZykwt8a38A7Nbh","projectId":"Q1ZOyZgW3upjWPqV"}],"tags":[]}